[2022-05-17 22:59] kshyju commented on #572
Closing as answered.

[2022-05-17 22:59] #572 closed

[2022-05-17 23:50] kshyju commented on #80
@fabiocav  Is this still a valid issue? I do not see this type in the worker repo. Can we update the issue with relevant details if it is still valid?

[2022-05-17 23:53] kshyju commented on #69
@brettsam Is this still a valid case to address? @satvu is working on bringing back source gen for indexing.

[2022-05-18 00:02] kshyju commented on #109
We[ recently made changes](https://github.com/Azure/azure-functions-dotnet-worker/pull/841) to throw a more readable build error when the inproc SDK is referenced in an isolated project. Let us know if you still have questions.

[2022-05-18 00:09] kshyju commented on #383
@JamieMagee Are you still experiencing this issue? I believe this should be fixed by now.

[2022-05-18 02:41] CEbbinghaus opened #903 "No way to access the MethodInfo of function in Middleware"
When writing Middleware one of the most fundamental thing that almost every middleware will  want to do is check the function for its attributes so that the logic can be conditionally applied (e.g an Authorization attribute to mark a function as requiring Authorization).

After digging through the FunctionContext there seem to be no reference to the MethodInfo of the function being called leaving

[2022-05-18 07:22] bbieniek commented on #760
We have used this way: https://github.com/Azure/azure-functions-dotnet-worker/issues/822#issuecomment-1088012705
and it seems to work fine

[2022-05-18 18:09] brettsam commented on #69
We punted source generators -- this was originally created for our initial preview so going to close this. The effort to bring back source generators will include a fallback.

[2022-05-18 18:09] #69 closed

[2022-05-18 18:26] fabiocav commented on #879
@justinmchase unfortunately, today, this is not something that is supported. There isn't a mechanism that would enable you to change the format to what you've described, principally for trigger and binding configuration, as they're read by the host.

Closing this as there isn't anything planned to address this at the moment, but please let us know if you have any additional questions.

[2022-05-18 18:26] #879 closed

[2022-05-18 18:35] fabiocav commented on #884
Unfortunately, this is indeed a limitation of the current OOP model (impacting all workers). We have work in progress to change this behavior (in early stages, so no ETA at this point).

We'll keep this open and associate the issue with that effort.

[2022-05-18 18:43] fabiocav commented on #895
@Manthazar you haven't missed anything, this is indeed the current behavior of the worker.

One alternative we'd recommend exploring is to enable Application Insights in the worker. You can find more information in this issue: https://github.com/Azure/azure-functions-dotnet-worker/issues/822

Closing this as answered as we already have other issues tracking this, but please let us know if you have

[2022-05-18 18:43] #895 closed

[2022-05-18 18:49] fabiocav commented on #898
This makes sense. We do have plans to expose different binders that would enable you to bind to types/data coming from scoped services and invocation context, which I believe would meet your requirement.

[2022-05-18 19:02] fabiocav commented on #900
Thanks @maartenba . We'll address this and ensure the message flows through in those cases.

One thing I wanted to share, if you're reading that information from a debugger, is that we may have an easier/more structured way (JSON Lines) to write the PID to be consumed by tools (which is what VS uses).

In order to use that, you can either set the environment variable `FUNCTIONS_ENABLE_JSON_OUTPUT`

[2022-05-18 19:39] maartenba commented on #900
Tried those too, and alas, no success there either. Thanks for looking into it!

[2022-05-18 20:08] fabiocav commented on #876
Assigning this to 123 to update the sample while we investigate the issue with the trigger

[2022-05-18 21:27] alrod opened #906 "ServiceBus batch does not work for isolated worker extension."
An example needed if it's supported.
Based on:
https://github.com/Azure/azure-functions-servicebus-extension/issues/15#issuecomment-1129404763

[2022-05-18 22:11] justinmchase commented on #879
Is there a way for me to programatically define the triggers other than through hard-coded attributes?

I see in other apps there is a `function.json` which doesn't seem to work for C#, is there a way I can essentially build my own bindings programmatically at startup?

[2022-05-19 05:16] tsukashusan commented on #821
I too had the same problem.
However, I solved this problem by setting the Platform setting to 64-bit.
When Functions are created in Azure portal, they seem to be set to 32-bit by default.

<img width="634" alt="image" src="https://user-images.githubusercontent.com/25189375/169214165-0fe38853-243d-42db-a71d-7c31291e1faf.png">

[2022-05-19 06:49] Privarozenbeek commented on #876
Hi @fabiocav I'm a colleague of @wesselkranenborg is and know the issue at hand. We are using the following packages for our eventhub triggers:
`    <PackageReference Include="Microsoft.Azure.Functions.Worker.Extensions.EventHubs" Version="5.0.0-beta.6" />
    <PackageReference Include="Microsoft.Azure.Functions.Worker.Sdk" Version="1.3.0" OutputItemType="Analyzer" />
    <PackageReference Include

[2022-05-19 07:01] sholman opened #907 "The SendGrid return binding does nothing"
I have setup a function that uses the return SendGrid Attribute and have added my API key and am returning a SendGridMessage from my function, but no email is ever sent and no error is shown.

Example Function

[code]

[2022-05-19 07:38] Privarozenbeek commented on #876
Hi @fabiocav I'm a colleague of @wesselkranenborg. Know the issue at hand pretty well,  I can also answer the question about the used packages and their version:

`    <PackageReference Include="Microsoft.Azure.Functions.Worker.Extensions.EventHubs" Version="5.0.0-beta.6" />
    <PackageReference Include="Microsoft.Azure.Functions.Worker.Sdk" Version="1.3.0" OutputItemType="Analyzer" />
    <Packa

[2022-05-19 16:44] #404 closed

[2022-05-19 22:02] sholman commented on #907
Yes, as per my message above, the code is running and returning a SendGridMessage but nothing is being sent.

[2022-05-20 01:05] kshyju commented on #901
Where is the parsing failing? In your function code? Can you share your code which fails?

The [ToString()](https://docs.microsoft.com/en-us/dotnet/api/system.datetime.tostring?view=net-6.0#system-datetime-tostring) method of DateTime uses the current culture. Can you point me to the documentation of `WEBSITE_TIME_ZONE` setting/env variable usage, you were following which indicates that the time z

[2022-05-20 01:37] Kyelin25 opened #908 "Repeated Failure to Start DOTNET-ISOLATED|6.0 Function"
Hi,

My Linux-hosted DOTNET-ISOLATED|6.0 triggered function is constantly restarting and will not run. I've checked the logs of various containers and have several interesting-looking yet ultimately useless exceptions and warnings.

These all repeat roughly every 5 minutes.

# In the function's host logs
`2022-05-20T01:11:37.977 [Error] Failed to start a new language worker for runtime: dotnet-iso

[2022-05-20 01:40] kshyju commented on #907
What is this `SendGrid` attribute? Where is it coming from? For the isolated model, you should use the [SendGridOutput ](https://github.com/Azure/azure-functions-dotnet-worker/blob/main/extensions/Worker.Extensions.SendGrid/src/SendGridAttribute.cs#L12)attribute.

Due to the issue mentioned [here](https://github.com/Azure/azure-functions-dotnet-worker/issues/737), you cannot return an instance of

[2022-05-20 01:49] Kyelin25 commented on #908
Closing this as I finally determined the issue (entirely my own fault and specific to my application), although the logs were of no help, so I would be interested in any pointers towards better methods for doing so.

[2022-05-20 01:49] #908 closed

[2022-05-20 02:30] sholman commented on #907
Ok, thanks. I couldn't find where the SendGridOutput was referenced from.

I had Microsoft.Azure.Functions.Worker in my usings but it said it couldn't find that attribute which is what threw me.

I have switched back to the in-proc functions for this now and got it working immediately.

[2022-05-20 07:13] wesselkranenborg commented on #876
@fabiocav I was a few days on leave but my colleague already responded. Am curious about the issue with the trigger. Do you have an issue Id from that or is that tracked with this issue?

Thanks @Privarozenbeek.

[2022-05-20 07:24] wesselkranenborg commented on #821
We use this setting in our ARM template, so with us it didn't solve the problem.

<img width="278" alt="image" src="https://user-images.githubusercontent.com/4964604/169475538-741048dc-662f-4685-bff0-a1b43d718c92.png">

[2022-05-20 15:46] kshyju commented on #907
For isolated functions, you need to add a package reference to [Microsoft.Azure.Functions.Worker.Extensions.SendGrid](https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker.Extensions.SendGrid/). The `SendGridOutput` attribute is defined in this package.

[2022-05-20 23:38] kshyju commented on #870
#192 might be a dupe of this.

[2022-05-23 07:30] DavidJFowler commented on #863
Any news on when Microsoft.Azure.Functions.Worker.Extensions.CosmosDB will move out of preview?

[2022-05-23 10:24] drmathias opened #909 "Isolated process timer function incorrectly triggering with IsPastDue"
One of our timer functions is on a schedule to trigger every 4 hours, at the beginning of the hour `0 0 */4 * * *`. For example, it is scheduled to trigger at 00:00 then at 04:00. In reality, it is triggering twice every time, at 00:00 then around 00:01, and at 04:00 then around 04:01.

When monitoring the function on Azure, it shows the function as failing because of `Microsoft.Azure.WebJobs.Host

[2022-05-23 16:49] svengrav commented on #903
I guess @kshyju 🦄 was already working on this topic, but it seems to be stale now ([branch](https://github.com/Azure/azure-functions-dotnet-worker/tree/shkr/change-response-in-middleware)). I also would like to implement the authorization as part of the middleware, and that's why I followed his progress on that branch. An "official" solution would be great 😊.

There are already many requests for t

[2022-05-23 19:18] OneThatWalks commented on #866
Having this issue as well, also tried via docker

Preface: My company is moving towards the .NET 6 LTS and making sure we are using the out-of-process model as it seems that will be the way of things here soon.  So this is our first Function app migration to .NET 6 and out-of-process since .NET Core 3.1 with in-process model (using func v3).

The setup here was using VS 2022 Enterprise, selected t

[2022-05-24 18:16] kshyju commented on #906
@alrod @nzthiago

I investigated this issue on the isolated worker side and found that the language worker is receiving multiple invocation requests from host instead of a single (batched) one. For example, If I send 5 messages to my service bus queue, I get 5 invocation requests (each with unique invocationId value) in the language worker GRPC message receiving layer.

Here is the sample code I u

[2022-05-24 18:25] kshyju commented on #906
_Please ignore my previous reply(deleted now to avoid confusion for future readers)_

I tested this on the isolated worker and found it to be working fine. Here is the function code I used to verify.

[code]
and the host.json

[code]

![image](https://user-images.githubusercontent.com/144469/170105600-a15506b5-c5db-48b4-9c3c-4d6e649b2cb0.png)

[2022-05-24 21:14] CezaryKlus opened #910 "Error "Invalid character in extension attribute name: ..." in Microsoft.Azure.Functions.Worker.Extensions.EventGrid version 3.2.0"
I've just updated the package from 2.1.0 to 3.2.0 and experiencing following error on EventGridOutput

```System.Private.CoreLib: Exception while executing function: Functions.HandleCreateCollectionStorage. Microsoft.Azure.WebJobs.Host: Error while handling parameter _binder after function returned:. Azure.Core: Invalid character in extension attribute name: 'I'. CloudEvent attribute names must co

[2022-05-24 21:33] willyt150 opened #911 "When is GA scheduled for v5 Microsoft.Azure.Functions.Worker.Extensions.ServiceBus nuget package?"
Hello,

Would you be able to point me to/let me know what the planned schedule is for a GA release of the v5 Microsoft.Azure.Functions.Worker.Extensions.ServiceBus nuget package is planned? It's been 7 months since beta.6 was released and we're really really liking the ability to trigger our azure functions off the service bus while using the managed identity and not a connection string.

Thanks!

[2022-05-24 22:47] kshyju commented on #911
@willyt150 We published 5.4.0 version with the latest bits and is now available in the nuget gallery. Please give it a try and provide feedback if you have any.

https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker.Extensions.ServiceBus/5.4.0

These worker extension releases are aligned with the webjobs version of the package. Please check the [azure-sdk-for-net repo for the release det

[2022-05-25 00:03] willyt150 commented on #911
Thanks @kshyju will definitely take a look.

Sorry I'm still confused on the release alignment. The link you provided shows that the WebJobs version of the package had a GA release back 10/26/21 and then before that a pre-release in 3/23/21, does that mean that we should expect only GA releases of the package around October each year and a pre-release around March?

[2022-05-25 04:00] #383 closed

[2022-05-25 04:00] #109 closed

[2022-05-25 18:07] fabiocav commented on #872
@justinmchase indeed, as mentioned in the other issue, this is a broader limitation (beyond just the worker) and other components do have a dependency on those configuration settings. Closing this as answered at this point, as there are no current plans to change this behavior, but please let us know if you have any additional questions.

Thanks!

[2022-05-25 18:07] #872 closed

[2022-05-25 18:15] fabiocav commented on #906
@alrod / @nzthiago closing this as this has now been validated and works as expected. Please let us know if you have any additional questions.

[2022-05-25 18:15] #906 closed

[2022-05-25 18:23] fabiocav commented on #909
@drmathias this looks like an issue related to the host and timer behavior, looking at the application information here would help. We should be able to locate your app with the information you've shared, but the "diagnose and solve problems" functionality in the portal would also give you access to timer troubleshooting detectors. Have you had a chance to look at that?

[2022-05-25 18:30] fabiocav commented on #910
@CezaryKlus to validate that this is not part of the expected behavior, can you please share a repro (basic code and the payload used) so we can take a closer look at understand if there's an issue with the way the worker is providing the metadata to the extension?

/cc @JoshLove-msft

[2022-05-25 18:33] fabiocav commented on #911
@willyt150 you're correct that today, some of those extension updates are lagging behind, but this is something we're actively working on addressing with the teams who own the various extensions.

[2022-05-25 18:40] fabiocav commented on #80
This essentially covers the same things as issue #854

Closing this in favor of the linked issue.

[2022-05-25 18:40] #80 closed

[2022-05-25 18:48] JoshLove-msft commented on #910
+1 to including a full repro, but I think what may be happening here is that the the event fails to be parsed as an EventGridEvent, so then we attempt CloudEvent as a fallback. I think this may be due to the fact that the parsing expects camel cased properties where your custom type is Pascal cased. Would you mind testing out changing to use camel-cased properties? This is still something that we

[2022-05-25 19:15] drmathias commented on #909
I've looked at that and the recommendations are all things that we've tried.

We did change the execution time of our function that was succeeding, to be staggered 30 mins before and after the one that is failing, which has resolved the issue of the second execution with `IsPastDue`. There is no documentation I have come across which suggests that two separate timer functions under the same functi

[2022-05-26 08:01] oatsoda commented on #760
This is really starting to become very problematic, to the point we're considering ditching Application Insights and using something else.

We're in a situation where we cannot investigate/analyse live data.

Running .net 6 in Isolated Process functions.

These are the things causing problems:

- Auto dependency tracking not working: https://github.com/Azure/azure-functions-dotnet-worker/issues/61

[2022-05-27 01:10] madelinegordon opened #912 "Change RpcException message for user code exception scenarios"
For scenarios in which user code throws an exception, set the fields added [here ](https://github.com/Azure/azure-functions-language-worker-protobuf/pull/70/files) on the RpcException message to facilitate propagating user exception details to app insights.

Part of work to fix [#4296](https://github.com/Azure/azure-functions-host/issues/4296)

[2022-05-27 07:00] #901 closed

[2022-05-27 07:19] fabio-marini opened #913 "Function with Service Bus dependency hangs"
- Visual Studio Professional 2022 (Version 17.2.2)
- .NET 6 Isolated Function App project (C#)

![image](https://user-images.githubusercontent.com/10209472/170648456-adfb1747-0696-4038-b1e5-29a1dcdd62c8.png)

You can see in the screenshot above that the vanilla `Function1` completes as expected.

However, `Function2`, which has a dependency on the `Azure.Messaging.ServiceBus` package, hangs, i.e.:

[2022-05-27 07:50] DavidJFowler commented on #769
@fabiocav Any updates on this?

[2022-05-27 13:22] debasish-das-it opened #914 "Activity.Current null in isolated Azure Function v4 in .NET 6"
Activity.Current appears null in isolated Azure Function v4 in .NET 6. can some one help me to fix this issue.

**Following my project .csproj content.**
`<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <TargetFramework>net6.0</TargetFramework>
    <AzureFunctionsVersion>v4</AzureFunctionsVersion>
    <OutputType>Exe</OutputType>
    <ImplicitUsings>enable</ImplicitUsings>
    <Nullable>en

[2022-05-27 14:08] galadril commented on #366
Any news on this topic?

[2022-05-27 17:10] kshyju commented on #913
@fabio-marini Thanks for reporting. This issue is same as #833

The `ServiceBusClient` class (_in [version 7.8.1](https://www.nuget.org/packages/Azure.Messaging.ServiceBus/7.8.1)_) does not implement `IDisposable`, [but IAsyncDisposable](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/servicebus/Azure.Messaging.ServiceBus/src/Client/ServiceBusClient.cs#L20).  So [this line](https://github

[2022-05-27 19:00] #907 closed

[2022-05-28 12:53] rodchenkov commented on #851
Hi @kshyju and thank you, now all is working.

[2022-05-29 00:03] lohithgn commented on #281
@fabiocav  would appreciate any update on this front. please let us know where this heading ?

[2022-05-29 12:32] sebhaub commented on #619
hi @hagagps and thanks for your post, anyway i have some issues getting this to work.

Based on the post here [822#issuecomment](https://github.com/Azure/azure-functions-dotnet-worker/issues/822#issuecomment-1088012705) iadded the ApplicationInsightsTelemetryWorkerService and enabled the legacy correlationHeaders, with this i see the dependencies in appinsights but still miss the correlation, so i

[2022-05-30 06:34] BenjaBobs commented on #274
@brettsam Any news on this?
My team made use of the singleton attribute, and it not working in out-of-proc mode is what is holding us back from upgrading.

[2022-05-30 06:35] BenjaBobs commented on #735
Any news on this?
My team made use of the singleton attribute, and it not working in out-of-proc mode is what is holding us back from upgrading.

[2022-05-30 08:46] NeilMacMullen commented on #760
I've just spent 3.5 months going round in circles with customer support on this only to finally discover app-insight dependencies are "not supported" for isolated functions  :-( Could we at least get the documentation improved to make it obvious this is a limitation?

[2022-05-31 01:00] #866 closed

[2022-06-01 18:41] fabiocav commented on #913
@fabio-marini as this has the same root cause as the issue @kshyju mentioned above, we'll close this and continue to track updates in the other. Please let us know if you have any additional questions.

[2022-06-01 18:41] #913 closed

[2022-06-01 18:45] fabiocav commented on #914
This should be addressed.

Notes for the logic:
- If the trace context passed into the worker is populated with a parent ID, we should reuse that ID for the activity.
- Otherwise; an activity should be created using the invocation ID.

[2022-06-01 20:24] fabiocav commented on #909
@drmathias given the fact this is impacting your application, do you have the option to engage support for immediate assistance? Otherwise, we might not have the ability to assign this to an engineer for investigation until ww go through sprint planning (and the SLA there will also not be the same).

If you can also share a repro, that would be helpful.

Thanks!

[2022-06-01 20:35] #870 closed

[2022-06-01 20:35] surgupta-msft commented on #192
Host will send a [WorkerTerminate](https://github.com/Azure/azure-functions-language-worker-protobuf/blob/58b3dc0dbde065b15bd979bd2e27f36b7ee6273e/src/proto/FunctionRpc.proto#L39) message to worker to allow the worker to terminate itself gracefully instead of immediately killing it. Worker to act on this signal and send Success response to Host.

Related issue on Host side - https://github.com/Azu

[2022-06-02 01:00] #910 closed

[2022-06-02 09:25] debasish-das-it commented on #914
@[fabiocav](https://github.com/fabiocav) Not sure how to achieve that.

[2022-06-02 12:11] mahesh-maximus commented on #821
I changed the `"use32BitWorkerProcess": false` , but still seeing the error "WorkerConfig for runtime: dotnet-isolated not found" after each deployment.

This error throws from below code in the [azure-functions-host](https://github.com/Azure/azure-functions-host/blob/2360468596d0c6fb0e79b2315ec6b889dcefe38e/src/WebJobs.Script/Workers/Rpc/FunctionRegistration/RpcFunctionInvocationDispatcher.cs#L25

[2022-06-02 14:21] mahesh-maximus commented on #821
@kshyju i do the deployment using the azure pipeline and it is successful, i think this issue is happening just after the deployment

[2022-06-03 12:33] pklejnowski opened #916 "dotnet-isolated every exception is shown as RpcException in Application Insights"

[2022-06-03 13:50] SeanFeldman commented on #760
Many have already started the obvious - for a GA-ed product this SDK is in a poor state. With serverless that is hosted and managed by Azure, logging and telemetry is a vital tool for troubleshooting. Without it functioning properly clients are running with blinders on. Detailed documentation, functioning Appinsights integration, and fixed related issues should keep the team up at night. Untill th

[2022-06-04 13:43] justinmchase commented on #872
My only additional question is if there is a different way of binding functions dynamically other than via statically compiled attributes?

It would be awfully nice to have a service I could implement which simply resolved the configuration settings how I need them then defined the bindings as the process starts up. Is there any such api?

[2022-06-07 04:40] debasish-das-it commented on #914
Any Update on this?

[2022-06-07 10:31] stukalin commented on #910
Having the same issue.

[2022-06-07 14:51] cmeyertons opened #917 "Make common services available to function method injectable into Function constructor (ILogger, DurableClientContext, etc.)"
We generally have multiple functions set up to invoke the same orchestration (Scheduled, Http, etc.)  and use private methods to encapsulate the shared logic (this might be pretty common?)

This leads to duplicative verbosity of injecting the DurableClientContext in each sub-method.  It would be a nice QOL improvement if the DurableClientContext could be injected at the constructor level.

This mi

[2022-06-08 08:50] #693 closed

[2022-06-08 09:45] stukalin commented on #910
@JoshLove-msft you were right - the reason was that we had Pascal cased property names. Once renamed (or provided with `JsonProperyName` attributes) the issue is fixed. So, your minimum repro example might look like this

[code]
It should reference the `Microsoft.Azure.Functions.Worker.Extensions.EventGrid` v3.2.0 nuget package
Uncomment the `JsonPropertyName` in order to make it work correctly.

[2022-06-08 13:45] jihadkhawaja commented on #374
Same here, using .NET 6 minimal API, It works on postman when using params query but not with Json raw body.

![image](https://user-images.githubusercontent.com/47315122/172631641-5cc41dfe-6c0b-4988-be6c-0b0b49c7fe47.png)
![image](https://user-images.githubusercontent.com/47315122/172631881-3037b2fe-786d-4e88-8dd3-6bed76eb9e51.png)

Client side:
![image](https://user-images.githubusercontent.com/4

[2022-06-08 18:15] mattchenderson commented on #917
It should be possible to do constructor injection with any of the DI services provided by Functions today. ILogger can be done, but it requires the generic: `ILogger<T>`

Can you confirm that this works for you for ILogger?

What isn't supported today is binding parameters coming from extensions, such as DurableClientContext. These are not DI services.

We'll treat this as a feature request for en

[2022-06-08 18:18] mattchenderson commented on #916
Duplicate of #912

[2022-06-08 18:19] mattchenderson commented on #916
This is something we are actively working on, and it is tracked by the issue above.

[2022-06-08 20:10] fabiocav commented on #900
@maartenba we're making some changes in other components to address how this is handled and expect the change to be in place in the sprint starting today (done within two weeks). We can provide information on how to validate this once the change is in.

[2022-06-08 22:01] #909 closed

[2022-06-09 05:23] cmeyertons commented on #423
Is there a plan forward with this item?

@brettsam @fabiocav it doesn’t seem to be mentioned as much as the other App Insights issues, etc. and seems to have been lost in the ether :/

[2022-06-09 10:30] getsetcode commented on #914
We have the same problem here. `CosmosDbTrigger` and trying to write telemetry using `TelemetryClient`. By default any custom events or exceptions we're writing don't have operation context, and we can't add explicitly because in the code `Activity.Current` is null. Currently exploring work-around by wrapping the function code in a `new System.Diagnostics.Activity`, but it'd be good to know the co

[2022-06-09 14:11] victormarante opened #919 "Middleware HTTP sample uses un-released extension methods"
The following sample link, showing how to implement a HTTP header middleware, uses extension methods not yet released in NuGet packages.

[Sample file](https://github.com/Azure/azure-functions-dotnet-worker/blob/main/samples/CustomMiddleware/StampHttpHeaderMiddleware.cs)

[Extension methods](https://github.com/Azure/azure-functions-dotnet-worker/blob/main/src/DotNetWorker.Core/Context/FunctionCont

[2022-06-09 15:10] victormarante commented on #919
Perhaps my mistake. The merged PR that includes the needed code for the sample is present on the same branch, going to the tag 1.6.0 for instance, does not have it. So I will close this issue, sorry for the trouble.

[2022-06-09 19:01] liliankasem opened #920 "Populate WorkerMetadata in WorkerInitResponse message"
The protobuf has been updated to include a `WorkerMetadata` property within the `WorkerInitResponse` message. The worker should include `WorkerMetadata` when sending the `WorkerInitResponse` to the host.

[PR](https://github.com/Azure/azure-functions-language-worker-protobuf/pull/76) for reference on how to fill in the fields.

You will need to pull in the latest protobuf version first (this [doc]

[2022-06-09 19:43] SeanFeldman commented on #919
@victormarante I think you should re-open this issue.

The documentation is for the stable releases unless noted otherwise. The latest stable in [1.6.0](https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker/1.6.0). It doesn't contain the extensions. This issue should be closed when either a stable version with the extensions is out or the documentation is updated to eliminate the confusi

[2022-06-09 21:55] #677 closed

[2022-06-10 04:23] RohitRanjanMS commented on #914
@debasish-das-it you can start an activity by using the traceparent form the context.

string traceparent = <get the traceparent from TraceContext.Attributes>
            Activity activity = activitySource.StartActivity("your activity", ActivityKind.Internal, traceparent);

[2022-06-10 08:21] victormarante commented on #919
Re-opening based on @SeanFeldman comment.

[2022-06-10 08:23] victormarante commented on #919
I will re-open, and @fabiocav can way in. I don't know the process/how these things should work in reality. Should the main-branch documentation always be applicable to the latest, stable release?

[2022-06-10 23:33] HMoen opened #923 "Retry policies for isolated (out-of-process) function apps soon deprecated?"
@kshyju answer below works at the moment, but now we recently started to see the following trace in AppInsights:
"Soon retries will not be supported for function '[Function Name]'. For more information, please visit http://aka.ms/func-retry-policies."

The Retry examples section of https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-error-pages?tabs=fixed-delay%2Cisolated-pro

[2022-06-13 21:15] source-studio commented on #404
@mattchenderson - may I ask when the expected GA is for `Microsoft.Azure.Functions.Worker.Extensions.Tables`?

[2022-06-13 22:53] cloudmelon commented on #823
Adding tracking item for support .NET 7 in isolated mode:

1. Feed
2. Templates
3. Image prep
4. Backend dependencies
5. Testing

Ongoing :
- Visual Studio
- VS Code
- Core tools
- CSS
- Perf

[2022-06-13 23:15] cloudmelon opened #924 ".NET Framework 4.8 isolated - GA"
Shipping list for .NET Framework 4.8 with Isolated worker tracking :

- Templates - Visual Studio - UI experience
- Debugger - blocking issue

Other related work :
Update templates for isolated Azure functions  .NET framework 4.8
https://github.com/Azure/azure-functions-templates/issues/1225

CC. @fabiocav @mattchenderson

[2022-06-14 01:07] cloudmelon opened #926 ".NET 7 support Stack API"
This item is a child Item of .NET 7 support  for Azure functions,

Create a function app from the Azure portal,  choose runtime combo :

- .NET 7 isolated

The proper issue will be opened against the UX repo once we have confirmation that VS Code is using the UX endpoint. Keeping this open as a placeholder.

Sample PR with the required changes: https://github.com/Azure/azure-functions-ux/pull/6310

[2022-06-14 01:36] cloudmelon opened #927 "Stack API issue + worker not found"
By default, creating a .NET 6 Azure function is in-process.  There's no option today for .NET 6 isolated process. If we switch that to isolated manually by editing the ARM template. After the function app is deployed,  there's a 'worker not found' in portal as shown the following :

![image](https://user-images.githubusercontent.com/4621560/173473947-d41e3bd8-0ad9-4f91-a069-54f9dee28b35.png)

This

[2022-06-14 10:57] debasish-das-it commented on #914
@getsetcode. can you please share the working approach code.

[2022-06-14 16:41] cloudmelon opened #928 "Isolated support - Static Web Apps dependencies"
This work item tracks related work to support .NET 7 for Static Web Apps :

•	Ensure StaticSiteClient and Content Dist can pass the metadata to Static Web Apps
•	Enable .NET 7 isolated function apps in Static Web Apps
•	End-to-end testing to make sure it's customer-ready

Related work :
1. .NET 7 support for Azure functions ( https://github.com/Azure/azure-functions-dotnet-worker/issues/823 )

[2022-06-14 18:10] #113 closed

[2022-06-14 22:11] kshyju commented on #876
Thank you @wesselkranenborg  @Privarozenbeek

Update from the investigation so far:

 * For out-of-process functions, The GRPC payload received in the worker from the host is missing the message entry which has null/empty string as value.  The meta properties for the missing entry is still present in the TriggerMetaData property of the InvocationRequest instance received.
 * We get the correct dat

[2022-06-15 00:10] kshyju commented on #927
Related issue: [Host throws for .NET Isolated app if no payload deployed](https://github.com/Azure/azure-functions-host/issues/8311)

[2022-06-15 00:51] savagemonitor opened #929 "Unable to bind HTTP JSON body for CosmosDB input query"
Hello,

I'm trying to write an isolated C# function that looks something like this:

[code]

[code]

In this case the request will contain a JSON body that looks something like this:

[code]

With Name being a unique ID and IsAvailable being a value I wish to set on the CosmosDB document.

However, I am unable to figure out the bindings to make this work and [the only documentation exists for In-P

[2022-06-15 06:45] mrhub commented on #796
Still an issue for me.
I have added the
`"Azure.Core": "Error"`
in my host.json, updated to the latest packages.

[2022-06-15 14:08] SeanFeldman commented on #796
@liliankasem yes, it is. I had to resolve to excluding Azure.Core for anything other than Error level to bring Azure bill to a sane level.

[2022-06-15 15:52] ggailey777 commented on #929
+1 that our reference samples are missing examples of Azure Cosmos DB Input binding for isolated process: https://github.com/Azure/azure-functions-dotnet-worker/blob/main/samples/Extensions/CosmosDB/CosmosDBFunction.cs

[2022-06-15 16:48] #192 closed

[2022-06-15 17:16] surgupta-msft opened #930 "Refactor GRPCWorker if-else ladder"
There is a big if-else ladder in GRPCWorker which can be refactored into a neat switch statement (or we can discuss approaches here if needed).

https://github.com/Azure/azure-functions-dotnet-worker/blob/c522e7be238b5cc716f732f1ea8be3a857c742b3/src/DotNetWorker.Grpc/GrpcWorker.cs#L130-L145

[2022-06-15 17:37] liliankasem commented on #796
It looks like the fix still hasn't been released yet and should be in the next host version (4.7.0) - will keep the issue open to make sure the next release has the fix

[2022-06-15 17:47] SeanFeldman commented on #796
Appreciate the update, @liliankasem. Note that this issue will cause clients with large deployments an excessive charge due to the exponentially large amount of logs shipped to AppInsights. While not something to address on this issue, the Functions team should consider how to avoid this sort of issue in the future. Or, alternatively, provide a way to alert and notify customers.

[2022-06-15 18:15] satvu commented on #924
Dupe of https://github.com/Azure/azure-functions-host/issues/8245

[2022-06-15 18:15] #924 closed

[2022-06-15 22:33] liliankasem commented on #920
Latest proto version is now [v1.5.8](https://github.com/Azure/azure-functions-language-worker-protobuf/releases/tag/v1.5.8-protofile)

[2022-06-15 23:24] kshyju commented on #930
FWIW, There is no perf degradation by switching to switch statement or switch expression. [See the result ](https://gist.github.com/kshyju/d099eacc1dc1558c4382b6afd186d2bb)of a benchmark between the three.

VS also has a quick action which offers converting the **_if else_** block to switch statements or switch expression.

[2022-06-16 04:50] benjamin-brady commented on #525
The documentation for in-process dotnet functions is missing an example for processing binary messages. The Azure documentation should have an example of a `byte[][]` parameter example on this page:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-hubs-trigger?tabs=isolated-process%2Cfunctionsv2%2Cextensionv5&pivots=programming-language-csharp#example

[2022-06-16 16:09] kedzior-io opened #931 "Configuration per out-of-process functions"
We are running out-of-process functions and have retry strategy set in `host.json`  as corresponding attribute configuration doesn't work for out-of-process functions. Like this one: `[ExponentialBackoffRetry(5, "00:00:04", "00:15:00")]`

Is there a way to exclude the retry strategy for certain functions?

... or I simply need to move all those functions to a different function app with separate `

[2022-06-16 18:37] victormarante commented on #930
Hi, I can with this issue if it's ok.

[2022-06-16 22:16] kshyju commented on #930
Go for it @victormarante

[2022-06-17 11:35] victormarante commented on #929
I am trying to wrap my head around what exactly you are after:

Are you asking for a way to make the input request body of the HttpTrigger, available (as the deserialized object), as input parameter(s) for the Cosmos DB SQL query?

I don't think this can be solved with solely triggers/binding as of today. But perhaps this PR (not released as of today), could help. You could certainly build a middl

[2022-06-17 12:54] victormarante commented on #931
Related to #923

[2022-06-17 12:57] marios-siatis commented on #760
Hey guys I have a workaround for structured logging by using serilog, to replace the existing ms logger.
I think is clean as I only need to modify the startup of the application.

https://medium.com/@marios.shiatis/addressing-the-structured-logging-application-insights-issues-in-azure-functions-v4-net-6-0-f1f63b99807d

[2022-06-17 13:18] kedzior-io commented on #931
Looks like I need to separate functions to a different function app with separate `host.json` for which I don't want the retry policy for. That's if I want to keep all my functions isolated.

[2022-06-17 13:18] #931 closed

[2022-06-17 13:19] victormarante commented on #931
I think that is the only solution for now. Would perhaps work with some middleware, depending if we expose that behaviour.

[2022-06-17 15:41] Tinathnath commented on #760
It could ! I'll give it a try

[2022-06-17 16:49] savagemonitor commented on #929
@victormarante there's no link to the PR you're talking about.

That could be one solution as per [this](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-expressions-patterns#json-payloads).  I'd also be happy with any of the solutions that give me a DocumentClient or CosmosClient equivalent like the In-Process functions can.  Middleware and dependency injection, while pos

[2022-06-17 20:02] fabiocav opened #935 "Update SDK for .NET 7 support"
Issue tracking the work to enable .NET 7 support in the SDK, including proper tooling suffix resolution.

[2022-06-18 20:04] WestDiscGolf commented on #929
I've been looking at this recently as well and came across the same issues. I was trying to use the in process model examples as a potential guide but was unsuccessful in the isolated process - https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-cosmosdb-v2-input?tabs=in-process%2Cfunctionsv2&pivots=programming-language-csharp#http-trigger-look-up-id-from-route-data-using-sql

[2022-06-21 13:23] Alan-Hinton opened #936 "Exception handling middleware example not behaving as expected"
I have copied the exception handling sample from here https://github.com/Azure/azure-functions-dotnet-worker/blob/main/samples/CustomMiddleware/ExceptionHandlingMiddleware.cs however the result I get it not as I would expect.  I am getting the whole HttpResponse object back as json in the body of the response. The actual data I pass in to `WriteAsJsonAsync` is appearing Base64 encoded in the `body

[2022-06-21 13:46] kshyju commented on #936
Hi @Alan-Hinton

The `HttpRequestData.CreateResponse` method creates an instance of `HttpResponseData` with the default status code, which is 200 OK. That is the reason you are seeing the JSON data as the result with 200 OK response status code. If you want to return a different status code, use a [the overload](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.functions.worker.http.http

[2022-06-21 13:57] Alan-Hinton commented on #936
The above method is showing the same behaviour for me i.e. I am getting the whole HttpResponseData object returned as the body of the response and I am still getting a 200 response code.

[2022-06-21 14:01] kshyju commented on #936
Can you share a minimal repro in a GitHub repo link?

[2022-06-21 15:46] Alan-Hinton commented on #936
If I do curl in verbose mode then the problem is clearer
[code]
You can see it is returning a 200 status and then the full HttpRequestData object as json.  That json does happens to include a value called 'status code' with the value 404, but that is not the status of the result i.e. standard web clients would not see that result.  I expect it to just return the object passed to WriteAsJsonAsync i

[2022-06-22 18:03] SeanFeldman opened #938 "[Question] Reflecting the called function from the middleware"
I'm trying to figure out if the called function code can be reflected or not.
The passed into middleware `FunctionContext` has a `FunctionDefinition` property. The property contains a string that represents the class and the function in the code. But I cannot use reflection to gain access to the type/method to reflect custom attributes.

My question is does middleware suppose to be able to access

[2022-06-22 18:22] steven-forrrest-vincit commented on #366
Is multipart form data parsing still in the works?

[2022-06-22 19:06] kshyju commented on #876
Initial investigation is done and root cause identified. The fix requires a change in the host. The below issue will track the progress of that.

[Introduce new app setting to control skipping null entries from event payload when sending to OOP layer](https://github.com/Azure/azure-functions-host/issues/8499)

[2022-06-22 19:06] #876 closed

[2022-06-22 20:10] fabiocav commented on #854
Work here is in progress. Moving to sprint 125.

[2022-06-23 20:17] victormarante commented on #930
PR is up, please feel free to review. @kshyju

[2022-06-24 12:43] knoxi opened #948 "Isolated Azure Function missing authentication header and identity"
I have created a new .NET 6 Isolated Azure Function followed by this great article: [Azure AD JWT authentication in .NET isolated process Azure Functions](https://joonasw.net/view/azure-ad-jwt-authentication-in-net-isolated-process-azure-functions)

If I'm debugging it locally, it works perfectly, the calling client attaches an authentication header to the request which I can read in the authentic

[2022-06-24 14:35] knoxi commented on #948
In the meantime, we were able to solve the problem. The Azure Function App works as expected. Unfortunately, our test code had an error in it, which we detected too late. The URL to the function was composed dynamically and due to an error the protocol was mistakenly set to HTTP. Thus, the authentication header was not sent.

[2022-06-24 14:35] #948 closed

[2022-06-24 21:14] Pompeoar opened #949 "Access Azure App Config Value via Output Binding expression"
I'm unable to get output bindings to work with an azure app config setting. Below is my code, simplified (but tested) to explain the point.

I have Azure App Config wired up. Break points show it successfully connects.
I've injected the config just for my own sanity. It has my provider and all my values. It's also able to inject a blob client using those same App Config endpoints (setup in the pro

[2022-06-25 07:32] jp1482 opened #950 "Make FunctionContext available as a Dependency Type ( Like IHttpContextAccessor)"
### Enhancement Introduction
Currently current FunctionContext available as a input parameter to Function.

[code]

Now if there is any dependency that called as part of above function implementation then It required explicit pass of FunctionContext. If compare is with asp.net core web api structure then we have IHttpContextAccessor.  In can be available to access in downstream call.  For example

[2022-06-26 16:28] kshyju commented on #936
Took another look at the issue. You are not getting the desired behavior(404 status code for http response and exception message as the body of the response) because you are not using the correct return type for your http trigger function. You are using `void` as the return type for the `ThrowException` method. If you want to return a valid http response from your function, you should use [HttpRes

[2022-06-27 18:14] #935 closed

[2022-06-29 20:14] fabiocav commented on #949
@Pompeoar can you please share the version of the storage queue extension you're using when you run into this issue? Thanks!

Flagging this for additional investigation against the underlying extension.

[2022-06-29 21:02] #857 closed

[2022-06-30 04:51] Pompeoar commented on #949
```<PackageReference Include="Microsoft.Azure.Functions.Worker.Extensions.Storage.Queues" Version="5.0.0" />```

[2022-06-30 21:44] satvu opened #953 "Expand E2E Testing"
Expand E2E Testing Scenarios to include:

- [ ] #965
- [x] #966
- [x] #967

Currently, the only E2E app tested on this repo is a .NET 5 app.

[2022-07-01 10:03] Archomeda opened #954 "TimerInfo.ScheduleStatus.Next does not indicate the next occurence"
I've noticed with our timer triggered function, that the TimerInfo.ScheduleStatus.Next value always seems to be the **current** trigger time, and **not** the next. The documentation also says "Gets or sets the expected next schedule occurrence".

So I'm expecting the following when the cron is set to `0 */10 * * * *`, and the function is triggered at `2022-07-01T09:30:00.0024370+00:00`:
- Last: `7

[2022-07-01 10:53] kedzior-io opened #955 "The retry policy support in the runtime for triggers other than Timer and Event Hubs is being removed"
Today I have noticed a new message in my isolated process azure functions (with service bus triggers):

`Soon retries will not be supported for function 'Functions.MyFunction'. For more information, please visit http://aka.ms/func-retry-policies.`

https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-error-pages?tabs=fixed-delay%2Cisolated-process&pivots=programming-language-c

[2022-07-04 14:55] Ved2806 commented on #929
Hi @ealsur Could you please help with this issue? Thanks.

[2022-07-05 14:47] truptisatardekar commented on #760
+1 for facing the same issue. In my Azure function (dotnet-isolated version 4.0), I used Opentelemetry to track postgresql dependency calls, which show up correctly in AppInsights however they aren't correlated with the parent request.

I tried the below code in Azure Function -> Program.cs -> main -> ConfigureServices

Usings
using Npgsql;
using OpenTelemetry;
using OpenTelemetry.Resources;
using

[2022-07-05 15:06] Tinathnath commented on #760
FYI I started a new project v4 + .net6, when using *in-process* runtime, it works like a charm

[2022-07-05 16:22] kbalakumar1 commented on #955
We have also used the timer trigger retry functionality in our current application, and have been seeing this message where it mentions that retries will not be supported for the function. But, in the azure error handling document (for reference: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-error-pages?tabs=fixed-delay%2Cisolated-process&pivots=programming-language-csh

[2022-07-05 16:50] surgupta-msft commented on #926
Changes completed and merged in UX repo.

[2022-07-05 16:50] #926 closed

[2022-07-05 19:33] ealsur commented on #929
@Ved2806 Nothing Cosmos specific here, the binding expressions resolution is not a process that happens on Cosmos.

Cosmos DB extension just receives the resolution of the binding expressions and we use them: https://github.com/Azure/azure-webjobs-sdk-extensions/blob/dev/src/WebJobs.Extensions.CosmosDB/CosmosDBSqlResolutionPolicy.cs#L16

[2022-07-06 07:55] WestDiscGolf commented on #929
@ealsur Is this something which can be added to the v4 attributes/bindings? I took a look last night to see if I could work out how it could be done and tbh I got a bit lost. It didn't seem as "obvious" as the link you added to the "old" web jobs extensions.

If we can get some guidance on how to add it/test it then I would be happy to have a go at a PR :smile:

[2022-07-06 15:07] CezaryKlus opened #958 "Ability to asynchronously stream binary results similarly to FileResult"
It appears that with the current object model, specifically `HttpRequestData.Body` the result becomes buffered in memory before being sent to host?

Is there any plan to support asynchronous streaming support similar to `FileResult` in ASP.NET Core with the option to close the original stream?

#884
[Out of proc languages stream support](https://github.com/Azure/azure-functions-host/issues/1361#)

[2022-07-06 18:16] fabiocav commented on #955
This is not specific to the Isolated model. Retry support is limited to Timers and Event Hubs when the feature GAs, and that applies to all languages and models.

For triggers like Service Bus, there's built in support for retries provided by the service, and the recommendation is to use that instead.

Closing this as answered, but please let us know if you have any additional questions.

Thanks!

[2022-07-06 18:16] #955 closed

[2022-07-06 18:19] fabiocav commented on #958
That is not supported today, but something that we're already tracking as an enhancement for all OOP languages. I don't have an ETA at this point, but when the capability is made available, we'll have an announcement [here](https://github.com/Azure/azure-functions-dotnet-worker/discussions)

[2022-07-06 18:19] #958 closed, assigned to kshyju

[2022-07-06 19:07] lavibhatnagar commented on #821
Does this issue is fixed? I am facing same issue when trying to deploy from azure devops pipeline. Deployment shows it is succeeded. but can see this error 'Microsoft.Azure.WebJobs.Script: WorkerConfig for runtime: dotnet-isolated not found.' in the portal. As well as navigating to functions i can see the warning 'azure functions runtime is unreachable'.

I am using windows function app.
![image](

[2022-07-06 20:06] #833 closed

[2022-07-07 15:21] tareksharbak commented on #955
@fabiocav Thanks for the answer, but I was wondering what will happen to the retries of CosmosDB Change Feed trigger? We depend on the retry functionality extensively for that trigger and as far as I know, retries are not built in on the side of the service in this case (such is case for Service Bus). Any plans to have some sort of retry mechanism for the CosmosDB Change feed trigger after October

[2022-07-08 10:37] DavidJFowler opened #959 "Microsoft.Azure.Functions.Worker.Extensions.CosmosDB GA"
Hi,

Microsoft.Azure.Functions.Worker.Extensions.CosmosDB 4.0.0-preview2 was published on 31 October 2021.

Is a GA release planned soon?

[2022-07-08 12:47] shrohilla commented on #848
@marstran we are fixing the 2nd part raised by banjamin, 1st part we are not solving for now

[2022-07-08 13:52] kedzior-io commented on #955
@fabiocav Thanks for the answer as well.

Well as far as I know Service Bus has `MaxDeliveryCount` which will basically send x times the same message without any delays. I suspect what most of us would like to have is `ExponentialBackoff` and sure `ServiceBusClient` has something like this available but I believe that applies to receiving messages using the SDK not `ServiceBusTrigger` as explained

[2022-07-08 22:25] YahtzeeJD opened #960 "Can't set Console.Title for local development"
We create functions and test them locally before deployment to Azure.

Under .Net Core 3.1 we were able to set the Console.Title to show which function was running in which console window. We're in a microservices architecture so we often run MANY functions at once when testing locally.

Under .Net 6, setting the Console.Title no longer names the function's console window.

Is there some alternate

[2022-07-08 22:43] SeanFeldman commented on #960
Where did you run the code to set the window title when using In-Process SDK?

[2022-07-09 12:53] YahtzeeJD commented on #960
Thanks for the response Sean.

We used to run it in Startup.cs under .Net Core 3.1. For .Net 6, we put it in Program.cs since we don't use a Startup.cs anymore.

Is there a recommended place for placement of these lines of code?

[2022-07-09 13:59] SeanFeldman commented on #960
I suspect that with in-process SDK, setting `Console.Title` was setting the title of the console window that hosted the FunctionApp. With Isolated SDK, FunctionApp is a separate process w/o a console and setting the title has no impact on the runner.

[2022-07-10 17:59] YahtzeeJD commented on #960
I believe you are correct. One of our architects did some checking on Saturday and found we could set the window text of the **parent** process of the function through some seriously hacky code.

Hopefully there is a way that we will again be able to easily set a preferred title of the function process when launched locally by the functions team instead of just dotnet.exe. Otherwise, we will have

[2022-07-12 17:37] #691 closed, assigned to JatinSanghvi

[2022-07-13 20:27] fabiocav opened #965 "Add E2E .NET Framework tests"
Create E2E test app (probably [here](https://github.com/Azure/azure-functions-dotnet-worker/tree/main/test/E2ETests/E2EApps)) for .NET Framework to validate builds/PRs as we develop this worker.

[2022-07-13 20:27] fabiocav opened #966 "Add E2E .NET 6 tests"
Create E2E test app (probably [here](https://github.com/Azure/azure-functions-dotnet-worker/tree/main/test/E2ETests/E2EApps)) for .NET 6 to validate builds/PRs as we develop this worker.

[2022-07-13 20:27] fabiocav opened #967 "Add E2E testing for .NET 7"
Create E2E test app (probably [here](https://github.com/Azure/azure-functions-dotnet-worker/tree/main/test/E2ETests/E2EApps)) for .NET 7 to validate builds/PRs as we develop this worker.

[2022-07-14 08:52] trailmax commented on #446
@PavelRPavlov as far as I can see, it works now, the issue have been fixed a while ago and ticket should be closed.

[2022-07-14 08:52] #446 closed

[2022-07-14 18:15] kosalanuwan commented on #423
Does `context.Features.Get<RequestTelemetry>()` work in Azure Functions v4 net6 Isolated Middleware? I tried to access it but got a null reference exception. Same for `Activity.Current.AddBaggage(...)`.

[2022-07-17 22:31] jezzsantos opened #968 "Integration Testing Functions"
I've just migrated my functions from netcore3.1 V3 to net6.0 V4.
They are simple functions that use an Azure Storage Queue trigger.

Back in .netcore3.1 I was integration testing my functions (end to end) by creating a custom `IHost` like this:
[code]
and then I could write a simple test that dropped a message on an Azurite storage queue and see that the function picked it up and delivered it. (In

[2022-07-19 00:45] kshyju commented on #919
Apologies for the confusion. There was a timing sync issue between when the documentation went live and the package version became GA. As of today the documentation is correct as [1.8.0](https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker/1.8.0) is out for customers to consume. Please let us know if you still run into issues.

[2022-07-19 05:35] sahayaarockiamary commented on #914
@debasish-das-it  I am also facing this issue. Did you find any solution to resolve this?

[2022-07-19 18:39] fabiocav opened #971 "Define retry policy attributes"
With the retry policy configuration move to the function level, we don't have a mechanism that enables policy definition in the worker today. We need to expose those attributes and ensure the metadata flows into the indexing process.

[2022-07-20 14:39] Joffreyvl commented on #821
Has anybody found a solution to this problem?

[2022-07-20 14:53] lavibhatnagar commented on #821
Hi,

I am able to fixed this issue by adding and deploying test function in my project. I created empty project and deployed it without any functions.

Adding and deploying test function in my project solution fixed issue for me.

[2022-07-20 18:14] fabiocav commented on #971
Effectively, we need support for the `FixedDelayRetry` and `ExponentialBackoffRetry` attributes.

Ultimately, in the context of the worker, those attributes need to emit the correct metadata for the function, for example:

[code]

[2022-07-20 18:26] fabiocav commented on #960
This is correct. The worker runs without a visible window, and in a separate process, different the the one running the host/Core Tools.

The only mechanism I believe you would have available to you at the moment would be to create a custom extension and reference that from the worker, which would ultimately run in the host process, but honestly, that would be pretty convoluted and heavy handed fo

[2022-07-20 18:33] fabiocav commented on #938
@SeanFeldman wanted to add a comment here. This is something we do intend to expose. We're hoping we can prioritize this work soon and will share the design/experience for feedback ahead of implementation.

[2022-07-21 21:23] kshyju commented on #971
FYI Deprecation notice:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-error-pages?tabs=fixed-delay%2Cin-process&pivots=programming-language-csharp

[2022-07-23 23:07] DavidZidar commented on #821
@kshyju What is the proper way to create and configure a Linux app service so this works? I have been trying and trying and keep getting this error.

This is what I have been trying to do in many different variations using the CLI and the portal:
1. Create function app on a brand new App Service plan `az functionapp create --functions-runtime 4 --os-type Linux --runtime dotnet --runtime-version 6

[2022-07-24 14:57] DavidZidar commented on #821
@kshyju I have managed to get a successful deployment once or twice using `func azure functionapp publish` but never using zip deploy.

The one thing I notice that is different is that when I use `func azure functionapp publish` the zip file that's placed in `data/SitePackages` contains a folder named `.azurefunctions` with some assemblies in it. When I use zip deploy the zip I am uploading does c

[2022-07-24 15:26] DavidZidar commented on #821
Oof, I finally got zip deploy to work, it turns out it was my zip that was the problem after all. Because the `.azurefunctions` folder has a dot in the name it is regarded as a hidden folder on Linux, which caused the folder to be omitted on my Linux build agent but was included like it was supposed to on Windows when I was validating my code and comparing my zip archive so I thought it was includ

[2022-07-25 03:01] kosalanuwan commented on #304
Does anyone has any samples or reference docs about How to write unit tests for middleware using mstests v2 and moq for azure functions v4 .net6 isolated?

[2022-07-25 03:06] kosalanuwan commented on #501
Thanks for sharing this, @lohithgn, can you verify if this works for functions middleware using mstests and moq for azure functions v4 .net6 isolated functions apps?

[2022-07-25 06:56] dmytro-gokun opened #975 "Release notes/changelog for 1.8.0 (and 1.7.0)"
The nuget package for 1.8.0 was released 11 days ago, but how do we know what's new/changed in that package?

[2022-07-25 07:22] SeanFeldman commented on #975
A good practice is to have a CHANGELOG.md this repo could adopt, similar to Azure SDKs. Blob storage [example](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/storage/Azure.Storage.Blobs/CHANGELOG.md).

[2022-07-25 10:03] WestDiscGolf commented on #501
@kosalanuwan Looking at the testing code I don't see there would be an issue with using mstest as your test runner of choice instead of xunit.

[2022-07-25 18:05] liliankasem opened #976 "Handle InvocationCancel message and signal cancellation for in-flight invocations"
Related to:

- https://github.com/Azure/azure-functions-host/issues/2152

Following [this host PR](https://github.com/Azure/azure-functions-host/pull/8556), the host will now have the ability to send a cancellation request to workers. It is up to the workers how they handle the cancellation message (`InvocationCancel`) we receive.

The goal of this issue is to implement a handler for the `Invocati

[2022-07-26 04:02] #919 closed

[2022-07-26 08:09] black-byte commented on #822
I've managed to solve this issue partially, I do get the end result as expected with correlated traces with dependencies. The only downside of my solution is you end up with two-parent operations.
I am trying to revisit this issue and find a better way to solve it.
In my case
`opts.DependencyCollectionOptions.EnableLegacyCorrelationHeadersInjection = true;     `
It didn't work at all all dependenc

[2022-07-26 09:55] Joffreyvl commented on #821
@DavidZidar so how did you get it to work? Did you change de folder name?

[2022-07-26 11:04] DavidZidar commented on #821
@Joffreyvl No, in my case the problem was that I was building in Linux and did `zip -r foo.zip *` which I thought included all files and folders but it unfortunately omits hidden files and folders. My solution was to call `zip -r foo.zip .` instead to bypass shell parameter expansion and tell zip to compress everything in the current folder.

I did try to deploy from Windows as well which produced

[2022-07-27 12:41] elsand commented on #936
The issue regarding multiple bindings was mentioned in https://github.com/Azure/azure-functions-dotnet-worker/issues/530#issuecomment-1011712725, but not addressed in the PR that was accepted. The proposed workaround has to make assumptions about the field names used in the complex type returned for the function, as PropertyOutputBindingsInfo does not include any type information (only names of pr

[2022-07-27 18:13] fabiocav commented on #968
@jezzsantos thank you for raising this. We're reviewing the priority of https://github.com/Azure/azure-functions-dotnet-worker/issues/281 to address the issues you've shared, but in the meantime, we're also looking at potential documentation and guidance on how to properly test with the structure we have today.

Thanks!

[2022-07-27 18:22] fabiocav commented on #975
@SeanFeldman we do have the release notes in https://github.com/Azure/azure-functions-dotnet-worker/blob/main/release_notes.md

We're reviewing the release pipelines to understand what happened with those releases. We'll make sure those are correctly published with all the appropriate notes.

[2022-07-27 19:02] #960 closed

[2022-07-27 19:02] #959 closed

[2022-07-27 23:57] fabiocav commented on #975
We're in the process of enhancing this flow to better deal with the various extensions/projects in the repo and ensure the process of publishing the release and capturing the release notes uses the same automation flow we have in the host to make sure this is not missed in the future.

[2022-07-28 11:43] tsansome opened #980 "Microsoft.Azure.Functions.Worker.Extensions.SignalRService : Value cannot be null. (Parameter 'item')"
Hi,

I have a .net 6 isolated process Azure function running on V4. When attempting to use the SignalR output binding i get theerror below.

The only code i've added was decorating my function like below.

<img width="579" alt="image" src="https://user-images.githubusercontent.com/2570105/181496845-a062bde7-7739-4124-8b81-7f7e899b4090.png">

Am i doing something wrong?

My full package versions:
<

[2022-07-29 17:35] kshyju commented on #980
@Y-Sindo Could you please take a look at this?

[2022-07-29 20:21] YahtzeeJD commented on #960
Hi. Can you explain this option a little more in detail, or was it just an off-the-cuff thought?

[2022-07-30 05:19] tsansome commented on #980
Thanks @kshyju , @Y-Sindo let me know if you need anything from me.

[2022-08-01 04:06] Y-Sindo commented on #980
Seems you don't return a valid object in your function. Please see https://github.com/Azure/azure-functions-dotnet-worker/blob/main/samples/Extensions/SignalR/SignalROutputBindingFunctions.cs for example.

[2022-08-01 11:25] tsansome commented on #980
hmmm. My code looks very similar. is it something to do with how i use the multiple bindings? I'm trying to return an http response but also a signalR message.

I return

<img width="454" alt="image" src="https://user-images.githubusercontent.com/2570105/182137863-e5ac4b24-78f0-4585-9e05-9ae0653a8fa1.png">

Which is made up of these classes
<img width="323" alt="image" src="https://user-images.git

[2022-08-02 02:54] Y-Sindo commented on #980
If you're using multiple output binding in a function, please remove the `SignalROutput` attribute targeting the function and only leave the one targeting the property in the return object.

[2022-08-02 09:36] soninaren opened #981 "Worker sdk requires dotnet 7 and dotnet 6 to build"
Currently a customer needs to install dotnet 6 and dotnet 7, if they are targeting net7. We need to update the internal csproj generation to use the same TFM as the one from the functions project. This would make it so that the customer only needs to install dotnet 6 or dotnet 7, but not both.

[2022-08-02 22:53] RbsTechOnline commented on #821
I am having a similar problem from devops, trying to publish to consumption windows, isolated, .net 6. works from visual studio. Zip deployment are the same. configuration looks the same, DOES NOT work from `AzureFunctionApp@1` in a release pipeline

[code]
If have spent hours trying to tweak this in every way possible, comparing the difference between devops deploy and visual studio deploy, for t

[2022-08-02 23:16] kshyju opened #983 "GetOutputBindings returns incorrect data when OutputBindingData is not set"
The `GetOutputBindings<T>` extension method on `FunctionContext` [documentation ](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.functions.worker.functioncontextbindingfeatureextensions.getoutputbindings?view=azure-dotnet#microsoft-azure-functions-worker-functioncontextbindingfeatureextensions-getoutputbindings-1(microsoft-azure-functions-worker-functioncontext))says it returns the ou

[2022-08-03 04:54] stijnmoreels commented on #968
+1 Really need some either docs, or guidance as to what is needed inject/remove as otherwise there's no durable way to test custom middleware (don't want to create dedicated Program files for every configurable options).

[2022-08-03 17:41] cloudmelon commented on #928
@satvu this work is related to @kshyju 's changes in sprint 126 about targeting framework .NET 7 to unblock Oryx build with another item is tracking it,  so I am closing this one

[2022-08-03 17:41] #928 closed

[2022-08-03 20:09] fabiocav commented on #954
Investigation on this is in progress. Moving to sprint 128 so we can continue to track.

[2022-08-03 20:19] fabiocav commented on #854
This is being iterated on. Reviews are coming in and @satvu is working on feedback.

[2022-08-03 20:40] fabiocav commented on #927
duplicate of https://github.com/Azure/azure-functions-host/issues/8311

[2022-08-03 20:40] #927 closed

[2022-08-04 01:45] tsansome commented on #980
@Y-Sindo  that was the solution!! yes so i removed the SignalR Attribute from the function declaration and only to the return object.

<img width="588" alt="image" src="https://user-images.githubusercontent.com/2570105/182745087-8c72d9dc-e536-4d3d-b2f7-582029f669b8.png">

<img width="517" alt="image" src="https://user-images.githubusercontent.com/2570105/182745189-1b241204-0cb5-4708-96d3-147a37580

[2022-08-04 01:45] #980 closed

[2022-08-04 07:30] hbrotan commented on #821
I have the same problem.

- Framework: `.NET 6`
- Function version: `v4`
- FUNCTIONS_WORKER_RUNTIME: `dotnet-isolated`

Deploying using bicep:
[code]
On startup, the host logs `0 functions loaded`, even if there are one HTTP trigger and one ServiceBusTrigger:
![image](https://user-images.githubusercontent.com/5398896/182789175-6e5247c6-9c6a-4d77-a4ad-e5b4bb217994.png)

Exception:
![image](https://

[2022-08-04 13:44] zmerdev opened #985 "Visual studio 2022 debugger will not attach automatically, V4 .NET6 Isolated Function takes 60 seconds for worker to begin"
I had a project that i have been developing for months and never had this issue before.  Something in my environment definitely got messed up on my local machine because other team members can run the same projects with no issue.

**The issues:**

Running Isolated Azure function v4 projects locally it takes 60 seconds for the worker process to start after trying to run it with debugging in visual

[2022-08-04 14:00] zmerdev commented on #985
I just tested and I can run without debugging and then manually attach the debugger, but having to do that every time I make a change is very cumbersome.

[2022-08-04 21:20] jamesSampica opened #986 "Support for EventGrid blob trigger?"
The WebJobs sdk has support for sourcing a blob from EventGrid through the blob trigger attribute.

I know it's in preview but I was wondering if this is functionality that will come to this sdk.

code for comparison:
[WebJobs BlobTriggerAttribute](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/BlobTriggerAttribute.cs#L75)

[Wo

[2022-08-04 21:35] kshyju commented on #985
This was caused by a regression introduced in the recent core-tools release.  See below issue for details.

https://github.com/Azure/azure-functions-core-tools/issues/3111

If you are still seeing issues with isolated function app debugging, please delete the below folder and restart visual studio instances.

[code]
Thanks, and sorry for the trouble. Let us know if you are still running into issue

[2022-08-05 00:55] #981 closed

[2022-08-05 07:15] zubaircse-bd commented on #821
I have the same problem.

Framework: .NET 6
Function version: v4
FUNCTIONS_WORKER_RUNTIME: dotnet-isolated
![image](https://user-images.githubusercontent.com/20569360/183023016-e8f2040d-018d-4ac8-9855-b4ebd75b08ff.png)

[2022-08-05 07:40] hbrotan commented on #821
At least there seems to be a fix coming for this error when deploying without a payload, ref: fix by @kshyju here: https://github.com/Azure/azure-functions-host/pull/8589

But, I get this error even if I'm deploying to an existing Azure function.
I've tried setting the linuxFxVersion = `dotnet-isolated|6.0`.

[2022-08-05 08:06] Joffreyvl commented on #821
Hey everyone, we got it to work by using this configuration.

- Function runtime version: ~4
- Function worker runtime: dotnet-isolated
- .NET version: 6.0
- OS: linux
- Deployment method: run from package
- Deployment tool: bicep
- Deployment source: Azure pipelines

![image](https://user-images.githubusercontent.com/17174541/183031720-a57e6995-c0ab-4d37-b5be-5bbfa708a9d5.png)

![image](https://u

[2022-08-05 10:21] hbrotan commented on #821
@Joffreyvl .NET version: 6.0 in combination with `DOTNET-ISOLATED|7.0` gives me errors of type:
[code]
Are you sure it's working with .NET 6.0?

[2022-08-05 10:44] Joffreyvl commented on #821
Documentation says, DOTNET-ISOLATED|7.0 but DOTNET-ISOLATED|6.0 works for me

[2022-08-05 11:06] Dragsaw commented on #821
The following configuration works for us with bicep deployment: `linuxFxVersion` set to `DOTNET-ISOLATED|6.0`,
`FUNCTIONS_EXTENSION_VERSION` to  `~4` and `FUNCTIONS_WORKER_RUNTIME` to `dotnet-isolated`.

Unless a .net function code is deployed to the azure function app, the portal shows _"WorkerConfig for runtime: dotnet-isolated not found"_ error. The error goes away after a function using isolat

[2022-08-05 11:51] zmerdev commented on #985
that fixed it thank you, i was pulling my hair out trying to figure it out.

[2022-08-05 11:51] #985 closed

[2022-08-07 23:32] ousecTic opened #989 "There is no functions runtime available that matches the version specified in the project with dotnet framework 4.8"
So I was following along this guide : https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-guide

And Repo : https://github.com/Azure/azure-functions-dotnet-worker/tree/main/samples/NetFxWorker

To Create a .NET Framework 4.8 isolated Azure Function project however I keep getting this error

<img width="208" alt="image" src="https://user-images.githubusercontent.com/36502

[2022-08-08 10:08] hbrotan commented on #821
@Dragsaw I think there are two issues here. One is when you deploy without any functions, which is fixed in https://github.com/Azure/azure-functions-host/pull/8589.

But, the error also occurs when you deploy _with_ functions, and I still get this error even if setting `linuxFxVersion` to `DOTNET-ISOLATED|6.0`

[2022-08-08 11:29] Dragsaw commented on #821
@hbrotan , I see. Unfortunately, I have not been able to make `dotnet-isolated|7.0` work, only `6.0`.
When you're using `6.0`, are you able to check that `worker.config.json` file is present in the function package that is being deployed and that the contents are similar to this?
[code]

Also, there shoulld be a file like `MyFunctionApp.runtimeconfig.json` with the similar settings:
[code]
These t

[2022-08-08 11:46] hbrotan commented on #821
@Dragsaw Thanks for answering. I have the same `worker.config.json` and almost the same `MyFunctionApp.runtimeconfig.json` with the addition of:
[code]
I think the `dotnet-isolated|7.0` is a dead end. It requires upgrading to .NET7 preview, and that should not be the solution to this issue.

[2022-08-08 15:46] MarkiEC13 commented on #821
I had the same issue and downgraded the following packages from the latest version and all started to work without any issues.
`<PackageReference Include="Microsoft.Azure.Functions.Worker.Sdk" Version="1.2.0" />`
`<PackageReference Include="Microsoft.Azure.Functions.Worker" Version="1.5.0" />`

[2022-08-09 23:12] SeanFeldman commented on #226
Any updates that could be shared, @fabiocav?

[2022-08-09 23:58] kshyju commented on #989
Do you see the 7X version of SDK/runtime present in your machine? You can verify that by checking the result of `dotnet --info` command. Also what version of visual studio are you using? (You can get this info from the dialog which appears when you click on Help->About Visual studio menu item)

[2022-08-10 12:04] gitnubster opened #990 "How does releasing to nuget.org work? As there is no 1.8.0 SDK version available there a.t.m."
Hi,

I've noticed there's no 1.8.0 version available at nuget.org:
https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker.Sdk/
The last version is a preview version 1.7.0-preview2. How does publishing to nuget.org work, is that a manual process?
I would be interested to get it from nuget.org as my package source.

Thanks in advance.

[2022-08-10 12:34] sccrgoalie1 commented on #989
I'm having this same issue with .NET 4.8.  I installed the latest .NET 7.0 SDK (v7.0.100-preview.7) - Windows x64 Installer and Visual Studio 2022 17.3.0 and the issue still persists.

[2022-08-10 13:04] gitnubster commented on #990
Let me clarify some possible confusion. There is a version 1.8.0 published on nuget.org for the ~.Worker package. But not for the ~.Worker.SDK. So will the Worker.SDK package being updated as well?

[2022-08-10 15:12] pushkar14 commented on #989
I am having the same issue. Have you guys figured it out yet?

[2022-08-10 20:37] kshyju commented on #295
@cloudmelon

[2022-08-11 01:25] kshyju commented on #900
@maartenba Apologies for the delayed response. Could you try this again with the core tools version [4.0.4704](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=v4%2Cwindows%2Ccsharp%2Cportal%2Cbash#install-the-azure-functions-core-tools), which is the latest as of today ?

Writing the process id to the JSON is not relying on the host logging level anymore. I tried th

[2022-08-11 06:05] maartenba commented on #900
Thanks! Does seem to work indeed!

One question around tooling: is reading the JSON output from console reliable? The issue with emitting it to a file is that the user can theoretically pass in their own filename (which may have existing, wrong PID data in there)

[2022-08-11 13:10] hbrotan commented on #821
I tried adding a dummy HTTP trigger (anonymous auth), and the error occurred less, but the error still occurred.
This is the log for an app with 7 functions (ordered by timestamp desc):

![image](https://user-images.githubusercontent.com/5398896/184139945-d3e306b2-cdf6-4611-a7bd-0d408f34ea40.png)

Because 1 function is found (the HTTP trigger), it will not fail.
If no functions are found, there ar

[2022-08-12 00:51] kshyju commented on #900
The entries will be appended to the file. So, as long as the latest/last entry is read & used by tooling, that will be the correct PID. Let me know if I am comprehending your point incorrectly. :)

[2022-08-12 01:02] kshyju commented on #821
@hbrotan Could you share your function app name & time of deployment so I can take a look at this behavior?

[2022-08-12 05:53] maartenba commented on #900
Thanks for the information about appending, that's really good to know 👍

[2022-08-12 08:31] hbrotan commented on #821
@kshyju Yes, that would be great, thanks!
App name: `hmc-func-service-email-dev-we`
Time of deployment (UTC): `8/12/2022, 8:23:54.024 AM`

Screenshot trace:
![image](https://user-images.githubusercontent.com/5398896/184316249-c90319a7-0faa-48e4-a91c-9f7c3445d511.png)

Screenshot exception:
![image](https://user-images.githubusercontent.com/5398896/184316404-91779da0-68a6-4c67-97a5-c83e76abea47.png

[2022-08-12 18:14] kshyju commented on #989
Hi @pushkar14 @sccrgoalie1 @ousecTic , Can you try the latest version of [Microsoft.Azure.Functions.Worker.Sdk package](https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker.Sdk/) ? 1.7.0-preview2

[2022-08-12 18:26] kshyju commented on #989
Sorry! I got confused with Net7 support. You do not necessarily need Net 7 installed as this dotnet framework 4.8 as the TFM. Updated the original comment to prevent confusion for future readers.

[2022-08-12 18:31] sccrgoalie1 commented on #989
I am currently using [Microsoft.Azure.Functions.Worker.Sdk package](https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker.Sdk/) 1.7.0-preview2.  This is the version having issues.

[2022-08-12 18:35] kshyju commented on #989
Just to confirm, You have .NET framework 4.8 installed ? You can confirm it trying to create a new Console App (.NET framework) and select ".NET framework 4.8" or above in the "Framework" dropdown in the new project dialog.

[2022-08-12 18:38] sccrgoalie1 commented on #989
Confirmed.  I am targeting .NET 4.8 and have the SDK and targeting pack installed.  When I create a new project for .NET Framework, 4.8 is the default.

[2022-08-12 20:07] kshyju commented on #989
Sorry folks, you need VS 17.4 or above for working with dotnet-isolated projects targeting netfx. Please download it here https://visualstudio.microsoft.com/vs/preview/

We will update the documentation. Let us know if you still run into issues.

[2022-08-15 11:24] sccrgoalie1 commented on #989
I just installed the preview.  The same error still persists.

[2022-08-15 14:31] eKipod opened #991 "Message body overrides metadata in ServiceBusTrigger function, dotnet-isolated"
Properties from message body override metadata properties when using ServiceBusTrigger function in dotnet-isolated.
This does not happen in inproc mode.
This affects logging, correlations (e.g. when resending messages, or sending related messages), processing (when information from message envelope is needed).

Example:

Given the function:
[code]

When sending the message:
[code]

The actual resu

[2022-08-15 17:45] jviau commented on #914
General advice, whether this is a bug or not, always check for `null` on `Activity.Current`. As an optimization, activities are only created if someone is actively listening to them. In the case an activity source has listeners, `Activity.Current` _can be null_.

See [here](https://github.com/dotnet/runtime/blob/main/src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Activity

[2022-08-15 22:21] brennfoster opened #992 "...Worker.Extensions.EventHubs - 409 The specified container already exists & 404 The specified blob does not exist."
Getting these errors when running version 5.1.0 of the event hubs extension in Azure and locally:

[code]
[code]

It always ends with this error:
`Failed to start a new language worker for runtime: dotnet-isolated.
`

Func version ~4
.NET 6
Using managed identity to connect to event hubs.

[2022-08-16 12:36] swiftbitdotco commented on #281
@fabiocav Is this being currently worked on?

[2022-08-16 15:03] kaibocai commented on #846
Hi @liliankasem , for other language worker seems there is no way to directly log to app insight sdk.

[2022-08-17 00:12] #983 closed

[2022-08-17 07:59] hbrotan commented on #821
@kshyju Will you get a chance to look at this? Much appreciated.

[2022-08-17 15:19] slogan3685 opened #993 "If the Azure Function is async, all exceptions caught in middleware are AggregateException"
Based on the sample project I have the following middleware...
[code]
...function, and...
[code]
...startup code

[code]
When I run this, the middleware catches an AggregateException containing the ApplicationException that I threw. Is this the expected behaviour, meaning I need to inspect the exception(s) within and decide how to handle them? Fwiw, if the function is not async then it works as I

[2022-08-17 15:29] SeanFeldman commented on #993
Looks similar to #912

[2022-08-17 18:42] brennfoster commented on #992
I just realized that I was not awaiting the host.RunAsync() command in Program.cs and that's why this was failing for me.

The errors I posted above were not actually the cause of failure.

[2022-08-17 18:42] #992 closed

[2022-08-17 23:54] cloudmelon opened #994 ".NET Framework 4.8 - Stack API update"
Add .NET Framework (isolated) to the portal Stack API

https://github.com/Azure/azure-functions-ux/tree/dev/server/src/stacks

![image](https://user-images.githubusercontent.com/4621560/185263309-0e3cf974-705f-4351-b570-80fd571f4162.png)

Currently we can use .NET 6 ( in-proc app ), and to publish my net48 isolated app to Azure. There was a popup that helped me to update runtime automatically.

![

[2022-08-18 02:09] kshyju commented on #821
@hbrotan I looked into our logs and can see that, for role instance "6BADE189-637958780685568709", it appears that the deployment was not really successful (function app payload was not deployed correctly), so it had '0 functions found" messages logged. Can you double check the function app files are properly deployed?

Good news is, we have a fix coming out in the next few weeks to address this i

[2022-08-18 06:00] SeanFeldman opened #995 "SignalR documentation feedback"
## Context

I needed to add SignalR to a project to enable notifications from Azure Functions to Blazor WebAssembly. This should have been an easy task, but I've spent a significant amount of time chasing what could have been resolved by up-to-date documentation and samples.

First, the documentation on SignalR with Azure Functions Isolated SDK lacks a [sample](https://docs.microsoft.com/en-us/azu

[2022-08-18 11:02] hbrotan commented on #821
@kshyju Thanks for checking! It seems like this error comes and goes. And it seems like the functions are working in spite of the error, maybe because they are able to start after the initial error.

I believe there is a bug in the framework when loading functions metadata.
How can you explain this behavior? (https://github.com/Azure/azure-functions-dotnet-worker/issues/821#issuecomment-1211968960

[2022-08-18 20:25] brettsam commented on #760
The preview packages are now available: https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker.ApplicationInsights.

For usage and explanation, see the PR here (official docs will come when this is out of preview): https://github.com/Azure/azure-functions-dotnet-worker/pull/944.

If you have feedback, bugs, etc, please create a new issue with the details and we'll take a look.

[2022-08-18 21:57] liliankasem opened #996 "Document use of cancellation tokens for the dotnet-isolated worker"
Update public MSFT docs for how to bind to cancellation token for the dotnet worker

[2022-08-19 06:52] lufthavn commented on #914
I'm also experiencing this with a ServiceBusTrigger on a brand new .NET isolated v4 function.

Our basic setup setup is API -> topic -> function #1 -> queue -> function 2. In application insights, I get telemetry up to and including function #1. The subsequent telemetry in the entire operation is not correlated. I tried debugging function #1 and can see that Activity.Current is null, which is a bi

[2022-08-19 08:31] cosminstirbu commented on #293
@fabiocav - can we have some sort of confirmation that this limitation will be fixed in .NET 7?

[2022-08-19 15:31] Prinsn commented on #293
I'm still subbed to this thread, but I'm having a hard time following it.

What limitation are you citing?

I'm currently upgrading to 6 and it required very few modifications.  5 and
the isolated processes were the breaking change.

Based on my understanding, odd numbers going forward (including 5) are
betas for even numbers, so relying on 7 might not be smart

On Fri, Aug 19, 2022, 4:31 AM Cosmi

[2022-08-19 16:17] SeanFeldman commented on #293
Limitations associated with the lack of
- Support for native types or ASB message metadata
- Inability to control message dispositioning
- Transactional messaging support
- Ability to create senders w/o instantiating a new physical connection

Anyone who's not doing anything beyond the standard scenario of receiving and sending is not impacted. You're lucky to be in that group🙂

[2022-08-19 17:14] aliqaryan2 commented on #293
With the old library, I could use my own duplicate msg detection by `Peek`  message sessions to see if we have existing message session in the serviceBus queue (because azure service bus duplicate msg detection is not practical for recurring messages(jobs) ). I implemented the mechanism in az function by adding `IMessageSession messageSession` as an input param to the ServiceBus Trigger function,

[2022-08-19 17:49] krishnasinghabsg opened #997 "Azure function Isolated mode completing the service bus messages even if middleware next not called."
ServiceBusFuncProcessor:
Tools used: vs2022
New V4 app

Hi,
Am trying to use middleware feature of azure functions isolated mode.
In middleware am reading from redis list of function names that must be disabled and then only calling middleware next if function name is not found in redis disable list.
Everything is working fine but only one problem. IF function is disabled then middleware next is n

[2022-08-19 17:52] LenaVinogradov commented on #760
@brettsam  I have used preview package and sample code provided in the PR link today. I still see all dependencies not linked to the parent. The parentId set in dependencies do not correspond to any telemetry objects logged in our appinsights.

[2022-08-19 18:06] brettsam commented on #760
@LenaVinogradov -- can you open a separate issue with exactly what you're seeing and what you expect to see? That'd help us narrow it down. Thanks!

[2022-08-19 18:39] LenaVinogradov opened #998 "Dependency not tracking correctly in Application Insights"
@LenaVinogradov -- can you open a separate issue with exactly what you're seeing and what you expect to see? That'd help us narrow it down. Thanks!

_Originally posted by @brettsam in https://github.com/Azure/azure-functions-dotnet-worker/issues/760#issuecomment-1220962314_

I have used new preview package and the sample code from the quoted PR:
"The preview "packages are now available: https://ww

[2022-08-19 18:43] LenaVinogradov commented on #998
![image](https://user-images.githubusercontent.com/1653359/185686069-9d0b8612-802b-462e-b660-abe548317a39.png)
here is an illustration. parent Id should be object id of the function request object, but it is not.

[2022-08-19 19:38] brettsam commented on #998
Thank you for the report!
Some questions:
- Can you share what this looks like in 3.0 (if you have it?). I'm assuming the MICROSOFT.TABLES calls show up under that parent you've pointed to?
- Are you using output bindings for the Table entries? Or are you using the Storage SDK directly in your function?

[2022-08-19 21:11] LenaVinogradov commented on #998
1. we moved away from using output bindings. Using storage clients from storage SDK
2. here is how it looked with Functions 3.1:
![image](https://user-images.githubusercontent.com/1653359/185707716-ea57a3d2-54e6-4496-b4e6-93840402d264.png)
thank you!

[2022-08-19 21:15] Prinsn commented on #293
I mean, I literally wasted like 2 weeks trying to upgrade because of
isolated process workers in 5

On Fri, Aug 19, 2022, 12:17 PM Sean Feldman ***@***.***>
wrote:

[2022-08-19 21:54] HMoen commented on #996
So peppering all our service methods with "CancellationToken token = default" is paying off after all 😃

[2022-08-19 22:43] Archomeda commented on #293
Indeed, ServiceBus triggers in isolated processes do not have feature parity with their in-process counterpart yet. Which is also why we have reverted to in-process recently. I do not understand how this went GA in its current state.

[2022-08-22 13:02] #989 closed

[2022-08-22 14:58] VBobCat commented on #374
I have the same problem and I don't want to believe it's not fixed yet.

[2022-08-22 21:25] ArildEik commented on #418
I'm not sure if this is solved yet, but I had the same problem with my isolated Azure function earlier today. Everything worked locally at my machine, but as soon as I put it in Azure, configuration was not available during startup (program.cs). My solution that seems to work, was to load the configuration separately those places I needed to check config-settings.

The code below supports reading

[2022-08-22 23:42] cgillum commented on #858
Completed as part of https://github.com/Azure/azure-functions-durable-extension/pull/2185 (back in May).

[2022-08-22 23:42] #858 closed

[2022-08-23 00:27] fabiocav commented on #898
Flagging for triage again so we can discuss assignment.

[2022-08-23 09:39] ershadnozari opened #1001 "User-Assigned Managed Identity for Function App to access its own (hosting) storage"
I have created a User-Assigned Managed Identity that I have assigned to a Function App. I want to replace the Access Key connection string with the User-Assigned Managed Identity for the Function App to connects to its own stage, i.e., the hosting storage for the Function App. I have given the Storage Account Contributor, Storage Blob Data Owner, Storage Queue Data Contributor and Storage Table Da

[2022-08-23 10:27] rafaarcangel opened #1002 "CosmosDBTrigger create a lease container with wrong partition key id"
**Issue:**
When using the trigger for CosmosDB and using the parameter 'CreateLeaseCollectionIfNotExists' the result is a container on the CosmosDB but with the wrong default partition key.

**What happened**:
The partition key for the new lease container created has '/_partitionKey' as id, but this is wrong because it will be '/id'.
The first time you execute the Az Function, it will run properly

[2022-08-23 12:40] cosminstirbu opened #1003 "Azure.Messaging.ServiceBus: The lock supplied is invalid"
Hello,

It seems that if a Service Bus trigger function throws an exception, even after the function has finished executing, I'm seeing a `Azure.Messaging.ServiceBus: The lock supplied is invalid` exception in the console.

Any reasons why the function attempts to renew the lock token after it failed executing? This adds noise to our Application Insights logs.

[code]

As you can see in the logs a

[2022-08-23 14:57] kshyju commented on #1002
@ealsur Could you help with this question?

[2022-08-23 15:59] ealsur commented on #1002
Code reference:

https://github.com/Azure/azure-webjobs-sdk-extensions/blob/cosmos/v3.x/src/WebJobs.Extensions.CosmosDB/Trigger/CosmosDBTriggerAttributeBindingProvider.cs#L220-L230

The Change Feed Processor in the 3.X package works well with collections with `/_partitionKey`, this behavior has been maintained across the 3.X package, it has not changed. The Lease collection is created without defi

[2022-08-23 16:29] djfoxer commented on #293
@Prinsn I think that I found how to do that, assume I want to Complete message, so I have to do in this way:

[code]

[2022-08-23 16:36] ealsur commented on #1002
I could not repro the error, I was able to confirm that extension 3.X creates a lease container with `/_partitionKey` but this keeps working across different restarts of said Function, this is a scenario that has always been supported on 3.X extension versions.

I also went ahead and ported the project to use 4.X extension, and the same Function kept working (with the same lease container).

I don

[2022-08-23 16:56] SeanFeldman commented on #293
@djfoxer, what you're referring to is the InProcess SDK. This issue/repo is about Isolated Worker SDK.
The earlier has always worked with native ASB SDK types, and message dispositioning was possible.

[2022-08-23 17:40] djfoxer commented on #293
@SeanFeldman Maybe I misunderstood something but my working code is from Worker in .NET 5 where Program.cs (console app) has HostBuilder (DI and so on). Why it's not isolated process?

[2022-08-23 17:44] SeanFeldman commented on #293
In-Process SDK runs on .NET 5/6 as well. It's not about .NET but instead the packages your Functions App is pulling in. Looks at your CSPROJ and see what you're using.

[2022-08-23 17:57] djfoxer commented on #293
@SeanFeldman I have:
[code]

[2022-08-23 18:00] SeanFeldman commented on #293
@djfoxer look for the SDK _package_ referenced.
[`Microsoft.NET.Sdk.Functions`](https://www.nuget.org/packages/Microsoft.NET.Sdk.Functions/#readme-body-tab) - In-Proc
[`Microsoft.Azure.Functions.Worker.Sdk`](https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker.Sdk/#readme-body-tab) - Isolated Worker

[2022-08-23 18:09] djfoxer commented on #293
@SeanFeldman Ok, it's more complicated as It's WebJob: "Microsoft.Azure.WebJobs" 😁

[2022-08-23 20:54] brettsam commented on #998
Thanks @LenaVinogradov -- I think I have an improvement here. It'll be included in the next preview of the AppInsights package. Thanks for the report!

[2022-08-23 22:32] kshyju commented on #997
As of today, the two potential outcomes of a function execution are

1. Success - The trigger payload is processed successfully.
2. Failure - There was an error/exception while processing the trigger payload.

In this example, the `FunctionDisabledMiddleware` is not executing the remaining middleware pipeline which processes the invocation. Since there are not exceptions/errors while handling the

[2022-08-23 22:46] kshyju commented on #936
This is fixed now and will be available in the next preview version of worker package we will publish (hopefully next week). Once the package is out, I will share an example of how to handle this use case.

[2022-08-24 02:42] LenaVinogradov commented on #998
thank you for the good news!
I have one more issue to report though. We still see the multiple Trace messages logged for all dependencies (usually one for start request and one for stop)  in addition to the Dependency object in AppInsights. We were hoping the re-introducing the dependencies back in the preview package will eliminate the extra traces. Can you please advise how we can disable them?

[2022-08-24 06:27] olandese opened #1004 "Add support for Azure AD authentication for Application Insights"
Please add support to the new feature "Azure AD authentication for Application Insights" (now GA):

https://docs.microsoft.com/en-us/azure/azure-monitor/app/azure-ad-authentication?tabs=net

I want to use an User Managed Identity to be able to write logs from an isolated linux function to AI with this feature enabled, I can't see any option to configure this in the Microsoft.Azure.Functions.Worker

[2022-08-24 18:13] fabiocav commented on #991
Thanks for reporting the issue.

This will need additional investigation so we can identify the component causing the problem (likely the OOP layer in the host).

Once we identify the cause, we'll discuss next steps here.

[2022-08-24 18:30] fabiocav commented on #995
@Y-Sindo can you provide more information about who we'd be able to work with to make the documentation enhancements?

[2022-08-24 18:32] SeanFeldman commented on #995
I think @cloudmelon was looking into this in parallel. I might be wrong.

[2022-08-24 18:59] fabiocav commented on #1002
Thank you for the response here, @ealsur

@rafaarcangel does the information above help? Do you happen to have multiple Function Apps using the same resource?

If this continues to be an issue, are you able to provide a repro?

Thanks!

[2022-08-24 20:33] jviau commented on #997
@krishnasinghabsg this is an interesting scenario that Azure Functions doesn't natively support. The reason is functions host needs to know about a function being enabled/disabled _before_ we dequeue the message, otherwise we risk repeated dequeues of the same message and then eventual dead-lettering. So dynamic enabling/disabling of functions would be a product enhancement.

However, we can help

[2022-08-25 04:43] Y-Sindo commented on #995
@fabiocav for all things about SignalR Functions extensions you could contact me.

[2022-08-25 06:31] Y-Sindo commented on #995
@SeanFeldman I'd like to add some comments on the 2nd and 3rd questions:

For the negotiation sample, we usually make an HTTP request to get the negotiation response, and then use the URL and access token in the negotiation response to build a `HubConnection` directly. And we have a [JavaScript SignalR client sample here](https://github.com/aspnet/AzureSignalR-samples/blob/main/samples/DotnetIsola

[2022-08-25 10:26] hbrotan commented on #821
@clpo Yes, the error will appear if 0 functions are found, because the config is part of the function. So various errors with the function might result in this.

@kshyju I know you're busy, but I'd really like a response to the behavior I described in my previous post (7 days ago). Thanks.

[2022-08-25 14:33] kshyju commented on #821
@hbrotan Could you open a new issue with relevant details / repro steps, so that we can focus on that problem in that issue.

[2022-08-25 14:57] Ultre00 opened #1005 "[HttpTrigger] Receiving 403 when not sending Expect: 100-continue"
We are hosting an Azure Function V4 with runtime type dotnet-isolated.

The package versions are:
Microsoft.Azure.Functions.Worker "1.6.0"
Microsoft.Azure.Functions.Worker.Extensions.Http "3.0.13"

When the Function is deployed to Azure we are facing some issues with larger requests where the request body is over let's say 100 kb. We immediately get a 403 error. This doesn't even log a requests so

[2022-08-25 15:36] kshyju commented on #1005
@Ultre00 Is this a V3 app or V4? You can check the `AzureFunctionsVersion` element value in your .csproj file. Do you have a minimal repro you could share? (A github repo will be great)

[2022-08-25 17:06] Ultre00 commented on #1005
@kshyju as mentioned this is a V4 function. I also figured out when this happens. It is only in combination with mTLS where the option "clientCertEnabled" is set to true. For now I simply set this to false since we are no longer using mTLS here.

[2022-08-26 19:18] kshyju opened #1007 "Migrate ExtensionStartupRunnerGenerator from ISourceGenerator to IIncrementalGenerator"
IIncrementalGenerator offers better performance with value provider caching.

[2022-08-29 03:11] kshyju commented on #993
The current design is to throw an aggregate exception which contains the other exception which was thrown. We plan on changing the behavior in the next major version change, so that it will throw the actual exception instead of an aggregate exception.

[2022-08-29 03:22] davidfowl commented on #950
Don't do this unless:
- The FunctionContext is immutable/readonly/threadsafe
- The FunctionContext is not disposable

[2022-08-29 17:34] mattchenderson opened #1008 "Epic: Bring in-process features and behaviors to isolated"
_(This item is an epic, aggregating a suite of items so that overall progress can be tracked at a high-level. It is not intended to convey specific timing on its own.)_

**There are features of the in-process model which are not present in the isolated worker at time of this issue being filed. These need to be brought into the worker.**

The scope of the core gaps we aim to close and differences t

[2022-08-29 23:59] savagemonitor commented on #374
I hit this issue as well in .NET Core code but not in PowerShell Core when using Invoke-RestMethod.

[2022-08-30 12:44] LockTar commented on #760
So I'm trying this new preview package locally and in Azure with a .Net 6 function v4 isolated test project. So everything is brand new/green field/new project template. I installed the package and changed the `Program.cs` to:

[code]

The azure portal generated application insights for me and configured the function app.
But it's still unclear to me why logging `Debug` and `Trace` messages isn't

[2022-08-30 15:33] lAnubisl commented on #821
I have Azure function where I was able to fix this issue somehow. Don't know how. Here is the [Terraform sample](https://gist.github.com/lAnubisl/24d551d348736d1b1852f4c486b65dc8) which looks correct but when it is deployed the function gets broken immediately (even without any real code in it). I have compared ARM templates of fixed and broken azure functions and have not found anything important

[2022-08-30 18:30] lAnubisl commented on #821
Here is [ARM Template](https://gist.github.com/lAnubisl/8d5ded50534b5f249c0b78eb9d55d34b) which is for Azure function creation. Immediately after deployment the function is broken.

[2022-08-30 20:06] Dragsaw commented on #821
Are you referring to "WorkerConfig for runtime: dotnet-isolated not found" error? If you see it immediately after creating the Azure Function App then try deploying actual .Net function code there. That can hopefully resolve the problem. That is the case for me as I mentioned [before](https://github.com/Azure/azure-functions-dotnet-worker/issues/821#issuecomment-1206325815).

[2022-08-30 21:30] liliankasem opened #1009 "Cleanup function context creation and disposal"
Clean up context usage in InvocationHandler

Relevant comments:

https://github.com/Azure/azure-functions-dotnet-worker/pull/972#discussion_r958910198

https://github.com/Azure/azure-functions-dotnet-worker/pull/972#discussion_r958913155

[2022-08-30 21:47] lAnubisl commented on #821
Probably the issue is somehow related to "Consumption Plan" case. Because once function resource is broken it is not possible to deploy a function there.

[code]

And the uotput says The attempt to publish the ZIP file through https://func-................scm.azurewebsites.net/api/zipdeploy failed with HTTP status code Failed.

[2022-08-30 22:32] HMoen opened #1010 "PackageReferenceRollbackException during AzureWebJobsStorage dependency configuration process"
VS 2022 17.3.3

Connecting to the AI dependency was smooth, but when connecting to the storage account for AzureWebJobsStorage in the publish profile, it gives the following exception below. Clearing all Nuget caches under Tools => Options did not fix the issue.

.csproj:
[code]

Adding AzureWebJobsStorage to store AzureAppSettings...
Adding AzureWebJobsStorage:blob to store AzureAppSettings...
Ad

[2022-08-30 22:51] kshyju commented on #821
The "**_WorkerConfig for runtime: dotnet-isolated not found_**" error appears when a dotnet-isolated function app is created, but no function payload was successfully deployed.  We recently made some changes to the host runtime, so that this scenario will not be considered an error case anymore. From host version [4.10.1](https://github.com/Azure/azure-functions-host/releases/tag/v4.10.1) onwards,

[2022-08-31 02:18] HMoen commented on #1010
Progress... manually adding the azure storage nuget packages allowed adding of the storage service dependency:

[code]

However, now publishing the consumption func app to Azure fails with:

Publish has encountered an error. We were unable to determine the cause of the error. Check the output log for more details.

Content of diagnostic log:

System.AggregateException: One or more errors occurred.

[2022-08-31 02:18] #1010 closed

[2022-08-31 16:00] kshyju commented on #374
Closing as answered by @rstropek with the updated client code. Please open a new issue if you run into issues.

[2022-08-31 16:00] #374 closed

[2022-08-31 16:04] kshyju commented on #994
runtime version [4.10.1](https://github.com/Azure/azure-functions-host/releases/tag/v4.10.1) deployment is complete. I validated the creation of dotnet-isolated function app without payload and it does not throw an error anymore.

We should be good to move ahead with the portal changes.

[2022-08-31 16:10] vasylstrogushr commented on #760
Hi,
same behavior for me.
After use this package (Microsoft.Azure.Functions.Worker.ApplicationInsights) I don't have any traces or information logs. I had them when used Microsoft.ApplicationInsights.WorkerService but they were not linked in dependency, now nothing at all.

Azure Function v4, .Net 6 isolated.

[2022-08-31 16:22] kshyju opened #1013 "[ColdStart] Explore NET7 AOT / Placeholders"
Try NET7 AOT publishing & measure cold start impact.
Explore placeholder option.

[2022-08-31 17:06] vasylstrogushr commented on #760
Microsoft.Azure.Functions.Worker.ApplicationInsights looks work now for me.
But still not all dependencies are loaded.
For example(screenshot), call to last service has many internal dependencies, but no one is shown here. But traces and information are from all services.
![image](https://user-images.githubusercontent.com/19962626/187737773-a374e89c-56ca-4a47-96fa-4ce757d290cc.png)

[2022-08-31 18:11] brettsam commented on #1004
@AnatoliB / @RohitRanjanMS -- is this something that you are looking into for the host as well? We'll need to collaborate across these two packages.

[2022-08-31 18:11] cloudmelon opened #1015 "Connection string - inner loop - outer loop"
Need to add Connection String in Azure portal after publishing the function from Visual Studio

Connection string  is in local.settings.json and set the connection

[code]

There are some similar asks in the community.

[2022-08-31 18:17] brettsam commented on #1003
We'll see if we can repro this; it may be an issue in the ServiceBus extension itself, rather than the worker.

[2022-08-31 18:23] liliankasem opened #1016 "Implement ExceptionExtensions to check for fatal exceptions"
Create `ExceptionExtensions` class similar to what we're doing in the host

- https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Extensions/ExceptionExtensions.cs

Update broad exception catches to `catch (Exception ex) when (!ex.IsFatal())`

[2022-08-31 18:35] brettsam commented on #1005
@Ultre00 -- where did you have these configurations set? Is this somewhere in App Service?

[2022-08-31 18:38] brettsam commented on #997
@jviau -- can you create an issue to track this in the azure-functions-host repository?

[2022-08-31 18:47] jviau commented on #997
Resolving in favor of https://github.com/Azure/azure-functions-host/issues/8691

[2022-08-31 18:47] #997 closed

[2022-08-31 19:03] #1002 closed

[2022-08-31 19:07] kshyju opened #1017 "Worker options to opt-in the behavior to get empty entries in payload"
We [recently updated ](https://github.com/Azure/azure-functions-host/issues/8499)host to include empty entries when sending the message payload to out of process layer when the `IncludeEmptyEntriesInMessagePayload` capability is present. We need to allow users to opt in to this behavior via worker options when they bootstrap the function app.

Something like

    var host = new HostBuilder()

[2022-08-31 21:33] liliankasem opened #1018 "Investigate SDK-type binding support for OOP workers"
- [x] Proposal for OOP support for sdk-type bindings
- [x] Prototype with Blob storage

[2022-08-31 21:37] jviau opened #1019 "Adopt high-performance logging (logger message source gen)"
Log statement formatting comes with a cost. We should adopt [logger message source gen](https://docs.microsoft.com/en-us/dotnet/core/extensions/logger-message-generator) to offset this cost.

The summary of it is we will pay that cost only once for building the template for a given log instead of each individual log call.

[2022-08-31 21:39] fabiocav commented on #971
Closing as resolved

[2022-08-31 21:39] #971 closed

[2022-09-01 05:10] wesselkranenborg commented on #1017
This is the last step to resolve bug #876 and enable us to enable batching again on the eventhub trigger.

[2022-09-01 06:45] rafaarcangel commented on #1002
Thanks for your responses. I use it as a part of a bigger flow but only in this particular function.
I really don't know the behavior under the hood, but the problem persists.

After reviewing the logic that @ealsur provide to me, I saw that I receive a true condition:
isPartitioned = true;
isMigratedFixed = false,
and ... containerProperties.PartitionKey.Paths[0] != "/id".

I'm using the AzFunc o

[2022-09-01 14:24] ealsur commented on #1002
@rafaarcangel The code you refer to is for the V3 SDK (so I guess you are using extension `4.0.0-preview`).

This version (4.X) creates the lease container with `/id` if it doesn't exist (https://github.com/Azure/azure-webjobs-sdk-extensions/blob/dev/src/WebJobs.Extensions.CosmosDB/Trigger/CosmosDBTriggerAttributeBindingProvider.cs#L143). If your lease container is partitioned with `/_partitionKey

[2022-09-01 16:06] aliqaryan2 commented on #293
these may explain my problem in a better way:

- https://github.com/Azure/azure-sdk-for-net/issues/30887
- https://github.com/Azure/azure-sdk-for-net/issues/29313

[2022-09-01 18:18] Ultre00 commented on #1005
@brettsam yes you can set that in the Function App. If you use an ARM template the properties are called
`clientCertEnabled` in combination with `clientCertMode` but if you use the UI then you can also do this under configuration > general settings > Client certificate mode

[2022-09-02 06:23] cosminstirbu opened #1021 "Azure.Messaging.ServiceBus: The lock supplied is invalid when function executes successfully"
Hello,

We have an isolated .NET 6 Azure Function that consumes a service bus message and publishes two other messages to a different service bus namespace.

The issue is that even after the function finishes executing, as per the attached screenshot, `The lock supplied is invalid. Either the lock expired, or the message has already been removed from the queue, or was received by a different recei

[2022-09-02 14:54] ChuckJonas opened #2360 "Azure Service Bus output binding for Azure Functions is limited to message body"
The way the [service bus output bindings are implement](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus-output?tabs=in-process%2Cextensionv5&pivots=programming-language-javascript) seem to only support the message body... You can't set messageId, sessionId, applicationProperties, etc.  This makes it useless almost any real world use cases.

Are there plans to

[2022-09-04 13:06] Wraith2 opened #1023 "Net48 isolated worker sample fails to find runtime in VS2022"
I'm investigating azure functions as a method of isolating some program logic currently running in-proc in an app service which uses a badly behaving library which generates dynamic methods and compiles code when invoked, this is causing memory problems.

To do this I'm looking at the netfx isolated worker scenario. I downloaded the repo zip, extracted, opened the sln and compiled successfully.
If

[2022-09-05 07:02] rafaarcangel commented on #1002
Ok,... I'll try to review which version I had.
Thank you all for your support!

[2022-09-06 16:24] #920 closed

[2022-09-06 16:40] kshyju commented on #1023
@Wraith2 As of today, you need to use VS 2022 preview version If you want to work with .NET framework isolated/NET 7 isolated projects. See below blog post for details.

[Building .NET Serverless applications with isolated model in Azure Functions and Visual Studio 2022](https://techcommunity.microsoft.com/t5/apps-on-azure-blog/building-net-serverless-applications-with-isolated-model-in/ba-p/35984

[2022-09-06 17:06] mathewc commented on #954
ScheduleStatus is a structure persisted to storage to aid in detection of past due schedule invocations. As the class xml doc says, Next is “the next schedule occurrence”.  So on startup, if schedule monitoring is active, we’ll load the ScheduleStatus (code [here](https://github.com/Azure/azure-webjobs-sdk-extensions/blob/b493a05b47c15c053a8df54f13954525e9d462e8/src/WebJobs.Extensions/Extensions/T

[2022-09-06 17:18] mathewc commented on #954
I have a PR https://github.com/Azure/azure-webjobs-sdk-extensions/pull/797 with a proposed update - if this helps we can make it.

[2022-09-06 18:20] Wraith2 commented on #1023
I want to use netfx 4.8.

[2022-09-06 18:56] cloudmelon commented on #920
Cool see this one is closed, is it going to be in the next worker release ? Would you update the version number here when it's out if possible ? Thanks :) @fabiocav

[2022-09-06 19:53] mathewc commented on #954
Closing as by design, as per the above explanations. We've also made an update to the xml doc.

[2022-09-06 19:53] #954 closed

[2022-09-06 20:54] Wraith2 commented on #1023
Needing the preview version and RC version of the runtime to use the samples is unintuitive and is not documented in the readme. In the searching I did to try and find how to create an isolated worker that blog post never once came up. So please consider this scenario poorly documented. If that's how it should be done in future that's fine but today on stable released apis and tools it is strange.

[2022-09-06 21:06] Wraith2 commented on #1023
Trying to start a new project also doesn't work because the option i want doesn't exist. In the blog post you linked the target dropdown has a "NET Framework Isolated" option, in 17.4.0 Preview 1 that option is not present,
![Untitled](https://user-images.githubusercontent.com/13322696/188737992-78973f51-50c4-468c-8178-1795c9f8b607.png)

[2022-09-07 01:03] #821 closed

[2022-09-07 20:10] fabiocav commented on #1009
@liliankasem to add more details to the issue.

[2022-09-08 01:36] kshyju commented on #1023
@Wraith2
We will investigate this behavior.  Thank you!

For time being, could you try this?
1. Close all VS instances.
2. Delete the "**_AzureFunctionsTools_**" directory from your local app data folder (`%LOCALAPPDATA%`)
3. Open a new instance and check the "Create new" dialog.

The samples folder in our repo contains code for active development bits & bits that is in preview/beta mode. The goal

[2022-09-08 16:32] kshyju opened #1025 "Add appsettings.json as a configuration source"
With the recent addition of app insights logging integration on dotnet worker, we should consider exploring the idea of adding an `appsettings.json` file as a default configuration source to isolated function apps. For customers who are coming from aspnet core webapi background, this experience makes it easier for them.

- Update new project template to include the file.
- Should we have environme

[2022-09-08 17:30] Wraith2 commented on #1023
Clearing that folder has enabled the netfx isolated option in the installer wizard dropdown.

Since this is for new development i'm in the wrong place. Can you point me to any existing samples of netfx isolated workers? these were the only ones I could find.

[2022-09-08 18:53] SeanFeldman commented on #1025
I'd love to
1. Have appsettings.json as the source of truth for the configurations and settings that do not change between team members/environments.
1. Ditch `local.appsetting.config` in favour of the standardized `appsettings.{Environment}.json` for consistency.

[2022-09-08 19:43] #976 closed

[2022-09-08 21:43] liliankasem opened #1027 "Add E2E tests for the invocation cancel feature"
https://github.com/Azure/azure-functions-dotnet-worker/pull/972 added the ability for us to cancel in-flight invocations. With the host changes now release, we should add E2E tests for this feature.

[2022-09-08 21:45] dennisdietrich opened #1028 "Logging partially broken in v4 host targeting .NET Framework 4.8"
### REPRO STEPS

1. Create a simple function that logs trace and debug messages targeting .NET Framework 4.8
2. Set the log level in the host configuration to _Trace_
3. Run the function as an isolated process locally with the v4 function host

Example code/config (see comment for full sample):

[code]

[code]

### EXPECTED

All log message, including trace and debug, to show up in the log

### AC

[2022-09-08 22:23] kshyju commented on #1023
You can refer the NetFxWorker sample in the repo. What issue are you having with that?

You need to use the preview version of VS **_as of today_** since this is a new feature we started supporting recently. This is a point in time issue. The stable version of VS will support these templates very soon.

[2022-09-09 00:58] jdluzen commented on #747
I've been trying to work around this issue for 4 days now without success. Until I stumbled across a SO comment about dependencies being on `net5.0`. I migrated those manually to `net6.0` and that resolved it for me.

[2022-09-09 01:02] RetYn opened #1029 "Trace level log presented in log stream with Information log level Settings"
my host.json
function version v4
[code]
In application insights, log level is correct, no trace level log is recorded
But In log stream and Azure Code+Test panel, I can see log level output [verbose] for httpclient that will cause HTTP header
authority leak.
I do not set any custom log handler in IHttpClientFactory. HttpClient created by IHttpClientFactory will log request header in trace level bu

[2022-09-09 11:02] thomhurst commented on #384
For getting MessageHeaders in isolated functions I've done this:

[code]

Then in the function, inject in FunctionContext and use that extension:

[code]

[2022-09-11 02:11] ianmccaul commented on #418
Well this will prevent any upgrade to .NET 7 as my understanding is its unlikely to get an in-process version and msft seems to be moving away from inproc and to isolated. Ok, so we cant do that until this is resolved. Having to put connection strings in local dev environments is a risk and management pain when they need to be changed. Especially with IaC involved, all this stuff is provisioned in

[2022-09-12 11:08] RetYn commented on #1029
#796 Does my issue related to this?
The difference between us is the log level recorded in application insights.

[2022-09-12 11:10] RetYn commented on #796
@liliankasem  #1029 Does my issue also related to this issue?

[2022-09-12 17:35] liliankasem commented on #796
Issue #1029 is not related to this one

[2022-09-12 21:03] #966 closed

[2022-09-13 21:51] GurdipS5 opened #1030 "Unhandled exception. System.InvalidOperationException: The gRPC channel URI 'http://:0' could not be parsed."
Hi,

I have a function in isolated .NET 6.0 which runs in Kubernetes but gives this error:

Unhandled exception. System.InvalidOperationException: The gRPC channel URI 'http://:0' could not be parsed.

I am trying to fix this, I even set the function configuration in Program.cs but same thing. Is there a way to avoid GRPC support?

[2022-09-14 02:11] JoshLove-msft opened #1031 "[BUG] Null reference exception in isolated Function application"
@torepaulsson commented on [Tue Sep 13 2022](https://github.com/Azure/azure-sdk-for-net/issues/31094)

### Library name and version

Azure.Messaging.ServiceBus, v. 7.10.0.0/omewhere it uses 7.8.0.0

### Describe the bug

I've noticed that my out-of-process Azure Function app fail sometime with a LOT of NullReferenceException that are thrown from `Azure.Mesaging.ServiceBus.ReceiverManager.RenewMess

[2022-09-14 10:44] stijnmoreels commented on #968
Currently implementing our own `FunctionContext` (https://github.com/arcus-azure/arcus.webapi/blob/master/src/Arcus.WebApi.Tests.Unit/Logging/Fixture/AzureFunctions/TestFunctionContext.cs) so we can at least unit test it. But even this requires reflection and a deep-dive in the internal code.

[2022-09-14 12:37] lund76 commented on #760
Hello,

I'm also struggling like cracy to get the  trace and debug log work:

# TL;DR:
Using an in process function. The out the box logging works fine (even structures the log a bit). But in isolated I don't get any structure, and Traces and Debugs are not logged. Not in console - not in application insight. With a few config in progam.cs I can get a structured log going - but no way traces and d

[2022-09-14 18:16] jviau commented on #1015
@cloudmelon can you expand a bit on what you are asking for here? I ask because .NET - and Azure - already has a best practice for managing secrets like this. Are we aiming to build off of that, or role our own thing?

For starters, we _shouldn't_ recommend secrets in `local.settings.json` as that risks checking it in as part of source control. Instead, we should recommend [user secrets](https://d

[2022-09-14 18:21] satvu commented on #1021
We're going to close this issue and consolidate the investigation on #1003 - we suspect the root cause is the same.

[2022-09-14 18:21] #1021 closed

[2022-09-14 18:41] satvu commented on #1030
@GurdipS5 How are you trying to run this? Are you doing `dotnet run` on the FunctionApp.exe? Please provide minimal repro steps.

[2022-09-14 18:50] satvu commented on #1031
@torepaulsson What version of worker extension are you using?

[2022-09-14 20:07] fabiocav commented on #1018
This work has been completed. @liliankasem will be opening additional issues for the work we're tracking for sprint 130

[2022-09-14 20:07] #1018 closed

[2022-09-14 20:09] fabiocav commented on #1013
Work for this is in progress and will span across a few sprints as validation happens.

[2022-09-15 04:12] dennisdietrich commented on #1028
Just noticed something interesting that may help to narrow down the root cause: It seems that the logger returned to the function is misconfigured. `ILogger.IsEnabled(LogLevel.Trace)` and `ILogger.IsEnabled(LogLevel.Debug)` appear to always return `false` regardless of the log level configuration.

[2022-09-15 06:27] torepaulsson commented on #1031
I use version 1.8.0, I've included a list of the other Microsoft packages below.

[code]

[2022-09-15 13:54] ryansan opened #1033 "Can't "Test/Run" in portal with .net 6, AF v4, dotnet-isolated"
![image](https://user-images.githubusercontent.com/31653675/190421892-17805aa4-afa6-427c-98af-32eaefdb4f2a.png)

This is a function with HTTP trigger. Is running an isolated function through the portal not supported or this a bug?

[2022-09-15 14:41] ryansan commented on #1033
Also why does it say "Editing .NET 5 Function Apps is not supported in the Azure portal. Use your local development environment to edit this Function App." in the overview pane. I'm using .NET 6. Not trying to edit the function app though the portal, just wondering.

[2022-09-15 15:38] jimpudar commented on #281
Hi @fabiocav, there haven't been any updates on this feature for quite some time.

Is this something we can really expect to happen? If so, do we have any rough idea of the priority or an ETA?

If we can expect this sometime this year or even in 2023 Q1, I'd put less effort into making our own framework while writing tests for a new isolated functions service.

Thanks!

[2022-09-15 15:54] liliankasem opened #1034 "Implement Cosmos DB rules and converter"
Expand the existing sdk-type binding prototype to also include hydrating a Cosmos DB client.

- [x] Create input and trigger binding rules in the [webjobs extension for cosmos ](https://github.com/surgupta-msft/azure-sdk-for-net/tree/main/sdk/cosmosdb)
- [x] Write a converter in the [worker extension](https://github.com/Azure/azure-functions-dotnet-worker/tree/main/extensions/Worker.Extensions.Cos

[2022-09-15 16:00] liliankasem opened #1035 "Implement SDK-type binding prototype using new version of ParameterBindingData"
Prototype the SDK-type binding feature with this new [ParameterBindingData](https://github.com/Azure/azure-webjobs-sdk/blob/c3c16c0f78c406043bf71da80586da0a7499acab/src/Microsoft.Azure.WebJobs.Host/Bindings/ParameterBindingData.cs) instead of using a property dictionary

[code]

[2022-09-15 16:10] liliankasem opened #1036 "Design a pattern for extensions to advertise the types they support"
Pattern to allow an extension to let us know what types it supports.

a) We discussed maybe passing the extensions converter to the analyzer, and having the analyzer look through the convert to see the types supported by a given extension.

b) We discussed adding a new property to the [ExtensionInformationAttribute](https://github.com/Azure/azure-functions-dotnet-worker/blob/main/extensions/Worker

[2022-09-15 16:18] kshyju commented on #1033
Currently this is a known issue in the portal and we are working on fixing this. You can always test your http triggers using tools like Fiddler or Postman.

For the "_Editing .NET 5 Function Apps is not supported in the Azure portal_" message, It is an informational message. Let me follow up with the portal team to see whether this message is relevant anymore. (cc @cloudmelon)

[2022-09-15 16:22] MacMcDell opened #1037 "Attempting to add ApplicationInsights into isolated .net6 function results in error in Microsoft.AspNetCore.Hosting.DefaultApplicationInsightsServiceConfigureOptions"
#### using isolated .net6 V4 model for azure functions.

#### C#

#### Trying to figure out what I am doing wrong to add applicationInsights to my azure v4 Isoloated .net6 project. In Program.cs I have the following within .ConfigureServices()....

[code]

The error I keep getting back is
**Language Worker Process exited. Pid=6268.
[2022-09-15T16:08:57.439Z] C:\Program Files\dotnet\dotnet.exe exit

[2022-09-15 16:23] ryansan commented on #1033
I see. Can you give a rough estimate for when we can expect a fix for this?

[2022-09-15 16:48] MacMcDell commented on #1037
reviewing the current documentation for isolated functions I can see I was likely putting it in the wrong location.
[code]

but also, (and this doesn't seem well documented), you need to be using this library over the aspnetcore one...
[https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker.ApplicationInsights](url)

[2022-09-15 16:48] #1037 closed

[2022-09-15 18:03] rbaddam09 opened #1038 "Always throwing general exception even though i raise custom exception."
I'm throwing custom exception based on the scenarios but it's always going to general exception in custom middle ware.
It is always going to default in switch case instead of KeyNotFoundException. is this expected behavior?. Am i missing anything to add?.
middleware:
namespace WebApi.Middleware
{
    public class ErrorHandlerMiddleware
    {
        private readonly RequestDelegate _next;

[2022-09-15 21:04] brettsam opened #1040 "[AppInsights] verbose request tracing"
I have one more issue to report though. We still see the multiple Trace messages logged for all dependencies (usually one for start request and one for stop)  in addition to the Dependency object in AppInsights. We were hoping the re-introducing the dependencies back in the preview package will eliminate the extra traces. Can you please advise how we can disable them?
Here is a segment of just one

[2022-09-15 21:06] brettsam commented on #1040
@LenaVinogradov -- I've created a new issue here to track this.

Can you share how you've set up your Program.cs in the worker? I don't see these logs anywhere in my samples and they appear to be [coming from .NET](https://github.com/dotnet/runtime/blob/main/src/libraries/Microsoft.Extensions.Http/src/Logging/LoggingScopeHttpMessageHandler.cs#L96). Could you have enabled them somehow?

[2022-09-15 21:15] brettsam commented on #1040
Oh, are you using the HttpClientFactory? These may be coming from there: https://www.stevejgordon.co.uk/httpclientfactory-asp-net-core-logging

[2022-09-15 21:48] kshyju commented on #1038
The code shared here does not look like azure functions code. If you are trying to create a middleware in aspnet core web api and running into issues,  please open an issue in https://github.com/dotnet/aspnetcore repo. Thanks!

[2022-09-15 21:48] #1038 closed

[2022-09-15 21:52] kshyju commented on #1033
No ETA to share at the moment. We will keep this issue open to track these items and share an update here when we have one. Stay tuned.

[2022-09-15 22:36] #1031 closed

[2022-09-16 00:58] rbaddam09 opened #1042 "Always throwing general exception even though i raise custom exception."
I implemented the custom middleware in azure function. Based on the different business cases, I'm throwing custom exception. I had switch case implemented based on the type of exception in the middle ware to catch the exception which is thrown from azure function and send the appropriate error message and the status code to the user.
But somehow it always throwing the default exception and can not

[2022-09-16 01:02] #1023 closed

[2022-09-16 03:52] RohitRanjanMS commented on #1029
Hi @RetYn this is by design. Filters are applied only for the data that is stored in ApplicationInsights.
What you see in the log streaming is not stored anywhere. Data is streamed directly from the AI SDK to the UI (Azure portal). This is only for the duration for which you have the UI open and there's timeout as well. The purpose of log streaming is to get a quick pulse of the function execution

[2022-09-16 05:48] RetYn commented on #1029
@RohitRanjanMS
Thanks for you confirm.
But that's really strange behavior because I can not see those logged in the console when I run locally and when I deployed to the azure , I will see it.

[2022-09-16 14:00] RohitRanjanMS commented on #1029
Hi @RetYn you can read about the Live Metrics (log streaming) [here](https://docs.microsoft.com/en-us/azure/azure-monitor/app/live-stream). Code + Test also uses live metrics, but it's filtered to reduce the noise. AI -> Live Metrics shows everything.

[2022-09-17 00:10] kshyju commented on #1029
Closing as answered.

[2022-09-17 00:10] #1029 closed

[2022-09-17 00:25] kshyju commented on #1042
@rbaddam09 Could you please format the code in the question? (see _[Creating and highlighting code blocks](https://docs.github.com/en/get-started/writing-on-github/working-with-advanced-formatting/creating-and-highlighting-code-blocks)_)

The code you shared is also not compliable as it is. Please fix that so that we can take a look. Thank you!

[2022-09-17 10:15] HariKrishna598 opened #1045 "There is no Functions runtime available that matches the version specified in the project."
Regarding the closed issue https://github.com/Azure/azure-functions-dotnet-worker/issues/989#issue-1331152766

Note: I didn't get Re-open the issue option so posting as the new issue here.

Using the code sample of .NET 4.8 Framework Azure Functions Project given in this [GitHub Repo](https://github.com/Azure/azure-functions-dotnet-worker/tree/main/samples/NetFxWorker), getting the same error like

[2022-09-17 16:32] kshyju commented on #1045
Are you using the [**preview** ](https://visualstudio.microsoft.com/vs/preview/)version of VS 2022?

[2022-09-17 20:09] rbaddam09 commented on #1042
@kshyju formatted the code and gave the git repo url where you can download and debug the code

[2022-09-17 21:11] Marusyk opened #1046 "Error indexing when use Azure Blob storage input binding"
My function is

[code]
it uses
[code]
Error

[2022-09-17T21:08:22.256Z] Error indexing method 'DownloadFIle'
[2022-09-17T21:08:22.259Z] Microsoft.Azure.WebJobs.Host: Error indexing method 'DownloadFIle'. Microsoft.Azure.WebJobs.Host: Cannot bind parameter 'blob' to type CloudBlockBlob. Make sure the parameter Type is supported by the binding. If you're using binding extensions (e.g. Azure Storage,

[2022-09-18 04:58] kshyju commented on #1042
Thanks!

If your function is async and an exception is thrown while executing the function code, that exception is wrapped in an [AggregateException](https://learn.microsoft.com/en-us/dotnet/api/system.aggregateexception?view=net-6.0) before it is propagated.  You need to inspect the `InnerExceptions` property of this AggregateException instance and act on the inner exception entries as needed.

S

[2022-09-18 05:09] kshyju commented on #1046
Are you mixing in-proc and [isolated model](https://learn.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-guide)? The function code you shared looks like it is an in-proc function.  But the package you mentioned (`Microsoft.Azure.Functions.Worker.Extensions.Storage.Blobs`) is a package needed for out-of-process/isolated function apps.

For issues with in-proc function apps, pleas

[2022-09-18 09:14] HariKrishna598 commented on #1045
![VSData](https://user-images.githubusercontent.com/88704316/190894798-5a33b2bd-c23d-4667-ba27-b3c5af373bf9.png)

[2022-09-18 09:15] HariKrishna598 commented on #1045
![VSData](https://user-images.githubusercontent.com/88704316/190894855-47367023-8512-4e6a-99e3-fbf4c6568fd3.png)

[2022-09-18 10:22] jassent commented on #747
I too am having this problem. This is an Azure Function .NET6 isolated mode.

The function works locally, works when published to an Azure Function, but does not work when published to a deployment slot (in either Consumption Mode or App Service Plan).

You may be thinking the deployment slot is missing a config/setting from the primary slot...I double-checked and I tested it. I published a differ

[2022-09-18 15:19] Marusyk commented on #1046
This is the isolated function https://learn.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob-input?tabs=isolated-process%2Cextensionv5&pivots=programming-language-csharp#usage

[2022-09-18 15:49] kshyju commented on #1046
You are using `FunctionName` attribute which is for in-proc functions. Isolated functions use `Function` attribute.  Also, `HttpRequest` type cannot be used in isolated as a parameter type, instead [HttpRequestData ](https://learn.microsoft.com/en-us/dotnet/api/microsoft.azure.functions.worker.http.httprequestdata?view=azure-dotnet)type needs to be used to bind to the incoming http request.

I sug

[2022-09-18 15:53] kshyju commented on #1045
That does not look like the [preview ](https://visualstudio.microsoft.com/vs/preview/)version of VS2022. With preview version, you should see something like below when you open the About dialog.

![image](https://user-images.githubusercontent.com/144469/190916069-7212d773-623c-417c-9ee6-28894c02dd82.png)

Please download and install the preview version from here: https://visualstudio.microsoft.com

[2022-09-18 18:22] Marusyk commented on #1046
Oh, I see, thanks. Could you suggest what should I use instead of `new FileStreamResult(await blob.OpenReadAsync(), "application/octet-stream")`?

[2022-09-18 18:47] Marusyk commented on #366
Well... what is the status? Any updates since 2021?

[2022-09-18 22:10] rbaddam09 commented on #1042
@kshyju thanks for looking into it.
I'm catching AggregateException . But i do not see anything which identify the type of custom exception . In that case i do not know what is the status code i should have to return to the user. Am i missing something here?
Not sure what you are referring here?. My title itself i mentioned that i can able to catch the general exception and read the message what i

[2022-09-18 22:21] jassent commented on #747
I resolved my issue...The function name was too long. The default name provided by Visual Studio when publishing makes the name too long for Azure as described here:
https://github.com/Azure/azure-functions-host/issues/2015

Create an Application Setting with the key of "AzureFunctionsWebHost:hostid" then give the host id a unique name less than 32 characters. Make it a deployment slot setting.

[2022-09-19 00:29] Marusyk commented on #856
any plans to implement this?

[2022-09-19 00:36] SeanFeldman commented on #856
[Planned and Comitted](https://github.com/Azure/azure-functions-dotnet-worker/projects/2)

[2022-09-19 05:09] HariKrishna598 commented on #1045
![Vs2022174previewerrror](https://user-images.githubusercontent.com/88704316/190953103-c1330544-a944-49c0-8b5f-3bda39156b39.png)

I have tried with the 17.4 2022 Preview version also but getting the same error

[2022-09-19 16:39] cloudmelon commented on #1045
What is your .csproj ? did you target your version to .netframework v4 ? ( .net framework isolated template ) ?

[2022-09-19 17:34] #998 closed

[2022-09-19 17:52] kshyju opened #1047 ".NET Framework isolated option missing in VS2022 17.4.0 Preview 2"
When trying to create a new azure functions project, I do not see the ".NET Framework isolated" option in the "Functions worker" dropdown, as shown in this [blog post](https://techcommunity.microsoft.com/t5/apps-on-azure-blog/building-net-serverless-applications-with-isolated-model-in/ba-p/3598425).

![image](https://user-images.githubusercontent.com/144469/191080168-983f74d6-2153-462d-9928-962a68

[2022-09-19 20:09] josemarfdc commented on #796
I'm facing a similar issue with a Python function

[2022-09-19 21:45] satvu opened #1050 "Add Retry Policy attributes to source generator"
Similar to [this issue](https://github.com/Azure/azure-functions-dotnet-worker/issues/971) for the current function-indexing methods, we want to add retry policy attributes for source-generated work-driven function indexing.

[2022-09-19 23:43] fabiocav commented on #1031
@JoshLove-msft @torepaulsson the extension has now been published: https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker.Extensions.ServiceBus

Thanks!

[2022-09-20 07:39] matsla opened #1051 "Migrate functions v1 to v4 host on .NET Framework 4.8 in an isolated process question"
We have v1 functions using C# targeting .NET Framework 4.6.1. When migrating to functions v4 .NET Framework 4.8 is it supported for the C# project to continue to target .NET Framework 4.6.1 or must the C# project change target to .NET Framework 4.8?

[2022-09-20 12:34] HariKrishna598 commented on #1045
Preview package references not worked but the latest worked:

[code]

[2022-09-20 15:20] ramya894 commented on #1051
@matsla v1 functions using C# targeting .NET Framework 4.6.1 is no longer supported, please change C# project change target to .NET Framework to 4.7 and higher.

[2022-09-20 17:02] brettsam commented on #998
FYI -- preview2 is now available: https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker.ApplicationInsights/1.0.0-preview2

[2022-09-20 17:59] kshyju opened #1053 "[AOT] Update worker.config generation to have correct executable name"
The `worker.config` is generated at build time, which contains the executable name. It currently produces incorrect value for `defaultWorkerPath` property (`.dll` extension instead of `.exe`) for an AOT published function app.

[2022-09-20 18:17] kshyju opened #1054 "[AOT] Input converter creation code gets trimmed"
We create the converter instance when it is requested first time (at runtime). This code gets trimmed with AOT publishing.

https://github.com/Azure/azure-functions-dotnet-worker/blob/main/src/DotNetWorker.Core/Converters/Converter/DefaultInputConverterProvider.cs#L51

[2022-09-20 19:18] kshyju opened #1055 "[AOT] Replace usage of IConfiguration.Bind"
`IConfiguration.Bind` is not trimmer friendly.

See https://github.com/dotnet/runtime/discussions/59230

We use this method to bind to[ GrpcWorkerStartupOptions](https://github.com/Azure/azure-functions-dotnet-worker/blob/1da3c27d3b24e648a20356fb3180abfcdc7f6cff/src/DotNetWorker.Grpc/GrpcStartupOptions.cs#L7) type, which is to represent the data from the command line arguments sent from host

http

[2022-09-20 19:27] kshyju opened #1056 "[AOT] Make Isolated worker AOT friendly"
This issue is to track the progress of making isolated worker AOT friendly.

Task list

- [ ] #1053
- [ ] #1054
- [ ] #1055

[2022-09-20 22:05] jviau commented on #1055
Also relevant: https://github.com/dotnet/runtime/issues/44493

[2022-09-21 15:13] mvacha commented on #998
@brettsam I can confirm that with preview2 the dependecies are correctly nested. 👍

[2022-09-21 15:48] kshyju opened #1057 "[AOT] Switch to source gen version of Serialize/Deserialize"
Review usage of `JsonSerializer.Deserialize`/`JsonSerializer.Serialize` methods and see we can replace those with overloads which takes JsonTypeInfo or [JsonSerializerContext ](https://docs.microsoft.com/en-us/dotnet/api/system.text.json.serialization.jsonserializercontext?view=net-6.0)(The ones using SourceGen)

Reference: [How to use source generation in System.Text.Json](https://learn.microsoft

[2022-09-21 16:02] kshyju opened #1058 "Skip creating functions.metadata when source gen version of function metadata provider is enabled"
When source generated version of function metadata provider is enabled, we do not need to create the `functions.metadata` file.

Currently the build task is creating an file with empty array as content.

[2022-09-21 16:57] satvu commented on #1058
We will need to add a condition that checks the `FunctionsEnableWorkerIndexing` MSBuild property to the 4 GenerateFunctionMetadata tasks in our MSBuild targets file ([example here](https://github.com/Azure/azure-functions-dotnet-worker/blob/1da3c27d3b24e648a20356fb3180abfcdc7f6cff/sdk/Sdk/Targets/Microsoft.Azure.Functions.Worker.Sdk.targets#L68)).

However, this is complicated by the fact that thi

[2022-09-21 18:06] fabiocav commented on #1015
@cloudmelon closing this in favor of the work we're doing to support the VS dependencies and connection references. Let us know if any additional information is required.

[2022-09-21 18:06] #1015 closed

[2022-09-21 18:14] fabiocav commented on #1033
@cloudmelon will follow up with something we can use to track the progress of this work

[2022-09-21 18:20] fabiocav commented on #1040
@brettsam to review and decide whether we need to continue tracking this as an issue.

[2022-09-21 18:21] fabiocav commented on #1047
This is a known issue with Preview 2 and we expect the issue to be fixed in Preview 3

[2022-09-21 18:40] jviau commented on #1046
@Marusyk did this line `response.Body = blob;` you have comment out not work?  Make sure to also remove this line `response.WriteString("Welcome to Azure Functions!");`.

[2022-09-21 18:46] fabiocav commented on #1045
@HariKrishna598 that your latest version references are correct. Closing this as answered, but please let us know if you have any additional questions.

Thanks!

[2022-09-21 18:46] #1045 closed

[2022-09-21 19:35] kshyju opened #1059 "Functions metadata for blob trigger is not matching with in-proc"
For a blob trigger in a V4 in-proc app, we generate the binding JSON with `path` property. When a blob trigger is created in isolated model, the binding property name is `blobPath` (See sample below).

As per @chiangvincent, this causes scale control to behave incorrectly.

Vincent Chiang (vchiang) edited at 2022-09-20 13:01:05 PDT
This appears to be a bug within the functions host SDK. Since the

[2022-09-21 19:57] Marusyk commented on #1046
What about filename and contenttype that was done by `FileStreamResult`
Only this way?  😕
[code]
`byte[]` - will load all content to the memory 😕
Ok, could you suggest some timelines from your roadmap? Is it public?

[2022-09-21 20:19] jviau commented on #1046
There isn't a specific issue for this feature, rather it is part of the epic to bring in-process features over: #1008. No specific timeline for this exact binding, but we are actively working on it.

Unfortunately, loading into memory is something we cannot avoid. Even with the stream binding, the response has to go over gRPC back to the host, which will involve reading the stream into memory. Thi

[2022-09-21 22:02] #1030 closed

[2022-09-21 22:46] Marusyk commented on #1046
Ok, thanks for info and support. I'm going to close the issue for now.

[2022-09-21 22:46] #1046 closed

[2022-09-22 00:37] Francisco-Gamino opened #1060 "Investigate dotnet language worker integration tests failures in Functions V3 for 9/21/22"
Investigate DotNet language worker tests failures in Functions V3 for 9/21/22

Here is the link to the pipeline executions with the test failures:
https://azfunc.visualstudio.com/Azure%20Functions/_build/results?buildId=96326&view=ms.vss-test-web.build-test-results-tab

![image](https://user-images.githubusercontent.com/12720858/191633615-940333d4-1074-4b19-a191-4dfc657a328f.png)

[2022-09-22 07:10] anujgeek opened #1061 ".Net framework 4.8 general availability?"
Can you please let us know an estimated timeline on when to expect general availability for .net framework 4.8 support?
https://azure.microsoft.com/en-us/updates/public-preview-azure-functions-net-framework-support-in-the-isolated-worker-model/

[2022-09-23 00:17] satvu commented on #1060
@Francisco-Gamino and I looked into this - the issue is that we have only one E2E test app that runs only one version of Functions. The v3 pipeline was attempting to test a v4 app.

[2022-09-23 13:10] cosminstirbu commented on #619
Did install the latest preview https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker.ApplicationInsights/1.0.0-preview2 an most things are working as expected.

The only issues that we're still seeing is that the logging categories are not honoured (all of our own traces, or from EF Core, or from HttpClient have `Function.<YOUR_FUNCTION_NAME>.User` category).

[2022-09-23 14:18] ahult opened #1062 "ServiceBusTrigger shutdown throws TaskCanceledException"
We have an Azure Function that listens to a service bus via a batched service bus trigger. It seems that whenever the service bus listener shuts down it throws a TaskCanceledException causing an error log in our application insights. Not seeing any other actual functionality issues besides the error log however. This happens every time the listener shuts down.
I hope this is the correct repo to pu

[2022-09-23 17:00] Yashuaa commented on #845
any update on this?

[2022-09-23 18:00] rvdginste commented on #950
@davidfowl

This code looks very similar to [FunctionContextAccessor](https://gist.github.com/dolphinspired/796d26ebe1237b78ee04a3bff0620ea0) and is a translation of the HttpContextAccessor to the FunctionContext.

I understand about the "not disposable", because it would not be properly disposed.
But I do not understand about the immutable/readonly/threadsafe part?

FunctionContext encapsulates t

[2022-09-23 18:55] davidfowl commented on #950
I wrote an essay here https://github.com/davidfowl/AspNetCoreDiagnosticScenarios/blob/master/AsyncGuidance.md#asynclocalt 😄

[2022-09-23 21:24] kshyju commented on #195
Is #920 addressing this?

[2022-09-23 21:34] rvdginste commented on #950
@davidfowl

"essay" is uh.. fitting, but very informative, thank you!

[2022-09-23 22:51] kshyju commented on #258
If an `ICollector<T>` or `IAsyncCollector<T>` type is parameter is used **with** any of the WebJobs attribute decoration, our current [WebJobsAttributesNotSupported ](https://github.com/Azure/azure-functions-dotnet-worker/blob/main/sdk/Sdk.Analyzers/WebJobsAttributesNotSupported.cs#L13)analyzer will report an [error](https://dotnet-worker-rules.azurewebsites.net/rules?ruleid=AZFW0001).

<img width

[2022-09-23 23:16] kshyju commented on #187
@hansmbakker This should be working. Here is a quick sample for your reference.

[code]

This sample is reading the itemId value from the http request URL and use that for getting the blob input entry. For example if you issue a request like `/api/items/foo`, "foo" will be bound to the ItemId segment of the route and the blob input binding will try to get the "foo.txt" file from the "sample-workit

[2022-09-26 17:32] Done3319 opened #1063 "Log host debug messages to ApplicationInsights"
I'm having difficulties getting debug messages like

`_logger.LogDebug(message);`

as e.g. defined in FunctionsSyncManager.cs logged to ApplicationInsights. It looks like only LogDebug statements with a category (as e.g. used in HostController.cs) are processed properly.

host.json is configured for trace debug level "catch-all":

`{
  "version": "2.0",
  "logging": {
    "applicationInsights": {

[2022-09-26 17:33] MacMcDell opened #1064 "IotHubTrigger --> EventHubTrigger so many problems with upgrade from 3.1 to .net 6 isolated."
I have a legacy/older running 3.1 azure function IOThubTrigger running using  .net 3.1. Trying to upgrade the project to .net 6 Isolated. Running into so many issues with reading the EventData objects.
#### Old Function Signature which is working 100%

[code]

When the function executes from the listener I get the following payload:
![old](https://user-images.githubusercontent.com/1512821/19234098

[2022-09-26 19:05] MacMcDell commented on #1064
[I found this link with exactly the same issues as I am having](https://github.com/Azure/azure-functions-core-tools/issues/3034), however the resolution is not working for me. Replacing the EventHubName with whatever is in EntityPath ... in my case is application name iothb-ingress-pr resulted in the function working but the events are still all empty of any content. Running the same app as 3.1 gi

[2022-09-26 19:55] MacMcDell commented on #1064
[I was able to figure out from another ticket](https://github.com/Azure/azure-functions-dotnet-worker/issues/525) to change my inputs body from EventData[] to Byte[][] or string[] . This has enabled me to obtain the payloads I need to continue working BUT it means I have lost all features of EventData . I feel like either something is very wrong here or this needs to be better documented somehow.

[2022-09-26 20:33] Done3319 commented on #1063
Sorry, incorrect Github repo - will re-open at azure-functions-host

[2022-09-26 20:33] #1063 closed

[2022-09-26 20:37] Done3319 opened #1110 "Log host debug messages (to Application Insights)"

[2022-09-27 02:19] cloudmelon commented on #1061
hi @anujgeek We just announced it today : https://techcommunity.microsoft.com/t5/apps-on-azure-blog/announcing-general-availability-for-azure-functions-v4-net/ba-p/3637605

[2022-09-27 14:13] ilkayilknur opened #1067 "Adding Custom Dimensions Isn't Working In Telemery Initializers & Processors"
I'm using the `Microsoft.Azure.Functions.Worker.ApplicationInsights-preview2` package and trying to send custom dimensions with the telemetry. I can see that the telemetry processor is triggered in my local environment, but when I publish the function app, I can't see the custom dimensions in application insights. I tested both telemetry initializers and processors, and it didn't work.

Telemetry

[2022-09-27 15:49] kshyju commented on #1064
Binding to the `EventData` type is not yet supported in the isolated model. But you can bind the messages to string array or an array of POCO (_which has a matching structure of the message payload sent to the event hub_).

Obtaining the meta properties of the message is also supported. Please refer the [event hub trigger example](https://github.com/Azure/azure-functions-dotnet-worker/blob/main/sa

[2022-09-27 18:35] kshyju opened #1070 "2X Major version"
This issue is to track the progress work needed for 2X version.

Task list

- [ ] #606
- [ ] #776
- [ ] #993

[2022-09-27 18:36] kshyju commented on #1070
Add any breaking changes we want to bring with [2x changes](https://github.com/Azure/azure-functions-dotnet-worker/labels/2x%20changes) label.

[2022-09-27 23:06] cloudmelon opened #1075 "Add EOL to tooling feed - .NET Lifecycle"
Currently : Stack API display text is for the Azure portal, and the Visual Studio is consuming [tooling feed](https://github.com/Azure/azure-functions-tooling-feed/blob/main/cli-feed-v4.json) ( displayName) for drop-down information ( e.g. NET 3.1 EOL on Dec 13 2022 )

Add a new property ‘endOfLifeDate’ to the tooling feed.

Reference
[EOL changes in UX Stack API](https://github.com/Azure/azure-fu

[2022-09-27 23:24] cloudmelon opened #1076 "Call out contributions for Code samples - v1 .NET Framework"
Fabio helped us to create the repo, and you can click on the following link to join the vteam :
https://repos.opensource.microsoft.com/orgs/Azure/teams/azure-functions-vs-migration

I am putting together some scenarios and will create a GitHub item,  we’ll assign that to the folks on the team to work on some .NET Framework v1 samples ( initiate state )

**Key Migration scenarios**

o	.NET Framewor

[2022-09-28 00:21] kshyju commented on #1061
Closing as answered. Please let us know if you have any questions.

[2022-09-28 00:21] #1061 closed

[2022-09-28 08:11] #187 closed

[2022-09-28 10:18] taurit opened #1077 "Google.Protobuf used by Microsoft.Azure.Functions.Worker.Grpc/1.5.0 requires patching (CVE-2022-1941)"
The most recent `Microsoft.Azure.Functions.Worker.Grpc`, v1.5.0, [depends on Google.Protobuf 3.15.8](https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker.Grpc/1.5.0#dependencies-body-tab). That version of Google.Protobuf seems to have a known vulnerability, CVE-2022-1941.

I suggest updating the dependency to apply a patch. Currently, automated tools scanning for code vulnerabilities ma

[2022-09-28 16:29] kshyju opened #1078 "Expose new overloads for WriteStringAsync and WriteBytesAsync extension methods"
`Stream.WriteAsync` has an [overload](https://learn.microsoft.com/en-us/dotnet/api/system.io.stream.writeasync?view=netstandard-2.0#system-io-stream-writeasync(system-byte()-system-int32-system-int32-system-threading-cancellationtoken)) which takes a CancellationToken instance as a parameter.

We currently have 2 WriteAsync extension methods which are not using this overload. We should consider ex

[2022-09-28 18:01] kshyju commented on #1042
@rbaddam09 The type of the inner exception entry will be the AppException type.

Here is a working version of the Invoke method.

[code]

![image](https://user-images.githubusercontent.com/144469/192855287-f90ee1b4-7d47-4aff-af42-1d46982ef8d1.png)

Hope this helps. Let us know if you still run into issues.

[2022-09-28 18:14] fabiocav commented on #1059
The issue comes from the fact that the existing serialization logic simply uses the property name to create the metadata, deriving the name from here: https://github.com/Azure/azure-functions-dotnet-worker/blob/1f7a321d88b2f66f792f3889ba7683d83ff45b92/extensions/Worker.Extensions.Storage.Blobs/src/BlobTriggerAttribute.cs#L31

With the in-proc model, the tooling will apply transformations to some o

[2022-09-28 18:17] fabiocav commented on #1059
We should also review the other extensions we special case to make sure we don't have other issues.

[2022-09-28 18:31] brettsam commented on #1067
There's not much magic that happens here -- the worker is simply using the [Application Insights for Worker Services SDK](https://learn.microsoft.com/en-us/azure/azure-monitor/app/worker-service). So, to debug this, can I have you check a couple of things?

1. Do you have APPLICATIONINSIGHTS_CONNECTION_STRING set as an app setting on the application?
2. Are you seeing telemetry, but just not these

[2022-09-28 18:38] fabiocav commented on #258
Let's use this issue to track an enhancement to the existing analyzer so that it handles the return case.

It would also be good to ensure `ICollector` and `IAsyncCollector` cases are handled when using worker extensions.

[2022-09-28 18:39] fabiocav commented on #195
duplicate of #920

Yes, closing as a dupe.

[2022-09-28 18:39] #195 closed

[2022-09-28 18:42] fabiocav commented on #76
We believe all of the work to support this has been done. Closing as resolved. (Thanks, @ankitkumarr !)

[2022-09-28 18:42] #76 closed

[2022-09-28 19:05] ankitkumarr commented on #76
Anytime! ;)

[2022-09-28 20:05] fabiocav commented on #1034
Work in progress. Validating the flow and finalizing the trigger implementation.

[2022-09-28 20:37] liliankasem opened #1080 "Investigate passing a parameter through a binding"
In the current SDK binding implementation for in-proc, users can use a trigger binding to bind to a POCO, then that to pass a parameter to the next binding.

For example in the code snippet below, we are using a BlobTrigger and binding to a `Book`, this book has an ID property. In the input binding, we are able to use `{id}` to extract the ID value from the `Book` provided by the trigger. This is

[2022-09-28 20:43] liliankasem opened #1081 "[Epic] Support SDK-type bindings for out-of-proc workers"
Epic to track the work to support SDK-type bindings for out-of-proc workers, focusing on dotnet isolated implementation.

Work for this feature can be found under this tag:

- https://github.com/Azure/azure-functions-dotnet-worker/labels/feature%3A%20SDK%20bindings

## General

- https://github.com/Azure/azure-functions-dotnet-worker/issues/1018
- https://github.com/Azure/azure-functions-dotnet-wo

[2022-09-29 00:55] kshyju commented on #1080
FYI. We do support using the value from one binding for another.

See this example,
[code]

This sample is reading the itemId value from the http request URL and use that for getting the blob input entry. For example if you issue a request like `/api/items/foo`, "foo" will be bound to the `ItemId` segment of the route and the blob input binding will try to get the "**foo.txt**" file from the "samp

[2022-09-29 01:13] liliankasem commented on #1080
That's good to know, let me try the example you provided. I tried the book example with the reference binding object prototype we have for SDK-type bindings and got this error:

`No value for named parameter 'id'`

So something is definitely disconnected somewhere and needs investigation

![MicrosoftTeams-image](https://user-images.githubusercontent.com/2198905/192916131-0fda87f7-709f-44fe-9e4f-79

[2022-09-29 01:36] phil000 opened #1088 "maxPollingInterval Per Queue or QueueTriggered Function"

[2022-09-29 13:16] ilkayilknur commented on #1067
After further investigation, I saw that Exception telemetries aren't captured by the initializers.
See the custom dimension `sampleProperty:sampleValue`
![image](https://user-images.githubusercontent.com/5785927/193041173-61652dd1-39a1-45bc-8469-539a546c150e.png)

When I open the exception detail, the custom dimension isn't there.
![image](https://user-images.githubusercontent.com/5785927/19304126

[2022-09-29 17:47] wesselkranenborg commented on #1017
@satvu @kshyju: is there any contribution I can do to speed this up a little bit? If you have any guidance on the two open questions I could look if I can make a contribution for this.

[2022-09-29 18:51] kshyju opened #1082 "Set the value of EnableUserCodeException worker capability to true"
- Set the value of `EnableUserCodeException` worker capability to True as default.
- Evaluate whether `EnableUserCodeException` property shall be removed from [WorkerOptions](https://github.com/Azure/azure-functions-dotnet-worker/blob/main/src/DotNetWorker.Core/Hosting/WorkerOptions.cs). (this was added in #939)

[2022-09-29 20:41] BrianVallelunga opened #1083 "Worker failed to load function with .NET Framework 4.8"
I'm trying to write some functions in .NET Framework 4.8 using the latest functions runtime and tools (4.0.4785). Unfortunately, the functions fail to load with the odd error:

Result: Failure. Exception: System.InvalidOperationException: Unable to load Function 'TestFunction'. A function with the id 'a351e60b-6374-48ab-b4d4-3b679d375e1b' name already exists.

I'm just trying this from the command

[2022-09-29 21:23] fabiocav opened #1084 "Update gRPC dependencies"
Issue tracking the update of our gRPC dependencies to the latest versions.

[2022-09-29 21:24] BrianVallelunga commented on #1083
After spending a couple of days on this, I found the issue. In our Program.cs file we were inadvertently calling .ConfigureFunctionsWorkerDefaults() twice. Removing the second call fixed the problem. Hopefully this will help someone else.

[2022-09-29 21:24] #1083 closed

[2022-09-29 22:07] #1084 closed

[2022-09-29 22:14] SeanFeldman commented on #1018
Is that a publicly available document?

[2022-09-29 23:17] kshyju opened #1087 "Adding support for overriding the binding property name in function metadata - SourceGen provider"
Update FunctionMetadataProviderGenerator to support overriding binding property name.

#1086 added support for this in the legacy metadata generation code path.

[2022-09-30 11:00] arunbgolabhavinew opened #1089 "DotNetWorker function does not consider Diagnostic-Id from servicebus message for end to end tracing in appinsight"
Hi
We are using dotnet6 isolated function app. Our setup is like this
We have two function apps which are  listening to two different topics subscriptions. (Topic1-Subscription-Function1 and Topic2-Subscription-Function2).
Function 1 receives message and sends another message to Topic2 which triggers Function 2.

In DotNet3.1 (V3)function apps all these processing logs are correlated with one Oper

[2022-09-30 12:45] elsand opened #1090 "Logging calls does not appear in console when running locally in 1.9.0 using ApplicationInsights preview packages"
How to reproduce:
1.  Create a function app using the template for .NET6 Isolated in VS2022
2. Bump `Microsoft.Azure.Functions.Worker` to 1.9.0 and add a reference to `Microsoft.Azure.Functions.Worker.ApplicationInsights` (applies to any 1.0.0-preview version up to 3)
3. Add Application Insights logging in Program.cs:
[code]
4. Run the function app. The template includes a HTTP trigger function "F

[2022-10-01 13:24] olandese commented on #760
At the moment it's a mess. It is totally unclear using a function in Isolated Mode what is the right/correct way to log to Application Insights.
Which packages and version do we need?
What configuration needs to be made?
What code changed we need to apply and where?

[2022-10-02 10:33] martinjt commented on #619
It would be really awesome if you could consider how telemetry works without ApplicationInsights by making OpenTelemetry a first class citizen like AWS Lambda have with ADOT lambda layer.

I'm more than happy for you to reach out to discuss what that could look like.

[2022-10-03 18:27] #912 closed

[2022-10-03 23:33] surgupta-msft opened #1093 "Investigate Managed Identity flow for sdk type bindings"
This doc - [link](https://learn.microsoft.com/en-us/azure/azure-functions/functions-reference?tabs=blob#common-properties-for-identity-based-connections) explains multiple ways that a Managed Identity can be used with the Function App. Need to investigate if same approaches can be used with sdk-type-bindings changes or if we need any custom handling.

- [x] AppSetting [AzureWebJobsStorage__account

[2022-10-04 11:21] TheCakeMonster opened #1094 "Question: security patching in isolated functions app"
Can someone please confirm whether an isolated/out of process .NET 6/7 app would need to be published as self-contained, and therefore is at risk of compromise if it is not redeployed after each patch Tuesday (assuming a security issue is found in the runtime that month?)

It seems likely to me that an isolated/out of process app is running on a version of the runtime that is shipped with the app.

[2022-10-04 16:02] #1064 closed

[2022-10-04 16:13] kshyju opened #1095 "Drop net5.0 support"
May 10, 2022 is the official end of support date from the .net team.

https://devblogs.microsoft.com/dotnet/dotnet-5-end-of-support-update/

We are currently using a bunch of deprecated 5X packages. We can upgrade these to 6X version.

This closed PR has details:  [Replace deprecated 5.x packages to 6.x](https://github.com/Azure/azure-functions-dotnet-worker/pull/1044)

[2022-10-04 16:20] kshyju opened #1096 "Always send IncludeEmptyEntriesInPayload capability"
We added `IncludeEmptyEntriesInPayload` property to WorkerOptions in #1091. We can evaluate whether this flag can be removed in **2x** and have the dotnet worker always send this capability entry.

[2022-10-04 17:51] kshyju commented on #176
@josmithua Please refer [this sample](https://github.com/Azure/azure-functions-dotnet-worker/blob/main/samples/Configuration/Program.cs#L15). Let us know if you run into issues with that.

[2022-10-04 20:42] sand-head commented on #293
any update on this? with the announcement that .NET Framework 4.8 can now use the v4 runtime in the out-of-process model, I've been looking at upgrading one of our v1 function apps, but the lack of support for taking manual action on a message is rather surprising

[2022-10-04 21:46] liliankasem opened #1098 "Update worker metadata to remove dotnet version from "RuntimeName""

[2022-10-05 00:39] kshyju opened #1099 "Metadata generation relies on the assumption that constructor argument names match property names of binding attributes"
When generating function metadata, we are making the assumption that the constructor arguments will match the property names. So we are looping through the constructor arguments for building the binding dictionary entries. This was the approach in the legacy version of metadata generator and that got ported to the new source gen one as well.

https://github.com/Azure/azure-functions-dotnet-worker/

[2022-10-05 01:00] liliankasem opened #1100 "SDK-type blob input binding not working"
For our SDK-type binding prototype, BlobInput is not using the reference type (ParameterBindingData). Sample:

[code]

The blob storage extension is only able to resolve the BlobTrigger, whilst the BlobInput returns null. You can see in the screenshot below that we get a BindingObject with all the correct information for the trigger parameter, but for the input parameter the object is null

![Scre

[2022-10-05 04:55] nickjmcclure commented on #954
@mathewc I understand the explanation, but I think there should probably be an update to Timer Trigger template that is used in visual studio as well. when creating a new trigger, the template includes the following code:
[code]

I think this also implies the ```ScheduleStatus.Next``` property will hold the date/time of the next invocation, not the current.

[2022-10-05 16:59] kshyju opened #1101 "Handle DefaultValueAttribute when building function metadata in GeneratedFunctionMetadataProvider"
We expose the [DefaultValueAttribute ](https://github.com/Azure/azure-functions-dotnet-worker/blob/main/extensions/Worker.Extensions.Abstractions/src/DefaultValueAttribute.cs)which allows extension authors to set a default property value for triggers/bindings and this value will be used when generating binding part of the function metadata.

Currently EventHubTrigger uses this.

https://github.com

[2022-10-05 17:35] jviau opened #1102 "Function metadata codegen does not generate a consistent ID between workers"
We recently dealt with a regression in the Python worker where separate worker instances would report different IDs for functions, leading to the host being unable to identifier these are the same functions between different workers. The recently introduced code gen approach for .NET function metadata has the same issue. We should make sure that for a given build, all workers will report the ident

[2022-10-05 18:16] brettsam commented on #1088
This is controlled by the Storage extension, which is now owned in the azure-sdk-net repo. Will transfer it there for follow-up.

[2022-10-05 18:27] brettsam commented on #1094
dotnet-isolated apps do not need to be published as self-contained.

However, that is an option. If you publish self-contained, then you are correct that you'd need to re-publish yourself with updated packages after fixes are released.

[2022-10-05 18:33] jviau commented on #1102
I think `DefaultFunctionMetadataProvider` may also have the same issue: https://github.com/Azure/azure-functions-dotnet-worker/blob/main/src/DotNetWorker.Grpc/FunctionMetadata/DefaultFunctionMetadataProvider.cs#L56

@fabiocav can you confirm if this is a problem with the dotnet worker?

[2022-10-05 18:42] brettsam commented on #176
Agree that we should make the in-proc template match the isolated template as near as possible:

- in-proc: https://github.com/Azure/azure-functions-templates/blob/400eda3c9c00bcbb913ab82e6e10afe5e6e45290/Functions.Templates/Templates/HttpTrigger-CSharp/HttpTriggerCSharp.cs#L24
- isolated: https://github.com/Azure/azure-functions-templates/blob/dev/Functions.Templates/Templates/HttpTrigger-CSharp-

[2022-10-05 18:47] mathewc commented on #954
@nickjmcclure Yes, please log your issue in the templates repo here https://github.com/Azure/azure-functions-templates/issues

[2022-10-05 19:02] #1042 closed

[2022-10-05 20:24] fabiocav commented on #1080
We need to investigate whether the current binding data pipeline (in WebJobs) will continue to work once we enable SDK Type bindings.

[2022-10-05 20:30] fabiocav commented on #258
Using this to track the fix @kshyju has in place with #1092

For the type validation, we'll use #1036 to track that work as it covers a broader set of scenarios.

[2022-10-05 20:32] fabiocav commented on #1076
Let's use this issue to track the discussion to define the samples and create issues to track each one of them so we can have them assigned to the team.

[2022-10-05 20:43] fabiocav commented on #1047
Closing this as there isn't anything actionable tracked.

[2022-10-05 20:43] #1047 closed

[2022-10-05 21:16] jviau commented on #1102
Had further discussion offline. No longer believe this is a pressing issue. Only a _single_ worker should be indexed, and then those function definitions are essentially shared with other workers. So long as the worker implementation does not make assumptions about the ID during a load, this works. It is a bit odd however, as a worker can have mismatched function IDs between what is loaded via gRP

[2022-10-05 22:03] #1100 closed

[2022-10-06 05:54] gautamsamal opened #1105 "How to get message metadata in isolated Azure functions v4 - Queue Trigger"
I am following on a possible upgrade of azure function runtime from v3 to v4 with dotnet. While doing so, I am testing out the isolated option for the project. However I am unable to get message metadata such as DequeueCount, MessageId etc in the queue trigger.

Previously with in-process option, I used to bind `CloudQueueMessage` but that doesn't seem to work in the isolated mode. Doing so, throw

[2022-10-06 09:38] vdboots opened #1106 "Question: Is there an alternative for Ibinder in NET5/NET6 Isolated-process"
At the moment we are still using some processes that are required to run in In-process mode because they rely on the IBinder interface. As it seems that this is not supported. Is there an alternative for this?

[2022-10-06 16:47] cloudmelon commented on #994
@kshyju any updates on this one ?

[2022-10-06 17:06] jviau commented on #1105
This feature (rich binding) is not yet available in v4 isolated dotnet. We have #1008 which tracks adding support for these features.

[2022-10-06 17:14] kshyju commented on #994
@cloudmelon  Did you mean the portal update? I am not working on that. I thought you were working with the portal team to get that done.

[2022-10-07 23:04] fndejan commented on #1098
Hi @liliankasem, did you mean something like this? "RuntimeInformation.FrameworkDescription.Substring(0,4)".

[2022-10-09 06:27] anujgeek commented on #1047
Hello, is there a workaround? I installed preview 2, can I go back to preview 1?

[2022-10-10 02:23] kshyju commented on #1047
@anujgeek You can use the [azure functions core tools ](https://learn.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=v4%2Cwindows%2Ccsharp%2Cportal%2Cbash#install-the-azure-functions-core-tools)to create a functions project targeting net48 TFM. Once created using CLI, you can open the .csproj file in [VS 2022 17.4.0 Preview](https://visualstudio.microsoft.com/vs/preview/) 2.x (

[2022-10-10 07:48] EnemyArea commented on #796
It also floods the azure function log-stream. Please fix this :)

[2022-10-10 11:57] TheCakeMonster commented on #1094
Thanks for the reply. That's great news that they do not need to be self-contained. I would much prefer to use framework-dependent to get automated patching.

[2022-10-10 11:57] #1094 closed

[2022-10-10 23:24] #1017 closed

[2022-10-10 23:51] #1059 closed

[2022-10-11 08:04] sahayaarockiamary commented on #914
@fabiocav Any update on when the development will be complete and we can refer Activity.Current in Azure Functions?

[2022-10-11 09:33] Done3319 commented on #1110
@ramya894, @fabiocav are there any updates on this?

[2022-10-11 10:22] dfibuch commented on #747
I had this issue a year ago when running on .NET 5 and v3 Functions, upgraded to .NET 6 and v4, thinking this surely has to be fixed by now and clearly it isnt. I applied this work around again (as I did originally) and it's working again.

https://github.com/Azure/azure-functions-dotnet-worker/issues/524#issuecomment-872388417

[2022-10-11 15:19] ramya894 commented on #1110
@brettsam Could you please have look into this issue, can make sure to check in part of logging and application insights work

[2022-10-11 16:01] mjallaq88 commented on #180
I have tried the sample code in Release1.9.0 and I still don't see the feature is working. I invoke the azure function and cancel it but the cancellation token is not being catched.

[2022-10-11 16:03] kshyju commented on #180
@mjallaq88 Could you please open a new issue with relevant repro information? If you can share a minimal repro (a github repo would be great), we can take a look. Thanks!

[2022-10-11 16:03] #180 closed

[2022-10-11 16:13] mjallaq88 opened #1112 "HttpTrigger with Cancellation is not working"
I'm testing the sample code that was published on another thread [here](https://github.com/Azure/azure-functions-dotnet-worker/issues/180#issuecomment-797492512). The sample code [here ](https://github.com/Azure/azure-functions-dotnet-worker/releases/tag/1.9.0) is to test the new feature of adding "CancellationToken" to the HttpTrigger azure function. My expectation is when I create a "Get" or "Po

[2022-10-11 17:07] kshyju commented on #936
For handling composite response type, please refer [this sample](https://github.com/Azure/azure-functions-dotnet-worker/blob/main/samples/CustomMiddleware/ExceptionHandlingMiddleware.cs). You need [worker package](https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker/) 1.9.0 or above to get this fix.

[2022-10-11 17:07] #936 closed

[2022-10-11 18:18] brettsam commented on #1089
We're looking into this now. Functions does nothing "special" with these ids (i.e. there's no code in the WebJobs or Functions codebase to handle diagnostic-id). It's all done automatically with the ServiceBus and ApplicationInsights tracing capabilities, so we're trying to figure out what pieces of data aren't being handled correctly.

Do you have a small sample of the Function1 code that we can

[2022-10-11 20:43] gcostanzo commented on #796
I'm facing the same issue. The extra HTTP request and response logs are appearing in both the log stream and App Insights logs. I've tried adding `"Azure.Core": "Error"` to `logLevel`, to no avail. I've also tried `"Azure.Storage.Blobs": "Error"` (origin of the HTTP requests & responses).

Anyone have a any other workaround?

[2022-10-11 20:49] #1075 closed

[2022-10-11 21:12] satvu opened #1113 "[Source-gen] Add support for overriding binding property name"
Same fix as issue [#1059](https://github.com/Azure/azure-functions-dotnet-worker/issues/1059) but for source-generator.

[2022-10-11 21:21] liliankasem commented on #1112
@mjallaq88 how are you cancelling the function?

[2022-10-11 21:24] mjallaq88 commented on #1112
I’m using postman to create and cancel the request

[2022-10-11 22:28] liliankasem commented on #1112
Unfortunately, that is not a use case we currently support; the host doesn't handle `HttpContext.RequestAborted` for isolated or in-proc at the moment.

A better example of using cancellation tokens is when processing batch messages with service bus, you can see an example of that with in-proc dotnet [here](https://learn.microsoft.com/en-us/azure/azure-functions/functions-dotnet-class-library?tabs

[2022-10-11 23:09] HMoen commented on #1112
Sample update would be great. Thanks.

[2022-10-12 00:05] satvu commented on #1113
closing as it is a dupe of #1087

[2022-10-12 00:05] #1113 closed

[2022-10-12 00:12] kshyju commented on #900
Closing. Let us know if you still run into issues.

[2022-10-12 00:12] #900 closed

[2022-10-12 01:20] liliankasem commented on #1112
Updated [sample PR](https://github.com/Azure/azure-functions-dotnet-worker/issues/1112#issuecomment-1275387271) is out, should be merged soon.

Closing issue for now as the use case described here is not supported. Feel free to open a feature request issue in the host for `HttpContext.RequestAborted` support.

[2022-10-12 01:20] #1112 closed

[2022-10-12 08:24] chancie86 commented on #936
I also ran into this issue with the odd behaviour when return type was null. It left me scratching my head for quite a while. I agree, it's very unintuitive!

[2022-10-12 13:47] arunbgolabhavinew commented on #1089
Hi @brettsam ,
 I have tried with both output binding and sbclient. Its same behaviour. It does not add diagnostic-id property.

Here are the sample functions which uses output binding.

Function1
`[Function("SendIsolatedFunction")]
        [ServiceBusOutput("topicB",ServiceBusEntityType.Topic, Connection = "ConnectionString")]
        public async Task<string> Run([ServiceBusTrigger("topicA", "su

[2022-10-12 15:33] #1078 closed

[2022-10-12 18:13] fabiocav commented on #1106
Not yet.

Can you share more information about your scenario? We're actively working on binding improvements and it would be good to track additional details here.

Thanks!

[2022-10-12 18:22] liliankasem commented on #1081
Capturing open PRs here:

- Proto: https://github.com/Azure/azure-functions-language-worker-protobuf/pull/83
- Host: https://github.com/Azure/azure-functions-host/pull/8815
- Blob Extension: https://github.com/Azure/azure-sdk-for-net/pull/31757
- Dotnet Worker: https://github.com/Azure/azure-functions-dotnet-worker/pull/1107
- Dotnet Worker Blob Extension: https://github.com/Azure/azure-functions-

[2022-10-12 18:34] fabiocav commented on #295
Thanks for reporting.

This is being tracked by the portal team. Closing this here as there are no actions required in this repo.

[2022-10-12 18:34] #295 closed

[2022-10-12 18:37] fabiocav commented on #255
Closing as answered. Please let us know if you need any additional information.

[2022-10-12 18:37] #255 closed

[2022-10-12 18:39] fabiocav commented on #266
Closing this as the work being done to support SDK type bindings and to enhance the converter probing/usage logic will address the concern.

[2022-10-12 18:39] #266 closed

[2022-10-12 19:33] kshyju commented on #876
The host level fix is on v4.12.2. Waiting for that release via core tools.

[2022-10-12 19:40] brettsam commented on #1089
Everything I've tested does auto-inject Diagnostic-Id from both the worker side and as an output binding -- can you tell me how you're confirming that it's not doing this for you?

I was syncing with @lmolkova and @JoshLove-msft about this. It appears that this is how things work now that you're using the latest Service Bus SDK. You'll see multiple operations all pulled together in the end-to-end

[2022-10-12 20:01] soninaren opened #1116 "Identify log verbosity in StdError stream"
Part of https://github.com/Azure/azure-functions-host/issues/8273

As part of the action item for this issue. We need to investigate if we can identify the log level of the log statements sent over to StdError stream.

[2022-10-12 20:11] cloudmelon commented on #994
no I meant if the PR is in, and i can follow up with the portal team for the rest :

Can you send a PR for the same here and I can help review and merge - https://github.com/Azure/azure-functions-ux/tree/dev/server/src/stacks

[2022-10-12 20:12] fabiocav commented on #1035
Closing this as the work has been done in the initial prototype

[2022-10-12 20:12] #1035 closed

[2022-10-12 20:13] liliankasem opened #1117 "CosmosDB Converter: Support POCO for the input binding"
This is related to the work that is happening to enable SDK-type binding in out-of-proc workers. The CosmosDB converter and rules have been implemented, related PRs here:

- https://github.com/Azure/azure-functions-dotnet-worker/pull/1109
- https://github.com/Azure/azure-webjobs-sdk-extensions/pull/802

The remaining work that needs to be done is to support POCOs for the cosmos input binding. Curr

[2022-10-12 20:13] #1034 closed

[2022-10-12 20:14] fabiocav commented on #1013
Most of the AOT work/validation here has been completed.

Currently working on placeholder options.

[2022-10-12 20:20] fabiocav commented on #258
This work is completed and released with https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker.Sdk/1.8.0-preview2

[2022-10-12 20:20] #258 closed

[2022-10-12 20:52] fabiocav commented on #994
Link to a reference PR : https://github.com/Azure/azure-functions-ux/pull/6737

[2022-10-12 21:28] kshyju opened #1118 "Remove preview suffix for Worker.Extensions.Storage.Tables package"
It's been 5 months and we haven't heard any issues about `Microsoft.Azure.Functions.Worker.Extensions.Storage.Tables` package. Are we good to remove the **_preview_** version suffix?

https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker.Extensions.Storage.Tables/1.0.0-preview1

[2022-10-12 22:56] lmolkova commented on #1089
@arunbgolabhavinew thank you for reporting this! As @brettsam mentioned, since you see all three operations on the portal in one view, then the context is propagated. If you expand service bus telemetry, you'd see the `_MS.links` custom dimension - it describes additional relationships between telemetry items. Links are an OpenTelemetry feature that allows connecting unrelated traces.
It's essenti

[2022-10-13 09:13] demyte opened #1119 "Isolated function using docker works in debug but not as a standard container or via compose"
Hi there,

I am using .net7 rc2 preview and azure functions in isolated mode.

When I debug them as a console app or in a container, they work correctly, but when I build them into a local container or compose them as a set of containers, I get the error below.

It looks like it is somethign to do with grpc starting up, which I don't need, but its hard to get arround when using `hostBuilder.Config

[2022-10-13 10:32] arunbgolabhavinew commented on #1089
@brettsam Sorry. It is setting for me as well now. We have another project where we have not included the **preview** Microsoft.Azure.Functions.Worker.ApplicationInsights and added this code.   `.AddApplicationInsights().AddApplicationInsightsLogger()`.
We thought of adding it when it is made available officially. I got confused for the messages generated by this application. As our main issue is

[2022-10-13 15:11] brettsam commented on #1089
Thanks for filing this, @arunbgolabhavinew. I learned a lot investigating :-)

Since there's nothing for the worker to do here, I'm going to close it out and you can track the other issue.

[2022-10-13 15:11] #1089 closed

[2022-10-13 15:35] brettsam commented on #760
Hey everyone -- I'm going to lock this issue down as it's getting hard to track the individual issues. I'll respond to everything that's here now and spin off new issues if needed, but please create a new issue with your questions/bugs from now on.

Thanks for all the feedback!

[2022-10-13 15:46] brettsam commented on #760
Reply to: https://github.com/Azure/azure-functions-dotnet-worker/issues/760#issuecomment-1231616471

@LockTar:

The worker should behave just like any other Console application in .NET. You can adjust logging levels and filters via code, appsettings.json, etc -- https://learn.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-6.0#configure-logging.

Maybe the confusing thing her

[2022-10-13 15:51] brettsam commented on #760
Reply to: https://github.com/Azure/azure-functions-dotnet-worker/issues/760#issuecomment-1233140398

@vasylstrogushr -- can you share a repro in a new issue? We're not doing anything special when we add the App Insights Logger, so I'd expect it to behave exactly the same way.

One thing that I did realize (and will update shortly) is that the App Insights logger injects an extra filter into the lo

[2022-10-13 15:56] brettsam commented on #760
Reply to: https://github.com/Azure/azure-functions-dotnet-worker/issues/760#issuecomment-1233198349

@vasylstrogushr -- Can you open a new issue with a small repro to explain the scenario? I can get the right App Insights people to help out there. Are you saying that logs from the separate service are not being correctly correlated?

[2022-10-13 16:04] brettsam commented on #760
Reply to: https://github.com/Azure/azure-functions-dotnet-worker/issues/760#issuecomment-1246701048

@lund76 -- you may be hitting the same thing that I mentioned above in https://github.com/Azure/azure-functions-dotnet-worker/issues/760#issuecomment-1277824031 (that host.json only applies to the host). The worker is a separate Console application and it's completely configurable like any other Co

[2022-10-13 16:06] brettsam commented on #760
https://github.com/Azure/azure-functions-dotnet-worker/issues/760#issuecomment-1264365463

@olandese -- see the "preview doc" at https://github.com/Azure/azure-functions-dotnet-worker/pull/944#issue-1282987627. I *think* it answers all of your questions. If not, please file a new issue with your questions that are unanswered, and I can help out there.

[2022-10-13 16:09] #760 closed

[2022-10-13 17:01] cloudmelon opened #1120 "Remove the hidden stack for Stack API"
Display the following hidden stack :

- .NET 7 (non-LTS)
- 6 isolated

[2022-10-13 17:46] kshyju opened #1121 "Add support for bindings to provide information about input converters"
Add support for bindings to provide input converter information to be used. This allows binding authors(extension authors) to specify one or more converters to be used when doing input conversion for that binding entry.

Initial plans for the implementation:

As part of this change, we plan to expose a new interface `IConverterProvider`

[code]
Here is an example binding which implements this inte

[2022-10-13 17:49] michielvoo commented on #731
@fabiocav I cannot find a specific issue to track the progress of the implementation of host instrumentation. Could you give an update about this?

[2022-10-13 18:10] brettsam commented on #1110
The issue is likely that the worker itself is configured to only output `Information` logs by default. The `host.json` settings apply to the host filtering, not the worker.

Logs flow from Worker -> Host, but if the worker is configured with the default log level of `Inforamation`, then any `Debug` and `Trace` logs will never make it from the Worker process to the Host process.

Try setting up you

[2022-10-13 18:24] brettsam commented on #410
Today you need to have Application Insights enabled for this to work.

The host will eventually move to using the newer OpenTelemetry instrumentation so these traces flow without App Insights, but for now, App Insights is required.

[2022-10-13 18:25] brettsam commented on #410
If you're trying to get this working with Application Insights, try the new preview packages: https://github.com/Azure/azure-functions-dotnet-worker/pull/944#issue-1282987627

[2022-10-13 18:31] brettsam commented on #410
I've filed https://github.com/Azure/azure-functions-host/issues/8846 to track removing the Application Insights requirement.

[2022-10-13 18:31] #410 closed

[2022-10-13 19:02] #1105 closed

[2022-10-13 19:31] brettsam commented on #423
I have no idea how I missed this entire conversation; I apologize for the delay here.

The approach we've taken is to have logging go directly to App Insights from the worker (as was proposed here). This uses the App Insights logger with very minimal changes (no "prop_" appended, for example).

Give the newer package a try and see if it works how you'd expect: https://github.com/Azure/azure-functi

[2022-10-13 19:33] brettsam commented on #549
I'm going to close this out as we've got a solution for Application Insights in the worker now (currently in preview) that minimally wraps the ApplicationInisghtsWorkerServiceTelemetry. All configuration, etc, should be exactly the same as any other console application using this package.

[2022-10-13 19:33] #549 closed

[2022-10-13 19:40] brettsam commented on #1028
You're likely running into the same thing as here: https://github.com/Azure/azure-functions-dotnet-worker/issues/1110#issuecomment-1277992212.

The bottom line is that the worker does not read host.json for its configuration (that's for the host). And by default, all .NET appss default to Information-level logging. So the worker likely isn't emitting those logs to the host, resulting in the missin

[2022-10-13 19:48] brettsam commented on #655
I think we'll need to look at OpenTelemetry concepts here and see if there's a more general, non-AppInsights, solution. I don't really want to expose some ApplicationInsights-specific setting value only to move onto OpenTelemetry soon.

For now, this value cannot be changed from the host side unless you register your own `ITelemetryInitializer` in the host via an extension, which isn't a great exp

[2022-10-13 19:50] brettsam commented on #822
Please give the latest AppInsights package a try: https://github.com/Azure/azure-functions-dotnet-worker/pull/944#issue-1282987627.

This should hopefully take care of a lot of the issues found in this thread.

[2022-10-13 20:03] kshyju commented on #1119
@demyte Would you be able to share a minimal repro of this, including the Docker file used to build? A GitHub repo will be great. Thanks!

[2022-10-13 20:33] mde23vil commented on #989
Same here. Installed Visual Studio preview. Version 17.4.0 Preview 3.0.
Facing with the same error. Trying to debug
[code]

[2022-10-13 22:27] dennisdietrich commented on #1028
Thanks @brettsam, but in that case how come I can configure the app to log e.g. only errors and critical via `host.json`? As originally reported, that does work. In any case, if this is and will remain by-design this absolutely needs to be documented properly.

[2022-10-13 23:30] brettsam commented on #1028
In the Errors or Critical case (if I'm understanding) -- you're sending Information, Warning, Errors, and Critical logs from the worker to the host and asking it to filter for Errors and Critical, which will work as expected.

In the Trace scenario, you're still only sending Information, Warning, Errors, and Critical to the host and asking it to include everything (that it knows about) -- which is

[2022-10-13 23:44] dennisdietrich commented on #1028
Ah, got it now; thanks for the explanation. Welp, yeah, this doesn't sound like a trivial issue to solve for all use cases. But as I said before, maybe "just" properly document this as an immediate measure? Since the behavior I observed didn't make sense (until now) I spent a couple of hours trying to figure it out. A few paragraphs in the docs could have prevented that.

[2022-10-14 03:10] kshyju commented on #1119
Looks like the repo you shared is empty! Can you push the minimal repro function app to this repo. Please include your DOCKERFILE as well.

<img width="580" alt="image" src="https://user-images.githubusercontent.com/144469/195753306-64d181c6-bcd1-4bcf-983c-129c6ed84600.png">

[2022-10-14 04:26] SeanFeldman commented on #1121
I was just wondering, since this is something that will be released in the future, would it be possible to support C# 11 generic interfaces so that

[code]

would become

[code]

[2022-10-14 07:28] olandese opened #1123 "Azure Function Isolated Mode - Application Insights Configuration"
Reply to: https://github.com/Azure/azure-functions-dotnet-worker/issues/760#issuecomment-1264365463

Hi @brettsam,

thank you for your reply in the other thread.

The configuration for the host and the function is different/separate, clear.

If I understand well, in the https://github.com/Azure/azure-functions-dotnet-worker/pull/944#issue-1282987627 you are saying that in an Isolated Function we s

[2022-10-14 11:22] wkoeter opened #1124 "Microsoft.Azure.Functions.Worker.ApplicationInsights missing `operation name` for child activities"
When starting a new activity within the activity provided by the `FunctionActivitySource`, the activity does land in application insights, but child activities lose the `operation_Name` property (other relevant properties related to `trace context` are correctly filled in).

packages used:
[code]

_Edit_: Maybe it is not in the scope of this package to manage it? Should we create our own listener

[2022-10-14 15:30] brettsam opened #1125 "Address host and worker logging configuration mismatches"
Creating this as a central issue to track a solution to the issue of mismatching log levels between the worker and host.

A lot of folks are running into issues by configuring host.json with specific log levels, then not seeing that reflected. This is because host.json is only used for *host* logging and the worker does not use it as a configuration source. So if you enable `Trace` logging, for ex

[2022-10-14 15:31] brettsam commented on #1028
I've created a central issue where I'll start resolving these -- https://github.com/Azure/azure-functions-dotnet-worker/issues/1125.

Will try to get something in (documentation at a minimum) by next sprint.

[2022-10-14 17:18] jviau commented on #1124
I think there may be some work for us to do here. If I am remembering correctly, `operation_Name` is typically the `name` of the most immediate parent `RequestTelemetry`, and child `DependencyTelemetry` pick that up. But I think it requires us to use explicit AppInsights APIs to start the outer operation, and not just `AcitivtySource`. We will take a look at this. In the meantime, you may be able

[2022-10-15 11:01] olandese commented on #1090
I'm having exactly the same problem, adding loggingBuilder.AddConsole() solves it, but I think this is not how it should work

[2022-10-15 11:34] jp1482 commented on #950
@rvdginste Thanks for asking this.
@davidfowl Thanks for providing information.

As per my understanding code for worker, It create functioncontext and it is remaining same for that request so it is good if available like httpcontextaccessor.

[2022-10-16 06:57] wkoeter commented on #1124
Alright, will do that. Thanks.

[2022-10-16 20:01] wkoeter opened #1126 "Application Insights distributed logging and Storage queues"
Question:

I'm wondering if W3C distributed logging is going to be enabled using Azure Storage Queues.
My HTTP function receives the `traceparent` header just fine and uses this in the `FunctionContext.TraceContext` property. These values are applied to A.I. Requests and Traces perfectly.

That HTTP function sends a queue message to a different function (using an `Azure.Storage.Queues.QueueClient`

[2022-10-17 01:43] kshyju commented on #1119
Thanks for sharing the repo and dockerfile.

In your Dockerfile, the function app code is being built using sdk:7.0, which has `Microsoft.NETCore.App 7.0.0-rc.2.22472.3` of (as of today.)

You can run `docker run --rm mcr.microsoft.com/dotnet/sdk:7.0 dotnet --info` to see what runtimes/sdks are installed.

If you run `docker run --rm mcr.microsoft.com/azure-functions/dotnet-isolated:4-dotnet-isola

[2022-10-17 08:34] Done3319 commented on #1110
Thanks @brettsam for looking into this!

Unfortunately, the `SetMinimumLevel` you mentioned does not make any change.

The log contains messages sourced by FunctionsSyncService.cs, e.g.
`_logger.LogDebug("Initiating background SyncTriggers operation");`

It however never gets the ones from FunctionsSyncManager.cs, e.g.
` _logger.LogDebug($"Making SyncTriggers request (RequestId={requestId}, Uri={r

[2022-10-17 17:04] sergiosolorzano opened #1127 "An item with the same key has already been added. Key: AZURE_FUNCTIONS_ENVIRONMENT"
Hi, apologies for raising a previously raised [issue](https://github.com/Azure/azure-functions-dotnet-worker/issues/385) but I'm encountering this problem when trying to run a function app locally and I'm getting this error. I tried set an env var for "AZURE_FUNCTIONS_ENVIRONMENT" to a non obvious value (e.g. "Staging2") but still threw same error.

I could not quite understand how to implement th

[2022-10-18 05:48] keerthiraaju opened #1128 "Azure Isolated Function for Server Sent Events"
For a project, I had created a poc sample for pushing data to browsers (server sent events) using the below example in **azure function -> dotnet 6.0 -> http-trigger** (in-process) and got it worked ..

TargetFramework   		----->   	net6.0
AzureFunctionsVersion	------>		v4
"FUNCTIONS_WORKER_RUNTIME": **"dotnet"**

**HttpRequestMessage** which supported for **PushStreamContent**

(HttpRequestMessag

[2022-10-18 09:24] sergiosolorzano commented on #1127
1. I get it when I press Start Debugging locally the function apps project in VS2022. Console does not provide the http function app endpoint to run locally.

<img width="797" alt="image" src="https://user-images.githubusercontent.com/24430655/196387395-dd03af2c-317f-41c0-aec9-ab66bc927b7a.png">

I note the solution builds fine and the functions run correctly when uploaded to azure function app.

[2022-10-18 12:14] gautamsamal opened #1129 "Unable to use ILogger inside servicebus callback via Azure function (v4 isolated mode)."
I am facing trouble with making the logger work inside a service bus handler. It used to work for me on azure function runtime v3 with in-process method. I am now moving my functions to azure function v4 isolated mode but I am not able to make this logger work.

Here is a simple code to reproduce.
**Program.cs**
[code]
**Queue Trigger**
[code]

In this function, I am able to see logs that are dire

[2022-10-18 16:20] satvu commented on #1087
Notes from design discussions:

-  **Main issue:** Need to connect parameter values in constructor to the property they're assigned to (to check for name-override attributes).
- All binding-related attributes defined for dotnet-isolated follow the convention for JSON serialization where constructor parameter names match the names of the properties of the object.
- Roslyn does not provide a way of

[2022-10-18 16:21] kshyju commented on #1127
Looks like your function app is in-proc, not isolated. Please open an issue in the https://github.com/Azure/azure-functions-host repo. If you can share a minimal repro (a github repo with minimal app where this issue can be reproed), that will help our investigation. Thanks!

[2022-10-18 16:21] #1127 closed

[2022-10-18 16:49] jviau commented on #1129
I don't think this is a logger issue, rather I think the handlers on `MessageReceiver` are never invoked. I think the issue is that your function invocation is going to end immediately after constructing `MessageReceiver` and it is going to be garbage collected. You cannot rely on fire & forget work like that on workers in v4 for a couple reasons. 1) this is going to be garbage collected because i

[2022-10-18 16:54] gautamsamal commented on #1129
@jviau For simplicity I had abstracted the problem but in our case the receivers are being setup before the `sendAsync`. During the debug or in actual function app, it seems to work reliably so far. It's just the logging that doesn't work anymore. Could be probably because our function app is hosted on an app service plan.