[2020-08-03 16:09] brettsam opened #8 "Handle async Functions"
Today we're just assuming that functions are synchronous and we're not awaiting the call.

[2020-08-03 16:12] brettsam opened #9 "Move function invocation middleware into an explicit middleware registration"
Right now we're auto-wiring up the invoker as the last piece of middleware. We should make this explicit and expose a `UseFunctionExecutionMiddleware()` that we wire-up in Program.cs.

[2020-08-03 16:13] brettsam opened #10 "Flow scoped DI services through pipeline"
This includes creating the function class with the DI services (if not static).

[2020-08-05 19:58] #10 closed, assigned to nobody

[2020-08-06 21:54] #9 closed, assigned to nobody

[2020-08-07 14:24] brettsam opened #14 "Add SourceGenerator that generates an implementation of IFunctionProvider"
We're going to try to skip over the need for function.json files in dotnet worker projects. In order to do that, we are hoping that we can auto-generate a class that implements IFunctionProvider, which will provide the host with all the function metadata it needs without having an actual json file artifact as part of the deployment.

[2020-08-11 03:41] fabiocav opened #15 "DI enable function class activation"
In order to support constructor injection, we need to activate the function class using the container to fulfill constructor parameters.

[2020-08-13 15:26] #8 closed, assigned to brettsam

[2020-08-21 20:12] brettsam opened #18 "Define behavior when using rich types in a function"
Rich types like `CloudBlockBlob`, etc, don't work when used in the worker. We need to define how to handle this so it's not a runtime exception.

[2020-10-01 15:47] anthonychu opened #20 "[Core tools] Add support for .NET 5 worker"
- [x] Add templates
- [x] Configure local.settings.json to start worker
- [x] `func azure functionapp publish` to configure worker (build the worker first)

[2020-10-01 15:53] anthonychu opened #19 "Runtimes folder containing gRPC binaries not copied for non-Windows"
After building an app, we end up with 2 `runtimes` folders in the output:

- bin/Debug/net5.0/runtimes
- bin/Debug/net5.0/bin/runtimes

The second one only contains `win` and `win7-x64` folders. Needs Linux and OSX ones too.

[2020-10-22 07:55] ankitkumarr opened #22 "Add tests for source generation"

[2020-10-22 08:12] ankitkumarr opened #23 "None is not supported yet"
When any binding is unavailable such that the datatype that is received is `null`, we get a `NotSupportedException`. We need to also handle the case for `TypedData.DataOneofCase.None`.

We probably need to handle a bunch of other types as well in future. But `None`, I think, is more crucial than others.

[2020-10-22 08:28] ankitkumarr opened #25 "Fail build when source generation fails"
It seems that any error today with source generation still makes the build be successful and leaves a small info message saying that source wasn't generated. We should force the build to fail in such cases with some helpful message.

We can catch all exceptions and use `SourceGeneratorContext.ReportDiagnostic` to create a diagnostic with a severity of error.

[2020-10-28 18:07] #23 closed, assigned to ankitkumarr

[2020-10-29 18:53] #25 closed, assigned to ankitkumarr

[2020-11-19 17:47] brettsam opened #37 "Worker config needs to generate assembly name rather than being hardcoded"

[2020-11-19 17:49] brettsam opened #38 "Fix core tools to prevent auto-updating of FUNCTIONS_WORKER_RUNTIME on deploy"
right now if you use "dotnet5" (or anything unknown) -- the core tools will overwrite the app setting when publishing

[2020-11-19 17:50] brettsam opened #39 "Come up with better worker name than "dotnet5""
We need something like `dotnetworker` to differentiate from `dotnet` -- but needs to support future versions of .NET

[2020-11-19 17:51] #15 closed, assigned to fabiocav

[2020-11-19 21:36] microsoft-github-operations opened #40 "ACTION REQUIRED: Microsoft needs this private repository to complete compliance info"
There are open compliance tasks that need to be reviewed for your azure-functions-dotnet-worker repo.

## Action required: 4 compliance tasks

To bring this repository to the standard required for 2021, **we require administrators of this and all Microsoft GitHub repositories to complete a small set of tasks within the next 60 days.** This is critical work to ensure the compliance and security of

[2020-11-25 01:34] ankitkumarr opened #44 "Throw error when using Extension Bundles"
If `host.json` has extension bundle configured, everything works fine except no functions show up. It's really hard to tell the root cause. And this can happen if your app is missing `host.json` as even the default one has extension bundles.

We likely need to fix this in Host, but tracking here for .NET worker work.

[2020-12-01 16:36] #40 closed, assigned to nobody

[2020-12-07 06:34] SeanFeldman opened #183 "Allow simpler testing with ConfigureFunctionsWorker"
Currently, Functions worker is configured with `UseFunctionExecutionMiddleware()` to provide the necessary infrastructure for triggers and output bindings. I'd like to be able to test my functions w/o running the full middleware when using the [container DI based Functions](https://github.com/Azure/azure-functions-dotnet-worker-preview/blob/main/FunctionApp/Function5/Function5.cs). This will allow

[2020-12-07 15:10] brettsam opened #47 "Validate worker exception handling and logging"
I ran into an issue while testing -- we were throwing a NullRef in here: https://github.com/Azure/azure-functions-dotnet-worker/blob/main/src/DotNetWorker/Definition/DefaultFunctionDefinitionFactory.cs#L20, but I wasn't seeing any log in the host. We need to ensure that exceptions in code like this make it back to the host for logging/debugging.

[2020-12-07 21:17] anthonychu opened #48 "Update Core Tools to set site and app settings on deployment"

[2020-12-07 21:17] anthonychu opened #49 "Publish package(s) to NuGet"

[2020-12-07 21:18] anthonychu opened #50 "Update sample app to use new package(s)"

[2020-12-07 21:22] anthonychu opened #51 "Update readme instructions in preview repo"
Some limitations to note:
- There may be breaking changes in the future
- Only core tools workflow supported
- Rich bindings not supported (give examples) - durable, etc

[2020-12-08 01:41] ankitkumarr opened #53 "Fix Functions Host's "/function" APIs and "sync triggers""
All ARM calls related to "/function(s)" API are missing binding information for .NET 5 worker. These API uses the payload created by the Functions Host during a sync triggers call.

When a sync triggers call is made, Functions Host somewhat relies on the physical `function.json` files to create the config portion of the request. This causes binding information to be missing in Functions that come

[2020-12-08 19:21] brettsam opened #54 "Add nuget package signing to devops build"

[2020-12-08 19:21] brettsam opened #55 "Add assembly strongname signing"
@fabiocav -- should we be signing these assemblies? I think we can just use our own key now, right?

[2020-12-08 20:05] brettsam opened #56 "Logging is not translating LogLevel to Rpc LogLevel"

[2020-12-08 20:06] brettsam opened #57 "Release updated Functions CLI with dotnet-isolated support"

[2020-12-08 21:13] #56 closed, assigned to brettsam

[2020-12-09 01:15] #54 closed, assigned to ankitkumarr

[2020-12-09 01:56] #55 closed, assigned to fabiocav

[2020-12-09 05:40] #48 closed, assigned to ankitkumarr

[2020-12-09 05:41] #57 closed, assigned to ankitkumarr

[2020-12-09 15:11] #39 closed, assigned to nobody

[2020-12-09 15:12] #14 closed, assigned to nobody

[2020-12-09 15:13] #37 closed, assigned to nobody

[2020-12-09 15:16] #38 closed, assigned to ankitkumarr

[2020-12-09 15:19] brettsam opened #62 "Wire up function ILogger to logging system"
Today we explicitly pass an ILogger to the ExecutionContext.
- We need to wire this up as an ILoggerProvider, which allows ILoggers used in customer DI services to log back to the host.
- Investigate how we handle categories, etc, from these loggers as they pass back through the host. For example, does the host respect the category on the RpcLog type and use it for its own logs?

[2020-12-09 15:23] brettsam opened #63 "Build out mechanism for system logs"
In the functions host, everything uses ILogger, which makes it hard to differentiate between System and User logs. We should take a different approach in the worker and make it explicit that logs written by system components do not use the "vanilla" ILogger, but maybe some internal wrapper class that allows us to differentiate.

[2020-12-10 01:26] #51 closed, assigned to anthonychu

[2020-12-11 12:50] dmytro-gokun opened #185 "Is TimeTrigger supported?"
Getting this error:

[code]

[2020-12-11 19:28] drub0y opened #122 "Http[Request/Response]Data contract classes design discussion"
**Preface:** As the title notes, this is probably more of a discussion than an issue, but it doesn't look like discussions are enabled on this repo yet... which is understandable since [it's only just recently (i.e. 3 days ago) gone into public beta](https://github.blog/changelog/2020-12-08-github-discussions-now-available-as-a-public-beta/). 😊

In looking at the samples and what immediately jumpe

[2020-12-11 21:02] ngg opened #184 "Support for .NET Core 3.1"
Currently the preview of Microsoft.Azure.Functions.Worker only targets net5.0.
Is there a plan to support netcoreapp3.1 or netstandard2.0/2.1?

We'd like to be able to update our functions to this new out-of-process mode, but we won't be able to use .NET 5 as it is not an LTS version (EOL is too soon). It would be great if we wouldn't have to wait until .NET 6 is released.

[2020-12-16 20:08] #50 closed, assigned to nobody

[2020-12-16 20:09] #49 closed, assigned to fabiocav

[2021-01-05 16:40] brettsam opened #69 "Improve function metadata generation"
Today we use Source Generators... but this won't work for non-C# or if the assembly has been AOT compiled. Need to come up with alternative or fallback...

[2021-01-11 17:59] hansmbakker opened #187 "Will binding to http route elements from the HTTP trigger be supported?"
Before, [parts of a url could be bound to](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook-trigger?tabs=csharp#using-route-parameters), which could then be used in other bindings.

E.g. you could take a part of the HTTP trigger url, and use that for a binding to a storage item.

Or see [this sample](https://docs.microsoft.com/en-us/azure/azure-functions/funct

[2021-01-15 00:44] Francisco-Gamino opened #72 "Functions Integration Tests—Onboard DotNet worker"
Please follow the instructions in the OneNote to onboard your language worker.

[2021-01-19 04:06] Matthewsre opened #182 "FunctionName with hyphen (-) breaks build"
FunctionName with hyphen (-) breaks build

To repro, take a working example and just change the function name to something like this:

`[FunctionName("CosmosData-Get")]`

This is the results that show up in the failed build:

[code]

Simply removing the hyphen in the name will allow this to build properly

[2021-01-20 18:43] fabiocav opened #73 ".NET worker detectors"
Issue to track the following:

- Review existing detectors to identify whether any of them would need to be updated
- Identify new detectors needed

[2021-01-22 19:19] brettsam opened #74 "Move TargetFramework to NetStandard2.0"

[2021-01-22 19:21] brettsam opened #75 "Update to drive Portal UX"
- Plan update to stacks that allows us to specify the language, version, and "mode" (embedded or isolated) for .NET
- Talk with Elliot/Allison about whether we can update the UX to look more like Web Apps:

Functions:
![image](https://user-images.githubusercontent.com/1089915/105535576-dea96480-5ca3-11eb-92d1-a30a96784d7c.png)

Web Apps:
![image](https://user-images.githubusercontent.com/1089915/1

[2021-01-22 19:22] brettsam opened #76 "Linux work needs to be done to enable "linuxfxversion" for .NET"

[2021-01-22 19:22] brettsam opened #77 "Placeholder investigations"

[2021-01-22 19:33] fabiocav opened #78 "Decouple initialization hosted service from communication channel (gRPC)"
We need to bring back some of the abstractions we previously had in the worker POC.

[2021-01-22 19:35] fabiocav opened #79 "Track invocations dispatched in the process call"
We need to to ensure the dispatch path is not just a "fire and forget". Messages need to be tracked.

[2021-01-22 19:50] fabiocav opened #80 "Use source generators to create the definition factory"
The `DefaultFunctionDefinitionFactory` is a type that should be generated at build time

[2021-01-26 22:09] brettsam opened #81 "Review entire public surface"
Minimize surface area for v1. Make sure that anything referencing GRPC or that couples us to System.Text.Json isn't exposed. Things like Converters can be all internal and exposed later to give us more time for API design.

[2021-01-26 22:10] brettsam opened #82 "Review FunctionExecutionContext API"
Make sure that it doesn't expose anything GRPC-related and that it is extensible for future usage.

[2021-01-27 15:08] brettsam opened #83 "Change JSON serialization to use ObjectSerializer"
See example here -- we should use `ObjectSerializer` from the Azure SDK to abstract away serialization technology. This likely should happen for GA because it could impact public API and slightly change behavior.

See here for an example: https://github.com/Azure/azure-sdk-for-net/blob/ef4430baed/sdk/core/Microsoft.Azure.Core.NewtonsoftJson/README.md. We'd likely add a `Serializer` property to our

[2021-01-27 15:08] brettsam opened #84 "E2E tests: Cosmos"

[2021-01-27 15:09] brettsam opened #85 "E2E tests: Http"

[2021-01-27 15:09] brettsam opened #86 "E2E tests: Timer"

[2021-01-27 15:09] brettsam opened #87 "E2E tests: Blob"

[2021-01-27 15:09] brettsam opened #88 "E2E tests: Queue"

[2021-01-27 15:11] brettsam opened #89 "E2E tests: Event Hubs"

[2021-01-27 15:11] brettsam opened #90 "E2E tests: Service Bus"

[2021-01-27 15:11] brettsam opened #91 "E2E tests: Kafka"

[2021-01-27 15:23] brettsam opened #92 "Simplify Middleware pipeline registration"
Adding registration helpers and potentially changing to make registration an interface rather than a delegate.

[2021-01-28 10:16] ankitkumarr opened #93 "Add dotnet templates for project and triggers"
WIP, pending discussion -- https://github.com/Azure/azure-functions-templates/pull/1015

[2021-01-28 10:19] ankitkumarr opened #94 "Update tooling feed for enabling VS support"
WIP, pending discussion -- https://github.com/Azure/azure-functions-tooling-feed/pull/234

Related and prereq -- #93

[2021-01-29 16:46] brettsam opened #95 "Review OutputBinding<T>"
- Can we eliminate output binding parameters completely?
- Move Binding attributes to function method level.

[2021-01-31 21:35] Mithras opened #186 "Is ServiceBusTrigger supported at all?"
[code]
throws "Microsoft Azure WebJobs SDK ServiceBus connection string 'MyConnectionString' is missing or empty." before Main() is called so I have no way of providing a connections string.

[2021-02-01 18:37] chassq opened #181 "Getting Null Exception"
See attached image when trying to run. Get is using local and trying a storage account in azure
<img width="1913" alt="Screenshot 2021-02-01 133613" src="https://user-images.githubusercontent.com/4785384/106502664-a3bce300-6492-11eb-9f0d-85f242ffd19d.png">

Unhandled exception. System.ArgumentNullException: Value cannot be null. (Parameter 'value')
   at Google.Protobuf.ProtoPreconditions.CheckNot

[2021-02-05 01:46] BroMarduk opened #180 "No Cancellation Token on Azure Function Method"
In the previous framework, I could pass a cancellation token to an Azure Function Method:

[code]
if I try and do that now, an error occurs when calling the method with the cancellation token:

[code]

This is the error that occurs when calling the method:

[code]

Will support be added back in for the tokens?

[2021-02-05 17:34] fabiocav opened #105 "Add support for shared memory data transfers"
Support the recently added shared memory data transfer added to the host.

[2021-02-05 19:54] fabiocav opened #106 "Investigate Service Bus extension functionality"
Investigate the issue described in https://github.com/Azure/azure-functions-dotnet-worker-preview/issues/39

Add to the E2E tests and OGF

[2021-02-08 15:21] onionhammer opened #109 "DX: MSBuild error "GenerateFunctionMetadata" with Microsoft.NET.Sdk.Functions referenced"
The readme does not state to remove this, so the MSBuild script could generate a better error when users are attempting to upgrade their projects

[2021-02-08 23:29] SeanFeldman commented on #92
That'd be a good change, 👍

[2021-02-09 18:36] brettsam commented on #95
@fabiocav or @ankitkumarr -- do either of you want to share the thinking around this here? Or should we share all details in the PR?

[2021-02-09 18:37] brettsam opened #107 "Rename FunctionExecutionContext -> FunctionContext"
This context is meant to be similar to `HttpContext`. And since `ExecutionContext` already has another meaning, the current name seems confusing. We think that `FunctionContext` makes the most sense.

[2021-02-09 21:47] SeanFeldman commented on #107
And there's also [`FunctionInvocation`](https://github.com/Azure/azure-functions-dotnet-worker/blob/main/src/DotNetWorker/Context/FunctionInvocation.cs), which also seems to be related to the execution.

[2021-02-09 22:29] anthonychu opened #108 "Allow hyphen in function name"
A function name with hyphen, for example, breaks build. https://github.com/Azure/azure-functions-dotnet-worker-preview/issues/34

[2021-02-09 22:33] SeanFeldman commented on #108
@anthonychu, any specific reason why not to move the issue from the original repository here? It will retain all the notifications but would reduce the brain split of finding to different issues in two repositories. Thanks.

[2021-02-09 22:36] anthonychu commented on #108
@SeanFeldman We're going to move everything over here soon.

[2021-02-10 00:39] mhoeger opened #110 "HTTP Body as bytes + no duplication"
Enable the following capabilities:
- [RawHttpBodyBytes](https://github.com/Azure/azure-functions-host/wiki/Out-of-Proc-Worker-Capabilities#rawhttpbodybytes)
- [RpcHttpBodyOnly](https://github.com/Azure/azure-functions-host/wiki/Out-of-Proc-Worker-Capabilities#rpchttpbodyonly)
- [RpcHttpTriggerMetadataRemoved](https://github.com/Azure/azure-functions-host/wiki/Out-of-Proc-Worker-Capabilities#rpchtt

[2021-02-10 00:40] mhoeger opened #111 "De-dupe HTTP request body by enabling "RpcHttpBodyOnly" and "RpcHttpTriggerMetadataRemoved" capabilities"
Read more here: https://github.com/Azure/azure-functions-host/wiki/Out-of-Proc-Worker-Capabilities#rpchttpbodyonly
And here: https://github.com/Azure/azure-functions-host/wiki/Out-of-Proc-Worker-Capabilities#rpchttptriggermetadataremoved

[2021-02-10 00:42] mhoeger opened #112 "Avoid buffer overrun on empt-valued HTTP properties by enabling "UseNullableValueDictionaryForHttp" capability"
Read more here: https://github.com/Azure/azure-functions-host/wiki/Out-of-Proc-Worker-Capabilities#usenullablevaluedictionaryforhttp

[2021-02-10 00:43] mhoeger opened #113 "Implement "WorkerStatus" message and capability (back-pressure control mechanism)"
Read more: https://github.com/Azure/azure-functions-host/wiki/Out-of-Proc-Worker-Capabilities#workerstatus

[2021-02-10 00:48] mhoeger commented on #111
Tracked here instead: https://github.com/Azure/azure-functions-dotnet-worker/issues/110

[2021-02-10 00:48] #111 closed

[2021-02-10 00:49] mhoeger opened #114 "Enable "SharedMemoryDataTransfer""
See: https://github.com/Azure/azure-functions-host/wiki/Out-of-Proc-Worker-Capabilities#sharedmemorydatatransfer
Improves perf

[2021-02-10 00:58] mhoeger opened #115 "Support array types as input data (string[], byte[][], long[], double[])"
Add support for rich types in arrays (ex: event hubs, cardinality many, binary data type array). Similar to: https://github.com/Azure/azure-functions-java-worker/issues/297

See: https://github.com/Azure/azure-functions-host/wiki/Out-of-Proc-Worker-Capabilities#typeddatacollection

[2021-02-10 01:14] anthonychu opened #116 "Add Az CLI functionapp create for .NET 5"

[2021-02-10 08:31] ankitkumarr opened #117 "Add a property in Sdk to indicate that it's out of proc"
This property can and will be leveraged by our tools, to figure out if the function app uses the out of proc dotnet model.

[2021-02-11 15:30] sccrgoalie1 opened #179 "Azure SignalR Integration IAsyncCollector equivalent?"
We use the SignalR integration with Azure Functions using the IAsyncCollector output binding

[code]

In attempting to migrate over I tried changing the AsyncCollector over to OutputBinding<SignalRMessage>, but using this only the last message added is actually sent.  Is there a way to send multiple messages as the process is running?

[code]

[2021-02-12 04:29] fabiocav commented on #114
Duplicate of #105

[2021-02-12 04:29] #114 closed

[2021-02-12 04:30] fabiocav commented on #112
Had this working, but we need to update the types with an up-to-date proto file. Creating an issue to track.

[2021-02-12 04:32] fabiocav opened #121 "Update gRPC types with more recent proto file"
The gRPC types were created with an outdated proto file, resulting in missing fields.

This is a blocker for https://github.com/Azure/azure-functions-dotnet-worker/issues/112

[2021-02-12 04:39] fabiocav commented on #122
Transferred the issue to the worker repo so we can continue updating here. The first wave of changes towards the design shared above is in PR right now. Still in draft, as it is being iterated on.

[2021-02-12 16:52] anthonychu opened #124 "Unable to output collections"
In `preview3`, this is failing with an error when trying to send multiple queue messages:

[code]

[code]

It works if we serialize the collection to JSON:

[code]

https://github.com/Azure/azure-functions-dotnet-worker-preview/issues/50
https://github.com/Azure/azure-functions-dotnet-worker-preview/issues/49

[2021-02-16 22:19] aaronzhongg opened #178 "Error starting when deployed to Azure Function App"
I have a timer triggered function app running on Azure which seems to have a problem starting.

Some other points to note:
- WEBSITE_RUN_FROM_PACKAGE = 1
- FUNCTIONS_WORKER_RUNTIME = dotnet-isolated
- "Azure Functions runtime is unreachable"
- Trigger column is empty

![image](https://user-images.githubusercontent.com/14045995/108128600-de20b400-7111-11eb-9920-39b2406e7a5b.png)

[code]

[2021-02-16 23:11] ankitkumarr opened #127 "Add support for batch/cardinality"
We need to add `cardinality` to our function metadata (for bindings) based on the request parameter type.

[2021-02-16 23:38] ankitkumarr opened #128 "[Host] Creating an empty "dotnet-isolated" app throws"
This is because Host tries to find `worker.config.json` for `FUNCTIONS_WORKER_RUNTIME` which in this case is `dotnet-isolated`. However, because `worker.config.json` for `dotnet-isolated` is shipped as part of function payload, Host throws an error on an empty functions site.

If you create an empty .NET 5 function app, you can see this error in Portal too.

[2021-02-16 23:48] #110 closed

[2021-02-16 23:48] #112 closed

[2021-02-16 23:48] #121 closed

[2021-02-17 02:38] mhoeger opened #133 "Enable setting multiple cookies through HttpResponseData"
E2E tests should be added too (note SameSite default behavior).

Example [from Node.js Worker](https://github.com/Azure/azure-functions-nodejs-worker/blob/v2.x/test/end-to-end/Azure.Functions.NodejsWorker.E2E/Azure.Functions.NodejsWorker.E2E/HttpEndToEndTests.cs#L84-L97):
[code]
[Function code](https://github.com/Azure/azure-functions-nodejs-worker/blob/v2.x/test/end-to-end/testFunctionApp/HttpTri

[2021-02-17 02:42] mhoeger opened #134 "Expose "trigger_metadata" (binding data)"
Part of this work includes an E2E HTTP test (`HttpTriggerBindingDataTests`) that will check to verify that binding data has been passed to the function. The function will fail if it doesn't see the properties it expects.

[2021-02-17 03:58] fabiocav commented on #116
We should have an issue in the Azure CLI repo to track this.

[2021-02-17 08:10] johnkors commented on #106
Hi @fabiocav ,

any pointers yet? So far, the only way we got the preview to work with the `ServiceBusTrigger` is to have the function parameters _exactly_  like below. Meaning, it only works when using `string`, and then only provides the body of the message.

[code]

Is there any way to get the messageId and the headers of the message via some other parameters or functionality?

[2021-02-17 17:36] #85 closed

[2021-02-17 21:53] ankitkumarr commented on #84
@brettsam, you completed this, right?

[2021-02-17 21:54] ankitkumarr opened #140 "E2E tests: RabbitMQ"

[2021-02-17 21:55] ankitkumarr opened #141 "E2E tests: EventGrid"

[2021-02-18 01:59] #107 closed

[2021-02-18 04:15] fabiocav commented on #62
@brettsam should this be linked to your PR?

[2021-02-18 09:28] ankitkumarr opened #143 "Add SendGrid extension"

[2021-02-18 09:28] ankitkumarr opened #144 "Add Twilio Extension"

[2021-02-18 20:17] #83 closed

[2021-02-18 22:27] #128 closed

[2021-02-19 21:24] brettsam commented on #84
yes, completed with #100

[2021-02-19 21:24] #84 closed

[2021-02-19 21:27] brettsam opened #148 "Gather E2E worker throughput data"

[2021-02-19 21:31] brettsam commented on #62
Yes, taken care of with #123

[2021-02-19 21:31] #62 closed

[2021-02-20 01:05] fabiocav opened #149 "Change converter interfaces to support async executions"
Some scenarios may require converter to perform IO operations asynchronously. The converter pipeline and interfaces should be changed to return a `ValueTask<bool>` in the `TryConvert` methods.

[2021-02-22 19:45] #87 closed

[2021-02-22 19:45] #88 closed

[2021-02-23 23:00] mhoeger opened #154 "Validate our HTTP "CreateResponse" is consistent with .NET"
We want to mimic .NET behavior on "CreateResponse" and make sure that it's consistent with what happens on our HttpRequestData

[2021-02-23 23:12] fabiocav commented on #95
Notes in https://apiview.dev/Assemblies/Review/af54138c8aa0459c8e91df73dfa71e98

[2021-02-23 23:12] #95 closed

[2021-02-23 23:12] fabiocav commented on #82
Done.

[2021-02-23 23:12] #82 closed

[2021-02-23 23:13] fabiocav commented on #81
First iteration done here: https://apiview.dev/Assemblies/Review/af54138c8aa0459c8e91df73dfa71e98

[2021-02-23 23:15] fabiocav opened #155 "Hook into process initialization to enable startup debugging"
We need to hook into process initialization to enable startup debugging

[2021-02-23 23:17] fabiocav commented on #134
Comments in the review: https://apiview.dev/Assemblies/Review/af54138c8aa0459c8e91df73dfa71e98

[2021-02-23 23:27] ankitkumarr opened #156 "Have extensions have properties for related WebJobs attribute"
Right now we rely on convention to convert `Azure.Functions.Worker.Extensions.` attributes to Binding type. For example, we say `BlobInputAttibute` maps to `blob` in FunctionMetadataGenerator by doing a string replace (removing InputAttribute) here -- https://github.com/Azure/azure-functions-dotnet-worker/blob/main/sdk/Sdk/FunctionMetadataGenerator.cs#L271.

We should instead consider having these

[2021-02-23 23:54] gzuber commented on #116
PR for stacks changes: https://github.com/pragnagopa/azure-functions-supported-runtime-stacks/pull/26
Expecting to have AZ CLI PR soon

[2021-02-24 01:46] gzuber commented on #116
AZ CLI PR: https://github.com/Azure/azure-cli/pull/17066

[2021-02-24 08:51] MishaD87 opened #177 "Performance degradation and 429 errors"
Hello
I just updated my Azure functions to .net5 worker and published it to Azure (Consumption plan).
I noticed huge performance degradation and I started getting 429 errors pretty a lot.
I partially solved a problem by adding this into my host.json and by decreasing an amount of requests from clients to Azure functions, but the problem still exists. And it also increased a price multiple times on

[2021-02-24 09:31] fabiocav commented on #156
Perhaps the model could be an attribute to enable to extension owner to explicitly define the extension/binding type name.

[2021-02-24 10:45] swilkodev opened #163 "HttpTrigger with query string parameter not working"
Using the below HttpTrigger signature with preview 4.

`[FunctionName(nameof(ExportTodos))]`
`public async Task<HttpResponseData> ExportTodos([HttpTrigger(AuthorizationLevel.Anonymous, "get", Route = "todolists/export/{id}")]`
            `HttpRequestData req,`
           ` int id,`
           ` FunctionExecutionContext executionContext)`
`{`
``
`}`

I get the following error when calling the API

[2021-02-24 11:19] swilkodev opened #164 "HttpTrigger with complex type does not work"
Using the below HttpTrigger signature with preview 4.

`[FunctionName(nameof(CreateTodosList))]`
`public async Task<HttpResponseData> CreateTodosList([HttpTrigger(AuthorizationLevel.Anonymous, "post", Route = "todolists")] `
            `TodoList todoList,`
            `HttpRequestData req,`
            `FunctionExecutionContext executionContext)`
`{`
``
`}`

TodoList instance is always null. Even

[2021-02-24 17:52] fabiocav commented on #164
Thank you @swilkodev . We have an update dropping this week bringing a lot of binding enhancements and fixes. This scenario might still not be addressed, but we'll use this to track.

[2021-02-24 17:53] fabiocav commented on #163
This should be addressed with the update dropping this week.

@mhoeger / @brettsam for awareness.

[2021-02-24 19:45] fabiocav opened #166 "Enable Source Link for all public projects"

[2021-02-25 22:27] jeffhollan opened #173 "HttpTrigger template references wrong package version"
Microsoft.Azure.Functions.Worker.Sdk is set to 1.0.1 instead of 1.0.0

[code]

[2021-02-25 22:38] jeffhollan opened #174 "HttpTrigger template missing Http extension"
Had to manually add this package to get the default template to build

    <PackageReference Include="Microsoft.Azure.Functions.Worker.Extensions.Http" Version="3.0.12-preview1" />

[2021-02-25 22:57] jeffhollan opened #175 "Default logger with context of Function name"
Seems repetative that so many functions will have this pattern:

[code]

I think `context` would know at this point what the Function Name is?  Can the default `context.GetLogger()` just default to returning an ILogger with the `context.FunctionDefinition.Metadata.Name`
(not a P0, but would be a nice to have)

[2021-02-25 23:05] jeffhollan opened #176 "Http Template needs a piece of reading the body"
I think it's super nice that our v2 / v3 templates include the `StreamReader` so folks know how to read the body. I think something similar would be beneficial here:

https://github.com/Azure/azure-functions-templates/blob/400eda3c9c00bcbb913ab82e6e10afe5e6e45290/Functions.Templates/Templates/HttpTrigger-CSharp/HttpTriggerCSharp.cs#L24

[2021-02-25 23:16] mhoeger commented on #127
related: https://github.com/Azure/azure-functions-dotnet-worker/issues/115

[2021-02-25 23:58] ankitkumarr commented on #174
Thanks for reporting! I wasn't able to repro this on my end. I will double check. The post-install action to add this package may fail if the build of your function project failed. I have seen this before if I have some issues in my `csproj` (or an invalid reference), so adding new reference fails (no error is shown).

Wondering if you saw this with the newest packages (`1.0.1-preview5` Sdk and `1

[2021-02-26 00:01] ankitkumarr commented on #173
@jeffhollan, this is intentional. Our newest Sdk package that was just released is `1.0.1-preview5`. Maybe it wasn't available when you tried it.

[2021-02-26 00:03] ankitkumarr commented on #174
Looking at your other issue  https://github.com/Azure/azure-functions-dotnet-worker/issues/173, I actually think that this happened in your case, because the dotnet5 project template is adding `1.0.1-preview5` and you may have been trying it before it was released :). So the action to add the Http package likely failed.

[2021-02-26 00:06] mhoeger commented on #154
Don't want it exactly consistent with .NET since all of our HTTP types our unique to us. Good as is!

[2021-02-26 00:06] #154 closed

[2021-02-26 00:07] jeffhollan commented on #173
Ah ok great must have been a timing issue / cache. You can close

[2021-02-26 00:24] #173 closed

[2021-02-26 00:25] fabiocav commented on #175
Yes, that can be done.

[2021-02-26 00:28] fabiocav commented on #176
The scenario you've shared above is reading as a `string`, is that covered by the `ReadAsString[Async]` methods? Is the goal to show how to read a `Stream`?

[2021-02-26 00:30] jeffhollan commented on #176
Oh that's great too! I didn't even notice that (which also makes me think this is good to just have in default template).

I just think since a ton of folks will read the body, makes sense to add a sample of how best to read.  Esp. with things like Async where we see time and time again people can screw up.  I think the template we have today is a good example:

- Read body as a string
- Serialize

[2021-02-26 00:31] #174 closed

[2021-02-26 00:39] fabiocav commented on #176
We should update the templates to use the methods we've exposed, which is actually a lot simpler than using the `StreamReader`.

For your second scenario, are you referring to the request or response? If the request, are you talking about reading the body payload and deserialize into an object?

We also have methods on the response to write the content and will be expanding both, request and respo

[2021-02-26 00:40] jeffhollan commented on #176
Ah cool - yes I meant deserializing the request.  In short I think the vast majority of folks will use an HTTP trigger to send some JSON, so the easier we can make the template to show them how to get the JSON values, the better.  Sounds like this could become a near single line with new SDKs.  Let's add that to the template

[2021-02-26 00:46] fabiocav commented on #177
@brettsam FYI. Relevant to the perf test scenarios we've discussed.

[2021-02-26 01:01] fabiocav commented on #124
Related to #127

[2021-02-26 01:01] fabiocav commented on #124
FYI @mhoeger

[2021-02-26 01:02] fabiocav commented on #108
Duplicate of #182

[2021-02-26 01:02] #108 closed

[2021-02-26 01:10] fabiocav commented on #176
Yeah! That's the goal; to make those scenarios dead simple with friendly APIs.

We were blocking on the "configurable serializer" support before we could add the JSON APIs, but now that it's there, we can implement them and you can choose which serialization stack you want to use (e.g. System.Text.Json, JSON.NET)

[2021-02-26 01:13] jeffhollan commented on #176
Great as long as we are aligned to add “retrieving a json value or null” into the template like we do today - I’ll leave it up to you all on what’s the best pattern to highlight there

[2021-02-26 01:49] Mithras commented on #186
@fabiocav I just want a way to do something similar to .ConfigureAppConfiguration(...) for the host. I can probably survive with App Service Key Vault references for now but what if I need to do something that is not KeyVault? Is it possible to define my own Reference implementation similar to KeyVault like "@MyOwn.NotKeyVault(...)"? That would be a real solution as I would be able to build that r

[2021-02-26 02:01] chris-oswald commented on #186
@fabiocav I also want to be able to access the app configuration values from Azure during bootstrap.  It sounds like this isn't in scope for GA (must use local.setting.json), which I'm not really excited about.  I'm just using the consumption plan, not premium or app service.

[2021-02-26 02:19] fabiocav commented on #186
For configuration values used by the triggers, that's where there's a limitation. For configuration within the context of your app, you should have the ability to do that just as you would with other .NET apps.

[2021-02-26 08:12] dmytro-gokun commented on #185
@fabiocav Thanks for the update.

Please check the screenshot above. When using Consumption App Service Plan you do NOT have "Stack settings" under "Configuration" -> "General settings". That is the problem and that's why I asked if I needed to enable something on the portal so see that. I've now re-read the article at the link you've posted and I do not see anything like that. It just claims that

[2021-02-26 08:49] chassq commented on #181
Installed the latest https://github.com/Azure/azure-functions-core-tools. Cloned the https://github.com/Azure/azure-functions-dotnet-worker-preview repo. Using latest VS 2019 preview.

Now I get this:
<img width="1904" alt="Screenshot 2021-02-26 034656" src="https://user-images.githubusercontent.com/4785384/109277617-9111a180-77e5-11eb-99c6-5ea95fb41a2e.png">

[2021-02-26 09:01] fabiocav commented on #181
Can you please share the full stack? Any connection information in local settings would also be help (sanitized to remove secrets)

[2021-02-26 09:03] chassq commented on #181
We have changed no code or settings with this for now. Just using what is in the project as is for now. When you say "Full Stack" can you give me a list of what you need. Not sure what that means.

[2021-02-26 22:22] mhoeger opened #192 "Signal to .net worker shutdown is about to occur"
Need to improve the shutdown scenario.

Currently, it's a proces.kill: https://github.com/Azure/azure-functions-host/blob/69e70a87bad28453bae43715c1e7a5ee8893cf37/src/WebJobs.Script/Workers/ProcessManagement/WorkerProcess.cs#L204

[2021-02-26 22:38] ankitkumarr opened #193 "Errors thrown during function load does not propogate"
If an error is thrown during function load, for somewhere here -- https://github.com/Azure/azure-functions-dotnet-worker/blob/main/src/DotNetWorker/Definition/DefaultFunctionDefinitionFactory.cs#L34, it wasn't getting caught or logged by anything.

Maybe that's because we create an unobserved Task here, and inside that nothing (handler or the function broker) catches exceptions for load requests -

[2021-02-26 23:25] TsuyoshiUshio opened #194 "Kafka Extension doesn't work by missing native library"
Kafka Extension includes native library, However, it is not included

[code]
bin\output\.azurefunctions

![image](https://user-images.githubusercontent.com/1390976/109365721-b4206d80-7846-11eb-9f68-e497fc5144fb.png)

It should be include runtime directory.

![image](https://user-images.githubusercontent.com/1390976/109365761-cbf7f180-7846-11eb-86e0-7703db9834a9.png)

[2021-02-27 00:13] ankitkumarr commented on #194
Adding some details from our investigation offline --

We all looked into this, and it seems to be caused because the "WebJobs Extensions" package that we build for the Host is targeting .NET Standard right now ([code](https://github.com/Azure/azure-functions-dotnet-worker/blob/main/sdk/Sdk/ExtensionsCsprojGenerator.cs#L57)). And dontet standard doesn't compile the native runtime dependencies.

We

[2021-03-01 08:21] fabiocav opened #195 "Log version information on worker start"
Log language metric with .NET runtime version information

[2021-03-02 00:27] cgillum opened #198 "Default HTTP template has invalid "Content" response header"
### Issue
This is a fit-and-finish issue. The C# code in the HTTP template constructs a "Content" response header that looks like it's supposed to be a Content-Type response header:

[code]

This code is not producing a valid HTTP response header. I assume this is a bug.

### Expected
I expect the code is actually supposed to look like this (correct header name, no extra whitespace, etc.):

[code]

[2021-03-02 00:40] cgillum opened #199 "HTTP triggers do not prevent you from using HttpRequest/Response[Message]"
### Issue

This is an **error-handling issue** that I expect to be common for anyone trying to migrate existing HTTP triggers from .NET to .NET-isolated. I'm aware that the correct way to write HTTP triggered functions is to use `HttpRequestData` and `HttpResponseData` (and I'll avoid getting into that debate here).

If I write an HTTP trigger function that takes `HttpRequestMessage` and returns `

[2021-03-02 00:52] cgillum opened #200 "Function host executes stale code"
### Issue

It seems like changes to the C# code is not always persisted. Old functions are not getting cleaned up after they are deleted from the code and updates to existing functions are not taking effect.

### Repro steps
1. Create a new app using `func init`
2. Create a C# file with two HTTP-trigger functions, `HttpStart` and `HttpStart2`.
2. Use `func start` to execute the host, run one of th

[2021-03-02 00:56] cgillum commented on #200
Nevermind - I forgot to hit the Save button in VS Code. I remember seeing a similar issue a long time ago (which was legit) but this time it was user error. >.<

[2021-03-02 00:56] #200 closed

[2021-03-02 01:08] cgillum opened #201 "DurableClient binding binds to a null object"
### Issue

This is an error-handling scenario. The intent is to see what kind of experience customers have when they erroneously try to use Durable Functions with the .NET 5 worker.

If I create an HTTP trigger function that binds to `[DurableClient]` (part of the Durable extension) the function executes but the `IDurableClient` object my function receives is `null`.

### Repro steps
1. Create a n

[2021-03-02 01:22] cgillum opened #202 "Durable Function triggers cause host startup to crash w/ArgumentNullException"
### Issue

If I add an `[OrchestrationTrigger]` or an `[ActivityTrigger]` to my function app, the host crashes on startup with the following error:

[code]

This is an error handling case. I'm aware that Durable Functions isn't supported. However, some customers may not immediately realize this and the error experience does not help them understand this.

### Repro steps
1. Create a new function a

[2021-03-02 01:58] fabiocav commented on #198
Thanks! Opened: https://github.com/Azure/azure-functions-templates/pull/1027

[2021-03-02 18:21] mhoeger commented on #124
Changes go here: https://github.com/Azure/azure-functions-dotnet-worker/blob/cc11b4db0f5eb1f5efb6c39c56e5534a9d52cfbe/src/DotNetWorker/RpcExtensions.cs#L21

Potentially depends on: https://github.com/Azure/azure-functions-dotnet-worker/issues/115

[2021-03-02 21:47] brettsam commented on #148
Initial pass is done. Going to remove "ga" label from here and use this task for full automation in the future.

[2021-03-02 23:53] #194 closed

[2021-03-03 06:32] gabesmsft opened #215 "Recommendation for working with large Blobs via bindings?"
If I define my triggering blob as a Stream, the blob gets triggered but the data appears to be null. Then if I declare a BlobOutput and try to return the Stream object, it never gets written to the destination blob container. Assuming Stream is considered a rich binding, is there an alternative we will recommend for declaratively outputting large blobs in .NET 5 Functions?

Here are further detail

[2021-03-03 09:26] gabesmsft opened #217 "workaround for getting rich metadata?"
For example, for [Blob Trigger metadata](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob-trigger?tabs=csharp#metadata) has BlobProperties properties.
Have not been able to figure out how to get these properties.
If I define a POCO with these properties and pass it into the Function method signature with an object named properties and then try to read these pr

[2021-03-03 15:21] brettsam commented on #177
@MishaD87 -- is it possible for you to share a sample app that shows this? Also, if you could share your Function App name (either explicitly or [privately](https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately)), I can see if I find anything from the backend logs.

Thanks for reporting this!

[2021-03-03 16:26] MishaD87 commented on #177
Below there is a typical function that was called
Inside highlighted methods there is the following logic (everything is async):
- DI container initialization with not too many services (Castle Windsor)
- 3-5 calls to database using NHibernate (database is on SQL server located on the same Resource group with Azure function)
- 1 call to Azure key vault (located on the same Resource group)
![image]

[2021-03-03 17:08] fabiocav commented on #177
This description helped. The function information will be helpful, but I believe I understand what’s causing this. Will have a PR shortly

[2021-03-03 17:35] pragnagopa opened #219 "Silent failures on batch out - Queue output"
Related issue: https://github.com/Azure/azure-functions-dotnet-worker/issues/124

Very likely issue with the user code below:

[code]

Function execution succeeds without errors and not writing to output queue

[2021-03-03 18:24] bcassell opened #220 "Dependency Injection doesn't seem to work"
When I follow the example for dependency injection, my types show up as null.  This doesn't seem to be an issue with my registrations because they resolve fine if I do registration and resolution inside of the function itself.  This is my Program.cs:

[code]

[2021-03-03 18:29] gabesmsft opened #221 "Single output binding example in doc missing the output binding attribute"
In the MS doc, the [Output Bindings](https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-guide#output-bindings) example for a single output binding is currently missing the Output binding attribute:

[code]
If we add these lines to the top of the code, it should suffice:
[code]

[2021-03-03 18:36] #201 closed

[2021-03-03 18:36] #202 closed

[2021-03-03 23:10] fabiocav commented on #220
@bcassell can you show how you're taking a dependency on the services? Where are you seeing them as `null`? Thanks!

[2021-03-04 00:25] #220 closed

[2021-03-04 01:13] anthonychu opened #223 "Announcement: 1.0.0-preview5 is available"
## Release notes

There are some important changes in this release. Be sure to check the release notes:
https://github.com/Azure/azure-functions-dotnet-worker/releases/tag/1.0.0-preview5

## Samples

https://github.com/Azure/azure-functions-dotnet-worker/tree/main/samples/SampleApp

## Documentation

The first of the Azure Functions .NET 5 documentation is now available at [Microsoft Docs](https:/

[2021-03-04 01:57] fabiocav commented on #133
Resolved in preview 5

[2021-03-04 01:57] #133 closed

[2021-03-04 18:38] fabiocav commented on #219
@mhoeger for awareness. Your changes should address this as well.

[2021-03-04 18:40] fabiocav commented on #217
binding data will flow, allowing you to bind to the specific elements. That information will also be present in the `FunctionContext` instance provided to the function

[2021-03-04 18:45] fabiocav commented on #215
Thank you, @gabesmsft

The approach here is to use a `byte[]` for input and output. We're considering `Stream` support but that would be misleading as the entire stream would need to be read to memory, buffered and passed in and out. This is due to limitations with the OOP model, which does to support streamed requests and responses today.

[2021-03-04 18:45] fabiocav commented on #215
To add, the goal is to eventually support proper streaming between the two, allowing for this to be properly surfaced

[2021-03-04 18:49] fabiocav commented on #164
This has been updated and the instructions on how to get the new version are here: https://github.com/Azure/azure-functions-dotnet-worker/issues/223

Closing as resolved, but please let us know if you continue to have issues. Thank you!

[2021-03-04 18:50] fabiocav commented on #155
Resolved by #203

[2021-03-04 18:50] #155 closed

[2021-03-04 18:51] ggailey777 commented on #221
Thanks @gabesmsft for pointing this out. We're pulling code examples directly from this repo, and the registration got off a bit on some of them. The linked PR fixes this issue.

[2021-03-04 19:02] SeanFeldman opened #226 "SDK type support for Service Bus"
There's already an [existing issue](https://github.com/Azure/azure-functions-dotnet-worker/issues/106) somewhat related to my question but doesn't cover it entirely.

1. What Service Bus SDK is going to be supported with .NET isolated worker? Will it be [Azure.Messaging.ServiceBus](https://www.nuget.org/packages/Azure.Messaging.ServiceBus/)?
2. What's the plan for supporting SDK type in the trigge

[2021-03-04 21:41] #124 closed

[2021-03-04 22:12] ggailey777 commented on #221
You should see this update publish by ~3pm PST today. Thanks again!

[2021-03-04 22:15] ankitkumarr commented on #219
@pragnagopa, I think the way to define output binding in this case would be in the method. That combined with Marie's cardinality changes should light this up. --

[code]

To use the property output binding, we would need to make sure that the return type matches the type defined for the property. so it should look like --

[code]

But, we agree that we may need to add analyzers to throw an error

[2021-03-04 22:29] swilkodev commented on #164
I tried preview 5, however the same issue persists where the complex type (TodoList) and HttpRequestData is null.

I tried swapping the parameters around, and found HttpRequestData was then initialised correctly, however the complex type is still null.

[2021-03-04 22:53] swilkodev commented on #163
Confirming this one is fixed in preview 5.

[2021-03-04 22:53] #163 closed

[2021-03-04 23:10] fabiocav commented on #226
The current extension just installs this extension int he host: https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.ServiceBus/

Which uses Microsoft.Azure.ServiceBus.

Service Bus types support will land as we iterate, for now, the native types (non-SDK types) should be supported (`string`, `byte[]`, POCOs)

[2021-03-04 23:11] fabiocav commented on #221
Closed as resolved. Thanks for reporting this!

[2021-03-04 23:11] #221 closed

[2021-03-04 23:12] ankitkumarr commented on #93
This is completed

[2021-03-04 23:12] #93 closed

[2021-03-04 23:12] fabiocav commented on #219
Completely missed the attribute in your POCO, but as @ankitkumarr mentioned, we'll have some validation for this.

[2021-03-04 23:12] ankitkumarr commented on #94
Completed

[2021-03-04 23:12] #94 closed

[2021-03-04 23:17] ankitkumarr commented on #116
Thanks Graham! Closing as completed.

[2021-03-04 23:17] #116 closed

[2021-03-04 23:31] fabiocav commented on #164
Request data wouldn’t be populated separately, but the POCO binding should work. Can you share your POCO and the sample request you’re sending?

[2021-03-04 23:56] mhoeger opened #230 "Increase test coverage around converter logic"
We need to add more rigorous tests around the DefaultModelBindingFeature since this is an important code path on converting inputs to input type the customer requests.

[2021-03-04 23:58] SeanFeldman commented on #226
@fabiocav, `byte[]` will work for the body but not the headers. What would be the recommended way to retrieve the incoming message headers?

[2021-03-05 00:48] swilkodev commented on #164
POCO class

`public class TodoList`
   ` {`
        `public string Title { get; set; }`
    `}`

Below is the request I'm sending in. I'm using REST Client in VS Code.

POST http://localhost:7071/api/todolists
Content-Type: application/json

{
    "title": "My Todo List"
}

[2021-03-05 01:00] gabesmsft commented on #215
Thanks @fabiocav , that makes sense. Byte[] isn't idle since the entire blob contents get loaded into memory, but glad there is the goal to eventually support streaming when using the OOP model.

[2021-03-05 01:00] #215 closed

[2021-03-05 01:02] fabiocav commented on #215
Yeah, those are current OOP limitations and not specific to .NET (all OOP workers have the same behavior). We're intentionally keeping `Stream` out at this point so users are not confused when they realize that the entire stream is read/loaded, which would happen out output as well.

[2021-03-05 07:38] mhoeger opened #234 "In SDK, load attributes to generate metadata"
Our SDK avoids needing to instantiate any types, but this can make it more difficult for us to give binding extension authors better support for attributes.

See note here: https://github.com/Azure/azure-functions-dotnet-worker/blob/1c613b0faad836ec53edbd37d58309dec39b1197/sdk/Sdk/CustomAttributeExtensions.cs#L18

[2021-03-05 07:55] #115 closed

[2021-03-05 07:55] #127 closed

[2021-03-05 20:20] #166 closed

[2021-03-06 06:15] Christoba opened #237 "It was not possible to find any compatible framework version (dotnet-isolated)"
## Summary
Attempting to follow sample instructions and host a .net 5 function app (c#) fails in two separate regions as .net 5 does not appear to be installed. Tried on x86 and then changed to x64. Regions attempted: West US 2, West Europe

Function app runs file locally.

### Package versions
[code]

### Error log from Kudu:
[code]

[2021-03-06 09:46] eriklieben commented on #164
Throws an exception when using code at commit 4f988d3

 Error converting 1 input parameters for Function 'HttpRequestWithPOCO': Cannot convert input parameter 'book' to type 'FunctionApp.Function1+Book' from type 'Microsoft.Azure.Functions.Worker.GrpcHttpRequestData'

![image](https://user-images.githubusercontent.com/1912596/110202314-f9a4f200-7e67-11eb-9676-ff0bf3033749.png)

Program.cs
[code]

[2021-03-06 16:34] brettsam opened #238 "Catch ambiguous match exceptions at build"
If you happen to have two `Run` methods in your application with the same namespace and class -- you'll end up with an ambiguous match exception when the worker attempts to find the method to call. This should be something we can validate at build time to prevent this -- if any two functions have the same Assembly and EntryPoint, they'll be ambiguous matches at runtime.

[2021-03-07 05:53] louisoftokyo commented on #178
Getting the same issue - TimerTriggers not working with the same symptoms as above. I'm also getting the following output when I publish from the command line, seemingly saying that it can't find my trigger:

[code]

It works as expected when run locally.

[2021-03-07 08:04] eriklieben opened #240 "Question: extend deserialization of objects on bindings"
Hi,

I was looking for ways to enrich the serialized data object or provide custom deserialization for a given object. Is extending this through providing custom json converters the preferred way for this?

So for example, I get the following data:

[code]

I would like to turn that into an object that looks like:
[code]

It looks like I could potentially do that by creating a custom ```IConverter

[2021-03-08 13:34] brettsam commented on #240
The plan is to expose the model binding (`IConverter`, etc) APIs very soon. It's not a goal for 1.0, but it was built with the intention of exposing it for extensibility. At this point, it needs a thorough API review and then it'll be ready. It's one of our first priorities post-1.0 (so, 1.1 or 1.2, depending on what else comes up).

Are you registering your own `ObjectSerializer`  in `WorkerOptio

[2021-03-08 16:15] louisoftokyo opened #244 "Null reference exception when running TimerTrigger sample app"
`timerInfo.ScheduleStatus` on line 17 of TimerFunction.cs of the sample app is null.

[code]

[2021-03-08 17:53] TorstenL commented on #237
I had the same problem Christoba. We use the plain RestApi in our CI/CD pipeline to publish the functions.

It was fixed for me after i added a local.settings.json
with: "Values": { "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated"} to the publish folder and used "func azure functionapp publish" to publish the project.

[2021-03-08 18:20] mhoeger commented on #198
Fixed with fabio's pr above

[2021-03-08 18:20] #198 closed

[2021-03-08 19:03] brettsam opened #246 "Publishing with a rid can cause dependency package downgrade errors (NU1605)"
For example, this generated project:
[code]

built with
[code]

Results in the errors:
[code]

[2021-03-08 19:07] brettsam commented on #246
I believe the issue (and solution) are here: https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu1605#issue-1

Adding this package removes these errors.

[2021-03-08 19:24] Christoba commented on #237
@TorstenL Your first suggestion appears to be a valid workaround.
* Copy a local.settings.json with `"Values": { "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated"}`
* Call `func azure functionapp publish <app name> --publish-local-settings` and note the following log message:
[code]
And the publish action with the setting appears to setup the host correctly with dotnet 5 installed (verified in kudu)
!

[2021-03-08 19:36] sccrgoalie1 commented on #185
I'm having trouble getting my TimerTriggers working on Azure as well.  I have a service bus trigger that works fine, but the timers aren't firing.  We are running on the premium plan, so don't have an explicit option to change to .NET 5, but if that was the problem wouldn't the service bus trigger fail as well?

I just updated to preview 5 today hoping that would work, but no such luck.

[2021-03-08 21:26] #246 closed

[2021-03-08 23:12] brettsam commented on #193
Closed in #245

[2021-03-08 23:12] #193 closed

[2021-03-08 23:14] brettsam commented on #134
Fixed with #241

[2021-03-08 23:14] #134 closed

[2021-03-08 23:16] brettsam commented on #117
Fixed in #239

[2021-03-08 23:16] #117 closed

[2021-03-08 23:17] brettsam commented on #92
Fixed #231

[2021-03-08 23:17] #92 closed

[2021-03-08 23:17] brettsam commented on #81
Will do one final review pre-1.0

[2021-03-08 23:19] brettsam commented on #47
Fixed with #245

[2021-03-08 23:19] #47 closed

[2021-03-08 23:23] brettsam opened #249 "Update templates for final 1.0 APIs, package references"

[2021-03-08 23:38] ankitkumarr commented on #244
What version of the packages are you referencing? I tried with the packages below, and it seems to be working fine --
[code]

I see these logs as expected --
[code]

[2021-03-09 05:32] fabiocav commented on #240
One thing to mention is that your approach is perfectly valid, and there’s no problem if you invest in that model going forward.

[2021-03-09 06:37] louisoftokyo commented on #244
I'm using those same versions.

I had to set `AzureWebJobsStorage` to `UseDevelopmentStorage=true` in the local.settings.json to get it to work - could that be the cause?

[2021-03-09 12:06] eriklieben commented on #240
Yes, works perfect, no issues.

[code]

I just noticed I need to wrap my head around the idea a bit. I am, in my current solution (running on dotnet core functions) not really using the plain object input/ plain object output behavior, but more or less use it to 'inject' a complex object into my function, and perform actions directly on it expecting them to execute/apply directly, instead of when

[2021-03-09 12:14] jamyspex opened #255 "Any way to pull TimerTrigger CRON from configuration?"
Hey

I love the direction this out-of-process refactor is taking the Azure functions SDK! It makes it much easier to utilise other parts of the .NET ecosystem, great work!

The only problem I had after updating my project's `TimerTrigger` functions to use the new hosting model, is I couldn't get pulling the timer CRON from config to work like it used to. For now I have had to hard code the CRON I

[2021-03-09 14:36] cmap-gaz opened #256 "Include CommandLine config source in `ConfigureFunctionsWorkerDefaults()`"
I get the following when trying to run locally using func host start

[code]

[code]

[code]

[2021-03-09 15:03] brettsam commented on #255
Thanks for the nice note @jamyspex!

We will add `TimerInfo` to our `Extensions.Timer` package shortly, but it will be a pretty simple POCO helper. You can do that today if you don't want to wait. Create a couple classes like this, then use this `TimerInfo` as your parameter (you can call the class whatever you want), and it should bind to it with the timer details: https://gist.github.com/brettsa

[2021-03-09 15:14] brettsam commented on #255
Thanks for the nice note @jamyspex!

I just tried using `%MyTimerCronConfigSetting%` (and added this to `local.settings.json`) and it seems to work locally. Are you seeing issues when running locally or when deploying to Azure?

Could you throw together a minimal example and stick it in a gist (or even in a comment here) and I can try to repro? Ideally I could see project file, Program.cs, and the

[2021-03-09 15:28] brettsam commented on #256
@cmap-gaz -- two questions:
1. Can you share your project file? I'm curious what package versions you're referencing.
2. What OS are you running this on?

[2021-03-09 15:33] brettsam commented on #244
@louisoftokyo -- yes, that's likely the issue. In order to track the past schedules, we need a storage connection string. We can update the sample so this is set up by default.

It's also possible to get a null `ScheduleStatus` (for example, if the CRON expression is shorter than 1 minute, we do not store status). We should update the sample to use `timerInfo.ScheduleStatus?.Next`

[2021-03-09 15:43] cmap-gaz commented on #256
[code]

This is on Windows 10 vs2019 16.9

[2021-03-09 16:21] jamyspex commented on #255
Hi @brettsam, thanks for the quick response!

I have prepared the following repo - https://github.com/jamyspex/FuncsTimerIssueMRE to demonstrate the problem.

I can confirm that placing the CRON expression as a value in `local.settings.json` leads to it being picked up as expected. As you will see in the example I am using an `appsettings.json` file as an example configuration source as it shows t

[2021-03-09 16:27] brettsam commented on #256
Can you get a few more pieces of info for me? Trying to narrow down what could be happening.
- Are you using VS or VS code to build?
- What directory are you running `func host start` from?
- In your built directory (the one that `func host start` is running from, typically `bin\debug\net5.0`), can you share the `functions.metadata` and `worker.config.json` files?

[2021-03-09 16:32] cmap-gaz commented on #256
Using VS to build

running `func host start` from the root of the project

[code]

[code]

[2021-03-09 16:40] Christoba commented on #237
@brettsam, thanks for confirming. If nothing else, error messaging could be helpful here.
* Updating just the appsetting for `FUNCTIONS_WORKER_RUNTIME` to `dotnet-isolated` does not indicate the core issue
* Using `func azure functionapp publish` on an existing function app without specifying `--publish-local-settings` similarly did not install .net 5

I'll also note that both .net core 2.2 and 3.

[2021-03-09 18:32] brettsam commented on #256
Alternatively -- if you set the default loglevel to "Debug" in host.json, you should see a lot more logs when you run `func host start`. One of those will look like `Starting worker process with`.... If you could share that log, it'd tell me the arguments getting passed into the worker. Example host.json below:
[code]

[2021-03-09 19:06] cmap-gaz commented on #256
[code]

This is from the extra logging:
[code]

[2021-03-09 19:51] mhoeger opened #257 "Analyzer for HttpRequestMessage and HttpResponseMessage"
Don't let people use `HttpRequestMessage` and `HttpResponseMessage` - need to use our http types instead

[2021-03-09 19:52] mhoeger opened #258 "Analyzer for IAsyncCollector et al."
Don't let people use the WebJobs way of output binding

[2021-03-09 19:55] brettsam commented on #256
Ah okay -- this line is currently required:
[code]

We're introducing a new API to make this smoother -- `.ConfigureFunctionsWorkerDefaults()` that will take care of this for you in the next release. But for now, you need to explicitly register the command line config source.

I've updated the title and assigned to @fabiocav, who is already looking at this.

[2021-03-09 20:47] mhoeger opened #259 "Startup fails when Fiddler capturing traffic"
I've accidentally run into this twice now with Fiddler, so documenting the exception. If you have Fiddler on and capturing network traffic, startup may fail with following exception:

[code]

**Solution:** turn of capturing

[2021-03-09 20:47] #259 closed

[2021-03-10 03:58] fabiocav commented on #81
Last round or reviews completed. Added with #262

[2021-03-10 03:58] #81 closed

[2021-03-10 04:28] mhoeger opened #265 "Add logs that are passed when a "diagnostics mode" is enabled"
Example: Show JsonPocoConverter deserialization errors if diagnostics mode is enabled

[2021-03-10 04:30] mhoeger opened #266 "Pass in grpc "RpcType" type data for converters"
It will be more efficient and accurate (often) to use the RpcType type instead of going through each converter. Another place where this would be really useful is in poco deserialization, where if an exception is thrown during deserialization AND the incoming data was a json type, we should show the deserialization exception instead of a generic "could not convert type string to type poco"

[2021-03-10 04:44] mhoeger commented on #249
Partially fixed by: https://github.com/Azure/azure-functions-templates/pull/1031

[2021-03-10 05:42] mhoeger commented on #249
Closed with above pr and https://github.com/Azure/azure-functions-templates/pull/1033 and https://github.com/Azure/azure-functions-templates/pull/1032

[2021-03-10 05:43] #249 closed

[2021-03-10 07:23] louisoftokyo commented on #244
That was it. Thanks for your assistance. I have to say that is quite surprising behaviour; I would not have expected that whether a time trigger schedule information property is null or not would depend on the next invocation being greater than 1 minute away.

[2021-03-10 08:35] mhoeger opened #270 "EventHub default template runs into IndexOutOfRangeException when triggered with no data"
Hitting an IndexOutOfRangeException when event hub triggered function triggered with no data.

Repro:
[code]
To repro: Run the "Test" function with a request that has no body

Exception:
[code]

[2021-03-10 09:14] mhoeger opened #271 "Improve .NET isolated templates"
Some areas of interest:
- ILogger nameof improvmenets
- EventHubs trigger when no data
- Program.cs and all templates "using" statement cleanups
- HttpTrigger consistent with other samples -- Use name query param, and return "Hello, <name>"

[2021-03-10 10:22] #256 closed

[2021-03-10 10:24] fabiocav commented on #266
This can (and should) be done by gRPC specific converters. The gRPC worker implementation has the ability to augment the converters collection and pass additional state to provide what is required to efficiently perform conversions.

[2021-03-10 12:00] #19 closed, assigned to nobody

[2021-03-10 12:01] fabiocav commented on #20
Closing as resolved

[2021-03-10 12:01] #20 closed

[2021-03-10 14:39] brettsam commented on #244
Yes, I'm noticing that the docs don't reflect this anywhere even though it's been this way for 5 years as far as I can tell (I did some investigating):
- https://github.com/Azure/azure-webjobs-sdk-extensions/blob/dev/src/WebJobs.Extensions/Extensions/Timers/Scheduling/TimerSchedule.cs#L81-L86
- https://github.com/Azure/azure-webjobs-sdk-extensions/commit/10d7d4c2b14dc555b81ff4059c656cca94163c86

W

[2021-03-10 14:49] brettsam commented on #255
Ahh yes. Good point. Right now those configs live in "separate worlds" where the config you set up in your worker does not translate to the Functions host, so the it doesn't know about anything like this.

As for the `dotnet-isolated not found` issue -- would you mind creating a separate issue with a small repro that shows this? We can track that separately and use this to track the "handling conf

[2021-03-10 15:34] jamyspex opened #273 "Microsoft.Azure.WebJobs.Script: WorkerCofig for runtime: dotnet-isolated not found. Value cannot be null. (Parameter 'provider')"
Start up error `Microsoft.Azure.WebJobs.Script: WorkerCofig for runtime: dotnet-isolated not found.
Value cannot be null. (Parameter 'provider')` occurs when using the following versions of the core nugets:

[code]

MRE example here: https://github.com/jamyspex/WorkerConfigNotFoundMRE

[2021-03-10 15:46] dmytro-gokun commented on #180
Now, when version 1.0.0 is out... is it possible to use CancellationTokens?

[2021-03-10 15:47] dmytro-gokun opened #274 "Is [Singleton] attribute supported?"
Now, when version 1.0.0 is out, i've started trying to port some our functions. Stumbled upon this attribute on some of the functions. Is it expected to work?

[2021-03-10 15:58] Romfos opened #275 "Is it compatiable with .net core 3.1?"
Hello,

Could you please tell me - can I use new azure fuctions sdk for .net core 3.1 app or I should use it only with .net 5 ?

Thank you!

[2021-03-10 16:24] brettsam commented on #274
This will not work today as it only works with the in-proc model. We can use this issue to track the feasibility of adding this in the future.

[2021-03-10 16:26] brettsam commented on #275
Today only with .NET 5 -- see this issue for some more details: https://github.com/Azure/azure-functions-dotnet-worker/issues/184.

[2021-03-10 16:26] #275 closed, assigned to nobody

[2021-03-10 16:26] brettsam commented on #275
Closed as duplicate.

[2021-03-10 16:45] brettsam commented on #273
Thanks @jamyspex!

I see the issues:
- In one of the previews, we moved away from using packages everywhere. So you need to:
[code]
- After that, your project won't build b/c of some minor API changes, so in your function class:
[code]
- You can also simplify your hostbuilder to this now:
[code]

And I think that'll get it running after you uncomment the line in local.settings.json.

[2021-03-10 17:34] jamyspex commented on #273
Cheers @brettsam! After making those changes and upgrading to the latest version of the core tools (3.0.3331) I've got the example working!

[2021-03-10 17:34] #273 closed

[2021-03-10 17:35] dmytro-gokun commented on #274
That would be really nice. I guess i'm not only one who would use this feature.

[2021-03-10 22:25] onionhammer commented on #258
Better yet, implement support for them

[2021-03-10 22:31] onionhammer opened #277 "Document binding environment variables to configuration (for local.settings.json and app settings)"
I'm not seeing any documentation for how to actually bind to values in the local.settings.json file.

In normal dotnet azure functions, values in local.settings.json are accessible as IOptions, but they are showing up as null in dotnet-isolated functions.

[code]

For example config.GetSection("SectionName").GetValue("ValueName")

[2021-03-11 00:14] prabh-62 opened #278 "Build failed: The framework 'Microsoft.NETCore.App', version '3.1.0' was not found"
## System Info

[code]

## Steps to reproduce

[code]

## Expected Outcome
`dotnet build` should be successful

## Actual Outcome
`dotnet build` errors on building the project
[code]

[2021-03-11 00:17] bryandh commented on #178
I am getting the same issue but with an HttpTrigger. I published the SampleApp from this repo, without any changes, to my newly created Azure Function App and *all* functions and therefore all trigger types appear as `[No Trigger Found]` in the terminal response. The triggers also show up as blank just like @aaronzhongg is experiencing in the Azure Portal.

My Azure Function App's Configuration lo

[2021-03-11 00:31] fabiocav commented on #278
@prabh-62 while targeting Azure Functions V3, .NET Core 3.1 is still a dependency on the local machine as detailed here: https://github.com/Azure/azure-functions-dotnet-worker/releases/tag/1.0.0

There is some flexibility if you're not using packages that require native dependency or platform specific dependency resolution (which enables the SDK to optimize the process), in which case, you can avo

[2021-03-11 00:31] #278 closed

[2021-03-11 00:45] prabh-62 commented on #271
Also, if `static` keyword should be part of triggers by default? https://github.com/Azure/azure-functions-templates/issues/1034

And nullable mode by default https://github.com/Azure/azure-functions-templates/issues/1035

[2021-03-11 02:22] fabiocav commented on #277
@onionhammer you should be able to add the following to your host builder configuration in `program.cs` to bind to the environment variables in configuration:

[code]

[2021-03-11 02:49] fabiocav opened #279 "Create micro benchmark project and initial set of benchmarks"

[2021-03-11 02:50] fabiocav opened #280 "Create middleware samples"
Create a comprehensive set of middleware samples

/cc @ggailey777

[2021-03-11 02:52] fabiocav opened #281 "Implement test worker/test framework"
Implement a test worker and test helpers for public consumption.

This should also be adopted by the worker tests in the project.

[2021-03-11 06:45] #240 closed

[2021-03-11 07:47] quintusm opened #282 "Documentation and samples for Visual Basic and F#"
Please don't forget about the users of the other dotnet languages officially backed by Microsoft such as Visual Basic and F#.

If usage of these languages are not possible or not supported, please state this clearly in the documentation, including the distinction between "Not Possible" and "Not Supported"

[2021-03-11 09:20] fabiocav commented on #282
Thank you for the feedback, @quintusm flagging this and hoping this is something we can prioritize soon.

/cc @ggailey777 @anthonychu

[2021-03-11 09:25] alsami opened #283 "IotHubTrigger and EventData binding"
Hey there!

Previously we were able to use something like this:

[code]

 As far as I understood without knowing the code the attribute `IotHubTriggerAttribute` is just an alias for `EventHubTriggerAttribute` which would be then part of the new-package `Microsoft.Azure.Functions.Worker.Extensions.EventHubs`.

One question remains is how can I get `EventData` now?

I couldn't find a solution for th

[2021-03-11 12:08] bryandh commented on #178
Some screenshots of my publish process and Azure environment to further illustrate the problem I'm experiencing:

_Config in Azure:_
<img width="680" alt="Screenshot 2021-03-11 at 13 01 49" src="https://user-images.githubusercontent.com/11500592/110784665-3dce3300-826a-11eb-8a90-f38fa5be1fa6.png">

_Publish to Azure Function App result:_
`func azure functionapp publish temp-net50-function-app`

<i

[2021-03-11 14:13] onionhammer commented on #277
@fabiocav  that worked, thanks. Just FYI though, I searched the entire repo for "local.settings.json" and found no mention of it in any of the documentation/readme or even the code to see what looked at it, the only references are a few issues.

IMO local.settings.json should be bound by `ConfigureAppConfiguration` if `AZURE_FUNCTIONS_ENVIRONMENT` is `Development`.

[2021-03-11 14:32] onionhammer opened #284 "Service Bus 'Message''s label"
Since 'Message' is no longer a valid servicebus trigger option, how do you go about retrieving the attributes such as 'Label' from the input message?

This was also asked and not answered in followups to #226

[2021-03-11 14:39] onionhammer commented on #226
@SeanFeldman looks like you can retrieve this from `FunctionContext`;
 `context.BindingContext.BindingData.TryGetValue("Label", out var label)`

[2021-03-11 14:40] onionhammer commented on #284
Update: Looks like these properties can be retrieved through `FunctionContext`;
 `context.BindingContext.BindingData.TryGetValue("Label", out var label)`

This should be documented somewhere

[2021-03-11 14:54] onionhammer opened #285 "QueueTrigger cannot bind to Guid type"
QueueTrigger binds to string and POCOs, but cannot deserialize Guid, or presumably other primitive (easily deserializable) types

[2021-03-11 15:21] onionhammer opened #286 "In addition to Task<IEnumerable<>> output, support IAsyncEnumerable<T> outputs"
This would be a sensible addition, if possible

[2021-03-11 17:31] KaiEkkrin opened #287 "Event Grid trigger function: internal server error when subscribing to a topic"
I deployed a new .NET 5 function app using the newly released 1.0.0 functions worker. It has two functions, one with an Event Grid trigger and one with a HTTP trigger. I want to consume events from an Event Grid topic.

I can successfully subscribe the HTTP function to my topic with `az eventgrid event-subscription create --event-type webhook ...`. (The function includes an implementation of the E

[2021-03-11 17:49] fabiocav commented on #226
Indeed; that wasn't in the last preview, so it's a property that only became publicly available in the final release (sorry about that).

We actually had this thread on the radar to update with that information and, because of that, the `BindingContext` property was often referred to as "Sean's property".

It's also worth mentioning that, similar to WebJobs/Functions, method parameters matching th

[2021-03-11 17:54] fabiocav commented on #287
This might be somewhat unrelated to the worker, but it would be good to have access to the logs for closer investigation. Would you be able to share the app name?

For the portal issue, this is one of the known problems we're tracking with UX and a deployment is currently rolling out to address that. We hope to have that addressed soon.

@mhoeger and @ankitkumarr ; I know you've spent time going t

[2021-03-11 17:55] fabiocav commented on #286
Seems like a reasonable request.

/cc @mhoeger

[2021-03-11 17:59] fabiocav commented on #285
Our extensions project what is supported by the underlying bindings, and although `Guid` is not explicitly documented [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-queue-trigger?tabs=csharp#usage), if properly formatted, it should still fall back to deserialization.

Though, adding the ability to bind to a Guid directly would also be pretty simple.

[2021-03-11 18:01] KaiEkkrin commented on #287
@fabiocav Thanks for the quick reply. The app is "softools-staging-workflow-service".

[2021-03-11 18:05] fabiocav commented on #284
Agreed.

@ggailey777 we can sync up on this and enhancements to the [FunctionContext section](https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-guide#execution-context) to cover some core scenarios (sorry, this was missing in preview 5)

[2021-03-11 18:11] fabiocav commented on #283
`EventData` is not (yet) supported by the extension, but all of the properties coming with the event are available in the `FunctionContext.BindingData` property. While `EventData` is not supported, you should be able to construct an instance of it, or just get the desired properties from the context.

[2021-03-11 18:38] alsami commented on #283
Will give it a try tommorow and get back to you.

[2021-03-11 18:45] dmytro-gokun opened #288 "ConfigureFunctionsWorkerDefaults should also call AddEnvironmentVariables"
Env. variables is default means by which a function receives it's parameters when run on Azure, aren't they? Things like connection strings, various secrets and stuff. One would expect those are loaded to IConfiguration by default. And that seem to be the in-proc worker behavior everyone is used to. Am I correct?

[2021-03-11 18:47] dmytro-gokun commented on #185
@fabiocav Any chance you can help with this issue. Or is it's just we should accept that this out of process thing does not work with Consumption Plans and wait for .NET 6 (or 7?). I'm totally confused.

[2021-03-11 18:58] Romfos opened #289 "Controllers vs static methods syntax"
Hello,

What do you think about stop using static methods for "triggers" and staring using more aspnetcore like syntax:

Example:
[code]

Let's duscuss :)

[2021-03-11 19:04] SeanFeldman commented on #289
That's already possible. And you don't have to inherit from a base class.

[2021-03-11 19:05] Romfos commented on #289
@SeanFeldman could you please provide some example?

[2021-03-11 19:14] mhoeger commented on #277
Re-opening to track documentation update. Thanks!

[2021-03-11 19:14] SeanFeldman commented on #289
Absolutely. Have a look at the samples. Specifically: https://github.com/Azure/azure-functions-dotnet-worker/blob/main/samples/FunctionApp/Function5/Function5.cs

[2021-03-11 19:15] mhoeger commented on #277
Actually sorry - tracking here :) https://github.com/Azure/azure-functions-dotnet-worker/issues/288

[2021-03-11 19:15] #277 closed

[2021-03-11 21:46] Mithras opened #290 "Registering a function class in .ConfigureServices(...) doesn't work."
This
[code]
doesn't work. I can't find a way to provide my own functions factory. It makes it impossible to use third party containers like Autofac, for example.
I found [IFunctionActivator.cs](https://github.com/Azure/azure-functions-dotnet-worker/blob/main/src/DotNetWorker.Core/IFunctionActivator.cs) but whatever `IServiceProvider` it uses is not the one I have any control over. And I can't prov

[2021-03-11 22:34] Mithras commented on #290
I'm really confused what's going on inside. So `myFunction ` here is resolved using my factory as expected but `next()` creates a new one which is not from the `functionContext.InstanceServices`.
[code]

[2021-03-11 22:59] fabiocav commented on #290
Thanks for opening this!

Yes, `IFunctionActivator` is the mechanism that will be surfaced to control function instantiation. Those APIs will be made public as we continue reviews and ensure they're stable. This particular API is a pretty straight forward one that I would expect to have reviewed in the next round and made public in the next drop.

[2021-03-12 02:04] fabiocav commented on #288
This is reasonable. Technically a breaking change, but in practice, unlikely it would impact anyone at this point.

One thing that differs from the in-proc mode is that all binding configuration is ultimately applied at the host level, so this primarily impacts custom config/options, and things like that within the scope of the worker, but might become a bigger issue in the future, so it's worth c

[2021-03-12 06:25] fabiocav opened #291 "test"

[2021-03-12 06:25] #291 closed

[2021-03-12 07:12] forki opened #292 "Is TimerInfo gone?"
https://github.com/Azure/azure-functions-dotnet-worker/blob/main/samples/SampleApp/Timer/TimerFunction.cs#L21

I can't find a built in TimerInfo type? This seems very weird to have a custom CLIMutable custom type.

Any pointers to the built in one?

[2021-03-12 13:32] tidusjar commented on #180
Is there any update on this?

I'd like to understand the reasoning behind removing the cancellation token, especially in the case of HttpTriggerFunctions where using a `CancellationToken` makes **A LOT** of sense.

This is a bit of a deal breaker personally for me as I feel like this is a step backwards and is preventing me from upgrading to net core 5.

[2021-03-12 13:51] sccrgoalie1 commented on #185
I got it working after I found this error.  In the past this setting had always been there in the portal, but was missing.  I set the AzureWebJobsStorage configuration setting and then it started working.

![image](https://user-images.githubusercontent.com/2366790/110948433-f5b11e00-8306-11eb-8616-56e025a72b25.png)

[2021-03-12 14:44] MattJeanes opened #293 "IMessageReceiver on ServiceBusTrigger"
I understand IMessageReceiver is no longer bindable with dotnet-isolated but what is the recommended way to achieve the functions it previously provided now? For example, manual completion of the message, receiving deferred messages, deferring messages etc. I cannot see any way to do this now.

[2021-03-12 15:16] brettsam commented on #185
@sccrgoalie1 -- do you know how you created your app? Missing that storage setting would cause some issues so we should try to prevent it wherever we can.

[2021-03-12 15:18] brettsam commented on #292
We'll have a built-in one coming in the Timer Extension soon. Because it's pretty straightforward to do this yourself, it got punted until after GA.

But this is getting asked quite a bit, so we'll try to prioritize this (all it needs are some good tests now). We can use this issue to track that work.

[2021-03-12 15:26] sccrgoalie1 commented on #185
I believe I added a slot in the Azure portal and then deployed as described in the readme

[2021-03-12 17:37] Romfos commented on #289
@SeanFeldman ok, thank you!

[2021-03-12 17:59] danielegiallonardo opened #294 "SignalR extension not working with Groups"
Hi, I was trying to migrate our functions to net5 worker, but I didn't manage to make the SignalR "groups" feature work.

Following is the function I use to register a user to a group.

Before:
[code]

After:
[code]

The functions returns 200, no errors in the console (verbose).

Following is the function I used to send a message to a group.

Before:
[code]

After:
[code]
The functions returns 200

[2021-03-12 18:37] onionhammer opened #295 ""Test/Run" option not available in portal"
![image](https://user-images.githubusercontent.com/969938/110983698-b2b77080-832f-11eb-9f61-fcbc91c56a81.png)

Even though the tooltip says "Only available for HTTP triggered functions" the test/run button is still disabled even for HTTP triggered functions

[2021-03-12 21:18] kinetiq commented on #143
@fabiocav  @brettsam Could I have an update on this one please?

Having trouble interpreting the labels swapping off and on - I am pretty sure fabiocav mentioned in a different issue that  SendGrid was in, but I am not seeing it anywhere. Please advise if there's a workaround, etc.

[2021-03-13 01:51] dngache opened #297 "dotnet build in docker still requires .net core 3.1"
### Problem

I am running into an issue when building a .net5 azure function using docker. I have created a repo to demonstrate the issue with a simple function as shown here https://github.com/dngache/azure-functions-net5. Looks like .net core 3.1 is still required since the error references `WorkerExtensions.csproj`. I am using .net5 sdk. Is this expected behaviour?

### Current Behaviour

`dotn

[2021-03-13 02:09] fabiocav commented on #293
Those scenarios are not currently supported. We'll continue to close those gaps as we enhance the binding model in the host and adopt that in the worker, but in the meantime, to use bindings for those scenarios, you still need to use the in-proc model.

[2021-03-13 02:11] fabiocav commented on #294
This should work, so it requires some investigation (thank you for the repro code).

@anthonychu is this something you've tried?

[2021-03-13 02:14] fabiocav commented on #295
We are tracking a portal update/fix to address an issue with this.

Will keep this open so we can track the deployment completion.

@ankitkumarr to confirm this is indeed the issue that is being addressed with the deployment.

[2021-03-13 02:16] fabiocav commented on #297
@dngache this is currently documented (with a workaround, if applicable to your scenario) in the [Known issues and limitations page](https://github.com/Azure/azure-functions-dotnet-worker/wiki/Known-issues#net-core-31-dependency).

Thank you for reporting!

[2021-03-13 03:26] MattJeanes commented on #293
That is a shame, but thank you for the quick response. Is this planned for .NET 5 or is this more like something on the roadmap for .NET 6? Just would like to get an idea of a timeline as this is blocking our upgrade to .NET 5

[2021-03-13 03:41] dngache commented on #297
Thanks @fabiocav. By the way there is a typo in the wiki. `<_FunctionsExtensionTargetFramework>netstandard2.0<_FunctionsExtensionTargetFramework/>` should be `<_FunctionsExtensionTargetFramework>netstandard2.0</_FunctionsExtensionTargetFramework>`

[2021-03-13 03:48] dngache commented on #297
@fabiocav I tried the workaround you suggested as you can see here https://github.com/dngache/azure-functions-net5/blob/main/functionnet5.csproj#L8, and I still get the same error message. I am I missing something?

[2021-03-13 06:15] anthonychu commented on #294
Hard to tell what could be wrong here. I’d try the following:

- Test that you can send and receive broadcast messages (no group or user id)
- Confirm that the client is connecting using a user id (you might need to log the token that is returned and inspect it using something like https://jwt.ms
- It’s not clear what your clients are. Recommend using JavaScript in the browser to test and check th

[2021-03-13 09:55] OkayX6 opened #299 "[Http binding][route parameters] - no working example?"
Hi everyone,

I managed to migrate some of my Azure project from .NET Core 3.1 to .NET 5.0 (using version **1.0.0-preview4** - _things started to break with version 1.0.1_).

So far I couldn't find a working example to get the below code (WebAPI-style route parameters Http binding) to work as before?

[code]

Thanks for your help.

[2021-03-13 12:16] eriklieben commented on #164
This seems to be the way if you want both the ```HttpRequestData``` and the object from the body.

[code]

[2021-03-13 12:30] eriklieben commented on #299
This works with the 1.0.0 version, maybe try to get the latest version of the nuget?

[code]

[2021-03-14 00:51] swilkodev commented on #164
Thanks @eriklieben for the suggestion. I can confirm that works in my repo so I will use that technique for now.

[2021-03-14 06:01] felinepc opened #318 "DI injected IConfiguration cannot get any custom settings from local.settings.json"
I'm using the just released  .NET 5 isolated process Azure Function project template for Visual Studio 2019, following[ this documentation](https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-developer-howtos?tabs=browser&pivots=development-environment-vs).

I created a project using the `EventHubTrigger` template.

Per [this doc](https://docs.microsoft.com/en-us/azure/a

[2021-03-14 09:35] louisoftokyo commented on #178
@bryandh @aaronzhongg Has anyone managed to solve this?

[2021-03-14 15:08] allanlw opened #300 "HttpResponseData missing writeBytesAsync method"
`HttpResponseData` has a `writeString` and `writeStringAsync`, and it has `writeBytes` but not `writeByteAsync`.

Workaround is to call to `response.Body.writeAsync` instead, but this seems like an oversight.

[2021-03-14 19:41] Devy-Devly commented on #178
For me, the "No Trigger Found" message is just a red herring - I get the same message when I deploy.
But the TimerTrigger works fine in Azure regardless.

Can even turn on Application Insights now and get logger information.

Am using:

  <PropertyGroup>
    <TargetFramework>net5.0</TargetFramework>
    <LangVersion>9.0</LangVersion>
    <nullable>enable</nullable>
    <AzureFunctionsVersion>v3</A

[2021-03-15 07:08] #217 closed

[2021-03-15 08:50] danielegiallonardo commented on #294
Ok, it turned out it was partially my bad :-D
It seems you changed the internal default json serialization library in the SignalR extension, from Newtonsoft to System.Text.Json.
So, I've changed a few lines, from this

[code]

to this

[code]

and now it works again.

I know you shouldn't use JObject directly, but anyway this seems like a breaking change that should be documented.
Thank you for yo

[2021-03-15 10:16] Romfos opened #301 "[Critical] Why new azure functions sdk for .NET 5 has dependencies on .NET core 3.1 sdk?"
Hello, I have following error during build my application in .net 5 sdk docker container:
[code]

Why it depends on .net core 3.1 sdk?
It blocks our build process :)

[2021-03-15 12:49] eriklieben commented on #301
Might be related to last point of release notes:
https://github.com/Azure/azure-functions-dotnet-worker/releases/tag/1.0.0

- Fix issue with referencing extensions that have native dependencies:
  - To address this, a default dependency on .NET Core 3.1 SDK was added when targeting Azure Functions 3.0. Note: This dependency can be overridden by setting a build property ```<_FunctionsExtensionTarge

[2021-03-15 14:07] Romfos commented on #301
@eriklieben Thank you for link, but how ca I understand do I use native dependencies or not? I'm using http + time triggers

[2021-03-15 15:42] dngache commented on #301
@Romfos Yes there is still a dependency on .netcore 3.1. I logged the same issue a few days ago and the ticket was closed and I was directed to the workaround here https://github.com/Azure/azure-functions-dotnet-worker/wiki/Known-issues#net-core-31-dependency. I tried it and it did not work unfortunately. https://github.com/Azure/azure-functions-dotnet-worker/issues/297.

[2021-03-15 16:49] Janus88 commented on #277
Can anyone help me out, please? I try to configure the dbcontext in the Main(). The debugger shows my ConnectionString from local.settings.json. But as you can see, in the console output it is empty. AddDBContext fails also :-(

![image](https://user-images.githubusercontent.com/8038120/111189590-882b1900-85b6-11eb-82ad-1f3b6495f7ff.png)

[2021-03-15 18:34] Jay-Madden opened #303 "Are there any plans to add imperative binding support to out of process .Net 5 functions?"
If this question has already been answered somewhere or is already being tracked/is in the wrong place please let me know.

[2021-03-15 20:52] fabiocav commented on #277
@Janus88 can you please open a separate issue with the details of what you're seeing and a repro?

We've also just added an Entity Framework sample here: https://github.com/Azure/azure-functions-dotnet-worker/tree/main/samples/EntityFramework

[2021-03-15 20:54] fabiocav commented on #301
@Romfos while targeting Azure Functons V3, that will be requirement with the details/workaround mentioned in the wiki.

Can you also help us understand why you believe this is a critical issue? Helping understand the impact also helps us prioritize work.

@dngache I'll look at your follow up there.

[2021-03-15 21:28] fabiocav commented on #297
@dngache can you share your project file and how you've added the property so we can repro and take a closer look?

[2021-03-15 21:31] fabiocav commented on #299
@OkayX6 can you confirm you're having this problem with the latest release bits?

[2021-03-15 21:39] dngache commented on #297
@fabiocav  This is the repo https://github.com/dngache/azure-functions-net5 and this is the commit I made https://github.com/dngache/azure-functions-net5/commit/1e46d378dac2c81b93b333bc0c5ed1cdf82b599f and then ran `docker build  .`

[2021-03-15 22:36] fabiocav commented on #297
Would you mind also sharing the build output when you set that? It would help to compare the two. Thanks for the help!

[2021-03-15 22:42] dngache commented on #297
[code]

[2021-03-15 23:47] fabiocav commented on #297
@dngache thank you for sharing the details. I've located the bug and we'll have an update for this soon. In the meantime, unfortunately, the least painful workaround would be to have the SDK as a build dependency.

[2021-03-16 00:09] dngache commented on #297
@fabiocav Thanks for looking into this. I will just pull the .netcore3.1 SDK as well for now until there is a fix.

[2021-03-16 00:20] #280 closed

[2021-03-16 01:49] chris-oswald commented on #186
This may or may not be obvious to others, so I'll post this just in case.  If you use the "Application Settings" under the configuration tab in the azure portal (functions) you can put the connection string there and abstract it from your code.  I would like this to be in key vault for consistency, but it's at least an acceptable workaround for my use case.

This has allowed me to get a working ve

[2021-03-16 04:00] fabiocav commented on #186
Key Vault is supported as a source of app settings configuration.

Please see https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-references for information

[2021-03-16 05:21] kenakamu opened #304 "How to mock FunctionContext for unit test?"
I tried to search sample or code which explains how to properly unit test isolated process version of Function. Any input are appreciated!

[2021-03-16 09:10] Janus88 opened #305 "local.settings.json values bug while reading in Program.cs"
As you can see in the screenshot, I try to read values from local.settings.json. The debugger shows the correct value, but in console.writeline() it's empty. This would be necessary for configuration of dbContext for EF Core.

![image](https://user-images.githubusercontent.com/8038120/111282722-96bd1300-863e-11eb-9aeb-90319294bd27.png)

Also reading from Environment Variables like shown here, does

[2021-03-16 10:44] anihitk07 commented on #297
Even we are stuck at the same point, any advice would be appreciated.

[2021-03-16 12:47] Romfos commented on #301
we are using official .net sdk docker image for building our big app

@fabiocav
I think it could be closed as duplicate of https://github.com/Azure/azure-functions-dotnet-worker/issues/297

[2021-03-16 12:47] #301 closed

[2021-03-16 13:33] #292 closed

[2021-03-16 14:21] miantosca opened #306 "IHttpContextAccessor fails to resolve dependency after upgrade"
One of my functions was resolving dependencies (**IHttpContextAccessor, IHostingEnvironment**) that were being registered automatically in the pre-isolated process function host.

Is there a way to inject dependencies that were registered in the old host automatically?

[2021-03-16 14:46] josere opened #307 "How do we access the Params in the HttpRequestData"
If I have:

[HttpTrigger(AuthorizationLevel.Anonymous, "post", Route = "departments/{departmentid}/employees/{employeeid}")]
            HttpRequestData request,

How do I get the actual department and employees ids?

Regards,
Jose.

[2021-03-16 14:48] #307 closed

[2021-03-16 14:48] josere commented on #307
there is a sample down below.

[2021-03-16 15:33] allanlw opened #308 "ApplicationInsights dependency tracking not working"
Since I upgraded to the new runtime, dependency tracking is not working. It would seem that it is necessary to manually enable this (not documented).

Is there a recommended way to configure Application Insights and/or an example?

[2021-03-16 15:36] Janus88 commented on #305
I just found my failure... In the Console.WriteLine must be a '+' instead of ','. Did too much Typescript the past weeks... Now it is working

[2021-03-16 15:36] #305 closed

[2021-03-16 15:52] phekmat commented on #186
Note that if you go this route *and* you're using Key Vault via a config builder, you should avoid loading secrets with the same name.

If the referenced secret in app configuration drifts (e.g. a new version is added to the vault), the function runtime will error on consumption plans because the trigger changed (at least for the in-process worker: https://github.com/Azure/azure-functions-host/iss

[2021-03-16 16:24] fabiocav commented on #186
@phekmat indeed that is the behavior of the configuration system and order of registration matter here. That said, configuration does follow the order of precedence described in the feature documentation, where last one wins.

[2021-03-16 16:40] fabiocav commented on #308
@allanlw indeed, this would require some manual wire up at the moment.

Tagging @brettsam so we can discuss how we can automate this to remove that friction.

[2021-03-16 16:50] fabiocav commented on #306
The DI behavior is the same, but the set of services you'd have here is different, and mostly impacted by what you register as part of your application bootstrap.

For the specific dependencies you've mentioned; `IHttpConextAccessor` is an ASP.NET Core service, and not automatically added by the Worker (as the ASP.NET Core types are not yet supported here). `IHostingEnvironment` should be replaced

[2021-03-16 16:59] fabiocav commented on #304
Great question.

`FunctionContext` is an abstract class, so you can leverage mock frameworks or implement your test version (one example may be found [here](https://github.com/Azure/azure-functions-dotnet-worker/blob/5828ff534ff7a7a05546b60e2509ca5c4312e1ce/test/DotNetWorkerTests/TestFunctionContext.cs#L13) ).

We also have plans to release a set of _test helpers_/test framework for the Worker, bu

[2021-03-16 16:59] fabiocav commented on #304
/cc @brettsam

[2021-03-16 17:19] fabiocav commented on #303
@Jay-Madden that's a great question!

Our plan is to ensure there's a model with the right extensibility points to support this, and that is the case, but until we go through a formal API review for all the different extensibility APIs, a lot of that functionality is internal.

Though we have discussed introducing an imperative model, the initial goal is to exercise the extensibility points and id

[2021-03-16 17:37] timgabrhel commented on #293
Another vote here. Our .NET 5 upgrade was dependent on the new isolated hosting model, but I'm now stuck for this same reason. We have two functions that have are dependent on being able to complete/abandon + update message Properties on messages.

[2021-03-16 17:43] shibayan opened #309 "Functions does not work when Azure Functions Proxy is added"
### Repro steps

1. `func init ProxyTest --worker-runtime dotnetisolated`
2. `cd ProxyTest`
3. Create `proxies.json` and add csproj

**proxies.json**

[code]

### Actual log

### Additional info

Core Tools Version:       3.0.3388 Commit hash: fb42a4e0b7fdc85fbd0bcfc8d743ff7d509122ae
Function Runtime Version: 3.0.15371.0

[2021-03-16 18:14] Jay-Madden commented on #303
Noted. Until its added, no imperative binding is a total blocker on our front in any attempt to upgrade many of our FAs.

[2021-03-16 18:30] fabiocav commented on #303
That's good feedback. What model are you using today?

[2021-03-16 18:30] fabiocav commented on #303
@anthonychu for awareness

[2021-03-16 18:50] Jay-Madden commented on #303
we use imperative/runtime blob storage bindings if im understanding your question correctly

[2021-03-16 21:02] mhoeger commented on #309
I think we need to add a "success" status for this gRPC message:
https://github.com/Azure/azure-functions-dotnet-worker/blob/19e4121de74234a617e3d1467bd78fdb5f5e4176/src/DotNetWorker.Grpc/GrpcWorker.cs#L237

[2021-03-16 21:39] #22 closed

[2021-03-16 21:51] jsheetzati commented on #274
Without this attribute, will a TimerTrigger that is ran under a multi-instance function app still only kick off once? We don't want our timers firing twice (we run our function app with 2 instances in prod)

https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-timer?tabs=csharp#scale-out

[2021-03-16 23:04] kinetiq commented on #244
@brettsam On this topic, I'm a little confused by what I see in the docs, where you appear to define your own class to manage the parameters of the timer trigger:

        [Function("TimerFunction")]
        public static void Run([TimerTrigger("0 */5 * * * *")] MyInfo timerInfo,
            FunctionContext context)
        {
            var logger = context.GetLogger("TimerFunction");

[2021-03-17 01:45] fabiocav commented on #293
To provide an update and answer the previous question, this requires enhancements to the host and SDK so the Worker can leverage the new capabilities once introduced, and given the timelines, this will land in-proc in .NET 6 prior to being done in the worker.

A lot of activity will be happening in the coming weeks to make a .NET 6 preview available in a new major version of Functions.

[2021-03-17 01:47] miantosca commented on #306
@fabiocav thank you that worked!

[2021-03-17 01:47] #306 closed

[2021-03-17 01:48] fabiocav commented on #303
Makes sense. For clarity (for others coming to the issue), we're talking about the `IBinder` model documented here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-class-library?tabs=v2%2Ccmd#binding-at-runtime

[2021-03-17 03:02] kenakamu commented on #304
Great! Thanks. I will follow the sample to see if I can implement unit test :)

[2021-03-17 10:16] cmenzi opened #311 "Developer and debugging experience"
Are there any plans to support "Start debugging (F5)" for debugging?

[2021-03-17 13:39] jsheetzati opened #312 "[Disable] attribute"
Is the [Disable] attribute supported with the new azure-functions-dotnet-worker? Not seeing the attribute available.

https://docs.microsoft.com/en-us/azure/azure-functions/disable-function#c-class-libraries

[2021-03-17 14:27] brettsam commented on #274
Good question, @jsheetzati.

The TimerTrigger is still a Singleton in multi-instance scenarios. This is because the TimerTrigger created by the Functions host is still a Singleton. The worker versions of the attributes (those that start with `Microsoft.Azure.Functions...`) are used to generate the metadata files that the host then uses to create the actual triggers. This is similar to how other ou

[2021-03-17 14:38] brettsam opened #313 "Make FunctionName optional"
If you have a Trigger attribute anywhere on a method, we know it's a function. We could infer the function name by the method name, and only use `[FunctionName]` as the override. Could clean up some samples and remove the need for one extra attribute.

[2021-03-17 14:40] brettsam opened #314 "Allow Trigger attributes on method"
For something like `[TimerTrigger]` -- the parameter that gets passed in isn't really required. I suspect a decent number of people never even use it. It could clean things up a little to allow you to specify `[TimerTrigger]` at the method level, and leave the parameter off of your method completely.

[2021-03-17 14:42] brettsam commented on #244
Good question.

`TimerInfo` and `MyTimerInfo` are really "just" POCOs (plain-old-CLR-objects) and there's nothing special about them. For timers, the host will send a JSON payload with a TimerTrigger that looks like our `MyInfo` class declared in the sample. By default, the worker has a "model binding" step that will try to deserialize a JSON string into a parameter type. The sample is taking adva

[2021-03-17 14:51] brettsam commented on #312
Good catch -- this is not currently supported with an attribute (but the other methods in that topic continue to work).

[2021-03-17 15:12] dmytro-gokun commented on #274
@brettsam What if we run a TimeTrigger function manually? Is "Singleton" behavior guaranteed in that case?

[2021-03-17 15:54] kinetiq commented on #244
Thanks, that's very helpful.

Defining a trigger at the function level is interesting... I have some thoughts, I will respond over there. :)

[2021-03-17 16:12] kinetiq commented on #314
Couple thoughts here:

- Adding a second way to achieve the same result increases complexity; it will result in devs needing to understand why there are two paths to the same result. The benefits would need to outweigh this cost.

- It is a fact that this parameter is rarely used. However, if I suddenly need more control, having the parameter present gives me a chance to succeed without additional

[2021-03-17 16:37] jsheetzati commented on #312
Any idea when this might be added? We run our azure functions in a multi region scenario and use an app setting on our backup region to disable all our timer functions. Our timers aren't written in a way to support active/active.

[2021-03-17 18:02] dmytro-gokun commented on #274
@brettsam Yes, I mean "Test/Run". My understanding is that:
1) [Singleton] will prevent this manual task from running in parallel with some scheduled task that might be already running at the moment (and vice versa).
2) [TimeTrigger] will only work as [Singleton] for scheduled runs, but not for manual ones.
Am I correct?

[2021-03-17 20:24] oscarvantol commented on #300
@fabiocav Would you consider/appreciate a PR for something like this?

[2021-03-17 20:59] fabiocav commented on #300
Sure! I was planning on taking this, but if you want to submit a PR, that would be more than welcome!

[2021-03-17 21:49] fabiocav opened #316 "Expose retry context in FunctionContext"
The `RetryContext` is not currently exposed in the `FunctionContext`. This information is needed to allow users to adjust the behavior for invocations triggered by the retry logic.

[2021-03-17 22:10] SeanFeldman commented on #316
@fabiocav I couldn't locate `RetryContext` to see what does it contain. Could you please point me to the source? Thank you.

[2021-03-17 23:03] fabiocav commented on #316
This is the feature: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-error-pages?tabs=csharp#retry-policies-preview

And the WebJobs SDK exposes this information: https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Host/RetryContext.cs

A subset of the information above is surfaced to the workers, and that's what we need to bring in.

[2021-03-17 23:15] SeanFeldman commented on #316
This addition would kill for (figuratively speaking). Huge +1 for it.

[2021-03-18 03:11] fabiocav commented on #192
I'm thinking we need to prioritize this work in the host. This may cause a lot of unexpected issues.

[2021-03-18 03:21] SeanFeldman commented on #226
😺

[2021-03-18 11:08] brazierdavid commented on #297
@dngache could you show how you did this please?

[2021-03-18 11:42] froghramar opened #317 "ICollector<Message> on service bus trigger"
We have quite a few azure functions using .Net core version 3.1. I was checking the code samples for service bus provided here as we are planning to migrate them to .NET 5. Here is how our sample azure function looks like -

[code]

Can you please provide more code samples for the use cases supported in the older versions?

[2021-03-18 12:04] djjlewis commented on #317
I ran into exactly this issue last night and also could not find any information or docs on how to this. The closest I could find was a reference in issue #179  to use `OutputBinding` for returning multiple SignalR messages, but this was removed in the recent PR #158.

I managed to get it working by using an array of string as the return type for the function and returning an array of serialisaed

[2021-03-18 14:38] jeremyVignelles commented on #237
We're trying to create an Azure Static WebApp with a dotnet-isolated azure function, but the CI fails in the same way ("It was not possible to find any compatible framework version"), but we're unable to apply any of the suggested workarounds since there is no azure function yet (since the CI is failing).

Any idea how we could do ?

I tried copying an azure.settings.json as local.settings.json on

[2021-03-18 16:24] dngache commented on #297
@brazierdavid I pulled in the .netcore 3.1 sdk as shown below, but `docker build` gave me a new error message about `The ExtensionsMetadataGenerator package was not imported correctly.`

**Dockerfile**
[code]

**Error message**
[code]
**Missing Package**
Then I installed `Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator` as follows
`dotnet add package Microsoft.Azure.WebJobs.Script.Exten

[2021-03-18 19:37] arashcomsense opened #320 "Unable to resolve service for type 'Microsoft.Azure.Functions.Worker.IWorker' while attempting to activate 'Microsoft.Azure.Functions.Worker.WorkerHostedService"
This is how the Azure Function C# project file looks like:

[code]

The `Program` class looks like the following code snippet:

[code]

When running this function, the exception in the subject line is thrown.

[2021-03-18 20:22] brazierdavid commented on #297
Thanks @dngache - I have got the docker build working now but evidently the extensions are not actually being loaded (my function only has QueueTriggers).  Perhaps I need to wait for the .NET 5 function support to catch up.

`warn: Host.Startup[0]
      No job functions found. Try making your job classes and methods public. If you're using binding extensions (e.g. Azure Storage, ServiceBus, Timers

[2021-03-18 21:42] fabiocav commented on #297
@brazierdavid can you share your setup? Does your project build on the local machine (outside of Docker)?

[2021-03-18 21:45] #300 closed

[2021-03-18 21:47] fabiocav commented on #320
@arashcomsense looks like you're using an old template from earlier previews. Could you update your code to replace the call to `ConfigureFunctionsWorker` (with the delegate) to use this instead: https://github.com/Azure/azure-functions-dotnet-worker/blob/705d39a8bbdbd1344606abbe8b280523f648510b/samples/Extensions/Program.cs#L14

[2021-03-18 22:02] fabiocav commented on #317
@frogrammer as you found, `ICollector` is not supported in the OOP model, in order to add multiple messages, you can work with your output binding using an `IEnumerable`/`IEnumerable<T>` type (e.g. `List<T>`, arrays, etc.)

@djjlewis has a good example.

Here's another using queues and multiple outputs:

[code]

[2021-03-18 22:10] fabiocav commented on #311
Absolutely! This work is in progress and should be landing in VS soon. We'll post an announcement here when that happens (as well as usual channels like Twitter, announcements repo, etc.)

[2021-03-18 23:43] JasonTFifer opened #322 "Uploading files via HTTP Trigger/Multipart FormData"
Can someone give some guidance on how to upload files to the new .NET 5 functions? This was pretty straightforward before, but I'm not having much luck now with the new HttpRequestData object. Or can someone provide information on how to upload a file and JSON data in the same request? If this isn't doable right now, I'm going to have to spin up a .NET Core 3.1 function to strictly handle file upl

[2021-03-19 01:59] froghramar commented on #317
Thanks @djjlewis and @fabiocav .

Your examples have answered well to my query.

[2021-03-19 02:00] fabiocav commented on #317
Great to hear. Closing as answered.

[2021-03-19 02:00] #317 closed

[2021-03-19 02:05] brazierdavid commented on #297
Hi @fabiocav - I made a copy of the samples/FunctionApp, replaced the project refs with package refs and added a Dockerfile:

[code]

With these package refs, the docker image builds and runs fine, no 3.1 SDK or extensions metadata problems:

[code]

However if I update Microsoft.Azure.Functions.Worker.Sdk to 1.0.1 then I see the 3.1 SDK problem.  With both versions the project builds and runs loc

[2021-03-19 02:35] anihitk07 commented on #297
are you sure @brazierdavid, it works fine? I just tried the same but getting
fail: Microsoft.Azure.WebJobs.Script.Workers.Rpc.RpcFunctionInvocationDispatcher[0]
      Exceeded language worker restart retry count for runtime:dotnet-isolated. Shutting down and proactively recycling the Functions Host to recover
while running the docker image.

[2021-03-19 03:02] fabiocav commented on #297
I would not recommend using the preview bits here. There's a lot you'll be missing in the SDK.

We'll take a look at your issue and provide some guidance.

[2021-03-19 09:52] cgwrench opened #323 "TimerTrigger does not work with discards"
With a `TimerTrigger`-ed function, I used a [discard](https://docs.microsoft.com/en-us/dotnet/csharp/discards) variable (i.e. a variable named `_`) to bind the `TimmerTrigger` attribute to. When updating the function to .NET 5, I've found that I can no longer use a discard.

To reproduce, I created a new function as follows:

1. In an empty directory, I ran `func init` and selected "dotnet (Isolat

[2021-03-19 09:59] anihitk07 commented on #297
thanks @fabiocav , any support on this would be highly appreciated. I have rolled it back to the earlier SDK version from the suggested preview one and is right now stuck with
info: Host.Startup[0]
      Generating 0 job function(s)
warn: Host.Startup[0]
      No job functions found. Try making your job classes and methods public. If you're using binding extensions (e.g. Azure Storage, ServiceBus,

[2021-03-19 11:31] arashcomsense commented on #320
Thanks @fabiocav. I updated the code per your advice and it worked. It will be nice if you have that preview method deprecated and removed from the options suggested by intellisence.

[2021-03-19 11:31] #320 closed

[2021-03-19 13:16] arashcomsense opened #324 "Apparently unable to get signalR negotiation going in azure functions .net 5.0"
I am trying to gradually transform the scaffolded code to be able to use it for singalR negotiation per the method below:

[code]
But I started getting the following compile error message:

So, is this error imlying that we cannot use signalR in .NET 5.0? Or there's a solution that I am unaware of it?

[2021-03-19 15:18] josere opened #325 "How do I change the timeout"
My function is taking more than 30 minutes sometimes. how do I change the timeout?

[2021-03-19 16:29] OkayX6 commented on #299
Thanks I got it to work with these package versions:

[code]

[2021-03-19 16:35] fabiocav commented on #299
Thank you for the update. Closing as resolved.

[2021-03-19 16:35] #299 closed

[2021-03-19 18:15] brazierdavid commented on #297
@anihitk07 That message is a final failure after the host has tried and failed to start the worker, you'll need to look back in the console to see what caused it.  We were seeing it when there was a project that has an unnecessary AspNetCore package included, removing the package fixed it.  These were "info" lines not "fail".

[code]

[2021-03-19 19:19] #325 closed

[2021-03-19 19:19] josere commented on #325
Will figure it out.

[2021-03-19 19:42] arashcomsense opened #326 "The pattern of appsettings.json file"
Would you please articulate how/whete to load `appsettings.json` file in the following implementation?

[code]

[2021-03-19 20:15] MartinWickman commented on #226
Previously, you could get the `MessageReceiver` as intput parameter to the function. Is that one available in the context as well? Also, is this stuff documented somewhere?

[2021-03-19 20:42] arashcomsense commented on #326
**UPDATE:** Does the following code reveal the right approach to read `appsettings.json` and load configuration to inject by `IOptions<>` pattern?

[code]

[2021-03-19 22:46] djjlewis opened #327 "NU3028 and NU3037 Nuget errors trying to build on Arch Linux"
I'm trying to build a new isolated functions project on Arch Linux. I have all the pre-requisites installed from the [starter guide](https://docs.microsoft.com/en-gb/azure/azure-functions/dotnet-isolated-process-developer-howtos?pivots=development-environment-vscode&tabs=browser)

I appreciate Arch is not currently listed as a supported version of Linux, but I have been developing .NET Core / .NET

[2021-03-19 23:09] fabiocav commented on #226
@MartinWickman `MessageReceiver`, as mentioned above, that isn't one of the types supported with the OOP model today.

Public documentation for the worker model is available here: https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-guide

[2021-03-19 23:10] fabiocav commented on #326
Yes, the above would work. So will add an environment variables provider, as that is directly injecte by Core Tools. We're actually making the change to remove this requirement in the next release.

[2021-03-19 23:11] fabiocav commented on #326
I'll close this as resolved, as there's a workaround and more information provided, but if you have any additional questions, please reach out. Thanks!

[2021-03-19 23:11] #326 closed

[2021-03-19 23:17] fabiocav commented on #323
Currently, there is some additional validation in the OOP binding name, preventing that parameter name.

[2021-03-19 23:20] fabiocav commented on #324
As documented [here](https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-guide#extension-packages), you need to use the Worker packages for the extensions. For SignalR, you must use https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker.Extensions.SignalRService/

[2021-03-19 23:20] #324 closed

[2021-03-19 23:27] fabiocav commented on #324
One thing I'm curios about as the build error (primarily as we can continue to enhance usability). The help link from the build error should take you to the page that describes the problem and the solution, with instructions on how to fix it. Was that insufficient?

[2021-03-20 00:04] fabiocav commented on #327
Thank you for reporting this. Will follow up with the team that owns the package and see what action, if any, is required.

In the meantime, have you tried following the suggestion documented here (please also look at the warning :) ): https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu3028#revocation-check-mode-481

[2021-03-20 00:04] fabiocav commented on #327
/cc @brettsam

[2021-03-20 00:40] mizrael opened #331 "'Invalid URI: The hostname could not be parsed.' on startup"
Hi, I'm having issues writing and running a Function App with .NET 5 in isolated mode. I'm using VS Code on a Mac.
Fresh install of AZ CLI, .NET SDK.  Ran `func init MyHealthyFuncApp` in an empty folder.

I added a simple function class:

[code]
then added the missing Nuget packages, `Microsoft.Azure.Functions.Worker.Extensions.Abstractions` and `Microsoft.Azure.Functions.Worker.Extensions.Http` (

[2021-03-20 02:43] SeanFeldman commented on #226
Once the 1.0 pressure is off (if it ever happens) would it be possible to discuss the future roadmap for Service Bus trigger?

Having access to `MessageReceiver` allows more advanced scenarios that are just not possible with vanilla Functions. Specifically, settlement operations (dead-lettering, deferring, etc) and transactional processing (aka [`send-via`](https://docs.microsoft.com/en-us/azure/s

[2021-03-20 03:06] fabiocav commented on #226
Yes! Absolutely. There are some plans, but it would be great to have a discussion on this. For some SDKs/Services, this will be relatively straight forward, but for services like SB, there are some interesting challenges to tackle.

[2021-03-20 03:10] fabiocav commented on #331
Can you share your project file? This looks like an issue that was resolved prior to GA.

By the way, there should be no need to reference the abstractions package directly.

[2021-03-20 03:40] RyanMarcotte opened #332 "dotnet build in Azure Pipeline still requires NET Core 3.1"
The error message looks similar to #297 .  The pipeline fails at the `dotnet build` step.

[code]

I have added `<_FunctionsExtensionTargetFramework>netstandard2.0</_FunctionsExtensionTargetFramework>` to the functions project as documented [here](https://github.com/Azure/azure-functions-dotnet-worker/wiki/Known-issues#net-core-31-dependency).

[code]

[code]

[2021-03-20 03:44] cgwrench commented on #323
Thanks. Is it possible to remove this additional validation, so that the binding works. In the same way as the in-process functions model?

[2021-03-20 05:34] fabiocav commented on #332
This is indeed the same issue. At the moment, 3.1 in the build environment is a requirement.

We'll continue updating the other issue, so I'll close this one as a duplicate. Thanks for reporting!

Duplicate of #297

[2021-03-20 05:34] #332 closed

[2021-03-20 07:48] pascal-hauser opened #335 "Error on Creating Azure Resource when following Readme.md instructions."
The section '**Deploy to Azure**' lists under step 4 to execute the following command:

`az functionapp create --resource-group AzureFunctionsQuickstart-rg --consumption-plan-location westeurope --runtime dotnet --functions-version 3 --name <APP_NAME> --storage-account <STORAGE_NAME>`

When I run that i receive the following warning
`--runtime-version is not supported for --runtime dotnet. Dotnet

[2021-03-20 08:02] pascal-hauser opened #336 "Is Linux supported?"
# Problem
A TimerTrigger function doesn't get executed for Linux platform.

# Details
When I create the functionapp as described in the secriont Deploy to Azure in the Readme I get the error:
`The requested app service plan cannot be created in the current resource group because it is hosting Linux apps. Please choose a different resource group or create a new one.`

When i add the parameter `--os

[2021-03-20 10:10] djjlewis commented on #327
Thanks @fabiocav, I tried the suggestion of setting the environment variable in that link but unfortunately has not made any difference.

[2021-03-20 10:53] paulisch opened #337 "TimerTrigger and ServiceBusTrigger not firing"
I published a FunctionsApp running on a consumption plan in "germanywestcentral" following the instructions and the examples on your repository. So far almost everything works smoothly, e.g., `HttpTrigger` works as expected, etc.

However, functions annotated with `TimerTrigger` do not fire on their schedule. Also, `ServiceBusTrigger` functions are not firing when items are published on the queue.

[2021-03-20 16:18] RyanMarcotte commented on #297
My original ticket was closed so I cannot comment there, but I was able to get my build pipeline successfully running by including NET Core 3.1 SDK download in the pipeline (was missing) and ensuring that the `Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator` `1.2.0` NuGet package is installed (using `1.2.1` will cause a build failure).  Posting here in case anyone else has the same prob

[2021-03-20 17:51] mizrael commented on #331
hi @fabiocav, thanks for replying! I've pushed the sources here: https://github.com/mizrael/azure-functions-healthchecks/

By the way, you were right about the Abstractions package. I just had to reference `Microsoft.Azure.Functions.Worker.Extensions.Http`.

[2021-03-20 21:21] harisbotic opened #338 "Getting error "Starting worker process failed""

[2021-03-20 21:30] harisbotic opened #339 "Getting error "Starting worker process failed""
I tried running a function with HttpTrigger and got printed this error in the console:

[2021-03-20T21:18:37.916Z] Executing 'Functions.GenMetrics' (Reason='This function was programmatically called via the host APIs.', Id=86487f93-0fe2-4622-b38d-1c06d6fd8346)
**[2021-03-20T21:19:32.943Z] Starting worker process failed**
[2021-03-20T21:19:32.944Z] The operation has timed out.
**[2021-03-20T21:20:3

[2021-03-20 21:30] #338 closed

[2021-03-20 23:54] fabiocav commented on #339
@harisbotic can you please detail your steps? You had a project that failed compilation, correct?

[2021-03-21 12:59] harisbotic commented on #339
Just put double ; in any file that is in Az functions project, can be Program.cs or random SomeHelper.cs, and you can recreate the issue.

It compiles and runs normally, but once you trigger a function, it will give the mentioned error. (I used HttpTrigger only)

Its super strange, and I tested it enough times before making this issue. If you can't recreate it I can share the project with you.

P.

[2021-03-22 02:06] godefroi commented on #290
Will this API allow us to get the function instance from middleware? Or, at least, the function `Type` from middleware?

[2021-03-22 02:13] godefroi opened #340 "Can middleware access/alter what was returned from the function?"
I'm putting together a global exception-handling middleware, and I'd like to be able to alter what will be returned for the output binding. The example middleware only puts data into the `Items` collection; I'm wondering if there's an example anywhere for accessing or manipulating the output binding data?

[2021-03-22 09:05] eriklieben opened #341 "Custom Binding"
Hi,

Is there any sample code for how to get a custom binding working?
I tried to get it to work, but I am unable to make it detect my custom binding.

Everything seems to work fine in the dotnet core azure functions, but in the dotnet5isolated project it is not working.
https://github.com/eriklieben/how_azfunc_net5_custom_bindings

Also tried to get it to work with javascript, assuming that would

[2021-03-22 09:46] Romfos commented on #309
Hello, I can confirm that proxies aren't working.

It is critical for my application. Please, fix it asap

[2021-03-22 10:42] jculverwell opened #342 "Deployment using github action"
Hi folks,

I'm trying to deploy my .net 5 function using Github actions and have bumped into an issue.  My Github action is below and also the error I am getting when the github action runs.

The error is 'It was not possible to find any compatible framework version`

If I try and deloy via the tooling `func azure functionapp publish azurefunctionsbrowserextension` it works fine but obviously I'd

[2021-03-22 11:22] arashcomsense commented on #324
@fabiocav Frankly, I cannot remember whether or not there was a link. I found a sample repo in Anthony Chu's Github repos and that gave me the right the direction.

[2021-03-22 11:33] arashcomsense commented on #326
@fabiocav This is how I got the environment variables wired up:

[code]
Does it look good?

[2021-03-22 12:08] djjlewis commented on #327
It seems this is related to a NuGet certificate error which also affected Debian installs earlier in the year:

https://bbs.archlinux.org/viewtopic.php?id=264684
https://bugs.archlinux.org/task/70095
https://github.com/NuGet/Announcements/issues/49

By downgrading the `ca-certificates-mozilla` package to `3.62-1` as advised in one of those links, the projects are building again and functions are r

[2021-03-22 13:20] arashcomsense commented on #324
@fabiocav @anthonychu are there any examples related to adding a user to signalR group and also sending a message to a group, I opened an issue here: https://github.com/anthonychu/azure-functions-dotnet5-signalr-sample/issues/1

[2021-03-22 14:31] Romfos commented on #337
Hi,

Are you using RunOnStartup option for TimerTrigger?

[2021-03-22 14:40] paulisch commented on #337
Hi,
no I am not using RunOnStartup.

However, I found another workaround:
I ran into the above issue when creating a `Windows` FunctionsApp in an existing resource group (created ~1 year ago).
Now, I re-created the whole FunctionsApp in a new resource group and published it on a `Linux` instead of `Windows`. TimerTriggers and ServiceBusTriggers are synced correctly and are firing on their schedule

[2021-03-22 18:58] josere opened #343 "How do I know what's the time budget for a function?"
How do I know when the function is going to timeout? Is there a way to get this value at runtime?

Regards,
Jose.

[2021-03-22 20:50] oscarvantol commented on #339
Double ; in a using statement _(that is not the last using statement)_ is something that does not compile at all in .NET 5 for me, it will raise a  **CS1529**.

If you would do this (just plain .NET5):
[code]
It will error with: **A using clause must precede all other elements defined in the namespace except extern alias declarations**
I am guessing this is a side effect of cs9's top level stateme

[2021-03-22 21:44] haacked opened #344 "HttpResponseDataExtensions.WriteAsJsonAsync overwrites response status code"
The `WriteAsJsonAsync` method sets the status code to OK ([in this line](https://github.com/Azure/azure-functions-dotnet-worker/blob/main/src/DotNetWorker.Core/Http/HttpResponseDataExtensions.cs#L150)).

That behavior is incorrect if the status code is already set. For example, here's a common usage pattern:

[code]

Expected: The response status is 500.
Actual: The response status is 200.

[2021-03-22 22:00] fabiocav commented on #339
Indeed. `;;` in those scenarios would be a syntax issue, hence the ask for a proper repro as this may just be a quick answer.

If you're relying on running `func host start` to trigger the build for you, you may be missing instances where the build is failing.

@harisbotic can you please point to your repro? Thanks!

[2021-03-22 22:03] fabiocav commented on #343
@josere for OOP, this is currently based on the timeout you have configured for your function (more information [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#functiontimeout) ).

We're working on host enhancements to support the same experience we have with in-proc, having the ability to pass a cancellation token into the function.

[2021-03-22 22:03] #343 closed

[2021-03-22 22:29] fabiocav commented on #340
@godefroi that's the goal, but some of that information is not yet exposed in the context that flows with the invocation. We have upcoming API reviews to cover items like binding data (which will be accessible in the binding context), function activation and other items are included in that list as well.

[2021-03-22 22:33] fabiocav commented on #341
@eriklieben I took a quick look at the repo you've share and, while you do have the WebJobs extension implementation, you also need to have the binding that will work with the OOP model (that essentially projects the appropriate properties, surface and behaviors for the worker model, including relevant services).

You can see examples of that in the binding implementations here: https://github.com

[2021-03-22 22:33] #341 closed

[2021-03-22 22:35] fabiocav commented on #337
@paulisch if you can share the function app name you've used, we can take a closer look as it looks like it was some condition with that particular instance. Thanks!

[2021-03-22 22:38] fabiocav commented on #342
@jculverwell at the moment, the build environment must also have .NET Core 3.1 installed, that will address the issue you're running into above. Thanks!

[2021-03-22 22:38] #342 closed

[2021-03-22 22:58] godefroi commented on #340
Thanks, I appreciate the answer. It's looking good, and while we're clearly not at a final product yet, I like the direction.

[2021-03-22 23:06] fabiocav commented on #340
Thank you! We'll definitely be lighting a lot these things up as we go, and feedback like like helps us prioritize what should come first.

[2021-03-23 00:31] #288 closed

[2021-03-23 07:22] paulisch commented on #337
@fabiocav, it was **pandocs-azure-functions-dev** in the resource group **pandocs-europe-resource-group**. But I deleted this old FunctionsApp that was not working. The new FunctionsApp that is working has the same name in a new resource group **pandocs-europe-resource-group-linux**.

Is this information still useful for you or do you need a running instance of the faulty FunctionsApp? In case you

[2021-03-23 10:07] eriklieben commented on #331
not sure if this helps, but I just had this same error when starting by pressing F5 in vscode, but if I try to run the same app by using ```func host start``` it runs without expections.

[2021-03-23 10:14] harisbotic commented on #339
Core Tools Version:       3.0.3388 Commit hash: fb42a4e0b7fdc85fbd0bcfc8d743ff7d509122ae
Function Runtime Version: 3.0.15371.0
OS: Mac Catalina

FILES:
https://github.com/harisbotic/azfunc-worker-bug

I have put `;;` in SayHello.cs file (and true, it actually has to be on last using statement to compile, which maybe than it doesn't even have to do anything the using statements, but that's just how

[2021-03-23 11:05] trueleader opened #345 "TimerTrigger needs regulary manual action"
We deployed .Net 5 Azure Functions in the **rgTicketTrackingToolGP01** resource group of the **gategrouphq** tenant.
The Function app **TTToolFunctions** is running in **West Europe** on **Windows** with a **consumption plan**

There is a TimerTrigger **SendReminders** which should be triggered each 15 minutes.
But after a few times it stops fireing. The trigger fires again a few times if we resta

[2021-03-23 11:20] oscarvantol commented on #339
Thank you, I confirm the behavior with your example.

The extra ```; ``` is generating an extra entry point in the app, but it is not raising an error for that on build time. With sharplab.io you can see it will add this code right after the using statement:

[code]

I would think the compiler should warn/error on the extra entry point and this is not so much an AF issue. This can be a serious tim

[2021-03-23 11:51] Romfos opened #346 "Sometime azure functions don't work"
Hello, I have following problem:

I have logs about beginning of execution of operation and timeout issue at the end, but without any logs in between:

2021-03-23T11:40:16.062 [Information] Executing 'Functions.AccountMappingImporter' (Reason='This function was programmatically called via the host APIs.', Id=1689540d-e2a6-46d3-b9b6-56b2ac84330b)
2021-03-23T11:40:16.074 [Trace] Sending invocation i

[2021-03-23 12:24] Romfos commented on #346
I have following middleware:

    public class TestFunctionsWorkerMiddleware : IFunctionsWorkerMiddleware
    {
        public async Task Invoke(FunctionContext context, FunctionExecutionDelegate next)
        {
            var logger = context.GetLogger("debugs");

            try
            {
                logger.LogInformation("Before " + context.InvocationId);
                await next(con

[2021-03-23 13:27] arashcomsense opened #347 "Unable to add/remove users to/from groups in signalR"
Apparently the examples illustrated [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-signalr-service-output?tabs=csharp#send-to-a-group) are no longer working to add or remove users to signalR groups. Where can we find some .NET 5.0 examples to help understand how to manage users groups in signalR and send messages to groups.

[This example ](https://github.com/anth

[2021-03-23 16:18] fabiocav commented on #339
Suspected this would be the case, but wanted to look at the repro first. Essentially what happens here is that the compiler is going down the path of enabling top level statements and creating the default top level entry point. You should get a compilation warning when this happens (CS7022), so there is some feedback and it would cause a compilation failure in environments where you set warnings t

[2021-03-23 16:18] #339 closed

[2021-03-23 16:21] fabiocav commented on #347
@anthonychu has this changed significantly? We seem to be getting a lot of questions around SignalR here, so it would be good to see if we can work on a more substantial sample and documentation

[2021-03-23 16:24] fabiocav commented on #346
@Romfos what logs are you looking at? Can you please share your function app name so we can take a closer look? Thanks

[2021-03-23 16:44] trueleader commented on #345
**TTToolFunctions**
I tried to post each relevant information in the first part of the body :)

I did not found much inside the logs of the Function-App host. They end with "Executed 'Functions.SendReminders' ..." and thats it

[2021-03-23 16:51] Romfos commented on #346
@fabiocav
app name: kaseya1-functions-app-csi-qa
could you please verify logs for 1689540d-e2a6-46d3-b9b6-56b2ac84330b InvocationId?

Thank you!

[2021-03-23 19:59] djjlewis commented on #345
I have recently deployed functions with timer triggers and also notice they just stop firing. Weirdly, as soon as I go to the portal to check and click around / refresh they seem to start back up again!

For example, this function should be running every 30 minutes, but I can see it stopped this afternoon and hasn't run since:

![image](https://user-images.githubusercontent.com/6518665/112210029-1

[2021-03-23 20:03] djjlewis commented on #337
I'm experiencing exactly the same behaviour, with TimerTrigger as mentioned in #345, and also with ServiceBusTrigger on a different function. The function app is `studytravel-file-functions-qa` and the function name is `CreatedScaledImage`. No function executions were recorded, but as soon as I go to the portal, I saw a flurry of activity as it processed them all.

[2021-03-23 20:35] djjlewis opened #348 "Exception encountered while listening to EventStream, Microsoft.Azure.WebJobs.Script.Grpc: Object reference not set to an instance of an object."
A function I am upgrading to the new dotnet-isolated model is failing when I run it, and I have narrowed down the code to a service registration by the [IdentityModel](https://github.com/IdentityModel) library.

I have pasted the full output of `func host start --verbose` below, but the main error seems to be:

`Exception encountered while listening to EventStream`
`Microsoft.Azure.WebJobs.Script.

[2021-03-23 22:54] fabiocav commented on #348
Might help to have a small repro here to make sure we have your exact setup. Is that something you'd be able to provide in a GitHub repo? Thanks!

[2021-03-23 23:43] mizrael commented on #331
thanks @eriklieben , you're right, `func host start` works fine. Launching the project with either VS Code or VS for Mac doesn't work.

[2021-03-23 23:48] fabiocav commented on #331
Tooling support is still pending for this model, so the environment is not correctly setup by default when using them. The recommendation is to indeed use Core Tools in the meantime. Thanks!

[2021-03-23 23:51] mizrael commented on #331
thanks @fabiocav. What about debugging then? Should we rely on logic abstraction and unit/integration tests in the meantime?

[2021-03-24 00:01] fabiocav commented on #331
We have some instructions on how to debug here: https://github.com/Azure/azure-functions-dotnet-worker#visual-studio , but let me know if you have any problems with that.

[2021-03-24 00:57] fabiocav commented on #337
If the app has been replaced by another with the same name, that might lead us down the wrong path (we can look if it comes to that)

@djjlewis would you mind going into the portal and clicking the "refresh" button, after clicking on the `Functions` item in the menu? I can take a look at the site again once you've done that

[2021-03-24 01:01] fabiocav commented on #337
@djjlewis also, do you have the `FUNCTIONS_WORKER_RUNTIME` App Setting set to `dotnet-isolated` in your app?

[2021-03-24 01:03] fabiocav commented on #337
If you can also share how you're deploying, that might give us some additional clues.

[2021-03-24 02:28] balag0 commented on #336
Please share the app name - https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately

[2021-03-24 05:22] kinetiq opened #350 "Is there any guidance for AppInsights / TelemetryClient?"
I'm working through upgrading my functions to .NET Core 5. One of the final issues remaining is that one of my functions depends on class that injects TelemetryClient. This class is shared with an MVC project, and using TelemetryClient is important in that context but in the context of a function, I could live with it being disabled in some way if that's an option.

In the Core 3.1 version of this

[2021-03-24 05:29] kinetiq commented on #350
I pieced together that this might work:

services.AddSingleton<TelemetryClient>();

It seems to do the trick. Is that what I'm supposed to use?

[2021-03-24 05:39] kinetiq commented on #318
@v-anvari Any word on this? It's causing me some problems.

[2021-03-24 06:05] ChrisFulstow opened #352 "ServiceBusTrigger not auto-completing messages?"
Hi, I've migrated this Azure Function to .NET 5.0 isolated worker, but having some issues with the `ServiceBusTrigger` binding. The binding to a [Message](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.servicebus.message?view=azure-dotnet) didn't seem supported yet, so I tried binding the message body to a string, and the metadata to a dictionary, and that worked fine.

However, the m

[2021-03-24 06:12] SeanFeldman commented on #352
Unfortunately, SDK types such as `Message` and `IMessageReceiver` are not there.

@fabiocav the message should be completed by the SDK or else there's no way to use the trigger, right?

[2021-03-24 07:41] paulisch commented on #337
You can find attached:

- [faulty_az_func_log.txt](https://github.com/Azure/azure-functions-dotnet-worker/files/6195218/faulty_az_func_log.txt) --> This contains all command line output of creating and publishing the resources
- [SourceCode.zip](https://github.com/Azure/azure-functions-dotnet-worker/files/6195219/SourceCode.zip) --> Source code of my FunctionsApp

[2021-03-24 07:49] pascal-hauser commented on #336
As per Option 2, I sent a request as described which resultet in a 404.
Guid: 81AFFA4D-BC34-4AE9-9D6A-21341A09F6EA
Time: Around 07:45:00 UTC Wednesday, 24 March 2021
Region: Switzerland North

[2021-03-24 08:41] allanlw commented on #350
Related to https://github.com/Azure/azure-functions-dotnet-worker/issues/308

[2021-03-24 12:06] djjlewis commented on #337
Thanks for this @fabiocav , this setting was indeed not set. I have just added now and will report back if they are firing on schedule again.

I had upgraded an existing functions project and deployed via the cli to an existing functions app (and following the prompt to upgrade the runtime to v3) using the command `$ func azure functionapp publish <APP_NAME>` from this guide https://docs.microsoft

[2021-03-24 13:11] Romfos commented on #346
Sometime i see following logs:

[code]

[code]

[2021-03-24 14:11] Jooraz commented on #340
It's a shame that modification of output was possible in the preview4 and is not in the 1.0.0, I've prepared a code which does that in the preview. And that is rendered completely useless since it's not even a matter or rewriting it, rather than inability to perform such action at all.

Unless there's some kind of way of doing so by any chance after the middleware was called, even via (ugh) reflec

[2021-03-24 16:21] fabiocav commented on #337
@djjlewis  Yeah, definitely something that needs to be documented and made available in diagnostics/detector. Let us know if that helps with the issue so we can confirm.

@paulisch will continue to look at this

[2021-03-24 16:24] fabiocav commented on #352
That's correct. Messages will be completed by the binding itself.

@ChrisFulstow would you mind sharing your function app name and/or your host.json file? Thanks!

[2021-03-24 16:30] arashcomsense commented on #347
@anthonychu The following code snippet is similar to our working one in .netcoreapp3.1. What would be the equivalent of it in .net5.0 as it's producing compile error which was expected. Is there a document to lead us to put something working together?

[code]

[2021-03-24 16:33] fabiocav commented on #350
@kinetiq that might get you by if all you're trying to do is satisfy the dependency. For things to work as expected, if you're trying to actually use AI directly, you want to reference their SDK and actually add a call to register their services and have it configured.

Adding @brettsam here to add to my answer if needed and also track AI integration enhancements we may need to look at for the wor

[2021-03-24 17:00] mhoeger commented on #318
@kinetiq - I think you are running into this https://github.com/Azure/azure-functions-dotnet-worker/issues/288, you should be able to add the following to your host builder configuration in program.cs to bind to the environment variables in configuration:
[code]

Note that in the next release, this will be done by default.

@ggailey777 - I wonder if this doc on [dependency injection](https://docs.

[2021-03-24 17:01] ggailey777 opened #355 "REF Sample: customers want their log filters back"
C# customers are used to having log filters in host.json applied to their code, but when running OOP the worker doesn't have the same filters: https://github.com/MicrosoftDocs/azure-docs/issues/72168

We need to have a reference sample that we can leverage in docs that shows how to load host.json using AddJsonFile() as suggested by @brettsam:

[2021-03-24 17:01] fabiocav commented on #346
@Romfos I took a closer look at the app you've shared and it looks like this is an app that is configured for (and using) .NET in-proc. Are you trying to mix in and out-of-proc in the same app?

The runtime configuration would need to be set to `dotnet-isolated`, but if that is done, your in-proc functions will no longer run, as you can't mix those two modes.

[2021-03-24 17:25] ggailey777 commented on #318
@mhoeger I'm currently working on adding a note to that DI article to indicate that it only applies to in-proc (i.e. C# class library) functions. Is it sufficient to point folks off to the [ASP.NET Core DI article](https://docs.microsoft.com/aspnet/core/fundamentals/dependency-injection?view=aspnetcore-5.0), or should we have a more comprehensive DI reference sample in this repo too?

[2021-03-24 17:31] fabiocav commented on #355
We were also discussing whether there's an enhancement that would be needed to make this process simpler. Adding this here to track.

[2021-03-24 17:33] Romfos commented on #346
@fabiocav No, it was dotnet-isolated, but it had those issues and I decided to rollback to .net core 3.1

[2021-03-24 17:58] fabiocav commented on #346
Will try to take a closer look at that time frame. Did you have all of those functions there as well? Were they all failing? I see that, even with the .NET in-proc model, there are some timeouts for those functions. Are they expected to take a while?

[2021-03-24 18:04] Romfos commented on #346
@fabiocav

the latest execution on dotnet-isolated:
![image](https://user-images.githubusercontent.com/12048821/112361404-659aad80-8ce4-11eb-8bfc-5d3da54d3250.png)

now it is green

[2021-03-24 19:42] felinepc commented on #318
@mhoeger Thanks this does work.

[2021-03-24 20:10] kinetiq commented on #350
@fabiocav That's helpful - thanks!

[2021-03-24 20:10] #350 closed

[2021-03-24 20:11] kinetiq commented on #318
@mhoeger @felinepc That's very helpful, thanks to both of you!

[2021-03-24 21:35] kinetiq opened #356 "When migrating to .NET Core 5, what changes need to be made in Azure Portal?"
After migrating our functions app, I'm planning to deploy the new version tomorrow.

Do I need to change anything in Azure Portal? I was a little surprised that there isn't a new Runtime Version for ~5, or something like dotnet-isolated.

This is what I'm seeing:

![image](https://user-images.githubusercontent.com/6976360/112385770-6290c480-8cc6-11eb-8d20-1cf61d9ebd09.png)

I noticed in the sample

[2021-03-24 21:56] #318 closed

[2021-03-24 22:35] ChrisFulstow commented on #352
Thanks @fabiocav not much going on in host.json, not setting `"messageHandlerOptions": { "autoComplete": false }` or anything like that:
[code]
Happy to email of DM the function app name, unfortunately can't share here.

Interestingly the auto-complete seems to work if the trigger listens on a topic subscription, but not listening on the queue. The same code was working in-proc .NET Core 3.1, the

[2021-03-25 01:32] #290 closed

[2021-03-25 03:12] fabiocav commented on #149
Pushing this out of 98 as it still requires some design work.

[2021-03-25 09:13] brazierdavid commented on #350
See [Application Insights for Worker Service applications (non-HTTP applications)](https://docs.microsoft.com/en-us/azure/azure-monitor/app/worker-service)

[2021-03-25 10:36] allanlw commented on #350
I did set up my application using `Microsoft.ApplicationInsights.WorkerService` but this is extremely confusing because my azure function *is* an HTTP application, but that link says it's only for non-http applications.

[2021-03-25 10:59] brazierdavid commented on #350
Perhaps it means "non-ASP.NET"?

[2021-03-25 16:59] WhyDoYouDoThis opened #359 "Microsoft.Azure.WebJobs.Script.Grpc: Object reference not set to an instance of an object"
I have a very simple Azure Function that has been written in Core 3.1 and moved to .net 5.  The Function does nothing more than read the body of the message and do an HttpClient call to another function.  There is currently NO SECURITY, it is anonymous.  The host is run from the cmd line with _**func start --dotnet-isolated --port 8081 --cors * --verbose**_.

While the host runs, builds the end-po

[2021-03-25 17:27] WhyDoYouDoThis opened #360 "Debugging the Isolated Host Azure Function in .net5 locally"
I have a simple Azure Function hosted by the new isolated host written in .net 5.0  I start the function locally from the command prompt _**func start --dotnet-isolated-debug --port 8081 --cors * --verbose**_.  There is no security, the function runs under anonymous authentication.

Once running, I have attached the debugger through the _attach to process_ option, selected the running PID as state

[2021-03-25 17:50] eriklieben opened #361 "Sample: custom bindings"
Hi,

Is it possible to create sample code on how to create a custom binding library for the OOP(?) model and the regular extension you need to make that runs in the host process?

Thanks,

Erik

[2021-03-25 19:05] shibayan opened #362 "Support for query and form data in `HttpRequestData`"
It seems that query parameters, form-data (including files), and route parameters are not easily handled.

https://github.com/Azure/azure-functions-dotnet-worker/blob/6556367645aa1e843a41ecde41de38ad95e98fbf/src/DotNetWorker.Core/Http/HttpRequestData.cs

Other languages worker provide these properties so that they are easier to handle go.

https://docs.microsoft.com/en-us/azure/azure-functions/fun

[2021-03-25 19:41] SeanFeldman commented on #360
I have tried it with the latest Functions Core tools and it worked with VS2019 using `Debugger.Launch();`
@WhyDoYouDoThis what IDE are you using?

[2021-03-25 20:47] fabiocav commented on #362
@shibayan the full URL (with query strings, segments and all other details) is exposed here: https://github.com/Azure/azure-functions-dotnet-worker/blob/6556367645aa1e843a41ecde41de38ad95e98fbf/src/DotNetWorker.Core/Http/HttpRequestData.cs#L43 (and here is the API Reference documentation: https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.functions.worker.http.httprequestdata?view=azure-d

[2021-03-25 21:50] fabiocav commented on #361
We have our implementations [here](https://github.com/Azure/azure-functions-dotnet-worker/tree/main/extensions) (which can serve as basic references), but I'm flagging this so we can follow up with proper documentation and samples.

[2021-03-25 21:59] fabiocav commented on #360
@SeanFeldman to clarify, if you're using `Debugger.Launch()`, I'm assuming you're not passing in the `--dotnet-isolated-debug` argument, correct? That argument would (should) prevent your `Debugger.Launch()` code from being hit.

@WhyDoYouDoThis I'm noticing a lot of WebJobs packages still referenced in your project, and while that isn't necessarily an issue for the extensions (thought their attri

[2021-03-25 22:19] #335 closed

[2021-03-25 22:34] eriklieben commented on #361
Just for reference/ additional information:

It would be great to have a simple binding example which covers both sides, the part in the host and the part in the new libs. And a refresh of how to build/debug an extension.

For example, the docs talk about:

Add the app setting ```AzureWebJobs_ExtensionsPath``` to local.settings.json (or in Azure, in App Settings). Set the value to the parent of yo

[2021-03-25 22:49] fabiocav commented on #361
Some of the above is a bit dated (including some of the repos you've linked to).

Unfortunately, there is do good documentation and examples on custom extension authoring, as that has not been one of the core tracked and prioritized scenarios. Hopefully we can close that gap with at least some basic information on how to get started.

Flagging @mattchenderson for awareness

[2021-03-26 02:32] ssa3512 opened #363 "BindingData values are confusing and don't line up with input object structure"
I was playing around with middleware and storage queue triggered functions (this will be so nice to have) but the way the data was stored in the function execution context did not line up with my expectations when the function is taking a strongly typed object coming in as JSON.

Given the class:
[code]
and the queue message `{"Name":"Steve","Id":2}`

I get the following binding data
![image](http

[2021-03-26 05:06] shibayan commented on #362
In the current version, it looks like you need to use something like `QueryHelpers.ParseQuery` to parse the query parameters to use them.

In .NET Core 3.1, I could easily get the value from the `Query` property, so that was the part I found most difficult with. Since the `BindingContext` seems to contain the query values in JSON, I think it would help a lot of people if `HttpRequestData` had a `Q

[2021-03-26 05:58] SeanFeldman commented on #360
Correct @fabiocav. I did not know about the ` --dotnet-isolated-debug` argument until today 😊

[2021-03-26 06:01] fabiocav commented on #362
A few comments:
 - There's no need to install an additional package if you're not using ASP.NET Core just to use `QueryHelpers`, you can instead use `HttpUlitity.ParseQueryString` instead.
 - Query string is also available in expanded form in binding data. If you have a query string named `foo` , there will also be a binding data key named `foo`, with the value set to the query string value.
 - Yo

[2021-03-26 06:16] SeanFeldman commented on #304
@fabiocav is there a tracking issue for the feature/work to be done? Thank you.

[2021-03-26 06:24] SeanFeldman commented on #313
This would be a great change. `Function()` attribute is entirely unnecessary and mostly a duplication of the class/method name.

[2021-03-26 07:52] alanwales commented on #297
We have encountered the same on our CI build, although local development and debugging work fine with the latest isolated function sdk. There is a dependency on .Net 3.1

[2021-03-26 07:55] shibayan commented on #362
I have some doubts because I consider query strings to be a fundamental element of HTTP, and languages other than .NET 5 Worker (JavaScript / Java / Python) provide easy access to query strings dictionary, but I'll deal with it by implementing my own extension methods for now.

[2021-03-26 07:55] #362 closed

[2021-03-26 08:32] recumbent opened #364 "No job functions found running an F# function"
If I take the templated C# function, port the project to F# and attempt `func start`

I get:

[code]

I'm hoping that I just missed something obvious, but at this point its not clear what that might be.

The ported code is as below

_HttpExample.fs:_

[code]

_Program.fs:_

[code]

The full project is here: https://github.com/recumbent/fsharp-isolated

[2021-03-26 08:45] recumbent commented on #364
Further to the above, @marklam found that if one makes the changes below to the .fsproj then it will find the function and work with `func start`

- `<None Update="host.json">` to `<None Include="host.json">`
- `<None Update="local.settings.json">` to <None Include="local.settings.json">`

i.e. change `Update` to `Include` in both cases

[2021-03-26 11:13] arashcomsense commented on #347
@fabiocav @anthonychu Any updates on this question?

[2021-03-26 12:02] anihitk07 commented on #297
@fabiocav - I understand the priorities you might have, but would be great if you could let us know any fixes that you have lined up for this issue?

[2021-03-26 12:27] kinetiq commented on #356
No response so I bit the bullet and deployed this.

Worth noting that `FUNCTIONS_EXTENSION_VERSION` automatically updated to `dotnet-isolated`.

Not 100% sure this is working, still have some testing to do. There is one alarming thing: during deployment all my functions say "No Trigger Found" which seems like a problem.

[2021-03-26 12:27] #356 closed

[2021-03-26 12:57] kinetiq commented on #337
@fabiocav

I'm also dealing with this, unfortunately, and it is critical that I get these functions working ASAP. Any help would be greatly appreciated.

I deployed via PowerShell / Azure CLI. I'm seeing:

![image](https://user-images.githubusercontent.com/6976360/112634385-e8b92200-8e10-11eb-823c-86c19cd14aec.png)

In Azure Portal, Under Configuration > Function runtime settings, my runtime versi

[2021-03-26 16:11] devlead opened #366 "How is uploaded files handled with new HttpRequestData vs old HttpRequest?"
With previous versions of Azure Functions, one could handle standard HTTP put form file uploads as below

[code]

Where [Files](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.http.iformcollection.files?view=aspnetcore-5.0#Microsoft_AspNetCore_Http_IFormCollection_Files) property was an [IFormFileCollection](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.http.ifo

[2021-03-26 16:41] fabiocav opened #367 "Problems with deployed Function App"
@fabiocav

I'm also dealing with this, unfortunately, and it is critical that I get these functions working ASAP. Any help would be greatly appreciated.

I am not using RunOnStartup, although I did use it during testing prior to release.

I deployed via PowerShell / Azure CLI. I'm seeing:

![image](https://user-images.githubusercontent.com/6976360/112634385-e8b92200-8e10-11eb-823c-86c19cd14aec.png

[2021-03-26 16:44] fabiocav commented on #337
@kinetiq I've opened a different issue using what you've reported above so we can avoid mixing issues, as the root cause for those might be very different. Let's continue to follow up there.

[2021-03-26 16:47] fabiocav commented on #367
@kinetiq can you please provide your Invocation ID, Timestamp, and Region?  That will allow us to look up your Function App/Function. See the [wiki](https://github.com/Azure/azure-webjobs-sdk-script/wiki/Sharing-Your-Function-App-name-privately) for more details.

[2021-03-26 18:37] fabiocav commented on #366
@devlead let me work on a sample for this. This is an area where we'd potentially need some new APIs, as without them, the process might be a little cumbersome.

I'll block some time to look at this as soon as possible.

[2021-03-26 18:51] fabiocav commented on #363
The data exposed in biding data is the raw information we receive from the actual extension running in WebJobs. This is pre-processing/binding in the worker (those are the values ultimately used by the converters to perform model binding).

When binding to POCOs/Complex types, most extensions (queues included) will default to JSON serialization. This is ultimately controlled by the extension itsel

[2021-03-26 18:54] ssa3512 commented on #363
Thanks - it sounds like this is exactly what I am looking for. Do you have an separate public issue/discussion about this API I can follow?

[2021-03-26 19:34] kinetiq commented on #367
@fabiocav I'm ok with sharing the name of the functions app, in this case.

- Name: https://keystonefuncs.azurewebsites.net
- Location: East US

Hopefully that gets you there. Thanks!

[2021-03-26 20:04] WhyDoYouDoThis commented on #360
Thanks gents - I am stuck in meetings most of the day, but wanted to at least post back that I am grateful for the feedback and have updated my toolchain ( Visual Studio 2019 Enterprise ).  I will be looking to re-test later this afternoon or over the weekend.  I will post the results along with a celebratory thanks or more questions!

[2021-03-26 21:53] fabiocav commented on #367
@kinetiq would you mind opening the portal, navigating to the Function App, clicking on the `Functions` option (to view the functions) then clicking on the `refresh` button across the top? We'd like to validate the trigger synchronization flow and this should issue a request and would help us analyze that.  Thanks!

[2021-03-27 00:19] kinetiq commented on #367
Ok - I did it, but I don't see any changes. Because of that, I clicked it a few times.

This is what I clicked:

![image](https://user-images.githubusercontent.com/6976360/112704332-9e678d80-8e70-11eb-9590-32ded1fb273f.png)

[2021-03-27 05:09] josmithua commented on #176
@fabiocav Quick question which I didn't want to post a new issue for... What's the correct way to set a different default ObjectSerializer, such as `NewtonsoftJsonObjectSerializer` in the host builder?

[2021-03-27 10:52] djjlewis commented on #348
@fabiocav I've managed to upload a minimal repro here: https://github.com/djjlewis/AzureFunctionsIdentityModelErrorRepro

Basically, add the latest `IdentityModel.AspNetCore` package (3.0.0) and then use the `AddAccessTokenManagement()` service collection extension in `ConfigureServices()` and you will see the error immediately when the function starts.

I originally thought this was in the main `

[2021-03-28 02:35] WhyDoYouDoThis commented on #360
So update to latest did nothing to help.  Wondering if @SeanFeldman  might post the simple project as a zip file that I can run locally and verify there isn't something off on my machine.

[2021-03-28 02:38] WhyDoYouDoThis commented on #359
I have updated to the latest bits, including Visual Studio 2019(16.9.2) - still getting the error, still unable to debug.

[2021-03-28 20:40] kinetiq commented on #367
So it looks like these functions are running... However, I just got an email from one that ran today at 4:30 EST that normally runs in the evening.

[2021-03-28 22:08] WhyDoYouDoThis commented on #360
So after trying everything I could, I decided to simply download the massive sample repo and start trimming things off until I got to a simple HELLO WORLD.  As it is, the code in the sample includes "preview" libraries even though it is built against real bits.  It is perfectly okay to update those libraries to the released version.  Aside from all the configuration, emulation and what not that is

[2021-03-28 22:08] #360 closed

[2021-03-28 22:09] WhyDoYouDoThis commented on #359
So after trying everything I could, I decided to simply download the massive sample repo and start trimming things off until I got to a simple HELLO WORLD. As it is, the code in the sample includes "preview" libraries even though it is built against real bits. It is perfectly okay to update those libraries to the released version. Aside from all the configuration, emulation and what not that is re

[2021-03-28 22:09] #359 closed

[2021-03-29 00:40] anthonychu commented on #347
See this example for using the output binding: https://github.com/anthonychu/azure-functions-dotnet5-signalr-sample/blob/main/Messages.cs

[2021-03-29 03:51] WhyDoYouDoThis commented on #309
I'll add my name to the list of CRITICAL HELP <insert icon of hair pulling out>

[2021-03-29 04:47] WhyDoYouDoThis commented on #309
I pulled the branch from @fabiocav and, with appropriate package references, re-ran my proxy Functions and it worked!!  THanks @fabiocav for such quick work on the fix!

[2021-03-29 05:19] JustinGrote opened #370 "All Exceptions are RPCExceptions in Application Insights"
Semi-Dupe of https://github.com/Azure/azure-functions-powershell-worker/issues/244

The gRPC interface types all exceptions from a worker as RPCException. when an unhandled exception is thrown in the NET5 Worker, when it reaches the logs/Application Insights, its innermost type is RpcException, meaning the exception type got lost in translation on the gRPC interface. This should pass through so th

[2021-03-29 08:43] ChrisFulstow commented on #352
After some more investigating and debugging, good news: there doesn't seem to be any problem with `ServiceBusTrigger` auto-completing messages.

However, we determined the issue was being caused by an injected service that implemented `IAsyncDisposable`. It was blocking the function from ever completing execution, so it probably wasn't able to reach the SDK code that completed the Service Bus mess

[2021-03-29 09:59] jeremyVignelles commented on #237
Ping?
Am I the only one trying to create .net 5 functions on azure static web apps? Will the scenario be supported before the .net6 release?

[2021-03-29 11:25] arashcomsense commented on #347
@anthonychu I already saw that example but that did not answer my question!
How can one add a user to a messaging group or remove a user from a messaging group in signalR? Let me elaborate it with a scenario like the code snippet in [this comment](https://github.com/Azure/azure-functions-dotnet-worker/issues/347#issuecomment-805972861):

- We have an app with multiple tenants. Each tenant has a bu

[2021-03-29 13:43] djjlewis commented on #337
@fabiocav apologies for the delay getting back, had to switch focus to something else last week!

Unfortunately adding the correct `FUNCTIONS_WORKER_RUNTIME` app setting has not helped. The timer functions always seem to run OK for a while and then just stop. Bizarrely they start running again as soon as I do something in the portal, like the quantum observation problem :-D

Here is a screen shot

[2021-03-29 15:02] kinetiq commented on #367
As  quick update here, the timer triggers are running very erratically. It seems like they might be running when I go into the portal in azure, which is quite bizarre.

[2021-03-29 18:25] fabiocav commented on #367
Yeah, the behavior you're seeing is consistent with what I'd expect as I'm seeing some issues with the trigger metadata in the scale controller (the component responsible for activation and scaling).

@ankitkumarr this is one of the issues I've mentioned. Trigger metadata doesn't seem to be correctly set, so the controller is not activating the app.

@kinetiq we'll continue to provide updates as w

[2021-03-29 19:14] kinetiq commented on #367
@fabiocav Thanks for the update. Do you have a sense that this will be resolved in days, or will it be more like weeks? I need to determine whether we need to fail back to our old code base.

[2021-03-29 20:21] ankitkumarr commented on #367
I took a look at this, and I think this is caused by a sync triggers issue that we had fixed some time back. The impact is limited to Windows function apps. Deploying this to a Linux function app should work as expected.

The fixed Azure Functions runtime is mid-deployment right now. The deployment should finish across all regions sometime this week. Once it's completed, I believe these issues sho

[2021-03-29 20:28] fabiocav commented on #367
OK, this this is part of the payload that is currently in progress?

If so, @kinetiq , you can follow https://github.com/Azure/app-service-announcements/issues/323 for updates. We do expect deployment to be done this week.

[2021-03-29 21:22] #309 closed

[2021-03-29 21:38] kinetiq commented on #367
Great news. We can deal with it being good to go this week. Thanks for all the updates, I appreciate all of your help @ankitkumarr @fabiocav

[2021-03-29 23:09] fabiocav commented on #364
@recumbent thank you for the update.

We'll be working on some F# templates, so hopefully that will address those types of issues.

/cc @anthonychu

[2021-03-30 02:29] balag0 commented on #336
Thanks.

@ankitkumarr FYI
Exceeded language worker restart retry count for runtime:dotnet-isolated. Shutting down and proactively recycling the Functions Host to recover

[2021-03-30 10:18] trueleader commented on #345
Any news here?

[2021-03-30 11:27] JeroenvdBurg commented on #297
I agree with the above that this is critical. It does not make sense to have a dependency on .NET 3.1 sdk while the whole idea of Azure functions in .NET 5 is not to rely on .NET 3 SDK anymore.

[2021-03-30 16:43] fabiocav commented on #297
@anihitk07 we'll have an update that will give you the option to opt-out of the dependency, but this will be an advanced scenario where the user (you) would need to understand the extensions you're using and whether they're safe without that dependency (we'll of course, provide that list). For awareness, this has indeed lower in priority than some of the other items we've been addressing in the wo

[2021-03-30 17:23] anihitk07 commented on #297
@fabiocav we are in a process to upgrade our entire solution stack to .NET 5. So Azure Function also came as part of that process.
We are in kind of a limbo here, given that we try by this

FROM mcr.microsoft.com/dotnet/sdk:5.0 AS installer-env
COPY --from=mcr.microsoft.com/dotnet/sdk:3.1 /usr/share/dotnet /usr/share/dotnet
WORKDIR /src
COPY ["a/a.csproj", "a/"]
COPY ["b/b.csproj", "b/"]
COPY ["c/

[2021-03-30 17:31] fabiocav commented on #297
@anihitk07 `_FunctionsSkipCleanOutput` doesn't apply to this model (but would also not cause any problems), `_FunctionsExtensionTargetFramework` is the flag that is currently not working with the build, so please avoid that.

If you can also have your repro in a GitHub repo, that might make the process simpler. We can take a closer look at what you have.

[2021-03-30 17:35] anihitk07 commented on #297
@fabiocav I have updated my comments above - please let me know if that makes it any better to understand, or else I can publish a trimmed version of bare client repo later on with their permission.

[2021-03-30 17:37] fabiocav commented on #297
That would help, my comment above still applies (on removing those two project properties). Thank you!

[2021-03-30 17:48] anihitk07 commented on #297
Hi @fabiocav : I have just now tried removing those 2 from .csproj but yet to get there.

Docker run gives this

`info: Host.Triggers.Warmup[0]
      Initializing Warmup Extension.
info: Host.Startup[503]
      Initializing Host. OperationId: 'e06c0c0b-44d2-4d66-ac38-500511796bb9'.
info: Host.Startup[504]
      Host initialization: ConsecutiveErrors=0, StartupCount=1, OperationId=e06c0c0b-44d2-4d6

[2021-03-30 23:00] MatheusXavier commented on #293
I have a service where I can complete the messages, so I don't need the `IMessegaReceiver`, but I need the `lockToken`, Are there some way to get that? On documentation they talk about the `MessageReceiver` so I used this property with string type but I received a json with empty `TokenProvider`:
[code]

[2021-03-30 23:59] balag0 commented on #336
@pascal-hauser This should be working now. Could you please give it a try?

[2021-03-31 07:37] pascal-hauser commented on #336
Thank you @balag0. When I publish the function now the output successfully shows:
[code]
Also when I check in the Azure portal under the `[MyFunctionApp] -> Functions/Functions -> [TimedImportTrigger] -> Integration` I see the Trigger and see that the Schedule is synced with what's specified in the code. That part seems to work good now.

Unfortunately the function still doesn't get executed. Even

[2021-03-31 08:51] rstropek opened #374 "Empty body when POSTing data to function using C#'s HttpClient"
I have the following very simple function:

[code]

I run it using HTTPS with a self-signed certificate that is registered on my dev machine as a trusted root cert. So HTTPS works fine.

I use VSCode's *REST Client* to send a POST request to this function:

[code]

As a result, the function outputs `"asdf"` and the POST response body contains `"asdf"`. Everything as expected so far.

Next, I write

[2021-03-31 09:10] rstropek commented on #374
Seems to be an issue with `PostAsJsonAsync`. The following client code works as expected:

[code]

[2021-03-31 12:34] anihitk07 commented on #297
Hi @fabiocav We somehow got that Docker build/run working by referring to aspnet:5.0 on top of isolated function image, may be on a different context - is there any ongoing issues for adding environment variables in Azure Function on .NET 5 hosting.

We have tried AddEnvironmentVariables() inside ConfigureAppConfiguration() - didnt work.

We can connect Key Vault - but then ASPNETCORE_ENVIRONMENT

[2021-03-31 16:23] roubachof opened #375 "Working fine on local, bad gateway when published"
I tested successfully all my functions locally, but when published, it gives me a 502 bad gateway error.

I don't even know where to look to see functions possible exceptions...

When I deploy I get this:

[code]

When I go into the log section of the functions i get this:

[code]

It could be an issue with my CosmosDB key since it is stored in `local.settings.json`:

[code]

in azure portal I hav

[2021-03-31 16:27] fabiocav commented on #297
@anihitk07 that's great to hear. For the environment variable problem, can you please open a separate issue with the details and your code so we can keep this issue focused on what the original author reported? Thanks!

[2021-03-31 17:28] SeanFeldman opened #376 "Cake is missing for 5.0"
Happy birthday!

Yes, you can close it 😀

[2021-03-31 17:52] hansmbakker opened #377 "Health checks"
ASP.net core has [health checks apis](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/health-checks?view=aspnetcore-5.0).

Does the out of process dotnet functions worker have support for this or an alternative?

Also see https://github.com/Azure/azure-functions-host/issues/5259

[2021-03-31 18:17] balag0 commented on #336
It was an issue with that region where we didn't have the latest functions runtime images deployed. It would have impacted other apps as well.

We can confirm this app is now using the correct image, so the failures need more investigation

@ankitkumarr Could you please take a look at this. Verified the app is using host version 3.0.15417, so the deployment issue should be fixed now but we still s

[2021-03-31 20:09] fabiocav commented on #316
This is blocked on some SDK/Host changes. Moving to sprint 99

[2021-04-01 05:37] mcgear commented on #361
I followed the link above to the extensions source [here](https://github.com/Azure/azure-functions-dotnet-worker/tree/main/extensions).  I see in there all of the source for the actual attributes, however i am not seeing the source for what i would think would be the meat of the logic.  Is there somewhere with examples of how the attributes are used and how something custom could be created?

[2021-04-01 05:42] eriklieben commented on #361
My guess would be that those parts are in the regular packages, see the assemblyinfo.cs in the properties folder

[code]

So in .net5 isolated you would use the OutputBindingAttribute & InputBindingAttribute, and that would somehow automatically link to the regular input and output bindings. But this is all just guesswork :-)

[2021-04-01 17:57] FamsQC opened #378 "BlobTrigger times out (never actually seems to fire)"
Is there a working example for a BlobTrigger?

I cannot seem to get a BlobTrigger to actually fire properly.
In Azure log stream of the function. The trigger fires, but it does not seem to find this method to execute and eventually after 5:00:00 times out.

[code]

[code]
[code]

[2021-04-01 18:04] josere commented on #340
It will be good if we can also access the input parameters from the middleware.

[2021-04-01 20:10] fabiocav commented on #340
@josere that is part of the plan. The goal is to enable scenarios where middleware can inspect and modify input and output data associated with the context.

[2021-04-01 20:22] oscarvantol commented on #378
Hi,
I just checked your example locally and on a deployed function and it seems to be working fine for me.
The thing I did change is **string** myBlob to **byte[]** myBlob, since it looks like you are trying to receive a png.

I used this code (and some variations) in my attempt to reproduce:
https://github.com/oscarvantol/azure-functions-dotnet5-examples/blob/main/ExampleFunction/BlobFunctions.cs

[2021-04-01 21:46] Romfos commented on #378
I have quite similar problem, but with http trigger

https://github.com/Azure/azure-functions-dotnet-worker/issues/346

[2021-04-02 02:11] fabiocav commented on #376
🍰 👍🏼 🎉

[2021-04-02 02:11] #376 closed

[2021-04-02 02:14] fabiocav commented on #377
Do you see this being used directly against the worker? Currently, the only communication the worker has is with the host and the host already has the monitoring features, it would make sense to expose that there and perhaps have the host also report on worker. provided metrics.

Thoughts?

[2021-04-02 02:17] fabiocav commented on #346
Sorry, missed your reply here.

Is the app still in the same state? Would you mind triggering another execution so we have some recent data?

/cc @ankitkumarr @brettsam

[2021-04-02 07:38] hansmbakker commented on #377
For my usecase it would be sufficient to have the host report the health checks. However, I think the host currently does not provide all the information that the ASP.Net Core ones can do (database connectivity, connectivity to other systems, etc). Can you give more insight into that?

Also, people running Azure Functions theirselves in a container, do not use the Azure Functions host I believe so

[2021-04-02 09:39] roubachof commented on #375
Ok forget about that...
I just was trying to publish function with .Net 5 isolated into an old fashion .Net Core 3 function app...

[2021-04-02 09:39] #375 closed

[2021-04-02 10:00] Romfos commented on #346
I've checked it yestarday and it still a problem:
![image](https://user-images.githubusercontent.com/12048821/113405933-4b7f6000-93b3-11eb-9916-fdccf13ea50d.png)

Now application restored to .net core 3.1

[2021-04-02 16:32] FamsQC commented on #378
Something could be blocking. The above code snippit I provided earlier was generated from this command:
func new --name BlobExample --template "Blob trigger" -> it generated the "string myBlob"
I will get you a repo with my code.
This does not work on my local machine either, it also times out.

[2021-04-02 16:46] FamsQC commented on #378
Try this in powershell:
func init ExampleFunction --worker-runtime dotnetisolated
cd .\ExampleFunction\
func new --name BlobExample --template "Blob trigger"
open the BlobExample and change the BlobTrigger to your correct container, and Connection to "AzureWebJobsStorage"
dotnet publish -c Release
cd .\bin\Release\net5.0\publish\
func azure functionapp publish <FunctionNameinAzure>

I then upload

[2021-04-02 17:51] ankitkumarr commented on #336
Thanks @balag0 for the investigation.

Looks like the worker fails with exit code 134 --
"Handling WorkerErrorEvent for runtime:dotnet-isolated, workerId:dotnet-isolated. Failed with: Microsoft.Azure.WebJobs.Script.Workers.WorkerProcessExitException: dotnet exited with code 134"

@pascal-hauser, would you be able to share your code or a repro with us for further investigation?

cc: @fabiocav if yo

[2021-04-02 18:02] FamsQC commented on #378
Try this in PowerShell:

[code]

results - timeouts experienced after uploading a file to the container (the above does not work out of the box for me)

[code]

[2021-04-02 18:03] ankitkumarr commented on #367
@kinetiq, the deployment has finished. Would you mind please retrying and letting us know if you continue to see these issues? Thank you!

[2021-04-02 18:26] fabiocav commented on #336
Some ideas, but would need to look at the application logs to confirm. The project would also help. @pascal-hauser are you using self contained or Ready to Run with your deployed app?

[2021-04-02 20:25] timgabrhel commented on #293
@MatheusXavier  The lockToken can be found in the binding metadata off of the FunctionContext passed into the function. I tried to init my own SB connection and mark the message as complete with the lock token, but service bus rejects it as the message was received by another MessageReceiver. Curious if you have an alternative to make it work.

[2021-04-03 12:15] razfriman commented on #366
👋 Came here to ask the same thing, Might reconsider the migration this early since I need to access a file upload within my function.

Keen to see this area improve 🤞

[2021-04-03 19:43] fabiocav commented on #366
Let me assign this to the next sprint so we can make progress on some samples and potential API plans

[2021-04-04 16:32] onionhammer opened #380 "Azure Static Web Apps support?"
Azure static websites are still in preview but they say that they use the azure functions back end, are .net isolated processes supported today? If not when will they be supported?

[2021-04-06 00:33] ankitkumarr commented on #178
The most recent Functions Runtime release takes care of the Portal issues as well as the issue with "No trigger Found" on deployment to Windows. All of the issues highlighted here should now be addressed. Thank you for you patience.

Please let us know if you continue to see any of these issues.

[2021-04-06 11:42] nichovski opened #381 "Dead letter queue"
Hello,

How I can send a message to dead letter Queue in .NET 5 (dotnet-isolated), I'm not able to inject MessageRecevier and call messageRecevier .DeadLetterAsync()?

Thanks

[2021-04-06 14:59] brazierdavid opened #382 "Different batchSize per QueueTrigger (& other customised triggers)"
Can do this in the WebJobs SDK:

https://stackoverflow.com/questions/52629666/azure-webjobs-queue-triggers-with-different-batch-sizes

But I can't see any equivalent of IQueueProcessorFactory in the Worker code - how would we achieve this?

[2021-04-06 15:40] JamieMagee opened #383 "The framework 'Microsoft.AspNetCore.App', version '5.0.0' was not found."
When running [this function](https://github.com/JamieMagee/reddit2kindle/tree/v2/src/Reddit2Kindle.Functions) on a Linux-based Azure Functions App (running in West US 2), I receive the following error:

[code]

If you need additional information you can also reach me on Teams.

[2021-04-06 16:59] kinetiq commented on #367
@ankitkumarr Looks like it worked! Thanks for keeping me up to date on this.

[2021-04-06 17:10] SeanFeldman commented on #381
The worker SDK is de-coupled from other SDK types. The `MessageReceiver` used to receive the triggering message is not passed in as an object but rather as a serialized JSON string. I don't think with the current release it's possible to dead-letter the incoming message. @fabiocav would be able to confirm and elaborate on the future direction.

[2021-04-06 17:19] SeanFeldman commented on #381
A potential solution is similar to what was proposed in https://github.com/Azure/azure-functions-dotnet-worker/issues/293 - dead-letter the message using a newly constructed `MessageReceiver`, passing the `LockToken` of the incoming message.

[2021-04-06 17:47] piekstra commented on #366
Also came here to ask about accessing `form-data` instead of the raw `Body`. Slack "interactions" send a POST request using form data that looks like "payload=%7B%22example%22%3A1%7D". Currently having to use string manipulation on the body after stream-reading it in order to pull out the payload value.

[2021-04-06 18:02] AFDevMike commented on #378
@oscarvantol

and within:

Can you confirm the current state / requirement for you to get working is to  run Azureite on in devcontainer / VSCode?

[2021-04-06 19:17] hackked commented on #316
@fabiocav is there any general ETA on when this might be available?

[2021-04-07 16:06] pascal-hauser commented on #336
@fabiocav it's a 'Ready to Run' app. With the hint from your comment I also deployed it as a self-contained app, but this also doesn't show any executions.
As of application logs, I didn't find any. Under Function->Monitor->Logs the portal connects to Application Insights but doesn't show anything. `func azure functionapp logstream <appname>` shows `Log stream is not currently supported in Linux C

[2021-04-08 04:53] jasonshsoftware commented on #340
+1 on this one! I had the same use case of global error handling, etc.

[2021-04-08 18:47] ModernRonin opened #384 "With a ServiceBusTrigger, how to go from string/byte[] to Message?"
Hi,

using Service Bus and the new functions model, I need to integrate with MassTransit. MT's integration library for Service Bus expects that I pass in a `Microsoft.Azure.ServiceBus.Message`.

The new functions model doesn't allow this type to directly be bound, the relevant samples all act as if the message was a regular `string`.
I checked out `Message` and noted it has a constructor taking a

[2021-04-08 20:17] SeanFeldman commented on #384
At this point in time, it will be tricky. Functions runtime passes the context which contains serialized system and user properties (headers). Just constructing a message from the body `byte[]` is not taking those values into consideration. I _suspect_ there will be some hackery and reflection involved to construct a `Message` MassTransit requires.

[2021-04-08 23:32] MatheusXavier commented on #293
@timgabrhel I tried your solution, so I could get `lockToken` from `BindingContext`:
`var lockToken = context.BindingContext.BindingData.GetValueOrDefault("LockToken").ToString();`
I discovered that if you add a parameter on your function called `string lockToken` you could get it too, but when I tried to complete the message I got the same error:

I built the `Microsoft.Azure.ServiceBus.QueueClie

[2021-04-09 03:26] timgabrhel commented on #293
@MatheusXavier That's great to hear! Any chance you can share a code snippet around the message handler & completing the message?

[2021-04-09 10:05] ModernRonin commented on #384
Well,  if there was some documentation on how to fill these properties from the passed `FunctionContext`, I'd be fine.
Seeing as `Message` is actually a type created and managed by Microsoft, as is `FunctionContext`, the required knowledge must be available within Microsoft.

So, if there is some documentation for this, please provide the link. If there isn't, please create it :-)

(Of course, it

[2021-04-09 10:30] ErikDeRoos opened #385 "Enviroment is not set on entering ConfigureAppConfiguration (.Net Isolated)"
The environment is still 'Production' when I enter the ConfigureAppConfiguration((context, builder) => in the HostBuilder, even when I run this locally and I am sure all environment variables are set up properly.

So the following pattern to get Development settings in doesn't work:
[code]

Printing out the environment variables gives "AZURE_FUNCTIONS_ENVIRONMENT Development" but the value is igno

[2021-04-09 10:38] ErikDeRoos commented on #385
For now I am running it like this

[code]

Dirty, but it works.

[2021-04-09 12:28] p-bojkowski opened #396 "".NET5 Azure Function" + Azure Key Value = "Visual Studio Connected Services""
Hi!

when you create the new .NET5 function (https://dev.to/kenakamu/azure-functions-and-net-5-dependency-injection-5ed4)
you can than add "Visual Studio Connected Services" with VS 16.10.0 Preview 1.0.

How can we use .NET5 Azure Function isolated with Azure Key Value?
What is the current best practices to use Azure Key Value in .NET5 Azure Function isolated mode?

[2021-04-09 15:02] SeanFeldman commented on #384
I don't represent the Functions team but If I understand correctly the intention, the idea is that the Isolated Worker SDK will not take any dependency on the specific SDK packages to avoid the mess that was there with `BrokeredMessage` and `Message` in the past that would be repeated with with `Message` and `ServiceBusMessage` (the latest ASB SDK). For that, some sort of abstraction will be neede

[2021-04-09 15:06] SeanFeldman commented on #385
If you add `local.appsettings.json`, is that one picked up? With my functions, I used that file with In-proc SDK for local development.

[2021-04-09 16:07] DavidZidar opened #386 "HttpRequestData probably should not validate headers"
I have a HTTP trigger which reads request headers and sometimes it throws an exception like this one:

[code]

In this case a bot is sending a user agent which the header validation does not like and thus I am completely prevented from reading the headers because merely accessing the `Headers` property causes this exception to be thrown.

The problem seems to be that you call `Add` on `HttpHeaders

[2021-04-09 19:14] ModernRonin commented on #384
thank you, I'll see if this is enough to get me running :-)

[2021-04-09 21:24] MatheusXavier commented on #293
Sure! I use two differents queues on my application, the first one I use to handle events from my domain, on application startup I register a message handler that receives events, it is working perfectly, this is the code:
[code]
The second queue I use to process some data, so I use an Azure Function with Service Bus Trigger, this is the code on dotnet 3.1 version:
[code]
After the migration to do

[2021-04-10 11:53] ModernRonin commented on #384
Hi,

so I'm now able to receive messages using the info @SeanFeldman provided.
While it works, it's horrible because I rely on internal implementation details of `Microsoft.Azure.ServiceBus.Message`.

I will have to discuss internally whether we as a company want to build the infrastructure of our product on this rather shaky foundation or whether it's maybe the better course of action to steer aw

[2021-04-10 12:46] ModernRonin opened #388 "ServiceBusTrigger with Topics/Subscription throws 404"
Hi,

I have a trigger function defined as
[code]

In the Azure portal, I got the topic and subscription set up as `deonmark/sharedcontracts~somenotification/my-subscription`.

I've sent a message to the topic with a test-client. If I peek at the message using [ServiceBusExplorer](https://github.com/paolosalvatori/ServiceBusExplorer), I see this:
[code]

Note that  `destinationAddress` is `sb://deo

[2021-04-10 14:09] FamsQC commented on #378
[https://github.com/Azure/azure-functions-dotnet-worker/issues/346](#346)

seems to be related

[2021-04-10 17:39] pherbel commented on #385
I'm also looking for a solution.

[2021-04-10 19:06] ErikDeRoos commented on #385
@SeanFeldman All files are working as intended. AppSettings.Development.json is available in the local environment on run. That is why my temp fix does work.

It is about context.HostingEnvironment.Environment not being set properly in the scope of ConfigureAppConfiguration.

[2021-04-10 19:09] oscarvantol commented on #378
@AFDevMike sorry for not getting back sooner. I have issue and identical logs running this when I have no storage emulator running.

For me the example works both with AzureStorageEmulator or Azurite (installed with on my devbox with npm).

[2021-04-10 19:25] AFDevMike commented on #378
@oscarvantol , thank you.  I have since proceeded to downgrade back to .Net Core 3.1 so is no longer an issue.

I didn't save repro but in general was using(attempting to use) our actual live blobstorage Connection and avoided AzureStorageEmulator and am unfamiliar with Azurite .  Either way thanks for response.

[2021-04-11 12:34] ffMathy opened #389 "IActionResult not present after dotnet 5?"
I'd like a sample that shows how to use IActionResult with dotnet 5.

Is that available somewhere?

I can't get it working.

[2021-04-12 11:09] timgabrhel commented on #293
@MatheusXavier My apologies, I misunderstood and thought you meant you somehow were able to register a new message handler within the function to complete the message. Looks like we're on hold until this support is enabled by the functions team.

[2021-04-12 14:19] trueleader commented on #345
Someone started the function manually as I wrote the last comment (maybe it was me and I can´t remember). All events from then till now have fired.
Maybe the plattform was updated? Seems to work now :)

[2021-04-12 14:19] #345 closed

[2021-04-12 14:45] FamsQC commented on #378
I also downgraded back to 3.1
I would very much like to move forward with .NET 5.0 though, so if somebody has some ideas on to why Blob Triggers are timing out I'm all ears. I have two timer triggers firing in my code that seem to be running fine, blob triggers do not.

[2021-04-12 16:21] francky-powerfactors commented on #348
From my small investigation into this issue, it looks like there is some timing issue between

https://github.com/Azure/azure-functions-dotnet-worker/blob/main/src/DotNetWorker.Grpc/GrpcWorker.cs#L60

and

https://github.com/Azure/azure-functions-dotnet-worker/blob/main/src/DotNetWorker.Grpc/GrpcWorker.cs#L83

when calling `public Task StartAsync(CancellationToken token)`.

This is where (I think)

[2021-04-13 01:01] #178 closed

[2021-04-13 01:09] godefroi commented on #380
Not a contributor, but to clarify; when you say "supported", what do you mean? Are you asking if you can call an Azure function from a static website? If so, the answer is definitely "yes".

[2021-04-13 01:15] onionhammer commented on #380
I'm asking about the built in API functionality, not about calling a different api from your client

[2021-04-13 12:49] tommymonk opened #390 "Access UserProperties on ServiceBusTrigger when IsBatched is true"
I'm using the `ServiceBusTrigger` on a function with Azure Functions 5, I've therefor had to use a string due to the binding limitations and my binding looks like this;

`public async Task RunAsync([ServiceBusTrigger(SERVICE_BUS_QUEUE_NAME, Connection = "ServiceBusConnectionString")] string message, IDictionary<string, object> userProperties)`

I want to take advantage of batching so I also pass `

[2021-04-13 16:41] asparrowhawk commented on #348
I tried to follow Dave Brock's example, https://daveabrock.com/2021/02/24/functions-dotnet-5. I am seeing the same error:

[code]

But this only happens if the call to SeedDatabase(host) is present. Comment this out and I don't see the error. I also tried changing the function to make it similar the code produced by following this guide, https://docs.microsoft.com/en-gb/azure/azure-functions/dotne

[2021-04-13 22:01] #367 closed

[2021-04-13 23:18] alanokelly opened #391 "Exceptions do not cause a requeue of a message to a QueueTrigger"
My .NET 5 (dotnet-isolated) QueueTrigger function does not requeue a message when the function ends in an exception. It doesn't go to a poison queue, it just disappears

here's my host file:
[code]
Here's my function lead-in

[code]

[2021-04-13 23:19] alanokelly commented on #391
This worked great on .NET Core 3.1. Not sure why it's not working after the upgrade

[2021-04-14 08:32] DavidZidar opened #392 "TimerInfo is missing because you haven't released a new version of the Timer NuGet package"
Your release notes for version 1.1 mention the following:

Which is great! But the `TimerInfo` definition is supposed to live in the `Microsoft.Azure.Functions.Worker.Extensions.Timer` NuGet package which needs to be updated.

[2021-04-14 09:35] dhermyt opened #393 "ServiceBusTrigger and INameResolver"
Hello,

Is it still possible to pass dynamic queue name to Service Bus trigger? Previously INameResolver was used for that, but the new extension is missing this interface.

[code]

[2021-04-14 18:51] brazierdavid opened #394 "Docker image updates"
Hi, the images at [https://hub.docker.com/_/microsoft-azure-functions-dotnet-isolated](https://hub.docker.com/_/microsoft-azure-functions-dotnet-isolated) aren't updated nightly with Linux patches like the standard .NET ones at [https://hub.docker.com/_/microsoft-dotnet-aspnet](https://hub.docker.com/_/microsoft-dotnet-aspnet) are, and Azure Security Center is complaining our function app image ha

[2021-04-14 20:22] fabiocav commented on #316
We're waiting for SDK updates and host deployments to finish before we can merge this work. This should be available within the next 2 weeks

[2021-04-14 20:25] fabiocav commented on #281
Work here is in progress, but likely to span across multiple sprints. We'll decompose this issue and assign more granular tasks.

[2021-04-14 21:20] SeanFeldman commented on #281
@fabiocav, I'm assuming once some of that work can be shared, it will be. Looking forward to trying out what's being built.

[2021-04-15 09:50] CasperWSchmidt commented on #388
I think you should change "~" to "/" in your topic name?

[2021-04-15 17:14] ModernRonin commented on #388
Before switching to net5, the tilde was what it wanted.

Anyway, to be on the safe side, I just tried replacing it with a slash, but the error message stays the same.

[2021-04-15 21:19] fabiocav commented on #322
We could provide some guidance, but honestly, it's a cumbersome process.

Flagging this so we can work on implementing a proper set of APIs for this.

[2021-04-15 21:29] fabiocav commented on #378
@FamsQC apologies for the delayed response. It would be great if we had the ability to repro this for investigation. Do you have a repro and exact set of steps (including steps on how you're creating the blob, blob type, etc.)? Thanks!

[2021-04-15 21:31] fabiocav commented on #381
Flagging this as answered as the information shared by @SeanFeldman above should help, but please let us know if you need anything else.

[2021-04-15 21:32] #381 closed

[2021-04-15 21:36] fabiocav commented on #382
This would require a custom extension that loads the `IQueueProcessorFactory`, and currently, for the isolated worker, we unfortunately don't have a lot of guidance for that.

Leaving this open and flagging as a documentation issue, but we don't have an ETA at this point.

[2021-04-15 21:38] anthonychu commented on #380
Thanks for the feedback. This issue is being tracked here https://github.com/Azure/static-web-apps/issues/319. It's on the roadmap to support additional language version. There's no ETA yet. Closing this one but please follow the other one for updates.

[2021-04-15 21:38] #380 closed

[2021-04-15 21:45] fabiocav commented on #396
@p-bojkowski are you referring to Azure Key Vault? If so, you have a couple of options, number 1 is to directly use the Key Vault SDK as you would from other .NET apps,  number 2 is to use the Key Vault references support in app service (https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-references)

[2021-04-15 21:49] fabiocav commented on #386
Sounds reasonable. Tracking that as part of the work for the current sprint.

[2021-04-15 21:50] fabiocav commented on #389
This is currently not supported with the isolated worker.

We expect to add support for ASP.NET types/abstractions, but depend on some additional infrastructure/host features and don't currently have an ETA.