[2021-12-03 12:47] michielvoo opened #741 "Required .azurefunctions directory is not created when publishing in an Azure DevOps pipeline on the ubuntu-latest agent"
Executing `dotnet publish` for a solution with an Azure Functions worker application targeting .NET 5 should generate an `.azurefunctions` directory in the output directory. This directory contains several assemblies, for example `Microsoft.Azure.WebJobs.Extensions.FunctionMetadataLoader.dll`.

Inside the publish directory there is a file named `extensions.json` which lists extensions' name, type,

[2021-12-03 12:55] michielvoo commented on #741
I noticed that the [Windows agent](https://github.com/actions/virtual-environments/blob/main/images/win/Windows2019-Readme.md) contains these 2 Visual Studio components:

- Component.Microsoft.VisualStudio.Web.AzureFunctions
- Microsoft.VisualStudio.ComponentGroup.AzureFunctions

Is an installation of Visual Studio required to build Azure Functions worker applications?

[2021-12-03 12:56] pokrz26 commented on #615
It looks like RequestTelemetry also never end up in TelemetryProcessor.

[2021-12-03 13:44] josh-endries opened #744 "VS2019 timer trigger v3 function app does not start up if timer trigger is past due"
I just created a new v3 timer trigger Function in a new Function App using .NET 5 isolated, VS 16.11.2. It downloaded the latest tools 3.30.1***, but every other time I start it up (1 minute timer), it fails to start and attach a debugger. The next attempt, it works. I believe it's due to the Function executing immediately due to being past due whenever I make some code changes. I have RunOnStartu

[2021-12-03 18:52] kshyju commented on #737
No, it is not possible to set a serializer only for a specific function. The serializer you set on the bootstrapping code (inside `ConfigureFunctionsWorkerDefaults` method) will be applied to all functions within the app.

[2021-12-03 19:14] kshyju commented on #737
@AsierVillanueva We will discuss this item in the next triage meeting and will share an update.

Until we have a proper official fix/guidance available, one 🐎 **_hacky_** solution to mitigate the issue is to create your own local copy of the [SendGridMessage type ](https://github.com/sendgrid/sendgrid-csharp/blob/main/src/SendGrid/Helpers/Mail/SendGridMessage.cs#L23)and use [JsonPropertyName attri

[2021-12-04 22:08] longtimedeveloper commented on #404
@asparrowhawk @MarGraz @cleferman I wrote up a bug to get this fixed.  https://github.com/Azure/azure-sdk-for-net/issues/25694

This is nuts with an unannounced, unplanned massive breaking change.  Really frustrating with non-sense like this.

I just tried the `Microsoft.Azure.Functions.Worker.Extensions.Storage` stable version `5.0.0` and it's gone.

[2021-12-06 15:15] josmithua commented on #561
@kshyju Yep, seems this is fixed!

I will close this issue. It would have been nice to keep this as an input parameter, but the one liner works fine.

[2021-12-06 15:15] #561 closed

[2021-12-06 21:27] fabiocav commented on #297
For this, the 3.1 requirement when targeting Azure Functions 3.0 still stands. That requirement should be lifted when running against Azure Functions 4.0/.NET 6.0

[2021-12-06 21:27] fabiocav commented on #297
@dngache can you confirm whether the above information helps? Thanks

[2021-12-07 15:48] AsierVillanueva commented on #737
Ok. My types for workaround:

[code]

So the function code is almost the same:

[code]

[2021-12-07 19:26] cgillum commented on #550
+1, running into this issue as well, which makes it harder for extension authors to provide users with nuget package dependencies that aren't hosted on nuget.org (FYI @anthonychu and @fabiocav)

[2021-12-07 20:29] esimkowitz commented on #564
@anthonychu I am still seeing this issue with Microsoft.Azure.Functions.Worker.Sdk version 1.3.0, could it be an issue with the Microsoft.Azure.Functions.Worker.Extensions.Http package? I see that this package is 7 months old, has it been updated to .NET 6?

[2021-12-07 22:43] fabiocav commented on #370
Apologies for the delay here. Some additional work is required in the host, as this impacts the OOP layer for every language.

We have, unfortunately, not had the ability to prioritize this work compared to the other work happening in the worker, but we're heading into some additional planning with a number of Worker enhancements.

[2021-12-07 22:44] fabiocav commented on #370
@anthonychu flagging this for planning/discussion.

[2021-12-07 22:49] JustinGrote commented on #370
@fabiocav appreciate the update!

[2021-12-07 22:49] fabiocav commented on #729
Closing this as we'll continue to update the other issue.

[2021-12-07 22:49] #729 closed

[2021-12-07 22:52] fabiocav commented on #681
Closing this in favor of https://github.com/Azure/azure-sdk-for-net/issues/21884

[2021-12-07 22:52] #681 closed

[2021-12-07 22:56] fabiocav commented on #734
@alsami that does sound like a separate issue. So to confirm, you don't see this issue when running in Linux, correct?

The information you've shared confirms our suspicion that you're impacted by an issue that is currently being addressed.

Could you add the following app setting to your app to see if that helps?

`COMPLUS_GCHeapHardLimit` = `1610612736`

Thanks!

[2021-12-07 23:01] fabiocav commented on #744
Flagging this for investigation as this has been addressed and validated.

@josh-endries can you please share the versions of the worker SDK and Core Tools you're using? Thanks!

[2021-12-07 23:04] fabiocav commented on #741
We shouldn't have a dependency on either of those components.

Flagging this for investigation, but would it be possible to share the following information to make sure we have a valid repro?

1. The csproj file
2. If you have the ability to share a build log file, we can provide instructions on how to share that privately
3. Any output from your build process in DevOps (ideally, with higher verbo

[2021-12-07 23:08] fabiocav commented on #740
I don't believe this is a discrepancy between the host and worker indexing processes, but instead, one between the metadata generation (at build time) and the dispatching logic.

I don't believe we support non-public methods in the in-proc model, so we need to decide whether we really want to do this for the worker.

[2021-12-07 23:34] cgillum commented on #740
I don't have a strong opinion either way, but if we don't intend to support internal methods as functions, it would be good to have this fail at build time.

[2021-12-08 04:45] alsami commented on #734
That's not completely the case. There are executions being reported, but not fully.

I'll try to do that and get back to you.

I can also tell you that I tried switching back to the in-process model, with linux using event-hubs. Same behavior regarding the execution count - the exception I reported is gone or at least I haven't seen it anymore.

[2021-12-08 08:25] neyaki commented on #734
I have a similar issue with Azure Durable Function executions.  Happy to provide more details when needed.

Azure Runtime version: 4.0.1.16815
Stack: PowerShell Core
Platform: 64-bit

`Trace Properties
Event time	**12/7/2021, 6:00:01.085 PM (Local time)**
Device type	**PC**
Message	**AI (Internal): [FunctionsEventSource] ERROR: Exception in Command Processing for EventSource FunctionsEventSource:

[2021-12-08 14:28] josh-endries commented on #744
Azure Functions Core Tools
    Core Tools Version:       3.0.3568 Commit hash: e30a0ede85fd498199c28ad699ab2548593f759b  (64-bit)
    Function Runtime Version: 3.0.15828.0

    <PackageReference Include="Microsoft.ApplicationInsights" Version="2.19.0" />
    <PackageReference Include="Microsoft.Azure.Functions.Worker.Extensions.Timer" Version="4.1.0" />
    <PackageReference Include="Microsoft.Azu

[2021-12-08 16:04] jp1482 opened #745 "Port configuration from local.settings.json not respected in dotnet-isolated mode"
Software Configuration
- Visual Studio 2022
- .NET 6

Azure Functions Version : 4
Runtime : dotnet-isolated

There is host configuration is local.setting.json

[code]

Now if I run function with httptrigger using F5  of Visual Studio , it is still running on 7071. Also when I remove CORS then it create problem. It means that configuration read but port setting not applied when running. If I run fr

[2021-12-08 16:11] twentytwokhz commented on #675
Related question for @fabiocav
Is it possible to reference the app configuration service settings via the Input Bindings and Triggers?
I tried doing that and expected to have the functions execute correctly - but instead they failed to start with exception

" A host error has occurred during startup operation 'aabc18d9-dc39-4f13-81cd-04388f44269e'.
[2021-12-08T16:09:33.499Z] Microsoft.Azure.WebJob

[2021-12-08 16:15] mnemcik opened #746 "Cannot handle FunctionInputConverterException as being defined as internal"
The `Microsoft.Azure.Functions.Worker.Diagnostics.Exceptions.FunctionInputConverterException` is currently defined as an internal class, which means it cannot be directly used in a catch block and handled in the function application code / error handling in a straightfoward way.

[2021-12-08 20:34] kelps opened #747 "Isolated Process Azure function v4 with .net 6 fails on Azure but works local"
We have a few Azure Functions developed using isolated-process in .net 5 and we are migrating to .net 6.

The migration worked without problems and runs perfectly local, but fails when deployed to azure. We are using Http, ServiceBus and Timer triggers and all fail the same way:

It shows an "Executing" log in the "Log stream", but after a few seconds it fails with "**[Error] Final functionDispatc

[2021-12-08 20:55] twentytwokhz commented on #747
I experienced a similar issue but mine is related to using a Linux App Service Plan for the Azure Function with .NET 6 isolated

[2021-12-08 21:01] kelps commented on #747
Mine is running on Windows, both local and on Azure. The previous version os this function was .net5. The only difference between the 2 are the migration to .net6 and the use of some C# new features.

[2021-12-08 21:04] twentytwokhz commented on #747
Did you check the Log stream (verbose) on your Function App? because at least for me it showed a more revealing error

[2021-12-08 21:44] kelps commented on #747
That's where I got the messages above (the screenshot). The other message I got from Application Insights.

Not relevant at all.

I did it all exactly the same way we did for the .net5 versions. I tried both upgrading the app and also deleting and creating a new one. Same results.

Tomorrow I'll try a simpler version of the app, with no logic, just to see if it works. If not, I'll try downgrading

[2021-12-09 11:17] WestDiscGolf commented on #423
After spending a lot of time trying to get it working with .NET 6 / isolated process Azure Functions I stumbled across this issue 😢

Any updates on when this will be looked at? Thanks

[2021-12-09 13:01] neyaki commented on #734
I had the above added, but that resulted in total Function unavailability.

[2021-12-09 14:54] kelps commented on #747
Today I was able to find the problem. We use UserSecrets in our development to prevent from commiting database passwords and other settings to source control. We have a library in our internal Nuget feed that sets our defaults to Azure Functions at startup, and it add the UserSecrets as a configuration source.

The problem ended up being that something changed with AddUserSecrets. The code that wo

[2021-12-09 18:17] twentytwokhz opened #749 "App setting error when referencing keyvault secret on Function App using Linux Service Plan"
We are unable to set an Application Setting on the Configuration section of a Function App v4 .NET 6 isolated process.
This happens on a Linux App Service Plan.

The setting references a KeyVault secret in the format ```@Microsoft.KeyVault(SecretUri=https://myvaul.vault.azure.net/secrets/MySecret-ConnectionString/)```

This works correctly on a Function App using a Windows App Service Plan.
Both h

[2021-12-10 17:28] fabiocav commented on #746
That type would indeed have to be exposed as part of the converter feature.

@mnemcik can you share more about the flow you have and where you're exposed to that exception? This would typically only be thrown in the invocation middleware/excutor.

@kshyju FYI

[2021-12-10 18:06] mikewop commented on #744
@josh-endries

Could this issue be related: https://github.com/Azure/azure-functions-dotnet-worker/issues/434

TL;DR; Upgrade to Core Tools 3.0.3904

Other options that worked for us:
- Post-Build event to clear Azure Storage emulator
or
- use Azurite instead of Azure Storage Emulator

Note: VS2022 uses Azurite by default

[2021-12-10 22:36] #700 closed

[2021-12-10 22:46] fabiocav commented on #366
Apologies for the lack of movement on this, as this work ended up getting pushed by other tasks. Flagging this for review so we can prioritize this work.

FYI @anthonychu @kshyju

[2021-12-11 00:07] fabiocav opened #756 "Fix metadata loader test references"
The current metadata loader tests have fragile references that end up breaking with every storage revv. We need to address this issue so changes like [these](https://github.com/Azure/azure-functions-dotnet-worker/pull/755/files) are no longer required.

[2021-12-11 01:04] kshyju commented on #181
Hi @chassq 👋

How are you trying to run this? Are you doing `dotnet run` on the FunctionApp.exe? The "_Invalid URI: The hostname could not be parsed_" usually happens when an incorrect debug/run configuration is used which causes `dotnet run` to be executed against the function app exe. See a [similar issue with RIDER IDE](https://github.com/Azure/Azure-Functions/issues/2032#issuecomment-941028418

[2021-12-11 01:28] kshyju commented on #737
@AsierVillanueva Another solution is to explicitly generate the JSON string of your `SendGridMessage` object and return that from the function. You can use Newtonsoft JSON.NET serializer (which is what the `SendGridMessage` type also relies on) to produce the JSON string and return that string from your function. With this approach, the function infrastructure will not create a serialized string a

[2021-12-11 01:40] kshyju commented on #285
This issue was fixed in #582

Could you please try to use the [version 1.6.0](https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker/1.6.0) of worker package? Let us know if you are still seeing any issues.

[2021-12-11 01:44] kshyju commented on #289
Thanks @SeanFeldman ☺️

Closing as answered.

[2021-12-11 01:44] #289 closed

[2021-12-11 01:57] kshyju commented on #637
@rjarrattmsft The null reference exception was fixed in #673. Please upgrade to [worker package 1.6.0](https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker/1.6.0) or above.

Let us know if you are still facing any issues. Thanks for reporting the bug.

[2021-12-11 08:51] chassq commented on #181
I do not think this is an issue for us anymore. We are moving on to dotnet 6.

[2021-12-11 08:51] #181 closed

[2021-12-11 15:44] mnemcik commented on #746
The use case is pretty much a simple one, when using an HTTP Trigger and defining an URL path parameter of a non-string type, e.g. a Guid, when you request such URL with an invalid type (e.g. `abcd` instead of a valid GUID), this exception is being thrown.

[2021-12-13 14:16] michielvoo commented on #741
The builds that produced an invalid artifact were not retained unfortunately. I tried to create a small project to reproduce this, but I cannot reproduce it anymore.

[2021-12-13 14:16] #741 closed

[2021-12-13 15:41] rgrace-puck commented on #727
Is there an update on this?
We're receiving the same error message when attempting to run our .NET 6.0 (v4 function runtime) function app on a Linux consumption plan.

[2021-12-13 16:03] mark-comeau commented on #727
I was able to get things runnings this weekend:
1. Create new a function app, couldn't deploy to existing apps even though all settings seem proper.
2. Update Application Setting FUNCTIONS_WORKER_RUNTIME from `dotnet` to `dotnet-isolated`.
3. Change LinuxFxVersion with `az functionapp config set --name <FUNCTION_APP> --resource-group <RESOURCE_GROUP> --linux-fx-version 'DOTNET-ISOLATED|6.0'`. http

[2021-12-14 01:00] #297 closed

[2021-12-14 08:33] bricenocar opened #758 "Cannot post file larger than 3.9 MB with a multipart/form-data body"
I created a function app and published a httptrigger function using .NET 5. The function app is provisioned via armtemplate and the worker runtime is dotnet-isolated. When we send a POST request with a multipart/form-data including a file larger than 4MB (aprox) the function hangs and a timeout response is received. If I send a 3.9MB file it goes well without any issues and in less than 2 seconds.

[2021-12-14 18:27] fabiocav commented on #281
@brettsam is actively investigating this and has made some progress, but there have been higher priority items taking precedence. We'll continue to use this issue to provide updates as we go

[2021-12-14 22:09] anthonychu commented on #745
Closing as duplicate of https://github.com/Azure/azure-functions-core-tools/issues/823

[2021-12-14 22:09] #745 closed

[2021-12-14 22:24] anthonychu commented on #747
Looks like this was a change in `AddUserSecrets` in .NET. See issue here. https://github.com/dotnet/runtime/issues/61418

@brettsam @gzuber Is it possible to log these exceptions as error and not information. And is there anything that needs to be done for this to be surfaced in the errors API? @soninaren

/cc @liliankasem who is looking into worker initialization errors

[2021-12-14 22:35] anthonychu commented on #758
@kshyju to investigate

@bricenocar can you share more information on how you upgraded the app? Did you switch to .NET 6 and Azure Functions v4?

[2021-12-14 22:40] anthonychu commented on #739
@cgillum Let's set up something in the new year to discuss this and update this thread.

[2021-12-14 22:50] anthonychu commented on #572
This needs some discussion. Potentially can expose a way to access the functions context, including http request where applicable.

[2021-12-15 07:07] rjarrattmsft commented on #637
Thank you, this issue can be closed.

[2021-12-15 10:14] kelps commented on #423
Over the weekend I tried playing with a workaround for this a little. My original idea was "bad" as I intended to replace the logger factory with one that would create the ILogger for insights without flowing through the GRPC channel.

I realized that this is not necessary. What I need to do is add an Insights log provider in the worker process and disable my log sources from going to Insights in

[2021-12-15 11:33] liliankasem commented on #747
Yup I'm currently investigating issues that lead to a work init errors. I think this ties in to my design doc around improved logging, but also is slightly different in the sense that in this instance there was a reason why the worker process crashed.

@kelps do you mind sharing a timestamp, invocation id and region so I can look at the trace logs on our side, this should help me address the loggi

[2021-12-15 11:36] EnenDaveyBoy commented on #572
exposing the functions context would be one option, but it would also mean that my services are then hard coded to Azure functions, and would dilute them with services they don't need.

I can access ILogger without issue using dependency injection, it seems odd I can't access the http request class in a http request, when its clearly been accessable iin other applications like MVC.

[2021-12-15 12:28] neyaki commented on #734
@fabiocav any update?

[2021-12-15 12:29] kelps commented on #747
@liliankasem Sure. I'll search my logs again. How do I share those with you? Is it ok to post that kind of data here?

[2021-12-15 12:47] liliankasem commented on #747
Yup you're good to share that information here, nothing identifiable :)

[2021-12-15 21:53] #637 closed

[2021-12-15 23:12] kelps commented on #747
Sorry for the delay, long meetings today....

timestamp of the first occurrency I found: 2021-12-09T13:26:43.8280758Z
there is no invocation id in the logs for these errors and they are logged as Information, but you can filter cloud_RoleName  == "testesgerais-dev".
the app and insights are running in a resource group in Brazil South. This is an app I'm using to test some concepts.

[2021-12-16 08:08] bricenocar commented on #758
Hello @anthonychu, yes of course. We installed VS 2022, opened the project and updated the project configuration to azure function version to 4 and net6 (The deployment mode is self contained, kindly reminder :)). Then we updated all nuget dependencies to latest versions. In the function app settings in Azure, we set FUNCTIONS_WORKER_RUNTIME to dotnet-isolated and FUNCTIONS_EXTENSION_VERSION to ~4

[2021-12-16 10:04] juanbriceno commented on #423
Well, looks like it is working for us now. We have implemented net6 and function v4 (We were using net5 - v3). We have also added the following code in Program.cs

`.ConfigureLogging((context, builder) =>
{
    builder.AddApplicationInsights(context.Configuration["APPINSIGHTS_INSTRUMENTATIONKEY"]);
}).Build();`

BE SURE to use **"Instrumentation key"** and not the connectionstring. I have tested w

[2021-12-16 10:13] WestDiscGolf commented on #423
@juanbriceno thanks for the update, will give it a go. What extra nuget packages need to be referenced to use the `AddApplicationInsights` extension method? Thanks

[2021-12-16 10:21] juanbriceno commented on #423
Oh! @WestDiscGolf that is a good one. I forgot about the packages :)  We have updated all the packages to the very latest versions.
This is the one for adding appinsights:
-Microsoft.Extensions.Logging.ApplicationInsights (2.19.0)

Let me know how it goes ;)

[2021-12-16 10:35] WestDiscGolf commented on #423
Thanks @juanbriceno! Will give it a go 😄

[2021-12-16 12:21] emilssonn opened #760 "Correct way to use Application Insights in v4 and .Net 6"
From reading different issues, discussions and documentation from the past months, it is still unclear to me how to correctly use/install Application Insights in a .Net isolated function running .Net 6 and v4.

I have tested with the nuget Microsoft.Azure.Functions.Worker.Extensions.ApplicationInsights. The absolute most basic features of application insights works with this nuget. But no dependen

[2021-12-16 13:44] WestDiscGolf commented on #423
If anyone is struggling to get this working, make sure you're on a windows host and not a Linux one. I feel I've lost too many hours because I chose "linux consumption" 😞

[2021-12-16 13:44] onionhammer commented on #285
Will test when I'm back from vacation

[2021-12-17 00:44] kelps commented on #423
Excellent! I'll try that tomorrow. But just fyi, this is in line with the fix I was planning, I just didn't get to the correct way to register it.

In other words, there was nothing fixed on Microsoft side yet. What you did was make  your logs be registered on Insights directly from the worker process, instead of the host process as is the default.

I only suggest you disable Function logs to Insi

[2021-12-17 09:03] juanbriceno commented on #423
Yeah, i think this way should work. I tried by clearing all logging providers first and then adding AddAppInsight line but it removed the console logger. If you check the providers within the builder property, you will see the console provider but i did not see any other. In my head, the built-in appinsight one is not being inyected in this version so it has to be done manually, which i'm fine wit

[2021-12-17 14:07] elsand commented on #760
@emilssonn Microsoft.Azure.Functions.Worker.Extensions.ApplicationInsights seems to be non-working. https://github.com/Azure/azure-functions-applicationinsights-extension/tree/main/src/Worker is literally empty except for a csproj.

I'm not sure quite sure how to parse https://github.com/Azure/app-service-announcements/issues/346#issuecomment-965840479, but it appears that Microsoft.Azure.Function

[2021-12-17 14:59] jerry2007 opened #761 "Out Of Memory"
I have azure function which returning data from Cosmos Db.
When the data is larger than 5MB, azure function call crashed on OutOfMemory Exception.

This happening just in Azure. On localhost it works ok.

I tried streamimg of response, but it is not supported.
[code]
Can you help me?

[2021-12-17 15:03] elsand commented on #760
@emilssonn It appears to work if you follow the steps at https://docs.microsoft.com/en-us/azure/azure-monitor/app/worker-service#using-application-insights-sdk-for-worker-services, that is get the `Microsoft.ApplicationInsights.WorkerService` package and add `services.AddApplicationInsightsTelemetryWorkerService();`  to `ConfigureServices` (`services` being `IServiceCollection`).

[2021-12-17 20:20] kelps commented on #423
As promissed, here is the host.json in my test project. The loglevel block inside applicationInsights is what disables the Function logs from being recorded to Insights from the host process. Since the configuration you showed above will already be sending those logs to Insights from the worker process, in theory we don't loose anything and we actually gain more control. Ignore the extensions part

[2021-12-20 08:14] emilssonn commented on #760
`Microsoft.ApplicationInsights.WorkerService` does indeed seem to work, but not fully. Dependencies are logged, but they are not connected to the requests/other telemetry.

I am 99.9% sure I saw some official documentation about `Microsoft.Azure.Functions.Worker.Extensions.ApplicationInsights` and that it was the official/correct way. But I can no longer find it and the app service announcement mi

[2021-12-20 12:20] WestDiscGolf commented on #423
@kelps No worries, totally understand, just thought I would ask 😄

Hope you have a Happy Christmas 🎄

[2021-12-20 12:48] juanbriceno commented on #423
Hi @WestDiscGolf , maybe a dumb question but i think is good to double check all configurations. It will be net6 and v4 in the azure function project and check also the azure function app configuration:

FUNCTIONS_EXTENSION_VERSION --> ~4
FUNCTIONS_WORKER_RUNTIME --> dotnet-isolated

Also make sure you are passing the APPINSIGHTS_INSTRUMENTATIONKEY instead of connectionstring (double check the val

[2021-12-20 13:01] WestDiscGolf commented on #423
Hi @juanbriceno, no worries about validating 😄

My csproj file is:

[code]

Yes, the output of those variables are when published to a windows consumption plan are:

[code]

And yes, I'm using the `APPINSIGHTS_INSTRUMENTATIONKEY`. Interestingly when I output the values of those environment variables when running the functions app in Visual Studio the version value is not present but the core tools

[2021-12-20 13:18] juanbriceno commented on #423
Looks good. Now when it comes to the code (structured logs) i am doing it this way...

`
 [Function("PostFile")]
 public async Task<HttpResponseData> Run([HttpTrigger(AuthorizationLevel.Anonymous, "post", Route = null)] HttpRequestData req, FunctionContext context)
        {
            var logger = context.GetLogger("PostFile");

 using (logger.BeginScope("Operation {MCOMOperationTrace} processed

[2021-12-20 13:33] WestDiscGolf commented on #423
It's coming through fine but still getting double entries from both the function and the logger (if that makes sense) which @kelps's solution tries to get rid of but unfortunately I can't get to work. I also can't get it to log anything other than Critical, Error, Information or Warning locally so any debug level items get missed (locally and in AppInsights). Might have to call it a day and stick

[2021-12-20 14:29] vvopenka commented on #761
Here is a code which fails locally as well, writing directly to Body of a response.

Here is a code which fails locally as well:
[code]

[2021-12-20 14:36] kelps commented on #423
Ok, I was just able to test this and the structured logs did get recorded, but with some "missing" information and as you mentioned, my attempt at fixing the duplicated log to insights didn't work.

Also, as far as I can tell, the minimum log level can only be set in code. If you call SetMinimumLevel(Trace) in your program.cs, it will log traces and debugs, but when you do that, it ignores the set

[2021-12-20 17:12] KonKri opened #762 "Updating Microsoft.Azure.Functions.Worker.Extensions.Storage to 5.0.0 breaks BlobInputAttribute"
Upgrading in my .NET 6 isolated function app, the Microsoft.Azure.Functions.Worker.Extensions.Storage package to 5.0.0 from 4.0.4 breaks the Blob Input Binding in my function:
[code]
[code]

and the VS 2022 freezes till I close the console window.

[2021-12-20 21:38] fabiocav commented on #708
Closing as done.

[2021-12-20 21:38] #708 closed

[2021-12-20 22:29] #707 closed

[2021-12-20 22:46] craigomatic opened #764 "Handling wildcard CORS in HttpTrigger function?"
I'm building a SaaS solution that uses Azure Functions to host the APIs via HttpTriggers.

For the most part this has worked well, however it seems not possible to support wildcard domains in the Azure portal (see https://github.com/Azure/azure-functions-host/issues/3948), and very annoying to programmatically add them in via the resource manager APIs, so I decided to try the middleware APIs to re

[2021-12-21 09:04] vincentbitter commented on #404
Is there any possibility TableOutput and TableInput are going to be supported again in the future? If not, we have to change all our functions like @longtimedeveloper proposed.

Why was it even dropped? The whole idea of Functions is to only focus on business logic and outsource the data retrieval/storage stuff as much as possible, right?

[2021-12-21 21:26] onionhammer commented on #285
Confirmed this is working now

[2021-12-21 21:26] #285 closed

[2021-12-22 08:52] BenjaBobs commented on #735
This seems related to #274 .

[2021-12-24 06:38] kelps commented on #602
Anything on this?

It seems we can't control a lot regarding logs.

- no support for structured logs in isolated mode
- no control over log levels (seems to be fixed at Information)
- no configurable control of log providers (we can't prevent some logs going to a specific provider, for example)
- structured logs in process add a prefix to the custom properties defined

This just to list a few....

[2021-12-27 13:19] hkusulja commented on #734
I also have the same issue, workaround helps. Any update for fixing the issue permanently?

[2021-12-27 14:19] ablyler commented on #734
I think this is related to https://github.com/Azure/azure-functions-host/issues/7881. Setting the app setting `COMPLUS_GCHeapHardLimit` to `0x60000000` fixed the issue for us.

[2021-12-30 08:45] AsierVillanueva commented on #737
Same problem with `ContentId` property of attachments

[2021-12-31 11:37] sanjaydebnath commented on #727
Any update @kshyju ?

[2022-01-03 14:27] aistvan commented on #459
@fabiocav  5 months. Any news?

[2022-01-03 19:11] liliankasem commented on #747
Found the invocation ID and updated your comment to remove the app name (region, invocation id and time is fine, but defo don't want to post app name 😄). I'll find time to look into this this week!

[2022-01-04 00:09] liliankasem commented on #747
Poke on this @soninaren, @brettsam @gzuber

[2022-01-04 09:27] sonic1981 commented on #692
We also have this issue. to elaborate on our use case we use a third party vulnerability scanning tool. It builds the sln but it does not have access to our company wide nuget feed. So I have to restore then send the whole solution to this tool to build

[2022-01-04 11:47] eKipod commented on #565
Hitting this now as well...
Any solutions / work arounds?

[2022-01-04 11:54] baki32 commented on #565
.Net 6 v4 functios do support in-proc again so just upgrade and don't use isolated. Unfortunatelly this seems to be way not Production ready and support is unfortunatelly very delayed.

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Avi Dgany ***@***.***>
Sent: Tuesday, January 4, 2022 12:47:16 PM
To: Azure/azure-functions-dotnet-worker ***@***.***>
Cc: baki3

[2022-01-04 12:00] eKipod commented on #565
:/ Unfortunately net6 in-proc functions don't support net6 DI,  so we started going down the isolated path..

[2022-01-04 12:08] baki32 commented on #565
We are working that around, until it is supported, with AutoFac.

[code]

[code]

Then in every function we just use the static method to ensure that container is built and resolving dependenciues usig Container.GetInstance

It is not perfect but it kind of does the trick... Still better than no telemetry logs 😂

[2022-01-04 16:16] andersson09 commented on #281
In the meantime does this help?

[code]

[2022-01-04 17:59] kshyju commented on #762
Hi @KonKri What trigger are you using for the function? Could you share the full function signature you are using?

[2022-01-04 18:32] fabiocav commented on #737
Based on the investigation done by @kshyju, a custom converter for this extension would be appropriate. Leaving this issue open to track that work and follow up on the SendGrid repo to see if they can also make enhancements to support System.Text.Json

[2022-01-04 18:35] fabiocav commented on #737
Link to the issue they're using to track the move to STJ: https://github.com/sendgrid/sendgrid-csharp/issues/985

[2022-01-04 18:38] fabiocav commented on #760
Leaving this assigned to @brettsam as he is driving the logging enhancements activities.

[2022-01-04 18:47] fabiocav commented on #762
Can you also share more information about how you have your connection string setup for your app?

[2022-01-04 18:49] fabiocav commented on #762
The exception above is also about the secret provider, which is not directly related to the extension. Have you validated that downgrading the extension reference fixes the problem when running on the same function app? Thanks!

[2022-01-04 18:51] fabiocav commented on #764
This is not really supported today. The portal/ARM configuration are the only supported options at the moment.

Thanks!

[2022-01-04 18:51] #764 closed

[2022-01-04 18:57] fabiocav commented on #734
@neyaki / @alsami  can you confirm whether setting the value in hex (`0x60000000`) as recommended by @ablyler above helps?

[2022-01-04 18:59] #566 closed

[2022-01-05 06:57] alsami commented on #734
@fabiocav I've switched to linux and old model (in-process) again because the functions are business critical.

Hopefully @neyaki can shed some light on this.

[2022-01-05 10:30] vincentbitter opened #765 "HttpResponseData as InvocationResult is serialized"
In .NET 5/Azure Functions V3, we created middleware that sets the InvocationResult value of the IFunctionBindingFeature implementation to a HttpResponseData object:

[code]

We used this middleware to check if the user was authenticated/authorized. Since the upgrade to .NET 6/Azure Functions V4, this implementation is broken, because it now serializes the complete HttpResponseData object as JSON a

[2022-01-05 11:25] olehgerus commented on #727
@fabiocav @kshyju What is the current status of the images? I still have the same issue as @sanjaydebnath running docker-compose.yml for linux (.NET 6, Isolated Azure Functions v4)

[2022-01-05 13:43] neyaki commented on #734
I've made the setting, so far so good (whereas previously it borked the app straight away).  I will monitor it for a week, if that's alright.

[2022-01-05 16:35] WestDiscGolf opened #766 "Question: What does the extension name mean in AssemblyInfo?"
I have been working through an issue I have been experiencing with the Cosmos DB change feed trigger functionality in .NET 6 isolated Azure Function.

I couldn't work out why I was getting errors which referred to "*.Webjob.*" namespaces. I ended up adding a new stand alone project into this repo source code locally, referencing the Worker.Extensions.CosmosDB project and trying to get it to work.

[2022-01-05 16:57] tlduong commented on #727
I'm also running into similar problem: @fabiocav @kshyju can we get the new image?

[2022-01-05 18:15] cgillum opened #767 "Durable Functions support in .NET Isolated worker"
This issue tracks adding an extension to support Durable Function triggers.

Related: https://github.com/Azure/azure-functions-dotnet-worker/issues/739

EDIT: Instructions for getting started with the public preview can be found here: https://github.com/microsoft/durabletask-dotnet#usage-with-azure-functions

[2022-01-05 21:22] fabiocav commented on #677
Work on this is still in progress. Validation taking place in the host and other components.

[2022-01-05 21:28] fabiocav commented on #543
The host changes have now been merged. We'll keep this open to track the worker changes, which will come after a host release.

[2022-01-06 11:57] dfibuch opened #768 "Release notes for 5.0.0"
Is there a plan to provide release notes for what changed in 5.0.0? Currently on 4.0.4 and seeing as its major version change I'm expecting there to be breaking changes?

[2022-01-06 14:17] WestDiscGolf opened #769 "Release schedule for Microsoft.Azure.Functions.Worker.Extensions.CosmosDB?"
Currently the cosmosdb trigger for change feed only works with the version 4.0.0-preview2 nuget package.

What is the schedule to release a GA version of the 4.x package for .NET 6 Isolated processing model?

Cheers

[2022-01-06 19:06] sc-cpais opened #770 "The framework 'Microsoft.AspNetCore.App', version '6.0.0' (x64) was not found"
We are having an issue after migrating a function app from V3 .net5 isolated-process to V4 .net6 isolated process.
It runs well locally (windows machine) but not in Azure (Linux app service).

here is the logs:

2022-01-06T18:27:16.740Z INFO  - Pulling image from Docker hub: mcr.microsoft.com/azure-functions/dotnet-isolated:4-dotnet-isolated6.0-appservice-stage6
2022-01-06T18:27:17.006Z INFO  - 4-

[2022-01-07 12:01] sc-cpais commented on #727
I have the same issue but in the Azure function app.
Any update?

Logs:
2022-01-07T11:56:56.343 [Information] Loading functions metadata
2022-01-07T11:56:56.613 [Information] 5 functions loaded
2022-01-07T11:56:56.674 [Information] Generating 5 job function(s)
2022-01-07T11:56:56.876 [Information] It was not possible to find any compatible framework version
2022-01-07T11:56:56.877 [Information] Th

[2022-01-07 18:42] sanjaydebnath commented on #727
@fabiocav can we please reopen this until actually fixed, answered but not fixed yet.

[2022-01-08 19:40] michaeldaw opened #771 "Signalr Extensions using Class-based model is not currently supported"
Worker.Extensions.SignalRService does not currently contains classes required to develop Functions using the [Class based model](https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-concept-serverless-development-config#class-based-model).
eg:
 - ServerlessHub
 - InvocationContext
 - SignalRConnectionInfo

Are there plans to support the Class Based Model when using Worker.Extensions.Signal

[2022-01-08 22:32] stap123 commented on #768
There's at least one, the `[TableOutput]` attribute is gone but no release notes to let us know why.

[2022-01-08 22:47] stap123 commented on #404
@brettsam Is there anywhere that the removal of these attributes was announced with reasons why?

I can't find anything anywhere warning of the removal or release notes for the new version. It's not a great experience for users, any idea what's going on?

[2022-01-10 02:34] kshyju commented on #761
@jerry2007 Just to confirm, are you sure that it works when the data size is smaller, and you use `IAsyncEnumerable<T>` as the return type? Are you getting a collection of `Requirement`s when executing this function?

[2022-01-10 09:23] shrohilla opened #772 "function not being started on net6 & v4 functions"
I created a function with Kafka trigger and I started facing the issue on Visual Studio :-
This exception was originally thrown at this call stack:
System.Uri.CreateThis(string, bool, System.UriKind, System.UriCreationOptions)
System.Uri.Uri(string)
Grpc.Net.Client.GrpcChannel.ForAddress(string, Grpc.Net.Client.GrpcChannelOptions)
Microsoft.Extensions.DependencyInjection.GrpcServiceCollectionExten

[2022-01-10 09:39] jerry2007 commented on #761
@kshyju nope...
`IAsyncEnumerable<T>` is not supported completly

But when the data is bigger then 5MB, deployed in Azure and return type is `IEnumerable<T>`, it crash on Out Of Memory Exception.

[2022-01-10 13:11] iAmVico commented on #747
I have a similar problem, but I don't use `User Secres`

Migrated from .net 5 functionapp v3 to .net 6 functionapp v4.

Works local, not remote on Azure (both Windows).

The message I get from the logs:
"2022-01-10T12:57:24.680 [Error] Failed to start a new language worker for runtime: dotnet-isolated.System.TimeoutException : The operation has timed out.at System.Runtime.ExceptionServices.Excepti

[2022-01-10 16:48] kshyju opened #773 "Add support for using IAsyncEnumerable<T> as the return type of functions"
Add support for using `IAsyncEnumerable<T>` as the return type of functions. Currently this is not supported.

Example usage

[code]

[2022-01-10 16:52] kshyju commented on #761
@jerry2007 Thank for confirming. Yes. Async stream support is not available today. [This issue](https://github.com/Azure/azure-functions-dotnet-worker/issues/773) will be tracking the progress of that work. We will track the OOM issue here with `IEnumerable<T>` type. May I ask you to update the original code snippet to use `IEnumerable<T>` to keep the context of this issue clean?

[2022-01-10 18:31] fabiocav commented on #772
@shrohilla how are you running the worker? The exception above indicates a failure parsing the host endpoint, which is automatically passed in by the host when running.

[2022-01-10 18:45] fabiocav commented on #772
@shrohilla looking at the project in the repo, looks like the project was modified and is missing the SDK reference (that is currently commented out) and using an older version of the worker.

Can you please update to the following?

[code]

[2022-01-10 18:57] kshyju commented on #772
Without the Worker.Sdk package reference, VS will not recognize the project as a function app (See the below screenshot, function app icon missing). So, the command VS issues for your debug session may not be correct.

![image](https://user-images.githubusercontent.com/144469/148822325-1e9d2fcd-98dc-456c-a28a-ca8429634d0a.png)

Once you add a reference to `Microsoft.Azure.Functions.Worker.Sdk`, it

[2022-01-10 19:24] kshyju commented on #727
@sanjaydebnath Sorry! Deployment took more time than originally anticipated. Deployment is currently in progress. I will share an update here when it is completed. Thank you for your patience.

[2022-01-10 19:26] kshyju commented on #770
Same as #727 . The fix is being deployed this week. I will share an update when it is done. Thank you!

[2022-01-10 23:04] fabiocav commented on #772
Closing this as I got confirmation from @shrohilla that this was resolved.

[2022-01-10 23:04] #772 closed

[2022-01-11 00:16] kshyju commented on #761
@vvopenka Thanks! I tried your repro code. I am not getting any `OutOfMemoryException`. I get the "**_System.IO.IOException: Stream was too long_**" on the `await JsonSerializer.SerializeAsync` line which is inside your function. Here is the top portion of the stack trace I am seeing. Were you getting the same exception or something different?

[2022-01-10T22:25:41.145Z]    at System.IO.MemoryStre

[2022-01-11 02:55] shrohilla commented on #772
Thanks alot @fabiocav this is resolved.

[2022-01-11 06:35] cajuncoding commented on #770
Great, thanks for following up with details here.

I encountered something similar as I’m also actively migrating my client to Az Func v4, with .Net 6.0 but using in-process (currently).  And the GitHub action build targets I added for .Net 6 failed using Ubuntu Linux with similar errors.  The solution for me was to force a setup of .Net Core SDK 6 using other GitHub action steps…

While different

[2022-01-11 09:13] WestDiscGolf commented on #501
I'm coming up against the same issues @lohithgn experienced with the mocking of all the requirements and setting up the service provider etc. Is there an update on when the official testing strategy will be released? Thanks.

@lohithgn Are your test doubles in a public repo anywhere? Thanks

[2022-01-11 09:16] lohithgn commented on #501
@WestDiscGolf nope. I did it for a project of ours. I will see if I can create a repo with what I have and post it here.... Thanks.

[2022-01-11 09:20] lohithgn commented on #501
@WestDiscGolf did you check this...

https://github.com/Azure/azure-functions-dotnet-worker/issues/281#issuecomment-1004945439

[2022-01-11 09:26] WestDiscGolf commented on #501
@lohithgn Thanks for replying. I did see the other issue but I think with that and the setting up test doubles my project has got in a bit of a mess 😢 Using that method I got to the service provider setup and thought the test double way *may be* easier. Think I will have to delete and start again 😆 Thanks again for replying!

[2022-01-11 21:51] anthonychu commented on #404
Tables was initially missing in the v5 extension. It's being added here: https://github.com/Azure/azure-sdk-for-net/issues/25342

Once the preview is on NuGet, we can ship a corresponding worker package.

[2022-01-11 22:00] #762 closed

[2022-01-11 22:17] fabiocav commented on #765
@vincentbitter have you had a chance to validate .NET 5 against V4? Trying to understand if this is something related to the host or the .NET version after the bump.

We'll take a look at this, but if you have the information above, it might help speed the investigation up a bit.

Thanks!

[2022-01-11 22:19] fabiocav commented on #766
@WestDiscGolf the extension there is the reference to the underlying binding extension that will be loaded by the host when the referenced extension is used by the Worker. Those are still WebJobs extensions (the same set of extensions used in the in-proc model), so that is correct.

Let us know if this helps or if you need more information. Thanks!

[2022-01-11 22:19] #766 closed

[2022-01-11 22:22] fabiocav commented on #768
@dfibuch the relevant release notes are available [here](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/CHANGELOG.md), and the extension here is primarily a view of what is provided by the underlying extension, but we'll make sure we bring those notes to the releases here as well.

[2022-01-11 22:25] fabiocav commented on #769
@WestDiscGolf I'm assigning this to the current sprint so we can get this out ASAP. Apologies for the delay.

[2022-01-11 22:27] fabiocav commented on #771
@Y-Sindo have you had a chance to look at this? Some of them should be very simple to bring in.

[2022-01-11 22:30] fabiocav commented on #773
Right now, because of limitations with the OOP layer, support for this wouldn't provide the expected benefits, so adding that support now would lead to confusion.

Let's leave this open and discuss the required host enhancements to support this.

[2022-01-12 08:26] WestDiscGolf commented on #766
@fabiocav Thanks for the update. Appreciate you taking the time to reply.

[2022-01-12 08:53] dfibuch commented on #768
Perfect, thank you for that. Closing issue.

[2022-01-12 08:53] #768 closed

[2022-01-12 10:19] vvopenka commented on #761
@kshyju Sorry, OutOfMemory exception is thrown when you deploy the function to Azure Function. The stack trace there looks like this:

 ---> System.OutOfMemoryException: Exception of type 'System.OutOfMemoryException' was thrown.
   at System.IO.MemoryStream.set_Capacity(Int32 value)
   at System.IO.MemoryStream.EnsureCapacity(Int32 value)
   at System.IO.MemoryStream.Write(Byte[] buffer, Int32 of

[2022-01-12 11:29] Y-Sindo commented on #771
I will add a PR to provide some convenient classes such as `SignalRConnectionInfo`, `SignalRInvocationContext` soon.

About the serverless hub in isolated-process model, we do have a plan to support it, but we still have some problems to overcome.

[2022-01-12 11:32] vincentbitter commented on #765
@fabiocav Tried to reproduce this in a Proof of Concept, but the problem is slightly different than I thought and has nothing to do with the upgrade of .NET and Azure Functions.

The problem is actually in the response type of the function.

If the response type is HttpResponseData, it works fine:
[code]

But if the response type is a custom one, it doesn't work:
[code]

Any thoughts on how to sol

[2022-01-12 13:19] jerry2007 commented on #761
Here is Minimal project...
[InboxMin.zip](https://github.com/Azure/azure-functions-dotnet-worker/files/7854809/InboxMin.zip)

When this project is deployed to azure (consuption mode) you can try these requests:

https://solitea-inbox-staging.azurewebsites.net/api/Sample1?maxlevel=5&itemscount=4 - OK
https://solitea-inbox-staging.azurewebsites.net/api/Sample1?maxlevel=5&itemscount=5 - Out Of Memory

[2022-01-12 13:20] vincentbitter commented on #765
I've added a workaround to https://github.com/vincentbitter/poc-functions-middleware

[code]

[2022-01-12 14:49] Y-Sindo commented on #771
@fabiocav I have added a PR to address the issue, please take a look at it.

[2022-01-12 14:58] Y-Sindo commented on #347
I have created a PR #774 to provide some convenient POJOs for SignalR extensions, hoping that the development experience will be more friendly with that.

As for the `RemoveAll` issue, it is a bug already fixed in the in-process model, but it is not applied to isolated-process model yet. The next release of SignalR extensions for isolated-process will fix this issue.

[2022-01-12 17:41] kshyju commented on #761
@jerry2007 Thanks for sharing the repro. When you use `?maxlevel=10&itemscount=10` for the request, you are building a very huge object graph with your code. You will be able to observe this in the diagnostics tools window in VS when you locally debug this code.

![image](https://user-images.githubusercontent.com/144469/149192006-4afd20ee-dd5b-457c-ac9b-62a0755a3405.png)

The consumption hosting p

[2022-01-12 21:14] fabiocav commented on #771
Fantastic! Thanks @Y-Sindo. We'll review that ASAP.

FYI @anthonychu

[2022-01-12 21:17] michaeldaw commented on #771
Sorry to interrupt the discussion. Just wanted to say thanks for the response.

[2022-01-12 21:18] fabiocav commented on #765
Thank you for the update @vincentbitter. A workaround for this would be fine for now as we're actively working on the model we have planned to expose binding/result management APIs that can be used from middleware and other components.

Closing this as I don't believe any additional action is required, but let us know if you have any additional questions.

[2022-01-12 21:18] #765 closed

[2022-01-13 02:47] frourke commented on #530
When your function has multiple outputs you also need to add the HttpResponseData to the OutputBindingData dictionary to get the correct http response in your client.
Without this I was receiving a 200 OK with the error HttpResponseData serialized in the body.
`

        internal static void InvokeResult(FunctionContext context, HttpResponseData response)
        {
            var keyValuePair = c

[2022-01-13 16:19] jerry2007 commented on #761
Ok, I realized that my repro is not the best for my situation.
But it is complicated to create repro with my use case...

The usecase is that I have Azure function, which getting data from cosmosDb.
When I run it locally it is ok, return 200 and data. memory consuption in diagnotic tools window is on 668MB.
When I deploy this code to azure and try same request it crash on Out Of Memory Exception:

[2022-01-13 17:58] jsquire opened #775 "What does "for the current environment" mean"
# Issue Transfer

This issue has been transferred from the Azure SDK for .NET repository, [#26331](https://github.com/Azure/azure-sdk-for-net/issues/26331).

### Please be aware that @boylec is the author of the original issue and include them for any questions or replies.

## Details

This method creates a cookie with properties that have no setters.

The comment about CreateNew says it creates a

[2022-01-14 01:24] kshyju commented on #761
Is your production data different (larger object graph) than the one you are using for local development? What is the memory usage you are observing on production where you are getting this OOM exception? Can you try deploying a different hosting plan and see that help with the consumption plan limits?

Without a local repro, it is hard to point out what is causing it. But in general, OOM exceptio

[2022-01-14 05:22] ranouf opened #779 "TimeTrigger Exception "Could not create BlobContainerClient for ScheduleMonitor.""
Hi,

When I run my azure function with TimeTrigger I have this error:
**Microsoft.Azure.WebJobs.Extensions.Timers.Storage: Could not create BlobContainerClient for ScheduleMonitor.**

I use a host builder:
[code]

and here is the function:
[code]

csproj:

[code]

local.settings.json:

What did I miss?

[2022-01-14 05:37] kshyju commented on #758
Interim update: .net 5(on isolated worker) and v4(host) works fine.

[2022-01-14 11:25] RomanAlberdaSoftserveInc commented on #770
Any updates on this issue?

[2022-01-15 17:13] twentytwokhz commented on #418
Any updates on this? It's been more than 4 months now

[2022-01-15 18:00] jerry2007 commented on #761
Production data is same, in fact, i am trying to get only production data in same CosmosDb
But when I trying your advices I founded out, that new Azure function service works but my old one not...

When I create new Azure Function Service in Consuption mode in Azure and deploy same code it works.
But on Azure function Service, which was crated 1 year ago, same code not work and raising Out Of Memo

[2022-01-15 18:30] andersson09 opened #776 "WriteAsJsonAsync and HttpStatusCode=200"
The HttpResponseData WriteAsJsonAsync extension should not be overriding an existing status code that has been set to 200. This is not intuitive at all. Can also see from the comment

        // Summary:
        //     Write the specified value as JSON to the response body using the provided Azure.Core.Serialization.ObjectSerializer.
        //     The response content-type will be set to

[2022-01-16 16:27] Ungerfall opened #777 "Function with slash "/" in the name is not working on Azure"
I have multiple HTTP triggered with Route functions in a single C# class:
[code]

Locally works fine, but on Azure I'm getting 404 error.

Changing a name fixes the problem. For example, from `"GET /api/modules"` to `"GET modules"`

[2022-01-17 02:41] kshyju commented on #761
@jerry2007 Can you double check your old function app uses same settings (isolated version, function runtime version, hosting type etc.) as the new one?

[2022-01-17 09:08] neyaki commented on #734
Hey everyone (@alsami and @fabiocav)

Since the implementation of the config setting, there were no more Out of Memory errors 👍

[2022-01-17 16:55] jerry2007 commented on #761
I did that check and I maybe found that problem...
It looks like 64/32bit problem...
On old one service I had 64bit version on the new one 32bit. After set old one to 64bit it started work.
And one more problem was deployed as Self-Contained. When I deployd app as Self-Contained even on 32bit version it crashed also on OOM. After deploying as Framewokr-dependent it works.

So thank you for help an

[2022-01-17 16:55] #761 closed

[2022-01-18 11:51] hkusulja commented on #734
so, what is permanent resolution ?

[2022-01-18 16:44] vincentbitter commented on #404
Hi @anthonychu,

It seems the previes is on NuGet:

https://github.com/Azure/azure-sdk-for-net/issues/25342#issuecomment-1013301396

[2022-01-18 16:50] hkusulja opened #778 "Microsoft.NET.Sdk.Web in Azure Functions Worker"
Hello,
I am starting a new project which needs to run for a longer period, so I am trying to use the latest technology currently available.
Project requires having the HTTP REST API. As I see this means: C# 10, .NET 6 and Azure Functions runtime v4
As per Azure Functions roadmap I will start with isolated proces (out of process) and this NuGet for Azure Worker.

However, I am confused comparing do

[2022-01-18 16:51] hkusulja commented on #778
Maybe, I am totally misunderstanding, so please clarify the proper use and reason why is that. Thank you

[2022-01-18 17:14] kshyju commented on #776
Thanks @andersson09 for reporting the issue.

Same as #344

Quoting Fabio's [response on the fix](https://github.com/Azure/azure-functions-dotnet-worker/pull/507#issuecomment-866114355) for 344.

So, currently the fix is available as an overload of `WriteAsJsonAsync` method where you can explicitly pass the status code.

[code]
 We will consider bringing in the fix(breaking change) in the 2.X rele

[2022-01-18 17:24] jblanchet commented on #736
Any idea when this will be addressed? Or is there another way to implement batching with event grid triggered functions that works around this?

[2022-01-19 00:40] kshyju commented on #777
Hi @Ungerfall What request URL were you getting 404 for? The code you shared above looks fine. I tried your code both locally and azure (deployed to windows consumption plan) and it works fine (I did not get 404 for the GET and POST endpoint). Also, what change fixed your problem?

[2022-01-19 10:03] heinrich-ulbricht commented on #573
It took me multiple hours of tinkering to realize that whatever I configure in `host.json` and however compliant I am with the [documentation](https://docs.microsoft.com/en-us/azure/azure-functions/configure-monitoring?tabs=v2#configure-log-levels) - **it just does not work**.

No log level below Information is ever showing up in the Streaming Logs (nor on my local machine). There is always a mini

[2022-01-19 16:04] sonic1981 opened #782 "Please improve access the ApplicationSettings in out of proc azure functions."
#### What problem would the feature you're requesting solve? Please describe.
I need to be able to access some values that another service are adding to `ApplicationSettings` on an Azure Service Bus. There is no simple way to do this in an out of proc service. I have (after much digging discovered the following code will allow me to access this information:

[code]
[See my SO question](https://sta

[2022-01-19 18:26] ranouf commented on #779
If I remove the appsettings.json and appsetting.Development.json files, the issue is gone, but I would like to use them, it's easier to copy paste settings from other projects to azure functions.

[2022-01-19 18:37] ranouf commented on #760
Hi, so finally what happened with Application Insights for Azure Function V4 and .net 6?

[2022-01-19 20:22] SeanFeldman commented on #760
I'm facing a migration but hesitant until know this issue is resolved.
Looking forward to @brettsam's follow-up comments.

[2022-01-20 02:01] kshyju commented on #758
@bricenocar Were you seeing this issue locally as well? If so, could you share a minimal repo? A link to a GH repo would be great.

I was able to verify that it works fine for .net5 + v3 host (3.3.1)

[2022-01-20 08:17] Ungerfall commented on #777
Hello @kshyju I just checked with `AuthorizationLevel.Anonymous` and it works. However, using `AuthorizationLevel.Function` is unable to retrieve the function key. In the Azure portal it is constantly loading and `func azure functionapp publish` or `func azure functionapp list-functions --show-keys` returns URL without code so it gets 401 eventually

[2022-01-20 19:47] kshyju commented on #737
@AsierVillanueva Another solution is to write some custom System.Text.Json JsonConverter implementations and hook it up with the function application during bootstrapping. S.T.J serializer will use these converters to customize the serialization result and you should be able to generate a JSON String which is similar to the JSON string produced by JSON.NET.

[Here is a minimal working sample ](htt

[2022-01-20 19:47] #737 closed

[2022-01-20 20:42] WinInsider opened #785 "ILogger.LogError produces empty line in "monitor" panel"
The "Exception" argument of ILogger.LogError(...) method produces empty line in "monitor" panel in Azure Portal, instead printing out exception stack trace.

[Example](https://user-images.githubusercontent.com/12048821/113405933-4b7f6000-93b3-11eb-9916-fdccf13ea50d.png)

[2022-01-20 21:08] fabiocav commented on #543
Still pending a host release. Flagging as blocked and adding to project for review.

[2022-01-20 21:10] fabiocav commented on #530
@frourke indeed. Those are the kinds of things we want to abstract away and make we have simple APIs that will do the right thing for you.

[2022-01-20 21:14] fabiocav commented on #770
@VpOfEngineering would you mind please providing updates here as we move forward with the deployment? Thanks!

[2022-01-20 21:23] WestDiscGolf commented on #778
@hkusulja if I've understood your question properly what you're asking isn't currently the way it works AFAIK. If you do file>new in visual studio or create a new function app using the cli to create an isolated az func project you'll have access to a host builder in the program.cs. As for the httptrigger functions as they are now out of process you don't use aspnet core mvc style HttpRequest and

[2022-01-20 21:24] fabiocav commented on #702
This is being discussed in the context of logging improvements. Will continue to move this forward until we have the broader logging issue details.

[2022-01-20 21:24] fabiocav commented on #702
FYI @brettsam @kshyju

[2022-01-20 21:25] fabiocav commented on #677
PR still in progress.

[2022-01-21 06:49] hkusulja commented on #778
@WestDiscGolf
Thank you for your comment.
Indeed, in a new project (VS Code + dotnet new cli), I do have HostBuilder for Azure Functions isolated.

I understand that those are two separate technologies, but I am trying to move from Azure App Service Web Sites, to Azure
Functions, while still working with ASP.NET code and style.
So it is possible to "connect"/bind those two - Azure Functions (isola

[2022-01-21 09:09] WestDiscGolf commented on #778
@hkusulja No there isn't. The in process az functions used the ASP.NET Core nomenclature with the HttpTrigger to return IActionResult type constructs but these are not available in the out of process/isolated model.

What I would suggest is that you move over an action at a time into your new az func project, register the service layer/domain layer dependencies as required and create a new HttpTri

[2022-01-21 10:54] hkusulja commented on #778
Yeah, I understand those links and information mostly.
The thing is that we are doing isolated, since it is a future, but still writing and having API applications.
We do need lot things, like copying appsettings.json etc. etc., so we have to manually write those (which are automatic by SDK.Web project type)

[2022-01-23 07:22] lohithgn commented on #501
@WestDiscGolf  I put together a small repo with test doubles. You can check it out here:  https://github.com/lohithgn/az-fx-isolated-unittest.

Hope this helps.

[2022-01-23 07:25] lohithgn commented on #281
Those who are searching for options - here is one more. I have created Test Doubles for the required classes to get Unit Testing working for a Isolated Process model function app. Here is the repo - https://github.com/lohithgn/az-fx-isolated-unittest.

Hope this helps.

[2022-01-24 10:41] WestDiscGolf commented on #501
@lohithgn thanks for sharing, will take a look!

[2022-01-24 16:38] feverline commented on #760
+1 on this.  I'm facing similar issues with dependency telemetry in dotnet-isolated in functions v4, .net 6.

[2022-01-24 20:45] brettsam commented on #549
We don't want the worker to be tied to any one logging solution so I don't think we'll ever do this directly in the host. Ideally, supporting something like [`AddApplicationInsightsTelemetryWorkerService()`](https://docs.microsoft.com/en-us/azure/azure-monitor/app/worker-service#using-application-insights-sdk-for-worker-services). This may "just work" well enough today -- we'll need to look throug

[2022-01-24 20:55] brandonh-msft commented on #549
Totally fair as I know the ability to plumb in _other_ logging/telemetry solutions has been an ask for a while.
That said, though, if this won't be supported we need to make sure our docs are steering people this way, so updates are needed there at a minimum.

[2022-01-24 21:01] brettsam commented on #760
`Microsoft.Azure.Functions.Worker.Extensions.ApplicationInsights` is deprecated now and we should hide it in nuget. I will follow up on that.

In short -- we abandoned that approach due to startup performance and I don't believe it would have given you everything you were looking for here anyway.

When you enable Application Insights from the portal (or add the `APPLICATIONINSIGHTS_CONNECTION_STRI

[2022-01-24 22:01] brettsam commented on #602
I just did some testing on this and things seemed to be filtered as expected.

@dev-jla -- I know this issue is from a while back, but do you know exactly how you were logging? Were you using `ILogger` or using `TelemetryClient` directly?

@kelps -- maybe you have a sample?

For reference, I wrote a function like this and tried adjusting my host.json, then checking in App Insights:

[code]

[2022-01-24 22:12] dev-jla commented on #602
@brettsam I was using ILogger

[2022-01-25 00:02] kshyju commented on #777
You can get the keys from azure portal and use that when invoking the function. See various ways to get keys here: [Obtaining keys
](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook-trigger?tabs=csharp#obtaining-keys)

Could you point me to the documentation you are following, which suggests you that you will get the keys with the 2 approaches you tried. There

[2022-01-25 02:27] mattchenderson opened #787 "We need a worker SDK extension package for Tables"
Tables were removed from Microsoft.Azure.Functions.Worker.Extensions.Storage v5. This mirrors the removal from Microsoft.Azure.WebJobs.Extensions.Storage.

The table binding extensions are now in a new package: https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.Tables/

The SDK needs to mirror this as well.

[2022-01-25 15:32] ayayalar commented on #281
For those of you using Moq, framework, only difference of what @andersson09  suggested is the following changes. Otherwise `Body` is always reinitialized and status code always returns 0.

[code]

[2022-01-25 18:48] eminencegrs commented on #747
Hello folks,

Is there any update?

I have faced a similar issue. The exception was logged. Here is it:
| property  | Value |
| -- | -- |
| problemId | System.InvalidOperationException at Microsoft.Azure.WebJobs.Script.Workers.Rpc.RpcFunctionInvocationDispatcherLoadBalancer.GetLanguageWorkerChannel |
| type      | System.InvalidOperationException |
| assembly  | Microsoft.Azure.WebJobs.Script, Ver

[2022-01-25 22:08] anthonychu commented on #787
Dupe of #404

[2022-01-25 22:08] #787 closed

[2022-01-25 22:10] brettsam commented on #785
@WinInsider -- can you share exactly which overload you're using here?

[2022-01-25 22:15] brettsam commented on #782
Agreed. We need to make some improvements here -- we'll need to do some design here for a clean solution.

[2022-01-25 22:24] brettsam commented on #779
A few questions --
1. Can you share the full stack trace of that exception you're seeing?
2. Is the emulator running?
3 Are your appsettings.json files overwriting `AzureWebJobsStorage`?

Nothing that you're doing above in your worker code should be affecting how the Host gets its settings, but it seems like it may not be able to connect to Storage.

[2022-01-25 22:34] brettsam commented on #775
It certainly seems like `IHttpCookie` is meant to have setters as well. We'll discuss how we can update this without it being a breaking change.

[2022-01-25 23:08] kshyju commented on #777
@Ungerfall The only special characters allowed in the function name value is `-` and `_`. We do have a validation method which validates it against [the defined format](https://github.com/Azure/azure-functions-host/blob/dcfd7fc1458da020de2c3f49b1d9672b1e1bc229/src/WebJobs.Script/Utility.cs#L46). But looks like it is not being called for this out of process worker code path. We will fix that in a f

[2022-01-25 23:08] #777 closed

[2022-01-25 23:43] kshyju opened #788 "Validate function name"
Currently any string value can be used as the function with the `Function` attribute.
[code]

We have customers who have used special characters like `/` in function names [which caused issues in other areas](https://github.com/Azure/azure-functions-dotnet-worker/issues/777) like getting function keys. The [HostFunctionMetadataProvider has some code path which validates](https://github.com/Azure/a

[2022-01-25 23:44] kshyju commented on #777
We will track the work needed to fix the issue in #788

[2022-01-26 01:08] WinInsider commented on #785
Invoked via [this](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.logging.loggerextensions.logerror?view=dotnet-plat-ext-6.0#microsoft-extensions-logging-loggerextensions-logerror(microsoft-extensions-logging-ilogger-system-exception-system-string-system-object())) extension method

[2022-01-26 09:43] pirovorster opened #789 "ClaimsPrincipal is null when StaticWebAppsAuthCookie is set."
I'm currently trying to get the ClaimsPrincipal from my isolated process Azure Function.

Initially I had the same issue as specified here: https://github.com/Azure/azure-functions-dotnet-worker/issues/694.

I upgraded to 1.6 and this fixed my claims being empty. However my ClaimsPrincipal is null.

I have the exact same function with the only difference being that its not a isolated process and t

[2022-01-26 12:26] AtToftegaard opened #790 "BlobAttribute throws 401"
Hello!

Whether using a BlobOutputAttribute or BlobInputAttribute, my function, with slightly differing error messages, throws a 401. I have a storage account with blobs in a subscription of which I am owner.

My function:
[code]
blobNameSpace here being a serviceuri, stored in local.settings.json (https://{storageaccount}.blob.core.windows.net/) to the storage account.

When running the function

[2022-01-26 16:35] WinInsider commented on #778
Is there any "architecture advantage" of hosting API endpoint in "Azure Functions" instead of normal "Web Site" with ASP.NET MVC Core framework?

[2022-01-26 16:57] binte commented on #779
Indeed, the issue on my side was not having the emulator running!

[2022-01-26 16:59] hkusulja commented on #778
We have moved from Azure App Service to Azure Functions, while having ASP.NET 6 WebAPI project, due to:
* Having "consumption based" plan, so very scalable and price effective in our case
* less things to configure / more is managed by Microsoft (i am not sure now about list, but maybe kudu, ftp, and other things)

[2022-01-26 19:25] kshyju commented on #727
The fix is available in the app service image. You could use that as the base image.

`mcr.microsoft.com/azure-functions/dotnet-isolated:4.1.3-dotnet-isolated6.0-appservice`

Non app service images are still not ready yet.

[2022-01-26 19:57] kshyju commented on #789
You can access the ClaimsIdentity collection from the `HttpRequestData` instance.

[code]

[2022-01-26 20:16] pirovorster commented on #789
The identities also does not have the identity from the "StaticWebAppsAuthCookie". Currently I con only get it by parsing the cookie myself. Imo it should work like the NON isolated process model.

[2022-01-26 20:29] pirovorster commented on #789
This article illustrates a work around: https://adamstorr.azurewebsites.net/blog/using-azure-functions-middleware-to-access-claimsprincipal-in-azure-static-web-apps

[2022-01-27 04:21] calloncampbell commented on #502
Any update on this with .NET 6 (isolated)?

[2022-01-27 07:00] #758 closed

[2022-01-27 14:22] PBeckerr opened #792 "Scaling out doenst seem to trigger"
This behavior was already described here but the bot closed it :/
_Originally posted by @snowke in https://github.com/Azure/azure-functions-dotnet-worker/issues/649#issuecomment-960114915_

Im running into the same issue and its really easy to reproduce that dotnet-isolated never scales beyond one, i can create 2 function apps one with dotnet and one with dotnet-isolated, deploy them and load test

[2022-01-28 04:13] snowke commented on #792
@PBeckerr I was eventually able to get a hold of Microsoft support and was told to do the following

I made that change and run the load tests again.  At first, it did not work as expected. I was 30 minutes into a load test without any new instances being created.  Then around the 30-minute mark, it shot up to 15+ instances.

The next day, it started autoscaling as expected.  I still don't know wh

[2022-01-28 08:44] PBeckerr commented on #792
@snowke You are absolutely right, updated nuget packages, redoployed and now its scaling up/down!

[2022-01-28 08:44] #792 closed

[2022-01-28 20:49] shelbaz opened #796 "Flood of HTTP related logging since upgrading to host v4"
#### Is your question related to a specific version? If so, please specify:
Azure Function Core Tools v4 and Azure Functions .NET 6

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C#
#### Question
I just upgraded from Azure Functions .NET 5 to .NET 6 Preview (isolated). Whenever my function runs, both locally via Core Tools v4 and in Azure Function .NET 6 Preview,

[2022-01-31 15:46] jsquire opened #793 "Time trigger function suddenly stops firing"
# Issue Transfer

This issue has been transferred from the Azure SDK for .NET repository, [#26710](https://github.com/Azure/azure-sdk-for-net/issues/26710).

### Please be aware that @tkachuk2222 is the author of the original issue and include them for any questions or replies.

## Details

### Library name and version

Microsoft.Azure.Functions.Worker 1.5.1

### Describe the bug

I have an azure

[2022-02-01 03:47] vzalamea commented on #572
Just found this issue while trying to convert my in-process Http trigger Functions app to isolated so I can add middleware.  It would be nice to .AddHttpContextAccessor() in ConfigureServices.

[2022-02-01 13:26] digitalkirkley commented on #293
Have any of the concerns with OOP Azure Functions in .NET 5 been resolved in .NET 6?  E.g. MessageReceiver, ServiceBusReceivedMessage etc

[2022-02-01 13:27] digitalkirkley commented on #384
When will it be possible to use 'ServiceBusReceivedMessage' on the ServiceBusTrigger binding with .NET 5 out-of-process (isolated)?  Or is this .NET 6? Or 7? (Have various of existing 3.1 in-proc functions and need to make some decisions)

[2022-02-02 00:39] aggieben commented on #602
@brettsam please see the issue I posted here: https://github.com/Azure/azure-functions-dotnet-worker/issues/729.  I included a minimal repro.  My issue was closed in favor of this one.

[2022-02-02 01:08] kshyju commented on #785
@WinInsider Do you see the same empty line entry when you query the app insights logs/tables?

[2022-02-02 02:35] WinInsider commented on #785
Yes same,

![image](https://user-images.githubusercontent.com/15760785/152084422-34c41ad3-28df-4b6a-a754-271ec0d78671.png)

![image](https://user-images.githubusercontent.com/15760785/152084581-25213e72-f27b-4a80-ab2f-f57a4fcea527.png)

[2022-02-02 11:26] bioengstrom commented on #226
Any updates to this for .Net 6 isolated workers?

[2022-02-02 14:05] Prinsn commented on #226
I have no information on isolated, but aside from migration and upgrade
growing pains, the 'default' non isolated seem to be working

On Wed, Feb 2, 2022, 6:26 AM Isak Engström ***@***.***> wrote:

[2022-02-03 01:00] #779 closed

[2022-02-03 18:55] wesselkranenborg commented on #760
+1 on this. We are also facing this issue. We use the `Microsoft.ApplicationInsights.WorkerService` but it's not correlating the dependencies. This is making us hesitant in rolling out isolated worker functions further.

[2022-02-04 12:31] emilssonn commented on #760
@brettsam Apart from dependency tracking in the worker and access to `TelemetryClient` scenarios (which almost work when using `Microsoft.ApplicationInsights.WorkerService`, apart from dependencies not correlating to other telemetry). What are the sets of logging issues exactly?
From what I can see the main issue is that `ILogger` categories are not honored, they are changed when logging to Applic

[2022-02-04 13:18] Arash-Sabet commented on #771
@fabiocav @anthonychu Any idea when the PR associated with this issue will be approved and released? Thanks.

[2022-02-04 19:29] fabiocav opened #798 "Create a startup hook for extensions"
Extension authors frequently have the need to register additional services and it is often desirable to have those done implicitly and automatically by the extension.

Today, the worker does not expose a hook (similar to startup) to enable extensions to perform service registrations, and this should be exposed.

Creating placeholder item. Will update with the proposed API/experience here.

[2022-02-05 00:23] kshyju commented on #785
Thanks! I was able to repro this issue. It seems like a glitch in the JOIN query used to render the monitor tab data. If you query the raw data (`traces` or `exceptions` tables), you will not see an empty entry logged. Will follow up with the team and share an update here and the next steps to fix it.

cc @brettsam

[2022-02-07 12:30] arashcomsense commented on #347
@Y-Sindo Are there any working examples on sending a message to a user in a group or sending a message to all users in a group? Is there a consolidated documentation that I can follow to achieve such basic goals?

[2022-02-07 19:45] brettsam commented on #785
cc @spellegrino021, @takyyon -- looks like we need to tune the query that we generate here. The data is there, it just gets lost in the union.

The details are above, but @kshyju has a repro that he should be able to share too.

[2022-02-07 19:53] WinInsider commented on #785
Have run app insights query against `exceptions` however, there is no "message" element/property thus still comes up empty/blank for me.

I have notice this behavior only after switching to new Azure Function Worker SDK (Microsoft.Azure.Functions.Worker)

[2022-02-07 22:38] JoshuaNitschke commented on #727
thank you so much for this! @mark-comeau - this fixed my issue with my dotnet 6 function app not running on my Linux App Service plan.

[2022-02-08 13:41] Arash-Sabet commented on #294
@fabiocav is there a document to explain clearly what needs to be done to send a message to a group or a specific user in the group? We have employed the approach quite similar to @danielegiallonardo's to create a group of users to send out a message but no messages were received on the client side.

Also, the following code is supposed to send out a message to all connected users and it does but

[2022-02-08 20:50] Jandev opened #801 "Created new .NET 6 Function with identity-based "Function host storage" gets `Microsoft.AspNetCore.Connections.ConnectionAbortedException`"
I'm in the process of creating multiple Azure Functions which only use identity-based connections.

While doing so, I also want to use the [Function Host Storage (preview) feature](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference?tabs=azurewebjobsstorage&WT.mc_id=AZ-MVP-5003246#tabpanel_1_azurewebjobsstorage).
I'm also using the `RUN_FROM_PACKAGE` to a storage account, al

[2022-02-08 22:16] brettsam commented on #789
This seems like a good ask -- we'll assign it for investigation in a future sprint.

[2022-02-08 22:25] brettsam commented on #790
Is this happening when running locally or after deployed to Azure? Would you mind sharing your local.settings.json file exactly (with any secrets removed)? That may help us understand.

If you are running locally, I can see from the docs here that you may need to set something up in order to use the correct identity if you're using an identity-based connection:
- https://docs.microsoft.com/en-us/a

[2022-02-08 22:33] tgrandgent commented on #796
@shelbaz I solved this by adding the following to the `logLevel` section of `host.json`:
[code]
The category name `Azure.Core` is revealed when viewing the unwanted log entries in Application Insights.

It appears that these routine low-level errors are logged at the warning level for some reason.

[2022-02-08 22:39] brettsam commented on #734
The permanent resolution is that `COMPLUS_GCHeapHardLimit ` will be set by the platform so you won't need to take any action. This rollout may already be complete; we will double-check and report back.

[2022-02-08 23:11] mattchenderson commented on #801
For AzureWebJobsStorage, you _may_ need the "Storage Account Contributor" role as well, as that has a management permission on the storage account itself, needed to check the general blob service configuration. This happens early in the host startup sequence and _could_ explain the early failure, but I would still expect you to be able to see the functions list. Also, this role need is missing fro

[2022-02-08 23:33] RyFive85 opened #802 "Build Error for v4 and .NET 6 in Isolation"
We recently converted a function app from Core 3.1 to .NET 5 (v3), and now attempting to further convert to .NET 6 (v4).

I'm getting the following build error in Microsoft.Azure.Functions.Worker.Sdk.targets:

Our project settings are correctly set:
[code]
which appears to get thrown if the _ToolingSuffixis blank, but following the logic for _ToolingSuffix in the PropertyGroup node, I don't see wh

[2022-02-08 23:43] kshyju commented on #802
What version of `Microsoft.Azure.Functions.Worker.Sdk` package are you using?

[2022-02-09 00:58] RyFive85 commented on #802
@kshyju I'm using 1.3.0.

[2022-02-09 01:08] kshyju commented on #802
Could you share your .csproj file? Specifically the package references
section.

On Tue, Feb 8, 2022 at 4:58 PM Ryan Downs ***@***.***> wrote:

[2022-02-09 01:11] RyFive85 commented on #802
@kshyju

[code]

[2022-02-09 04:29] kshyju commented on #802
I tried your `.csproj` file content as it is on a new function app and able to build without any issues (using visual studio 2022). Could you give that a shot on your side? If you still reproduce, could you share that minimal repro? (a github repo would work best). Thanks!

[2022-02-09 08:08] Jandev commented on #801
Thanks!

I've tried your first suggestion just now by adding the `Storage Account Contributor` role to [both of my managed identities to their corresponding Storage Accounts](https://github.com/Jandev/minifier/blob/d2a166e60e070da28ce2b6cd06e98b9b15c1e55d/deployment/infrastructure/application-infrastructure.bicep?_pjax=%23js-repo-pjax-container%2C%20div%5Bitemtype%3D%22http%3A%2F%2Fschema.org%2FSo

[2022-02-09 20:17] Jandev commented on #801
I have tested the setup using a User Assigned Identity also now, I think.
It was a bit unclear what value the `WEBSITE_RUN_FROM_PACKAGE_BLOB_MI_RESOURCE_ID` should get. I had expected it to be the Client Id or Object Id from the managed identity, but seeing the docs really state the 'resource id', I've configured the settings like the following (obfuscated some values):
[code]

I've also removed (

[2022-02-09 21:57] fabiocav commented on #740
Thanks!

There are two things we should do here:
- Fix the metadata generation to make sure it ignores non-public methods (will use this issue to track that)
- Create an analyzer to provide a build-time compilation failure when the attribute is applied to non public methods (@kashimiz will create an issue to track)

[2022-02-09 22:00] fabiocav commented on #744
@josh-endries can you validate whether this works for you with the latest tools versions?

Thanks!

[2022-02-10 08:52] Y-Sindo commented on #347
@arashcomsense I have added a sample [here](https://github.com/aspnet/AzureSignalR-samples/tree/main/samples/DotnetIsolated-BidirectionChat). Please tell me if you have any other questions.

[2022-02-10 12:07] arashcomsense commented on #347
@Y-Sindo Thanks. That's very useful.

[2022-02-10 20:22] Jandev commented on #801
I've tried it on a Windows Consumption & Dedicated plan.

Same result, but after adding the `AZURE_CLIENT_ID` setting with the user-managed identity client id, I'm receiving at least some Informational messages on both Windows Function Apps and my Linux Consumption app
[code]

And the Windows dedicated plan also has a nice Verbose message now, which happens about every minute
[code]

Adding this v

[2022-02-10 21:46] kshyju commented on #182
Closing, as this is not a valid issue anymore. A dash is allowed in function name (ex: `[Function("Foo-Bar")]`) for dotnet isolated function apps.

[2022-02-10 21:46] #182 closed

[2022-02-10 21:56] kshyju commented on #286
Closing this issue as we are tracking the progress of this enhancement in #773

[2022-02-10 21:56] #286 closed

[2022-02-11 01:42] c0dybrown opened #803 "SignalR Output Binding with AAD authentication"
Hello,

I am trying to create a SignalR output binding using the connection string
`Endpoint=https://{signalrName}.service.signalr.net;AuthType=aad;ClientId={};Version=1.0;`
https://docs.microsoft.com/en-us/azure/service-connector/how-to-integrate-signalr

The error I get is

[code]

Here's an example of the code:

[code]
Is is possible to use this model? I would like to go completely passwordless

[2022-02-11 03:38] Y-Sindo commented on #803
AAD authentication does not apply to isolated worker yet. It will be available in the next release.

[2022-02-11 22:25] SeanFeldman commented on #293
@digitalkirkley no. Perhaps some discussions or work are taking place, but it's not reflected here.

I've run into this pain point just today with messages that need to be dead-lettered (#381) once the message fails to process for the first time, and it's not possible, which forces the unnecessary re-processing based on the number of retries defined, adding unneeded AppInsights logs and increasing

[2022-02-13 11:58] Traan opened #804 "Unable to turn off CORS"
Hi,
I would like to turn off CORS for a Function App (v4) and instead handling it within the function code itself. I have left all the CORS settings blank in the portal.
![image](https://user-images.githubusercontent.com/1763878/153751527-3040fb01-e6e9-4315-b6ae-b252c58b4dda.png)
![image](https://user-images.githubusercontent.com/1763878/153751551-dd5237bc-d8b8-4b87-8919-11a93634797e.png)

We are

[2022-02-14 01:47] kelps commented on #423
It's been about 2 months since my last post about this issue and I don't see any news about it being fixed or even being addressed/planned. I am about to put code in production with my workaround, even with the logs getting duplicated in order to be able to have good logs. ANY news on this would be really appreciated!

[2022-02-14 13:22] RomanAlberdaSoftserveInc commented on #340
Is this still in progress >?

[2022-02-14 13:28] RomanAlberdaSoftserveInc commented on #530
Is this still in progress?

[2022-02-14 18:28] kshyju commented on #340
Yes, we are currently working on this item. The new APIs to support reading & altering input and output data from middleware will be available in the next few weeks. I will share an update to this thread as we make progress. Thanks!

[2022-02-14 21:07] zyofeng commented on #747
This is still occuring and we have recreated the function app with dotnet-isolated and correct linuxFxVersion DOTNET-ISOLATED|6.0

The issue seems to be missing ASPNETCORE APP installation in the latest Linux image?

2022-02-14T20:56:50Z   [Error]   Final functionDispatcher state: WorkerProcessRestarting. Initialization timed out and host is shutting down
2022-02-14T20:56:50Z   [Verbose]   Sending

[2022-02-15 13:35] mluker opened #805 "dotnet-isolated causes all errors to show up as RpcException"
When running a function in 'dotnet-isoloated' all errors are written to App Insights as 'RpcException' with the Category of 'Function.<namehere>.User'. The actual error type should be logged.

The code below in 'dotnet-isolated' logs the  error as an RpcException exception.
[code]

The code below in running 'dotnet' logs the  error as an ApplicationException.
[code]

The error output when running

[2022-02-15 17:09] elliotchaim opened #810 "Functions do not work when using the `dotnet-isolated:4-dotnet-isolated6.0` base image."
I'm trying to deploy an Azure Functions app (net6.0 isolated functions v4) to Azure (Linux P1v2 app service plan). the app is containerized with `mcr.microsoft.com/azure-functions/dotnet-isolated:4-dotnet-isolated6.0` base image. i'm deploying and see logs in deployment center showing that the image was downloaded and container started. but no functions have been found and i get this error notific

[2022-02-16 04:00] #790 closed

[2022-02-16 08:15] ds-evo commented on #556
in my case (Function v4, VNet, Docker, Linux) - it helps to remove this line:

`.ConfigureAppConfiguration(builder => builder.AddEnvironmentVariables())`

[2022-02-16 08:15] ds-evo commented on #747
in my case (Function v4, VNet, Docker, Linux) - it helps to remove this line:

`.ConfigureAppConfiguration(builder => builder.AddEnvironmentVariables())`

[2022-02-16 08:17] zaha commented on #226
Yeah, same here, doesn't work for me either. I also need the option to work with a receiver and sender to do some custom retry handling with an exponential backoff timer, which is sadly not possible right now without these SDK types being supported by the isolated-process bindings.

Hope this will come soon 🤞

[2022-02-16 11:08] iAmVico commented on #747
in my case I was running `host.RunAsync()' instead of `host.Run()` in the `Program.cs` file.

[2022-02-16 14:46] arthurzennig07 commented on #760
In my case, Logs were showing in Trace and locally. But the Function's Monitor wasn't logging.
We recently moved the function from dotnet3.1 to dotnet6 and added dependency injection (including log).
It started showing logs in Monitor once we added the following configuration in function's startup.cs:
`.ConfigureLogging((ctx,logging) =>
                {
                    if (ctx.HostingEnvironm

[2022-02-16 15:08] runtimeware commented on #556
We also got around the problem by doing that as well.

[2022-02-16 17:01] andrew-tevent commented on #796
I am seeing this too - though I am still on .net 5 and v3 of the runtime.

But it started when upgrading the worker SDK packages:

![image](https://user-images.githubusercontent.com/78795042/154316948-cd56aa1c-77ac-4982-944e-771c664c2dfc.png)

@tgrandgent's log level seems to have now supressed it.

[2022-02-16 18:25] lpunderscore commented on #418
This is absolutely horrible. Completely breaking and undocumented. We now have to expose connection strings directly in local files as we can't use keyvault or app configuration for bindings etc.

You need to document this limitation, and warn people against using isolated functions in production until this is resolved.

[2022-02-16 19:57] Jandev commented on #801
Well, I hardly dare to admit it, but I found the issue and it was in my configuration.

The observant reader might have caught it already.
[code]

Do you see it?
I had missed the `WEBSITE_`-prefix in my earlier configuration. After changing the settings to `WEBSITE_RUN_FROM_PACKAGE` all worked out well!

For completeness, I have set up the following roles on the storage account necessary for the F

[2022-02-16 19:57] #801 closed

[2022-02-17 01:00] #744 closed

[2022-02-17 01:04] ProgrammerAl commented on #747
I had the same errors as above (Initialization timed out and host is shutting down) for an isolated function running on .NET 6 and Linux from a deployed zip. Id `0245e521-5cfa-443b-ba8d-b07a38b6b4d3` if it helps any debugging on the Microsoft side.

The fix for me was based on what @ds-evo mentioned. I remove the call to `.ConfigureAppConfiguration()` when running in Azure.

[code]

[2022-02-17 02:08] kshyju commented on #346
Closing this issue as the original issue posted was fixed, as confirmed by @Romfos

[2022-02-17 02:08] #346 closed

[2022-02-17 02:29] kshyju commented on #530
@RomanAlberdaSoftserveInc Yes, we are currently working on this item. The new APIs to support reading & altering input and output data from middleware will be available in the next few weeks. I will share an update to this thread as we make progress. Thanks!

[2022-02-17 07:00] #802 closed

[2022-02-18 07:53] Y-Sindo commented on #771
@fabiocav @kshyju Currently the SignalR class-based model can bind the RPC call parameters to trigger function parameters automatically, I want to know if the bindings in host process can get the parameter info of the trigger functions in worker process, so that we can do similar things in isolated model.

[2022-02-18 08:15] Y-Sindo opened #806 "Ask for suggestions on debugging local in-process extensions for dotnet-isolated worker"
I am a Functions extensions developer and I want to test the local `Microsoft.Azure.WebJobs.Extensions.SignalRService` package with dotnet-isolated worker. I have two questions to ask:

1. Can we let the function host use a local version of the **in-process** extension package so that we don't need to push the package to Nuget?
    For the in-process model, we just need to add a project reference

[2022-02-22 12:36] Done3319 commented on #423
Thanks for the workaround! This at least allows structured logging, although with duplicates. Anyhow, there are still too many things not working in regards of Application Insights. The dependency map shows the Function App isolated, calls from the Function App to other web-services or Azure Storage etc. are not visible at all... And no one seems to be working on these serious bugs.
This is really

[2022-02-22 17:54] kshyju commented on #295
@takyyon Could you help with this issue? I can still repro. The "fucntion-editor-file-selector" dropdown is empty in the case of a dotnet oop function app. When I check a node js app, the dropdown lists the files (ex: index.js) and the test/run option is enabled.

[2022-02-22 18:10] CarlosGomesMarel commented on #572
I need a way to a **route parameter value** from within a **configured service**.  I was using the `IHttpContextAccessor.HttpContext` however that is null in .net 6.  Is there an alternative?  I looked into the middleware approach, but I don't see how I can access the `FunctionContext` from within a service after the middleware runs.

[2022-02-22 18:57] fabiocav commented on #618
Flagging for triage/review

@stefanushinardi FYI

[2022-02-22 22:11] fabiocav commented on #806
@Y-Sindo the debugging target here would have to be the host, not the worker.

You can point to a local build of the extension, but you'd need to set up a local NuGet source for that, using the version you're building locally (your Worker Extension would need to reference that version). This actually gives you the opportunity to force the debugger to attach in the host process by using something l

[2022-02-22 22:12] fabiocav commented on #806
Closing as answered, but let us know if you need any additional information.

Thanks!

[2022-02-22 22:12] #806 closed

[2022-02-22 22:20] fabiocav commented on #804
@Traan can you clarify what you mean by `to be able to use your own CORS`?

Can you also share the SKU used (primarily curious to know if this is on Linux or Windows), as the implementation is slightly different for those and it would be good to make sure there isn't anything OS specific going on.

Thanks!

[2022-02-22 22:21] fabiocav commented on #803
Thank you @Y-Sindo

@c0dybrown closing this as answered, but please let us know if you need any additional information.

[2022-02-22 22:21] #803 closed

[2022-02-23 11:45] Manthazar commented on #666
I just came across this enhancement and would like to call out a _problem_ with the workaround. Say, you have an internal business service method which doesn't require any argument on itself:
[code]
If this service is now triggered by an http call, we were to return `HttpResponseData `by the workaround. This in turn needs to be built from the HttpRequestData. So, for formal reasons one of the foll

[2022-02-23 14:16] EnenDaveyBoy commented on #572
one options is use a scoped service, set the parameter using middleware into the service, then you'll have it in the service, or use a context class in the same way.

[2022-02-23 16:06] CarlosGomesMarel commented on #572
Hot familiar with this approach can you point me on an example of a scope service using parameter set by middleware

[2022-02-23 20:52] EnenDaveyBoy commented on #572
in your program.cs file add a dependency

///
s.AddScoped<IMyService, MyService>();
///

then build your middleware

///
public class MyServiceMiddleware : IFunctionsWorkerMiddleware
    {
        public async Task Invoke(FunctionContext context, FunctionExecutionDelegate next)
        {
           HttpRequestData httpRequest = context.GetHttpRequestData();

            var myService= context.Inst

[2022-02-23 21:49] liliankasem commented on #771
@kshyju looks like the PR was merged last week, any idea on a potential release date?

[2022-02-24 00:05] kshyju commented on #199
https://github.com/Azure/azure-functions-dotnet-worker/issues/257 will track this work.

[2022-02-24 09:09] Manthazar commented on #672
Is there a workaround to get a cancellation token (in absence of the HttpContext as well)?

[2022-02-24 09:15] Manthazar commented on #180
The stackoverflow page doesn't help here because there is http context to which we could link the token.

[2022-02-24 11:08] anotherHoffmann commented on #727
@kshyju is there an update on non app service images?

[2022-02-24 11:11] bbieniek opened #808 "Middleware registration without gRPC"
Hi,

Is there any other way to register middleware than by using ConfigureFunctionsWorkerDefaults?
Currently, when we want to add middleware, the function also adds support for gRPC.
In our case, we do not really want and need gRPC support.

I would propose to add an extension method that would allow for:
[code]

[2022-02-24 15:10] Traan commented on #804
@fabiocav @brettsam its actually coming from the documentation for App Service CORS (https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-rest-api#app-service-cors-vs-your-cors). "Own CORS" = setting CORS policy from the application code itself instead of using CORS settings in Azure Portal.

The function app is running on Windows.

[2022-02-24 15:54] Manthazar commented on #511
Is there any update on this?
(having to run functions externally and manually attach a debugger seems to be a rather painful process)

[2022-02-24 17:05] CarlosGomesMarel commented on #572
Thanks, got it.

[code]

[2022-02-24 21:11] julealgon commented on #739
Any updates you guys could share?

[2022-02-24 21:16] julealgon commented on #773
What is the recommendation while this is being worked on? Should `Task<IEnumerable<T>>` be used instead?

[2022-02-24 21:18] julealgon commented on #769
@fabiocav  do you have any updates on this? How long do your sprints usually take so we can get a sense for when this will be released?

[2022-02-24 21:18] cgillum commented on #739
I believe it's being worked on as we speak, and I'm waiting eagerly to try it out. :)

[2022-02-25 09:32] bbieniek opened #811 "Middleware dependency injection does not use the same instance"
Hi,

We are using the Middleware dependency injection like this:
`services.AddScoped<SomeClass>`
 and then in the Middleware:
`public XMiddleware(SomeClass someClass)`

further down the line, in a different class:
`public OtherClass(SomeClass someClass)`

What is surprising is that the instance of SomeClass in OtherClass is going to be different in the same request than in Middleware.
It looks lik

[2022-02-25 17:32] kshyju commented on #811
Middleware has singleton lifetime. You should not inject a scoped dependency into a singleton constructor. If you do, your scoped dependency will behave as singleton.

In functions, currently there is no _out of the box_ strict [scope validation](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/web-host?view=aspnetcore-6.0#scope-validation) to prevent anyone from using this incorrect

[2022-02-26 12:55] jkeeley2073 commented on #556
Had the same issue Dotnet 6 isolated on windows - Managed Service Identity did not have Access Policy in KeyVault and we're using KeyVault Config - It seems you will get this error for any case where your function fails at startup

[2022-02-28 03:26] #347 closed

[2022-02-28 08:03] xtellurian commented on #810
I'm running into a similar issue. Deploying a dotnet 6.0 functions project. The Azure resource (linux app) is created using Pulumi then the code is deployed with functions CLI `func azure functionapp publish`

[2022-03-01 11:11] Manthazar commented on #511
I can confirm that with Visual Studio 2022, the local configuration file is again properly read:

    {
      "IsEncrypted": false,
      "Host": {
        "LocalHttpPort": 7074,
        "CORS": "*"
      }
    }

Leads to properly running the function under **.NET 5** on port 7074

     http://localhost:7074/api

[2022-03-01 11:15] rich-mond commented on #511
Agreed. VS 2022 is working as expected

[2022-03-01 17:53] ameyasubhedar opened #812 ".NET6 Isolated Azure Function Unit and Integration Test causes gRPC exception"
I have an isolated Azure Function that makes couple of HTTP POST calls. I am trying to write an integration test for them. But the test setup fails with a **gRPC erro**r. Link to [stackoverflow](https://stackoverflow.com/posts/71273358)

Here is the Program.cs that configures the HttpClient with services.AddHttpClient();

    public class Program
    {

        public static void Main()
        {

[2022-03-01 22:16] fabiocav commented on #810
Adding @kshyju here, but we have a deployment that should be completing in the next couple of weeks that will address this issue.

Will keep this open until that is done, but in the meantime, you follow the guidance in [this comment](https://github.com/Azure/azure-functions-docker/issues/600#issuecomment-1043737426)

[2022-03-01 22:24] fabiocav commented on #808
@bbieniek we already have this capability. The core implementation doesn't actually know anything about gRPC, and if you use the middleware registration APIs there, there will be no gRPC services setup.

I'm curious, though. Can you please share more about your scenario? To run on Functions, gRPC services will be required today. Can you please share more about what you're trying to do?

Thanks!

[2022-03-01 22:25] fabiocav commented on #811
Closing as answered.

[2022-03-01 22:25] #811 closed

[2022-03-01 22:32] fabiocav commented on #812
The exception above is coming from the default gRPC services attempting to connect with the host, as they're being registered by the default call.

You avoid calling the default (`ConfigureFunctionsWorkerDefaults`) and prevent registering the gRPC service, but we don't have great documentation on how to wire up your tests once that is done.

@brettsam is tracking an implementation of a test framew

[2022-03-01 22:35] fabiocav commented on #804
This is not something that is exposed to the OOP model, so the option here would be to migrate to the in-proc model in V4 instead.

[2022-03-01 22:36] #804 closed

[2022-03-01 22:44] fabiocav commented on #626
We're working on enhancements that will make this possible/easier.

One of the issues tracking that work is https://github.com/Azure/azure-functions-dotnet-worker/issues/340, so I'll close this one in favor of that.

Thanks!

[2022-03-01 22:44] #626 closed

[2022-03-02 05:38] ameyasubhedar opened #813 "Unable to securely authenticate Azure Function with SPA"
Public clients or SPA cannot store Function keys securely. We need a way for SPAs to securely call the Azure functions. We have OpenID connect code workflow, why is access_token based authorization not supported ? This seems critical !

For example:
The SPA can use OpenID connect and authorization code workflow to authenticate a user and then generate access token. Based on the user roles and perm

[2022-03-02 05:43] ameyasubhedar commented on #813
Specifically I want to call Azure Functions securely from standalone Blazor Web Assembly (SPA).

[2022-03-02 21:22] fabiocav commented on #702
Assigning to @brettsam as part of the logging enhancements.

[2022-03-02 21:23] fabiocav commented on #677
Work is in progress. The PR has been updated and are ready for review.

Moving to sprint 118.

[2022-03-02 21:27] fabiocav commented on #530
Moving to sprint 118 as work is still in progress.

[2022-03-02 21:35] fabiocav commented on #556
This is a very generic error and the issue has collected incidents with a number of different root causes.

The initial problem has been addressed. Anyone else experiencing this problem, can you please open a new issue with the details (beyond the top level error) so we can take a closer look?

Thank you

[2022-03-02 21:35] #556 closed

[2022-03-03 02:31] onionhammer opened #815 "Issue 556 closed without resolution"
Seems like #556 was closed without resolution then locked to prevent further discussion

If the same error has many root causes... that means there's an issue with error reporting. More specific errors need to be surfaced so that they're easier to track down. If "Did not find any initialized language workers" is the error for a whole host of issues **in and of itself is an issue**

[2022-03-03 08:02] ameyasubhedar opened #817 "How do hide Azure function app from search results ?"
What is the correct way to hide the published Azure function app from search result ?

For an eventual consistent systems the Azure Function app is mostly the backend that a client or a server can access. So it needs to be hidden from searches.

I tried adding a RobotsEndpoint function but the function URL will have a api/{robots.txt} route name and thus it is no longer in the root directory.

How

[2022-03-03 13:38] paul-datatech911 commented on #782
FWIW - After discussion on StackOverflow about this - in particular ServiceBus Trigger/Bindings -  the answer for me was to write my own generic extensions that take the string content & FunctionContext and parse out our version of a Message/BrokeredMessage that includes built-in System and UserProperties and a ParsedObject<T>.   Not ideal but easy enough until the Functions Worker team implements

[2022-03-03 13:59] paul-datatech911 opened #818 "Isolated Functions Host starts before calling Start"
I have an Isolated Function that has a set of ServiceBus triggers.  Part of my setup in program.cs is to check and ensure that the required ServiceBus endpoints exist (SBInit).  The trigger params and the params that control the SBInit are all provided via IConfiguration interface and bound during HostBuilder setup.

The problem I'm having is that the functions all seems to be attempting to run be

[2022-03-03 14:59] tilicon opened #819 "EventGrid Bindings Do Not Work with out-of-process Azure Function App v4"
I have created an Azure Function App v4 using dotnet 6 and worker run-time is set to dotnet-isolated.

I have a Service Bus trigger and also a Service Bus output and they work fine, when I try to use EventGrid instead, I get a failure on startup.

In the logs I get these two messages (from two separate functions)

For the consumer part, I get this message:
The binding type(s) 'eventGridTrigger' ar

[2022-03-03 16:09] kshyju commented on #802
This issue was caused by a [core tools bug](https://github.com/Azure/azure-functions-core-tools/issues/2881) which sets incorrect function version in the .csproj file (v3 instead of v4). It is fixed now and will be released shortly.

[2022-03-03 17:54] satvu commented on #816
In response to the original issue, .NET 6 Isolated is available in the dropdown menu (last option) in VS 2022.

<img width="763" alt="function-template-dropdown" src="https://user-images.githubusercontent.com/35204912/156622791-ac69ddb6-13b5-429c-a438-3223dce8aa81.png">

[2022-03-03 17:57] sjuarezgx commented on #816
Thanks for your update.
Regards

[2022-03-03 17:57] #816 closed

[2022-03-03 19:13] andersson09 opened #820 "[.Net 6 isolated] Function to return dynamic with MultiResponse"
I want to be able to return a dynamic type since my exception handling middleware is of type (HttpResponseData). However, with MultiResponse I receive `MultiResponse1[System.Object]` as the api result.

[2022-03-03 23:37] kshyju commented on #820
@andersson09 Could you share the code you are trying?

[2022-03-04 00:17] andersson09 commented on #820
[code]

[2022-03-04 01:36] kshyju commented on #820
Thanks! Is there a reason you do not want to use `MultiResponse` as the return type? Don't you want to return the same type (or same schema) from your exception handling middleware as well?

[2022-03-04 01:41] andersson09 commented on #820
Because the exception handling middleware is a library that should be able to be used for any function, not just MultiResponse. So returning a simple HttpResponseData makes sense so it can be consumed by other functions.

[2022-03-04 08:02] andersson09 commented on #820
If you have a way of finding the return time in the middleware via the Function Context, and converting to it, then that could work too. But I don't think this is possible?

[2022-03-04 11:35] dev-jla commented on #602
@brettsam
So I've had a look at this again and it seems to almost work
setting logLevel as follows:
      "Default": "Warning",
      "Microsoft": "Warning",
      "Function": "Warning"

produces the following in App Insights - note the Information was till pushed.
Is there a way to filter the rest of the "noise"  (Sending Invocation and Posting Invocation etc ) really if there was just the info m

[2022-03-04 16:07] andersson09 commented on #820
@kshyju I found a hack here https://github.com/Azure/azure-functions-dotnet-worker/issues/765.

It would be nice to make this work without reflection though :).

[2022-03-04 17:44] GCoding83 opened #827 "Use of % % to store CRON expression in TimerTrigger not functional in Isolated Processes?"
I am trying to upgrade my Azure Functions to .NET 6 from .NET Core 3.1, and I am no longer able to use a variable in my local settings for my TimerTrigger CRON expression. Instead of doing this:

public void Run([TimerTrigger("*/10 * * * * *")].....)

I want to do something like this:

**public void Run([TimerTrigger("%MyVariable%")]....)**

But it doesn't seem possible anymore. Is there another w

[2022-03-04 20:26] jkdmyrs commented on #810
I am experiencing the same issue, however, I am just running a `dotnet publish` and using the `AzureFunctionApp@1` Azure DevOps Pipelines task to deploy the net6 functions app to a Linux functions app in Azure. I'm not using docker so I do not have the ability to specify App Service images as suggested in the workaround referenced by @fabiocav's comment.

What is the guidance in this case?

[2022-03-04 23:56] brennfoster opened #821 "WorkerConfig for runtime: dotnet-isolated not found"
I don't see a specific issue for my use case so I'm creating a new one. Azure function app does not start after deployment. This works fine locally. Only when I deploy to Azure do I see this problem.

According to documentation, my configuration settings are correct:
![image](https://user-images.githubusercontent.com/419283/156857658-be3dd1d8-6339-4a41-96ca-65f4c7397e66.png)

- Function runtime ve

[2022-03-07 06:12] ihordyrman commented on #810
We are facing this issue as well.
@fabiocav any updates on this?  The comment you've linked is more than two weeks old and the issue is still here.

[2022-03-07 08:33] BinishPeter commented on #810
I had same issue, I got it fixed by changing the linux-fx-version to DOTNET-ISOLATED|6.0
check [stackoverflow](https://stackoverflow.com/questions/69254014/how-to-change-linuxfxversion-in-azure-function-app) on how to set it

[2022-03-07 13:42] tilicon commented on #819
I have read through thread #810 as well, but I'm not using a custom image. I have set version 4 and dotnet-isolated in settings.

![image](https://user-images.githubusercontent.com/7198461/157044989-f3b7455a-71f5-4d2e-b8a8-7f4bde0ace14.png)

[2022-03-07 20:40] kshyju commented on #820
We are working on exposing some new APIs to update invocation results from middleware so you can use them instead of the reflection workaround. I will share an update in this this thread when it is available.

Closing this item as I feel no other action item is needed at this point. Thanks!

[2022-03-07 20:41] #820 closed

[2022-03-08 00:29] kshyju commented on #739
Yes, the second item is in-progress. #798 tracks the progress of that work.

[2022-03-08 15:15] jkdmyrs commented on #810
I was able to resolve the issues on my end via [this comment](https://github.com/Azure/azure-functions-dotnet-worker/issues/556#issuecomment-1052117943) in issue #556.

Basically, I'm using Azure App Configuration with keyvault linked values, and the keyvault access policy did not exist.

This exception is extremely generic and seems to be thrown for ANY startup issue. There is definitely a need f

[2022-03-08 16:56] paul-datatech911 opened #822 "Isolated Functions ApplicationInsights DependencyTracking (Sql/ServiceBus)"
Based on the very limited [documentation](https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-dependencies#advanced-sql-tracking-to-get-full-sql-query) about enabling Sql query tracking in Azure Functions, I believe I have the correct configuration and proper packages installed, but I still get no Sql Logging to ApplicationInsights.  I also get no ServiceBus dependency data via Applic

[2022-03-09 14:21] agutierrezcu commented on #747
Could you add this reference to the csproj

[code]

and try it out again?

[2022-03-09 16:38] andrew-tevent commented on #735
And #312

[2022-03-09 21:11] fabiocav commented on #812
Closing this in favor of #281

[2022-03-09 21:11] #812 closed

[2022-03-09 21:11] stefanushinardi opened #905 "Remote Debugging for Isolated mode"
The goal is to enable VS to supprto remote debugging for isolated apps

cc: @fabiocav @soninaren

[2022-03-09 21:18] fabiocav commented on #810
@ihordyrman did the workaround in the comment I've linked to help address the issue? https://github.com/Azure/azure-functions-docker/issues/600#issuecomment-1043737426, if not, it would be a good idea to have a separate issue opened with your application details so we can take a closer look, as this may have a different root cause.

[2022-03-09 21:19] stefanushinardi opened #823 ".NET 7.0 support isolated for AF v4"
Adding tracking item for support .NET 7 in isolated mode:

.NET 7 Preview 5 support

1. Feed ( tooling feed,  extension bundle feed )
2. Stack API
https://github.com/Azure/azure-functions-dotnet-worker/issues/926
4. Templates ( align the templates for isolated .NET 6/7, .NET framework 4.8 )
https://github.com/Azure/azure-functions-templates/issues/1225
6. Image prep - Linux
7. Worker SDK update :

[2022-03-09 21:22] stefanushinardi opened #824 "[Feature Request] Error handling for SDK vs nonSDK"
The request is to provide compile error message when an isolated app reference in-process SDK.

[2022-03-09 21:31] fabiocav commented on #370
@JustinGrote closing this issue as we'll use https://github.com/Azure/azure-functions-host/issues/6284 moving forward to track the progress on this.

[2022-03-09 21:31] #370 closed

[2022-03-09 23:49] kshyju commented on #821
@brennfoster Could you try deploying using [function core tools](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=v4%2Cwindows%2Ccsharp%2Cportal%2Cbash#publish) and see that works?

[2022-03-09 23:59] kshyju commented on #810
@ihordyrman Could you try deploying using [function core tools](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=v4%2Cwindows%2Ccsharp%2Cportal%2Cbash#publish) and see that makes a difference?

@elliotchaim The "_The framework 'Microsoft.AspNetCore.App', version '6.0.0' (x64) was not found_" error is caused by [this issue](https://github.com/Azure/azure-functions-dot

[2022-03-10 13:46] drmathias commented on #810
Deploying with `func azure functionapp publish` seems to work. However deploying the resource with Bicep/ARM and then using the `AzureFunctionApp@1` Azure pipelines task to deploy the function app results in the error.

[2022-03-10 14:39] georgechond94 opened #826 "[HttpTrigger] Multiple function execution for the same request when scaling out"
When an [HttpTrigger] function scales out because of a burst of concurrent requests, the same request is being picked up by multiple instances at the same time, resulting in processing the same request multiple times.
The number of executions is quite random it seems, it depends on when the function will scale out.

Example with **10** concurrent HTTP requests:

Maximum Scale Out Limit to 200 (def

[2022-03-11 01:41] kshyju commented on #826
Hi @georgechond94 👋 How are you determining it is the same request being served by multiple instances? Are you seeing http invocation with same [InvocationId ](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.functions.worker.functioncontext.invocationid?view=azure-dotnet)being served from multiple worker instances? Curious to know what data points you used to reach this conclusion.  No

[2022-03-11 06:20] joshlang commented on #769
I'm super-glad to see this already in the works.  Just about to start a project that use a custom serializer and want to use azure functions to handle the change feed!

[2022-03-11 08:37] georgechond94 commented on #826
Hi @kshyju, thanks for your reply! Checked the logs and the `azurefunctions_invocationid` is always different.
Basically the body I am POSTing is unique in every request.
The behavior I am seeing in the logs is that some payloads are mentioned twice, and this especially happens after an `Application started. Press Ctrl+C to shut down.` message which I guess means the function scaled out.

If the f

[2022-03-12 10:36] bbieniek commented on #822
I am facing the same issue.
It looks like the "_MS.Links" property is not correctly propagated with the different Operation Ids.

[2022-03-12 20:18] jkeeley2073 opened #828 "Did not find any initialized language workers"
v4 Runtime
Dotnet 6
isolated
Same Code deployed to different App Service working as expected - Failing in dev, working in QA

System.InvalidOperationException at Microsoft.Azure.WebJobs.Script.Workers.Rpc.RpcFunctionInvocationDispatcherLoadBalancer.GetLanguageWorkerChannel

Per - https://github.com/Azure/azure-functions-dotnet-worker/issues/556

Tried disabling Managed Identity, Re-enabling and re

[2022-03-14 08:27] elangelo opened #829 "TimerTrigger timing out"
We recently upgraded our azure functions to dotnet-isolated. (We needed other versions of some of the azure sdks).
We host about 10 functions in a single 'instance' on a container on our AkS. All of the functions are TimerTriggered.
After the upgrade we see some of the functions failing with timeout:
Exception in Application Insights:
`Microsoft.Azure.WebJobs.Host.FunctionTimeoutException at Micro

[2022-03-15 17:25] ameyasubhedar commented on #813
@fabiocav , I did a quick prototype by making the Azure functions access level Anonymous and then using AAD to verify the signed JWT access_token passed with the authorization header.

`public async Task<HttpResponseData> RunCreate([HttpTrigger(AuthorizationLevel.Anonymous, "post", Route = "microsoftsaas/b2btenants")] HttpRequestData req)`

Sample code inside Azure function

[code]

I can now call

[2022-03-15 21:19] fabiocav commented on #813
@ameyasubhedar that's a reasonable approach.

This is more of a host/service requirement, as opposed to the worker, but what you have above is absolutely fine.

[2022-03-15 21:20] fabiocav commented on #813
Closing as resolved, but let us know if you need any additional information.

[2022-03-15 21:20] #813 closed

[2022-03-15 21:23] fabiocav commented on #815
@onionhammer Yes, you're correct and that is being addressed in the host. The runtime will be surfacing more detailed information that will enable end users (and the team) to better understand the root cause. In the meantime, having distinct issues for those scenarios helps us better assist people running into problems as we can focus exactly on what is impacting them and rely on the app informati

[2022-03-15 21:37] fabiocav commented on #818
Today, trigger initialization happens outside of the worker (in the runtime), and the triggers expect the configuration (endpoints, resources, configuration) to be defined ahead of time, as opposed to dynamically/at runtime.

What is the behavior you're observing once there's a failure? One thing we could consider would be retries that would enable you to react to, and resolve, the problem, but th

[2022-03-15 21:38] fabiocav commented on #818
Is there something that would prevent you from running this logic at deployment time? Can you share more information about your scenarios?

[2022-03-15 21:43] fabiocav commented on #827
Flagging this for investigation so we can take a closer look at the user secrets wire up and make sure this is not missed with OOP.

[2022-03-15 21:44] pseabury commented on #818
We typically have *some* value set for Auto-Delete-On-Idle.  The use case is to let the Functions host-self-initialize the dependent endpoints at startup - it checks for the endpoints/subscriptions and creates them if they aren't already created.  Worst case, if we have a function that doesn't run for some a time period exceeding the ADOI timespan, all we have to do is Start/Restart the FunctionsA

[2022-03-15 21:52] fabiocav commented on #822
@paul-datatech911 can you share your bootstrapping code? The App Insights configuration in host.json will configure the behavior for the host, but the worker, which is the process you're issuing SQL queries from, won't be automatically configured to emit those traces.

[2022-03-15 21:59] fabiocav commented on #828
@jkeeley2073 would you be able to share your Function App name so we can take a closer look at it?

Thanks!

[2022-03-15 22:00] pseabury commented on #822
Here's an example from one of our FunctionApps.  This also shows, btw, how we init required ServiceBus endpoints/subscriptions.  `RegisterContainerDI()` is just the SimpleInjector container DI setup elsewhere to keep the bootstrapping as clean as possible.

[code]

[2022-03-15 22:24] pseabury commented on #822
Also @fabiocav - is there documentation other than what I linked to in the original issue post that describes what other bootstrapping is needed?  I guess for ASP.NET applications everything is magically wired up, but not sure where to do this for Generic Host stuff.

[2022-03-17 20:44] pcolemannxu opened #831 "SB Message delivery pauses on with session enabled queues and wide session id spaces"
I have a very basic handler that receives messages from a session enabled queue. There is nothing except version 2.0 in the `hosts.json` file. This is running on .net6, function version 4, and I get the same results running locally or deployed in an Azure function.

`     [Function("DotNetIsolatedSessionsIssueTestQueue")]
     public async Task DotNetIsolatedSessionsIssueTestQueue(
         [Servi

[2022-03-17 21:45] brennfoster commented on #821
I tried to publish using function core tools but I get this error:

`Your app has an unknown FUNCTIONS_WORKER_RUNTIME defined 'dotnet-isolated'. Only dotnet, node, python, powershell, custom are supported.
You can pass --force to update your Azure app with 'None' as a 'FUNCTIONS_WORKER_RUNTIME'`

[2022-03-17 22:06] brennfoster commented on #821
I tried supplying '--force' when publishing using function core tools but the runtime still won't load any functions

[2022-03-17 22:10] kshyju commented on #821
@brennfoster Yea,  you need to use the `--force` flag.(ex: `func azure functionapp publish your_app_name --force`)

Does it make any difference if you try again to publish (using core tools)?

[2022-03-18 09:13] devJ0n commented on #687
Why not receive a IReadOnly<System.Text.Json.JsonDocument> containing all changefeed documents from the CosmosDBTrigger. You could implement your own custom logic where you filter the changefeed based on a property in the JSON structure. Then deserialize the filtered changefeed documents into your custom POCO classes.

Related question on SO:
https://stackoverflow.com/questions/71519110/have-the-d

[2022-03-18 10:14] devJ0n opened #832 "Support for error handling and retries?"
Hi,

We are currently planning upgrading/migrating Azure Functions to .NET6, Azure Function runtime v4 and the isolated (out-of-process) mode.

We are heavily relying on `CosmosDBTrigger` and need to make sure no changefeed documents/events are lost due to runtime exceptions.

Is the [Azure Functions - Retry policies (preview)](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindi

[2022-03-18 13:14] vinhent commented on #760
We are having the same issue using `Microsoft.ApplicationInsights.WorkerService` . The dependencies are collected but they are not being correlated. We can see them in App Insights, but they are not showing up underneath the request. While this is being fixed, is there any workaround that could be use to "restore" the  operation context before sending the dependency telemetry, maybe with an `Itele

[2022-03-18 15:04] markolbert commented on #374
I'm running into the same problem. From looking at the source code it seems like the media type is not being specified when JsonContent.Create() is called.

[2022-03-18 15:19] kshyju commented on #821
Just to confirm, are you seeing the value of `FUNCTIONS_WORKER_RUNTIME` setting to be "None" when you check "Settings->Configuration->Application settings" in azure portal for your app?

[2022-03-18 15:21] brennfoster commented on #821
Correct

[2022-03-18 15:34] kshyju commented on #821
We can investigate why that happened when published using CLI. Could you try manually changing the value to "dotnet-isolated" via portal and see that fixes the issue?

[2022-03-18 15:38] brennfoster commented on #821
Still seeing the error. When I initially deploy this error says "Microsoft.Azure.WebJobs.Script: WorkerConfig for runtime: None not found.". After manually changing the setting I see the below error:
![image](https://user-images.githubusercontent.com/419283/159034261-385acce1-a1b6-4eb3-ba12-a65ed2b5033c.png)

[2022-03-18 15:39] brennfoster commented on #821
Oops, wrong screen shot:
![image](https://user-images.githubusercontent.com/419283/159034593-c2d481d3-febf-48f3-bd52-fcbc7a2113e4.png)

[2022-03-18 15:54] kshyju commented on #832
Yes, retry policies are supported in isolated(out-of-process) function apps. You can enable it by adding the [retry section](https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#retry) to your host config. Here is an example host.json
[code]

   Retries require NuGet package [Microsoft.Azure.WebJobs](https://www.nuget.org/packages/Microsoft.Azure.WebJobs) >= 3.0.23

That docu

[2022-03-19 00:42] pszeder opened #833 "Registering and consuming a scoped IAsyncDisposable service blocks requests"
## Repro steps:
- Create a new Functions App project from the template:
    - .Net 6 Isolated
    - HttpTrigger
    - For simplicity anonymous authorization
- Add a new service that implements `IAsyncDisposable`:

[code]
- And register it as scoped:
[code]
- Update the function to consume it
[code]
- Send a request to the endpoint.

## Expected behaviour
Same as when the service implements `IDispo

[2022-03-19 22:02] pseabury commented on #818
I provided the required feedback already.

I'd also note that adding a hook for prereq bootstrapping - exactly like the case I've presented - is a valid use case.

[2022-03-20 01:53] paul-datatech911 commented on #822
I have provided author feedback.

[2022-03-20 04:30] hseidel opened #834 "useconsolelifetime does not invoke StopApplication when running in Console"
I am trying to understand the pattern for a graceful shutdown of an azure function and its host. Following the documentation for UseConsoleLifeTime, I tried the below (simplest of many variations and attempts).

The documentation for UseConsoleLifeTime explicitly states that it "Listens for Ctrl+C or SIGTERM and calls [StopApplication() to start the shutdown process. This will unblock extensions l

[2022-03-21 15:56] anujb opened #835 "No HotReload for Azure Functions VS Code Tooling"

[2022-03-21 17:42] SergeiBelialov commented on #747
Facing the same issue for isolated net6 v4 Function

We tried to wrap up the call to `.ConfigureAppConfiguration()` as suggested above.
We also have `host.RunAsync()`

But our call stack is a bit different from what been posted above:
[code]

[2022-03-22 03:38] murthys commented on #410
I am waiting for the same, when will going to be supported?

[2022-03-22 11:07] Manthazar opened #836 "How to access scoped services from middleware"
Hi all,

I am attempting to implement an authentication middleware. Once the auth is completed, I need to store the user context, such as the token in a scoped service (for later potential usage).

The middleware is a singleton per process, so I shall not resolve scoped services in its constructor (because the scope would then be falsely global).

Hence I attempted to use the FunctionContext to re

[2022-03-22 11:29] Manthazar commented on #836
This is more a note (as it doesn't seem to relate to my issue, but the following in DefaultFunctionContext is wrong:
[code]

If the public setter is used before the getter was used, the assigned value will be ignored and replaced on the get (since internalServicesScope is still null then)

[2022-03-22 14:38] olehgerus commented on #747
I have the same issue using docker and Linux on Azure Portal

[2022-03-22 15:18] Manthazar commented on #836
I thinks my issue is not with middleware/ azure functions. The fishy is swimming in dependency injection space.
(I tried to reproduce the case within the middleware example and it was fine!)

[2022-03-22 16:14] Ved2806 commented on #835
Hi @anujb Thank you for the feedback. We will discuss this internally and let you know about the findings. Thanks.

[2022-03-22 16:24] brennfoster commented on #821
Any updates here?

[2022-03-22 18:58] brennfoster commented on #821
I wanted to get ahead of the curve being that .NET 7 looks like it will only run out of process, but we are getting to a point where we can't wait on this anymore. Should we not be using isolated mode for linux environments?

Please advise.

[2022-03-22 21:20] fabiocav commented on #829
@elangelo since this is running in AKS, we don't really have a lot of visibility over the host behavior/logs. Do you happen to have Application Insights enabled for this? If so, are there any relevant logs you can share?

Do you have the function timeout explicitly configured for your app?

Thanks!

[2022-03-22 21:31] fabiocav commented on #831
@pcolemannxu I wouldn't expect the consumer to pause here between sessions. If there's a session available (i.e., not owned by a different instance), the listener should grab the next available one.

We'll flag this for investigation.

[2022-03-22 21:34] fabiocav commented on #832
Closing as answered, but please let us know if you have any additional questions/issues.

[2022-03-22 21:34] #832 closed

[2022-03-22 21:43] fabiocav commented on #834
@hseidel can you please share the documentation you're referencing? The pattern you're using is not actually registering the `IHostApplicationLifetime` implementation doesn't seem to be correctly used.

[2022-03-22 21:53] fabiocav commented on #836
@Manthazar I'm assuming you've looked at the sample as a reference and that was working as expected, correct?

From your sample above, can you please clarify:
- How you're registering `IActiverDirectoryLookup`
- How you're consuming `IActiverDirectoryLookup`

If you can have a small repro in a GitHub repo and share that, that would be the best option as it would enable us to take a closer look at

[2022-03-22 21:58] fabiocav commented on #822
@paul-datatech911 / @pseabury the documentation I would recommend as reference would be [this](https://docs.microsoft.com/en-us/azure/azure-monitor/app/console), towards the end (in the `next steps` section), you'll also see a link for documentation on how to enable dependency tracking.

Hope this helps!

[2022-03-22 22:07] kshyju commented on #826
@georgechond94 the graph has sampled data and may be depicting data from aggregated results. Can you verify this by looking at the raw request data in application insights logs?

[2022-03-22 22:28] paul-datatech911 commented on #822
@fabiocav  So should we be using the guidance [here](https://docs.microsoft.com/en-us/azure/azure-monitor/app/worker-service) regarding non-AspNet applications for isolated functions also?  In other words, would you recommend using the  [Microsoft.ApplicationInsights.WorkerService](https://www.nuget.org/packages/Microsoft.ApplicationInsights.WorkerService)
and then calling `services.AddApplication

[2022-03-23 01:00] #828 closed

[2022-03-23 01:00] #815 closed

[2022-03-23 02:19] pcolemannxu commented on #831
@fabiocav here's a solution which reproduces this behavior.

[dotnet-isolated-session-enabled-issue-support.zip](https://github.com/Azure/azure-functions-dotnet-worker/files/8329162/dotnet-isolated-session-enabled-issue-support.zip)

[2022-03-23 06:49] elangelo commented on #829
@fabiocav Application Insights is enabled. Is there anything specific i should be looking for?
I'm mostly concerned with your statement that because it is running in AKS we can't know what is going wrong. Isn't there a debug mode or a log gathering mode? There must be a reason why i'm hitting those timeouts without any trace of what is going wrong...

I have no timeouts configured explicitly. Prev

[2022-03-23 08:48] Manthazar commented on #836
Yes, I tried to reproduce it in the example and failed. That has led me to the conclusion that the fish is not in Azure Function Worker water.

After that, I had checked the lifetime of that service and it was _scoped_. Went down the rabbit hole and found that the caller was also _scoped_, but it has received a service provider supposedly being a _singleton_ (or in different scope) ultimately  tur

[2022-03-23 13:34] axeh commented on #382
Any progress regarding this?

[2022-03-23 14:02] brazierdavid commented on #382
It doesn't look like it will be addressed in the isolated worker model, so we're planning to revert to the "classic" in-process function app model when we migrate to .NET 6. To be honest, we only started using the isolated model because it seemed to be the strategic way forward when .NET 5 came out, but now that .NET 6 supports the in-process model with all the configurability over batch sizes etc

[2022-03-23 14:09] SeanFeldman commented on #382
@brazierdavid you might want to give it a second thought given the [Functions roadmap](https://techcommunity.microsoft.com/t5/apps-on-azure-blog/net-on-azure-functions-roadmap/ba-p/2197916)
<img width="499" alt="image" src="https://user-images.githubusercontent.com/1309622/159718369-4868e9b5-0bcd-446f-bfae-765e188c219b.png">

[2022-03-23 14:13] brazierdavid commented on #382
@SeanFeldman ah I don't think I had seen that.  Hopefully by the time they get to .NET 7 or 8 the isolated model will be feature-complete compared to in-process!

[2022-03-23 20:17] fabiocav commented on #823
FYI @mattchenderson

[2022-03-23 20:19] fabiocav commented on #827
Flagging @gzuber here as a point of contact if we need to get more information about the user secrets integration.

[2022-03-23 20:28] fabiocav commented on #810
Just wanted to provide an update here. The full deployment with updated images addressing this issue should complete this week.

We'll close this issue with an update when that is done.

[2022-03-24 04:38] kshyju commented on #821
@brennfoster We are currently investigating this issue.  Our current suspicion is that this is caused by a corrupted deployment package.

When you tried to publish, did the publish operation succeed? For example if you used VS publish option, did you see a "successfully published" message?

[2022-03-24 08:21] olehgerus commented on #821
I tried direct publish to the Azure (VS 2022, Linux app) and it is failed (`System.AggregateException: One or more errors occurred. ---> Microsoft.WebTools.Shared.Exceptions.WebToolsException: Publish has encountered an error. .`)

I also tried 'Docker Container Registry' publish and it was succeed. But the function doesn't start with the mentioned `WorkerConfig for runtime: dotnet-isolated not fo

[2022-03-24 09:51] rohaboy opened #837 "HttpRequestData cookie value is not valid"
I was trying to read cookies.

I see cookies available in HttpRequestData accessed via context.GetHttpRequestData();
However, when I see HttRequestData.Headers.GetValues("Cookie") I can see that cookie value is correct.

There is also Cookies property (i.e. HttpRequestData.Cookies), when I inspect the value which I need, I see that it is slightly different.

e.g.
HttpRequestData.Headers.GetValues(

[2022-03-24 18:00] justinmchase opened #839 "Worker standalone process?"
Right now if I run `func host start` I'm not sure what its doing but it starts up my functions and all works.

But my project is producing an exe `<OutputType>Exe</OutputType>` and if I just run it with `dotnet run` it blows up with an error about ` The gRPC channel URI 'http://:0' could not be parsed.`

I'm just wondering, is it possible to just configure my process to simply run as if I was doin

[2022-03-24 18:16] justinmchase commented on #839
May be related to #442

[2022-03-24 19:44] justinmchase commented on #839
How can I configure the gRPC channel here?

https://github.com/Azure/azure-functions-dotnet-worker/blob/704de76b5693bc24bdf6a9836ba8a109517c6a41/src/DotNetWorker.Grpc/GrpcServiceCollectionExtensions.cs#L58

[2022-03-24 20:10] justinmchase commented on #839
So am I to understand that `func host start` is essentially the main process and then it is creating multiple child processes out of my exe and passing in some CLI args for IPC? So I always have to run it via the func host?

[2022-03-24 20:10] kshyju commented on #839
The C# out-of-process function app cannot run by itself. It runs **_with the function host._**

On a high level, an out of process/isolated function app runs using two pieces, one is the function host, and the other is the isolated function application. When you run `func host start`, the host process will startup and then will internally invoke the out-of-process function app. When it does this,

[2022-03-24 20:15] justinmchase opened #840 "How do I restart the func host on build automatically?"
I'm running:

[code]
[code]

But the func host is not reloading my functions after changes. How do I have it restart automatically after I make a change?

My goal is:

1. Edit a C# file
2. Save
3. Boom Done

[2022-03-25 05:10] emiledawalibi commented on #822
hi @fabiocav, will using [Microsoft.ApplicationInsights.WorkerService](https://www.nuget.org/packages/Microsoft.ApplicationInsights.WorkerService) as above resolve issues being reported around dependency logging not being correlated with request?

[2022-03-25 18:59] brennfoster commented on #821
Publishing from Visual Studio 2022 gives me this error:
`System.AggregateException: One or more errors occurred. ---> Microsoft.WebTools.Shared.Exceptions.WebToolsException: Publish has encountered an error. We were unable to determine the cause of the error. Check the output log for more details.`

[2022-03-25 19:16] kshyju commented on #821
Thanks @olehgerus @brennfoster for confirming. I will keep this thread updated as we make progress on the investigation.

cc @balag0 FYI

[2022-03-25 22:38] #839 closed

[2022-03-26 22:15] hseidel commented on #834
@Fabio ***@***.***>

Thanks for this response. The documentation I was referring to is located here: https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.hosting.hostinghostbuilderextensions.useconsolelifetime?view=dotnet-plat-ext-6.0 .

I think your response is correct, as I was able to register the functions correctly using asp.net host running under an Azure app service.  My goal is

[2022-03-27 04:00] #818 closed

[2022-03-27 11:42] paul-datatech911 commented on #818
I provided the required feedback already.

I'd also note that adding a hook for prereq bootstrapping - exactly like the case I've presented - is a valid use case.

[2022-03-27 17:10] michaeldaw commented on #771
Thanks to everyone who's worked on this. Will it be part of a release soon? I've started a project that could really use this 😊

[2022-03-28 14:37] tnsholding commented on #810
Any updates on this? - really stuck on this one, and anxiously waiting for a fix...

[2022-03-28 18:39] brennfoster commented on #821
Interestingly, I got this to work by upgrading to v3 of terraforms azurerm provider and using the new modules for function apps.

[2022-03-28 23:18] kshyju commented on #821
FYI @eliaslopezgt

[2022-03-29 06:41] Manthazar commented on #746
The same seems to happen when you have a date as a query parameter which is not in the format it thinks it should be. Also worth to note that the http trigger then returns code 500, whereas invalid guid strings and invalid date formats should be treated as 'BadRequest' -not 'InternalServerError'

[2022-03-29 12:55] mluker commented on #805
Is it expected when using dotnet-isolated all errors to show up as RpcException?

[2022-03-29 19:19] DureSameen commented on #770
Yes, it is occurring on my side too.

[2022-03-29 21:16] fabiocav commented on #840
This is not currently supported, but flagging as a request.

[2022-03-29 21:20] fabiocav commented on #840
Duplicate of #835

Closing this as a duplicate, but we'll be following up in the next tooling sync to understand the scope of the work.

[2022-03-29 21:20] #840 closed

[2022-03-29 21:21] fabiocav commented on #840
Closing this as a duplicate, but we'll be following up in the next tooling sync to understand the scope of the work.

[2022-03-29 21:25] fabiocav commented on #836
No worries! Glad you found the root cause.

One thing that might help identify similar issues in the future is the enablement of scope validation.

Something similar to what is described [here](https://github.com/Azure/azure-functions-dotnet-worker/issues/811#issuecomment-1051052233)

[2022-03-29 21:25] #836 closed

[2022-03-29 21:26] fabiocav commented on #834
Thank you for the update, @hseidel !

[2022-03-29 21:26] #834 closed

[2022-03-29 21:29] fabiocav commented on #829
@elangelo what I meant is that we (as in the Azure Functions team) won't have access to the application logs we'd typically use to investigate those issues.

You should be able to find information about the offending function, duration and what lead to the timeout in Application Insights.

[2022-03-29 21:30] fabiocav commented on #822
@emiledawalibi it should. Have you found problems with it?

@paul-datatech911 / @pseabury have you been able to validate the functionality?

[2022-03-29 21:32] fabiocav commented on #821
Leaving this open as we'll need to continue investigating the deployment issue with the folks @kshyju has tagged above.

[2022-03-29 21:40] fabiocav commented on #808
The default implementation [here](https://github.com/Azure/azure-functions-dotnet-worker/blob/f6c139f1990b3b94fb61408aa09090bd668c927b/src/DotNetWorker/Hosting/WorkerHostBuilderExtensions.cs#L149-L176) adds all of the default services, including the gRPC based communication services.

You can bypass that by using [this instead](https://github.com/Azure/azure-functions-dotnet-worker/blob/f6c139f199

[2022-03-29 21:41] fabiocav commented on #734
Closed as answered. Please let us know if you continue to run into issues.

[2022-03-29 21:41] #734 closed

[2022-03-29 21:55] #837 closed

[2022-03-30 00:43] paul-datatech911 commented on #822
@fabiocav - I expect to get back to that task in the next few days and can report back then.

[2022-03-30 02:22] justinmchase commented on #840
I was able to solve this by adding this to my csproj...

[code]

And then run
[code]

[2022-03-30 02:22] justinmchase commented on #835
I was able to solve this by adding this to my csproj...

[code]

And then run
[code]

[2022-03-30 04:00] #826 closed

[2022-03-30 10:14] mdddev commented on #835
Hi, this is the workaround the OP referenced above. It basically starts/stops the process automatically and does not inject changes in the running process, which hot reload is supposed to do.

[2022-03-30 10:15] mdddev commented on #835
Hi, this is the workaround the OP referenced above. It basically starts/stops the process automatically and does not inject changes in the running process, which hot reload is supposed to do.

[2022-03-30 14:36] elangelo commented on #829
Do you know what specifically i should be looking for? I have been digging through traces, customevents, exceptions and other things  and i have not found anything remotely related to any causes of this.

[2022-03-30 17:38] pmonte commented on #760
From what we can see from our tests `_logger.BeginScope("MyScope")` doesn't work in Function, i.e. the log appears in Application Insight but Scope is not set in customDimensions.

[2022-03-30 17:49] #824 closed

[2022-03-30 20:23] fabiocav commented on #677
We're still iterating on the PR, which is now ready for review after the last round of updates. Moving this to 119.

[2022-03-30 20:26] fabiocav commented on #530
PR for this is out and being reviewed (#814)

[2022-03-30 20:32] fabiocav commented on #831
@satvu  and @kshyju will drive this from the worker side, but @alrod is performing the initial investigation for the trigger.

[2022-03-31 10:06] mkzer0 commented on #281
What’s the latest on this issue? We’d really like to expand our api contract testing to isolated azure functions in dotnet. We can do this with TestSever for our dotnet core mvc apps. What’s the ETA?

[2022-04-01 02:24] msft-mw opened #845 ".NET6 isolated function on Windows fails"
I have a pair of functions in a .net 6.0 v4 project. When running locally they both work as expected - one is a queue trigger and the other is a timer trigger. But when I zip deploy to a function app in Azure, ~only the queue triggered function works. The timer triggered function fails immediately with the following error:~

EDIT: on further investigation, it doesn't appear that the queue function

[2022-04-01 16:08] msft-mw commented on #845
Adding some more context about the app configuration:

![image](https://user-images.githubusercontent.com/23460969/161300662-ba7ab692-9e05-48fe-a38d-448bf9739ecf.png)

`FUNCTIONS_EXTENSION_VERSION` is set to `~4`
`FUNCTIONS_WORKER_RUNTIME` is set to `dotnet-isolated`

The project configuration is set to net6:

[code]

But when I look at the functions in the portal, I see this warning banner: (`Edi

[2022-04-01 16:58] liliankasem opened #846 "Log user exceptions to application insights directly"
Related to https://github.com/Azure/azure-functions-host/issues/4296

As part of the work going into the above issue to throw a new type of exception for invocation failures, we want to make changes on the worker side to log unhandled user exceptions rather than letting them bubble up to the host - this will give users full exception details, instead of having them all wrapped with RpcException or

[2022-04-01 18:59] msft-mw commented on #845
Additional information from Kudu logs:

[code]

[2022-04-01 19:55] JustinGrote commented on #846
I would clarify this that the worker side can *handle* user exceptions rather than *log*, log gave the impression to me that it would just put in an info log, rather than allow the worker to do things like present its own language version of the exception to Application Insights, but still be able to report to the host that the function failed and avoid a duplicate exception (which is what is happ

[2022-04-01 20:56] satvu commented on #831
Updating w/ investigation from @alrod:
This behavior is by design. We have different default values and [schema](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Fazure-functions%2Ffunctions-bindings-service-bus%3Ftabs%3Din-process%252Cextensionv5%252Cextensionv3%26pivots%3Dprogramming-language-csharp%23hostjson-settings&data=04%7C01%7Csarahvu%4

[2022-04-01 20:56] #831 closed

[2022-04-03 13:42] bbieniek commented on #808
Thanks for the information.

[2022-04-03 13:42] #808 closed

[2022-04-04 12:40] Y-Sindo commented on #566
@jairzjunior The 1.7.0 version is released with multiple instances support. Please have a try.

[2022-04-04 13:30] nathanarca commented on #821
I dont know what happening, but in last friday i had the same problem, bu now he dont back happening. had any update on this weekend?

[2022-04-04 18:07] #805 closed

[2022-04-04 19:51] willyt150 commented on #747
Running into this issue ("Did not find any initialized language workers") on one of our 2 .net 6 isolated functions (Linux Consumption Plan).

Figured out that the one failing (and Http Triggered function) was using `Microsoft.Extensions.Azure.AddAzureClients` to add a ServiceBusClient for DI so we could send off service bus messages at completion, and working function didn't have this.

Since it'

[2022-04-04 20:03] kshyju commented on #747
@willyt150 Just to confirm, did you have the `TempSBConnectionString` (or any other settings value you have in your local environment) set up correctly in azure (Configuration->Application settings)?

[2022-04-04 20:22] willyt150 commented on #747
Yes, I double and triple checked to make sure that I wasn't going crazy, and all the settings I have in my `local.settings.json` file exist up in the Azure Function's Application Settings.

[2022-04-04 21:05] paul-datatech911 commented on #822
@fabiocav  OK another update - if I use the Microsoft.ApplicationInsights.WorkerService package AND configure it to use the legacy headers, it works.   I feel like this might be more of a workaround than a solution.  Official guidance for a situation like this would be beneficial.

[code]

[2022-04-04 21:27] willyt150 commented on #747
@kshyju I apologize for wasting your time. I have confirmed the issue was totally of my doing with the Managed Identity auth using the service bus namespace. Still not sure why it also failed w/ the Connection String approach though....

I'm reusing the "ServiceBusConnection__fullyQualifiedNamespace" app setting, that's needed with the new Service Bus Trigger to support Managed Identity auth, as t

[2022-04-04 21:33] kshyju commented on #747
@willyt150 Glad you got it figured out. We are working on improving the logging on worker startup failure scenario so that it will show detailed cause of failure in app-insights/log stream.

[2022-04-05 23:17] msft-mw commented on #845
This turned out to be an issues with indirectly referenced old packages, configuration, and the publishing profile, all of which were only discoverable in the Kudu logs. The issue can be considered resolved, but some information from the team about **if or how the issue could've been seen in the portal would be very helpful for future readers.**

**Issue 1: It was not possible to find any compatib

[2022-04-06 09:13] oatsoda commented on #619
Just to confirm - at the moment, Dependencies in AppInsights are not working in Isolated Process functions?

Because that's what I am seeing.  The only dependencies that get logged are when I have an Output Binding.   But a dependency like an Http call inside the function logic is not being logged in AppInsights.

Is it actually not tracking them, or is it a similar to [this Log Category issue](ht

[2022-04-06 13:19] dezedan opened #848 "The KafkaTrigger input parameter doesn't expose the (consumeResult.Message.)Key property"
I tried to dive into the package but honestly couldn't make (too much) sense of it. This package references Microsoft.Azure.WebJobs.Extensions.Kafka v3.3.2 to expose the kafka message properties.

Looks like it returns a serialised KafkaEventData<TValue> object rather than KafkaEventData<TKey, TValue>.

[2022-04-06 19:36] af4jm commented on #760
we can't get Azure pipelines to build correctly with `Microsoft.ApplicationInsights.WorkerService` ... for .NET 5 projects the work-around is to have the pipeline download the 3.1.x SDK, then 5.0.x ... but with .NET 6 the NuGet restore fails, whether the SDK 3.1 step is there or not, so we're stuck on 5 until this is resolved (we're running isolated process, in case it's relevant)

in both cases t

[2022-04-07 07:45] oatsoda commented on #549
This documentation for Isolated Process functions needs updating:

https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#logging-services

"Don't register your own TelemetryConfiguration or TelemetryClient if you are using the built-in Application Insights functionality. If you need to configure your own TelemetryClient instance, create one via the injected T

[2022-04-07 08:32] Hipster74 commented on #404
Hmm, still missing the TableOutput attribute in `Microsoft.Azure.Functions.Worker.Extensions.Storage`?

What is the preferred  workaround at the moment?

Would be great to have it back.

Would it be possible to use CosmosDb workerextension and target table storage some way maybe?

[2022-04-07 08:34] longtimedeveloper commented on #404
@Hipster74 see my above comments.  It's very easy to change the code to use the APIs without the input binding.  Hope this helps.

[2022-04-07 08:42] Hipster74 commented on #404
Ok, thanks @longtimedeveloper , yes, I have already injected a TableService client in DI for other purposes so should be an easy fix to use it for function output as well.

Just feels a bit backwards since it is available in the samples :-)

[2022-04-07 16:17] smokedlinq opened #849 "Scale controller does not support .NET config sections on connection settings"
I'm not sure this is specific to QueueTrigger, but that's where I noticed the failure to scale out was driven by the connection using a config section. We do this because we use configuration management to bind other configuration section values that drive behaviors in the code. Would be nice if the scaler controller supported .NET configuration sections when used like this, or maybe an analyzer t

[2022-04-07 21:38] SeanFeldman commented on #226
The roadmap for Azure Functions had the following for [.NET 7 and beyond](https://techcommunity.microsoft.com/t5/apps-on-azure-blog/net-on-azure-functions-roadmap/ba-p/2197916):

Are there _any_ discussions taking place to address the gap in the Azure Service Bus trigger? It's only growing, making Isolated Worker SDK only usable for read-only operations with auto-completion but not any other scena

[2022-04-08 01:11] kshyju opened #850 "Add startup logger to log startup code failure"
Add proper error logging when the extension startup code crashes (during app startup/bootstrapping).

[2022-04-08 18:13] #530 closed

[2022-04-11 11:48] rodchenkov opened #851 ".NET Isolated DateTime Route parameter issue"
Hi and looks like it is same issue as this one #521 but for DateTime.

[code]

The error that I'm getting

Thanks

[2022-04-13 14:50] SeanFeldman commented on #303
Being able to change the queue name w/o hard-coding queue name would be helpful. Are there any considerations for imperative binding support being exposed by the worker SDK after a year? Or is there an alternative that is documented, @fabiocav ?

[2022-04-13 16:37] SeanFeldman commented on #414
As someone that has gone through trying to figure out how to do authentication using middleware for this SDK, this is not the experience I'd like developers to go through. Isolated Worker SDK middleware is a solid tool to tap into the pipeline. It falls short by supporting anything other than the trivial termination or enrichment. Combined with the forced reflection to access specifically typed ne

[2022-04-13 17:26] victormarante opened #853 "Is gRPC supported by Azure Functions?"
Hi,

Is it possible to run gRPC with Azure Functions? Based on the code on this NuGet, I assume you can, but I don't see any instructions how to do so, if triggers for it have been implemented?

[2022-04-13 18:16] fabiocav commented on #845
Thank you for the update.

Do you have a repro you could share with us? I don't want to close this as resolved as I believe there are enhancements we can make that would, at least, make this simpler to diagnose, so we would like to validate the scenario.

Thanks!

[2022-04-13 18:20] msft-mw commented on #845
Yes I think so. The repro for issue 2 should be trivial, but issue 1 might be harder. Let me look into this a bit and get back to you.

[2022-04-13 18:22] fabiocav commented on #848
@shrohilla could you please provide some feedback here and share the plans/guidance?
Thanks!

[2022-04-13 18:30] fabiocav commented on #849
@smokedlinq this could be a defect in the scale controller parsing of the configuration path (the app setting reference). If this is on Windows, have you tried using a `:` when defining the connection instead?

We'll leave this open for further investigation.

[2022-04-13 18:33] fabiocav commented on #853
@victormarante are you referring to the ability to trigger over gRPC? If so, that isn't a supported Functions scenario today.

[2022-04-13 18:40] fabiocav commented on #829
The typical approach when investigating those cases, if no logs are present, would be to inspect the processes, as a timeout could be triggered by the code hanging and never returning a result. Inspecting a dump of the worker process when in that state would be a good way to start.

[2022-04-13 18:43] victormarante commented on #853
Hi, thanks for Quick reply. Yes, my question is if it is possible to use gRPC with functions?

My use case is to have multiple functions behind an API Management service, and rely on gRPC for inter-communication between functions. I assume then that this is not a supported scenario?

[2022-04-13 18:43] fabiocav commented on #822
Thank you for the update. We'll be flagging this as a scenario we need to investigate to define the work needed to remove this friction.

Thanks for the update. Glad to hear this seems to be working for you at this point

[2022-04-13 18:46] fabiocav commented on #853
That's correct. This is not a supported scenario today and I, unfortunately, don't have anything to share on plans to support this in the near future.

[2022-04-13 18:54] victormarante commented on #853
Hi. Thanks for the replies. Feel free to close.

[2022-04-13 20:15] msft-mw commented on #845
[repro.zip](https://github.com/Azure/azure-functions-dotnet-worker/files/8484410/repro.zip)

## Repro instructions
1. Download and unzip the attached respro code.
2. Create a function app with the following settings:
    - `net6.0`
    - `v4`
    - `dotnet-isolated`
    - `windows`
3. Create a user managed identity and assign it to the function. The function _should not_ have a system assigned ide

[2022-04-13 20:26] fabiocav opened #854 "Generate source for function indexing"
Once the work in #676 is merged, we should enhance the process with a source generator that will create the code that will be compiled into the worker with the metadata definition, bypassing the process that performs this work at runtime.

[2022-04-14 10:09] andersson09 opened #855 "Conditional middleware"
Can azure functions isolated support conditional middleware?:
.e.g. UseWhen(context =>, appBuilder =>)

I have middleware that I would only like to use with HttpTriggers.

Thanks

[2022-04-14 13:05] mauleb commented on #530
Howdy @fabiocav, I see there were periodic releases until about 5 months ago. Forgive me if this is published somewhere I'm not seeing but when do you anticipate the next version will be pushed out with the changes described/introduced here and in #814?

[2022-04-14 15:10] kshyju commented on #530
@mauleb We plan to release next week. I will update this thread when the packages are published. Thanks!

[2022-04-14 16:45] SeanFeldman commented on #530
@kshyju would documentation get some love as well?

[2022-04-14 17:01] SeanFeldman commented on #855
Good question. Should be looked at from a broader perspective. What if my middleware is only for Service Bus triggers. Or Blobs.
Theoretically, it's possible by looking at some sort of object in the binding context. This is how I've done in week HTTP triggers out in the middleware. But since there could be any type of trigger, it would require knowing a corresponding type for each trigger to look

[2022-04-14 17:15] kshyju commented on #530
Absolutely. That is the plan.

[2022-04-14 17:28] SeanFeldman opened #856 "Authentication/Authorization aligned with ASP.NET API"
This is more of a question/feature request.

HTTP triggered Functions are great for API implementation. With the Consumption plan or client-side architected applications, HTTP triggered functions are a great choice for backend API implementation. Anyone coming from the ASP.NET API world is familiar with Authentication/Authorization concepts. Unfortunately, there's no equivalent for Azure Functions

[2022-04-14 17:57] mattchenderson opened #857 "Update stacks API to include isolated worker types"
Currently the stacks API does not include Isolated workers, and it probably should. There will be some naming that we need to resolve for the various versions, just for display purposes in consuming tooling. The primary tools which consume this are the portal and Azure CLI.

Within host v4, we'd want to add:
- .NET 6 Isolated
- .NET Framework Isolated - (not yet available, but we would want to mak

[2022-04-14 18:34] mattchenderson opened #858 "Durable Functions in .NET Isolated worker should support .NET Standard 2.0"
Related to https://github.com/Azure/azure-functions-dotnet-worker/issues/767 but capturing an additional requirement that may be handled as a separate piece of work.

The worker SDK extension should be able to target .NET Standard 2.0 in addition to .NET 6. This would allow projects to specify a broader set of target frameworks.

[2022-04-14 19:44] mattchenderson commented on #404
https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.Tables/1.0.0 is now a GA version, and we should have a similar package here, too. It should not be housed under Microsoft.Azure.Functions.Worker.Extensions.Storage, but rather something like Microsoft.Azure.Functions.Worker.Extensions.Tables. The readme for the Storage package (5.x version) on nuget.org should be updated to help red

[2022-04-15 22:22] fabiocav opened #859 "Update extension generator Functions SDK reference"
The extension project currently references the Functions SDK 3.0.13/4.0.1. The template should be updated to use the latest versions of the SDK.

[2022-04-18 20:28] #853 closed

[2022-04-19 12:25] dasokume commented on #821
I had the same issue, but after updating my Nuget packages the issue is gone.
I hope that can be helpful for someone
![image](https://user-images.githubusercontent.com/35662765/164002731-930e85a2-43bd-4d12-b59b-cb09cba2919b.png)
https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions?tabs=isolated-process%2Cv4&pivots=programming-language-csharp

[2022-04-20 10:38] sulmanm commented on #821
I am having same issue.
Created .NET 6.0 Isolated Function (with Http trigger) in Visual Studio 2022. Then When I run it in VS 2022, same error:

![image](https://user-images.githubusercontent.com/24681343/164212847-3c78faf7-c5dc-4c3b-8952-27cbe0be7a50.png)

All the required nuget packages are installed
![image](https://user-images.githubusercontent.com/24681343/164212994-a9c34566-eefb-40a4-ae99-d

[2022-04-20 15:39] kshyju commented on #821
@sulmanm Could you share your repro(which fails locally as well) as a GH repo?

[2022-04-20 18:15] brettsam commented on #778
@hkusulja -- I believe all of your questions were answered here, but in summary -- the dotnet-isolated worker does *not* expose any true HTTP endpoint, which means that ASP.NET classes and concepts do not translate 1:1. We explicitly expose our own `HttpRequestData`, class, for example, and do not use the `HttpRequest` from ASP.NET.

Ultimately, the dotnet-isolated worker is a console application

[2022-04-20 18:22] fabiocav commented on #857
This has a dependency on improvements we need to make to the host behave as expected when the runtime is set to `dotnet-isolated` and no payload is deployed.

[2022-04-20 18:34] mattchenderson commented on #857
Depends on https://github.com/Azure/azure-functions-host/issues/8311

[2022-04-20 19:02] fabiocav commented on #845
Thank you for sharing the details. Out of curiosity, did you have App Insights enabled for your functions? Did that provide any helpful information?

[2022-04-20 20:08] msft-mw commented on #845
Hi fabiocav, App Insights was enabled and the callstack in the first post of this issue was gathered from App Insights, but that's the extent of the information that it provided.

[2022-04-20 20:10] fabiocav commented on #859
This is the relevant code: https://github.com/Azure/azure-functions-dotnet-worker/blob/d4d4e95f048f197ef160d455b1fc795e2aedb605/sdk/Sdk/ExtensionsCsprojGenerator.cs#L56

[2022-04-20 20:23] fabiocav commented on #849
For now, the guidance is to use the same format, as the scale controller is performing a literal comparison when evaluating those references.

[2022-04-20 20:24] fabiocav commented on #849
Closing as answered, but please let us know if you have any other questions/issues.

[2022-04-20 20:24] #849 closed

[2022-04-20 20:29] fabiocav commented on #850
If you're using the prefix defined [here](https://github.com/Azure/azure-functions-host/blob/eebfec15d1e7df0d37fc28a6bb7943c04062647f/src/WebJobs.Script/Workers/WorkerConstants.cs#L35), you should be able to see those messages handled by the host.

[2022-04-20 21:55] tom985 opened #862 "Cosmosdb input error converting document"
I can't get the Cosmosdb input working:
[code]

Code:

[code]

Tried Microsoft.Azure.Functions.Worker
1.7.0-preview1 and 1.6.0
Microsoft.Azure.Functions.Worker.Extensions.CosmosDb
4.0.0-preview2 and 3.0.9

[2022-04-20 22:58] mattchenderson commented on #858
Possibly useful reference: https://github.com/Azure/azure-functions-dotnet-worker/pull/799

[2022-04-21 00:41] mattchenderson opened #863 "GA versions of worker extensions for latest trigger and binding extension versions"
There is a batch of worker extensions that are still in preview and reference preview versions of the corresponding host extensions, but those host extensions are GA. These should be updated to GA versions, referencing the GA host extensions.

It may be appropriate to split these out into separate work items, but for brevity and getting it captured:

| Service | Worker Extension | Code link | Host

[2022-04-21 06:55] sulmanm commented on #821
GitHub Repo can be found here: [FunctionAppTest](https://github.com/sulmanm/FunctionAppTest)

[2022-04-21 08:06] elliotchaim commented on #810
I fixed this issue by changing the base image to `mcr.microsoft.com/azure-functions/dotnet-isolated:4-dotnet-isolated6.0-appservice`.

I only figured this out after finding some obscure documentation somewhere. Really need to improve the docs for this!

[2022-04-21 09:40] #862 closed

[2022-04-21 18:50] hagagps commented on #619
We are currently working around this by adding the insights worker service to get dependencies (AddApplicationInsightsTelemetryWorkerService) and implementing custom middleware (IFunctionsWorkerMiddleware) to get distributed tracing.

`
public async Task Invoke(FunctionContext context, FunctionExecutionDelegate next)
{
    using (var operation = _telemetryClient.StartOperation<RequestTelemetry>(co

[2022-04-21 20:15] kshyju commented on #821
@sulmanm Thanks! I was able to run this project without any issue.

[2022-04-22 08:20] sulmanm commented on #821
For me it does not work and fails with error: WorkerConfig for runtime: dotnet-isolated not

I am running Visual Studio 17.1.5 on Window 10

![image](https://user-images.githubusercontent.com/24681343/164648170-1b1be6a3-4652-47b7-81a0-9eb04a585404.png)

[2022-04-22 14:58] SeanFeldman commented on #530
@kshyju following up on the documentation 🙂

[2022-04-22 15:38] hagagps commented on #619
We are currently working around this by adding the insights worker service to get dependencies and implementing custom middleware (IFunctionsWorkerMiddleware) to get distributed tracing.

[code]
[code]

We also set ResponseCode appropriately.

You can also remove duplicate request entries in host.json:
[code]

In order to get cosmos dependencies for service bus and change feed triggers, we had to

[2022-04-22 17:26] kshyju commented on #821
@sulmanm Could you try in a second machine? If still reproducing, please open a new issue and continue the conversation there. Let's keep this issue for azure deployment behavior. Thanks!

[2022-04-25 11:00] sulmanm opened #866 ".NET 6.0 Isolated functions' in Visual Studio 2022: WorkerConfig for runtime: dotnet-isolated not"
When I am running the .NET 6.0 Isolated functions' locally in Visual Studio 2022 i am getting the error:

A host error has occurred during startup operation 'dcaec2a4-21c8-4c41-a4e2-cb06e5f32e64'.
[2022-04-25T10:59:39.918Z] Microsoft.Azure.WebJobs.Script: WorkerConfig for runtime: dotnet-isolated not found.
Value cannot be null. (Parameter 'provider')

![image](https://user-images.githubuserconten

[2022-04-25 15:35] kshyju commented on #866
Thanks for providing the GH repo for repro.  I tried it in 2 different Windows 11 machines running VS 17.5.1 and it worked fine without any issues.

@sulmanm Could you check whether azurite is running when you are getting this error. You could also try using a valid azure storage account connection string as the value of `AzureWebJobsStorage` setting in `local.settings.json` and see that works. Th

[2022-04-25 15:56] satvu commented on #866
I just tried the repro on a Windows 10 machine with the same OS and version as yours @sulmanm and it worked for me - here's some extra info on my setup:

**Azure Functions Core Tools**
Core Tools Version: 4.0.4483 Commit hash: N/A  (64-bit)
Function Runtime Version: 4.1.3.17473

**VS Version 17.1.5**

[2022-04-25 16:18] kshyju commented on #866
@sulmanm Is it possible for you to try your repro in a second machine/environment?

[2022-04-26 06:42] shahabganji commented on #821
For future references:  I had the same issue when I am trying to dockerize the application:

By adding the `ENV FUNCTIONS_WORKER_RUNTIME=dotnet-isolated` to my docker file. This usually should reside on your `local.settings.json` or on the configuration of the azure function app.

my docker file:

[code]

[2022-04-26 11:15] Arash-Sabet commented on #414
@SeanFeldman Very well said.

[2022-04-26 15:04] godefroi commented on #340
@kshyju So, your last comment was more than two months ago, do you have a status update?

[2022-04-26 15:24] stephanruhland commented on #340
Couldn't you change the HttpResponse with the IFunctionFilters?

e.g. https://github.com/Azure/azure-webjobs-sdk/issues/2546

[2022-04-26 16:24] SeanFeldman commented on #340
And, not all funcitons are HttpResponse. So the semantics have to work with triggers other than HTTP.

[2022-04-27 15:19] kshyju commented on #866
You can open a command prompt/terminal and run `azurite` command. If it is not already running, it will start.

![image](https://user-images.githubusercontent.com/144469/165551868-51c45da9-e5b3-4060-b347-31e343c67ca0.png)

After manually starting azurite, try running the azure functions project and see if that works.

Ideally, Visual studio should start azurite automatically for you when you do F5

[2022-04-27 19:18] ahsanhabib91 opened #867 "How to add Azure Key Vault Secret value inside the Connection parameter of EventHub Output binding attribute?"
I have a simple Azure Function **.NET 6 Isolated process** with **HttpTrigger** which sends data to **EventHub** through **output binding**. The Output binding attribute is like `[EventHubOutput("my-eh", Connection = "EventHubConnectionString")]`. Now, I would like to set the **EventHubConnectionString** from a **Secret** saved in **Azure Key Vault**. How to do it?

**Note:** I know [Key Vault ref

[2022-04-27 22:00] #829 closed

[2022-04-28 05:34] tanveerbadar commented on #255
The only way I found to be working is if you provide the schedule through environment when running locally.

Going to give it a shot in function app deployment once I am done with development.

[2022-04-28 07:24] m-moris opened #868 "How to detect kind of trigger in middleware"
Hi.

I would like to detect kind of trigger (e.g. http triggers or timer trigger) in middleware , and I have examined the FunctionContext object, but it does not seem to have any definitive attributes to detect the trigger.

How can I detect the type of trigger?

[2022-04-28 08:08] shanerowley-ds commented on #366
Hi, this appears to be exactly what I want. I'm using Postman and adding a couple files in the Body Form-Data. But an exception is thrown every time the line is executed. I'd appreciate some help.

`await MultipartFormDataParser.ParseAsync(httpRequestData.Body)`

Using MultipartFormDataParser 5.0.0 or 5.01, the error is
_Value cannot be null. (Parameter 'source')_
I don't know what this 'source',

[2022-04-28 09:44] acrov commented on #366
@shanerowley-ds from the symptoms you describe this seems more likely an issue with the [MultipartFormDataParser](https://github.com/Http-Multipart-Data-Parser/Http-Multipart-Data-Parser) than with azure functions dotnet worker so you'll probably get a better response if you raise a new issue (with some minimal repro code) there.

[2022-04-28 11:39] benjaminrhope commented on #848
Ran into this issue as well. The input string seems to be missing the Key-property: `{"Offset":5,"Partition":0,"Topic":"test_input","Timestamp":"2022-04-28T11:24:28.961Z","Value":"\"test string\"","Headers":[]}`

Furthermore, I could not find a way to set the Key (or Header) property in the output binding. Is it supported? The provided example will set the value only: https://github.com/Azure/azur

[2022-04-28 12:07] shanerowley-ds commented on #366
Great success! Thanks, that helped a ton. Made my day. The issue was reported there a few times already. I'm feeling a little silly - wish I looked there immediately instead of the 50+ browser tabs I had opened prior trying to figure out how to upload a file.

[2022-04-28 23:49] #798 closed

[2022-04-29 13:48] jsquire opened #869 "[QUERY] How to set Azure Key Vault Secret value as the Connection parameter of EventHub Output binding attribute?"
# Issue Transfer

This issue has been transferred from the Azure SDK for .NET repository, [#28443](https://github.com/Azure/azure-sdk-for-net/issues/28443).

### Please be aware that @ahsanhabib91 is the author of the original issue and include them for any questions or replies.

## Details

### Library name and version

Microsoft.Azure.Functions.Worker 1.6.0, Microsoft.Azure.Functions.Worker.Sdk

[2022-04-29 13:49] jsquire commented on #869
### Suggestion from the Azure SDK Team:

Locally, this can be done by [customizing configuration sources](https://docs.microsoft.com/azure/azure-functions/functions-dotnet-dependency-injection#customizing-configuration-sources) during the Functions startup and hooking into Key Vault with the [Azure.Extensions.AspNetCore.Configuration.Secrets](https://docs.microsoft.com/en-us/azure/azure-functions/

[2022-04-29 13:50] jsquire commented on #869
### Response to Suggestion from the Azure SDK Team:

Hi @jsquire Thanks for the comment !!! So I applied what you have suggested. But sadly, I couldn't make that work. I am able to get Secrets through regular SDK. So permissions are correctly configured inside KeyVault. Here is my updated **Program.cs:**

[code]
Whenever I run the Function, I got this error:

which means, the **EventHubConnectionS

[2022-04-29 13:51] jsquire commented on #869
### Azure SDK Team Response:

Unfortunately, we're beyond my knowledge of how the Functions host integrates with configuration; in theory, using the ASP.NET Core extension should work.

Since the scope of your question is beyond anything that the Event Hubs extension can control, we're going to need to engage the team that owns the Functions workers and host.  To do that, I'm going to transfer thi

[2022-04-29 16:13] shrohilla commented on #848
@fabiocav does dotnet language worker supports parsing of string serialized into object ??

[2022-05-02 08:47] JosefBackovsky commented on #821
We have same exception „WorkerConfig for runtime: dotnet-isolated not found„ in logs from time to time. Azure function runs on Windows Operating System with „dotnet-isolated“ properly set in „FUNCTIONS_WORKER_RUNTIME“. Deployed via Azure DevOPS pipeline.

Exception appliers in small batch of 6 - 8 for two minutes. Then dissipater and system works properly.

[2022-05-02 18:19] surgupta-msft opened #870 "Handling WorkerTerminate message for graceful shutdown of dotnet worker"
Host will send a [WorkerTerminate](https://github.com/Azure/azure-functions-language-worker-protobuf/blob/58b3dc0dbde065b15bd979bd2e27f36b7ee6273e/src/proto/FunctionRpc.proto#L39) message to worker to allow the worker to terminate itself gracefully instead of immediately killing it. Worker to act on this signal and send Success response to Host.

Related issue on Host side - https://github.com/Azu

[2022-05-03 13:24] sulmanm commented on #866
`azurite `is already running.
![image](https://user-images.githubusercontent.com/24681343/166461057-d4cc7a50-4207-4319-8b9d-abcbbeaa9cf6.png)

[2022-05-04 01:04] JoshLove-msft commented on #869
I think the issue is that when using KeyVault you will need to use a colon for your config rather than double underscore, e.g. the key would be my-eh:fullyQualifiedNamespace

[2022-05-04 08:55] wesselkranenborg commented on #821
Same issue here indeed. We deploy to a staging slot, do a warm-up of our eventhub triggered function and when we swap the slot to production. During swap we see the following errors in application insights and they recover themselves but it causes downtime in the processing of events coming from event hubs during that period.
<img width="739" alt="image" src="https://user-images.githubusercontent.

[2022-05-04 15:59] jamyc commented on #845
@fabiocav same issue for us. Previously had consistent failures as seen in #556, but now they're very sporadic.
Out of the 2.39M executions in the past 7 days, we've had 25 failures with this `System.InvalidOperationException`.

Setup:
Operating system: `Windows`
App Service Plan: `Consumption`
Runetime version: `4.3.0.17971`
WindowsFxVersion: `DOTNET-ISOLATED|6.0`
FUNCTIONS_EXTENSION_VERSION: `~4

[2022-05-04 17:25] #543 closed

[2022-05-04 18:30] JoshLove-msft commented on #869
I just helped investigate an issue with the same error message that was not involving an isolated worker. The root cause was that when using a config provider for AzureAppConfig, nested settings needed to use a colon rather than a double underscore.

[2022-05-04 18:32] fabiocav commented on #867
Duplicate of #869

[2022-05-04 18:32] #867 closed

[2022-05-04 18:34] fabiocav commented on #778
Closing as answered based on the information shared above, but please let us know if you have any additional questions.

[2022-05-04 18:34] #778 closed

[2022-05-04 18:40] ahsanhabib91 commented on #869
@JoshLove-msft Actually, **EventHubConnectionString** is my **Secret** that is saved in the **KeyVault**. It's a flat value and not saved as nested. Now I want to use this as the **Connection** of **EventHubOutput** binding attribute. But facing problem in doing so !!!

[2022-05-04 18:45] JoshLove-msft commented on #869
Ah I see. In that case, please disregard my comment 😄

[2022-05-04 20:15] fabiocav commented on #323
Adding this to the backlog, but this currently has a very low priority. Will keep this open here to track the request.

[2022-05-04 20:17] fabiocav commented on #448
Closing as resolved.

[2022-05-04 20:17] #448 closed

[2022-05-04 21:09] #851 closed

[2022-05-04 21:44] kshyju commented on #868
Trigger is an input binding with the `Type` property value having the "**_Trigger_**" suffix. You can get this information as shown in the below example.

[code]

[2022-05-05 00:05] CezaryKlus commented on #418
I'm another one struggling with this issue. There need to be a bridge to the host process enabled. Why not reuse the concept of in-process `FunctionsStartup`?

[2022-05-05 13:19] justinmchase opened #872 "How can I set the attributes of KafkaTrigger from environment variables?"
I am unable to statically compile these attributes into the application, so how can I configure them to be pulled from environment variables? I'm assuming there is some pattern I can follow for configuration but I'm not sure how to predict that yet:

For example I am wanting something effectively like this:

[code]

Here is my config:
[code]

But this is giving me this error ` '%Kafka:BootstrapSer

[2022-05-05 16:30] brettsam commented on #866
I think there's 2 things that we need to look at to narrow down the issue:
1. Is the build output on the "bad" machine correct?
2. If so, is there something in the environment that's causing the config to not be found on startup

To see if the output looks correct, can you try taking the build output (the whole `/bin` folder) from one of your "working" machines and copy it to your "broken" machine

[2022-05-05 18:17] kshyju commented on #868
Closing as answered. Please let us know if you have any more questions.

[2022-05-05 18:17] #868 closed

[2022-05-05 18:29] kshyju commented on #855
[Version 1.8.0-preview1](https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker/) of `Microsoft.Azure.Functions.Worker` package introduces the `UseWhen` extension method which will allow you to register a middleware which gets executed conditionally.

Sample usage.

[code]

[2022-05-05 18:33] andersson09 commented on #855
Nice. Thank you.

[2022-05-05 18:45] kshyju commented on #739
[Version 1.8.0-preview1](https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker/) of `Microsoft.Azure.Functions.Worker` package introduces a few new APIs which addresses the 3 items mentioned.

1.  To update input binding data, output binding data and invocation result, use any of the below extension methods on FunctionContext.
[code]
[The sample project](https://github.com/Azure/azure-fu

[2022-05-05 18:57] kshyju commented on #340
[Version 1.8.0-preview1](https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker/) of `Microsoft.Azure.Functions.Worker` package introduces a few new APIs which can be used to read & update input binding, output binding and invocation result data. Please give it a try and let us know what you think.

[code]

### Usage samples:

1) Global exception handling middleware for http functions. Th

[2022-05-05 19:05] kshyju commented on #414
You can use the `GetHttpRequestDataAsync` extension method to get the `HttpRequestData` instance. This API is available from [Version 1.8.0-preview1](https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker/) onwards.

[code]

Please refer the ` StampHttpHeaderMiddleware` middleware in the[ sample app](https://github.com/Azure/azure-functions-dotnet-worker/blob/main/samples/CustomMiddleware

[2022-05-05 19:08] kshyju commented on #572
@EnenDaveyBoy

You can use the `GetHttpRequestDataAsync` extension method to get the `HttpRequestData` instance, from which you can access cookies and headers. This API is available from [Version 1.8.0-preview1](https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker/) onwards.

[code]

Please refer the ` StampHttpHeaderMiddleware` middleware in the[ sample app](https://github.com/Azure/az

[2022-05-05 19:55] #855 closed

[2022-05-05 19:56] #414 closed

[2022-05-05 19:57] #340 closed

[2022-05-05 19:58] #739 closed

[2022-05-05 20:00] EnenDaveyBoy commented on #572
Interesting thanks for the information, I will look into it soon.

However when is this likely to come out of preview?

[2022-05-05 20:23] surgupta-msft commented on #827
@GCoding83 Does adding AddUserSecrets() in your startup.cs help with the issue?

[code]

[2022-05-07 23:00] thomaslevesque commented on #180
I'm getting a NullReferenceException in the host's code when I add a cancellation token to a timer trigger:

[code]

(admittedly, it might not make much sense to add a cancellation to a time-triggered function, but still, it shouldn't fail like this... at the very least, if it's not supported, it should indicate it clearly rather than throw a NRE)

[2022-05-08 12:17] velocitysystems commented on #530
@kshyju Do you have any update on when this change will be released?

[2022-05-08 13:49] kshyju commented on #530
[Version 1.8.0-preview1](https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker/) of `Microsoft.Azure.Functions.Worker` package introduces a few new APIs which can be used to read & update input binding, output binding and invocation result data.

Here is an example of updating the http response inside a middleware.

[code]

Refer the [sample app](https://github.com/Azure/azure-functions-

[2022-05-08 17:17] davidpeden3 commented on #530
Can we get a set method instead? This API feels awkward.

`context.SetInvocationResult(newHttpResponse);` would be so much cleaner and more discoverable.

[2022-05-08 19:53] velocitysystems commented on #530
@davidpeden3 Agreed. The method naming feels contrary to the intended use and purpose. Since this is a ‘set’ operation, something like `SetInvocationResult` or `SetResponse` feels more suitable and discoverable.

[2022-05-09 09:59] wesselkranenborg opened #876 "Event metadata can get out-of-sync when using this sample code for event hubs trigger"
In this repository there are some samples on how to fetch metadata from messages: https://github.com/Azure/azure-functions-dotnet-worker/blob/main/samples/Extensions/EventHubs/EventHubsTriggerMetadata.cs.

The code referring too is this:

[code]

This code can however create bugs in software. If you have a message without a body there is no corresponding item in the `string[] messages` array but t

[2022-05-09 13:25] justinmchase opened #877 "Adding a KafkaTrigger function crashes at startup with `Value cannot be null. (Parameter 'provider')` error"
I added this one single, specific reference:
[code]

I'm able to comment this function out to recieve the error, and comment it back out to have it go away:
[code]

Here is the actual error:

[2022-05-09 13:28] justinmchase commented on #877
This error seems to have a lot of issues but generally the result seems to be to remove an extension bundle and add specific references, in my case I am already not using a bundle but only adding one specific library.

My question is, what is expecting a provider parameter and is there some way I can add a setting so it's not null?

[2022-05-09 15:22] justinmchase commented on #877
One potential issue is that I already have a reference to:

[code]

I'm now wondering if there is a version conflict between the binaries included in this package and the kafka extensions package...

[2022-05-09 17:59] kshyju commented on #810
Deployment with the fix (for non-app service images) has been completed. The `Microsoft.AspNetCore.App` framework should be present in the `mcr.microsoft.com/azure-functions/dotnet-isolated:4` image now.

Let us know if you run into issues.

[2022-05-09 17:59] kshyju commented on #810
@elliotchaim You should be able to use the non app-service images now.

[2022-05-09 18:01] kshyju commented on #770
Deployment with the fix has been completed. The `Microsoft.AspNetCore.App` framework should be present in the `mcr.microsoft.com/azure-functions/dotnet-isolated:4` image now.

Let us know if you run into issues.

[2022-05-09 23:55] kshyju commented on #877
@shrohilla Could you please take a look at this issue?

[2022-05-10 04:35] shrohilla commented on #877
@fabiocav is latest bundle released where the LD_LIBRARY_PATH issue is fixed ??

[2022-05-10 04:37] shrohilla commented on #877
@justinmchase I am expecting the underlying platform is linux based, correct me if I am wrong

[2022-05-10 17:02] justinmchase opened #879 "How can I move where the app settings the configuration variables are stored?"
For example this [example settings file](https://github.com/Azure/azure-functions-dotnet-worker/blob/main/samples/Extensions/local.settings.json):
[code]

Suppose I want it to be this instead:
[code]

How can I configure the function runtime, or the function itself to bind to those settings instead?

[2022-05-11 03:54] justinmchase commented on #872
annoyingly it seems like the only way is to put your settings into the `"Values"` section like this:

[code]

[code]

I hate it, but it does "work". I have no idea why I can't just resolve into any arbitrary section in the configuration but it does appear to be impossible.

[2022-05-11 04:02] justinmchase opened #883 "For the KafkaTrigger, how can I configure the protocol to be Ssl if I have certs but NotSet if I don't?"
I have an isolated function with a `[KafkaTrigger]`, how can I set the Protocol dynamically?

[code]

So then I'm setting `Values__KafkaSslCaLocation=/path/to/file.crt` for example in one environment, which requires a `BrokerProtocol.Ssl` to be set  but in another environment there is no need to to have certs or the broker protocol set... But I can't use a template string like the other fields on

[2022-05-11 04:22] justinmchase commented on #739
Is it possible to update the input bindings themselves during the startup?

[2022-05-11 12:27] wkosten1982 opened #884 "BlobTrigger with trigger only option to avoid outofmemoryexceptions"
After migrating Azure Functions we are running into memory issues with the BlobTrigger (on AKS). It seems that Stream is no longer an option in isolated-mode and byte[]/string data is loading the entire file in memory we would like to stream the data for a more memory efficient approach.

Unfortunately I have not discovered any option to omit the byte[] or string. Even with the {name} string the d

[2022-05-11 13:49] justinmchase commented on #883
This line of code here appears to be part of the problem:
https://github.com/Azure/azure-functions-kafka-extension/blob/320cb5994ce259d012ff7b1128bd515946e03164/src/Microsoft.Azure.WebJobs.Extensions.Kafka/Trigger/KafkaTriggerAttributeBindingProvider.cs#L115

It only seems to set it directly from the attribute and there is no extension for pulling it out of configuration. The only way to set it on

[2022-05-11 16:28] maartenba commented on #361
The framework is doing this, no way to stop it :( The above blog post has a "A NuGet package is needed" section that may be useful, but it's still cumbersome.

[2022-05-11 17:06] justinmchase commented on #361
I see, I read that section previously but didn't quite get far enough to grok it. My problem is I'm running in a docker container and I have my nuget config in the same repo which seems to not be respected by this temporary project its generating, that seems to require a global config and I can't seem to make it stick. Very frustrating.

[2022-05-11 20:16] fabiocav commented on #854
Work currently in progress. Moving to 122

[2022-05-11 21:11] #827 closed

[2022-05-11 22:16] kshyju commented on #530
@SeanFeldman The [middleware section on the official documentation page](https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-guide#middleware) has been updated with information about some of the new APIs we exposed along with an example middleware implementation.

We will continue to iterate. Thanks for the reminder.

[2022-05-11 23:27] madelinegordon opened #889 "Sample function HttpTriggerWithBlobInput doesn't work"
The sample function HttpTriggerWithBlobInput doesn't work when running locally - throws the following exception:

` System.Private.CoreLib: Exception while executing function: Functions.HttpTriggerWithBlobInput. System.Private.CoreLib: Result: Failure
Exception: System.ArgumentNullException: Value cannot be null. (Parameter 'json')
[2022-05-11T23:27:02.085Z]    at System.Text.Json.JsonSerializer.D

[2022-05-11 23:32] #863 closed

[2022-05-11 23:34] #859 closed

[2022-05-12 07:05] SeanFeldman commented on #827
@surgupta-msft, is this documented, or is a sample linked from the documentation demonstrating how to use the feature?
The linked PR is referring to user secrets, also something that'd be nice to have a reference to some documentation. Thank you.

[2022-05-12 09:02] AieatAssam commented on #760
Are there any updates on this issue? Lack of correlated dependencies is a major concern as is lack of documentation on enabling this in general.

[2022-05-12 15:55] #889 closed

[2022-05-12 15:57] madelinegordon commented on #889
Needed to verify local AzureWebJobsStorage setting. Not a bug.

[2022-05-12 21:16] safihamid opened #964 "Risk Alert if a .NET isolated function app is not deployed with Ready2Run"
This is already done for .NET InProc, we need to bring that logic for .NET isolated as well.
PR for .NET InProc: https://github.com/Azure/azure-functions-host/pull/8061

[2022-05-12 21:21] safihamid opened #963 "Support .NET isolated placeholders"
We need to start the dotnet process in placeholder mode like other language workers and do specialization when cold start request arrives.

Profile analysis shows majority of the cold start time is spent JITting CLR assemblies and loading those assemblies from disk which most if the time spent should be gone by starting the process in placeholder mode.

[2022-05-13 12:30] Manthazar opened #895 "Log categories are not honored any longer (as defined in host.json)"
**Is your question related to a specific version? If so, please specify:**
- Azure Function Core Tools v4 and Azure Functions .NET 6 isolated
- Azure Function Worker 1.6

**What language does your question apply to? (e.g. C#, JavaScript, Java, All)**
C#

**Question:**
I was investigating a problem related to EF5 which started to spam our logs with a bazillion of log messages we haven't been asking

[2022-05-13 12:32] Manthazar commented on #895
Is that actually linked to #619?

[2022-05-13 15:26] aliqaryan2 commented on #293
I really need `IMessageSession messageSessionReceiver` as an input parameter in Azure Function ServiceBussTrigger, It was supported before but not anymore, and now I have to refactor all of my microservices because of that!!!!!!
Please help me out here.

[2022-05-14 02:19] SeanFeldman commented on #293
@aliqaryan2, this SDK has never supported native SDK types so not sure how could you upgrade all of your ASB-dependent code w/o noticing the obvious. Nonetheless, you can still use the in-process SDK and access `MessageReceiver` until there's either a better story for the Isolated SDK or a definitive answer about the fate of native SDK types support.

Note that this issue is neither associated wit

[2022-05-15 01:19] surgupta-msft commented on #827
@SeanFeldman These are the links I found useful demonstrating how to access secrets in code -

1. https://docs.microsoft.com/en-us/aspnet/core/security/app-secrets?view=aspnetcore-6.0&tabs=windows#access-a-secret
2. https://github.com/Azure/azure-functions-core-tools/pull/2136#issuecomment-683162904

[2022-05-15 03:31] cgillum opened #898 "[Feature Request] Support middleware adding new function parameters"
### Feature request

I would like middleware to be able to create new (optional) parameters in the function signature.

### Why is this needed?

I think this is useful generally, but I have a specific need for something like this in Durable Functions. Today we have to combine both the orchestration context object and the orchestration input as a single parameter. The user experience is something l

[2022-05-16 08:31] beukerz commented on #340
If I test the first sample I get this response back from the HTTP trigger:

{
    "method": "",
    "query": {},
    "statusCode": "200",
    "headers": {
        "Content-Type": "application/json; charset=utf-8"
    },
    "enableContentNegotiation": false,
    "cookies": [],
    "body": "eyJTdGF0dXMiOiJGYWlsZWQifQ=="
}

The HTTP status code is also 200. Trying to set the status code on the newRe

[2022-05-16 22:00] #810 closed

[2022-05-16 22:00] #770 closed

[2022-05-17 05:58] maartenba opened #900 "--dotnet-isolated-debug does not emit process ID when logLevel.Host=Error"
The `--dotnet-isolated-debug` argument does not emit process ID when `logLevel.Host=Error`.

## Repro steps

* Create a new Azure Functions project, V4, with the .NET Isolated Worker.
* Add one function, for example an HTTP trigger
* Add the following `host.json`:

[code]

* Run `func.exe host start --pause-on-error --dotnet-isolated-debug` on the terminal

### Expected

The following output is wr

[2022-05-17 06:04] xtellurian commented on #760
I've just run across this issue as I'm digging into my Azure Function application insights telemetry.

We're running functions v4 (dotnet-isolated) and .net6.0. To be honest, I would expect this to be resolved already, since Az Functions v4 has gone GA

@brettsam can you give us an update on when we'll have access to TelemetryClient etc?

[2022-05-17 12:50] markhoratiowalmsley opened #901 "dotnet-isolated function WEBSITE_TIME_ZONE GMT does not set UK date format"
Apologies if this isn't the right repo but we are running our functions as dotnet-isolated and have recently updated our functions to update to use WEBSITE_TIME_ZONE='GMT Standard Time'. This changed the time from UTC to UK time which accounts for BST and fixed our timstamps .However, it appears to have broken the date:

![image](https://user-images.githubusercontent.com/30492429/168814208-d732617

[2022-05-17 14:22] kshyju commented on #901
@markhoratiowalmsley Could you provide a little mode details on what is broken? Are your functions not executing as expected? What is your expected behavior and what is actual/current behavior now?

[2022-05-17 14:31] markhoratiowalmsley commented on #901
The GMT timezone gives an incorrect  datetime format. The console screenshot from above shows that the time is correct (BST is applied) but the date is formatted as MM/dd/yyyy. This means that unless DateTime.ParseExact is used, then parsing a UK date will fail if the date part is over 12 e.g. 15/06/1990. Unless I'm missing another setting WEBSITE_TIMEZONE is only being applied to the time, not th

[2022-05-17 16:30] rhythmnewt commented on #760
Considering that .net core 3.1 is end of life in December 2022, and .net core 5 is already end of life, this needs to be pushed to the forefront. Requiring organizations to migrate/upgrade to v4/core 6 but losing basic functionality is just terrible.

[2022-05-17 19:40] kshyju commented on #851
@rodchenkov This is fixed in [1.8.0-preview3](https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker/1.8.0-preview3). Could you give it a shot? Thanks!

[2022-05-17 21:35] vc4u2c commented on #760
Been having this issue for some time now. We are on Functions v4 and .NET 6. Please resolve this quickly.

[2022-05-17 22:57] #850 closed

[2022-05-17 22:59] kshyju commented on #572
The package should be out of preview in the next few weeks. This gives us enough time to consider the feedback from users about the preview version.