[2021-04-15 21:50] #389 closed

[2021-04-15 21:59] fabiocav commented on #391
@alanokelly queues have built-in retries and don't require the retry configuration (which is currently in preview). Do you have the same issue if you remove that?

[2021-04-15 22:02] fabiocav commented on #392
Yes, yes :)

We're in the process of releasing that and will be live soon. Apologies. We'll close the issue as soon as the package is live.

[2021-04-15 22:06] fabiocav commented on #393
Can you share more details about your scenario?

Are you trying to programmatically set those values? This is not supported with the isolated worker, and something that would cause problems in consumption environments, so we just want to better understand your requirements. Thanks!

[2021-04-15 22:09] fabiocav commented on #394
@ahmelsayed have you seen similar requests for our images before? What's the approach? Do we have any plans for something like this?

[2021-04-15 22:12] FamsQC commented on #378
No worries - I was getting the repo together and noticed it is now working. So perhaps something got fixed along the way.
I'll close this.

[2021-04-15 22:16] fabiocav commented on #352
Thank you for the update! This is something we definitely want to look at.

Before I open an issue to track that, can you share more details about what your service was doing in the `DisposeAsync` call?

Thanks!

[2021-04-15 22:22] fabiocav commented on #337
@djjlewis we're now at a point where we believe this issue has been addressed. Would you be able to confirm?

@paulisch Can you also confirm whether the issue is fixed for you?

Thanks and apologies for the delayed response.

[2021-04-15 22:26] fabiocav commented on #336
@pascal-hauser what RID are you using when you publish the app?

[2021-04-15 22:28] FamsQC commented on #378
It some what works but I guess I am wondering why Stream isn't supported (byte[] or string only?)

`Function("BlobExample")]
        public static void Run([BlobTrigger("uploads/{name}", Connection = "AzureWebJobsStorage")] byte[] myBlob, string name,
            FunctionContext context)`

Stream won't run properly. Small files seems to work, but large files with this signature won't fire. I uploa

[2021-04-15 22:31] fabiocav commented on #378
That's a limitation of the worker bindings today. We have plans to address that in upcoming releases, but don't have an ETA I can share at this point.

Thanks for the follow up!

[2021-04-15 22:31] #378 closed

[2021-04-15 22:32] FamsQC commented on #378
Ok thanks. I'll stick with NET 3.1 for awhile

[2021-04-15 23:29] balag0 commented on #394
We build and release new functions images every N weeks as part of regular deployment cadence. At that time latest sources would be pulled along with any security fixes available as part of the latest versions. For critical high impact issues impacting Functions scenarios we can do out of band deployments.
We don't have any additional mechanism to incorporate updates to upstream sources more frequ

[2021-04-15 23:50] Jlopean commented on #360
Ok i got the visual studio 2019 debugging working with azure functions and .net5 framework .. its not great but it will do for now

Note: no preview libraries, all the latest.
Note: I am using service bus triggers
Side Note: got error "No job functions found". fix: rename function declaration from, [FunctionNAME("??")] to,  [Function("??")]

Key debugging points:
- when you press F5 it should star

[2021-04-16 05:02] p-bojkowski commented on #396
thx @fabiocav

[2021-04-16 06:41] CasperWSchmidt commented on #388
Then I don't know. We use `/` as a delimiter in topic names and it works just fine, except for the Azure Portal, which has a warning in the top of the page saying that `/` can't be displayed so it's using `~` instead.

[2021-04-16 06:53] paulisch commented on #337
@fabiocav Confirmed. 👍

[2021-04-16 09:23] ModernRonin commented on #388
And you are running on net5 and your code looks like mine, except for the tilde vs slash question?
If yes, would you mind trying to replace the slash with a tilde on your system and seeing whether this has any impact?

[2021-04-16 10:51] CasperWSchmidt commented on #388
No we're running netcoreapp3.1

[2021-04-16 13:42] mcgear commented on #361
Thank you, i have used these extensions as a footprint in the past for custom bindings targeting netcore 3.1.  However, with the new bindings for net isolated process, targeting net5 (I think i left that out before), I am looking for the source on attributes for net isolated (Microsoft.Azure.Functions.Worker.Extensions.SignalRService).

[2021-04-16 13:43] JasonTFifer commented on #322
I appreciate your response and look forward to when this is available. I decided to go with .NET Core 3.1 for any file uploads for now. Thank you!

[2021-04-16 16:37] fabiocav commented on #361
The information @eriklieben shared above is correct.

Also, all of the .NET isolated binding Attributes (and appropriate APIs) live in this repo. You can find them all here: https://github.com/Azure/azure-functions-dotnet-worker/tree/main/extensions

[2021-04-16 21:46] mcgear commented on #361
Great, thank you.  I'll give that a shot then, I thought with the complex binding capabilities lost, it might be different now.

[2021-04-16 22:16] mcgear commented on #361
I was able to find a few more examples browsing the Azure organization:
https://github.com/Azure/azure-functions-signalrservice-extension

Wondering what i am missing in where the Blob storage binding source might be, i was thinking something like azure-functions-blob-extension or storage-extension... any thoughts on where that, the timer or Http trigger source might live?  not for the attributes

[2021-04-17 01:44] renatoeufe opened #397 "Debug NET5 Azure Function with dotnet-isolated should be attached automatically"
Actually, in order to make the break points work (while debugging) we have two options:

1. Add a new line `#if DEBUG Debugger.Launch(); #endif` inside every function;
2. Attach the debugger to the spawned worker process manually.

I would like to suggest a small change:
To make the debugger automatically attached to the spawned worker process when we hit F5.

![image](https://user-images.githubus

[2021-04-18 02:00] afetter opened #398 "BlobTrigger throw exception Cannot convert input parameter 'myBlob' to type 'System.IO.Stream' from type 'System.ReadOnlyMemory`1[[System.Byte, System.Private.CoreLib, Version=5.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]'."
I'm creating functions in a MacOS. I have a few bugs. But for now I want to log this one.

My code is simple like it:
[code]

[2021-04-18 15:52] bgrainger opened #399 "Azure/static-web-apps-deploy GitHub Action fails to build due to .NET Core 3.1"
This is possibly a duplicate of https://github.com/Azure/azure-functions-dotnet-worker/issues/297 but the environment is different and the suggested workaround isn't possible.

When you create an Azure Static Web App with an Azure Functions API, the tooling automatically creates a GitHub Actions workflow that uses `Azure/static-web-apps-deploy@v0.0.1-preview`. This uses Oryx (https://github.com/mi

[2021-04-18 21:37] dhermyt commented on #393
Hello Fabio,

In my case the queue name comes from the configuration and should be set dynamically. This is how it looked in the previous SDK:

[code]

[2021-04-18 22:23] MarcAnnous commented on #348
Also happening to me when I configure authentication:

[code]

[2021-04-18 23:54] afetter opened #400 "Upgrade Microsoft.Azure.Functions.Worker.Sdk from preview4 to 1.0.0 make function stop to detect functions."
Hello,
When I tried to update Microsoft.Azure.Functions.Worker.Sdk from preview4 to 1.0.0 and above my project stop to detect function.

The only change I did in the project was upgraded Microsoft.Azure.Functions.Worker and Microsoft.Azure.Functions.Worker.Sdk to release. I tested and the problem is with Microsoft.Azure.Functions.Worker.Sdk. In my case I'm runnig it on MacOS.

![image](https://use

[2021-04-19 00:10] #400 closed

[2021-04-19 20:41] sahgilbert commented on #398
Hello,

I can confirm that I am experiencing the exact same error when executing a BlobTrigger function with the same method signature as above.

Tech stack is:
- Visual Studio for Mac 8.9.6 (build 6).
- .Net 5.0.
- Azure Function Core Tools Version 3.0.3442.

The BlobTrigger function was generated using Azure Function Core Tools commands, followed by changing the default input parameter "myBlob"

[2021-04-19 21:53] ErikApption opened #401 "Add pipeline examples to documentation"
From the current documentation, the deployment process depends on installing the function tools which doesn't seem to be too pipeline friendly. Also it looks like to deploy the function, we would need scripts and cannot rely on the pipeline function tools. Any chances you can provide guidance/clarification on deploying a .net 5 function to azure using a devops pipeline?

[2021-04-20 00:33] sahgilbert commented on #398
Based on the comments in [azure-functions-dotnet-worker/issues/378](https://github.com/Azure/azure-functions-dotnet-worker/issues/378#issuecomment-820767774) ...am I correct in thinking that Streams aren't actually support when using BlobTriggers in .Net 5.0?

[2021-04-20 04:02] bgrainger commented on #399
.NET 5.0 may not be a supported platform: https://github.com/Azure/static-web-apps/issues/375

[2021-04-20 04:23] afetter commented on #398
It works changing stream to byte[]. At least as a workaround.

On Tue, 20 Apr 2021 at 10:34 am, Simon Gilbert ***@***.***>
wrote:

--

​Regards,
Anderson Fetter
www.afetter.com

[2021-04-20 04:46] godefroi commented on #289
@Romfos @SeanFeldman the `[HttpTrigger]` attribute is only for parameters, right? Not on the method as is written above?

[2021-04-20 04:52] pascal-hauser commented on #336
@fabiocav, when I tried to publish as self contained I was publishing it as linux-x64. Is this the right one or what would be correct? Did it work for you? Where would one find the application logs that you mentioned earlier?

[2021-04-20 05:03] SeanFeldman commented on #289
@godefroi correct. That's the actual trigger type.

[2021-04-20 06:45] bgrainger commented on #399
Closing because covered by the linked issue.

[2021-04-20 06:45] #399 closed

[2021-04-20 12:12] v-anvari commented on #396
Closing issue as resolved

[2021-04-20 12:12] #396 closed

[2021-04-20 15:08] sahgilbert commented on #398
I can confirm that using a byte[] is correct.

Also worth mentioning [this other linked comment here](https://github.com/Azure/azure-functions-dotnet-worker/issues/215#issuecomment-790842884) which explains the reason that Streams are not supported in .Net 5.0 currently.

[2021-04-20 16:01] sahgilbert opened #402 "[BlobOutput] always sets Content Type to "application/octet-stream""
When using a BlobTrigger function which takes an input parameter of byte[] and simply returns it via a BlobOutput, the Content Type on the Block Blob in Azure Storage is always set to application/octet-stream (please see attached image).

Is there a way to set the Content Type by amending the properties, so to preserve the original image type?

Currently when trying to access the url of the newly

[2021-04-20 19:37] lufthavn opened #403 "System.UriFormatException when running on Linux"
I have attempted to upgrade an existing Azure Functions application to use this new isolated model.
It runs fine on my Windows development machine. But when I deploy it to the Function Application in Azure, it fails during startup with this exception:

Unhandled exception. System.UriFormatException: Invalid URI: The hostname could not be parsed.

The App Service Plan in question is Linux based.

S

[2021-04-21 07:21] asparrowhawk opened #404 "Missing Table Binding"
There doesn't seem to be a way to bind to a table. Previously there was the TableAttribute in the Microsoft.Azure.WebJobs.Extensions.Storage assembly that allowed direct access to an Azure Table.

Is there another way to achieve this? When using the TableInputAttribute in the following way

[code]

This exception is thrown:

[code]

[2021-04-21 09:22] lufthavn commented on #403
This seems to be caused by me deploying via an Azure DevOps release pipeline. It works when deploying with the SDK. I guess it's just a matter of waiting for the tools to be updated?

[2021-04-21 09:54] chtay1 commented on #386
I think this may apply to the "From" header, Google and Bing for instance like to send "googlebot(at)googlebot.com" and "bingbot(at)microsoft.com" in the the "From" header which as soon as you try to access the Headers collection fails.

I thought I might be able to strip out the "From" header with middleware but you can't override details of the BindingContext.BindingData as it's a IReadOnlyDicti

[2021-04-21 11:36] GusGusGusGus opened #405 "Isolated Functions don't like my big blobs"
We have a big Blob stored in Azure storage (testing with smaller blobs of a few Kb, with 50mb, and up to about 100mb).
**Our ultimate goal** is _to react to a relatively big blob upload in Azure Storage and send it to an Azure Function I'm running as an out-of-process function with a BlobTrigger_. As mentioned in the official [Isolated Process Guide](https://docs.microsoft.com/en-us/azure/azure-fu

[2021-04-21 13:43] ErikApption commented on #401
So using the standard .net core function deployment, we were able to deploy a function that is using this new worker. No change was required. However, you have to use the command line to create the function app otherwise it will not be using the right runtime and it looks like existing functions cannot be converted.

[2021-04-21 14:13] ondrejdurica opened #406 "Not able to debug AzF"
Hi, I'm not able to debug. Once I attached written PID, I'm getting error on System.PrivateCore.Lib Can't write the message because the call is complete.

When I look inside, I'm gettting this:
   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleN

[2021-04-22 11:52] dmytro-gokun opened #409 ""dotnet publish --no-build --no-restore" doest not work"
1. Create a new func app "func init"/"func new"
2. dotnet restore
3. dotnet build
4. dotnet publish --no-build --no-restore

Step 4 produces fails with following output:

Microsoft (R) Build Engine version 16.9.0+57a23d249 for .NET
Copyright (C) Microsoft Corporation. All rights reserved.

  func-test -> d:\func-test\bin\Debug\net5.0\publish\
  Determining projects to restore...
  Restored C:\User

[2021-04-22 15:17] rikbosch opened #410 "TraceContext: TraceParent and TraceState properties are always empty."
I'm trying to setup distributed tracing in .NET 5 and as a minimum I would like to see the dependency calls of a .NET 5 worker function call in Application Insights.

I expected the worker to set `System.Diagnostics.Activity.Current` when processing a function invocation, but that is not the case.
So I wrote a middleware which extracts the `TraceParent` and `TraceState` properties into an `Activit

[2021-04-22 17:37] djjlewis commented on #337
@fabiocav I've only just tried these again today but so far so good. Looks like the timers and service triggers are firing when they should without needing to go to the portal :relieved:

[2021-04-22 23:48] ankitkumarr opened #413 "Add zipdeploy tasks in SDK"
This is to support VS publishing

[2021-04-23 04:01] #352 closed

[2021-04-23 04:01] #331 closed

[2021-04-23 08:29] hajekj opened #414 "Accessing HttpRequestData in middleware"
As per the [sample](https://github.com/Azure/azure-functions-dotnet-worker/blob/main/samples/CustomMiddleware/MyCustomMiddleware.cs) I am able to build a custom middleware which accesses the `FunctionContext` and works with it. However, how do I access the `HttpRequestData` object?

Some broader context: I am trying to build an authentication middleware: https://hajekj.net/2022/04/22/azure-functio

[2021-04-23 10:59] liamehenderson commented on #386
We also are seeing this issue when duplicate headers are sent through. With something like duplicate Content-Type headers getting set to "application/json, application/json" we would normally handle this and return a HttpResponseData object with a duplicate header error message but cannot generate a HttpResponseData object due to the parent HttpRequestData object being invalid.

[2021-04-23 11:09] DavidZidar commented on #392
I'm closing this because the package has finally been updated, thanks.

[2021-04-23 11:09] #392 closed

[2021-04-23 16:14] fabiocav commented on #392
Indeed. Actually had an item to follow up on this issue, but you've beat me to it :)

[2021-04-23 16:40] DavidZidar commented on #392
I guess I like cleaning up after myself, haha. Thanks again!

[2021-04-23 20:55] fabiocav opened #415 "Enable authenticode signing for all binaries"
Some of the binaries redistributed today are not authenticode signed. We need to ensure all binaries we ship are appropriately signed.

[2021-04-24 15:20] godefroi commented on #414
This isn't currently possible. See #340

[2021-04-24 20:07] oscarvantol commented on #404
Hi @asparrowhawk, you tried using [TableInput] but [TableOutput] might help you in this scenario. The following example shows how this would work, it has multi output so it is a bit bloated.

Another option if you would need to directly interact with the table, would be to use DI to inject some helper in your functions class.

[code]

[2021-04-26 09:39] GeeWee opened #416 "Pressing CTRL+C while function is running makes it impossible to exit azure functions runtime"
When developing functions locally with the azure functions core tools (version `3.0.3284`), pressing `CTRL+C` or similar *while* a function is running kills the actual function running - but no error is shown and I am unable to exit the function runtime in my shell.

[This video demonstrates the issue.](https://youtu.be/2sFIisip9co) Note how I am able to exit the function runtime at first, but aft

[2021-04-27 01:28] Chad-Ortho2 opened #417 "Cannot set application loglevel in isolated function "lower" than LogLevel.Information. Exceptions: Exception encountered while listening to EventStream, Microsoft.Azure.WebJobs.Script.Grpc: Object reference not set to an instance of an object."
**Overview:**

I am struggling to determine how to set the log level for logs generated from a .Net 5 isolated function app to either `LogLevel.Debug` or `LogLevel.Trace`.  Setting the minimum log level in the `HostBuilder` will allow for the level to be increased but will result in an exception that prevents function execution when the level is decreased.

**Issue:**

Setting the default log leve

[2021-04-27 11:56] Prabhu-dev-alt opened #418 ".NET 5 Azure Function (dotnet-isolated) - Input binding from keyvault"
I am trying to connect my function app to keyvault and get queue name and connection secrets. This was working well with .netcore3.1 app using the ConfigureAppConfiguration(IFunctionsConfigurationBuilder builder) method in FunctionStartup.

After upgrading to .net5 dotnet-isolated, the bindings does not work. I configured azurekeyvault in Program.cs but still it does not pick from keyvault. Seems

[2021-04-27 23:46] ankitkumarr opened #419 "ZipDeployTask in Worker.SDK and VS-SDK should have the exact same code"
The `ZipDeployTask` and dependencies in the Worker.SDK is copied from [azure-functions-vs-sdk (v3.x)](https://github.com/Azure/azure-functions-vs-build-sdk/tree/v3.x/src/Microsoft.NET.Sdk.Functions.MSBuild/Tasks). However we had to make some changes, for example -- adding nullables where required, removing resourceManager, swapping Newtonsoft for System.Text.Json for it to work in this repository.

[2021-04-28 00:47] ankitkumarr opened #420 ""dotnet publish --no-build" fails"
This fails with `error NETSDK1085: The 'NoBuild' property was set to true but the 'Build' target was invoked.` This happens because we perform a build for `WorkerExtensions`. We need to handle the `dotnet publish --no-build` scenario for WorkerExtensions.

If we change WorkerExtensions to do a publish, we need to do either of these two choices--
1. Remove "NoBuild" property on publishing WorkerExt

[2021-04-28 11:00] csomers commented on #346
We are also seeing this problem with an HTTPTrigger. Having spoken to an MS support engineer, he subsequently sent me an email referencing this issue and advising that we move back to Core 3.1 and suggested: "that you wait for the runtime to mature before moving to that runtime."
![image](https://user-images.githubusercontent.com/6552121/116393179-36161e00-a819-11eb-8ddf-4af1215cff09.png)

[2021-04-28 11:16] Romfos commented on #346
@csomers quite strange response from support. Thank you for feedback!

[2021-04-28 15:45] david-peden-q2 commented on #340
I was super excited to update to the new out-of-process model simply for the sake of being able to run middlewares. We largely use(d) `FunctionInvocationFilterAttribute` to handle cross-cutting concerns but those appear to be doa. When I started to port our filters to middlewares, I quickly realized it was impossible to do because we don't have access to the `HttpRequestData` (https://github.com/A

[2021-04-28 16:23] mortware opened #422 "HttpTrigger not visible to API Management"
I have created an Azure Function App, and I was hoping to see if I could hook it up to API Management. Sadly it seems that APIM can't see the functions I've created.

Will this ever be supported?

[2021-04-28 19:10] Done3319 opened #423 "ILogger structured logging with Application Insights not working in .Net 5 Azure Function"
.Net 5 Azure Function: Custom properties of ILogger generated messages are not showing up in Application Insights

Example:
`logger.LogInformation("Example {ExampleValue}", 1001);`

Expected in Application Insights log:
customDimensions.prop__ExampleValue == 1001
customDimensions.prop__{OriginalFormat} == "Example {ExampleValue}"

However, the only thing that is logged is the message as string:
me

[2021-04-28 20:17] fabiocav commented on #316
Still blocked as the release that unblocks this feature is still in progress. We should be able to complete this in sprint 101, reassigning.

[2021-04-28 20:28] fabiocav commented on #385
This is unfortunately being bumped as sprint 100 is now over, but hoping to have an update on this soon.

[2021-04-28 20:29] fabiocav commented on #391
@alanokelly could you please look at the question above? Thanks!

[2021-04-28 22:03] david-peden-q2 commented on #414
While waiting for a proper solution, this works:

[code]

And you can use it like this:

[code]

[2021-04-29 04:46] kenakamu opened #424 "How to dynamically set table name to TableOutput"
We need to change output table based on current time, and we could achieve it by using binder in previous version. How we can dynamically set TableOutput argument parameter at runtime? Any help appreciated!  Descriptor.SetAttributes didn't work.

[2021-04-29 07:00] twentytwokhz commented on #418
@Prabhu-dev-alt Yep, I have the same problem. I'm using AppConfiguration connected to a keyvault though.
The host seems to initialize with errored functions. Those functions cannot find their secrets for the bindings...even though I tested and the keys are retrieved after the fact correctly

[2021-04-29 08:13] stukalin opened #425 "Error after adding the Microsoft.AspNetCore.DataProtection to a project"
Most likely I am facing the issue described in https://github.com/Azure/azure-functions-host/issues/5447. They claimed to fix it but apparently it reappeared again in Azure Functions for .NET 5.

Steps:
1. Create a fresh function app project (dotnet-isolated of course)
2. Add a new function, HTTP triggered is fine
3. Add the `Microsoft.AspNetCore.DataProtection` package (at the time of writing it

[2021-04-29 08:17] devlead opened #426 "Function keys disappearing after a week"
Are there any known issues with function key persistence?

We've got a functions app that on two occasions lost keys we've added to it.

We've retrieved the keys according to wiki [Known Issues/Retrieving keys for HTTP triggered functions](https://github.com/Azure/azure-functions-dotnet-worker/wiki/Known-issues#retrieving-keys-for-http-triggered-functions).

The issue isn't retrieving the key, the

[2021-04-29 09:50] rikbosch commented on #423
+1 logging with `ILogger` currently sends the traces over grpc to the functions worker host.

I believe this somewhat relates to #410 . When activity popagation is handled correctly, it should be able to just use regular application insights logging (and dependency tracking etc) in the dotnet worker. That way, all the application insights telemetry is correctly visible in the azure portal in one o

[2021-04-29 11:10] sujithq opened #427 "Usage of Package Microsoft.Azure.Functions.Worker.Sdk in provided sample Function App"
If you try to build the FunctionApp sample using following docker image mcr.microsoft.com/dotnet/sdk:5.0, it will fail.

docker pull mcr.microsoft.com/dotnet/sdk:5.0
docker run --rm -v $(pwd):/app -w /app/samples/FunctionApp mcr.microsoft.com/dotnet/sdk:5.0 dotnet publish -c release -o out

If you ommit these Package References <PackageReference Include="Microsoft.Azure.Functions.Worker.Sdk" Versi

[2021-04-29 13:36] Prabhu-dev-alt commented on #418
@twentytwokhz Can you provide some example code that you used for connecting the keyvault. Is it in program.cs?

[2021-04-29 19:28] martynas-m commented on #327
any updates? still not working. Not sure if I would like to downgrade certificate packages for my pc

[2021-04-29 19:45] djjlewis commented on #327
I believe this is the main issue tracking this https://github.com/dotnet/announcements/issues/180

apparently build 5.0.202 of the .NET SDK should have disabled package verification so I'd check to see if you have that version installed and try.

I've kept my ca-certificates at 3.62-1 for now as don't want to risk breaking my main dev machine for now, but perhaps will try at the weekend.

[2021-04-29 22:15] Mithras opened #428 "The repo needs CHANGELOG.md"
Please add CHANGELOG.md.

[2021-04-30 05:22] #413 closed

[2021-04-30 05:41] #420 closed

[2021-04-30 08:49] asparrowhawk commented on #404
@oscarvantol Many thanks for the response. That was very useful with my scenario. Lets hope the documentation for these bindings improves.

[2021-04-30 12:45] ljtill commented on #178
@ankitkumarr - Experiencing this issue but with Linux (Consumption) functions.
Let me know if there is any specific logs, you'd like me to share.

[2021-04-30 15:50] MikeBecatti opened #430 "Using binding expressions with Multiple Output?"
I've posted this question on SO but haven't received any responses.  I was wondering if you could provide some guidance.  I'm trying to use a binding expression with Multiple Outputs but haven't been able to get it to work.  Here is the link to the question on SO.  If you would rather I copy the body of that question and post it here please let me know.

https://stackoverflow.com/questions/6728885

[2021-05-01 14:04] aistvan opened #432 "What is the correct way to get the caller IP"
Previously I can successfully read the caller's IP address from the HttpRequestMessage using this code:

[code]

With .Net 5 I couldn't figure out how can I do the same, as I see there is no supported way to do this.
Wouldn't I have noticed something?

[2021-05-02 14:04] iloabn opened #433 "ServiceBusTrigger not executing (queue)"
I have two functions that listen to two different service bus queues.
Whenever I do a deploy, or go into the portal and take a closer look at the function, it starts to run and execute the function, taking messages of the service bus queue, but after a few minutes it stops.
I have about 5000+ messages in the queue, so I know it's not "done" with executing them, there's also 7000+ messages schedule

[2021-05-03 11:27] devlead commented on #428
A note on this 1.2.0 seems to be on NuGet since 10 days ago.
https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker/1.2.0

but there's no corresponding release/tag here on GitHub
https://github.com/Azure/azure-functions-dotnet-worker/releases

Maybe look at something like GitReleaseManager so releases/notes could be automated as part of CI
https://github.com/GitTools/GitReleaseManager

[2021-05-03 19:11] david-peden-q2 opened #434 "Worker Process startup timeout (30 sec) prevents reliably debugging HostBuilder startup code"
When launching an azure function with `func start --dotnet-isolated-debug`, visual studio pauses for a period of time to allow you to attach the debugger to the newly created process. This works fine.

What doesn't work well is that if you set a breakpoint anywhere in your `HostBuilder` code and cross the 30 second mark, the underlying process recycles because of a timeout which kills your debug s

[2021-05-04 17:21] ankitkumarr commented on #409
Hi @dmytro-gokun, we released a new `Microsoft.Azure.Functions.Worker.Sdk` version `1.0.3` earlier this week that includes a fix for this issue. Please try updating your SDK package and let us know if that solves it for you.

[2021-05-04 17:42] GusGusGusGus commented on #405
Any follow up on this? I was forced in the meantime to use HttpTriggers because neither EventGrid nor BlobTrigger would support big blobs due to their lack of support for the input Stream binding (which is advised to be used instead of just shoving the blob in a string). But it would defeat the purpose of having Blobtriggers in the first place. Anyone was able to trigger a function with big blob,

[2021-05-04 18:27] GusGusGusGus opened #435 "Dependency injection of automapper failing"
I have two isolated worker Function Apps, each with their own Program.cs in order for them to be ran separately, as I use one to call the other locally and will do so in production (those work fine as they are separate processes).
_Each of the Function apps uses their own respected service, placed in another project library_. I created a Singleton that initializes Automapper with all the configs i

[2021-05-04 19:20] SeanFeldman commented on #435
Is Profile class that is working for Function App A defined in Function App
A?

Sean Feldman

On Tue, May 4, 2021 at 12:27 PM GusGusGusGus ***@***.***>
wrote:

[2021-05-04 19:22] david-peden-q2 opened #436 "Is it possible to register request-scoped dependencies?"
Along those lines, do you plan to inject 'FunctionContext` or `HttpRequestData` into the container?

Obviously `FunctionContext` is available as a method level parameter but if the function itself is constructed per-request, why not inject it into the constructor instead?

If there is any existing documentation that discusses these topics, please point me at it. I was unable to find anything.

Tha

[2021-05-04 21:00] redtaped opened #437 "maxAutoRenewDuration or maxAutoLockRenewalDuration and relationship to RetryPolicy"
Should we be using maxAutoRenewDuration or the newer maxAutoLockRenewalDuration for changing the lock renewal?

Also, how is this related to retry? If the lock duration of a message is 5 minutes, and we retry 3 times, with a 4:59 minute delay, would the function automatically renew the lock on retry? Would the max auto renew duration setting reset for each retry attempt, or does this value have to

[2021-05-04 21:37] SeanFeldman commented on #437
I _think_ because the actual trigger is still using ASB SDK track 1 (`Microsoft.Azure.ServiceBus`) it would be [`MaxAutoRenewDuration`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.servicebus.messagehandleroptions.maxautorenewduration?view=azure-dotnet). When the underlying implementation moves over to ASB SDK track 2 (`Azure.Messaging.ServiceBus`), [`MaxAutoLockRenewalDuration`](ht

[2021-05-05 09:38] dmytro-gokun commented on #409
@ankitkumarr Looks like it's been fixed. Thanks a lot!

[2021-05-05 09:38] #409 closed

[2021-05-05 13:03] vtremb commented on #177
@fabiocav Do you have any update on this issue? It's affecting our migration to NET 5.

[2021-05-05 15:01] redtaped commented on #437
Can you help me understand how this value is affected during retries? Would the max auto renew duration setting reset for each retry attempt, or does this value have to be larger than the entire estimated runtime, including retries and delays between retries?

If the lock duration of a message is 5 minutes, and we retry 3 times, with a 4:59 minute delay, would the function automatically renew the

[2021-05-05 15:07] redtaped opened #438 "Clarification on "Disabled" Functions"
How can we disable a function in a staging slot to prevent it from picking up work from triggers?

- Does the [old documentation](https://docs.microsoft.com/en-us/azure/azure-functions/disable-function?tabs=portal) still apply?
- Does AzureWebJobs.<FUNCTION_NAME>.Disabled still work even though it says "WebJobs"?
- Is [Disabled] attribute in C# still supported?
- Is there a way to disable ALL func

[2021-05-06 01:01] #391 closed

[2021-05-06 08:50] Postlagerkarte opened #439 "Application Insights Events missing in Visual Studio"
Usually when adding Application Insights the Application Insights Search window in Visual Studio shows all the telemetry gathered (requests, exceptions, etc.).

Using a Azure Function with dotnet-isolated and the following configuration:

    "applicationInsights": {
      "samplingSettings": {
        "isEnabled": true
      }

the data is not showing in Visual Studio. However, it is correctly pu

[2021-05-06 15:18] JamesBroadberry commented on #366
Commenting because I've also ran in to this while trying to migrate to .NET 5 - specifically with file uploads.

[2021-05-06 17:27] fabiocav commented on #423
+ @brettsam for awareness

[2021-05-06 20:33] fabiocav commented on #397
Thanks! this is tracked and mostly implemented at this point. This will be available with VS release 16.10

[2021-05-06 20:33] #397 closed

[2021-05-06 20:41] fabiocav commented on #393
Thank you for the additional details.

This is indeed a limitation with the model, currently, as you don't have the ability to inject a name resolver in the context used by the extension.

Flagging this so we can discuss an appropriate approach to meet the requirement.

[2021-05-06 20:42] fabiocav commented on #393
@ankitkumarr FYI, this would benefit from the worker driven indexing/metadata work.

[2021-05-06 20:44] fabiocav commented on #406
@ondrejdurica can you share more details on how you're launching the worker? Is this from VS? Direct command line? If from VS, what does your project configuration look like for the debugging properties?

Thanks!

[2021-05-06 20:46] fabiocav commented on #414
Thank you for opening the issue and the workaround shared.

Currently, as you've found, the context carries the raw information and the services that would enable binding processing are not publicly exposed. This is work that is planned and, although I don't have a concrete ETA, we hope to expose soon. Keeping this open so we can update with progress.

[2021-05-06 20:52] fabiocav commented on #417
@Chad-Ortho2 thank you for the detailed issue!

Also flagging @brettsam for awareness.

We need to make sure the guidance here is clear on configuration through `host.json` vs the worker (either programmatically or through config).

For the host level, there's some additional work we could perform in the host that would help, but there's a lot we can do in the meantime, particularly when it comes

[2021-05-06 20:54] fabiocav commented on #426
@devlead thank you for bringing this up!

Have you had any more issues since you've opened this? We're not aware of any known issues with key regeneration, but if you can share your app name (or an invocation ID, and region), along with a timestamp, we can take a closer look at your app to see what happened there.

[2021-05-06 20:57] fabiocav commented on #430
@MikeBecatti thank you for reporting this. Flagging this for investigation as the behavior should be consistent, so I'm suspecting an issue with the function metadata generation process.

Will provide updates here with our findings.

[2021-05-06 21:00] fabiocav commented on #434
Thank you for opening this!

This is an instance where our debug behavior doesn't seem to be properly applied.

@ankitkumarr this would require a host change to correctly identify the debug scenario and ensure those timeouts are not applied. We do that for a number of things and looks like this was just missed. I'll loop in additional folks as this is likely impacting other languages as well.

[2021-05-06 21:03] fabiocav commented on #437
@redtaped for any of the bindings/extensions with built in support for retries, the guidance is to use that support instead of the retry policy.

Retry policy is also in preview/beta, and we'll be publishing some guidance around that as it gets to completion.

[2021-05-06 21:05] fabiocav commented on #437
@SeanFeldman's comment is also correct. The extensions targeting the track 2 SDK will be available soon, but currently, the documentation [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus-trigger?tabs=csharp) is what applies

[2021-05-07 01:12] MarcAnnous commented on #385
The workaround wouldn't work with core tools, right?

[2021-05-07 04:20] gertjvr commented on #384
Been looking at this as well, hidden in the documentation .net 5 ServiceBusTrigger does support `ServiceBusReceivedMessage` from the new Azure.Messaging.ServiceBus library.  https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus-trigger?tabs=csharp#usage

MassTransit is still using `Microsoft.Azure.ServiceBus` which only supports Message

If Masstransit upgrades to s

[2021-05-07 05:09] gertjvr commented on #384
I have started a discussion under the MassTransit repo https://github.com/MassTransit/MassTransit/discussions/2501

[2021-05-07 10:55] stukalin commented on #425
Any news on this one @ankitkumarr ?

[2021-05-07 13:33] brettsam commented on #398
Yes, this is correct. Streams are not supported in workers at the moment (for any language).

[2021-05-07 13:33] #398 closed

[2021-05-07 13:35] brettsam commented on #401
Sorry for the slow response @ErikApption -- are you referring to a DevOps pipeline? Would you mind sharing what you ended up using that worked?

I agree that we should get some pipeline documentation for this.

[2021-05-07 13:49] brettsam commented on #404
`[TableInput]` is supported -- but you cannot use `CloudTable` as an parameter type. Language workers are not able to use "rich SDK types" like the in-proc .NET model was able to. We're looking to improve this in the future.

I believe that when you specify the table name only, the binding will retrieve the entire table and return it to you in this parameter (so you could use an array as your inpu

[2021-05-07 14:00] brettsam commented on #418
As you've found, this behavior is different in the isolated worker. Using KeyVault settings in your worker process only apply to that process and are not accessible to the host.

The recommended way to use Key Vault for language workers is to use App Service Key Vault references which will expose settings via App Settings: https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-re

[2021-05-07 14:19] brettsam commented on #427
The SDK handles generating the proper artifacts that the Functions host needs to start up the worker. Specifically, everything that gets placed into the `.azurefunctions` folder upon build. Without it, this won't appear and the worker won't start up as expected.

I believe the bug here is that we should see if we can build worker projects without the 3.1 SDK installed. @ankitkumarr -- do you recal

[2021-05-07 14:24] brettsam commented on #427
Related: https://github.com/Azure/static-web-apps/issues/375

[2021-05-07 14:47] brettsam commented on #438
Thanks for the questions! Hope these answers help.

Yes, other than the `[Disabled]` attribute, as that does not apply to isolated.

Yes, this continues to work and is the recommended way to handle disabling for slots.

This is not currently supported for isolated C# apps. Related: https://github.com/Azure/azure-functions-dotnet-worker/issues/312

There is not.

I'm going to close this as a dupe o

[2021-05-07 14:47] #438 closed

[2021-05-07 15:26] brettsam commented on #435
Thanks for following up! Glad you got it working!

[2021-05-07 21:27] ankitkumarr commented on #402
Unfortunately, I don't think this is supported in the out of proc ([differences in the model](https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-guide#differences-with-net-class-library-functions)) right now.

The Blob extension in this model doesn't allow modifying such properties. The request is for making this available over all languages is tracked here -- https://g

[2021-05-08 07:55] stukalin commented on #425
@ankitkumarr errr... logging error is nice, but that's not the error causing problems for me (I am kinda reporting issues 2 simultaneously). The most relevant issue for me is the one with `DataProtection`, logging issue just adds some troubles realising what happens.

[2021-05-08 10:19] ankitkumarr commented on #425
@stukalin, the `DataProtection` issue is caused because of the logging issue I described above. Every log event is sent to Azure Functions Host (running on a different process) from the worker process running your code via gRPC. Due to the race condition explained above, the log message gets set to Azure Functions Host before `StartStream` message which causes the gRPC channel in host to fail with

[2021-05-10 06:42] kenakamu commented on #424
Thanks @brettsam , I understand.

[2021-05-10 06:42] #424 closed

[2021-05-11 02:00] #402 closed

[2021-05-11 06:42] devlead commented on #426
@fabiocav it just happened again, no indication

Two weeks this time, activity log empty, no actions, no deployments, etc. except for me listing keys a couple of times and setting the keys again
![image](https://user-images.githubusercontent.com/1647294/117770003-b33b8d00-b234-11eb-999c-5ceca9a1c088.png)

I'll share the details on Teams.

[2021-05-11 08:00] #426 closed

[2021-05-11 12:45] KaiEkkrin commented on #287
@haeberle The `az` command I described above started working for me as of a few weeks ago, so something has been fixed somewhere. Try that 😄

At the time when that command started working, I tried Azure Portal as you describe and that still didn't work for me. I automated my deployment with the CLI, so I haven't needed to try Azure Portal again.

[2021-05-11 21:24] fabiocav commented on #403
Apologies for the delayed response here. Yes, this is a point in time issue and the VS support is coming in 16.10. We'll be enhancing the error you ran into to make this a bit more descriptive.

[2021-05-11 21:24] #403 closed, assigned to fabiocav

[2021-05-11 21:26] fabiocav opened #442 "Validate URI for the gRPC channel prior to connection"
Today, if the worker is launched without a valid URI provided in configuration or command line argument, the failure is cryptic and not helpful. We should validate the URI and provide a clear error message if it isn't valid.

[2021-05-11 21:29] fabiocav commented on #410
This is currently a gap that @brettsam has been tracking. We'll have an issue created to track the work, link to it and close this once that is in place.

Thank you!

[2021-05-11 21:40] fabiocav commented on #428
The goal would be to track this in the releases.

About @devlead's point, yes, there is a missing release due to an issue with the current pipeline. We'll backfill that.

Is the release process sufficient for your needs, @Mithras?

[2021-05-11 21:42] Mithras commented on #428
@fabiocav yes, as long as I can find what changed between version X and Y, it's sufficient. Thank you!

[2021-05-11 21:43] fabiocav commented on #428
Sounds good. Our plan is to continue to leverage GitHub releases for that. Closing this as resolved. Thank you!

[2021-05-11 21:43] #428 closed

[2021-05-11 21:45] fabiocav commented on #432
You should be able to inspect the  `x-forwarded-for` header for that information. Can you give that a try?

[2021-05-11 21:50] fabiocav commented on #439
We are trying to route this to the appropriate team for answers, as this is not specific to Functions.

Perhaps opening a question in the VS forums/uservoice might be a better route.

[2021-05-11 22:02] fabiocav commented on #417
Leaving this open for further discussion/planning on this as there's a broader discussion for host changes that would impact all languages.

[2021-05-11 22:37] fabiocav commented on #430
This helps.

Since the information is not present in the JSON payload you're sending, that won't be available as part of binding data. The only information available in binding data with the payload you've shared above will be `FullImagePath` and `RemoveImage`

[2021-05-11 22:44] fabiocav commented on #430
You can use a POCO, but the binding data processing is not the same for the out-of-process model (same applies to the other languages), and currently a limitation.

[2021-05-11 22:47] MikeBecatti commented on #430
Ok, I understand the limitation but I tried using a POCO and I get this error: "Error converting 1 input parameters for Function 'ProfileImageUploaded': Cannot convert input parameter 'imageToProcess' to type 'ProfileImageProcessor.Models.ImageToProcess' from type 'System.String'."

Is there a Queue Trigger sample that uses a POCO?

[2021-05-11 23:22] wangkanai opened #443 "Azure IoT Hub Device Twins"
Please add direct support for Azure IoT Hub Device Twins (https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-csharp-csharp-twin-getstarted) triggers event in Azure Function. If it is already support, please add documentation and code sample. I really need this feature built into Azure Function.

Thank you very Azure Function Team 😄

[2021-05-12 00:33] iris-hpaterson opened #444 "Bug: Internal .NET Framework Data Provider error 1"
I've observed a crashing error when running some functions, which results in the worker crashing with an unhandled .NET exception.

I've observed this error locally with the Azure Functions Core tools `3.0.3388` as a rare random event while the worker is iding. I've also observed the error on the Azure Public Cloud, causing (exactly) every second Azure Function invocation to crash. Interestingly t

[2021-05-12 01:26] #444 closed, assigned to ankitkumarr

[2021-05-12 06:18] lohithgn commented on #418
@brettsam is this the same case for even UserSecrets. I am trying to add UserSecrets in ConfigureAppConfiguration. But has not effect.
[code]
Whats the guideline on this front for dotnet-isolated fx?

[2021-05-12 15:48] aistvan commented on #432
Thanks for the hint.
Looks like it works, I can see the information in **a.b.c.d:port** format.

[2021-05-12 20:02] asparrowhawk commented on #308
Tried using _DependencyTrackingTelemetryModule_ to add application insights into a .NET 5.0 function app. However I got a number of these messages in application insights logs:

[code]

None of the http or table storage dependency events that I was hoping to see appeared in the logs.

The only dependency event type was:

[code]

[2021-05-12 20:21] fabiocav commented on #385
Updating the sprint to better reflect when the work will be happening, but I'm hoping to have an update on this soon.

[2021-05-12 20:22] fabiocav commented on #316
Moving to 102 to reflect when this work will be merged. Deployment is almost complete and once it is, we can have the changes done.

[2021-05-12 23:08] ankitkumarr commented on #388
@ModernRonin, I apologize for the delay here. I was able to reproduce this using `~`. The error comes from Azure Service Bus itself.

But when I changed my function definition to something like `sharedcontracts/somenotification`, it seemed to work fine for me. Please note that, I put `/` only in my `ServiceBusTrigger` definition. The topic in Service Bus still has `~`, something like `sharedcontra

[2021-05-12 23:41] ankitkumarr commented on #390
@tommymonk, I apologize for the delay here.

You should be able to access all metadata including userProperties using `FunctionContext.BindingData` such as --
[code]
Note that, at the moment, it will be a serialized string of array with all the properties.

Please let us know if this solves your issue. Thanks!

[2021-05-13 13:26] imaji commented on #383
I've hit a very similar issue, but mine ends up with a time out.

I moved exactly the same deployment to a Windows function, and it worked absolutely fine. Moved it back to a Linux function, and Bomb! Can't find Microsoft.AspNetCore.App version 5.0.0.

Looks like something screwy is going on with the Linux hosts at the moment.

[2021-05-13 15:31] trailmax opened #446 "Get Function Url not enabled in Az Portal"
After upgrading to .Net 5, I've noticed that none of my HTTP-triggered functions have "Get Function Url" enabled when I look on it in Azure Portal. The button is just greyed out:
![image](https://user-images.githubusercontent.com/3606356/118148354-65777e00-b408-11eb-990d-ffb8eba5cb1c.png)

Here is how it looks in code:
![image](https://user-images.githubusercontent.com/3606356/118148539-935cc280-b

[2021-05-13 22:01] #437 closed

[2021-05-13 22:01] #406 closed

[2021-05-13 23:03] ankitkumarr opened #447 "gRPC: Ensure start stream is the first message sent"
More context in the PR comments -- https://github.com/Azure/azure-functions-dotnet-worker/pull/445. Specifically, [this comment](https://github.com/Azure/azure-functions-dotnet-worker/pull/445#pullrequestreview-659136374).

We want to make sure our gRPC setup doesn't send any messages until start stream is sent. We ordered the setup in a way that we send start stream first in the above PR. But Bre

[2021-05-13 23:03] #425 closed

[2021-05-13 23:17] fabiocav commented on #446
@ehamai is this expected? Looks like the read-only logic might be disabling more than it should in the portal

[2021-05-13 23:23] ehamai commented on #446
@takyyon, I think @fabiocav is right and we probably shouldn't disable that button if they're using run from package.  I'm guessing we disable it if you don't have write access on the app since you need that to get the key, but maybe we were a little too restrictive in the run-from-package case.  Can you confirm please?

[2021-05-14 08:54] trailmax commented on #446
@ehamai yes, that button is active when working with .netcore 3.1, published from package, but goes inactive when the same func gets updated to .Net5, same publishing method. Kinda restrictive, as now I need to construct the url manually with keys.

[2021-05-14 17:16] ehamai commented on #446
Oh I see.  This is more of a .Net 5 restriction than it is related to run-from-package.  @takyyon does that make sense?

[2021-05-14 22:37] iloabn commented on #425
Just a reader that wasn't affected directly by this. But I'd just like to complement @ankitkumarr on the **fantastic** comment describing the issue, how it was caused (with a tiny-repro), how it would be fixed, and then fixing it as well as following up to make sure that it will be better going forward. And all of that happening publicly for everyone else to be able to learn from. Thank you :)

[2021-05-15 11:36] Postlagerkarte commented on #439
@fabiocav

Application Insights Events are available with .NET 3.x functions and are not available with .NET 5.x. So it seems it is specific to .NET 5 functions.

![ai-func](https://user-images.githubusercontent.com/8482283/118359147-616f6b80-b582-11eb-8cde-2e8e525d9369.gif)

[2021-05-17 09:07] djjlewis commented on #348
I saw PR #445 come through which mentioned a fix to the ordering of GRPC steam registrations and thought that sounded promising for this isse! I cloned the latest main branch and pointed my project to the local version and sure enough it looks to have fixed the issue.

Any idea when the next official release will drop with that PR included @fabiocav? :pray:

[2021-05-17 10:25] rinkeb opened #448 "Trigger type 'WarmupTrigger' is unrecognized"
I'm trying to implement a warmup trigger, but the scale controller logs this warning:

`Trigger type 'WarmupTrigger' is unrecognized or has an invalid/incomplete trigger configuration. The scale controller will not be able to directly activate or scale function 'Warmup'
`

The warmup trigger function has the same definition as the [sample](https://github.com/Azure/azure-functions-dotnet-worker/blo

[2021-05-17 11:02] prateekchawla opened #449 "error NU1202 Package Microsoft.Azure.Functions.Worker 1.2.0 is not compatible with net50"
### Description

Building a .net project on a worker node.  with .net sdk 5 installed &  Azure Functions Core Tools installed
### Configuration

**Error**
`error NU1202: Package Microsoft.Azure.Functions.Worker 1.2.0 is not compatible with net50 (.NETFramework,Version=v5.0). Package Microsoft.Azure.Functions.Worker 1.2.0 supports: net5.0 (.NETCoreApp,Version=v5.0`

 **Proj file looks like this**

[2021-05-17 15:09] arkiaconsulting opened #450 "Kafka extension still fails with `Failed to load the librdkafka native library`"
The issue #194 should have been resolved, but looks like it's not.

I can confirm that the build uses the right target (the one with #204 changes).

Nuget Configuration:
[code]

Core Tools Version:       3.0.3442
Function Runtime Version: 3.0.15417.0

Error:
`Confluent.Kafka: Failed to load the librdkafka native library`

[2021-05-17 16:38] knnhcn opened #451 "Configure JSON ReferenceHandler"
In an azure function I create an instance of a DbContext in order to access the database. My data model has many-to-many relations created with EntityFrameworkCore. The data can be loaded without any issues, but once trying to send a JSON response with `response.WriteAsJsonAsync(data)` I receive the following error:

[code]

So far I tried to configure the azure function in `Program.cs` with follo

[2021-05-17 20:20] SeanFeldman commented on #449
That doesn't seem to be right given the transitive [dependency of the package](https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker/1.2.0)

![image](https://user-images.githubusercontent.com/1309622/118550892-80086a80-b71a-11eb-9780-5d18e1df6a60.png)

Notice the error message:

.NET Framework 5.0 vs .NET 5.0. Is that some sort of local issue with the way .NET 5.0 installed?

[2021-05-18 09:51] ilmax commented on #405
I have the same issues, with blob of approximately 4mb, the function never executes, I just get a tons of `Microsoft.Azure.WebJobs.Host.FunctionTimeoutException` and had to rollback to 3.1

[2021-05-18 10:52] ModernRonin commented on #388
I was trying to check this, but for some reason my storage emulator doesn't want to start anymore, it hangs. This wouldn't be a problem, I can just run Azurite, but even if Azurite is running, when trying to start the function from within VS, VS tries to start the emulator - is there any way I can disable that and make it use Azurite (which is running on the same ports as the emulator)?

[2021-05-18 10:56] ModernRonin commented on #388
however, I can say that at least on April 15th, the following did not work:
[code]

[2021-05-18 21:25] fabiocav commented on #449
It indeed sounds like a local environment issue. @prateekchawla can you validate that you have the same issue on different machines?

[2021-05-18 21:29] fabiocav commented on #448
Can you confirm that you've **renamed** the discard (`_`) to something different (e.g. input) ?

[2021-05-18 21:36] fabiocav commented on #447
After discussion, we're happy with the changes as they've gone in. Closing this as resolved.

[2021-05-18 21:36] #447 closed

[2021-05-18 21:38] fabiocav commented on #443
Thank you for the feedback! I'm moving this to the appropriate repo so it can be tracked as a feature request.

Thanks again!

[2021-05-18 21:45] fabiocav commented on #336
We'll work on a sample for ready to run / self contained so we can both, validate the scenario and have better guidance here.

Does everything work for you when deploying as portable (not self-contained/R2R)?

/cc @brettsam

[2021-05-18 21:51] fabiocav commented on #388
If you can validate and share any exceptions you see if the error persists, we'll take a closer look.

When running with Azurite, are you updating the connection string defined in `local.settings.json` to point to that?

[2021-05-18 21:53] fabiocav commented on #430
Yes, [this sample](https://github.com/Azure/azure-functions-dotnet-worker/blob/55e91c909597236d2adee45cc524464a6f548089/samples/Extensions/Queue/QueueFunction.cs#L15) uses a POCO for queue triggers. Does that work as expected for you?

[2021-05-18 21:54] fabiocav commented on #432
Thank you for confirming! Closing as answered.

[2021-05-18 21:54] #432 closed

[2021-05-18 21:57] fabiocav commented on #434
Discussed in triage. Some design work will be required to settle on the right behavior, we'll then open the required issues in the appropriate repos.

[2021-05-18 22:03] fabiocav commented on #18
The work here would be to leverage the existing indexing/converter probing logic to identify the types and provide a compilation error with an Analyzer (similar to what we had in WebJobs)

[2021-05-18 22:04] fabiocav commented on #53
Closed as resolved.

[2021-05-18 22:04] #53 closed

[2021-05-18 22:07] fabiocav commented on #183
Wanted to provide an update on this issue.

It's a bit lower priority compared to some of the other work happening at the moment (particularly V4 and .NET 6.0), but we had a discussion on this and @brettsam is working through some prototypes and design (timer permitting). We might be able to share some of that in an issue so we can get some feedback on the experience as well.

[2021-05-18 22:08] fabiocav commented on #185
Closing this issue as it looks like all questions/issues have been addressed.

If there are any remaining questions, please feel free to open a new issue.

Thank you, all!

[2021-05-18 22:08] #185 closed

[2021-05-18 22:10] fabiocav commented on #394
@brazierdavid does the answer help? Might not be ideal, but I hope at least the guidance/information is helpful.

[2021-05-18 22:12] fabiocav commented on #450
@arkiaconsulting what OS do you see this error in?

[2021-05-19 01:01] #436 closed

[2021-05-19 05:20] arkiaconsulting commented on #450
Hi @fabiocav ! Windows 10, local debug

[2021-05-19 08:56] aistvan commented on #432
What is the way if I would like to manipulate the binded output (or input) CloudTable's data?
Currently I got "row exist" exception if I want to "owerwrite" a row's value.
I couldn't find any example how can I remove the old one or update an existing one.

[2021-05-19 08:58] aistvan commented on #404
What is the way if I would like to manipulate the binded output (or input) CloudTable's data?
Currently I got "row exist" exception if I want to "owerwrite" a row's value.
I couldn't find any example how can I remove the old one or update an existing one.

[2021-05-19 10:14] brazierdavid commented on #394
Yes it's useful info thanks.

[2021-05-19 10:14] #394 closed

[2021-05-19 11:23] JamesBroadberry commented on #366
Something that @acrov and I have found to work while Microsoft works out the best solution is to use a NuGet package called [HttpMultipartParser](https://www.nuget.org/packages/HttpMultipartParser/) ([source code](https://github.com/Http-Multipart-Data-Parser/Http-Multipart-Data-Parser)) and use it like the following:

[code]

Doing so, you can get files and parameters easily.
See the source code

[2021-05-19 14:00] rinkeb commented on #448
Yep, just did another test to be sure, by renaming it to 'obj':

[code]

That resolves the following Core Tools error locally:

`The 'Warmup' function is in error: The binding name _ is invalid. Please assign a valid name to the binding.
`

But the scale controller is still not happy after Azure deployment:

`5/19/2021, 3:42:23.716 PM,"Trigger type 'WarmupTrigger' is unrecognized or has an invalid

[2021-05-19 15:09] Prinsn commented on #293
Is there any update on this?

This needs to be added to breaking changes, or some kind of guide needs to be written for how to get 3.x functions working with 5.0.

From all the research I have done today, it appears that Azure Functions hard stop an upgrade to .NET Core 5.0.

Am I mistaken in this understanding?

[2021-05-19 15:15] MattJeanes commented on #293
@Prinsn we had to dual target some of our library projects in the end and hold back upgrading most of our Microsoft.Extensions packages in order to upgrade to .NET 5.0 for our APIs while leaving the functions at .NET Core 3.1 without breaking either. It was a huge pain though, so I'm looking forward to Azure Functions being upgraded properly for .NET 6.

[2021-05-19 15:17] Prinsn commented on #293
@MattJeanes 🙏 Is there any guide or anything you follow or something you could indicate as to how to manage it?  Our project requires the app be 5.0, and we are currently troubleshooting our functions and I cannot find any mention of how to differentially modify the functions to support this.

[2021-05-19 15:21] MattJeanes commented on #293
@Prinsn I didn't follow any guides myself I'm not aware of any. It was pretty much a case of changing target framework to `net5.0` for our console apps / APIs but leaving the Azure Functions at `netcoreapp3.1` and ensuring any library projects shared between them were `netstandard2.1` or dual targetting `net5.0` and `netcoreapp3.1`.

NuGet packages in the library projects especially from Microsoft

[2021-05-19 15:28] Prinsn commented on #293
@MattJeanes just to clarify, from the sounds of the Web project needing things, which is technically unrelated to the Azure Function project, you had to keep some things at 3.x if they were merely referenced?

[2021-05-19 15:33] Prinsn commented on #226
@fabiocav What about a migration strategy away from service bus to something else?

There really needs to be a harm mitigation strategy if there isn't going to be an MVP for a simple migration to 5.0.

[2021-05-19 15:35] brettsam commented on #451
Your example is specifially setting the serializer options for MVC, which is not being used in your Functions app. I've just created a PR to include samples that show how to configure JSON serialization in the worker -- see this for details: #453.

In your case, you'll want to do:

[code]

[2021-05-19 15:37] MattJeanes commented on #293
Yeah so for `Microsoft.AspNetCore.Mvc.NewtonsoftJson` for example that was referenced directly by the web project as 5.x which is fine, it's the NuGet packages used in your library projects like `Microsoft.Extensions.Logging` or `Microsoft.Extensions.Configuration` or `Microsoft.EntityFrameworkCore` etc that need to stay at 3.x if those libraries are referenced by your Azure Functions projects as

[2021-05-19 15:45] Prinsn commented on #293
This is nightmarish...

I hope that I can leverage your experience in this issue to at least validate the effort you went through.

@MattJeanes One last thing, however.  Is this strictly for external assemblies?

We're currently referencing our internal security resource as a nuget, which is required to be 5.0 which requires EFCore at 5.0, which are executed on by the functions.

I can come up wit

[2021-05-19 15:51] MattJeanes commented on #293
@Prinsn if your internal assemblies are referencing Microsoft packages it could still be an issue.

We tried to upgrade EF Core to 5.0 as well and because EF Core 5.0 transiently references a bunch of Microsoft.Extensions packages @ 5.0 (you can see that here under dependencies: https://www.nuget.org/packages/Microsoft.EntityFrameworkCore) it caused the Azure Functions to completely break, so we h

[2021-05-19 15:53] Prinsn commented on #293
This is a literal dumpster fire, I appreciate your sanity checks in this.

[2021-05-19 15:58] MattJeanes commented on #293
Yes it's exactly why `dotnet-isolated` Azure Functions are a great idea as it avoids all these issues, but it's simply not ready for prime-time when it's missing critical features like the IMessageReceiver with no alternative. Hopefully .NET 6 will fix all of our woes 😅

[2021-05-19 16:07] Prinsn commented on #293
Unfortunately, I cannot wait 5 months, and downgrading to 3.x is not an option, so we are currently looking into solutions to hack around this.

My cohort is currently trying to figure out if he can create an API service to get an authenticated token to allow us to renew locks via a REST API call, rather than the message receiver.

I'm currently now considering how possible it is to completely rem

[2021-05-19 17:35] #451 closed

[2021-05-19 20:27] SeanFeldman commented on #226
@Prinsn this is relevant to **all** SDK types, not just ASB. And what will you migrate to? Also, not to be rude, how do you see this logistically working out? The team that is working on multitude of issues to provide support for SDK types _and_ providing a migration implementation?

Allow me to ask, what's the harm in holding off from migration for a bit? The older SDK is not gone and will be sup

[2021-05-19 20:47] fabiocav commented on #448
Thank you. Flagging this for investigation.

[2021-05-19 22:03] Prinsn commented on #226
This was last but I'm elevating it because it seems to be meaningful:
Apologies as my specific problem may have been made too generic by posting
in this context, I was scraping for any semblance of an answer to these
issues and this was just one of the places I ended up.  I don't think it
strictly applies to SDK type support, but it still results in collateral
damage to my project and team.   I un

[2021-05-19 22:12] Prinsn commented on #293
My cohort managed to get something promising together by using calls to the
azure REST API directly that are promising at least with respect to the
lockToken and refreshing locks.

We're going to be testing how it works with deadletter queues tomorrow
(since that's like a two step), I hope to have a strategy soon for how to
work around the issue.

I don't know if the REST API is robust enough to h

[2021-05-20 04:01] #390 closed

[2021-05-20 06:11] Ma3yTa opened #454 "How get HttpContext instance inside HttpTrigger (dotnet-isolated)?"

[2021-05-20 10:26] tommymonk commented on #390
@ankitkumarr your proposal seems to work, strange though that I seem to get drips and drabs, infrequent batches with less than 5 items usually event though there are plenty in the queue and `MaxMessageCount` is set to `1000`

[2021-05-20 11:41] spk-heh opened #455 "Service Bus Trigger - Batch size"
Hi, I've been trying to move my functions to .NET 5 and I'm almost done, but there's one thing I cannot seem to find is how to specify maximum batch size with the Service Bus Trigger?

[2021-05-20 11:48] prateekchawla commented on #449
Yeah looks like it built fine on other machine while we installed .Net 5.0 SDK using Jenkins plugin instead of installing it via installer(since the issue  was happening on a build machine)

[2021-05-20 11:48] #449 closed

[2021-05-20 12:23] spk-heh commented on #455
Sorry, got it, For future reference:
**host.json**:
[code]

[2021-05-20 12:23] #455 closed

[2021-05-20 15:04] Prinsn commented on #331
This is happening in our project using the methods listen above to run

[2021-05-20 17:27] MikeBecatti commented on #430
I have essentially the same thing but get the exception I mentioned previously.
[code]
[code]

[2021-05-20 18:57] david-peden-q2 commented on #454
You can't. It literally doesn't exist in this hosting model as it's out-of-process from the underlying web host. You do have access to `HttpRequestData`.

What are you looking for from `HttpContext`?

[2021-05-20 20:27] Prinsn commented on #293
Okay, so this isn't gonna be the cleanest.  I asked the engineer that worked this through for something of an MVP, and what he did was take what he did, gut all our proprietary stuff, and then put in untested things that approximate something similar.

TL;DR:  We used the REST API for the ServiceBus (e.g.: https://docs.microsoft.com/en-us/rest/api/servicebus/renew-lock-for-a-message)

Support for

[2021-05-20 21:56] david-peden-q2 commented on #436
Not sure how I missed your response. I'd like to re-open this for discussion.

Under the old model, we had implemented our own method-level dependency injection solution using attributes. In some functions, we would inject a proprietary `ClaimsPrincipal`. Here's a simple example:

[code]

The registration of `CaasClaimsPrincipal` looked like this:

[code]

In porting over to the new isolated model

[2021-05-21 00:17] #454 closed

[2021-05-21 09:47] devlead opened #456 "Error handling and retries based on policy?"
With functions version >= 3.0.23 it's possible to add policies for how errors and retries are handled i.e.
[code]
or
[code]
docs for this at: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-error-pages?tabs=csharp#retry-policies-preview

What's the recommended way to achieve the same thing with .NET isolated process functions? Is there something similar or does one have t

[2021-05-21 12:09] david-peden-q2 commented on #422
@mortware is your issue specifically related to an isolated azure function? I'm in the process of porting our stuff over to isolated and haven't attempted to deploy yet but we run in-process isolated functions with apim just fine. I can't imagine why being out-of-process would matter. it's just http between the two. can you supply more detail about your setup?

[2021-05-21 20:14] rgylesbedford commented on #385
I was able to get this to work locally (didn't test in Azure) in the following situations:

**Minimal Changes:**

1. Set an env var for "DOTNET_ENVIRONMENT" to a non obvious value (e.g. "Staging")
2. Use `Host.CreateDefaultBuilder()` instead of `new HostBuilder()`
3. Verify `hostContext.HostingEnvironment.EnvironmentName` is "Staging"

[code]

**Brute Force approach**

1. Set an env var for "AZURE

[2021-05-21 20:17] vu-pb commented on #311
@faiocav, are there any ETAs on when this feature will be released?

[2021-05-21 21:30] rgylesbedford opened #457 "Suggestion for .NET 6 - Support Host.CreateDefaultBuilder()"
I'm suggesting this for .NET 6 as it is probably a breaking change for .NET 5.0 isolated process functions.

Please use/recommend `Host.CreateDefaultBuilder(args)` similar to how [ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/generic-host?view=aspnetcore-5.0) and [Console apps](https://docs.microsoft.com/en-us/dotnet/core/extensions/generic-host) work.

This would pr

[2021-05-22 07:54] twentytwokhz opened #458 "How to handle EventData messages in .NET isolated EventHubTriggers"
In .NET Core 3.1 we handled **EventHubTrigger** data via the **EventData** object.
What is the recommended way of using something similar to **EventData** in the **.NET 5 isolated model**?
I saw there is some data available in the FunctionContext.BindingContext.BindingData but no **recommended** way of using it.

My take is this

[code]

But this is clearly not ideal :)

[2021-05-22 10:51] twentytwokhz commented on #283
@fabiocav  @alsami
I mistakenly created a duplicate here: #458
Clearly this approach is less than ideal

[code]

[2021-05-22 10:52] twentytwokhz commented on #458
Duplicate of #283
Can be closed

[2021-05-22 10:52] #458 closed

[2021-05-23 19:57] RaphaelYoshiga commented on #179
I think I am in need of the same functionality, my scenario is to give multiple messages while the function is executed, not just when the function is finished. Is this available in the extensions package?

I will be trying to get an instance of the Hub manually so I have full access to broadcast the messages.

[2021-05-24 10:01] aistvan opened #459 "Update CloudTable's row."
I tried to update a row through TableOutput binding, and I get an exception:

I understand if this way is not supported, but in that case my question is, how?

[2021-05-24 23:40] eugene-cp commented on #383
I have the same issue and it seems like during build/publish the runtimeconfig.json generate this

[code]

the templates/samples when built have the name value as Microsoft.NETCore.App.

when i add references to some packages like:
PackageReference Include="Microsoft.AspNetCore.Mvc.NewtonsoftJson" Version="5.0.5"
PackageReference Include="Microsoft.Azure.AppConfiguration.AspNetCore" Version="4.2.1

[2021-05-25 00:15] fabiocav commented on #311
This will be coming out with VS 16.10, which should be released soon.

[2021-05-25 09:11] khebul commented on #456
I would also like to know that. I am currently in the process of migrating our current solution to dotnet-isolated worker, and ability to configure retry behaviour is quite important.

[2021-05-25 15:43] JustinGrote commented on #370
@fabiocav 2 month follow up, can you tell me what discussion is required?

[2021-05-25 21:13] fabiocav commented on #456
This is planned and in progress. Part of the work has been done [here](https://github.com/Azure/azure-functions-dotnet-worker/pull/357), but the PR was blocked due to a host issue that has been addressed in the release that just went out. We should be able to move that forward now and will have updates to the PR as well as a sample.

Closing this, but will continue to update the issue associated w

[2021-05-25 21:13] #456 closed

[2021-05-25 21:22] fabiocav commented on #457
@rgylesbedford want to make sure I'm not missing what you're trying to convey, but this would be a simple template change. The code you've shared above should work with the worker packages as-is, today. This would also not completely eliminate the dependency on `local.settings.json` as that applies to host level configuration as well.

Did you have a problem when you tried to use the code you've s

[2021-05-25 21:23] fabiocav commented on #459
@aistvan I'm assuming you're using an `IBinder` instance, but without more details, it's hard to know if we're answering the right question. Could you please share the code you're using and more details?

Thanks!

[2021-05-25 21:29] fabiocav commented on #430
@MikeBecatti we're still struggling to repro and fully understand the issue as the pattern above still has some of the issues we've pointed out.

Could you please provide the following:
 - A repository with a simple repro for your scenario
 - The sample payload being used to trigger the function.

Thank you for the help!

[2021-05-25 21:31] fabiocav commented on #450
Assigning to the next sprint for investigation.

[2021-05-25 21:34] fabiocav commented on #366
Moving to sprint 103 for initial scoping

[2021-05-25 21:50] fabiocav commented on #422
@mikebudzynski did you have some information that was potentially relevant to this issue?

[2021-05-25 21:58] fabiocav commented on #179
@RaphaelYoshiga if your requirement is to return multiple messages (not send them in real time/as the function executes), you can return an `IEnumerable<SignalRMessage>` and they should all be processed **when the function completes**.

[2021-05-25 21:59] fabiocav commented on #179
Closing as answered. Please let us know if you have any additional questions.

[2021-05-25 21:59] #179 closed

[2021-05-25 22:03] aistvan commented on #459
@fabiocav I created a POC for a project in the future.
I'm using a simple "multiple output" scenario in my project.
Here is my return class
[code]

This is the end of my function:

[code]

My goal is to owerwrite "ExpirationTime" at every call.

Later, there will be an information in the HTTP Header, which will act as "RowKey", but that is another story: what I should I have to put in the 3th para

[2021-05-26 01:01] #388 closed

[2021-05-26 04:55] alsami commented on #283
I agree also that this way is not as ideal as the binding that has been provided before. But it works that way.
Are there plans to directly support the binding of `EventData`?

Anyway, this can be closed  since the question is answered. Thanks a lot!

[2021-05-26 04:55] #283 closed

[2021-05-26 09:30] ankitkumarr commented on #433
Hi @iloabn, I took a look at your function app (through the execution ID you provided). I can confirm that your function app is indeed missing executions. It seems that the Scale Controller service in our platform is unable to find the Service Bus queues that you have configured your functions to run against. Because it is unable to find and monitor the queues, it doesn't allocate an instance for

[2021-05-26 09:54] iloabn commented on #433
Very interesting, thanks you for that investigation and explanation @ankitkumarr :)
For my function, I am setting the connection string using application settings, but the queue name is set directly in the function signature, like this:
[code]
And another one looks like this:
[code]
*The example is a copy of the code, with the names of functions, queues, connectionstrings and models changed.*

Is

[2021-05-26 14:02] Prinsn commented on #293
@fabiocav Could you explain how this was triaged as an enhancement?

If all developers blocking on this cannot be instructed how to work around this issue to not block adoption of .NET 5.0, this would seem more than an enhancement.

[2021-05-26 18:44] #405 closed

[2021-05-26 18:49] fabiocav commented on #293
@Prinsn this is flagged as an enhancement as this functionality was, by design, not within the scope of the out-of-proc/worker model. This is the same limitation the model currently has for the other languages supported by functions.

Addressing this limitation is an enhancement to what the host supports and to the workers to leverage the new capabilities.

Hope this helps, but can expand if neede

[2021-05-26 18:56] #415 closed

[2021-05-26 20:12] fabiocav commented on #316
Deployment is now done. We should be able to update the PR and have this merged.

[2021-05-26 20:26] onionhammer opened #463 "CosmosDbTrigger: Cant deserialize strings to enums"
Following the example found here:

https://github.com/Azure/azure-functions-dotnet-worker/blob/main/samples/Extensions/CosmosDB/CosmosDBFunction.cs

I'm receiving
Cannot convert input parameter 'leadData' to type 'System.Collections.Gen.Functions.LeadDuplicates+ChangeFeedLead, C2C.Functions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]' from type 'System.String'.

where ChangeFeedLead i

[2021-05-26 20:43] onionhammer commented on #463
I was able to work around this; apparently the deserializer used does not support deserializing strings as enums, and the error doesnt give any detailed error except the top level error.

[2021-05-26 21:08] SeanFeldman commented on #463
What was your workaround?

[2021-05-26 21:33] jwisener commented on #434
Yes, same issue, can no longer effectively debug and develop azure function 5. It really seems like a downgrade and tooling is always a 2nd thought. So broken.

[2021-05-27 02:26] onionhammer commented on #463
@SeanFeldman adding an attribute:

[code]

[2021-05-27 09:54] andrejohansson opened #491 "Dotnet 5 isolated mode, structured logging with ILogger broken?"
#### Investigative information

I have been using the ILogger interface in both **v1 (via an adapter) and v3 (native)** functions with working custom dimensions reported back to Application Insights:

I've been able to utilize both [structured logging](
https://github.com/Azure/azure-functions-host/wiki/ILogger#structured-logging):

[code]

and scopes that add extra information

[code]

But since

[2021-05-27 22:40] mikebudzynski commented on #422
@fabiocav, I would need more details and the reproduction steps.

[2021-05-27 22:45] fabiocav commented on #422
@mortware was your issue with a simple HTTP function? Anything special about your setup? If not, I can provide a repro @mikebudzynski can use.

Can you also confirm this issue is still impacting your?

Thanks!

[2021-05-28 06:06] thrixton commented on #403
What is / is there the fix for this?
I have a function deployed in a container to AKS and it's getting the same error.
This is deployed via pulumi (IaC), not by `func kubernetes deploy`.

[2021-05-28 06:06] thrixton opened #464 "System.UriFormatException: Invalid URI: The hostname could not be parsed'"
I have a 5.0 dotnet-isolated function which I've deployed to AKS using `mcr.microsoft.com/azure-functions/dotnet-isolated:3.0.15885-dotnet-isolated5.0-slim` as the runtime.
When it starts up, I get the error below.
Is there a runbook for isolated functions outside of the Azure functions service?

Error
[code]

Related issues [331](https://github.com/Azure/azure-functions-dotnet-worker/issues/331)

[2021-05-28 20:09] WinInsider commented on #397
@fabiocav running on VS 16.10... in the project I have number of timer functions; is there a way to tell Visual Studio, that when debugging (F5), which timer function I want to debug, and for VS to trigger that timer function imminently? .. and to ignore other functions (not trigger them)

[2021-05-29 14:01] ffMathy commented on #464
This happens for me as well when trying to start the host from an integration test.

[2021-05-29 16:07] UnoSD opened #465 "HttpRequestData always returns 200 as status code"
I have created a function that returns an error using the following code:

[code]

The message gets propagated correctly and the function returns "error message", but the status code returned is `200` instead of `400`

`.NET 5.0.300`
[code]

Context: https://github.com/UnoSD/UnoCash.Fable/blob/net5-azure-function/UnoCash.Api/GetExpenses.fs

I also tried getting rid of the `Task<HttpResponseData>`

[2021-05-29 16:10] UnoSD opened #466 "HttpRequestData.Cookies does not contain request cookies"
I have migrated a .NET Core 3.1 Function to .NET 5 and updated the code accordingly.

I used to be able to access cookies from `HttpRequest.Cookies` and I updated it to `HttpRequestData.Cookies`, but the collection seems to be empty on every request.

I was able to find the expected cookies using `HttpRequestData.Headers` and extracting them from there.

Req: `Cookie: jwtToken=VALUE`

Code:
[code]

[2021-05-29 22:06] MikeBecatti commented on #430
I'll get you a repo as soon as I can.

[2021-05-30 01:29] sjuarezgx opened #467 "How to get the metadata of queue messages or service bus messages in Azure Functions for Net 5"
Hello

I'm migrating Azure functions from Net Core 3.1 to Net 5.
For Net Core 3.1 I have a parameter of CloudQueueMessage type (Microsoft.WindowsAzure.Storage.Queue) where I receive all the [trigger metadata](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-expressions-patterns#trigger-metadata) : ExpirationTime, InsertionTime, etc...

I don't use annotations in my code. I

[2021-05-30 16:14] SeanFeldman commented on #467
Metadata is likely on the context object. That's how it's accessed for Service Bus trigger (see [issue](https://github.com/Azure/azure-functions-dotnet-worker/issues/384) for details). Try property names for storage queue type from SDK v12.

[2021-05-30 22:17] Matthewsre opened #468 "How to configure ServiceBus trigger using Azure.Core (TokenCredential)"
Now that we have full access to the HostBuilder, we should be able to configure service bus using TokenCredential provided by Azure.Core.

I don't see any documentation for how to configure this so that I no longer need to have a connection string with a secret in the Azure Function configuration settings. Is there any guidance for how we could do this while configuring the host?

I have a Chained

[2021-05-31 02:04] stagep commented on #465
The WriteAsJsonAsync method sets the status code to 200. This is already submitted as issue # 344

https://github.com/Azure/azure-functions-dotnet-worker/issues/344

[2021-05-31 07:36] optiks commented on #384
I believe this is only for the old (non-isolated) model. Have you tried it on .NET 5?

[2021-05-31 07:39] optiks commented on #384
This shouldn't be necessary; you should be able to inject them directly, e.g.

[code]

[2021-05-31 08:29] UnoSD commented on #465
@stagep Thank you for the confirmation, I can close this issue then and follow the other.

[2021-05-31 08:29] #465 closed

[2021-05-31 14:07] SeanFeldman commented on #384
@optiks those are not custom properties 🙂

[2021-05-31 20:13] rohinz commented on #418
All customization in ``Program.cs`` applied to the ``IConfigurationBuilder`` will just affect the isolated worker process. But the function host (which is another process) will not be affected. And this causes issues with Input- and Output binding configurations.

@lohithgn: ``KeyVaultReferences`` are not a real alternative as long as they are only supported with system-assigned identities but not

[2021-05-31 21:44] MarcAnnous commented on #322
Hi @fabiocav I see from #366 that this one is being pushed. I am at a point where I cannot go back to .NET Core 3.1. Would you still be able to give the guidance even if the process is cumbersome? Thanks for your help.

[2021-05-31 23:59] optiks commented on #384
D'oh! My bad, thanks.

[2021-06-01 00:49] lohithgn commented on #418
@rohinz I am not trying with KeyVault. My scenario was - during development - i dont want my team to keep secrets in local.settings.json. So we use User Secrets configured on the project. When we moved to .NET5 based dotnet-isolated model for functions - we thought the user secrets were not getting loaded. The code we had used was ```hostContext.HostingEnvironment.IsDevelopment()```. IsDevelopment

[2021-06-01 00:59] Matthewsre commented on #385
@rgylesbedford , thanks for sharing your workaround. I am now using this approach and it has unblocked me as nothing else would allow me to set the environment. Even local.settings.json was causing the error I encountered here:

https://github.com/Azure/azure-functions-core-tools/issues/2465#issuecomment-851728655

[2021-06-01 07:18] maartenba commented on #361
Wrote a quick blog post about how I think the bindings work, from experience with the old model and observations in the new model. There are also some development experience takeaways for the team :) https://blog.maartenballiauw.be/post/2021/06/01/custom-bindings-with-azure-functions-dotnet-isolated-worker.html

[2021-06-01 20:11] david-peden-q2 commented on #436
@fabiocav can you re-open this please?

[2021-06-02 00:22] fabiocav commented on #385
Quick update on the plan for this:

 - We're making the changes so the worker will observe the `AZURE_FUNCTIONS_` environment variables. This will maintain the behavior we previously had and ensure that the `Debug` environment is automatically set when running under the debugger
 - For the default .NET experience, we'll be updating the default templates to use `CreateDefaultBuilder()` by default (

[2021-06-02 01:01] #457 closed

[2021-06-02 04:11] plamber opened #470 "How do I configure the initialVisibilityDelay for QueueOutputs?"
Hello,
we are moving our Azure Functions from 3.1 to 5.0 and are using queues extensively. In our application we have to delay the trigger of some message by a couple of minutes.

In 3.1 we referenced the queue and use the [AddMessageAsync](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.storage.queue.cloudqueue.addmessageasync?view=azure-dotnet-legacy#:~:text=AddMessageAsync%20%28Clou

[2021-06-02 04:42] plamber commented on #382
Hi @fabiocav,
we are also interested in finding out how to manipulate these settings.

We have queues that have different values in:
- MaxPollingInterval
- MaxDequeueCount
- VisibilityTimeout

In 3.1 we manipulate these values using a custom IQueueProcessorFactory. Just adding it as a singleton in the .net worker does help.

Any point to the right direction is appreciated.

Thank you

[2021-06-02 09:51] palpet-icore commented on #417
Am I correct to understand that the only way to currently get Debug/Trace logs from the application is the (ugly) workaround above by setting it in code?

[2021-06-02 11:01] plamber opened #471 "Application stops running during debugging with a TimerTrigger"
Hi,
we are using Visual Studio 16.11.0 Preview 1.0 to debug the Azure Functions. The project has following packages referenced:
- Microsoft.Azure.Functions.Worker 1.2.0
- Microsoft.Azure.Functions.Worker.Extensions.Abstractions 1.0.0
- Microsoft.Azure.Functions.Worker.Extensions.Storage 4.0.4
- Microsoft.Azure.Functions.Worker.Extensions.Http 3.0.13
- Microsoft.Azure.Functions.Worker.Extensions.Ti

[2021-06-02 16:40] sjuarezgx commented on #467
Thank you for your reply. It worked OK.
The only data I still can't get is the SessionId. Do you know any issue related to this?

[2021-06-02 22:57] fabiocav commented on #463
Thanks for sharing. Based on the exception and the POCO, I don't think we need any further action on this. Are you OK to close?

[2021-06-02 23:01] fabiocav commented on #464
@thrixton this means that, somehow, the expected arguments were not passed. Would you mind sharing the following:

1. The Docker file you're using (if you've crafted your own)
2. The logs emitted by the host showing the worker startup information (the arguments should be there as well)

@ffMathy I believe the issue you're running into is a bit different (same root, different context). Would you mi

[2021-06-02 23:02] fabiocav commented on #466
Thanks for reporting. We'll take a look at this.

[2021-06-02 23:06] fabiocav commented on #467
@sjuarezgx session ID should be present in the same collection. Is it present but showing an unexpected value? Or missing altogether? Are you using sessions?

[2021-06-02 23:08] #463 closed

[2021-06-02 23:12] fabiocav commented on #468
The worker doesn't control that, so that option is not available there and is still driven by the extension being used.

The track 2 extensions are currently in beta and we'll be creating the bindings for them here as well, once that is in place, you'll be able to use the features listed here: https://devblogs.microsoft.com/azure-sdk/introducing-the-new-azure-function-extension-libraries-beta/

[2021-06-02 23:12] #468 closed

[2021-06-02 23:14] fabiocav commented on #470
This is, unfortunately, not currently supported with bindings.

In order to do this with the out-of-proc model you'd need to work directly with the SDK.

[2021-06-02 23:14] #470 closed

[2021-06-02 23:16] fabiocav commented on #471
@plamber are you seeing an error when that happens? Or does the process just exits?

[2021-06-02 23:31] fabiocav commented on #459
With the question about taking in the query string parameter, you should be able to use the `{query.<queryname>}` expression in the parameter.

About the question:

As long as the object has the same row key and partition key, that should update the row. You may need to set an `ETag` property to `*` as well, but please let us know if that doesn't work for you.

[2021-06-02 23:36] fabiocav commented on #383
@JamieMagee apologies for the delayed response here, this issue was, unfortunately, opened before the bot was properly configured and slipped through our triage process.

Can you confirm you're still experiencing the same issue?

[2021-06-02 23:40] fabiocav commented on #143
Moving this to sprint 104 as it was missed in triage.

[2021-06-03 00:08] ffMathy opened #472 "Azure functions can't be integration tested in dotnet 5"
Reference: https://github.com/Azure/azure-functions-dotnet-worker/issues/464

Not sure if functions were ever integration testable. However, I expect to be able to spawn up the function host in process, to enable debugging of tests, and run my functions like I normally would, but in an integration test.

Today it's possible if I externally launch the functions core tools, but that doesn't record c

[2021-06-03 03:45] distantcam commented on #471
I've been having a similar issue after first running the timer function.

Something to do with the monitoring is causing the debugger to not attach properly. I added `UseMonitor = false` to the timer attribute and the debugger started working again.

[2021-06-03 04:11] plamber commented on #470
Hi @fabiocav,
thank you for the feedback. Are there any plans to support this in future?

Any suggestions what is the most elegant and easy way to get a reference to a queue in a function?

Cheers

[2021-06-03 04:57] plamber commented on #471
@fabiocav: Visual Studio freezes and after a while it throws this exception
![image](https://user-images.githubusercontent.com/18241305/120586597-1b485200-c434-11eb-9135-755da5daa9d4.png)

I tried to remove RunOnStartup as @distantcam suggested, but I am sill having the same issue.

It fails once I perform one of these combinations
- Have two timer functions created with the "func new" command
- H

[2021-06-03 05:30] thrixton commented on #464
Hi @fabiocav ,
Thanks for taking the time to look at this.
Hopefull I've included enough info below.

J
---

**Dockerfile**
[code]
**ARGS**
[code]

**Environment**
[code]
**Logs**
[pod-log.txt](https://github.com/Azure/azure-functions-dotnet-worker/files/6589125/pod-log.txt)

[2021-06-03 06:44] distantcam commented on #471
@plamber I also had to add `UseMonitor = false`. Does that work?

[2021-06-03 07:19] plamber commented on #471
Hi @distantcam,
adding UseMonitor = false to each function solved the problem.

I misread your initial suggestion.

Cheers

[2021-06-03 08:16] mabvanaartrijk opened #473 "OpenAPI support for .NET 5"
Azure Functions in .NET Core 3.1 has OpenAPI support: https://docs.microsoft.com/en-us/azure/azure-functions/openapi-apim-integrate-visual-studio. Is OpenAPI support on the roadmap for .NET 5? Thanks!

[2021-06-03 10:42] rai69 opened #474 "Setting a correlationId on a message when using ServiceBusOutput"
In my function I have an class with several properties that each is decorated with a ServiceBusOuput attribute. From the message that enters my function I receive a correlationId. I want to pass this correlationId to the outgoing message. Any suggestions how this can be achieved?

[2021-06-03 14:34] irwinwilliams opened #475 "How do you migrate from functions that are netcoreapp3.1 to dotnet 5?"
I started this project in netcoreapp3.1 but would like to flip it to dotnet 5.
I see this information about [necessary packages](https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-guide#package-references) but what else should I do to make it work?

[2021-06-03 14:48] sjuarezgx commented on #467
The SessionId is not present.
I'm doing this:

if (context.BindingContext.BindingData.TryGetValue("SessionId", out var SessionIdObj) && SessionIdObj != null)
				{
					message.SessionId = SessionIdObj.ToString();
                                }

I have sessions enabled, as it's explained [here](https://docs.microsoft.com/en-us/azure/service-bus-messaging/enable-message-sessions).

Thanks

[2021-06-03 16:30] aistvan commented on #459
@fabiocav I tried but the result is the same.
I extend my result with ETag like this:

[code]
I got:

And my table has now an "Etag" column.

Can you give me any basic example for this issue??

And I don't understand what you mean here:

I don't want to do anything with query string. I'll need something from HTTPHeader (for examle **X-Whatever**) for binding like this:
`[TableInput("TableName", "P

[2021-06-03 17:32] #385 closed

[2021-06-03 18:29] SeanFeldman commented on #474
How is that correlation ID passed with the message? As a payload or header/property?
For the payload, you could deserialize the message. For header/property, see https://github.com/Azure/azure-functions-dotnet-worker/issues/384 comments to see how it can be done today.

[2021-06-03 19:03] sjuarezgx commented on #467
I've already found the Session Id at MessageSessionObject.

Thank you.

[2021-06-03 19:03] #467 closed

[2021-06-03 20:38] twentytwokhz commented on #418
For me this is really frustrating.
I am setting up the Azure App Configuration Service in startup and I'm having all sorts of weird behaviors where some configuration values are available and some are not.
I assume the ones in startup are read automatically when the code is executed..but this code is executed only **after** the functions are initiated - thus, functions are lacking their backing co

[2021-06-03 21:06] haeberle commented on #287
Thanks a lot, works well with your workaround!

[2021-06-03 21:16] rai69 commented on #474
I already used #384 with respect to the correlationId that I wanted to receive from the incoming topic.
But my question relates to the outgoing messages that I want to enrich with the correlationId that I have received. I know that I could put in the model, but I am looking for a way to put it as a header property of the outgoing messages.
[code]

The output class:
[code]

[2021-06-04 00:45] oscarcabrero opened #476 "cosmosdbtrigger throws null reference exception"
[2021-06-04T00:44:51.538Z] Executed 'Functions.SapBlobExport' (Failed, Id=d5060f45-002b-4ec7-b83f-38d2855721f3, Duration=340767ms)
[2021-06-04T00:44:55.487Z] System.Private.CoreLib: Exception while executing function: Functions.SapBlobExport. System.Private.CoreLib: Result: Failure
Exception: System.AggregateException: One or more errors occurred. (Object reference not set to an instance of an obj

[2021-06-04 01:01] #422 closed

[2021-06-04 09:29] da1rren commented on #446
Any update this is impacting our upgrade efforts?

[2021-06-04 09:32] trailmax commented on #475
We've run into the same issue - lack of documentation is killing this .Net 5 effort.

[2021-06-04 12:14] twentytwokhz commented on #475
@trailmax I totally feel the pain

[2021-06-04 12:15] twentytwokhz commented on #446
I was wondering what happened with the **Get Function Url** feature. Thought it was a problem with my http triggers..but now it makes sense

[2021-06-04 13:21] brettsam commented on #475
I don't know that we've got an official migration guide with examples. There's [this](https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-guide#differences-with-net-class-library-functions), but that doesn't really take you step-by-step.

Let me see if I can start a wiki page here to quickly start collecting concrete examples. We can use that as a basis for an official d

[2021-06-04 13:45] trailmax commented on #475
@brettsam I've gone through that document and it is fine if you are starting from scratch. I've seen all the samples. But if you are migrating already established project, it is a total pain of trail and error. I've followed this [guide](https://codetraveler.io/2021/05/28/creating-azure-functions-using-net-5/), this guide got me there like 90%. Some bits I had to figure out for myself:
* I've been

[2021-06-04 14:10] ijagberg opened #477 "Accessing Event metadata in EventHub triggered Function"
I have a Function with the following signature:

`public async Task Run([EventHubTrigger("", Connection = "...", ConsumerGroup = "...")] string[] messages)`

This works fine for reading the body of events.

For each incoming message, I want to access Event metadata (such as EnqueuedTimeUtc, or the Properties dictionary).

In the .NET Core runtime, I would change `string` into `EventData` as such:

[2021-06-04 14:20] brettsam commented on #475
These are great, thank you @trailmax!

Re: `[FunctionName]` -- Two of the steps in the migration guide should probably be:
1. Remove references to all nuget packages that contain `WebJobs` in the name. You shouldn't see the `WebJobs` namespace in any packages or `using` statements.
2. Remove package reference to `Microsoft.NET.Sdk.Functions`.

[2021-06-04 14:22] brettsam opened #478 "Support PublishSingleFile"
Our worker config currently assumes a "dll" file extension. We'll need to do a little work in the Sdk to support `PublishSingleFile`.

[2021-06-04 14:41] brettsam opened #479 "Analyzer for any refs to WebJobs"
Apps shouldn't have any refs to anything WebJobs. Analyzer should be able to help with this.

[2021-06-04 14:59] trailmax commented on #475
@brettsam yeah, removing these packages from dependency chain (eventually) fixed it. I had WebJob packages in sub-sub dependency of Az Func project, hence it was available. After all the functions projects in the solution were converted and WebJob nugets were removed from everywhere, that stopped compiling.

[2021-06-04 20:38] JamieMagee commented on #383
No worries, this is for a personal project. I ended up deploying to a Windows-based Azure function. I'll give it a go later and see if it works now.

[2021-06-04 21:05] eugene-cp commented on #383
@fabiocav was this resolved already?  Same as @JamieMagee I ended up deploying to Function App for Windows which also required me to create a new resource group.

I can test deploying the same functions on Linux if this has been address.

[2021-06-05 02:02] #476 closed

[2021-06-05 13:56] RichMercer commented on #311
How about Visual Studio Mac support? Is that also planned?

[2021-06-05 17:51] RichMercer commented on #475
In my Function project I also did a find and replace to swap out the `ILogger log` parameter passed in to the functions Run method with `FunctionContext context`. A lot of these updates can be done quickly with Find/Replace (e.g. replacing FunctionName with Function). For me there was minimal refactoring other than having to deal with the missing methods in the Cosmos binding. My code was leaning

[2021-06-05 23:57] anthonychu opened #480 "Remove .NET Core 3.1 SDK requirement to build project"
This is a common cause of confusion, particularly in setting up CI/CD. Also requires special treatment in order to support it in Azure Static Web Apps. https://github.com/microsoft/Oryx/issues/1032

[2021-06-07 07:00] forki commented on #480
Yes this one is really really annoying - we can't build net5 functions without 3.1 installed on CI

[2021-06-07 09:58] Ogglas commented on #417
@brminnick Any indication when this will be released?

Affects the following code as well:

Program.cs

    public class Program
    {
        public static void Main()
        {
            var host = new HostBuilder()
                .ConfigureFunctionsWorkerDefaults()
                .ConfigureServices(services =>
                {
                    var connectionString = Environment.GetEnvir

[2021-06-07 12:37] ijagberg commented on #477
All documentation I've been able to find regarding EventHub triggers in .NET 5 (including the examples in this repository) use the `string[]` syntax, so I can't tell if this is no longer supported or I am missing something.

[2021-06-07 13:41] RiaanVR commented on #434
We've just recently starting investigating.NET 5 for our stack which is exclusively built on top of functions currently .net core 3.1, wanting to take advantage of all the perf and language improvements we want to start moving toward .NET 5 ahead of the release of .NET 6 in November.

So far it is nearly impossible to get a function instance running locally so that one can debug, there are some ch

[2021-06-07 16:13] brminnick commented on #417
I'll defer to @fabiocav for the release date.

I'm currently using the internal builds in my open source app, downloading the package from a temporary MyGet server:
- Microsoft.Azure.Functions.Worker.Sdk v1.0.3-20210603.1
- Microsoft.Azure.Functions.Worker v1.2.0-20210603.1

https://github.com/brminnick/RedditStats/blob/5ca2ca534af24701ca956c54035f12b6182ebf26/Src/RedditStats.Functions/RedditStats

[2021-06-07 16:21] jeffward01 commented on #331
Any progress on this issue? I am encountering it as well.

I have these packages installed:

` <ItemGroup>
    <PackageReference Include="Microsoft.Azure.Functions.Worker" Version="1.2.0" />
    <PackageReference Include="Microsoft.Azure.Functions.Worker.Extensions.Abstractions" Version="1.0.0" />
    <PackageReference Include="Microsoft.Azure.Functions.Worker.Extensions.Http" Version="3.0.13" />

[2021-06-07 19:13] GPedroxd opened #481 "item not removed from queue"
I have a function with servicebustrigger, and when the function receives the message it does not remove it from the queue, but when the run method is static, it removes. how do i get the run async method to remove the item from the queue? I have a function with servicebustrigger, and when the function receives the message it does not remove it from the queue, but when the run method is static, it

[2021-06-07 20:59] ak37165 commented on #386
+1. Calling from a browser such as Edge or Chrome on localhost causes this exception too.

[2021-06-08 09:16] AdrianPell opened #483 "Dependency Injection of multiple services with same interface fails"
Attempting to inject multiple services with the same interface as an array fails in an isolated function process but succeeds in a non-isolated process.

Consider the following function class:

[code]

The service is defined as:
[code]

In an in-process function, this succeeds. `testServices` is populated with an array of all the instances that match the interface. However, in out-of-process funct

[2021-06-08 10:01] jrgcubano opened #484 "Proper way to configure logging levels with NET5"
Hello,

I've been using a configuration similar to the next example for the logging levels by namespaces. But with the new isolated model, it doesn't filter any longer...

[code]

How should I configure the filters now?

[2021-06-08 12:14] PehrGit opened #485 "Why are the interfaces internal?"
I'm trying to do something similar to this issue: https://github.com/Azure/azure-functions-dotnet-worker/issues/340

It would be easy to temporarily fix this ourselves if we could replace some of the required types with our own. For instance, register a custom IWorker or IFunctionExecutor. But these interfaces are all internal, making that impossible.

It would be great if at least the interfaces,

[2021-06-08 13:48] dev-jla opened #486 "Unexpected high memory usage when deployed"
I'm seeing an unexpectedly high Private Bytes values for a deployed functions app- now this is a simple app that is happy to run at 30-50MB but when I check analytics the process consumes around 700MB.

[2021-06-08 15:14] ak37165 commented on #475
There are other changes needed as well as we are discovering during migration.

1. You could extract the client IP using request.HttpContext.Connection.RemoteIpAddress in .netcoreapp3.1 but the isolated process does not have access to the HttpRequest. So you need a different method to extract it from HttpRequestData. No documentation, but from experimentation it seems you can look for headers X-Fo

[2021-06-08 20:10] brettsam commented on #418
@twentytwokhz -- nothing you're doing here is specific to Functions. Function classes are instantiated using the standard .NET dependency injection -- so all configuration and options should be initialized at that time. I suspect that your usage of the configuration straight from the `context` in `ConfigureServices` may be the issue.

If you can share an example of where the configuration is not y

[2021-06-08 23:15] RyanMarcotte opened #492 "When running via Visual Studio integration, timer-triggered function causes host to hang"
I am debugging a [NET 5 Azure Function app using Visual Studio](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-functions/dotnet-isolated-process-developer-howtos.md#run-the-function-locally).  I have two HTTP-triggered functions and a timer-triggered function.  The function app host appears to hang upon startup as no breakpoints are hit (a set one at the first line in `Main

[2021-06-09 00:12] fabiocav commented on #417
The release is now out on NuGet (with Worker package version 1.3.0). Please let us know if you continue to have issues with that.

Thank you!

[2021-06-09 00:12] #417 closed

[2021-06-09 01:01] distantcam commented on #397
@WinInsider There's currently a bug that causes debugging to fail if a timer function tries to start before the debugger is attached to the process.

https://github.com/Azure/azure-functions-dotnet-worker/issues/471

Once the debugger is attached you can manually trigger timer functions using a HTTP call.

https://docs.microsoft.com/en-us/azure/azure-functions/functions-manually-run-non-http

[2021-06-09 02:12] dev-jla commented on #486
the real concern I think is if it affects billing or this is something we're seeing with isolated process?

[2021-06-09 07:05] cosminstirbu commented on #473
I'm also interested in this functionality.

[2021-06-09 07:20] twentytwokhz commented on #418
@brettsam  What I currently see is that the connection `ServiceBus-ConnectionString` in my following function is not being populated from the App Service Configuration.

Could it be related to the DI of the services I configured in the `ConfigureServices`?

[code]

[2021-06-09 13:00] DavidGodbold opened #488 "Cannot debug in VS 2019 when TimerTrigger invokes due to IsPastDue UnscheduledInvocationReason"
I ran the debugger by pressing Debug in VS and also alternatively followed the guidance at [here](https://github.com/Azure/azure-functions-dotnet-worker/wiki/Debugging) to debug locally.

On both occasions I receive the same timeout error when a TimerTrigger is invoked due to a CRON expression (see TimerTrigger C# declaration in image below) which means it runs to catch up on a missed invocation.

[2021-06-09 13:44] h3x4d3c1m4l commented on #473
Maybe this can be helpful: https://github.com/hajekj/azure-functions-openapi-demo

[2021-06-09 14:56] DavidGodbold commented on #488
I have since deployed application to Azure (Windows, Consumption plan) and it even fails there. Any timer trigger times out after 5 minutes.

![image](https://user-images.githubusercontent.com/40599276/121378609-43a3e500-c93b-11eb-886f-7ac2603d7e00.png)

[2021-06-09 14:59] DavidGodbold commented on #488
If I create a new Function project using latest version of VS 2019 at time of writing (16.10.1) with a TimerTrigger using the VS template, with a CRON expression of 0 */10 * * * *, I get the same issue so I feel that rules out the issue being within my codebase.

![image](https://user-images.githubusercontent.com/40599276/121379092-a0070480-c93b-11eb-9965-a803c99e89d0.png)

[2021-06-09 15:37] brettsam commented on #434
@RiannVR -- what version of Visual Studio are you using? With 16.10, hitting F5 should launch the debugger and attach correctly: https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-developer-howtos?pivots=development-environment-vs&tabs=browser#prerequisites.

There is an issue debugging startup code (https://github.com/Azure/azure-functions-dotnet-worker/issues/434), bu

[2021-06-09 15:53] jwisener commented on #434
I have an example visual studio .net project, with a basic set of timer functions that F5 will not work properly.

[2021-06-09 15:56] brettsam commented on #481
Is the function execution throwing an error?
What if you change your method to just `await Task.CompletedTask`? Does it work as expected then?

[2021-06-09 15:59] brettsam commented on #485
That's the plan, but we're trying to be very deliberate about what the public interfaces look like when they go public. Once they're public, we can't revise them without another major version bump.

No ETA, but we'll be doing some work soon to open up some more functionality.

Closing this as we'll be tracking this work elsewhere (such as in the linked issue above).

[2021-06-09 15:59] #485 closed

[2021-06-09 17:26] fabiocav commented on #434
I'm suspecting the issue above is related to the monitor for the timer. @jwisener do you have a storage account and/or emulator connection string setup when debugging?

[2021-06-09 17:30] jwisener commented on #434
I just created a new azure function project in visual studio 2019 v 10.16.01, and setup 14 timer functions. So it's using the default, which is local storage emulator

![image](https://user-images.githubusercontent.com/135758/121401548-6e337500-c91e-11eb-97f9-62f97544bfc1.png)

[2021-06-09 17:36] jwisener commented on #434
That was an example project to reproduce the issue we are having on an actual project. Our actual project, uses an azure storage account and it does the same thing. so it doesn't seem to matter if it's an actual azure "storage account" or the emulator.

[2021-06-09 17:37] fabiocav commented on #434
Thanks. We'll take a look to see what is going on here. Can you confirm that running standalone (outside of VS/No debugger) runs as expected?

[2021-06-09 17:43] jwisener commented on #434
Well on our actual project, running outside of "visual studio" (via command line) and attaching the debugger, the issue we have: it's not loading the appsettings files we have properly. (aka running from the command line **func host start --dotnet-isolated-debug**  and then attaching vi the debugger). So we have to have visual studio launch it as an "executable" and then attach the debugger. (it's

[2021-06-09 19:52] ankitkumarr commented on #448
@rinkeb, I took a look at this and it turns out the warning is unharmful. Looks like scale controller doesn't recognize warmup triggers, but that's ok because it doesn't need to do anything with it. And this seems to be logged for all Function apps with warmup triggers (.NET or any other stack).

As for the discard character issue, I will update our samples shortly. Thanks for reporting that. :)

[2021-06-09 20:11] fabiocav commented on #450
Moving this to 104 as this wasn't addressed this sprint

[2021-06-09 20:27] fabiocav commented on #366
Work in progress with scope/approach. Moving to 104 for implementation.

[2021-06-09 20:30] fabiocav commented on #336
@pascal-hauser we're in sprint planning and trying to close on this item. Can you confirm the RID and steps you ran through so we can validate the scenario? Thanks!

[2021-06-09 22:06] ak37165 commented on #347
It seems from the sample code at [https://github.com/anthonychu/azure-functions-dotnet5-signalr-sample/blob/main/Messages.cs](https://github.com/anthonychu/azure-functions-dotnet5-signalr-sample/blob/main/Messages.cs) that it only returns the signalR response but not the response to the Http request. Not sure if that is valid. Wish the documentation was clearer on that aspect.

Rather, I used mult

[2021-06-10 08:49] tjrobinson commented on #393
This is a blocker for us moving from Web Jobs to Azure Functions.

[2021-06-10 08:57] RikkoE commented on #477
I am also interested in this issue, I need the Enqueued time for monitoring of our apps but cannot find it in the .NET 5 versions.

[2021-06-10 09:06] tjrobinson commented on #331
How are you starting it? If I use Rider and try and run it as a .NET project it fails with the errors above, but if I use Rider, or the command line to execute `func host start` it's fine.

[2021-06-10 09:06] rinkeb commented on #448
@ankitkumarr Thanx for checking. Good to know the warmup sample is accurate now :-)

I found some log traces from my warmup function in app insights, so i can confirm that warmup function is indeed triggered just fine.

[2021-06-10 12:01] stebet commented on #439
Is there any news or workaround on this?

[2021-06-10 13:20] ak37165 opened #490 "HttpTrigger gives exception The header name format is invalid."
Create a simple function "func init, func new" add an HttpTrigger and in the function code try accessing some header:
[code]

This should work fine if called from PostMan. However, **if called from a browser**, this fails with exception:

Exception
 One or more errors occurred. (The header name format is invalid.)
[2021-06-10T12:50:23.837Z]  ---> System.FormatException: The header name format is i

[2021-06-10 15:14] cosminstirbu commented on #473
It does, only that it uses `<PackageReference Include="Microsoft.OpenApi.CSharpAnnotations.DocumentGeneration" Version="2.0.0-beta02" />` which hasn't been updated in 2 years and it doesn't look like it's [actively maintained](https://github.com/microsoft/OpenAPI.NET.CSharpAnnotations).

[2021-06-10 16:08] jrgcubano commented on #484
@fabiocav hello. Any idea?

[2021-06-10 18:26] #490 closed

[2021-06-10 18:36] stephen776 opened #493 "Storage Queue Ouput Binding - Set visibilityTimeout?"
Is there any way to set the queue message `visibilityTimeout` when returning a `QueueOutput` as an output binding?

[2021-06-10 19:00] ak37165 opened #494 "HttpTrigger gives exception The header name format is invalid (when using HTTPS)"
Create a simple function "func init, func new" add an HttpTrigger and in the function code try accessing some header:
[code]

Now run the function with **HTTPS** using:

[code]
where certificate has been generated per these instructions for Azure functions, using PowerShell (see [this](https://github.com/Azure/azure-functions-core-tools/pull/1938) and when you try that method, the resulting error

[2021-06-10 20:07] h3x4d3c1m4l commented on #473
Mmm haven't paid attention to that. It does work though, just implemented it for a few of our http triggers.

[2021-06-10 20:26] ak37165 commented on #490
Replaced with [https://github.com/Azure/azure-functions-dotnet-worker/issues/494](https://github.com/Azure/azure-functions-dotnet-worker/issues/494)

[2021-06-10 21:12] brettsam commented on #491
Duplicate of https://github.com/Azure/azure-functions-dotnet-worker/issues/423.

[2021-06-10 21:12] #491 closed

[2021-06-10 21:13] fabiocav commented on #472
This is a duplicate of #281 , which is currently in progress.

In the meantime, launching and testing OOP (the approach you've described) is the recommended approach.

Please follow the linked issue for updates. Thanks!

[2021-06-10 21:13] #472 closed

[2021-06-10 21:15] fabiocav commented on #473
We're discussing this with the team working on the OpenAPI extension. Will keep this open for tracking, but this work is not currently prioritized/planned, so I can't provide an ETA.

/cc @bradygaster @justinyoo @spboyer

[2021-06-10 21:17] brettsam commented on #423
I've opened https://github.com/Azure/azure-functions-host/issues/7452 to support this in host. Once supported, we'll work through this on the worker side.

[2021-06-10 21:19] bradygaster commented on #473
I do think it would be good for @justinyoo and @spboyer and I to triage and understand what would be needed to support it. I also think with 6 being right around the corner, it would be better for us to pivot to just making sure that works. Frankly, that's probably the best investment choice atm.

[2021-06-10 21:23] fabiocav commented on #477
All this information will be available in the `FunctionContext`.

I'm leaving this open and assigned to myself to update the Event Hubs sample to demonstrate that.

[2021-06-10 21:24] fabiocav opened #495 "Update readme with current local debugging experience"

[2021-06-10 21:28] fabiocav commented on #483
Please take a dependency on an `IEnumerable<ITestService>`. This is consistent with the out-of-box .NET experience for service resolution.

[2021-06-10 21:31] fabiocav commented on #484
The default host levels are still managed with `host.json`, so you can continue to use that. The log level defined int he worker will have an impact on log statements emitted by the worker.

We're working on better guidance and hope to have that in the docs soon.

/cc @brettsam

[2021-06-10 21:36] brettsam commented on #486
This does seem high -- if you could share your Function App name (either explicitly or [privately](https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately)), I can see if I find anything from the backend logs.

Is this repeatable? If so, do you have a sample that we could try to run?

[2021-06-10 21:39] brettsam commented on #492
Thanks @RyanMarcotte -- we're tracking this in #434

[2021-06-10 21:39] #492 closed

[2021-06-10 21:43] brettsam commented on #488
Thanks @DavidGodbold! Tracking these debugging timeout issues in #434.

[2021-06-10 21:43] #488 closed

[2021-06-10 21:50] brettsam commented on #471
Tracking this in #434

[2021-06-10 21:50] #471 closed

[2021-06-10 21:50] brettsam commented on #494
Duplicate of #386

[2021-06-10 21:50] #494 closed

[2021-06-10 21:51] dev-jla commented on #486
Thanks for responding, the details are below. If you locate the app and the url you can try any uk postcode eg. https://<functionappname>/postcode/E20%202ST

It is repeatable the app private bytes hover around 680-720 mark.
2021-06-10T21:44:08Z   (Succeeded, Id=f3dcb1d3-c636-4813-88fe-87b633cd2dc6, Duration=348ms) uksouth

[2021-06-10 21:58] brettsam commented on #383
There may be an issue here with the Linux images we're using -- we will investigate and follow-up on this.

[2021-06-10 22:01] AdrianPell commented on #483
Oh, right!

Thanks @fabiocav. All good now.

[2021-06-10 22:01] #483 closed

[2021-06-10 22:05] brettsam commented on #464
Hi @thrixton -- would you mind sharing a simple project that repro's this? Specifically, the Program.cs file...

[2021-06-11 00:43] fabiocav opened #498 "Create Track 2 (5.x) Microsoft.Azure.WebJobs.Extensions.Storage extension"
Create extension tracking/mapping to latest versions.

[2021-06-11 00:45] fabiocav opened #497 "Create Track 2 (5.x) Microsoft.Azure.WebJobs.Extensions.EventHubs extension"
Create extension tracking/mapping to latest versions.

[2021-06-11 00:51] fabiocav opened #496 "Create Track 2 (5.x) Microsoft.Azure.WebJobs.Extensions.ServiceBus extension"
Create extension tracking/mapping to latest versions.

[2021-06-11 01:11] fabiocav opened #499 "Create Track 2 (5.x) Microsoft.Azure.WebJobs.Extensions. EventGrid extension"
Create extension tracking/mapping to latest versions.

[2021-06-11 01:43] ankitkumarr commented on #433
@iloabn, I am sorry I missed your update on this one.

What you have in the snippet looks fine and should work (with the queueName set however). It's a bit weird that the ScaleController wasn't finding your queue. Is there any difference in casing between your Application Setting and the way it's used in the Function definition attributes? Do you have perhaps any interesting access policies config

[2021-06-11 06:51] ijagberg commented on #477
Excellent, thank you for the answer. Managed to get it to work but I definitely think it would be good to have some concrete examples.

[2021-06-11 07:52] DavidGodbold commented on #434
We are not only finding this issue when debugging locally, but also when deployed to Azure. We have this deployed to a Windows Functions App Service Plan (Consumption model) and have the app settings set as below. Please can anyone advise what might be the issue here? The errors appear to be the same as in this issue and when debugging TimerTriggers locally in VS 2019.
![image](https://user-images

[2021-06-11 09:01] jrgcubano commented on #484
@fabiocav thanks!

[2021-06-11 10:20] RiaanVR commented on #434
@brettsam I tried both with VS 16.9.4 and with Rider 2021.1.3, Rider never attaches due to the func startup not returning the worker PID and VS simply starts up, and then doesn't hit any breakpoint even though they exist in the program.cs, I've also successfully attached by starting the func in cmd and then a `Debugger.Launch` which starts up VS.

[2021-06-11 10:23] RiaanVR commented on #434
@DavidGodbold it seems you're getting function timeouts https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale#timeout the default is 5 minutes, it seems to be cancellable the current execution and then logging the end of the previous execution.

One thing that I found 'odd' was that with dotnet-isolated you don't get cancellation token support so how does it cancel really then if

[2021-06-11 13:34] matthieuklotz commented on #477
Hi,

@ijagberg : I will be very interesting by your solution for using EventData[] instead of string[] (I have the same use case than you).
Currently I solve the issue by reading the "PropertiesArray" in the bindingContext , but it's really not clean as using the EventData class.

Regards,

[2021-06-11 17:09] ijagberg commented on #477
@matthieuklotz Sorry, I meant I managed to get access to the metadata, but I still had to use the `string[]` syntax. Probably did it similar to you, by deserializing the `BindingData` dictionary.

[2021-06-11 21:43] DavidZidar commented on #386
@fabiocav Any update on this?

[2021-06-11 22:09] fabiocav commented on #386
@DavidZidar validating some of this work, PR should be in soon, aiming  to have it done as part of the current sprint for a release in approximately 2 weeks

[2021-06-11 22:10] fabiocav commented on #386
Updated the sprint to reflect that

[2021-06-11 22:15] DavidZidar commented on #386
@fabiocav Excellent, thanks for the update!

[2021-06-11 22:52] chtay1 commented on #386
I

In the short term I got around the issue by using middleware and deserializing the headers from the binding context binding data and passing  what I need back via the function context items.

[2021-06-11 23:20] Dave-Kiwi opened #500 "ServiceBusOutput does not seem to pass on a value assigned to Correlation ID"
I am trying to get a ServiceBusOutput working on a Net 5 isolated function, where then output message needs a correlation ID assigned to it. Simple example of the code below. It appears that the Correlation ID is not being passing correctly out of the Function, so my listening subscriptions do not pick it up. Of course, this is stopping us transitioning to Net 5. Am I doing something wrong, or is

[2021-06-12 16:41] SeanFeldman commented on #500
You can't use SDK type. I suspect you need to return a custom object with a property names `CorrelationId` for this to work but there's no info on the details.

@fabiocav could you point in the right direction? I don't mind to PR documentation to capture it. Thanks.

[2021-06-12 20:04] cocowalla commented on #386
@chtay1 thank you, that worked! 👏

[2021-06-13 03:05] Dave-Kiwi commented on #500
I guess this is similar (or maybe the same as?) #474. If so, sorry for the duplicate.

[2021-06-13 21:46] aistvan commented on #459
@fabiocav Hi!
Do you have any suggestion?
I'm still waiting for your reply.

[2021-06-14 04:29] backerman commented on #285
The same issue applies to `HttpTrigger`. Would it be reasonable to do a converter that looks for a constructor of arity 1 on the target type, accepting a string, and then use it if it exists? And if so would it be better to include in `TypeConverter` (does what you'd think it would from looking at the name) or a new converter?

[2021-06-14 04:36] lohithgn opened #501 "dotnet-isolated fx - unit testing support/guidelines"
Hi. Lohith here. I work in the capacity of Technology Lead for a consulting firm in Singapore. We are early adopters of everything & anything of Azure :). We like to play with the latest & greatest tech. We jumped on the band wagon of .NET5 based dotnet-isolated function recently. We moved functions in one our projects to .NET5 isolated model.

One thing we noticed was the lack of direction/guidel

[2021-06-14 08:52] DavidGodbold commented on #434
Thanks @RiaanVR, but these TimerTrigger functions work OK if I run the code locally using the Core Tools invoked from Powershell, but suffer the timeout issue when using the VS native debugging. However the real blocker is the fact that our functions suffer the same timeout issue even when deployed to Azure.

[2021-06-14 08:55] DavidGodbold commented on #434
@brettsam I'm disappointed to have issue 488 merged into this issue as we are suffering the same timertrigger function timeout issue even when the functions are deployed to an Azure functions instance. These functions run fine from my local machine when running func.exe using the Core Tools v3 though.

[2021-06-14 10:55] developer9969 opened #502 "How to query HttpRequestData .net 5 (Query) gone!"
Hi
This is not an issue at all, but rather a question on how to do something

In the "old" .net core we could do  ]

    ` var myfield =req.Query["MyField"]`

How do you do it using HttpRequestData now?

Hopefully it will be a quick straight answer

thanks

[2021-06-14 13:07] spboyer commented on #473
@justinyoo - Can you look into the .NET 5/6 story and provide some feedback here?

related issue in extension repo: https://github.com/Azure/azure-functions-openapi-extension/issues/22

[2021-06-14 13:58] twentytwokhz commented on #404
@brettsam Can we control what kind of operation is performed when sending the data to the output?
Such as InsertOrMerge, InsertOrReplace etc

[2021-06-14 15:14] justinyoo commented on #473
@spboyer I’ve been on it. My challenge is that I have to decouple some WebJobs packages.

[2021-06-14 15:25] Romfos commented on #346
@fabiocav
Hi.

I can confirm that this issue was fixed after https://github.com/Azure/azure-functions-dotnet-worker/pull/462

Thank you!

@csomers could you please check your issue with this fix?

[2021-06-14 16:27] Elip-tdlr opened #503 "How to use IOptions pattern for configuration?"
I'm attempting to port an existing Functions app from core3.1 v3 to net5.0 I but can't figure out how to get the IOptions configuration pattern to work.

My local.settings.json contains the following:
[code]

I can get to it using GetEnvironmentVariable. Still, the following does not bind the values to the IOptions configuration like it used to.
[code]

The problem appears to be with `GetSection`,

[2021-06-14 19:02] Elip-tdlr commented on #502
I believe the best way to do this us using  [Microsoft.AspNetCore.WebUtilities.ParseQuery](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.webutilities.queryhelpers.parsequery?f1url=%3FappId%3DDev16IDEF1%26l%3DEN-US%26k%3Dk(Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery);k(DevLang-csharp)%26rd%3Dtrue&view=aspnetcore-5.0)

I create an extension method like this to facili

[2021-06-14 22:22] fabiocav commented on #434
@DavidGodbold I want to make sure we're not missing something about your scenario. #488 is about a VS debugging issue and you're talking about running into this with a deployed App. Are you running into problems with a remote debugging scenario? Or purely running into timeouts outside of debugging scenarios?

[2021-06-15 00:58] louisoftokyo commented on #434
I'm also having this issue now, locally. I'd been debugging TimerTriggers locally a couple of months ago so I'm not sure what changed. My functions work in Azure.

[2021-06-15 05:35] ffMathy commented on #464
Not stale.

[2021-06-15 08:26] DavidGodbold commented on #434
@fabiocav I am having issues with running into timeouts outside of debugging scenarios (as well as experiencing the issues raised within this issue). Please see my comment [here](https://github.com/Azure/azure-functions-dotnet-worker/issues/434#issuecomment-859362267)

[2021-06-15 08:31] developer9969 commented on #502
Hi that will do but seems a bit of a step back as before it was in built in

[2021-06-15 11:55] marisks commented on #311
With VS 16.10.1 it starts the function app but fails to attach a debugger - just loads and never stops.
![image](https://user-images.githubusercontent.com/646298/122047726-22cf0a00-cde9-11eb-9525-3919436c4af0.png)
And in the console you get:
[code]

Maybe it is related to debugging failing also from the command line in the latest version. I was running `func host start --dotnet-isolated-debug` and

[2021-06-15 19:48] oscarvantol commented on #503
Hi @Elip-tdlr,

Are your settings in the  `"Values": { }` property?

I created a working IOptions implementation example for you in:
https://github.com/oscarvantol/azure-functions-dotnet5-examples/blob/main/ExampleFunction/HttpFunction.cs

I hope it helps you.

PS: in your config example you pasted some secrets, I hope they are not still working.

[2021-06-15 19:53] ijagberg commented on #502
Also interested in this, feels like accessing query parameters should be a built-in feature.

[2021-06-15 21:22] anthonychu commented on #474
I don't think this is supported for out of process language workers. There needs to be work on the binding extension to enable scenarios like this.

https://github.com/Azure/azure-sdk-for-net/issues/21884

[2021-06-15 21:23] anthonychu commented on #500
Looks like a dupe of #474.

[2021-06-15 21:23] #500 closed

[2021-06-15 21:32] anthonychu commented on #493
I don't believe this is possible now without changes to the binding extension. https://github.com/Azure/azure-sdk-for-net/issues/21887

[2021-06-15 21:36] anthonychu commented on #501
@fabiocav @brettsam @ankitkumarr Thoughts on how to make these more testable?

[2021-06-15 21:38] anthonychu commented on #502
Makes sense. We should expose this as a first class property.

[2021-06-16 00:16] ThreeSevenths commented on #434
Just installed 16.10.2 released today and a new Functions project out of the box is still broken out of the box. What do you need from us to help you find and fix this issue?

![image](https://user-images.githubusercontent.com/1298072/122139215-7b68cc00-ce16-11eb-962e-d5ae3330846f.png)

[2021-06-16 07:10] thrixton commented on #464
Thanks @brettsam, @ffMathy,
I've not forgotten this, we've had a lack of power and I've not had time to respond apologies.
I'm in the process of stripping it back to a workable example.
I've now got it working just using a vanilla function, I'll start overlaying my program changes on the top and provide it once I can repro it properly.
All I'm doing really in the program is setting up DI which wor

[2021-06-16 07:54] developer9969 commented on #502
Cool thanks @anthonychu  , hopefully we will not have to wait long  :)

[2021-06-16 16:12] Elip-tdlr commented on #503
Hi  @oscarvantol ,

Thank you for the example. This does indeed work. I'm still trying to figure out why my implementation isn't working but it's clearly a self-inflicted issue.

Also, thanks for pointing out the secrets in my original post. They were for my private development environment. Regardless I removed them.

[2021-06-16 17:43] fabiocav commented on #433
Moving this to `Triaged` until this is actionable.

[2021-06-16 19:01] #481 closed

[2021-06-16 23:09] #386 closed

[2021-06-17 02:21] sjuarezgx opened #505 "Persistence of state in Azure functions Net 5"
Hi

I'm developing an azure function (http trigger) using Net 5.

I know that the azure functions are stateless and the Durable Functions are not supported in Net 5. But I need to have a web session accesible to the functions (it can be using Redis for example or any other way for session handling).

Is it possible to do it? How can I reference the web session from my Azure function?

Thanks

[2021-06-17 05:00] thrixton commented on #464
Hi @brettsam,
This seems to be an issue with the RID that I'm passing to the build command.
I manually specify `linux-x64` in my publish command (`dotnet publish ${BUILD_CS_PROJECT} -c Release -f ${DOTNET_TARGET_FRAMEWORK} -r ${DOTNET_RID} /p:InformationalVersion=${DOTNET_APP_VERSION} --output /build/output`), when I remove this it works at runtime.
I have an example project [here](https://github.

[2021-06-17 08:16] DavidGodbold commented on #434
Just a quick update. Creating a function app using the Azure CLI and deploying using the Azure Pipelines seemed to work and the functions work as expected. It probably needs to be made clear that creating a function app using the Portal and changing the app settings to run dotnet-isolated will not work. This was using a consumption plan.

`az functionapp create --name $functionAppName
  --storage-

[2021-06-17 15:19] PehrGit opened #506 "HttpRequestData.WriteAsJsonAsync only serializes properties declared on interface"
Given these types:

[code]

and this function:
[code]

I would expect to see:

 but the response I see is:

Currently we fix this by doing:

[code]

but that seems like a workaround and not the intended use.

Is this intended behaviour?

[2021-06-17 22:00] kashimiz commented on #466
I've been able to reproduce this in the following environment:

.NET 5.0.301

`Core Tools Version:       3.0.3477 Commit hash: 5fbb9a76fc00e4168f2cc90d6ff0afe5373afc6d  (64-bit)`
`Function Runtime Version: 3.0.15584.0`

Investigating root cause.

[2021-06-17 23:29] qianz2 commented on #480
Oryx recently added .NET Core 3.1 SDK to the image, it will soon be available in Oryx upcoming release.

[2021-06-18 01:01] #430 closed

[2021-06-18 16:08] brettsam commented on #477
I've submitted a PR with a sample of how you can retrieve this data -- https://github.com/Azure/azure-functions-dotnet-worker/pull/508.

It's not as clean as `EventData`, but the structure of the data sent to the worker is different than it is for in-proc. We may be able to improve this with some converters, but the samples should help for now.

[2021-06-19 13:59] ijagberg commented on #477
Well, the example with parameters is still a lot nicer than what I came up with, so that's great! Thank you!

[2021-06-19 18:32] yg-endava commented on #347
Thanks, @ak37165 this works. Only for **removeAll** couldn't make it work.

When I try to remove a user from all groups like this:

[code]

I get the following error:

[2021-06-19T18:20:18.887Z] System.Private.CoreLib: Exception while executing function: Functions.UnsubscribeAllGroups. Microsoft.Azure.WebJobs.Extensions.SignalRService: Unable to convert JObject to valid output binding type, check

[2021-06-19 20:59] ak37165 commented on #347
Seems the JSON mapping is failing - maybe some property name is missing. It seems via a web search that at some point group name was required to be passed for removeAll (even though we are not asking the user to be removed from any specific group but all groups). Try adding the property **groupName** (with one of the group names as values, or even a random group name) to output.Notifications.Add(

[2021-06-19 21:08] ak37165 commented on #347
@yg-endava, if you look at the definition on SignalRGroupAction in the .NetCore 3.1 function (in VS right click and select go to definition):

[code]

There is a [JsonRequired] on groupName. The removeAll functionality was added later (was not part of the original set of allowed group actions, [as this SO post shows](https://stackoverflow.com/questions/11442591/signalr-leave-all-groups)) and the d

[2021-06-20 00:01] anthonychu commented on #480
Thanks @qianz2. Can you confirm that .NET Core 3.1 is available by default in all versions of Oryx (not just the Static Web Apps (Jamstack)) image?

Keeping this issue open as this still affects builds that are not using Oryx.

[2021-06-20 12:49] KalyanChanumolu-MSFT commented on #503
@Elip-tdlr I ran into the same issue today while reading from AzureAppConfiguration.
It is most probably because you are not building it before using in Configure services.
After this i can use IOptions configuration values.

[code]

[2021-06-21 03:55] justinyoo commented on #473
Related: https://github.com/Azure/azure-functions-openapi-extension/pull/142

[2021-06-21 13:41] PeterRockstars commented on #436
I'd like to add that we have had a similar issue and are currently using a work-around where the first thing we do in every request is set the FunctionContext on a class we called FunctionCallContextProvider, which is registered in per-request scope. Gets the job done but obviously is not a very clean solution.

So I'd like to second the request to re-open this.

[2021-06-21 22:32] iscottb122 commented on #498
Is this the best issue to track integration of the lovely `Azure.Identity` (`DefaultAzureCredential`) secretless configuration into the `Microsoft.Azure.Functions.Worker.Extensions.Storage` package? Your comments on [this blog post](https://devblogs.microsoft.com/azure-sdk/introducing-the-new-azure-function-extension-libraries-beta/) suggest that it is the correct issue for the Worker (dotnet-isol

[2021-06-22 13:26] onionhammer commented on #382
Yeah storage queue batching would be amazing.

[2021-06-22 17:49] david-peden-q2 commented on #436
Hey @fabiocav, I'd appreciate it if you would open this issue back up. Thanks.

[2021-06-22 18:46] holtalanm commented on #344
Second this.  As it stands, the workaround is to serialize the error object to a string yourself and use `WriteStringAsync`.

example:
[code]

[2021-06-22 19:34] kashimiz commented on #466
The `RpcHttp` object used to construct `GrpcHttpRequestData` (implementation of `HttpRequestData`) has an empty collection for its `Cookies` property, which `GrpcHttpRequestData.Cookies` gets its value from:

https://github.com/Azure/azure-functions-dotnet-worker/blob/72b9d17a485eda1e6e3626a9472948be1152ab7d/src/DotNetWorker.Grpc/Http/GrpcHttpRequestData.cs#L69

Headers (including `Cookie`) come i

[2021-06-22 21:15] mcgear opened #511 "net 5 dotnet-isolated custom local port"
Previously when working with Azure Functions in VS Code, we would use a config block to adjust the local port:
`
    "Host": {
        "LocalHttpPort": 7074
    }
`

We have shifted from VS Code to VS 2019, and from .net 3 to net 5 (using dotnet-isolated).  in doing so, the LocalHttpPort is not longer honored.  We found some docs that pointed us towards adding an Application argument of `host star

[2021-06-22 21:17] fabiocav commented on #503
@Elip-tdlr can you please share your options (GraphApiOptions) and the full setup? If you can share your repro in a GitHub repo, that would be ideal.

The Options setup and usage with the worker should be identical to what you'd typically do in .NET, but we can provide feedback if you can share more details about your scenario.

[2021-06-22 21:18] mcgear commented on #511
This is the func.exe path i tried in the Executable input under Project settings:
C:\Users\{username}\AppData\Local\AzureFunctionsTools\Releases\3.23.5\cli_x64

[2021-06-22 21:19] fabiocav commented on #505
Yes. You can leverage services like Redis and other persistence services. There's nothing in the worker today that will manage sessions for you, so this is something you'd also need to handle as well, but you can consume any of those services from Functions running out-of-proc as well.

[2021-06-22 21:20] fabiocav commented on #505
Closing as answered, but let us know if you have any additional questions.

[2021-06-22 21:20] #505 closed

[2021-06-22 21:33] fabiocav commented on #506
This is by design with the current implementation, but we could expose non-generic overloads that take a type of derive the type from the provided argument as well.

Leaving this open for consideration.

[2021-06-22 21:48] fabiocav commented on #511
This is happening because of way VS expects to pass the command line arguments to Core Tools. We'll follow up with additional details here, but in the meantime, the instructions here should help: https://github.com/Azure/azure-functions-dotnet-worker/blob/c0f41ce0f9df4df2163002f0285409dead3d289a/README.md#attaching-the-debugger

[2021-06-22 21:48] anthonychu commented on #506
This is also the behavior of ASP.NET Core as well:

[code]

Its version of `WriteAsJsonAsync` includes a [non-generic version](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.http.httpresponsejsonextensions.writeasjsonasync?view=aspnetcore-5.0#Microsoft_AspNetCore_Http_HttpResponseJsonExtensions_WriteAsJsonAsync_Microsoft_AspNetCore_Http_HttpResponse_System_Object_System_Type_Syst

[2021-06-22 21:52] fabiocav commented on #464
Thank you for sharing the details.

We're working on some samples and will look at the repro you've provided to see what is going on there. Leaving this with the `Needs: Attention` flag for now.

[2021-06-22 21:54] fabiocav commented on #459
We'll need to take a closer look to see what is happening here. Will get your repro setup and provide an update once we have a chance to investigate.

Thanks!

[2021-06-22 21:55] #477 closed

[2021-06-23 11:59] defunky commented on #340
Has there been any movement for this, or is there any workaround for this?

[2021-06-23 12:48] lohithgn commented on #340
@defunky there is work around to read the HttpResponseData returned from the Fx in middleware. check this out [https://github.com/Azure/azure-functions-dotnet-worker/issues/414#issuecomment-828810635](https://github.com/Azure/azure-functions-dotnet-worker/issues/414#issuecomment-828810635)

[2021-06-23 15:04] defunky commented on #340
@lohithgn that seems to be related to HttpRequestData not HttpResponseData

[2021-06-23 17:04] mcgear commented on #511
So in the meantime back to using command line directly?  Thanks for the help, look forward to seeing the solution that integrates with VS 2019 tooling.

[2021-06-23 17:04] iloabn commented on #433
No worries with the update miss :)
I've now updated all NuGet packages and with that the function is running again, I'll comment again in two hours with an update if it has stopped before or if it works. And before that I'll try and fetch the data that you asked for.

[2021-06-23 18:09] iloabn commented on #433
Noticing the Function is currently experiencing some other issues that seems to be because of my usage of Microsoft Graph. Until I've solved my current bugs I think this is going to be *very* hard to continue to investigate. I'll close this issue for now.
If I manage to fix my issues and this remains, I'll reopen it.

Have a lovely day.

[2021-06-23 18:09] #433 closed

[2021-06-24 00:01] #496 closed

[2021-06-24 04:48] fabiocav commented on #366
Hoping to have a PR out soon, but moving to 105 to reflect the actual sprint changes will be landing.

[2021-06-24 05:47] KalyanChanumolu-MSFT opened #514 "Visual Studio 2019 debugging hangs when using RunOnStartup = true"
I have a very basic Azure functions project that I migrated to .Net 5 recently.
I was using RunOnStartup = true to trigger the TimerTriggered functions locally for debugging.

Now, after the upgrade VS fails to launch the debugger and hangs

![image](https://user-images.githubusercontent.com/8835012/123208681-2c3d2e00-d4dd-11eb-8469-4b90b6d42b22.png)

VS hangs while launching the debugger
![image]

[2021-06-24 10:39] edmundtkl opened #515 "HttpTrigger timed out when uploading file with 5mb size or larger"
I'm using Postman to make a post request to the function with a file of 5mb size in the form-data. The console show executing until it hit the timed out error with the message initializing cancellation after 30 minutes. The break point in the code were never hit.

[2021-06-24 11:49] lohithgn commented on #501
@fabiocav @brettsam @ankitkumarr Hello. Would appreciate if you guys have any update on this front. It will help us too to understand what is Microsofts stand on this matter. Thanks.

[2021-06-24 12:35] PehrGit commented on #506
That's good to know, thanks for the info :)

[2021-06-24 14:47] brettsam commented on #514
Closing as dupe of #434. Currently working on a fix.

[2021-06-24 14:47] #514 closed

[2021-06-24 17:43] fabiocav commented on #501
Our plan is to provide a full test framework, which would provide all of the functionality required for unit/integration tests. You can find more details about that here: https://github.com/Azure/azure-functions-dotnet-worker/issues/281

[2021-06-24 20:15] fabiocav commented on #466
Moving this to sprint 105 as we may need to understand if there's a problem in the host not populating the cookies collection int he HTTP representation.

[2021-06-24 20:21] fabiocav commented on #450
Adding @TsuyoshiUshio for visibility

Ankit is still investigating this, so moving to 105

[2021-06-24 20:25] fabiocav commented on #434
The fix has now been merged into the host. Just pending deployment at this point.

Keeping this open until the Core Tools version with the changes is available.

[2021-06-24 20:33] fabiocav commented on #323
Moving this to 105 as we need to decide on how we're going to move forward on this.

Removing the validation wouldn't be a viable option without a significant amount of work in other components, as they would end up failing with an unexpected binding name.

[2021-06-24 22:51] ankitkumarr opened #517 "Worker SDK's tooling suffix property needs to be dependent on TFM"
Instead of setting [this](https://github.com/Azure/azure-functions-dotnet-worker/blob/main/sdk/Sdk/Targets/Microsoft.Azure.Functions.Worker.Sdk.props#L160) to `net5-isolated` for all versions, we need to make `FunctionsToolingSuffix` property dependent on target framework to reflect the right value (eg- "net6-isolated" for net6.0).

cc: @phil-allen-msft

[2021-06-24 23:07] akatakritos opened #518 "Failure to start .net-5 function dotnet-isolated: grpc error connection refused"
Hello, I'm having trouble getting my functions app to boot on a .net functions for linux app service plan.

I have a little HTTP health function and a TimerTrigger. Hitting the /health Function i made with the function key spins for a long time before timing out. Luckily we configured Serilog to write to files during app boot, and this is what I'm seeing in the files when I go visit through Kudu.

[2021-06-25 07:14] madhugilla opened #519 "fix docker template in core tools"
Hi,

we are planning to use .net 5 isolated worker function runtime in a docker container, is this supported oob ?  if yes can you please point to any documentation/howtos ?

Thanks -GM

[2021-06-25 07:23] marklagendijk commented on #382
You can still configure these settings _globally_ by setting them in `host.json`.
Most of you probably already knew that, I'm just putting it here for people who didn't know this yet (like me 1 hour back).

[2021-06-25 07:52] TsuyoshiUshio commented on #450
Hi @arkiaconsulting
Do you use extension bundle? or install kafka extension it's self?
If you are using extension bundle, for the mitigation, could you run `func host start --verbose`  then you will find the path of the extension bundle.  For windows,  You can specify `LIBRDKAFKA_LOCATION` environment variables for the mitigation. For more details, refer to https://github.com/Azure/azure-functions

[2021-06-25 12:04] arkiaconsulting commented on #450
@TsuyoshiUshio Hi, I'm not using extension bundles. The extension is install using the NuGet `Microsoft.Azure.Functions.Worker.Extensions.Kafka` (3.2.1).

Manually specifying the location using `LIBRDKAFKA_LOCATION=<_redacted_>\bin\Debug\net5.0\runtimes\win-x64\native` induces the error
[code]

[2021-06-25 15:37] david-peden-q2 commented on #518
https://feedback.azure.com/forums/169385-web-apps/suggestions/40585333-grpc-support-in-azure-app-service

[2021-06-25 15:44] akatakritos commented on #518
I'm sorry @david-peden-q2, im not sure thats relevant; i'm not specifically, as far as i know, trying to use GRPC; I thought this was some internal error related to the runtime? Is Keyvault using GPRC internally?

[2021-06-25 17:41] #143 closed

[2021-06-25 17:55] fabiocav commented on #518
@akatakritos that's correct, the error above is about the internal gRPC communication with the workers, so the User Voice item is not related to the issue.

We're investigating a similar issue with Linux and VNet, is this your case by chance? If so, unfortunately, the only current workaround until the issue is resolved is to use VNet with the Windows offerings.

[2021-06-25 20:11] akatakritos commented on #518
Thank you, we do have some linux & vnets going on, i'll reach out to my cloud engineer and get back to you. I know we've had some trouble with appservice plans related to the networks in some environments too, and he has a ticket open about that as well.

[2021-06-25 20:24] akatakritos commented on #518
We're going to try removing the vnets. They were a nice-to-have feature but we'd rather ship :)

[2021-06-25 20:59] akatakritos commented on #518
We removed the vnet from the function service plan and it now runs successfully. Thanks for the hint, never would have guessed at that!

[2021-06-25 23:28] TsuyoshiUshio commented on #450
Hi @arkiaconsulting
You are looking at wrong directory, since it looks net5.0. Is it out of proc dotnet?
Extension Bundle is located the different place. For example, In my case `set LIBRDKAFKA_LOCATION=C:\Users\tsushi\.azure-functions-core-tools\Functions\ExtensionBundles\Microsoft.Azure.Functions.ExtensionBundle\2.6.1\bin\runtimes\win-x64\native\librdkafka.dll` is the one solves.

with `func hos

[2021-06-26 05:11] arkiaconsulting commented on #450
Hi @TsuyoshiUshio
As I don't use extension bundles, I don't have the directory you mentioned under my home folder.

Anyway, I set the environment variable as following (this time with the dll explicitely):
[code]
The function now runs correctly.

Does that mean that the runtime is having hard times to find the dll by itself ?

[2021-06-26 10:52] metoule opened #520 "Referencing Microsoft.AspNetCore.App in an isolated function app .csproj prevents it from starting on Azure"
I'm trying to migrate a Linux function app from .NET Core 3.1 to .NET5 isolated. It shares some code with a webapp, and there's a reference to `Microsoft.AspNetCore.App`. It's deployed to an app service plan (not a consumption plan).

I can successfully run it on my local machine, however it fails to execute when deployed on Azure, with the following exception:

[code]
Example invocation ID of a f

[2021-06-26 12:59] TsuyoshiUshio commented on #450
It looks dotnet5 isolated issue.  The native library is created under `bin\output\.azurefunctions\runtimes\win-x64\native\librdkafka.dll`.   Also, I can find the `bin\output\.azurefunctions\function.deps.json` include librdkafka.dll native library.
It should be loaded.

Hi @ankitkumarr
Do you know if it is the known issue?

## Files
I reproduced the issue with isolated environment.
![image](https:

[2021-06-27 08:27] dasbdavis opened #521 ".NET 5 Isolated HttpTrigger Path Variable Binding"
Hello, just trying to figure out how to do something in .NET 5 that worked in 3.1 and before.

**In 3.1, the variable in the route binds correctly to the Guid parameter of the same name:**
[code]

**In .NET 5, this fails:**
[code]
The error that is thrown is as follows:

I can change the type of the parameter to string and then parse it into a Guid after the fact, of course, but I'd like to know i

[2021-06-27 21:22] aistvan commented on #459
@fabiocav Here is the repo I created for my issues. https://github.com/aistvan/FunctionExample
Thanks for the help.

[2021-06-28 10:31] madhugilla commented on #519
Hi @brettsam,

our design depends on this decision, when you get a moment can you please respond ?

Thanks -GM

[2021-06-28 11:44] jincod commented on #518
Get the same error. Linux and Docker setup without VNet

[2021-06-28 16:59] brettsam commented on #519
@ankitkumarr -- is our docker file template incorrect? https://github.com/Azure/azure-functions-core-tools/blob/v3.x/src/Azure.Functions.Cli/StaticResources/Dockerfile.dotnetIsolated. I do believe that 3.1 is required to build, and I know for the v4 preview I had to include things like: https://github.com/Azure/azure-functions-core-tools/blob/v4.x/src/Azure.Functions.Cli/StaticResources/Dockerfile

[2021-06-28 21:25] nlpMbordogna commented on #414
Any change of a work around for the missing OutputData, something we can reflect to retrieve the HttpResponseData class?  I inspected the data at runtime and cannot find anything similar

[2021-06-29 07:36] rhollamby commented on #340
Any idea how to do this? I can only see the incoming http headers, not the out going.

[2021-06-29 11:14] defunky commented on #340
@rhollamby
My use-case is a little different as I wanted to modify the response data so in the case of GlobalExceptionHandler I wanted to set the status code to be internal server error. It something like this:

[code]

You can probably to similar thing but instead of setting InvocationResult you can try retrieving it with reflection if you want to see what the result was.

[2021-06-29 18:23] ThomasBleijendaal opened #522 "Azure Functions in class library triggers error: MSB4113: Specified condition "$(SelfContained)" evaluates to "" instead of a boolean."
I'm running into an issue where the Microsoft.Azure.Functions.Worker.Sdk (Microsoft.Azure.Functions.Worker.Sdk.targets) throws an error when building an Azure Functions class library. I've found a work around which is to make the class library also a console application, but that will be confusing.

To reproduce:

Create a class library that has the following references:

[code]

Also create an Az

[2021-06-29 20:50] fabiocav opened #523 "Enable Event Hubs E2E tests"
The Event Hubs E2E tests are currently not enabled. We need to enable or remove those tests.

[2021-06-29 20:59] #497 closed

[2021-06-29 21:19] fabiocav commented on #515
Can you verify the version Core Tools and .NET Worker references you were using when you ran into this? Thanks!

[2021-06-29 21:29] fabiocav commented on #520
Flagging this for investigation. Out of curiosity, I'm assuming we don't have a similar problem on Windows, correct? We're suspecting an issue with the image we use on Linux at the moment.

[2021-06-29 21:32] fabiocav commented on #521
This is a limitation at the moment, but something we'll flag as an enhancement request.

[2021-06-29 21:37] fabiocav commented on #522
Do you still have the same issue if you don't reference the SDK package? That shouldn't be needed for a class library (you only need that for the application that references the library, i.e. the worker)

[2021-06-29 21:40] fabiocav commented on #464
Providing an update here as we're still looking at some of the details on this. Will update when we have more information to share.

[2021-06-29 21:42] fabiocav commented on #518
@jincod can you please open a separate issue with the exception and error details of what you're seeing?

@akatakritos thank you for confirming. We're investigating the VNet issue and hope to have that resolved soon. Closing this as resolved.

[2021-06-29 21:42] #518 closed

[2021-06-29 23:12] rhollamby commented on #414
Yes I am also struggling with this. I need to set some http headers for all requests. Even if I create a service that I inject into each function it's still really messy.

[2021-06-30 00:26] edmundtkl commented on #515
We have contacted Microsoft support and they have identified the issue is due to the grpc message length.

https://github.com/Azure/azure-functions-dotnet-worker/commit/704de76b5693bc24bdf6a9836ba8a109517c6a41

Thanks.

[2021-06-30 00:26] #515 closed

[2021-06-30 01:00] #503 closed

[2021-06-30 02:16] akatakritos commented on #518
Can you update here when the vnet issue is resolved? We'd be interested in re-enabling and trying again.

[2021-06-30 07:35] metoule commented on #520
@fabiocav as far as I can tell, it's currently not possible to deploy a dotnet-isolated function app to a Windows service plan: the Azure function app creation wizard allows the creation of a .NET 3.1 function for both Windows and Linux (Publish option set to "code"), but for docker images, it's Linux only.

Also note that the docker image repository for dotnet-isolated doesn't contain any image f

[2021-06-30 07:41] ThomasBleijendaal commented on #522
When I tried that the first time the function worker stated that no functions were found. I've tried it again and it has no problem recognizing the functions in the class library. So that's good.

I was updating my setup from a preview version to the 1.3.0 release, so I think I still had some other issues that I fixed along the way. Thanks for the reply and I'll be closing this issue.

[2021-06-30 07:41] #522 closed

[2021-06-30 08:12] sam-piper commented on #297
Are there any updates on this issue? We work around it by installing .NET Core 3.1 SDK in our pipelines when required, but it adds a good minute or more to our build times, for no reason other than to build .NET 5 Function App projects.

Also is there a list somewhere of what extensions are safe to use with the `_FunctionsExtensionTargetFramework` workaround?

[2021-06-30 18:51] ak37165 commented on #344
+1

[2021-07-01 10:03] madhugilla commented on #519
@brettsam  that did the trick. thank you,

[2021-07-01 15:17] brettsam commented on #519
Going to leave this open as we need to fix it in our template. But the workaround above should work for anyone else running into this.

[2021-07-01 15:26] metoule commented on #464
I think I found the issue, and it's due to the way command line args are passed to the function host.
On windows, the `args` array passed to `Program.cs` do not include the executable name, but on Linux it does.

It's easy enough to see:

[code]

On windows, we get:

127.0.0.1
--port
59973
--workerId
bc04144e-0eb8-498d-bdca-75e4a5099fe3
--requestId
ce21fa00-35d3-44f7-84a8-619c8acee2f5
--grpcMaxMes

[2021-07-01 16:11] metoule opened #524 "dotnet isolated docker: docker run -e PORT=80 messes with the function host command line arguments"
When a Linux function app uses a custom docker image, the docker container is ran with the `-e PORT=80` option.
That creates an issue with the gRPC configuration, that ALSO uses the Port variable, and which is passed as a command line parameter.

We therefore have two conflicting Port options:

* the one from the environment variable
* the one from the command line

That's an issue, because the en

[2021-07-01 16:12] metoule commented on #518
@jincod you might have the same issue I faced: #524

[2021-07-01 16:30] metoule commented on #524
I have a workaround: remove the configuration, and re-add them in the proper order, but something should be done to avoid having multiple meanings for the same option name.

[code]

[2021-07-01 17:24] metoule commented on #524
Interestingly, the `-e PORT=80` option is not passed to docker run when `appFramework = dotnet-isolated`, cf the container logs:

When `appFramework = DOCKER`, then the option is set:

[2021-07-01 18:15] metoule commented on #520
I'm closing this issue because I can no longer reproduce it on my end. I believe it was a side effect of #464 and #524, two issues I've managed to fix.

[2021-07-01 18:15] #520 closed

[2021-07-01 22:43] ConroyG commented on #346
Hi

I too am getting this exact issue, I had 2 simple functions both using Queue triggers to different azure storage queues and were working fine
I added a 3rd and suddenly everything starts throwing this timeout error (including the older functions that were fine)
![image](https://user-images.githubusercontent.com/4994730/124192748-e48c5700-db19-11eb-966e-168991527710.png)

I've tried the followi

[2021-07-02 08:26] JanosNollFD commented on #414
The workaround is so hacky it almost shouldn't be used, but here goes:
[code]

I hope the proper interfaces get exposed publicly soon.

[2021-07-02 08:43] vannomad commented on #344
[code]

While i agree that this behavior is unintuitive and generally just bad. It IS documented and apparently intentional.

[2021-07-02 14:00] Peter-Juhasz opened #525 "EventHub event as binary"
If only `string` representation is supported for Event Hubs, how can we access the message body as binary?

[2021-07-02 14:15] martijnlentink commented on #521
I'm also running into this issue. One solution would be exposing `IConverter` interface as public such that others will be able to create converters of their own.

[2021-07-02 18:57] holtalanm commented on #344
Yeah, I'd say this should be considered less of a bug, and more just remedying bad api design.

[2021-07-05 11:46] TheDziekan commented on #293
I was trying to do something like this to go around the issue:
[code]
But it did not work. Is this problem with `ServiceBusOutput` not being able to write to `$deadletterqueue`? Or is it Service Bus (and Azure) designed so that `$deadletterqueue` can only be used to read?

[2021-07-05 15:54] Prinsn commented on #293
We had to drop our DLQ handling if I recall, as part of our workaround.

On Mon, Jul 5, 2021, 7:46 AM Piotr Dziekanowski ***@***.***>
wrote:

[2021-07-06 11:51] jurgen-ava opened #526 "New .NET 5.0 Isolated Azure Functions project does not build"
I am using the latest version of Visual Studio 19 (16.10.3).

I also made sure to update the packages to the latest versions (no pending updates in NuGet package manager).

.NET 5.0 Runtime is installed already. I have a DotNetCore 3.1 Azure Function project in the same solution which is working properly.

The new project does not build.

The errors are as follows:

![image](https://user-images.gi

[2021-07-06 12:48] christianarg commented on #393
@dhermyt I totally agree we should be able to inject our custom NameResolver like we can with the "normal" Azure Functions (called now class library AFAIK).

https://docs.microsoft.com/en-us/azure/app-service/webjobs-sdk-how-to#version-3x-6

[code]
But have in mind that the Isolated mode does implement a the default NameResolver es mentioned here https://docs.microsoft.com/en-us/azure/app-service/

[2021-07-06 16:52] iscottb122 commented on #526
@jurgen-ava

It was a while back, but I think I had a similar problem with the default generated function project not being up-to-date for the out-of-process (worker) model. Make sure your csproj/fsproj includes all of:

    <PackageReference Include="Microsoft.Azure.Functions.Worker" Version="1.3.0" />
    <PackageReference Include="Microsoft.Azure.Functions.Worker.Extensions.Http" Version="3.0.1

[2021-07-06 17:05] iscottb122 commented on #526
In fact, there are a few tricky bits to getting started, and the documentation is scattered throughout numerous mysterious issues, so to save you time the csproj/fsproj should look something like this:

[code]

Note the `<_FunctionsSkipCleanOutput>` element and the `<None Include=...>` elements instead of `<None Update=...>`.

Finally, the `FUNCTIONS_WORKER_RUNTIME` is `dotnet-isolated`, so a `loc

[2021-07-06 21:18] brettsam commented on #524
Yeah, this is a bug. We meant for the command line arguments to be applied last, as you have done in your workaround.

Even though this is technically a breaking change, we agree that it will have minimal impact and it's worth it for us to swap this to make it correct.

[2021-07-06 21:32] brettsam commented on #526
@jurgen-ava -- it looks like you're not referencing the correct packages. The recommendations from @iscottb122 look correct. Did that help get you unblocked?

[2021-07-07 07:03] jurgen-ava commented on #526
Hi @iscottb122, many thanks for taking your time to get back to me. Your replies were most helpful and I can now build with no errors.

@brettsam I expected this to work outright as it was a new project created from the latest version of Visual Studio 19. The problem was very likely this missing package: Microsoft.Azure.Functions.Worker.Extensions.Http.

[2021-07-07 07:03] #526 closed

[2021-07-07 08:25] agutierrezcu commented on #383
My team is facing exactly the same error.

Our application depends on

[code]

We are starting the development phase and we decided to deploy on based-Windows Function app for the moment.

We really looking forward to be able making the application runs on Linux so, if you need any detailed insight please let me know.

[2021-07-07 15:00] maartenba opened #527 "--dotnet-isolated-debug not emitting process id (PID)"
First of all, not sure whether this is the correct repository to post this issue. I considered the Azure Functions host repo, but was not sure which one would be best. Please move the issue as you see fit.

One of our customers reported an issue with `--dotnet-isolated-debug` not emitting process id (PID). Occasionally it would, most times it would not.

After hours of troubleshooting, we managed

[2021-07-07 15:50] brettsam commented on #464
Thank you all -- I now have a PR out which should address this: #528.

[2021-07-07 18:38] maartenba commented on #434
What will be the steps to configure timeout? Is it per-app or global for the (isolated) worker?

[2021-07-07 20:32] fabiocav commented on #450
This is related to https://github.com/Azure/azure-functions-host/issues/6925 and should be addressed when that change takes place. That change is delayed, but we're making progress on that item and hoping to have that soon.

[2021-07-07 22:03] brettsam commented on #434
You shouldn't have to touch anything here. When debugging, the tooling will extend the worker timeout automatically.

[2021-07-08 01:47] Socolin opened #530 "Be able to overwrite http response in IFunctionsWorkerMiddleware"
Hello,

In ASP.NET Core I have a middleware that try/catch around the `next(context)` and depending on the exception, set response body and set status code

[code]

I would like to do the same in azure function in `IFunctionsWorkerMiddleware` but it's not possible currently, the FunctionContext does not explose anything to do that.

[2021-07-08 02:54] mrsquish opened #531 "Options Builder Extension doesn't appear to work"
Hi there, I'm trying to use the services.AddOptions extension method to register typed configuration, but it would appear not to register the type. I get missing dependency errors when trying to resolve services where that configuration is injected.

[code]

[code]

[2021-07-08 15:19] RobBowman opened #532 "Failed to start a new language worker for runtime: dotnet-isolated"
Please see this Stack Overflow question for details: https://stackoverflow.com/questions/68086787/azure-function-failed-to-start-a-new-language-worker-for-runtime-dotnet-isola

A support ticket with Microsoft has also been raised - the id is: 2106280050000196

Repro at: https://github.com/RobBowman/ReproDotnetWorkerIssue532/tree/timeout-error

[2021-07-08 16:39] ErikPhilips commented on #531
It seems like the configuration from `AddOptions().Configure` isn't the same as `context.Configuration`.

I've registered my configurations as:

[code]

`Configure<>()` runs `AddOptions()` automatically..

Configure from Microsoft.Extensions.Options

[2021-07-08 22:34] mrsquish commented on #531
Hey Erik,

Thanks mate, I'll give that a shot.

[2021-07-09 00:36] mrsquish commented on #531
Hey Eric, and all. Sorry my bad, I didn't realise I needed to inject IOptions<T> instead of T.

[2021-07-09 00:36] #531 closed

[2021-07-09 13:36] ThreeSevenths commented on #434
Do you know when the fix will be released and be integrated into VS?

[2021-07-09 14:43] HMoen commented on #180
@tidusjar, you can try this suggestion https://github.com/Azure/azure-functions-host/issues/6911#issuecomment-842528631 by injecting the [IHostApplicationLifetime](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.hosting.ihostapplicationlifetime?view=dotnet-plat-ext-5.0) into the function and watching the  [ApplicationStopping](https://docs.microsoft.com/en-us/dotnet/api/microsoft.

[2021-07-09 15:36] tidusjar commented on #180
Thanks for the suggestion, but this does not resolve my issue. My issue is regarding when a Http request is cancelled, there Is currently no way to handle this

The cancellation token you mentioned is regarding the application lifecycle. But I appreciate the pointer.

[2021-07-09 16:08] HMoen commented on #180
@tidusjar, I always understood the [cancellation token](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-class-library?tabs=v2%2Ccmd#cancellation-tokens) being passed in the function method was the operating system notifying the function is about to terminate.

I think what you're looking for is [HttpContext.RequestAborted](https://docs.microsoft.com/en-us/dotnet/api/microso

[2021-07-09 17:40] HMoen commented on #475
@ak37165, thanks for your insight. Linking #366 for points 2 and 6 above.

[2021-07-10 02:21] ak37165 opened #533 "Submitting binary data in request body to HTTP trigger causes error writing invocationRequest to worker ID..."
I have an HTTP triggered function where the request body contains binary data, such as an audio file.

The function code is never executed (no breakpoint is hit) and the console shows:
[code]

The issue happens on both localhost and when hosted in Azure. The issue does not happen for some smaller files, say up to 300kB.

The error is quite nasty because once it happens the function app instance st

[2021-07-10 02:22] ak37165 commented on #533
May have a bearing on https://github.com/Azure/azure-functions-dotnet-worker/issues/366 which deals with submitting files as form data.

[2021-07-10 02:24] ak37165 commented on #533
Not sure if this code is called by the function-worker at the host but seems request body may be attempted to be decoded using UTF8: https://github.com/Azure/azure-functions-host/blob/71a6ab35770c33165f1543c51397013d0446a32f/src/WebJobs.Script/Rpc/MessageExtensions/RpcMessageConversionExtensions.cs#L162

[2021-07-10 03:43] jasonhill commented on #311
We get the same timeout issues when trying to debug a function app using .Net 5 and isolated worker. The IDE hangs and we get the same timeout errors outlined above. It only seems to happen when RunOnStartup=true on a TimerTrigger though. If we remove that, then debugging starts OK and we can issue a post request against the worker to manually fire the function and debug it normally.

[2021-07-10 16:43] harveytriana commented on #475
The signalR topic with Azure functions has deep differences. I have published an article on this. I compare the two scenarios, isolated and traditional: https://www.blazorspread.net/blogview/blazor-y-faas-(parte-2)

[2021-07-10 20:39] Romfos commented on #480
@fabiocav Could you please tell us why do we have such kind of limitation? Thank you!

[2021-07-10 22:33] jasonhill commented on #311
Actually, it seems that this issue happens whenever a function attempts to run when the process first starts up, i.e. if RunOnStartup=true or if the timer trigger is past due.

[2021-07-12 03:10] SeanFeldman commented on #180
This is why the SDK should provide cancellation token rather than developers come up with their own solutions and recreated the same thing time and time again. From all the things that are being improved with the isolated worker, this feels like a step in the wrong direction. @fabiocav any plans to address this?

[2021-07-12 13:28] jsquire opened #534 "[BUG] UnscheduledInvocationReason: IsPastDue and process does not restart"
@sjuarezgx commented on [Sat Jul 10 2021](https://github.com/Azure/azure-sdk-for-net/issues/22590)

TargetFramework : net5.0
AzureFunctions Version : v3
Function App platform: Linux
Consumption plan
Microsoft.Azure.Functions.Worker.Extensions.Timer : 4.1.0
VS 2019

Hi
I have a timer trigger function which is scheduled to run once every 10 minutes, and according to the recommendations, the useMonit

[2021-07-13 12:25] Log234 commented on #297
I've also run into this issue. Even when the build succeeds, Azure is unable to find any of the functions.

[2021-07-13 12:46] waynedavisactivu commented on #374
I was having the same issue you were until I changed the following:

-Before:
[code]

-After:
[code]

[2021-07-13 21:24] brettsam commented on #533
Thank you for the report @ak37165 -- can you clarify -- if you use a 300kB binary data file, things work? So it seems to be due to size alone?

Can you share what version of the Worker package you are using in your project?

[2021-07-13 21:29] brettsam commented on #530
I believe this should be possible, but it may not be straightforward -- we'll investigate this and add a sample if it's possible today. Otherwise, we'll expose this.

[2021-07-13 21:33] brettsam commented on #527
I believe this is all related to #434.

In that scenario, if a timer started up because it was past due or `RunOnStartup=true`, it can prevent this message from being written while the process is awaiting a debugger to attach. Can you correlate the missing message with a timer log that says something about being past due?

[2021-07-13 21:37] ak37165 commented on #533
Version information:

[code]

Using 1MB (or 4MB as is more typical for my scenario) does cause the error to happen always. I tested with one 300kB file and that worked - but that was an image file instead of an audio file. So not sure if some binary characters could be the cause or just the size is the issue. Network speed should not matter as I tested both on localhost (client and function app on

[2021-07-13 21:45] ak37165 commented on #533
Microsoft.Azure.Functions.Worker version 1.2.0

[2021-07-14 00:15] kzryzstof commented on #530
I asked a similar question on [SO](https://stackoverflow.com/questions/68350021/azure-function-middleware-how-to-return-a-custom-http-response).

[2021-07-14 00:49] #498 closed

[2021-07-14 05:17] maartenba commented on #527
Using verbose logs.

1st successful run:
[code]

2nd run, with service bus trigger added. Fails as expected (no configuration provided):
[code]

3rd, failing run (with no details on what went wrong):
[code]

Attaching Azurite storage state after this run, in case you need to look at that.
[azurite-storage.zip](https://github.com/Azure/azure-functions-dotnet-worker/files/6813657/azurite-storage.zip

[2021-07-14 20:22] #464 closed

[2021-07-14 20:33] fabiocav commented on #466
Moving this to 107 as it is a more realistic target given the current capacity

[2021-07-15 07:18] nbgyxi commented on #534
I experience this as well and I can reproduce it 100% of the time locally. Meaning once my TimerTrigger is PastDue, then it happens 100% of the time. If I remove the TimerTrigger then it happens 0% of the time. If the TimerTrigger is not PastDue then it works fine.

What happens when this error occurs is that it doesn't run any of my code at all, also not any other code than the TimerTrigger.

htt

[2021-07-15 13:42] DavidZidar commented on #386
@fabiocav Any update on when a new version will be released with this bug fix?

[2021-07-15 17:12] jdiekhoff opened #535 "Azure function stops processing due to Host Monitor Thresholds "Sections" being exceeded"
#### Investigative information

- Timestamp: 2021-06-25T19:59:16.1806544Z
- Function App version: 3.0.15733.0
- Runtime: dotnet-isolated
- SDK:  .NET 5
- Functions library: Microsoft.Azure.Functions.Worker v1.2.0
- Operation ID: 93ededf34dbb5840a8a033f47224334c
- Region: eastus
- Plan: Consumption, Windows
- Running as package
- InvocationId (Not related to error but providing per the requested in

[2021-07-15 17:51] yuriburger commented on #518
We are experiencing the same issue (dotnet-isolated + VNet integration breaks stuff), so leaving a comment to hopefully get notified if it gets resolved.

[2021-07-15 18:39] david-peden-q2 commented on #530
https://github.com/Azure/azure-functions-dotnet-worker/issues/340

[2021-07-16 14:26] josh-endries opened #536 "Azure support for .NET 5 Function Apps (Pipeline and portal)"
I got here from https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-guide

I've looked around but I'm not really sure where this should go, sorry if this is the wrong place.

I have been fighting Azure DevOps (ADO) with a test .NET 5 isolated Function App for a while now, trying to get it to work through ADO. I know it's not officially supported, and I don't expect it to

[2021-07-16 17:37] stevieray8450 commented on #311
Also seeing the same issue

[2021-07-16 20:01] jamyc commented on #186
@fabiocav I'm really looking forward to using `builder.AddAzureKeyVault(...)` and then referencing a secret in e.g. an EventHubTrigger. As I understand from your comment, this is currently not supported. Is this a feature that's being considered? If so, do you have any idea where this fits in the roadmap.

[2021-07-16 20:31] Mithras commented on #186
For us Key Vault references is a good enough solution that at least unblocked us
We still have to wrap functions in `#if !DEBUG` like this
![image](https://user-images.githubusercontent.com/2098029/126004675-65c9535f-4c48-401c-9c04-9fedaf16c05f.png)
though because devs can't use Key Vault references locally and we have to copy-paste the secret to local.settings.json and then remove `#if !DEBUG` in

[2021-07-16 21:56] saipeddinti opened #537 "Azure Functions Error - Failed to start a new language worker for runtime: dotnet-isolated."
Azure Functions Core Tools
Core Tools Version:       3.0.3477 Commit hash: 5fbb9a76fc00e4168f2cc90d6ff0afe5373afc6d  (64-bit)
Function Runtime Version: 3.0.15584.0

Functions:

        Function1: TimerTrigger

For detailed output, run func with --verbose flag.
[2021-07-16T21:50:43.315Z] Executing 'Functions.Function1' (Reason='Timer fired at 2021-07-16T14:50:43.2984892-07:00', Id=ee248b47-169a-4c5

[2021-07-19 15:08] davidgruar opened #538 "EventGrid output binding: sending multiple events exceeds maximum size"
When using the EventGrid output binding and returning multiple events from a single function run, I have occasionally encountered the following error when the number of events is too high:

If I was sending events programmatically I could send them in batches, but that option doesn't seem to be available when using output bindings in the isolated process model. It's not really feasible for me to s

[2021-07-19 19:19] pkenterlis opened #539 "Access remote ip address on HTTP triggered functions"
I have implemented many Azure Functions under .NET Core 3.1 and I want to migrate my entire codebase to .NET 5.0.

Is there a way to access the remote client's IP address when running isolated process .NET 5 Azure Functions on a local docker image?

 The HttpRequestData object carries no such information. I suppose that when running on Azure, the remote address will be available through the X-Forw

[2021-07-19 19:23] roend83 commented on #308
Using the Microsoft.ApplicationInsights.WorkerService package works for getting dependencies logged, but the telemetry isn't associated with the function execution.  Is there an easy way to bridge that gap?

[2021-07-20 07:56] aistvan commented on #459
@fabiocav Did you find something for me?

[2021-07-20 13:50] martonx opened #551 "How can we use .Net 5 isolated with linux custom image"
I found this example.
https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom-image?tabs=bash%2Cportal&pivots=programming-language-csharp
It is working fine with .Net Core 3.1
I also found dotnet-isolated images for creating custom .Net 5 based image for Azure Function.
But docker build not working, because of dotnet version mismatch.

Steps for repro (I'm usi

[2021-07-20 14:53] walkerrandolphsmith opened #540 "ServiceBusTrigger IsBatched examples."
I am trying to leverage the [IsBatched](https://github.com/Azure/azure-functions-dotnet-worker/blob/3e65d91314fc0920349ecd5eaadc36162be868f3/extensions/Worker.Extensions.ServiceBus/ServiceBusTriggerAttribute.cs#L76) configuration of the Service Bus Trigger Attribute. I am not seeing batches of messages and am struggling to know where I have failed.

[code]

I reviewed open and closed issues and sa

[2021-07-20 21:01] brettsam commented on #540
Try using `IEnumerable<string>` as a parameter to your function. I believe that should work for batching.

[2021-07-20 21:04] brettsam commented on #539
You should be able to use `X-Forwarded-For` -- see this issue for more info: https://github.com/Azure/azure-functions-dotnet-worker/issues/432.

[2021-07-20 21:04] #539 closed

[2021-07-20 21:07] brettsam commented on #538
Can you share an example of how you're using the output binding? It seems as though the output binding should be taking care of this for you and we'd like to check it out.

Another alternative you always have is to use the EventGrid SDK directly from your function code, where you can control the batching yourself.

[2021-07-20 21:13] brettsam commented on #536
It's certainly possible to deploy with DevOps, but I don't think any of the built-in tasks do this today. I'm assigning to @anthonychu to work on a sample/docs for this.

And yes, the portal work is planned -- but we have no ETA for this at the moment.

[2021-07-20 21:27] brettsam commented on #527
Thank you for all the details, @maartenba -- this confirms that it's the same underlying issue as #434 (the "past due" timer invocations during startup are the culprit).

I'm going to close this one so we have everything tracked in one place.

[2021-07-20 21:27] #527 closed

[2021-07-21 06:18] anthonychu commented on #536
@josh-endries I tried this out and it works. I used a Windows consumption app.

The steps described [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-how-to-azure-devops?tabs=csharp%2Cwindows) should work.

There is one added detail that you must set the `FUNCTIONS_WORKER_RUNTIME` app setting to `dotnet-isolated`. You can either manually do this in the portal, or set it in th

[2021-07-21 09:08] pnda489 commented on #473
Maybe
https://github.com/Azure/azure-functions-openapi-extension/tree/main/samples/Microsoft.Azure.Functions.Worker.Extensions.OpenApi.FunctionApp.V3Net5
is what you are Looking for?

[2021-07-21 12:38] davidgruar commented on #538
My function looks something like this:

[code]

[2021-07-21 12:49] davidgruar commented on #538
I also made a minimal repro:

[code]

This succeeds if I call `http://localhost:7071/api/sendEvent?eventCount=1024&stringLength=1291`, but fails if I increment either parameter by 1.

[2021-07-21 13:38] brettsam commented on #538
And in the in-proc world, I assume that you call Add/Flush in order to create your batches? It does seem like the binding should be handling that internally, but it isn't today (https://github.com/Azure/azure-functions-eventgrid-extension/blob/dev/src/EventGridExtension/OutputBinding/EventGridAsyncCollector.cs#L40). I've filed https://github.com/Azure/azure-functions-eventgrid-extension/issues/94

[2021-07-21 20:12] fabiocav commented on #536
Leaving this open to track the documentation improvements.

[2021-07-21 21:20] vijayrkn commented on #434
@brettsam - Could this also be related to the same issue? https://developercommunity.visualstudio.com/t/Azure-functions-debug-fails-to-start-on-/1474373

There is a sample repo available in the devcom issue.

[2021-07-21 22:31] #344 closed

[2021-07-21 22:37] #336 closed

[2021-07-22 00:17] fabiocav commented on #434
@vijayrkn it's a slightly different issue, but this fix will help with it. Though, the repro shared there seems to require additional (unexpected) steps, so I'd like to validate that. There's some additional work we're considering in the WebJobs SDK/Host layer to address the timer initialization issue

@ThreeSevenths the Core Tools update will happen once global deployment of the changes completes

[2021-07-22 10:33] PaulWattsHgem opened #541 "Integrations tests in .net core 5"
I built an http triggered Azure function using .net core 2.2 and was able to write integration tests and all worked great

I am migrating to .net core 5 and its a massive pain, I am trying to follow pattern in https://github.com/Azure/azure-functions-dotnet-worker/tree/main/test/E2ETests/E2ETests to create some tests

Would really appreciate some assistance with the following

1) I want to return

[2021-07-22 12:29] walkerrandolphsmith commented on #540
I realize now my code block in the original post should have read `string[] messages`. However, using both `IEnumerable<string> messages` and `string[] messages` work as expected. I am unsure what other factors may have changed in my experiment. Thanks for taking the time to review this!

[2021-07-22 21:31] brandonh-msft opened #542 "IAsyncCollector<T> usage when posting to output binding *during* processing"
We've got a use case where **as** the Function processes we want to be sending messages to the output binding. Previously, calling `AddAsync` on an `IAsyncCollector` at the point where we want to send the message did this work.

However, in the OOP model, I'm only seeing the capability to "send a batch" as part of Function **completion** ( #317 ) which isn't equivalent to what we had previously.

[2021-07-22 21:48] brandonh-msft opened #543 "ILogger missing LogMetric extension method"
In Functions v2 (in proc) we had [an extension method defined in `Microsoft.Azure.Webjobs.Host` that allowed logging of AppInsights `metric` types](https://github.com/Azure/azure-webjobs-sdk/blob/206e194e03d82a101a6b5dffb7b4c3904730801d/src/Microsoft.Azure.WebJobs.Host/Loggers/Logger/LoggerExtensions.cs) but this doesn't exist in the new `Worker.*` namespaces. We should bring it forward.

[2021-07-22 21:59] brandonh-msft opened #544 "PartitionContext no longer available on EventHub trigger"
We have need to get partition information when a function is triggered by Event Hub. Previously, we could add a `PartitionContext ptContext` argument to the Function signature and do things like:

[code]

Adding the parameter into the Function signature results in Binding exceptions.

Though, curiously, we log the partition Id in AppInsights (would be great to know if this is accessible from the F

[2021-07-22 22:51] brandonh-msft opened #545 "Envelope properties not available on trigger types"
With in-proc model we could take an `EventData` object for the EventHub trigger to read things about the envelope of the event:

[code]

But this object is not defined in the current object model for the OOP variant of the binding and using the one that comes with the Azure SDK results in exceptions from the Functions host. Without it, we can't do things like determine how long a message sat in EH

[2021-07-23 08:23] davidsteelebrady commented on #541
Hi @fabiocav, We are also experiencing the same issues described here by @PaulWattsHgem.  Is there any update or timeline when we could expect capabilities around IOC dependencies override?  I note issue #281 but seems to have gone cold.

[2021-07-23 12:49] stap123 opened #546 "Missing Documentation?"
With .NET 6 fast approaching and the plans to move to the isolated model from .NET 7 is there an ETA on docs relating to isolated being created and existing docs updated to include isolated examples?

Currently trying to find anything official about the isolated model apart from [this](https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-guide) (which doesn't really cover

[2021-07-23 15:05] brettsam opened #547 "Need to fix AssemblyInformationalVersion"
Current releases have `AssemblyInformationalVersion` looking like:  `1.3.0-local Commit hash: N/A+fd673155eca2c7654ea69c61e4fa8ee862cda1a8`. The `local` and `N/A` should not be there.

[2021-07-23 18:25] brandonh-msft commented on #545
Digging deeper, it looks like this is available off `bindingContext` as shown in [this sample file](https://github.com/Azure/azure-functions-dotnet-worker/blob/main/samples/Extensions/EventHubs/EventHubsTriggerMetadata.cs) for EventHub.

I'm going to pivot to this usage and will file further issues if I'm missing necessary properties/information on any specific bindings.

[2021-07-23 18:25] #545 closed

[2021-07-23 22:02] brandonh-msft opened #549 "Need TelemetryConfiguration added to DI Services"
Current guidance for utilizing custom telemetry w/ AppInsights is to [get the `TelemetryConfiguration` object from the DI container and create a `TelemetryClient` instance from it](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-class-library?tabs=v2%2Ccmd#log-custom-telemetry-in-c-functions). However, currently we aren't adding the config to the DI container.

I've worked

[2021-07-24 02:26] CameronAavik opened #550 "Restore using custom nuget.config for the worker host project"
When building a .NET worker functions project, the build will create a folder in the Temp directory and place in that folder WorkerExtensions.csproj which I believe is used to build the worker host project. Because this build is being done in a separate folder it won't use my preferred nuget package sources and will instead use the global nuget.config that is installed on the system.

It would be

[2021-07-26 06:22] RobBowman commented on #532
@ankitkumarr is there anything I can do to help? Happy to join a Teams call and share my screen to demonstrate the problem

[2021-07-26 14:06] RobBowman commented on #532
Repro at: https://github.com/RobBowman/ReproDotnetWorkerIssue532/tree/timeout-error

[2021-07-26 18:13] alanokelly opened #553 "Cannot get dotnet-isolated project running in Azure ( works locally)"
I have tried many different ways to get my C# .NET 5 (dotnet-isolated) project working in Azure, but have not had any success whatsoever. The function runs perfectly on my local machine. I've tried swapping from consumption to app plan, I've tried to build locally and then published directly from my machine to skip around the build and release steps. Still no luck. I'm out of ideas and I don't rea

[2021-07-26 19:48] brandonh-msft commented on #549
Related: #350 , #308

[2021-07-26 19:51] brandonh-msft commented on #553
I, too, am having issues though I'm able to run locallly. When I set up the Function App for Deployment from External Git (a GH repo) the deployment says it's succeeded

![image](https://user-images.githubusercontent.com/20270743/127048853-fa25ccc6-65fb-4baf-a9dd-c865e8c72f08.png)

but no Functions ever load (and no errors are shown in portal).

![image](https://user-images.githubusercontent.com/2

[2021-07-26 19:58] brandonh-msft opened #554 "'ExternalGit' deployments fail"
I, too, am having issues though I'm able to run locallly. When I set up the Function App for Deployment from External Git (a GH repo) the deployment says it's succeeded

![image](https://user-images.githubusercontent.com/20270743/127048853-fa25ccc6-65fb-4baf-a9dd-c865e8c72f08.png)

but no Functions ever load (and no errors are shown in portal).

![image](https://user-images.githubusercontent.com/2

[2021-07-26 20:01] brandonh-msft commented on #544
Can't use the EH `PartitionContext` object anymore, must use `object`, `string`, or, at best `JsonElement` and play w/ its properties that way:

[code]

[2021-07-26 20:01] #544 closed

[2021-07-26 20:04] alanokelly commented on #554
Huh, I'm the one that posted 553. Your message mentions "Unhandled exception. System.UriFormatException: Invalid URI: The hostname could not be parsed." Which sounds like an event that occurs after DI is completed. It sounds like you have a bad URI being parsed. Not sure it's related.

[2021-07-26 20:19] brandonh-msft commented on #554
No URIs to be parsed in my setup and it works perfectly w/ the same code deployed  via `func azure functionapp publish` from my local machine.

Additionally, on the Portal when I "Show Logs" for the deployment from Git it doesn't appear to have any problems:

[code]

[2021-07-26 20:27] alanokelly commented on #553
I don't think that the "554" is related. The error mentions an error parsing a URI, this is a DI issue

[2021-07-27 14:04] OleAlbers commented on #534
I have the same issue, just have to disagree to

Fails 100% of the time on Windows when locally debugging in Visual Studio, too

[2021-07-27 23:50] fabiocav opened #555 "Metadata generation must convert values to camel casing"
The metadata generation build process is not handling the required casing correctly. Currently, the infrastructure expects things like the trigger type to be camel cased (e.g. `httpTrigger` vs `HttpTrigger`).

[2021-07-28 18:30] bojanmisic opened #556 "Hitting "Did not find any initialized language workers" on Azure App Service Plan"
I have a couple of environments on Azure, two running Azure Function Apps on Windows Consumption Plan, one running Azure Function App on App Service Plan (Linux).

I'm deploying the same code to all environments, but only Consumption plan works as expected, on Linux App Service Plan seeing these errors below. App Service Plan is P1v2 if that matters.

I used this command for adding the app service

[2021-07-28 20:06] fabiocav commented on #459
@aistvan just wanted to provide an update as we have not been able to look at this yet. Assigning this to the proper backlog for planning. Thank you for your patience

[2021-07-29 12:27] baki32 commented on #556
Hi @bojanmisic,
I am fighting the same problem and I am failing ultimately with my production code... However I was able to make at least the POC with super simple HttpTrigger

Main thing to do was to downgrade the main packages
<PackageReference Include="Microsoft.Azure.Functions.Worker" Version="**1.0.0**" />
<PackageReference Include="Microsoft.Azure.Functions.Worker.Sdk" Version="**1.0.1**" Ou

[2021-07-29 12:48] stap123 commented on #549
We used to use `TelemetryClient` injected automatically via DI in .NET 3.1 functions. Is there a particular reason that this doesn't propose adding that back to the DI container as well? Is it a fundamentally different thing? (We have just upgraded and are now creating it ourselves using the `TelemtryConfiguration` as above in each function but it's additional duplicated code per function)

[2021-07-29 13:49] smokedlinq commented on #525
Also you can't get the EventData class as a binding which means you don't have visibility to the event properties.

[2021-07-30 04:15] Michael-D-Pine-dorsavi commented on #519
Just going to jump in here as I am looking to containerize a .net5 isolated function that is pretty ready to go, the docker build is a little bit confusing as I must admit I am no docker expert.

From the samples I have seen the confusing bit is what CMD or ENTRYPOINT do I need to put in, do I still do a restore if I need packages pulled down in the usual location ?

I have nuget packages and I kn

[2021-07-30 14:02] josmithua opened #557 "error MSB4113: Specified condition "$(SelfContained)" evaluates to "" instead of a boolean."
I get the following when I run `dotnet build`:

[code]

Contents of .csproj:
[code]

[2021-07-30 14:12] 3bdNKocY opened #558 "The DateTime type gets lost when using Output binding to Azure Storage Tables"
**Context:** In my function I am importing exchange rates from a CSV into Azure Storage Tables.

**Problem:** When using `TableOutput` binding the DateTime type gets saved as a string instead of a DateTime type when using the new .Net 5 out-of-process flow.
Before upgrading from .Net 3.1 my data had a DateTime type in Storage, but after upgrading to .Net 5 those fields are now being saved as strin

[2021-07-30 15:09] josmithua commented on #557
Fixed it by inserting `<OutputType>Exe</OutputType>`

[2021-07-30 15:09] #557 closed

[2021-07-30 15:42] sjuarezgx opened #559 "Did not find any initialized language workers"
Hello

I'm having this issue, in an Azure Function App (Consumption plan), Linux Environment.

The error is thrown for HTTP Azure functions.

TargetFramework : .Net 5
Language : dotnet-isolated
AzureFunctionsVersion V3
Microsoft.Azure.Functions.Worker.Extensions.Http Version="3.0.13"
Microsoft.Azure.Functions.Worker.Sdk Version="1.0.3

The same deploy works in a Windows Environment, as well as loc

[2021-07-30 18:03] Mithras opened #560 "No errors reported when functions fail to start"
Some context: I'm trying to containerize Functions to run them in Kubernetes. I'm using `mcr.microsoft.com/azure-functions/dotnet-isolated:3.1.3-dotnet-isolated5.0-slim` image to do so.
The problem is our Functions have dependency on ASP.NET Core Runtime which is not installed in the image. And it wouldn't be a big deal if I got a clear error message what exactly is missing. I wasted like half a d

[2021-07-30 19:56] josmithua opened #561 "ClaimsPrincipal input parameter is null (migrating netcore3.1 -> net5.0)"
I am migrating a Function app to target .NET 5, and now the `ClaimsPrincipal` instance from the input parameter is always `null`. Does the worker support the ClaimsPrincipal binding?

Thanks

[code]

[2021-07-31 02:05] smokedlinq commented on #427
I noticed on my Azure DevOps hosted agent (ubuntu-latest) it does not generate the .azurefunctions folder with the `dotnet publish` command. Switched to windows-latest and it generates the .azurefunctions folder as expected. Using v1.4.0 of the SDK.

[2021-08-02 00:15] justinyoo opened #562 "Add OpenAPI extension marker"
Hi, Team.

After @fabiocav and I discussed how to integrate the OpenAPI extension to this isolated worker, we concluded that this worker would need logic to find a marker to recognise the OpenAPI extension.

Because the OpenAPI extension runs on top of the HTTP trigger binding, it would need an extra marker &ndash; `OpenApiOperationAttribute`. All HTTP endpoints exposed to both OpenAPI document an