[2021-08-02 14:54] assaf-grth opened #563 "Isolated functions on linux consumption slow"
Executing an isolated function on a linux consumption based app, as recommended at the [known issues](https://github.com/Azure/azure-functions-dotnet-worker/wiki/Known-issues) article doesn't seem to improve performance,

When using windows consumption plan with response times of up to a minute, we got to response times of 2-4 minutes on the linux.

Are there any recommendations on how to troubles

[2021-08-02 15:57] brandonh-msft commented on #549
@stap123 in general for .net 3.1 you should be following [this guidance](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-class-library?tabs=v2%2Ccmd#log-custom-telemetry-in-c-functions). This issue is around that guidance not being possible in its current form due to the lack of `TelemetryConfiguration` in the DI container. You definitely shouldn't be re-creating TC every t

[2021-08-02 17:07] balag0 commented on #563
could you share the app name using
https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately#option-2

[2021-08-02 21:13] dcadlereii opened #629 "How do I create strongly typed configuration properties in Azure Functions v3"
I am using .NET 5 for my web APIs and FunctionApps deployed in Azure.
I am using Azure Functions v3 with dotnet-isolated.
I am using Azure App Configuration Service for all of my setting values.

In my .NET Core web APIs, I have the ability to strongly type my settings values so I don't have to be concerned with magic string in my code's methods.

For example, in my Startup.cs-->ConfigureServices

[2021-08-03 02:34] anthonychu opened #564 "Check for .NET Core 3.1 SDK before generating WorkerExtensions.csproj"
Currently the build fails when .NET Core 3.1 SDK is not installed, but it’s not clear to the user how to fix it. It might be better to fail with a meaningful error message before/while generating the extensions csproj file.

[2021-08-03 11:11] bagrupe commented on #564
When running "func init --worker-runtime dotnetIsolated --docker-only" in my function project, the following Dockerfile is created:

[code]

This will fail due to the problem you described, it tries to build the worker extensions with 3.1 after building the app with 5.0:

`/root/.nuget/packages/microsoft.net.sdk.functions/3.0.11/build/Microsoft.NET.Sdk.Functions.Build.targets(32,5): error : It was

[2021-08-03 11:20] baki32 opened #565 "No Operation_ID generated for TelemetryClient logs"
Hello,
We are migrating our 3.1 functions to .NET 5. After some troubles we have made everything work just fine, last piece we are missing is fully working Application Insights telemetry.

This is our Program.cs

[code]

When I am reviewing logs locally during debug or within Azure Logstream
![image](https://user-images.githubusercontent.com/22841494/128005529-88afd422-07c9-4ca9-8f9a-8dc348c408d2.

[2021-08-03 12:43] stap123 commented on #549
Thank you for the clarification, we are doing that now anyway so all good 😃

[2021-08-03 13:29] jairzjunior opened #566 "Multiple Azure SignalR Service Instances Support"
I would like to use multiples **AzureSignalRConnectionString** to connect with Azure SignalR Service. But I can't do it on Azure Function with **.NET 5**.
I was trying to follow this documentation [Multiple Azure SignalR Service Instances Support in Azure Functions](https://github.com/Azure/azure-functions-signalrservice-extension/blob/dev/docs/sharding.md), but it looks like that works only in a

[2021-08-03 13:48] dfibuch commented on #556
Just linking this issue, as it's related.

https://github.com/Azure/azure-functions-docker/issues/441

[2021-08-03 21:08] fabiocav commented on #535
@jdiekhoff we're flagging this for investigation, but if you have access to support, given the nature of the issue, it might be faster to go that route if there's production impact. If you do decide to open a support incident, please let us know.

[2021-08-03 21:18] anthonychu commented on #551
Related: #519

Please see this issue for the workaround: https://github.com/Azure/azure-functions-dotnet-worker/issues/297#issuecomment-810439567

[2021-08-03 21:18] fabiocav commented on #541
@PaulWattsHgem adding some comments/questions:

1 - Can you expand on what you're trying to do? What is the actual scenario you're trying to validate?
2 - You have full control over the dependencies and the startup process, can you share more details on the dependencies you're trying to replace/override?
3 - For a full end-to-end test, our validation process does have a dependency on Core Tools an

[2021-08-03 21:20] fabiocav commented on #542
There's no support for something like this with the OOP model today. This is the same limitation we have with other OOP languages as it is currently a host limitation.

The only guidance we can provide at this point is to make direct use of the SDKs, but this is something we're tracking as a future enhancement in the host.

[2021-08-03 21:21] fabiocav commented on #542
Closing as answered.

[2021-08-03 21:21] #542 closed

[2021-08-03 21:23] fabiocav commented on #543
Thanks for the PR here @brandonh-msft

Assigning to @brettsam for initial feedback.

[2021-08-03 21:30] fabiocav commented on #546
This has some details about the roadmap/plans: https://techcommunity.microsoft.com/t5/apps-on-azure/net-on-azure-functions-roadmap/ba-p/2197916

Preview, documentation and guidance  for .NET 6 should be landing very soon, but simply updating your target to .NET 6 and deploying should work today. You can follow the early guidance here: https://github.com/Azure/Azure-Functions/wiki/V4-early-preview

[2021-08-03 21:30] #546 closed

[2021-08-03 21:31] anthonychu commented on #566
@JialinXin Are you able to help with this?

[2021-08-04 06:28] tomkerkhove commented on #543
This is maybe the good time to ask the question, but have you considered embracing something like Serilog?

We have standardized on that so that you can write telemetry how you want to, and then it's optimized for multiple sinks. See https://www.codit.eu/blog/announcing-arcus-observability/ or https://github.com/arcus-azure/arcus.observability

[2021-08-04 10:30] jeroenbeuz commented on #384
Is there any update on this? I want to upgrade my Azure Function with a ServiceBus trigger to .Net 5 but this is blocking for me. I need the Message, just like it was possible in .Net core 3.1 functions. I've also tried the ServiceBusReceivedMessage, but then the function throws an exception because it can't bind that argument.

I've now spend hours to try and get this to work. Hope someone can he

[2021-08-04 13:04] jdiekhoff commented on #535
@fabiocav thanks for the update. We have currently downgraded to .NET Core 3.1 and this fixes the issue, so we won't open a support incident at this time. We'll be holding off on upgrading to .NET 5 until the investigation reveals the cause for why this occurrs.

[2021-08-04 20:17] fabiocav commented on #530
@brettsam is still tracking this, but we'll need to push this to the next sprint. We'll continue to use this issue for updates.

[2021-08-04 20:45] fabiocav commented on #521
Assigning to sprint 107 as a stretch goal.

[2021-08-05 08:02] rlamba89 opened #567 "Azure function 5 and EF Core 5 Could not load file or assembly > Microsoft.Extensions.DependencyInjection.Abstractions"
I am getting above error when running the tests in azure devops pipeline but not when running it local. Everything works locally fine.

I believe the error happens when the base class try to initialize DB Context using EF Core 5 at line 15.

[![enter image description here][1]][1]

Code stack:

**Azure function isolated enabled .Net 5**

**EF Core 5**

Can someone please help me understand why thi

[2021-08-06 06:15] Dinand01 commented on #556
He, we are having the same issue. We deploy by zip, all nuget packages are at the latest version.

Environment:

- framework: .NET5
- function-version: v3
- Linux app service plan with vnet integration

We deploy using zip (Azure cli).

What I tried:

- Using Async Main method with host.RunAsync()
- Using multiple custom linuxfxversion docker images (for example: "DOCKER|mcr.microsoft.com/azure-fu

[2021-08-06 06:16] Michael-D-Pine commented on #519
Wait sorry let me get this straight you can't use .Net 5 isolated on a linux docker image ?

So if I have a .Net 5 function isolated it just has to be deployed to a Function without using docker ?

[2021-08-06 06:54] Y-Sindo commented on #566
According to [this line](https://github.com/Azure/azure-functions-dotnet-worker/blob/main/extensions/Worker.Extensions.SignalRService/Properties/AssemblyInfo.cs#L6), seems `Microsoft.Azure.Functions.Worker.Extensions.SignalRService` 1.2.2 is a wrapper around `Microsoft.Azure.WebJobs.Extensions.SignalRService` 1.2.2. The extension for .NET Core App 3.1 supports multiple connection strings since 1.3

[2021-08-06 07:45] dfibuch commented on #556
@Dinand01 Good to know there is more people have this issue, will hopefully push MS to look at it more urgently. I had an update from them yesterday to say they are still looking into it. Sounds like they are investigating but have nothing to share with us yet.

[2021-08-06 12:29] SeaDude commented on #556
Same error message here with a Python Azure Function.

**Specs:**
- Consumption plan
- Linux (obvs)
- Queue Storage trigger
- Also using `async` libraries; specifically `azure.storage.blob.aio` and `asyncio`

![image](https://user-images.githubusercontent.com/8636973/128510343-55fa9e3e-4017-4f55-b436-b43370f5d486.png)

![image](https://user-images.githubusercontent.com/8636973/128510396-eb8aa27e-5

[2021-08-06 19:30] nachiappannk opened #568 "Dockerized .NET 5 (dotnet-isolated) function does not run when triggered"
- .NET 5 (dotnet-isolated) function with Http Trigger (and Service Bus also) when dockerized and deployed Azure, the function is not run when triggered.
 - The issue is observed when using `Microsoft.Azure.Functions.Worker` version `1.4.0`
 - The issue is resolved when downgrading the package `Microsoft.Azure.Functions.Worker` version `1.0.0`

# Steps to reproduce the issue
### Prerequisites
 - Az

[2021-08-06 19:47] pkskelly opened #569 ""func new" TimerTrigger reverts Extensions.Timer nuget package version in dotnet-isolated project"
When using ```func new``` from azure functions core tools on macOS, if the Microsoft.Azure.Functions.Worker.Extensions.Timer package has already been added, the package version is reverted to 4.0.1 (from 4.1.0 after installed latest NuGet package).  References to the TimerInfo class break until the package in reinstalled/upgraded.

![dotnet-infp](https://user-images.githubusercontent.com/5527235/1

[2021-08-06 20:44] anthonychu commented on #566
Thanks @Y-Sindo. Can you submit a PR to update that metadata?

[2021-08-06 21:30] chadwillson commented on #534
I am having the same issue on Windows

[2021-08-07 06:08] tyson-benson commented on #521
This would be very useful, I was also thinking about how to support case-insensitive string to enum converter for path parameters that map to enum types.

[2021-08-07 22:39] chandsalam1108 commented on #414
Hi, How can we get access to HttpContext object to set User Claims?

In my case I'm using custom Authorization lib to validate JWT token. Upon successful validation I need to set user claims to HttpContext so that I can use that in other parts of function app method execution.

Thank you!
Chand

[2021-08-08 16:37] c0dybrown opened #570 "Azure Functions .NET 5 SignalR Group Output"
I am using Azure Functions and SignalR to create a chat application, but for some reason I cannot get the group ID output to work. I can notify groups using the ID easily on my server, so I know that the clients are in the right groups. Also, I can notify clients individually using UserId in the output class, so I know the functions are working.

[code]

Does anything look wrong with this code, as

[2021-08-09 07:48] Y-Sindo commented on #566
@anthonychu As SignalR extension has added two input bindings for the multiple endpoints feature, I tried to update the sample and the [sample project reference](https://github.com/Azure/azure-functions-dotnet-worker/blob/main/samples/Extensions/Extensions.csproj#L25), but the build failed because didn't found the Microsoft.Azure.Functions.Worker.Extensions.SignalRService 1.5.0 . Should the sample

[2021-08-09 08:33] Y-Sindo commented on #566
@anthonychu I created a PR.

[2021-08-09 14:09] OlegGavrilov commented on #530
Would really appreciate an update on this issue, thanks!

[2021-08-09 17:27] EnenDaveyBoy opened #572 "Need HttpContext in Http Trigger"
Hi

I need to access the HttpContext for HttpTriggers in both middleware and services, i know there is a hackie work around to access the HttpRequest and respone in middleware, but it makes it really difficult in services.

(I primarily need to access headers and cookies at present)

Is there an plans for the HttpContextAccessor to be introduced?and possible eta?

[2021-08-10 00:35] Lithelli commented on #556
I ran into this issue as well.

[2021-08-10 04:00] #563 closed

[2021-08-10 06:03] assaf-grth commented on #563
Unfortunately I can't get customer's approval to share the function details so far
In case I get them I will send an update here

[2021-08-10 09:09] RobBowman commented on #532
I just ran a nuget package update for

Microsoft.Azure.Functions.Worker v1.3.0 ==> v1.4.0
Microsoft.Azure.Functions.Worker.sdk v1.0.3 ==> v1.0.4

This seems to have solved the problem

[2021-08-10 14:34] SeaDude commented on #556
Hi @Lithelli. I'm curious. Was it with .Net or Python Function? With `asyncio` library or just in general?
Thank you

[2021-08-10 14:45] michaelmoneypenny commented on #237
I've just hit the same problem, do I need to downgrade?

[2021-08-10 15:05] bojanmisic commented on #559
Same as #556.

[2021-08-10 16:55] jeremyVignelles commented on #237
From what I've seen elsewhere, this will not be possible until at least .net 6.
I've unfortunately downgraded my project in the meantime...

[2021-08-11 03:30] BrandonSchreck commented on #304
Are there any updates for the test helpers/test framework? I'm struggling to setup unit tests around classes that implement IFunctionsWorkerMiddleware.

[2021-08-11 12:17] efotin commented on #556
In my case, the culprit was a reference to **IdentityModel.AspNetCore**, which is incompatible with "dotnet-isolated".

[2021-08-11 13:07] marcelgrilo commented on #384
Hello there!!!

In my case, our team is needing to use the `autocomplete=false` settings, because we need to control when to complete the message or not manually.
And without the MessageReceiver we dont know where to find or call the `CompleteAsync(lockToken)`...

Does anyone here needing this functionality?

We are currently using `autocomplete=true`, but our application will scale in the very ne

[2021-08-11 18:05] shareonline commented on #534
Is there really not any fix for this? From a developer point of view, the experience (Azure function .NET 5 isolated) is completely broken right now, and im stuck at .NET 3.1 for my functions..
Further for some of the latest Graph SDK calls we need the new version 4.0 and this has dependencies into .NET 5.. It's a mess right now, and really high priority in my eyes.

[2021-08-11 18:24] dolphinspired commented on #475
I've recently been stumbling through the 3.1 -> 5.0 upgrade process for a few Functions. I'd like to add this important note about ApplicationInsights. For the old in-process Functions, [this document](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#logging-services) states the following:

This is no longer true for isolated Functions - you _do_ need to

[2021-08-11 20:36] soninaren commented on #547
@brettsam Can you add more information on how this is generated? Is there a specific build step or code path you could point to?

[2021-08-11 20:47] shareonline commented on #534
Okay my workaround so far is the following:

#if DEBUG
        const string Timer = "0 */1 * * * *";
#else
        const string Timer = "0 */5 * * * *";
#endif
public async Task RunScheduled([TimerTrigger(Timer, UseMonitor = false)]TimerInfo myTimer, FunctionContext context)

Could also skip UseMonitor and let it run within under 1 minute, but this works for me and can run/debug locally..
whew! No

[2021-08-12 09:51] dmytro-gokun opened #573 "Log messages with Level below Information are never logged with default config."
Here's my startup code:

[code]

with this one LogLevels below Information are never logged, no matter what logLevels I set in host.json.
I've found that this might be worked around by adding an explicit SetMinimumLevel call:

[code]

I think this is a bug (and one which cost me quite a lot of time).

[2021-08-12 11:16] dfibuch commented on #524
Sorry for the stupid question but how do you set the `appFramework` on a Azure Function?

[2021-08-12 12:00] metoule commented on #524
You can't directly: for my tests, I started with a brand new Azure function created via the Azure portal, and then I changed the docker image to a custom one.
The default Azure function used the `dotnet-isolated` appFramework, while my custom docker image made Azure to switch to the `DOCKER` appFramework, which I saw in the logs.

I don't know how to switch it back to the `dotnet-isolated` appFram

[2021-08-12 14:04] dfibuch commented on #524
I just applied your code to change the command line arguments and this has fixed my issue. Thank you! I am talking to Microsoft Technical support and linked them to this issue so hopefully someone will pick it up and get it fixed

https://github.com/Azure/azure-functions-docker/issues/441

[2021-08-12 14:06] dfibuch commented on #556
This fixed it for me https://github.com/Azure/azure-functions-dotnet-worker/issues/524#issuecomment-872388417

[2021-08-12 19:07] dolphinspired opened #574 "FunctionContext is not accessible through dependency injection"
With the introduction of the [FunctionContext](https://github.com/Azure/azure-functions-dotnet-worker/blob/main/src/DotNetWorker.Core/Context/FunctionContext.cs) in the dotnet-isolated (.NET 5) runtime environment for Azure Functions, we now have an easy way to access common Function information and share arbitrary data through the Items property on that context. Unfortunately, although you can ac

[2021-08-12 23:25] kinetiq opened #575 "Wiki is out of date and needs to be updated."
This link in particular:

https://github.com/Azure/azure-functions-dotnet-worker/wiki/.NET-Worker-bindings

- Does not include SendGrid or Warmup, maybe more.
- The link to the sample app is broken, and the sample app does not actually include examples for all bindings.
- I would also update the sample code. The 2nd example is out of date, it involves creating custom types to set up a timer trigge

[2021-08-13 14:51] brettsam commented on #547
I think that we need to pass the same `-p:BuildNumber=$(buildNumber) -p:CommitHash=$(Build.SourceVersion) -p:IsLocalBuild=False` arguments here:
- https://github.com/Azure/azure-functions-dotnet-worker/blob/main/azure-pipelines.yml#L223

To the build command here:
- https://github.com/Azure/azure-functions-dotnet-worker/blob/main/azure-pipelines.yml#L36

[2021-08-13 22:23] smokedlinq opened #576 "Storage queue message encoding support"
How can we enable the newer extensions support on the host? For instance the latest Microsoft.Azure.WebJobs.Extensions.Storage.Queues beta provides support for queue messages that don't use the base64 string encoding, such as queue messages from Azure Event Grid.

I'm looking to get this same setup / support in the isolated worker but so far, adding the package and modifying the host.json as was r

[2021-08-16 06:14] kaotoby commented on #573
Can confirm this bug on version 1.3.0 and 1.4.0 too.
#417 is not fixed. Can be reproduced using method described in #417 .

[2021-08-16 09:45] YoupHulsebos opened #577 "Worker.Extensions.RabbitMQ"
The RabbitMQ extension has been in beta for 6 months. Was this done on purpose or is this version ready to run on production?

We would love to use the .NET isolated functions with RabbitMQ on production. And everything seems to work in our use case. So we were just wondering is the extension wasn't updated to stable on accident or if there is serious stuff missing..

See: https://www.nuget.org/pa

[2021-08-16 14:51] PaulWattsHgem commented on #541
I think that the key thing is that when doing any integration tests everywhere else in .net core it uses a standard pattern, whatever the hosting environment is.

https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-5.0
https://docs.microsoft.com/en-us/dotnet/architecture/microservices/multi-container-microservice-net-applications/test-aspnet-core-services-web-apps

[2021-08-16 17:55] stephen776 commented on #556
I am currently having this issue in production. The functions had be been working fine for a few weeks prior and this popped up about 5 days ago with no changes to the deployed code.

I have tried the workaround linked by @dfibuch with no luck. I've also made sure all of the nuget package are up to date and the issue remains.

[2021-08-16 21:03] cataggar opened #578 "0 functions loaded for isolated"
I'm trying to convert our .NET Azure Functions from in-process to isolated. I keep getting `0 functions found` when it tries to load the metadata. I'm able to reproduce with the `samples\FunctionApp` in this repository. Any idea what I'm doing wrong here?

[code]

Then `cd bin\Debug\net5.0` & ` func host start --verbose`:

[code]

[2021-08-16 21:08] dev-jla commented on #486
It turns our this only happens when using Linux OS 3.0.15885.0, however Windows is further along at 3.1.3.0 redeploying to that instance solved it. Not sure why Linux is so far behind.

[2021-08-16 21:26] #486 closed

[2021-08-17 00:45] cataggar commented on #578
These worked fine after I updated to 4.x:

https://www.npmjs.com/package/azure-functions-core-tools
npm i -g azure-functions-core-tools@4.0.3687

For my project, it worked fine after changed the attribute from `FunctionName` to `Function`.
- Microsoft.Azure.WebJobs.FunctionNameAttribute
- Microsoft.Azure.Functions.Worker.FunctionAttribute

Could be worth highlighting in https://docs.microsoft.com/

[2021-08-17 00:45] #578 closed

[2021-08-17 05:20] baki32 commented on #565
Hi, this issue is lying here for 14 days now any chance it will at least get triaged?

[2021-08-17 10:39] martynas-m commented on #556
exactly the same- was working with no problems, after trying to go live this happened. works for a while, then http triggers stops responding, usually no errors...

[2021-08-17 14:09] onionhammer opened #579 "dotnet worker on linux consumption apps not starting (Central US outage)"
I have an open ticket with Microsoft support ( 2108140040000370 ) over this ongoing issue (has been happening since Saturday 8am central on CentralUS at least), but I just wanted to try to raise this here, since I literally just followed the instructions pasted in your README with a brand new 'func init'ed function and reproduced with only a single function of my own code added to the func init C#

[2021-08-17 16:10] kzryzstof commented on #579
I have a similar issue but my Function Apps are deployed in Canada East. Is it possible that the outage affects more than Central US?

[2021-08-17 16:18] onionhammer commented on #579
@kzryzstof completely possible, I only tested 2 regions

[2021-08-17 16:21] kzryzstof commented on #579
@onionhammer Should we expect to see something on the [Azure Status page](https://status.azure.com/en-us/status)?

[2021-08-17 16:25] onionhammer commented on #579
@kzryzstof It seems to me that Azure Functions is missing some service-level tooling/health checks; Microsoft appears to be completely unaware of this outage (their tech support is occupied trying to gaslight me into thinking its an issue on my end).

The outage not only needs to be fixed, they need an RCA on WHY they arent aware of these outages.

[2021-08-17 17:20] HMoen opened #580 "HTTP trigger binding data only has first query parameter keyed"
@fabiocav, per your suggestion in https://github.com/Azure/azure-functions-dotnet-worker/issues/362#issuecomment-807960346:

it seems to only key the first query parameter in the url:

![image](https://user-images.githubusercontent.com/2124254/129770411-834b4ff0-a25b-472f-950b-a8e4f305a9ec.png)

Is it designed to only key the first query parameter? If yes, please close this issue.

[2021-08-17 21:30] anthonychu commented on #541
@PaulWattsHgem Do you have a sample app in a repo that we can look at?

[2021-08-17 21:40] brettsam commented on #553
@alanokelly -- would it be possible to give us a sample that repro's what you're seeing? That'd help us understand what's different between local and Azure.

[2021-08-17 21:46] anthonychu commented on #554
@ahmelsayed Is this a problem with the kudu build script not working with .NET isolated projects?

[2021-08-17 21:57] anthonychu commented on #556
@stephen776 @martynas-m Could you please share your app names? https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately

[2021-08-17 22:18] everettcomstock commented on #574
@fabiocav , is this possible?

Thanks!

[2021-08-17 23:17] stephen776 commented on #556
@anthonychu

https://pipeag-functions-prod-1.azurewebsites.net

[2021-08-18 04:11] kshyju commented on #580
BindingData dictionary will have entries for all the query parameters from the request URL.  Here is a screenshot of `BindingData ` dictionary content for my request URL `/api/hello?lastname=Watts&state=WA&zip=98052` which has 3 query parameters.

![binding-context-values](https://user-images.githubusercontent.com/144469/129835417-2d4650c1-6b6b-478c-9be8-ec75155a240a.PNG)

Can you share the reques

[2021-08-18 10:47] kzryzstof commented on #579
Looks like it is working again: no changes happened over night on my side.

[2021-08-18 15:04] HMoen commented on #580
@kshyju , the URL with [code] query param truncated:

![image](https://user-images.githubusercontent.com/2124254/129922697-8414a3ce-b1ed-458a-a209-f9455111b5d6.png)

[2021-08-18 15:09] jp1482 opened #581 "Guid as a route parameter not working"
Following is my function signatute.

[code]
Steps
1. Now when I run the function it build and run file. Now lets assume that my function end point is http://localhost:7071/api/test/d38b8c35-d2bd-42ad-966e-933f9e8d36df .
2. Now this url throw exception with message

Microsoft.Azure.Functions.Worker.Diagnostics.Exceptions.FunctionInputConverterException: Error converting 1 input parameters for Funct

[2021-08-18 16:16] fabiocav commented on #581
Duplicate of #521

@jp1482 thank you for opening this. We have an issue tracking this (and currently assigned to a spring) here #521

We'll close this and continue to follow up in the other issue.

[2021-08-18 16:16] #581 closed

[2021-08-18 16:26] david-peden-q2 commented on #574
I asked a nearly identical question in https://github.com/Azure/azure-functions-dotnet-worker/issues/436 and it has been ignored ever since the bot closed it.

[2021-08-18 16:28] fabiocav commented on #574
@david-peden-q2 apologies if your question went unanswered.

Short answer is, no. The `FunctionContext` flows with the invocation and is not available through DI, though, this is something we should probably consider.

I'll flag this for further triage and discussion.

[2021-08-18 16:32] david-peden-q2 commented on #574
@fabiocav thank you for the response. https://github.com/Azure/azure-functions-dotnet-worker/issues/572, although misguided in asking for HttpContext, appears to want the same thing.

[2021-08-18 16:36] david-peden-q2 commented on #561
@josmithua see https://github.com/Azure/azure-functions-dotnet-worker/issues/436 and https://github.com/Azure/azure-functions-dotnet-worker/issues/574 for related discussion.

[2021-08-18 17:38] balag0 commented on #579
Looking at the logs for my-test-funcx, the region had a deployment in the last day which could explain the recovery.
As for the underlying issue, @yojagad could dotnet isolated apps also be impacted by https://github.com/Azure/azure-functions-host/issues/7590 (Did not find any initialized language workers)

[2021-08-18 17:56] yojagad commented on #579
This issue is a little different.. dotnet worker seems to have exited with the below error

[code]

The current runtime's behavior is generally to accept one request before throwing `Did not find any initialized language workers` and then shutting down (which is happening in the case of `my-test-funcx`). In the other issues, the runtime wouldn't shut down and would keep accepting invocations and t

[2021-08-18 20:07] LaurensAdema commented on #556
@anthonychu Same issue for us. Function works on Windows, but not on Linux. (P2V3).
**Time:** 2021-08-18T19:58:05Z
**Id:** 1d9cdd4d-bc41-40da-b40d-0f0b188c0739
**Location:** West Europe

[2021-08-18 20:18] stephen776 commented on #556
Ours actually started working again this morning for some unexplained reason. I'd really love to know what was going on and if we can avoid this in the future. It caused us significant downtime.

[2021-08-18 20:30] fabiocav commented on #499
Assigning to 108 as a stretch goal.

[2021-08-18 21:26] BrandonSchreck commented on #567
I'm having a similar issue when deployed in Azure. Locally I can run my application without any issues, but when deployed I'm getting the same error:

`System.IO.FileLoadException: Could not load file or assembly 'Microsoft.Extensions.DependencyInjection.Abstractions, Version=5.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'.`

It looks like it is throwing an exception when I'm attempting

[2021-08-19 07:04] ImranShafqat-123 commented on #434
I am still getting the timeout error but only for Timer functions. When we comment out the timer function and leave the others running, debug tools work fine. Do we have a fix to this problem yet?
![image](https://user-images.githubusercontent.com/81795094/130023325-f3b646eb-d87b-44eb-bb28-bd0d1e3c1148.png)

[2021-08-19 09:12] raphael-zenhaeusern-legic commented on #556
@anthonychu
A previosuly running function (dotnet-isolated) started encountering this too

Time: 2021-08-19T07:44:22.628Z
Id: b1773f2f-02ab-42d4-8fdc-a458df6c0697
Region: Switzerland North

[2021-08-19 09:22] martynas-m commented on #556
Hi,
I've manage to solve this problem (at least for me).

When analyzing logs a bit more carefully, I've noticed, that after some time the new error was shown as well. The new error was that dotnet 5 framework was not found. And that made me think- some time ago Microsoft released preview for dotnet 6 and isolated functions for that framework as well. Since dotnet 5 is not LTS, I thought that most

[2021-08-19 12:17] click2install commented on #534
It also hangs with a `dotnet-isolated` `TimerTrigger` Function in VS when `RunOnStartup = true`, regardless of the `UseMonitor` value.

Using `Microsoft.Azure.Functions.Worker.Extensions.Timer` `4.1.0`.

[2021-08-19 14:40] RobBowman commented on #532
Same issue now presenting in a different Azure subscription. Single source code, deployed via Azure DevOps pipeline is working in "Dev" subscription but failing with the grpc timeout error in "Test" subscrtiption

[2021-08-19 18:31] #521 closed

[2021-08-19 21:01] brettsam commented on #568
I believe you're hitting the same issue as https://github.com/Azure/azure-functions-dotnet-worker/issues/524. Can you try the workaround there and see if that fixes it?

[2021-08-20 00:24] #524 closed

[2021-08-20 00:24] #568 closed

[2021-08-20 06:58] sergevm commented on #565
Hi, bumping into exactly the same problem. This is blocking our migration to the isolated workers, we need correlation to investigate issues etc..

[2021-08-20 07:00] Y-Sindo commented on #570
I have tried a function like this:
[code]
And it works. Please make sure your function is triggered, and the group name, target, arguments are right.

[2021-08-20 07:08] baki32 commented on #565
Hi @sergevm, we gave up,
there seems to be a pull request waiting in the repo https://github.com/Azure/azure-functions-dotnet-worker/pull/548 that is bringing some logging features however it is waiting for https://github.com/Azure/azure-functions-host/pull/7593 and it seems there's no activity for some time..

Anyways what we have done is that we extracted all code from the functions into and exe

[2021-08-20 07:42] sergevm commented on #565
@baki32 The issue for us is that we are migrating to EF Core 5 in our functions, which forces us to go to isolated workers in the first place because of incompatible version dependencies in the EF Core libraries

[2021-08-20 07:57] dfibuch commented on #524
@fabiocav Is there any change required on our end to get this update? Or is it a case of removing the workaround and see if it now works?

[2021-08-20 11:07] timbussmann commented on #573
I'm running into the same issues, see this simple repro project here trying to configure debug level logging in `hosts.json`: https://github.com/timbussmann/IsolatedWorkerLoggingRepro

[2021-08-20 13:11] Ofer-Gal opened #585 "Apply equivalent of class Startup : FunctionsStartup with .NET 5"
I am novice in  .NET 5 Azure functions
I created HTTP Azure function from the template and it starts from the Program.CS file.
Now I now want to use code from a sample that was written to use Core 3.1 using  Startup.CS

It is decorated with:`[assembly: FunctionsStartup(typeof(AceAzureFunctions.Startup))]`
and the class inherits from FunctionsStartup
[code]
How should I implement the config in the

[2021-08-20 16:32] #547 closed

[2021-08-20 20:01] kshyju commented on #580
@HMoen  Thanks for sharing the URL.

In the context of http trigger azure functions, the `code` query parameter has a special meaning. It is used for specifying an API key which is used for authorization. See the [API key authorization](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook-trigger?tabs=csharp#api-key-authorization) section of the official documenta

[2021-08-21 01:04] pgombar commented on #524
Hi @dfibuch, you should be able to remove the workaround and update this reference in your .csproj to point to [1.5.1](https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker/1.5.1):
`<PackageReference Include="Microsoft.Azure.Functions.Worker" Version="1.5.1" />`

Redeploying after the update should do it!

[2021-08-21 14:32] jsquire opened #590 "Azure functions proxies not working"
# Issue Transfer

This issue has been transferred from the Azure SDK repository, [#23455](https://github.com/Azure/azure-sdk-for-net/issues/23455).

### Please be aware that @sjuarezgx is the author of the original issue and include them for any questions or replies.

## Details

TargetFramework : net5.0
AzureFunctions Version : v3
Microsoft.Azure.Functions.Worker.Extensions.Http Version="3.0.13"

[2021-08-22 15:30] Terricide opened #591 "Performance and cost impact"
I had an azure function that was inprocess running on dotnet 3.1. I upgraded to dotnet 5 and dotnet-isolated and performance dropped quite a bit and my cost went from a couple of dollars of a month to hundreds of dollars on the consumption plan.

Does this sound normal to anyone? I've since downgraded back and it's only been a day but the cost and performance looks like it back to normal.

[2021-08-22 16:39] dmytro-pryvedeniuk commented on #532
https://github.com/Azure/azure-functions-dotnet-worker/issues/524#issuecomment-903027879 may be helpful.

[2021-08-22 17:45] EnenDaveyBoy commented on #572
i have no idea what that means in regards to my issue

[2021-08-22 17:53] EnenDaveyBoy opened #592 "Scoped Dependencies reset in the function class"
So I have middleware which builds 2 context classes,however when there injected into the function class, the context classes which are used in the middleware are not injected into the function but completely new ones,which defeats the purpose.

Why are the same classes not injected into the function and what is the work around.

[2021-08-23 04:45] Y-Sindo commented on #570
Diagnostic log might be able to help you debug. Here is the [doc](https://github.com/Azure/azure-signalr/blob/dev/docs/diagnostic-logs.md).

[2021-08-23 10:50] dvdgutzmann opened #593 "HttpRequestData should preserve the capitalization of custom http header keys"
Hi all!

I have a function running .NET 5 in an isolated process. When the HTTP trigger is hit with a request containing some custom http header key (ie. My-SPECIAL-CaSe-sensitive-Header), the capitalization seems to be lost when accessing the header via `HttpRequestData`. The `BindingContext`, however, holds the custom header key with the original capitalization. `HttpRequestData `should also pre

[2021-08-23 13:03] Terricide commented on #591
Yup it for sure looked like it fixed the issue.

![image](https://user-images.githubusercontent.com/1705108/130451851-85b0d978-c6be-4c6a-a766-51ddb7e83656.png)

[2021-08-23 13:44] #580 closed

[2021-08-23 14:24] jedjohan commented on #591
Good find, was just about to start an upgrade of a 3.1 EventHubTrigger (that takes a lot of load) to 5.0 isolated, maybe I should just wait 😄

[2021-08-23 14:59] HMoen opened #594 "Use of "old" value types in claims of HttpRequestData.Indentities"
Using [EasyAuth](https://docs.microsoft.com/en-us/azure/app-service/overview-authentication-authorization) to protect a consumption tier function. Works great out of the box by populating the first [ClaimsIdentity](https://docs.microsoft.com/en-us/dotnet/api/system.security.claims.claimsidentity?view=net-5.0) in [HttpRequestData.Identities](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azu

[2021-08-23 15:46] stackboss opened #595 "Azure Function App Deploy task doesn't work with .NET 5 isolated process"
I am attempting to deploy an isolated process .NET 5 function app with a middleware wrapper using azure DevOps pipeline 'Azure Function App Deploy' task. Function deploys but does not run as an isolated process. If "FUNCTIONS_WORKER_RUNTIME" is set to "dotnet-isolated" it logs this error:

If I set it to [dotnet] the function runs when triggered, but it does not run out-of-process (missing the mid

[2021-08-23 17:52] drewbj21 commented on #434
I am having the same issue as @ImranShafqat-123... I confirmed that I am running the latest versions of VS (16.11.1), Microsoft.Azure.Functions.Worker (1.5.1), and Microsoft.Azure.Functions.Worker.Extensions.Timer (4.1.0). The confusing part is that I was able to get my app with a queue trigger function and a timer trigger function to work end of last week but am not able to do so this week. Any h

[2021-08-23 19:51] HMoen opened #596 "Testing HttpRequestData.Identities locally using valid bearer token throws exception"
Looking at the [E2ETests](https://github.com/Azure/azure-functions-dotnet-worker/tree/ddeab28e520cd69a1b338b095683ede628e01570/test/E2ETests), I don't see any examples to test HttpRequestData.Identities with a HTTP trigger.

Running local tests throws an exception at GrpcHttpRequestData.Identities due to id.AuthenticationType being null when a valid bearer token is provided:
![image](https://user-

[2021-08-23 20:39] kshyju commented on #592
@EnenDaveyBoy Are you trying to inject a scoped lifetime dependency into the middleware class using constructor injection? Middleware classes are registered as singletons. You should not inject scoped /transient life time dependencies into singleton lifetime classes.  If you do, they will behave like singletons.

Currently we do not support dependency injection on the `Invoke` method. If you _abso

[2021-08-23 23:04] EnenDaveyBoy commented on #592
I am trying to inject a Scoped dependency in both the middleware and the Function (Invoked method) using constructor injection.

Which instead creates two scope dependencies,one for the middleware and one for the function and other injected dependencies

Nowhere in the link you provided or the Azure  function docs does it state this cannot be done,or that the behaviour is different to none functio

[2021-08-24 12:58] sjuarezgx commented on #590
Hello,
I'm adding more information to this issue (as I need to have a solution as soon as possible).
If I ran the azure function locally (not in the cloud), having the proxies.json file which I copy below (*)
it throws the following error:

[2021-08-24T12:55:27.925Z] {
[2021-08-24T12:55:27.929Z]   "ProcessId": 22564,
[2021-08-24T12:55:27.930Z]   "WorkerVersion": "1.1.0.0",
[2021-08-24T12:55:27.931

[2021-08-24 14:27] RobBowman commented on #532
@dmytro-pryvedeniuk I have updated the project to make use of Microsoft.Azure.Functions.Worker v1.5.1 but this did not help - still getting the same grpc timeout error

[2021-08-24 16:26] kshyju commented on #592
^ This is the reason for the behavior you are seeing. To fix the issue, do not inject a scoped life time dependency into the constructor of middleware (which is singleton).

[2021-08-24 17:25] MikesGlitch commented on #572
I'm in a similar situation to the OP.

Should we be able to access HttpContext via IHttpContextAccessor in functions .net 5?

I'm in the middle of upgrading and I can't seem to access it.  I have some sample code in a repo here:

https://github.com/MikesGlitch/azure-functions-dotnet5-http-context-accessor/blob/master/HttpContextAccessor/Function1.cs

I'm just accessing it as I would normally - it

[2021-08-24 21:08] brettsam commented on #559
Closing as a duplicate of #556

[2021-08-24 21:08] #559 closed

[2021-08-24 21:24] brettsam commented on #567
Can either of you confirm that .NET 5.0 is installed on the machines that you're running on? This seems like the framework may be missing...

[2021-08-24 21:30] brettsam commented on #570
@c0dybrown -- any luck with this one? If it's still not working, please let us know.

[2021-08-24 21:46] brettsam commented on #576
Can you try to use the `Microsoft.Azure.Functions.Worker.Extensions.Storage.Queues` package? It looks like right now you're referencing the WebJobs one...

[2021-08-24 21:54] brettsam commented on #590
Have you tried using the latest worker package? It looks like you're using 1.1.0 -- we recently released 1.5.1, which may have improvements in this area.

[2021-08-24 22:00] brettsam commented on #591
@Terricide -- it's not expected that you'd see such a large change in cost when switching to the out-of-proc model. Do you have any kind of breakdown as to where these costs were coming from?

If you could share your Function App name (either explicitly or [privately](https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately)), I can see if I find anything from th

[2021-08-24 22:13] brettsam commented on #577
We should be able to update this. It does look like the host extension is at 1.0.0: https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.RabbitMQ/1.0.0...

@kshyju this would be a quick update

[2021-08-24 22:27] EnenDaveyBoy commented on #592
Thanks, took me abit but understood.

is there a way to inject it into a method, I can't get it to work as is suggestion in the .net core docs because they are completely different, and from what i can see azure middleware doesn't support it.

Or is my only option to add it into FunctionContext, which means my function is full of junk that shouldn't be there.

[2021-08-24 22:58] Terricide commented on #591
Is this enough information?

2021-08-24T22:57:13.360 [Information] Executing 'KeepAlive' (Reason='This function was programmatically called via the host APIs.', Id=58c58db1-e60b-44b9-a314-1a41880f4bbc)
2021-08-24T22:57:13.368 [Information] Executed 'KeepAlive' (Succeeded, Id=58c58db1-e60b-44b9-a314-1a41880f4bbc, Duration=154ms)

[2021-08-24 23:00] Terricide commented on #591
The problem appeared mid-july after I did the change but I didn't notice it until the 20th and reverted back the 21st. I think it racked up $1,000 when previously it had only been a couple of bucks a month.

[2021-08-24 23:26] kshyju commented on #592
Have you tried the code I posted [above ](https://github.com/Azure/azure-functions-dotnet-worker/issues/592#issuecomment-904109082)inside the `Invoke` method of your functions middleware ?

[2021-08-24 23:56] smokedlinq commented on #576
@brettsam had to upgrade the `Microsoft.Azure.Functions.Worker.Extensions.Storage` to 5.0.0-beta.4 ... and that appears to work... the 4.0.4 version does not.

[2021-08-25 00:13] MattHartz opened #641 "Azurite Support .net core 5 dotnet-isolated"
Hi all,

I am having similar issues to https://github.com/Azure/Azure-Functions/issues/1883. I am trying to run Function App with a ServiceBusTrigger along with ServiceBusOutput and am getting:

![image](https://user-images.githubusercontent.com/16110147/130705367-d71fceac-cdbe-4e6d-a2e4-97180986cd24.png)

Similarly I copied how these users set their connection, but I have tried various permutatio

[2021-08-25 01:00] #553 closed

[2021-08-25 01:00] #541 closed

[2021-08-25 02:48] stuartbale opened #597 "SOLVED: Output multiple queue messages from Function"
Hello, is there a sample or guide for how to output multiple queue messages from a .Net Isolated (Out of Process) Function?

I want to Trigger on a Timer, and then output multiple messages to a queue, to distribute load.

[2021-08-25 03:00] stuartbale commented on #597
By returning an Array, it appears the output binding adds a message for each item in the Array.

[2021-08-25 03:00] #597 closed

[2021-08-26 10:30] FiniteReality opened #599 "Support ValueTask as asynchronous return type from functions"
It appears that [DefaultMethodInvokerFactory](https://github.com/Azure/azure-functions-dotnet-worker/blob/main/src/DotNetWorker.Core/Invocation/DefaultMethodInvokerFactory.cs#L159-L178) only treats `Task` and `Task<T>` as method return types that need to be `await`ed. This means that if you use `ValueTask` or `ValueTask<T>`, you'll end up dealing with strange exceptions as your code will run to th

[2021-08-26 12:38] RikShoeby opened #600 "When doing 'real' async in function with a HttpClient.SendAscync the logger and IServiceCollection are disposed before the function ends"
When doing 'real' async in function with a HttpClient.SendAscync the logger and IServiceCollection are disposed before the function ends.

I have some HttpClients:
`private readonly Dictionary<string, HttpClient> _httpClients;`

When calling the SendAsync with await the function does not work including the logging
`var response = await _httpClients[urlName].SendAsync(request);`

When calling the S

[2021-08-26 14:21] FiniteReality opened #601 "Make diagnosing input converter errors easier"
I'm currently getting a FunctionInputConverterException trying to deserialize JSON to a POCO:
[code]
From tracing through the code here, I've determined that to be caused by [JsonPocoConverter](https://github.com/Azure/azure-functions-dotnet-worker/blob/main/src/DotNetWorker.Core/Converters/JsonPocoConverter.cs) swallowing all serialization exceptions, meaning that I have no way of diagnosing what

[2021-08-26 22:37] dev-jla opened #602 "Log messages below level stated are still emitted in application insights"
"logLevel": {
      "Default": "Warning",
      "Microsoft": "Warning",
      "Function": "Warning"

      does nothing to stop messages of info debug to show up in app insights

[2021-08-27 01:22] cgillum opened #604 "Build errors resolving transitive dependencies from extensions"
### Context
I'm trying to prototype a Durable Functions extension that works with the .NET worker. My extension project (Worker.Extensions.DurableTask) defines some types that can be deserialized from the binding data. These types reference external assemblies, which are intended to be common types and common abstractions that can be used in Function code and non-Azure functions code (e.g. Microso

[2021-08-27 13:29] kimschurmann opened #605 "Could not load file or assembly 'Microsoft.Extensions.Configuration.Abstractions, Version=5.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'"
Hi

I have created an azure function on .net 5 and followed the current guide lines and it works as intended locally when running it. When I deploy it to my hosted azure function it fails to start and presents the following error message:

Could not load file or assembly 'Microsoft.Extensions.Configuration.Abstractions, Version=5.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'

I have set

[2021-08-30 06:48] McKabue opened #608 "Azure Function app targeting net5.0 (​`dotnet-isolated​`) doesn't work with `<FrameworkReference Include="Microsoft.AspNetCore.App" />`"
I noticed that when [Microsoft.AspNetCore.App](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/metapackage-app?view=aspnetcore-5.0) is specified, the Azure Function app targeting net5.0 (​`dotnet-isolated​`)  doesn't work.
`<FrameworkReference Include="Microsoft.AspNetCore.App" />` or `<PackageReference Include="Microsoft.AspNetCore.App" />`

However, after removing the meta-package and

[2021-08-30 08:08] Arjan321 opened #606 "Dependency Injection does not enable ValidateScopes for development environment"
Hi,

When using dependency injection, one can register a singleton that depends on a scoped service.

[code]

From AspNetCore, one assumes that this will throw an exception when used. [From the docs](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/web-host?view=aspnetcore-5.0#scope-validation):

However, this is not the case in the isolated functions.

One can work around it by manu

[2021-08-30 09:16] RikShoeby opened #607 "Async azure functions will be always succes and does not have extra deliveries."
With our current azure functions (.net core 5) we have had a big production problem. The azure functions stopped running at the 23-08 for days until we looked into the app and it was starting again. I still have to look into that. Lets focus on the first problem I found.

Luckily all messages where still on the "Dead-letter". We put them again on the "Active" list and the messages where processed.

[2021-08-30 09:31] RikShoeby commented on #600
@kshyju Of-course I can give more information.
Add the moment we also have big problems with the retry deliveries. I made a small repro for that:
https://github.com/Azure/azure-functions-dotnet-worker/issues/607

The logging from the ILogger did not show up in the logstream in the function app and not in the app insights.
For the IServiceCollection I did get an exceptions that the ServiceCollectio

[2021-08-30 11:32] Dinand01 commented on #556
Upon further investigation my issue is a missing runtime in the azure function image:
https://github.com/Azure/azure-functions-docker/blob/dev/host/3.0/buster/amd64/dotnet/dotnet-isolated/dotnet-isolated.Dockerfile

My project is not dependent upon Microsoft.AspNetCore.App directly but the runtimeconfig.json refers to that runtime:
`{
  "runtimeOptions": {
    "tfm": "net5.0",
    "framework": {

[2021-08-30 14:42] onionhammer commented on #579
According to Azure support, this is related to #7469

[2021-08-30 16:10] kshyju commented on #607
Looking at the signature of `Test.Test1-async` function method, I see a red flag. The `async void` !

You should use `async void` only if you are writing an async event handler. For normal use cases like yours, you should be using `async Task` or `async Task<T>`, if your method is doing some asynchronous work inside.

The incorrect usage of `async void` could be the cause of the behavior you are s

[2021-08-30 16:30] kshyju commented on #600
The `IHttpClientFactory` implementation efficiently handles the lifetime of `HttpMessageHandler`. So it is okay to dispose the httpclient you create using this factory. In my example, it will also dispose the `HttpResponseMessage` instance.

Please see the [official doc](https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-imp

[2021-08-30 18:10] balag0 commented on #579
@onionhammer Thanks for the update. The fix for the linked issue should be deployed now. Are you still seeing these issues?

[2021-08-30 18:31] onionhammer commented on #579
@balag0 Not actively, the larger issue here is having to convince azure support that there was an outage in the first place - none of your tooling indicated there was a regional outage

[2021-08-30 18:53] balag0 commented on #579
Got it. Looks like the issue was specific to the state of the function apps which are always tricky since it is not clear if there is an issue with the config or platform.

[2021-08-30 21:33] janos-laszlo commented on #556
Hi, here's how I got it working for me:
-in Program.cs I changed "host.Run()" to "await host.RunAsync()" and "void Main(..." to "async Task Main(..."
-updated the following packages to the versions bellow:
<PackageReference Include="Microsoft.Azure.Functions.Worker.Sdk" Version="1.0.4" OutputItemType="Analyzer" />
<PackageReference Include="Microsoft.Azure.Functions.Worker" Version="1.5.1" />
<Pac

[2021-08-31 02:40] #555 closed

[2021-08-31 10:42] roelofvdv opened #609 "Dependency correlation missing for dotnet-isolated functions"
This is my first contribution here, so apologies if this has already been asked and answered. I checked existing issues but could not find mine exactly.

I am running a couple of .net 5 (_dotnet-isolated_) functions with Application Insights added to them. I can see requests to my http triggered functions coming in to the livestream in the Azure Portal. So far so good.

Now, it is my understanding

[2021-08-31 19:15] RikShoeby commented on #607
Thanks for the response!

You are correct only use the async keyword if there is async work somewhere down the tree. In the real case that will be async call's on the HttpCliënt. For the reproduce scenario I created new functions with the outline of the production functions. And now you point to it, how stupid of us not to see that the async azure function has to return a task (just like all the r

[2021-08-31 19:18] RikShoeby commented on #607
With the next code I see retries on failure and logging when deployed. The logging does not work when debugging.
[code]

[2021-08-31 19:37] RikShoeby commented on #600
Thanks for the information, I will take a look into that and enable the mapper code again for the IServiceCollection. Then I will look into reproducing it again.

I have found a programming bug. We used async Task/ValueTask evereywere  (api's, services, controllers etc) except the azure functions. This seems to fix most of our problems.

Again I will take a look to the use of the IHttpClientFactor

[2021-08-31 19:41] RikShoeby commented on #607
With the example above I get some strange logging/app insights:
![image](https://user-images.githubusercontent.com/89585999/131565188-f79963ad-e0f2-4efe-8c7b-cffe3e0bf9ee.png)

I see 3 times the same failure as exception, that is a bit anoying.

It gets really a thing if you look into errors. Then you see 5 failed calls because of the 5 retries, then x3 in the RpcException.. Why is it there visibl

[2021-08-31 21:13] brettsam commented on #576
Great!

[2021-08-31 21:13] #576 closed

[2021-08-31 21:15] brettsam commented on #579
Closing as it looks like it is related to an issue in the host (https://github.com/Azure/azure-functions-host/pull/7469).

[2021-08-31 21:15] #579 closed

[2021-08-31 21:24] brettsam commented on #594
@ConnorMcMahon / @mkarmark -- any idea on this EasyAuth question?

[2021-08-31 21:29] brettsam commented on #595
@stackboss -- could you share your deployment config (can you get the yaml?) for this setup? We'll investigate whether dotnet-isolated needs any fixes here....

[2021-08-31 21:31] brettsam commented on #596
@HMoen -- can you share an repro for us? i.e. -- how are you making the request and what payload are you using?

[2021-08-31 21:38] brettsam commented on #601
The work to make `IConverter` public is under way (still requires a formal API review), but your comment about better exception logging is a good one.

[2021-08-31 21:39] brettsam commented on #602
@dev-jla -- are you adding this in host.json? Or in a separate appsettings.json file?

[2021-08-31 21:44] brettsam commented on #605
@kimschurmann -- If you could share your Function App name (either explicitly or [privately](https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately)), I can see if I find anything from the backend logs.

[2021-08-31 21:45] brettsam commented on #608
@McKabue -- is this Linux or Windows? On Linux I don't believe we include that shared package...

[2021-08-31 21:49] brettsam commented on #606
Good point -- we'll discuss whether it's possible to add this without it being considered a breaking change.

[2021-08-31 21:52] brettsam opened #610 "Add analyzer to catch usages of 'async void'"
Functions do not behave as expected when `async void` is used -- we need to catch this at build time and warn via an Analyzer.

[2021-08-31 21:53] brettsam commented on #607
I've spawned a separate issue here so we can track an improvement to the `async void` scenario -- https://github.com/Azure/azure-functions-dotnet-worker/issues/610.

[2021-08-31 21:54] dev-jla commented on #602
indeed it is, I have tried many variations allow/disallow patterns etc nothing worked

[2021-08-31 22:51] McKabue commented on #608
It is on Linux.

On Wed, Sep 1, 2021, 00:46 Brett Samblanet ***@***.***> wrote:

[2021-09-01 01:00] #570 closed

[2021-09-01 01:00] #567 closed

[2021-09-01 01:03] pgombar commented on #532
hi @RobBowman if your app is running on host version >= 3.1, this issue shouldn't appear anymore. the root cause for the language worker failing to start is sync triggers unable to update the blob hash. that fix got merged [here](https://github.com/Azure/azure-functions-host/pull/7469).

[2021-09-01 02:09] kshyju commented on #607
@RikShoeby When an unhandled exception happens, it is possible that the functions framework code(host) logs the error in multiple layers, causing more than one error log entry. You should be able to query these exception log entries in application insights for a single invocation and see the different dimensions/meta data present in each of those entries.  You [may control the logging](https://doc

[2021-09-01 09:54] Arjan321 commented on #606
Great :)

For sure non breaking would be to add the `options.ValidateScopes = context.HostingEnvironment.IsDevelopment()` to some of the samples available in this repo.

[2021-09-01 18:14] HMoen commented on #596
@brettsam , can't repro the exception in GrpcHttpRequestData.Identities anymore. I will add the SDK version next time; not sure if I have updated it since then.

Aside from the exception, can the AF core tools parse a bearer token into a ClaimsIdentity item in GrpcHttpRequestData.Identities as occurs with EasyAuth in Azure? The following assimilates this behavior, but is hacky:

![image](https://u

[2021-09-01 20:42] ianmccaul commented on #418
Is there a timeframe to get a fix for this? We rely heavily on App Configuration to set all the config values, this worked in prior function versions and is going to make it difficult to migrate to .net 5 and onward.

[2021-09-01 21:06] HMoen opened #611 "Restrict middleware execution to function type"
Is there a way to restrict middleware to just execute for certain types of functions? For example, only execute authentication middleware (add tenant and user ids to FunctionContext.Items, etc.) for inbound HTTP triggers. If not, what be the proper way to get the function type within the middleware to filter out the middleware's functionality? CosmosDB trigger would not need the authentication mid

[2021-09-02 04:35] kshyju opened #612 "Add support for wiring up custom IConverter implementations"
Add support for wiring up custom `IConverter` implementations. We currently ships 7 built-in converters to handle majority of parameter binding use cases. With this change, users will be able to write their own `IConverter` implementations as needed.

Currently `IConverter` is an internal type. We will expose this as public along with other related types to support this feature.

[2021-09-02 18:13] dolphinspired commented on #574
If you need a quick solution for this, I've created a brief tutorial for [how to implement an IFunctionContextAccessor](https://gist.github.com/dolphinspired/796d26ebe1237b78ee04a3bff0620ea0). It uses a singleton accessor with an AsyncLocal value holder (much like AspNetCore's [HttpContextAccessor](https://github.com/dotnet/aspnetcore/blob/main/src/Http/Http/src/HttpContextAccessor.cs)) in combina

[2021-09-02 20:27] ConnorMcMahon commented on #594
This is definitely something I am interested in, although changing claims is a breaking change, so this is why we have not made these changes yet.

It may be worth adding an option to our ARM config to allow the more "jwt" style claims, but it will likely not be the default experience for a long time.

[2021-09-02 20:33] HMoen commented on #594
@ConnorMcMahon , could these jwt style claims be also added to HttpRequestData.Identities alongside the url style ones for backwards compatibility?

[2021-09-02 21:02] brettsam commented on #591
Hi @Terricide -- I took a look at your logs and nothing jumped out at me as problematic from what I could see. I'd recommend filing a support ticket to see if we can do a deeper investigation with all of your details.

[2021-09-03 07:23] Hipster74 commented on #186
Any news regarding this?

Creating a dotnetisolated .NET 5.0 azure function with a ServiceBusTrigger, is it still true that I can't reference my local user-secrets store when filling in the connectionstring?

When running in Azure, KeyVault reference is good, but for running locally on my devmachine I want to reference the local connectionstring that I have set in user-secrets.

[2021-09-03 13:06] ianmccaul commented on #186
I agree, seems like quite the step back. Can't use app config either. To run locally this is a real problem.

[2021-09-03 13:51] RobBowman commented on #532
Hi @pgombar I've just browsed to function app\configuration\application settings in the Azure Portal. The FUNCTIONS_EXTENSION_VERSION is set to ~3. This means it's using the latest minor version of v3?

[2021-09-03 18:57] Socolin commented on #530
Same here, I'm waiting after this to improve errors message for our customers, be able to returns 401 / 403 with an error message can do a really big change from a generic 500.

[2021-09-03 22:50] anthonychu opened #613 "Print warning when AddJsonFile is called with "local.settings.json""
Is it possible to somehow warn if someone tries to load local.settings.json like this? Maybe an analyzer?

[code]

There's no reason to do this. Locally, Core Tools already loads the settings from that file into the environment. In Azure, we don't want customers using local.settings.json. They should be using App Settings.

[2021-09-03 23:03] SeanFeldman commented on #613
Thinking out loud here - since the Functions SDK provides the `config`, could it detect that one of the Configuration providers is `local.settings.json` and throw?

[2021-09-03 23:14] anthonychu commented on #575
Thanks @kinetiq. Yes it's too bad that PRs don't work for wikis. Can you please share where you're seeing the timer issue? I think I've addressed the others.

[2021-09-05 11:16] stap123 commented on #192
Is there currently any way to know that the function is being shutdown so we can do something to clean up etc?

[2021-09-06 22:02] kinetiq commented on #575
Hmm, I'm not sure what I was talking about there now. My wires may have been crossed, around that time I was definitely removing custom timer types I made and using the ones that come out of the box now.

I do feel that these demos would greatly benefit from having one with complexity somewhere between "string" and "custom type".

[2021-09-07 02:49] SteveWinward opened #614 "GitHub Action Documentation for Isolated Process"
Can we get some documentation for using GitHub Actions with the .NET 5 isolated process Azure Functions?  I’m struggling to figure out how to make my GitHub Action work after upgrading from .NET Core 3.1 to .NET 5.

[2021-09-07 13:19] FilonenkoDmitry opened #615 "Exceptions are not cought by custom TelemetryProcesor in AppInsights"
I'm trying to configure AppInsights for my Azure Function based on DotNet Worker. What I want to achieve is
1) to add some custom dimensions to logs
2) to not log exceptions in certain cases

In order to do this I configure AI with custom _TelemetryInitializer_ and  _TelemetryProcessor_. This works fine for traces and dependencies (i.e. custom dimensions are enriched with my custom key-value pairs

[2021-09-07 21:16] fabiocav opened #617 "Update extensions csproj generator to support Functions 4.0"
We need to update the generator to remove the dependency on .NET Core 3.1 in Functions 4.0 scenarios.

[2021-09-07 21:51] fabiocav commented on #594
@HMoen yes, that should be possible.

@ConnorMcMahon any concerns with that?

[2021-09-07 21:54] fabiocav commented on #609
@roelofvdv this is not currently supported, but we do have work planned to address the issue and enable the capability.

We'll keep this issue open to track and provide updates on the progress.

[2021-09-07 22:03] soninaren opened #618 "Net SDK (in-proc) and worker SDK (isolated) should throw an error when installed on the same csproj"
If the user installs https://www.nuget.org/packages/Microsoft.NET.Sdk.Functions/ and https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker.Sdk/ on the came csproj file the build process should throw a compile error

[2021-09-07 22:03] brettsam commented on #585
Hi @Ofer-Gal -- the `FunctionsStartup` class that we added for in-proc .NET functions is using the [.NET Core generic host](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/generic-host?view=aspnetcore-5.0) behind-the scenes.

You can use methods like `ConfigureAppConfiguration()` and `ConfigureServices()` on the `HostBuilder` in your `Program.cs` to do everything you can do (and mor

[2021-09-07 22:07] #611 closed

[2021-09-07 22:08] #585 closed

[2021-09-07 22:41] Ofer-Gal commented on #585
Got it! Thank you

[2021-09-08 07:02] rosidigital commented on #605
I ended up creating a new azure function and deploy my code to that and it worked.

[2021-09-08 07:05] kimschurmann commented on #605
I ended up creating a new azure function and deploy my code to that and i worked...

[2021-09-08 20:10] fabiocav opened #619 "Logging and diagnostics experience improvements"
Creating this issue to track the work to improve logging and diagnostics in the worker. The work will address issues like:

- Dependency tracking/distributed tracing
- Filtering/category mapping

We'll continue to update this with details and link to additional issues as we make progress here.

[2021-09-08 20:11] fabiocav commented on #609
Linking to the primary issue tracking the enhancements: https://github.com/Azure/azure-functions-dotnet-worker/issues/619

[2021-09-08 20:30] fabiocav commented on #591
Closing as answered. @Terricide please follow up using a support channel so we can take a look at this specific issue, but if you need any assistance, please let us know.

[2021-09-08 20:30] #591 closed

[2021-09-08 20:32] fabiocav commented on #519
Fixed by https://github.com/Azure/azure-functions-core-tools/pull/2687

[2021-09-08 20:32] #519 closed

[2021-09-08 20:56] fabiocav commented on #549
Related to #619

[2021-09-09 10:14] dvdgutzmann commented on #293
@fabiocav Given .Net 6 being only a couple of weeks away - when can we expect to be able to abandon or complete messages in an out-of-process function worker utilizing the ServiceBusTrigger input binding?

I would have liked to see a clear note in the documentation that standard scenarios are not supported at this time. So, we found out the hard way that we are blocked and now have to backtrack se

[2021-09-09 11:25] mnns opened #621 "Debug is not working on Queue triggered function (upgrading from .NET 3 to 5)"
I have tried following several upgrade guides (including the official one) but it didn't work out.
This function works perfectly on .NET 3.1 on Azure.

If I'm launching the .NET 5 function directly from VS 2019 I get this error:

[code]

Console says 'Host lock lease acquired by instance ID '000000000000000000000000CBC4F8F1'." but it seems that the function is not really running (Tested it by manu

[2021-09-09 19:19] joshmouch commented on #281
Is there any update on when this would be available?

[2021-09-10 14:35] scott-nordicwi commented on #556
Started seeing this issue last night on a dotnet-isolated function app. It appeared in multiple environments, including one that hasn't been touched in 10 days. We've attempted the above fixes in isolation with no success. the dotnet-isolated worker unavailable error persists and occurs inside our Main() method.

[2021-09-10 17:31] satvu commented on #466
The Cookies field is never populated in the host:

https://github.com/Azure/azure-functions-host/blob/4764c25d885cdfb1d84af3b80861b181ce658faa/src/WebJobs.Script.Grpc/MessageExtensions/GrpcMessageConversionExtensions.cs#L115`

Cookies are only passed through the headers, presumably to avoid duplicate data in the payload. We will be handling this bug on the worker side so it will only be a worker u

[2021-09-10 22:00] #600 closed

[2021-09-10 22:03] satvu commented on #533
@ak37165 did you mean 1.1.0 or 1.3.0? ([Official releases](https://github.com/Azure/azure-functions-dotnet-worker/releases))

I tried to repro the bug, but haven't been able to do so successfully with the Azure Functions Core Tools version you mentioned and latest version of the worker.

[2021-09-11 04:00] #595 closed

[2021-09-11 08:08] RichMercer opened #622 "CosmosDBTrigger Not Firing When TTL Set to null"
When creating a document I set the TTL on it so if the user doesn't complete their actions within a set time, it's deleted by the TTL policy. I also have a CosmosDBTrigger that fires and updates related documents when the document is updated.

However, when the user completes their actions I am setting the TTL to null to remove the TTL value but after updating the document, the CosmosDBTrigger doe

[2021-09-11 14:30] ak37165 commented on #533
I did have both 1.1.0 in one project and 1.2.0 in another (even though its not listed in official releases - see screenshot in Test 2 below) .
Also attaching sample large file (PDF).

**TEST 1. Client is PostMan, Server (localhost) running without HTTPS (API was executed using the Visual Studio Debug button)**
Uploading files up to 2MB works, but sending a large file such as 4.3MB (sample file att

[2021-09-12 12:13] SteveWinward commented on #614
I was able to get this working and just published a sample .NET Azure Function App and its associated GitHub Actions YAML file.  The repo can be found below,

https://github.com/SteveWinward/azure-functions-dotnet-5-sample/blob/main/README.md

[2021-09-12 12:13] #614 closed

[2021-09-12 19:50] razzkoirala commented on #540
Hello Smith,

Can you share your azure function code in git? Please share your working code.
I am very new to azure functions and service bus and I am struggling to figure out how Azure function will be triggered by Service Bus Queue and pick up the batch message.

[2021-09-13 09:53] Dinand01 commented on #556
Creating a custom image like @janos-laszlo suggested worked for me, thank you for the info 👍

In addition to his answer you need to make sure the docker repo app settings are set when you are hosting the docker image on a private ACR (The ACRPull permission with a managed identity doesn't seem to work): `DOCKER_REGISTRY_SERVER_URL, DOCKER_REGISTRY_SERVER_USERNAME, DOCKER_REGISTRY_SERVER_PASSWORD`

[2021-09-13 18:37] anthonychu opened #623 "Add extension package for Cosmos DB v4"
/cc @jcocchi @mattchenderson

[2021-09-13 18:42] BrandonSchreck commented on #530
A bit hacky, but I was able to achieve this by setting up a couple extensions methods and a class that inherited from IFunctionsWorkerMiddleware:

[code]

[code]

[2021-09-13 18:44] BrandonSchreck commented on #340
It's a bit hacky until these

https://github.com/Azure/azure-functions-dotnet-worker/issues/530#issuecomment-918473952

[2021-09-13 18:58] sethwenzel commented on #623
I am experimenting with .net 6.0 isolated function apps and "secret-less" cosmosdb -- i received an error with the 4.0.0-preview2  of Microsoft.Azure.WebJobs.Extensions.CosmosDB -- I assume this issue relates to those features (using MSI/AAD with isolated function apps and comsosdb)?

[2021-09-14 13:37] jeroenbeuz commented on #384
Hi there,

In our case we need to re-send the incoming message after some validation has been done. With this new setup that can't be done because it requires the metadata of the message to be there, like the message label. I am just not able to go from the string to a Message object that is equal to the message that was originally sent.

I really hope we can go back to thet .Net Core 3 version of

[2021-09-14 19:15] jairzjunior commented on #566
Hi guys, any updates about that?

[2021-09-14 21:15] fabiocav commented on #613
@SeanFeldman we could.

@anthonychu is the main concern here cases where customers may be unknowingly loading development settings when running in prod?

[2021-09-14 21:21] fabiocav commented on #621
@mnns can you please do the following:
 - Remove the reference to `Microsoft.Azure.WebJobs.Extensions.Storage`
 - Remove the call to debugger launch
 - If the issue persists
   - Provide a link to a repo containing a repro

[2021-09-14 21:23] fabiocav commented on #622
@ealsur any thoughts on this behavior?

[2021-09-14 21:29] fabiocav commented on #623
@sethwenzel the packages used by the worker follow the name/ID convention of `Microsoft.Azure.Functions.Worker.Extensions.*`. The 4.0.0 preview2 extension for Cosmos is not currently available for the worker at this point.

We'll be using this issue to track the work to bring that version to the worker.

[2021-09-14 21:31] fabiocav commented on #538
Closing this as answered, but please let us know if you have any additional questions

[2021-09-14 21:31] #538 closed

[2021-09-14 21:33] fabiocav commented on #540
Closing this as answered.

@razzkoirala if you have questions or issues, please feel free to open a new issue with the details and we can follow up there.

[2021-09-14 21:33] #540 closed

[2021-09-14 21:41] fabiocav commented on #596
@HMoen there are some scenarios that will handle different token types for you (in the host, not Core Tools), like JWTs and SWTs ,  but that doesn't support the same set of features as what Easy Auth provides. We're currently tracking local development scenarios for Easy Auth, so that is something we expect to support in the future

[2021-09-14 21:44] fabiocav commented on #605
Thanks for the update. Closing as resolved.

[2021-09-14 21:44] #605 closed

[2021-09-14 21:48] fabiocav commented on #608
This is currently a known issue and we're actively working on this for Linux. In the meantime, the workaround you're using or running on Windows are viable options for now.

[2021-09-14 22:01] #607 closed

[2021-09-15 03:38] SeanFeldman commented on #384
You are better off upgrading to .NET 6 (October) and staying with in-proc SDK as you won't be able to use SDK types with the new Isolated Worker Functions SDK at this point in time.

[2021-09-15 13:10] HMoen commented on #596
@fabiocav thanks, will keep an eye out for it.

[2021-09-15 13:10] #596 closed

[2021-09-15 14:03] ealsur commented on #622
@RichMercer `null` is not a valid TTL value, are you sure the request to set it to that value is succeeding? `ttl` can only be set to `-1`, a positive integer, or the property removed from the document altogether.

[2021-09-15 15:54] RichMercer commented on #622
I'm struggling to reproduce this at the moment so perhaps best to close this for now. On your question about null not being a valid value though, I should mention that I'm setting it to null via the SDK which removes the value due to the JsonProperty attribute being set to `NullValueHandling = NullValueHandling.Ignore`.

[2021-09-15 16:04] ealsur commented on #622
I created this small project, it has a function that creates a doc every 30 seconds and then the trigger.

The trigger receives the first event (creation, has no ttl), then sets the ttl, then removes the ttl, all events are traced:

[code]

[code]

[2021-09-15 17:37] rich-mond opened #624 "Azure Function succeeded prematurely preventing subsequent logging output"
I am observing an Azure Function (queue triggered async .NET 5 isolated) reporting a success state **before** the function has fully executed; any subsequent calls to add to the log (such as LogInformation) fail to produce any output to the console/log stream/app insights/filesystem log.

Theres a predictable point where this occurs, the Function calls an async private method (making a call to sql

[2021-09-15 17:50] rich-mond commented on #511
So this is a known issue that will be resolved?

[2021-09-15 18:17] Matthewsre commented on #423
This has been a pretty big pain point for my team after migrating to dotnet-isolated so we could use .net 5. None of our expected customDimensions have been showing up so we have switched to including the dictionary values passing into the message instead so we can at least see what is going on. This breaks all of our aggregations in application insights for alerts and reporting.

Any suggestions

[2021-09-15 20:10] fabiocav commented on #612
This is currently in progress. Design is being reviewed and implementation will likely start in Sprint 111

[2021-09-15 20:18] fabiocav commented on #556
@pragnagopa is it possible this was related to an issues with the images not correctly published? I think at this point, we're just trying to RCA.

[2021-09-15 20:19] fabiocav commented on #533
@satvu is investigating this issue. Moving to spring 110 while the investigation is in progress.

[2021-09-15 20:23] fabiocav commented on #466
The root cause is now clear. Moving this to 110 for implementation.

[2021-09-15 20:25] fabiocav commented on #149
Tracking this as part of #612

[2021-09-15 20:36] fabiocav commented on #517
Moving this to 110 for completion

[2021-09-15 21:00] pragnagopa commented on #556
For linux function apps - ensure `linuxFxVersion` site config property is set correctly as well - please see https://github.com/Azure/azure-functions-ux/blob/dev/server/src/stacks/2020-10-01/stacks/function-app-stacks/Dotnet.ts#L107 for the correct value for dotnet-isolated apps

@fabiocav - we will be able to confirm from the logs which image app was trying to use. Please reach out offline if you

[2021-09-16 04:09] kshyju commented on #624
How are you determining this ? by seeing the removal of the message from the queue?

You should be able to mix and match multiple log statements and calling other private asynchronous methods inside a function. Here is a quick working example.

    [Function("Function1")]
    public async Task Run([QueueTrigger("myqueue-items", Connection = "MyConnStringSettingName")] string myQueueItem,
        F

[2021-09-16 08:26] romeshniriella commented on #556
anyone struggling to find why on node runtime, following config values fixed the issue for me:
[code]

[2021-09-16 14:48] dvdgutzmann opened #625 "Azure Function running .NET 5 (dotnet-isolated) can't connect to blob storage using user-assigned managed identity"
Hi *

We are running a dotnet-isolated  .NET 5 windows function app with latest dependencies (no prereleases). When utilizing system assigned managed identity (via ` new DefaultAzureCredential()`) to connect to a storage account everything works great and the app is able to download a blob. However, when switching to a user-assigned managed identity the app throws exceptions ("ManagedIdentityCrede

[2021-09-16 15:44] dvdgutzmann commented on #624
@rich-mond you might want to check your method signature and make sure it is `async Task` not `async void`. We were seeing the very problems you describe before fixing the return type.

[2021-09-16 15:53] rich-mond commented on #624
That will be it, thanks @dvdgutzmann

[2021-09-16 15:57] #624 closed

[2021-09-16 17:06] mmaitre314 opened #626 "How to control function invocation status in middleware?"
Following guidance in #530 , I am using reflection in a dotnet-isolated middleware to control the content of `HttpResponseData` when functions throw. This result in the function invocation status always being `Succeeded` even when the function invocation failed (HTTP 500 server error). How can I control the function status in my middleware?

- Repro functions (first one simulates a client error, s

[2021-09-16 18:30] BrianVallelunga commented on #625
Are you specifying the `ManagedUserClientIdentity` like the following?

    var options = new DefaultAzureCredentialOptions { ManagedIdentityClientId = "CLIENT ID FROM ENVIRONMENT" };
    var credentials = new DefaultAzureCredential(options);

[2021-09-16 19:20] pragnagopa commented on #556
Please note - `WEBSITE_NODE_DEFAULT_VERSION` only applies to function apps running on Windows Platform

[2021-09-17 08:03] dvdgutzmann commented on #625
Initially the code was
[code]

However, with this

the error I get is different:

DefaultAzureCredential failed to retrieve a token from the included credentials.- EnvironmentCredential authentication unavailable. Environment variables are not fully configured.- **ManagedIdentityCredential authentication unavailable. No Managed Identity endpoint found.**- Visual Studio Token provider can't be acce

[2021-09-17 13:24] eluchsinger commented on #370
Would be nice to have an update here @fabiocav.

[2021-09-17 20:31] Socolin commented on #602
Hello,

We encounters the same problem, the logging is done in the host and not the worker so we have no control over it (I cannot inject a TelemetryProcessor to filter them manually)

The host is logging a lot of useless stuff and this is flooding or logs and costing us too much money for nothing.

[2021-09-18 21:03] dvdgutzmann commented on #625
OK, this is kind of weird - today it works flawlessly without any code change. I'm closing this issue for now.

[2021-09-18 21:03] #625 closed

[2021-09-18 23:01] agutierrezcu commented on #383
Hi @brettsam, any update on this?🙏
Thanks in advanced!

[2021-09-20 06:09] alavudeenb opened #627 ".Net 5 TimerTrigger is intermittently throwing exception"
I have a .net 5 function app which has totally three functions.  2 Http functions , 1 TimerTrigger function.

There are two issues
1)
All three function points to same class which has static method to generate bearer token

[code]

but only TimerTrigger throws below error

[code]

2)
Intermittently TimerTrigger throws below exception then it auto recovers from exception

[code]

[2021-09-20 07:14] eluchsinger opened #628 "Pooling Connections Host thresholds exceeded: Connections"
We have been running Azure Functions with .NET 5 and in isolated mode. The function works as an integration service and thus calls many other API's frequently.

Now the function runs into a `Host thresholds exceeded: Connections` error.

The thing is that we are pooling the connections using the `HttpClientFactory`, which is [registered over DI](https://github.com/eluchsinger/azure-functions-out-o

[2021-09-20 16:32] kzryzstof commented on #629
@dcadlereii Aren't you missing the `Bind` call?

[code]

[2021-09-20 18:25] gorano79 opened #630 "How to get the blob container in the BlobTrigger?"
I netcore 3.1 you could get the CloudBlobContainer and CloudBlockBlob by:

public async Task Run(
[BlobTrigger("container-name/{name}")] CloudBlockBlob myBlob,
[Blob("container-name")] CloudBlobContainer container)

How can you do that in Net5.0?

[2021-09-20 20:11] bgribaudo opened #631 "Isolated Process Interface ""

[2021-09-20 20:17] bgribaudo opened #632 "Isolated Process Interface Spec"
Thank you for making isolated process Azure Functions/.Net 5 support possible!

Is there formal or informal documentation out there describing the interface between the Azure Functions host process and an isolated process?

Normally, setting up the isolated process with the correct interface mechanisms is handled automatically by the SDK (nice!)--but let's imagine that I wanted to implement my own

[2021-09-20 20:21] david-peden-q2 opened #633 "What is the Azure Functions Team's Plan with regards to .NET 6?"
I saw a reference to Azure Functions 4.0 in [another issue](https://github.com/Azure/azure-functions-dotnet-worker/issues/617). Will AF 4.0 coincide with .NET 6? If so, where does that leave the .NET 5.0 work present in this repo?

[2021-09-20 21:32] SeanFeldman commented on #633
Unless the [roadmap](https://techcommunity.microsoft.com/t5/apps-on-azure/net-on-azure-functions-roadmap/ba-p/2197916) published a while ago has changed, I believe that was the plan.

[2021-09-20 22:57] wdorsett84 commented on #556
@Dinand01 Would you be able to share the image you used? I tried a custom image but now the Function throws an initialization timeout and the host shuts down with no additional errors.

[2021-09-21 01:48] Dinand01 commented on #556
Hi @wdorsett84, my current docker file looks like this. I had the same problem until I added  the entrypoint:

`FROM mcr.microsoft.com/azure-functions/dotnet-isolated:3.0-dotnet-isolated5.0 AS base
COPY --from=mcr.microsoft.com/dotnet/aspnet:5.0 /usr/share/dotnet /usr/share/dotnet
WORKDIR /home/site/wwwroot
EXPOSE 80

FROM mcr.microsoft.com/dotnet/runtime:3.1 as runtime3_1
FROM mcr.microsoft.com/d

[2021-09-21 10:05] eluchsinger commented on #628
I have added a second minimal reproduction to the repo. This time it is an in-process .NET Core 3.1 Function displaying the same behavior.

@brettsam for my project this behavior is a show-stopper. Hope to see a solution, workaround or at least a status update on this one soon. Please let me know if I can further assist somehow.

[2021-09-21 21:16] ct-haig commented on #534
@shareonline's workaround worked for me for a short while, but it led me to realize something:

Once the function gets to that `IsPastDue` state, I can reliably get it working again by changing the `TimerTrigger`'s `schedule` argument -- ie, if I change `"0 */5 * * * *"` to `"0 */4 * * * *"`. When it gets stuck again, I just change it back and it begins working again.

I don't know enough about th

[2021-09-21 21:18] fabiocav commented on #613
We'll leave this open to track adding a analyzer, but this is low priority at the moment.

[2021-09-21 21:23] fabiocav commented on #629
This will be consistent with configuration usage in .NET/ASP.NET, so this documentation should help:https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-5.0

Please let us know if you need any additional information.

[2021-09-21 21:23] #629 closed

[2021-09-21 21:33] fabiocav commented on #626
@mmaitre314 it would be good to better understand your goal here; when a function throws, the result will be automatically set to a 500, but setting the HTTP status to a 500 range response does not indicate an invocation failure/function failure (e.g. a function can execute successfully and indicate to the client that there was a server side error by setting the status code).

In your case above,

[2021-09-21 21:36] brettsam commented on #627
It seems like the clientId is missing, then?

What exactly does this line do? It seems that the clientId isn't set at the point that you're calling this during timer invocation -- when does that get set?

[code]

[2021-09-21 21:52] fabiocav commented on #631
Closing as duplicate of #632

[2021-09-21 21:52] #631 closed

[2021-09-21 21:54] fabiocav commented on #632
@bgribaudo we don't have public documentation on how to write your own worker, but we do have a public feature to support something similar: https://docs.microsoft.com/en-us/azure/azure-functions/functions-custom-handlers

[2021-09-21 21:54] #632 closed

[2021-09-21 21:59] anthonychu commented on #633
Yes. Public preview for v4 will be announced very very soon. It'll have preview support for .NET 6. You have the option of both in-process and isolated process for .NET 6 on v4.

V4 is expected to be GA at the same time as .NET 6 LTS GA.

The isolated model provided by the SDK in this repo can be used with .NET 5 (in v3) and .NET 6 (v4). It'll also be the path forward for .NET 7 and beyond.

[2021-09-21 23:29] chadwillson commented on #534
@shareonline thanks so much for the work around. We do need this updated. This is preventing our conversion to .net 5 from moving to production. Please escalate this update. It is un-usable without it.

[2021-09-21 23:56] ct-haig commented on #534
@chadwilson - I had assumed this would work in production. Is your experience that this doesn't work when deployed to Azure, either?

[2021-09-22 01:00] #621 closed

[2021-09-22 05:59] alavudeenb commented on #627
Thanks @brettsam for helping me here.

var clientId = AppsettingConfigurationManager.Get(Constant.UserManagedIdentityClientId);

this line basically returns usermanaged identity clientid from appsetting.

any idea about point number 2 ?

[2021-09-22 06:19] FilonenkoDmitry commented on #615
Hello! Any chance that anyone has seen it? Any feedback?

[2021-09-22 08:32] nbgyxi commented on #534
I have the same issue in development, but it works fine for me in production. I am pretty sure it is an issue related to the tooling on the local development machine.

[2021-09-22 08:36] smkanadl commented on #534
I am pretty sure that it happend to me in production this morning (literally 10 seconds after I red your comment)

[2021-09-22 08:44] nbgyxi commented on #534
@smkanadl How do you know? One way is to wait for the next planned invocation to be sure. Or did something get logged about it? Because in dev, nothing gets logged when this issue occurs, that's why I think waiting for the next invocation is probably the only way to be sure.

[2021-09-22 08:56] smkanadl commented on #534
@nbgyxi I cannot prove it, but after a deployment, the function was simply not running/stuck and all requests ended up with an nginx 404. I removed the timer, did a new deployment and everything was back to normal.

[2021-09-22 09:00] nbgyxi commented on #534
@smkanadl Wow, yes that does sound very much like this issue can occur in production as well. Scary stuff. It could happen at any restart, for example when deploying code.

[2021-09-22 09:08] smkanadl commented on #534
@nbgyxi yes, scared me too as I thought it's a "local only" thing. For my current project, I can work without a timer, but for the next project, I'll have to use a timer. I planned to use the isolated worker stuff there too, but this experience let me second guessing...

[2021-09-22 09:12] nbgyxi commented on #534
@brettsam I think we need to know if you intend to fix this critical production issue in .NET 5 or whether we should wait for .NET 6 before we dare depend on TimerTriggers?

I think it is fair to categorize it as critical as it can happen on any deployment if the timing is right (wrong) and it causes the entire application to become unresponsive. However, on the other hand, it is pretty rare. You

[2021-09-22 09:29] eluchsinger commented on #628
Hi @fabiocav I am already a step further. @brettsam was so quick to answer that he already [gave me a hint in 2017](https://github.com/Azure/azure-functions-host/issues/2085).

Apparently the host already sets the `ServicePointManager.DefaultConnectionLimit` limit, but that's for the old .NET Framework. I had to set the `MaxConnectionsPerServer` of the `SocketsHttpHandler` ([custom registered in t

[2021-09-22 12:53] bgribaudo commented on #631
Oops! Must have accidentally submitted this. My apologies.

[2021-09-22 13:09] bgribaudo commented on #632
@fabiocav, thank you! The linked article is very interesting.

[2021-09-22 13:46] craigomatic commented on #287
This still seems to be an issue in the Azure portal, in my case I'm trying to bind an event from Azure Media Services to my isolated process function and the function trigger that I'm expecting to see for EventGrid does not show up:

![image](https://user-images.githubusercontent.com/146438/134355543-347fbf89-4223-4ae5-95a2-d39b62b72bc1.png)

[2021-09-22 14:28] chadwilson commented on #534
FYI, you are looking for chadwillson (2 L's), I am chadwilson (1 L)

[2021-09-22 14:33] ct-haig commented on #534
My bad! I appreciate the correction.
________________________________
From: Chad Wilson ***@***.***>
Sent: Wednesday, September 22, 2021 10:28 AM
To: Azure/azure-functions-dotnet-worker ***@***.***>
Cc: Haig Didizian ***@***.***>; Manual ***@***.***>
Subject: Re: [Azure/azure-functions-dotnet-worker] [BUG] UnscheduledInvocationReason: IsPastDue and process does not restart (#534)

@chadwilson<http

[2021-09-22 14:43] brettsam commented on #627
How exactly does it do that?
- Does it use `IConfiguration`?
- Does it look up the environment variable directly?

If the issue is that this `clientId` is null -- then something must not be initialized correctly when this fails, and knowing exactly what this does can help figure that out. Can you verify that this is the case (the error you shared seems to indicate that...)?

Are you able to create

[2021-09-22 15:32] david-peden-q2 commented on #633
Awesome, thank you.

[2021-09-22 15:54] peterlentine opened #634 "RequestTelemetry not being passed to registered ITelemetryProcessor"
**Overview**
I would like to filter RequestTelemetry using an implementation of ITelemetryProcessor with Azure Functions .NET 5. There seems to be a bug preventing RequestTelemetry from being passed to registered TelemetryProcessors. The `HealthProbeTelemetryProcessor` below does not receive RequestTelemetry while it does receive MetricTelemetry and DependencyTelemetry.

**Sample code**
Program.cs

[2021-09-22 17:36] NicolaiOksen opened #635 "Getting error NU1102: Unable to find package Microsoft.NETCore.Targets with version (>= 3.0.0) on WorkerExtensions.csproj"
Hi,

I'm trying to get a base .NET5 Azure Functions project running, but I'm hitting the errors below when running `func start`:

[code]

This is on a newly created project, with a single `HttpTrigger`-function.

CSPROJ file:
[code]

Output from `dotnet --list-sdks`
[code]

I've tried adding a `global.json` file to force dotnet version `5.0.301`, but no change.

I cannot figure what I'm doing wron

[2021-09-22 18:53] BrandonSchreck commented on #567
Locally, yes I have .NET 5 (5.0.401) installed.

If I publish the Azure Function directly from Visual Studio to Azure (Build -> Publish AzureFunction) the functions works correctly. However, if we build through Azure DevOps CI/CD pipeline, it doesn't work. While the deploy/publish is successful it throws an exception when trying to call the Azure Function (System.IO.FileLoadException: Could not lo

[2021-09-22 20:23] fabiocav commented on #622
Closing as no-repro. Please let us know if you need any additional help.

Thanks for the assistance here, @ealsur

[2021-09-22 20:23] #622 closed

[2021-09-22 21:21] chadwillson commented on #534
I know our timer will fire before a restart would complete, stopping the entire project which has multiple functions. What is the process to get clarity on general timing, so that I can report upline why we have not promoted our conversion. I hope this works in .net 6.

[2021-09-23 13:35] mikewop commented on #434
Running into the same issue here. Azure Function app in Visual studio 16.11.2 with .Net5 gets the "Starting worker process failed" when trying to debug the next day or after the scheduled event is past due.
Workaround as mentioned (@cgronseth) is to change the cron schedule slightly.
Is there any ETA on a fix?

[2021-09-23 14:45] extragen commented on #534
When I migrated to .net 5.0 I had registration of `ApplicationInsights` and the timer trigger didn't work for me. The trigger became work when I removed `s.AddApplicationInsightsTelemetry();`.

[code]

[2021-09-23 23:03] satvu commented on #533
Thanks for the detailed info! This bug was fixed in [1.3.0](https://github.com/Azure/azure-functions-dotnet-worker/releases/tag/1.3.0) ([see bug fix here](https://github.com/Azure/azure-functions-dotnet-worker/commit/704de76b5693bc24bdf6a9836ba8a109517c6a41)).

Version 1.2.0 is mistakenly not tagged, so it did not appear on our repository's page of official releases. I believe [this is the commit

[2021-09-23 23:03] #533 closed

[2021-09-24 06:49] oyvost commented on #534
Currently a workaround is to start the function app from the cli:

func host start --dotnet-isolated-debug

and attach the debugger to the process id.

This is documented here:
https://github.com/Azure/azure-functions-dotnet-worker

[2021-09-24 12:35] christianarg commented on #374
I'm having the exact same problem with PatchAsync

Aspnet5 Web application executes:

`httpClient.PatchAsync("",JsonContent.Create(data)`

On the Net5 function I recieve a NullStream in the HttpRequestData.Body property

using @waynedavisactivu workarround works correctly

[2021-09-24 12:56] jsquire opened #637 "How to Detect an Anonymous Request"
# Issue Transfer

This issue has been transferred from the Azure SDK for .NET, [#24204](https://github.com/Azure/azure-sdk-for-net/issues/24204).

### Please be aware that @rjarrattmsft is the author of the original issue and include them for any questions or replies.

## Details

I tested a function using Postman where I did not include any kind of Authorization header. When I request.Identities.

[2021-09-24 12:57] jsquire commented on #637
### Comment from @rjarrattmsft:

In the debugger I can see that _httpData in GrpcHttpRequestData is as follows:
[code]
so the code is getting a null reference on id.AuthenticationType.Value.

[2021-09-24 13:00] jsquire opened #638 "Why Multiple Identities?"
# Issue Transfer

This issue has been transferred from the Azure SDK for .NET, [#24204](https://github.com/Azure/azure-sdk-for-net/issues/24204).

### Please be aware that @rjarrattmsft is the author of the original issue and include them for any questions or replies.

## Details

Under what circumstances could there be more than one identity?

---
#### Document Details

⚠ *Do not edit this sectio

[2021-09-24 14:25] mmaitre314 commented on #626
The goal is to control the content of the HTTP response returned when an invocation fails so it is more actionable. This includes adding things like correlation headers, or content of exception. Adding that extra info should not change the fact that the invocation did fail and should be logged as such.

[2021-09-24 15:43] josmithua commented on #561
@david-peden-q2 I'm still not sure how to access the ClaimsPrincipal from the function..

[2021-09-24 18:44] david-peden-q2 commented on #561
@josmithua You can follow @dolphinspired's [post](https://github.com/Azure/azure-functions-dotnet-worker/issues/574#issuecomment-911938184) and replace `FunctionContext` with `ClaimsPrincipal`.

[2021-09-25 13:23] PoyaManouchehri opened #640 "Grpc error with .NET 5 Function on Linux with VNet Integration"
I'm running into an issue that was reported a little while ago but closed without a resolution:

https://github.com/Azure/azure-functions-dotnet-worker/issues/518

The stack is nearly identical:

[code]

As the title suggests, the issue happens on a Linux service plan with VNet Integration enabled. I know there was a suggestion to use a Windows ASP, but the cost of running a dedicated ASP for this

[2021-09-25 14:29] FlavioSpedaletti commented on #434
The workaround for me was to clear the blob service in the AzureStorageEmulator.exe, but still waiting for a definitely solution.

![clear blob](https://user-images.githubusercontent.com/6178035/134774980-d94dfcc5-db7a-4cb6-90d3-b70d897e5de7.PNG)

[2021-09-27 02:52] dchecks commented on #323
Hey @fabiocav, can you leave a link to the source for the validation

[2021-09-27 17:55] kshyju commented on #630
Sorry! As of today, we do not have this capability in .net out-of-process model. But, we are working on enahnacing input conversion feature to be more flexible and that will allow us to build features like what you are looking for.  Will share the progress of that work to #612. Please stay tuned.

[2021-09-28 07:18] alavudeenb commented on #627
@brettsam Thanks for your help.

    Nope. it uses Environment.GetEnvironmentVariable("variableName")

After using IConfiguration "RunAs=App;AppId= " issue didn't happened.

[2021-09-28 09:13] eddiemon opened #645 "Large request body stalls request"
*Description*
When the request body is somewhere in the range 2-3 MB, it becomes impossible to send the request, the function never finishes. In fact, the function code never starts, it seems like it's func.exe that is still executing. This limitation is not found for in-process dotnet functions.

*How to reproduce*
1. Create a new Azure Functions (out-of-process) from template
2. Run project and

[2021-09-28 09:23] eddiemon commented on #645
It also seems like after the first large request, the function app doesn't respond to anything. Meaning someone can deny access to the full function app by sending a large request body with just garbage data.

[2021-09-28 09:29] eddiemon commented on #645
I have confirmed that this problem appears not only using func.exe locally, but also in deployed state in Azure. I have to restart the function app to get it to work again.

[2021-09-28 12:14] rmourato commented on #434
I'm suffering the same problem in VS2019 v16.11.3 running my .NET 5 isolated function, whether I run against the Azure Storage Emulator or Azurite.

Managed to work around it using VSCode with the latest version of the Azure Functions Core Tools (3.0.3734). This lets me debug the function just fine and, so far, has never hung.
Not the ideal experience but gets things going until this is resolved.

[2021-09-28 13:45] michel-weber commented on #311
@fabiocav With VS 16.11.3 & VS 17.0.0 Preview 4.1, debugging (F5) does not work if a TimerTrigger is used and RunOnStartup=true or if the timer trigger is past due. Please fix.

[2021-09-28 16:08] lacour-a opened #646 "[ServiceBus 5.0.0-beta.4] Unable to configure binding of type 'ServiceBus'"
Hello,

I'm trying to use a Service Bus Queue as an output binding for my isolated Azure Function (v3).
I'm using .NET 5.0 and the ServiceBus 5.0.0-beta.4 that allows me to use managed identities instead of connection strings with secrets.

[code]

When I start this, I get this error in the console and the AF won't start:
[code]

If I switch back to the ServiceBus package 4.2.1, with a regular con

[2021-09-28 17:15] craigomatic commented on #534
Adding to the list of people who are able to repro - seeing this both locally in VS2019 and deployed to Azure (Windows, isolated consumption function)

[2021-09-28 17:24] shareonline commented on #534
Honestly this really needs to be fixed.. But I have to say that my workaround still works okay. Sometimes I hit the timer wrong, but then I just stop the debug, wait for 5 seconds and start it again.. Using it daily since, and for me that works..

[2021-09-28 20:12] acranefei opened #647 "Exception binding parameter 'myBlob' The operation was canceled."
Hello,

I'm having the following issue when using blob trigger on function app using dotnet isolated app. It seems to happen when I'm trying to process large files. (~500MB ->1G).

Exception binding parameter 'myBlob' The operation was canceled. The operation was canceled. Unable to read data from the transport connection: The I/O operation has been aborted because of either a thread exit or an ap

[2021-09-29 10:38] furier opened #648 "ccccccjgkvirnbuifirhgbefukifkrikndicrctuubck"

[2021-09-29 10:38] #648 closed

[2021-09-29 13:55] khebul opened #649 "Scaling out does not seem to trigger"
Hi,

A few weeks back we have migrated .NET Core 3.1 Azure Function App to dotnet-isolated worker, running on Consumption plan. During low load periods, everything runs as expected. However, during peak periods there are problems.

In those periods HTTP triggers constantly time out, I can see messages like this in the logs: ```Timeout value of 00:05:00 was exceeded by function: <FunctionName> ```,

[2021-09-29 14:13] craigomatic commented on #534
I couldn't get that workaround to work for me so I ended up creating another function app (olden days, in-process style) just for the timer trigger.

[2021-09-29 18:18] #617 closed

[2021-09-29 18:32] MarGraz commented on #459
@fabiocav **I have the same problem, I'm using the ".NET 5 isolated functions", "Azure Functions Core Tools v. 3"**, and `Microsoft.Azure.Functions.Worker.Extensions.Storage` v. 4.0.4. I have added the `ETag` column and I have set it to `*`, but I can't update the Table Storage row, I get the error:

[code]

I saw that there's a preview of `Microsoft.Azure.Functions.Worker.Extensions.Storage` **v

[2021-09-29 20:15] fabiocav commented on #612
Work in progress, pending additional reviews. Moving to sprint 111

[2021-09-29 20:23] fabiocav commented on #149
Closing this in favor of #612, which covers this as well.

[2021-09-29 20:23] #149 closed

[2021-09-29 21:54] #517 closed

[2021-09-29 22:54] NoahStahl commented on #534
Also seeing this hang occur when `TimerTrigger` used in a .NET 5 isolated project and latest VS 2019. It's unfortunate that nobody from Microsoft has seen fit to chime in here and communicate anything about it.

In any case, as mentioned in previous comments, I found I could set `UseMonitor = false` in the trigger parameters and  [invoke the function manually through postman](https://docs.microsof

[2021-09-29 23:46] #610 closed

[2021-09-30 07:12] aistvan commented on #459
@fabiocav 2 months has been passed. Any chance to address this issue?

[2021-09-30 10:00] rjarrattmsft commented on #637
Is there any response to this. Have I found a bug? How do we check the authorisation in a Function that is HTTP-triggered when using AAD identities?

[2021-09-30 13:19] MarGraz commented on #404
@brettsam Same problem here.

I'm using the ".NET 5 isolated functions", "Azure Functions Core Tools v. 3", and `Microsoft.Azure.Functions.Worker.Extensions.Storage` v. 4.0.4. I have added the `ETag` column and I have set it to `*`, but I can't update the Table Storage row, I get the error:

[code]

Can we update or delete row using function bindings?

[2021-09-30 16:45] timritzer commented on #434
Can confirm that a past due timer interval also causes debugging to hang when trying to use the direct from VS launch option. Very annoying, causes the development experience for our team to be a mess.

[2021-10-01 06:19] rjarrattmsft commented on #637
Not sure I made it clear in my initial request that I am using .NET 5 and that the problem occurred when running the function locally on my development computer. I hope that helps.

[2021-10-01 09:50] FredyFLU opened #652 "Build error CS0246: The type or namespace name 'IHttpResponderService' could not be found"
In .NET 5 Program.Main(), this part of code does not compile, I've been searching for hours:
[...]
                .ConfigureServices(services =>
                {
                    services.AddSingleton<**IHttpResponderService**, **DefaultHttpResponderService**>();
                })
[...]

IHttpResponderService and DefaultHttpResponderService are not resolved and I don't wich reference is to b

[2021-10-01 18:00] kshyju commented on #652
@FredyFLU

Why do you have that line in your code ?

If your function app code is not using `IHttpResponderService` anywhere, simply remove that line `services.AddSingleton<IHttpResponderService, DefaultHttpResponderService>();` and that should fix your compilation error.

If your function code is using `IHttpResponderService`, you need to define those types yourself. Please refer our [sample app]

[2021-10-01 21:10] #466 closed

[2021-10-03 00:32] FahaoTang opened #743 "Debug Azure Functions V4 with .NET 5/6 in Visual Studio 2022 Preview"
Hi team,
I have created a function app using .NET 5 or .NET 6 in VS2022.
However, when I tried to debug, I hit the following error:
[Port 7071 is unavailable. Close the process using that port, or specify another port using --port [-p]
](https://kontext.tech/column/cloud-azure/791/port-7071-is-unavailable-close-the-process-using-that-port-or-specify-another-port-using-port-p)

I can resolve it if

[2021-10-03 08:39] NimaRayyan opened #653 "Did not find any initialized language workers"
i have azure function that works on .net-isolated , its working fine locally but when deploy it on azure portal and try to call the function i get error (Did not find any initialized language workers)

i have this on solution
  <PropertyGroup>
	<TargetFramework>net5.0</TargetFramework>
	<AzureFunctionsVersion>v3</AzureFunctionsVersion>
	<OutputType>Exe</OutputType>
	<_FunctionsSkipCleanOutput>true

[2021-10-03 08:55] stap123 opened #654 "QUESTION: Is graceful shutdown possible?"
Is it possible to know when a function is about to be terminated by the runtime to perform a graceful shutdown?

It would be good to be able to get a notification of when this about to happen and do some logging at a bare minimum.

Thank you 😃

[2021-10-04 04:02] cbfrank commented on #534
has the same issue when create a new azure functions projects with isolated mode and add time trigger. the VS 2019 template for timetrigger event not work for isolated, after manually add the missing sdk/nuget package, it can resolve the compiler erros, but run timertrigger from VS get VS freezes and azure function worker output timeout error

[2021-10-04 06:49] alavudeenb commented on #627
@brettsam Getting different version of same error, can you help me here ?

`Exception while executing function: Functions.XXXXXXXXX Did not find any initialized language workers`

![image](https://user-images.githubusercontent.com/56952115/135805744-db99e745-8bf2-4279-b123-6b9e27a80d84.png)

Microsoft.Azure.WebJobs.Host.FunctionInvocationException:
   at System.Runtime.ExceptionServices.ExceptionD

[2021-10-04 07:06] jayeshchedambath commented on #627
you could try replacing AppsettingConfigurationManager.Get(Constant.UserManagedIdentityClientId) with Environment variable,  define and env variable for client id in appsettings.

[2021-10-04 08:23] alavudeenb commented on #627
@jayeshchedambath Thanks. client id issue is gone. only getting previously mentioned issue.

[2021-10-04 10:46] maciejo-nordcloud opened #655 "Not possible to set cloud_RoleName"
Hi,

I tried to set the cloud_RoleName using ITelemetryInitializer but it doesn't work. In App Insights it is still being set as the name of the app service which is hosting it.

`public class TelemetryInitializer : ITelemetryInitializer
    {
        private static string RoleName = "Modernised.Responses";
        public void Initialize(ITelemetry telemetry)
        {
            // set custom ro

[2021-10-04 11:28] jamyc commented on #556
@efotin @kzryzstof I'm facing a similar issue where it appears that one of our dependencies is causing this issue. Do you have an easy way to figure what exact dependency is causing issues, or did you figure this out through trial and error?

[2021-10-04 15:01] FredyFLU commented on #652
Hi kshyju,

I have this line in my http trigger code because despite it runs perfectly locally (without the line), it always fails on Azure.
I have found it in samples as well as MSDN doc (https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-guide). I thought that may be related to my azure context issue, but when I read your sample code I get it is not.

  Thanks for fol

[2021-10-04 20:21] sccrgoalie1 opened #658 "Full URL not available with hashtag"
I am getting a request back from MSAL to an HttpFunction, but the URL sent back with a #.  Looking at all the available properties on the HttpRequestData and FunctionContext, I don't see any way to obtain this information.

Example URL:
http://localhost:7071/api/AuthRedirect/#state=test&client_info=test2

The URL in HttpRequestData:
http://localhost:7071/api/AuthRedirect/

Is there any way to get

[2021-10-04 21:04] eugene-cp commented on #383
Hi @brettsam , @fabiocav ,

I just tried it again just now and this still is not resolved, a little bit frustrating.

[2021-10-04 23:16] dev-jla commented on #602
So it looks like its either all or nothing at the moment. Will have to turn them off for now.

[2021-10-05 04:32] kshyju commented on #658
Hi @sccrgoalie1

No. On server side, you will not be able to access anything after the `#` in the request URL.

The URL fragment identifier is meant to be used by the client(user-agent/browser). They are used for navigating to a specific sub section of the HTML document or other client-side user experience enhancements. If you try the URL `https://www.bing.com/#state=test&client_info=test2` and ob

[2021-10-05 09:45] SiliconOrchid opened #659 "Way to access directory of Function App ? Isolated-process / .NET 5+"
Hey folks,

* I'm using **.NET 5** and an **Isolated-process** HTTP Triggered function;
* I'm trying to locate the App working directory (ultimately trying to read a resource file that was deployed alongside code.)

Previously, we could use `executionContext` to get `context.FunctionAppDirectory`.   This doesn't seem to be an option now?

this [StackOverflow article](https://stackoverflow.com/ques

[2021-10-05 12:19] #658 closed

[2021-10-05 18:09] GearTheWorld commented on #434
Visual Studio 2022 Preview 4.1 works just fine.  VS 2019 Version 16.11.4 isn't working.  Same problem as everybody!
Azure Function, Timer Trigger, .NET 5.0 Just the template, nothing else

[2021-10-05 18:28] GearTheWorld commented on #434
I tried some things here

Loaded the project started in 2022 into 2019 no luck
Loaded the project started in 2019 into 2022 no luck
Started new project using .NET Framework rather than .NET 5 in 2019 no luck
Modified the crontab no luck
Added RunOnStartup no luck

[2021-10-05 20:12] mikewop commented on #434
Our current work around in VS2019 is that we added a Post-Build event that clears the blob section of the Storage Emulator as mentioned by Flavio.
Works well for us and dramatic improvement in the debugging experience for the developers.

[2021-10-05 21:14] fabiocav commented on #628
@eluchsinger I'm glad to hear you were able to at least mitigate the issue. One thing that would be helpful to look at is a memory dump of both, the worker and the host processes when this problem is happening. If you have access to support, that would be the ideal way to engage to look at those details.

It's also worth mentioning that in different plan types (e.g. elastic premium), you'll have h

[2021-10-05 21:18] fabiocav commented on #627
@alavudeenb could you please provide your app name? The information above is a bit generic, so looking at the application configuration and logs would be helpful.

Are you also seeing this when running locally? Do you have a repro/reference we can look at?

[2021-10-05 21:31] fabiocav commented on #641
@MattHartz I just want to make sure I'm understanding your question/issue correctly; are you expecting to use Azurite as a local development emulator for Service Bus?

[2021-10-05 21:34] fabiocav commented on #630
@gorano79 one thing you can do in the meantime is use the binding data information provided in the context (coming from the trigger) and use the storage SDK directly to create an instance of the `CloudBlobContainer` you want to work with.

Let us know if you have any questions on how to do that.

[2021-10-05 21:34] fabiocav commented on #633
Closing as answered. Please let us know if you need any additional information.

[2021-10-05 21:34] #633 closed

[2021-10-05 21:40] fabiocav commented on #634
@peterlentine I would expect this to be the case. For the worker, the ASP.NET components are not wired up, there's no actual request flowing, so AI will not be processing/providing information about requests. It's a limitation of the current model.

[2021-10-05 21:40] #634 closed

[2021-10-05 21:43] fabiocav commented on #635
Flagging this for investigation. @soninaren, FYI.

@NicolaiOksen in the meantime, going back to a stable SDK release would be the recommendation. We'll follow up here if we need any additional information on how to repro.

[2021-10-05 21:44] fabiocav commented on #635
In the meantime, if you could share the generated `WorkerExtensions.csproj` file that will be in the temp path, that would also be helpful.

[2021-10-05 21:47] fabiocav commented on #637
Thank you for reporting this. This does look like a bug, so we'll take a look and get a fix out ASAP.

[2021-10-05 21:53] fabiocav commented on #640
Can you share the version of the SDK you're using? If not the latest, can you please upgrade and retry? Thanks!

[2021-10-06 06:20] NicolaiOksen commented on #635
@fabiocav due to work reasons I had to "get a move on" and did a clean install of windows.
Now everything works, so it might just have been something corrupt on my end.

Feel free to close the issue :)

[2021-10-06 06:59] maciejo-nordcloud opened #660 "CosmosDBTrigger doesn't produce App Insights telmetry"
Within our project we use App Insights and Application map extensively nad we have an issue. We're using input and output bindings and we discovered  that for **CosmosDb output** and **FileStore input** telemetry is generated automatically but for **CosmosDB input** it doesn't' work (no traces, no visible on Application Map).

Application Insights is configured just by passing the Instrumentation

[2021-10-06 08:21] SiliconOrchid opened #661 "func CLI doesn't recognise: func init --dotnet-isolated"
Hey,

* When using the AzFunc CLI to initialise a new dotnet isolated-process project:
    * Using `func --version` == `3.0.3734`
    * [The docs](https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-cli-csharp?tabs=isolated-process%2Cazure-cli&pivots=programming-runtime-functions-v4#tabpanel_3_isolated-process) tell us that we should use the command `func init --dotnet-iso

[2021-10-06 09:15] efotin commented on #556
@jamyc Yes, through trial and error.

[2021-10-06 11:28] PoyaManouchehri commented on #640
I'm on version 1.5.1 which I understand is the latest

[2021-10-06 17:23] #635 closed

[2021-10-07 01:31] kshyju commented on #558
Known issue on the web-jobs sdk. There is an open issue for this.

[[Table] Adding a Date property to a JObject should translate to a DateTime in the table
](https://github.com/Azure/azure-webjobs-sdk/issues/1203)

[2021-10-07 08:20] khebul commented on #649
Hey, I see that this ticket is not assigned to anyone, and there have been no updates so far. Is there anything I can do do give you more information about the issues?

[2021-10-07 10:41] ryantuffney-shell commented on #186
Any update on this ?

[2021-10-07 13:21] brettsam opened #664 "Add dotnet-isolated tests to the integration suite"
We currently have no e2e validation in the integration tests so we've caught some issues very late -- we need to get these added.

[2021-10-07 20:21] #499 closed

[2021-10-08 06:38] David-Stark commented on #281
Any updates? :)

[2021-10-08 07:34] gorano79 commented on #630
Thanks. As of now I reverted back to netcore 3.1, but I'm interested to switch further down the line.

[2021-10-08 08:32] migajek opened #666 "Returning POCO: result is JSON but content-type is text/plain"
Tl;DR version:
When returning POCO objects from HTTP-triggered function, the data is serialized to JSON, as expected. The content-type response header is however invalid: `text/plain` instead of `application/json`

---

Please consider following function:
[code]

When sending the request:
[code]

the response is following:
[code]

Note the text/plain on the response.

Package versions:
[code]

[2021-10-08 13:07] ssa3512 commented on #654
Based on [this comment](https://github.com/Azure/azure-functions-dotnet-worker/issues/180#issuecomment-877239867) you should be able to inject `IHostApplicationLifetime` into your function class and use the `ApplicationStopping` cancellation token to detect shutdown.

[2021-10-08 19:08] arthur-conde opened #667 "RabbitMQ Extension - Unable to resolve the value for property 'RabbitMQAttribute.ConnectionStringSetting'"
I am using the example in the samples directory for RabbitMQ.

[code]

I edited my local.settings.json and added the requested settings.
[code]

While the example function app is able to receive the message, it errors out. Perhaps during the outputting to the queue?

[code]

Would anyone be able to provide some insight as to what I'm doing wrong here?

**EDIT**:
Further, it seems that RabbitMQ's b

[2021-10-08 23:46] satvu commented on #434
[Part 2](https://github.com/Azure/azure-functions-core-tools/pull/2666) of the fix has been merged into core tools. Pending deployment.

[Note](https://github.com/Azure/azure-functions-host/pull/7491/files/75ebc4e6e63e2e30dc36f157b1492d694e81663b#diff-0520ea7869aafe4adf4e46cee524515169549321187cc8ecf473409fe070b53c) on how time triggers are related to the initial issues with debugging.

[2021-10-11 06:41] dmytro-gokun opened #670 "Cannot find release notes for version 1.5.2"
https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker/1.5.2

[2021-10-11 22:41] brettsam commented on #383
@eugene-cp -- thanks! Do any of the other projects you reference have that `<FrameworkReference>`?

[2021-10-12 12:53] manio143 opened #672 "NullReferenceException in generated lambda when method argument is a struct"
_Using Microsoft.Azure.Functions.Worker 1.5.2_
I'm migrating a Functions project from .NET Core 3.1 to .NET 5 and switching to the isolated process model. We had a method that took a `CancellationToken` as a parameter:

[code]

I see that getting a cancellation token like that is no longer supported. But rather than getting some sort of validation exception, the framework attempted to invoke my fu

[2021-10-12 15:48] dfibuch commented on #670
Noticed this also, looking by the downloads a lot of people are holding back updating until those are available, like myself.

[2021-10-12 21:24] fabiocav commented on #649
@khebul the application name would be helpful to identify what is causing the issue and the scaling behavior.

For GitHub issues, we typically triage and review what is opened in order, but if this is a production impacting issue, engaging support might be a better option.

Thanks!

[2021-10-12 21:26] fabiocav commented on #653
``<_FunctionsSkipCleanOutput>true</_FunctionsSkipCleanOutput>` shouldn't be required.

Would you be able to share your function app name and a timeframe we can use to look at more detailed logging information?

Thanks.

[2021-10-12 21:48] sjuarezgx commented on #556
I have the same issue in an Azure Function App (Consumption plan), Linux Environment.

TargetFramework : .Net 5
Language : dotnet-isolated
AzureFunctionsVersion V3

In my case, I'm not deploying to a docker image.
It's a Function App defined as follows:
az functionapp create --resource-group x --consumption-plan-location centralus --runtime dotnet-isolated --functions-version 3 --name x --storage-

[2021-10-12 21:53] fabiocav commented on #667
For the question about the TypeFilter, that is not supported with the current OOP model, so to support this in the future, deeper host and extension model changes would be required. We don't expect to have this in place in the near future.

[2021-10-12 21:53] #667 closed, assigned to kshyju

[2021-10-12 22:03] stap123 commented on #654
@fabiocav Is there somewhere we can follow to see what's currently being worked on somewhere specifically these updates will be published?

[2021-10-13 07:33] andrew-tevent opened #675 "Allow CosmosDbTrigger connection to be specified in named ConnectionString"
At the moment, it appears that the only choice for setting the connection string is to give the name of a top-level app setting (inside `Values` collection in `local.settings.json`).

It would be very useful if there were a setting to say that the connection string values are stored within the "ConnectionStrings" section.

(It does appear that there [might be a way](https://github.com/Azure/azure-

[2021-10-13 20:07] #670 closed

[2021-10-13 20:50] fabiocav opened #677 "Implement support for function indexing"
Issue tracking the work related to worker driven function indexing for .NET

[2021-10-13 23:34] dvdvorle opened #678 "Adding the Microsoft.Azure.SignalR package will break .net 5 isolated worker"
**Short description**
I'm trying to call into the Azure SignalR management API without using the Az Fx bindings (they fall short for my use case). While doing local development everything looks fine on both Windows and WSL. When publishing the function to Azure however, it all breaks down with:

Meaning none of my HttpTriggers respond.

**Steps to reproduce**
This can easily be reproduced by creat

[2021-10-14 14:12] ealsur commented on #660
Yesterday I went ahead and did a test locally and deploying the Function App with a `host.json` enabling traces and I was able to see the traces appear in App Insights with the `AcquireLease` events:

![image](https://user-images.githubusercontent.com/1633401/137334779-b060ad1d-da1f-4029-b031-22b795c836c6.png)

Not sure what could be the cause of not working in your case though, I started a Functi

[2021-10-14 15:49] jsquire opened #679 "Incorrect ObjectSerializer definition for some WriteAsJsonAsync<T> overloads"
# Issue Transfer

This issue has been transferred from the Azure SDK for .NET repository, [#24729](https://github.com/Azure/azure-sdk-for-net/issues/24729).

### Please be aware that @deanwiles is the author of the original issue and include them for any questions or replies.

## Details

The following overloads incorrectly indicate "Write the specified value as JSON to the response body using the

[2021-10-15 18:03] jamyc commented on #556
For us the issue was related to accidentally having a reference to `FluentValidation.AspNetCore`.

It would be extremely useful if we could extract more information from this specific error as it appears there are various reasons for it to happen.

[2021-10-15 22:30] sjuarezgx opened #816 "Azure functions with Net 6"
Hello

I need to use Net 6 for Azure Functions, using the isolated model.

Is isolated model supported in the Azure Functions 4.0 preview?

Using VS 2022, the templates create only in-process functions.
In case it's not supported, could you tell us when you'll have it? As Net 6 is being released in november.

Have you got any documentation in order to help us to develop Azure Functions using V4?

[2021-10-16 13:43] Dinand01 commented on #556
Honestly I think this is a bug for the following reasons:

- Windows functions support "Microsoft.AspNetCore", Linux functions do not, they only support "Microsoft.NETCore" unless you use a custom image
- This information is not documented anywhere

This is a huge time loss for people trying to use azure functions, in my opinion it should either be documented or there should not be any difference

[2021-10-16 15:12] smokedlinq opened #681 "ServiceBusOutput to queue with sessions enabled"
Anyone have tips/docs for sending output to a queue that has sessions turned on?

`Microsoft.Azure.ServiceBus: The SessionId was not set on a message, and it cannot be sent to the entity. Entities that have session support enabled can only receive messages that have the SessionId set to a valid value.`

[2021-10-16 19:56] runtimeware commented on #556
Also have the same issues as above. Our consumption plan has been working fine; however our P1V2 version of the exact same config + code just started having the issue Friday (after also not being touched/deployed to for several days).

Still unclear what the root cause is or why the difference between the consumption + premium sku

[2021-10-17 12:30] rosenkolev opened #682 "No Logs in azure function .NET 6 dotnet-isolated Linux Consumption"
# No logs log-stream and application insight data in azure functions

## Functions is working, but no logs

* Environment - Linux
* Plan - Linux Consumption Apps
* Version - Azure Function ~v4
* Framework - .NET 6 - dotnet-isolated
* Microsoft.Azure.Functions.Worker - 1.5.2
* Project - [GitHub MentorBot](https://github.com/MentorMate/mentorbot/blob/main/src/MentorBot.Functions/App/Program.cs)

Cre

[2021-10-19 07:30] dmytro-gokun opened #683 "Missing release notes for Microsoft.Azure.Functions.Worker.Sdk 1.2.0"
I can see a new version https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker.Sdk/1.2.0, but where can I see what's changed in it compared to the previous stable version 1.0.4?

[2021-10-19 09:53] andrew-tevent commented on #675
@Morreed Interesting, thought a bit weird. I'd be concerned that an update could break that.

For the moment I have just duplicated the Connection String in the Values collection in `local.settings.json` and my ARM deployment.

[2021-10-20 23:15] smokedlinq opened #685 "EventGridOutput binding with CloudEvent error"
Need to return one or more CloudEvent objects, even serializing to json returns the same error. I verified all the properties have data ...

[code]

Produces error: `Exception while executing function: Functions.PublishChangeFeedEvents. Microsoft.Azure.WebJobs.Host: Error while handling parameter _binder after function returned:. Microsoft.Azure.EventGrid: 'EventType' cannot be null.`

[2021-10-25 23:51] rhythmnewt opened #686 "TimeoutAttribute support is missing"
Are there any plans to add the TimeoutAttribute support in .net 5 functions like there was in Microsoft.Azure.WebJobs?

![image](https://user-images.githubusercontent.com/1319322/138785918-c1bec15a-c2be-44dd-8112-f5a10832429a.png)

[2021-10-26 13:52] HMoen opened #687 "CosmosDbTrigger middleware to filter by document type"
While [this is in progress](https://feedback.azure.com/d365community/idea/03bb74ec-0e25-ec11-b6e6-000d3a4f0858?page=1), we are trying to filter documents ending at the cosmos db trigger from a multi-document type container using middleware. We are aware middleware filtering still retrieves all items from the change feed.

Use case:
- Single Cosmos DB SQL API container containing multiple document

[2021-10-27 00:33] kshyju opened #691 "Publish new version of Worker.Extensions.RabbitMQ consuming 6.1.X+ version of RabbitMQ.Client"
Publish a new version of `Microsoft.Azure.Functions.Worker.Extensions.RabbitMQ` which maps to a new version of `WebJobs.Extensions.RabbitMQ` which is consuming 6.1.X+ version of `RabbitMQ.Client`

[2021-10-27 16:59] cataggar opened #692 "locking dependencies for WorkerExtensions.csproj"
Our CI separates out restore and build. The build does not have access to nuget repos. The issue is that WorkerExtensions.csproj is generated on the fly during build. It currently generates:

[code]

I can ensure those dependencies are restored by copying the csproj and making a packages.lock.json. The build then fails to find Microsoft.Azure.WebJobs 3.0.23 and 3.0.22. I worked around the problem

[2021-10-28 08:16] viktor-morin opened #693 "Function runtime error (Microsoft.Azure.WebJobs.Extensions.ApplicationInsights)"
I have two projects, I can't find the difference but one of them wont start in Azure (run's locally).
I get following error;

• Functions runtime error:
**Microsoft.Azure.WebJobs.Extensions.ApplicationInsights: Method not found: 'Void Microsoft.Azure.WebJobs.Logging.ApplicationInsights.ApplicationInsightsLoggerOptions.set_SamplingSettings(Microsoft.ApplicationInsights.WindowsServer.Channel.Impleme

[2021-10-29 15:17] jrhodnik opened #694 "HttpRequestData.Cookies is Empty"
When using an HTTP triggered function, it appears that `HttpRequestData.Cookies` is empty. This appears to be an issue that was previously reported and resolved in #466 though I am still not seeing cookies despite them being present in `Headers`. I am currently using version 1.5.2.

As a workaround I copied [`ToHttpCookie`](https://github.com/Azure/azure-functions-dotnet-worker/blob/main/src/DotNe

[2021-10-30 13:41] viktor-morin commented on #693
Note: Seems like the issue is related to Azure Function running on an App Service (not consumption plan) which run a Linux OS.

[2021-10-31 04:48] andrewboudreau commented on #672
Thanks @manio143 I spent a few hours trying to track down what's happening here. Your report provided some help and a really easy way to fix this once I understood what was happening.

[2021-11-01 19:39] satvu commented on #694
Thanks for catching the white-space bug! Repro'd it and will be putting in a fix.

Could you provide a little more info about your environment @jrhodnik (like core tools version)? Or see if the sample below works for you? I just tested it with the latest branch and was able to grab from the Cookies field.

[code]

[2021-11-01 20:06] jrhodnik commented on #694
@satvu,

Thank you for your response, glad to hear about the bug fix. Below is the version I'm running on. I was able to reproduce the cookie issue with your sample above. Was the aforementioned fix not published to 3x yet?

[code]

Thanks!

-John

[2021-11-01 20:17] cgillum opened #695 "Deserialization of function input POCO objects fails silently"
If I try to bind a function input to a POCO and the deserialization fails with an exception, the exception gets swallowed without emitting any logs, making it really hard to debug.

The code in question is here (`JsonPocoConverter.TryDeserialize()`): https://github.com/Azure/azure-functions-dotnet-worker/blob/66c6380a311b800bb301323693b4ce1cf69dd682/src/DotNetWorker.Core/Converters/JsonPocoConvert

[2021-11-02 17:31] #694 closed

[2021-11-02 21:40] fabiocav commented on #675
Hierarchical configuration settings are supported and you do have support for configuration sections.

In addition to the local.settings.json, you could have a JSON configuration source with the hierarchy you want (including a connection strings section), as long as the reference you have in the attribute matches that hierarchy (like you have in the example above).

I hope that helps, but let us k

[2021-11-02 21:46] fabiocav commented on #678
Would you mind sharing the basic repro project on a repo here? We want to make sure we have the correct details to investigate the issue.

Thanks!

[2021-11-02 21:47] fabiocav commented on #679
Thank you for reporting. We'll have this updated and fixed in the next release.

[2021-11-02 21:51] fabiocav commented on #681
@alrod is this supported with OOP languages in general? I'm want to rule this out as a limitation to OOP before looking at the worker. If supported, do you have documentation on the use from different languages?
Thanks!

[2021-11-02 21:57] fabiocav commented on #682
@rosenkolev with the current runtime on Linux, Application Insights must be explicitly added as a dependency for that to work. This is changing this week and, at that point, we expect the behavior to return to what you had with 3.0.

[2021-11-02 21:59] fabiocav commented on #682
That is documented [here](https://github.com/Azure/app-service-announcements/issues/349)

[2021-11-02 22:01] fabiocav commented on #683
This hasn't been prioritized as it doesn't expose a public API surface, but we'll updated the release flow to make sure those are added moving forward.

[2021-11-02 22:02] fabiocav commented on #683
Hope this helps, closing the issue, but let us know if you have any questions.

[2021-11-02 22:02] #683 closed

[2021-11-02 22:09] #679 closed

[2021-11-02 23:08] alrod commented on #681
SB output is supported for OOP, see examples:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus-output?tabs=csharp#example

@smokedlinq,  did you try to set the Sessionid for output Message?
`var message = new Message(bytes) { SessionId = sessionId };`

[2021-11-03 00:32] dvdvorle commented on #678
Well.. Color me surprised, I don't seem to be able to reproduce this any longer. Neither in a basic repro project, nor in the actual project I was trying this in... Haven't got a clue what's changed.

I'll retry and fully implement what I was doing next week. Will post an update then.

[2021-11-03 01:00] #628 closed

[2021-11-03 01:00] #627 closed

[2021-11-03 01:00] #641 closed

[2021-11-03 06:39] dmytro-gokun commented on #683
@fabiocav Thanks for the answer, but i still have some questions:
1) Is it safe (or even advised) to simply upgrade 1.0.4 => 1.2.0 or should I be aware of something?
2) In the meantime, version 1.3.0 is available now. Still now release notes. The same question applies to this version.

[2021-11-03 11:00] garrynewman commented on #366
Running into this too - is this still what everyone is doing, or is there an official way now?

[2021-11-03 19:38] satvu commented on #694
@jrhodnik if you update the worker to version 1.6.0 it should work now

[2021-11-03 21:30] snowke commented on #649
I'm curious about this as well.  I see a similar situation where I can not trigger scaling.

Setup
We have an Azure Function App written in .NET 5.   The app is running on a windows machine in a consumption plan in Azure GCC. The app consists of 3 HTTP Triggered functions.  Two of the functions are high volume, low resource methods.  The 3rd function contains a resource-intensive operation where w

[2021-11-03 23:26] cataggar opened #700 "publish a new version of Microsoft.Azure.Functions.Worker.Extensions.Storage"
Please publish a new version of Microsoft.Azure.Functions.Worker.Extensions.Storage, that uses Microsoft.Azure.WebJobs.Extensions.Storage.Queues version 5.0.0.

[code]

The related issue is https://github.com/Azure/azure-functions-host/issues/7393. The problem is `WorkerExtensions.csproj` results in:
[code]

A version 5.0.0 of https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.Stora

[2021-11-03 23:28] cataggar commented on #700
If there was a way to adjust the generated dependencies #692, I could workaround the issue.  Version 5.0.0 allows accessing the queues using a managed identity, which is what we want.

[2021-11-04 00:40] smokedlinq commented on #681
@alrod I did try to return a ServiceBusMessage and a json payload that looks like ServiceBusMessage but get the error stated above.

[2021-11-04 10:52] StefanSchoof commented on #572
I would also welcome any info, if this is something that should be possible or something I need to start to refactor my code, to no longer depend on ´IHttpContextAccessor`.

[2021-11-04 17:40] andrew-tevent commented on #675
@fabiocav Thanks for the reply!

What I have is a shared piece of startup code which loads my Cosmos ConnectionString like this:

`configuration.GetConnectionString("CosmosDb");`

So my appsettings.json has

[code]

In my functions app startup, I actually am adding a JSON source to the HostBuilder (and deploy this file with my Functions into Azure):

[code]

and I can use Cosmos within my code no

[2021-11-04 19:44] EnenDaveyBoy commented on #572
i have work my problem out in a different way, but it would be easier if I could inject HttpRequestData into my other services,I can't find any documentation to be able to do it,and I have a null exception in my constructors.

[2021-11-04 21:59] kshyju commented on #608
Hi @McKabue May I ask what specific API/classes from the `Microsoft.AspNetCore.App` package you are using in you function app?. As part of verifying fix, I would like to include your use case as well in my validation. Thanks!

[2021-11-05 12:42] rosenkolev commented on #682
I have tried installing it, but it didn't work.
Later I have seen this Update:

So I hope this will be resolved soon.

[2021-11-06 04:00] #659 closed

[2021-11-06 04:00] #653 closed

[2021-11-06 04:00] #647 closed

[2021-11-06 04:00] #640 closed

[2021-11-06 10:32] Stef16Robbe commented on #304
Bump on the updates? :)

[2021-11-06 11:12] McKabue commented on #608
Am using classes in the following packages:
[code]

Examples of the classes/interfaces I use include, but are not limited to:
[code]

Most of these are part of a Common Library that I use for utility helper methods for Web app and Azure functions.

I hope this helps.

[2021-11-08 16:31] MironAtHome commented on #618
What a dumb ass request.
They should be able to work on the same function app, coexisting.
One, working in - process, the other onoe using new isolated runtime.
Else, it would mean that entire industry has to redevelop a new set of Azure Function solutions, in order to move forward. That would be a precipice to forcing Azure cloud customers to competitors, who aren't as hostile to their customer b

[2021-11-08 16:46] SeanFeldman commented on #618
Wherever you think it's the wrong request or not, articulate your thoughts w/o offending people. Be better than that.

[2021-11-08 16:53] kshyju opened #702 "Logging using an `ILogger<T>` instance does not work when it is not part of a function execution"
Logging using a [constructor injected](https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-guide#logging) `ILogger<T>` instance does not work when it is not part of a function execution. This means logging does not work inside an implementation of `IHostedService` or `BackgroundService` which is registered as a hosted service in worker.

[code]
In this case, the code exe

[2021-11-08 17:00] SeanFeldman commented on #702
@kshyju I might be missing some context/knowledge here, but a function has to be triggered. And a `BackgroundService` would not be executed if there's no trigger.

[2021-11-08 17:09] MironAtHome opened #703 "Missing documentation how to invoke custom handler"
Dear Azure Team,

In all the comm, missing is how to invoke in this new and beautiful world custom handler.
There is quite a bit of documentation that is currently published on MSDN and which already in conflict with how to handle Azure Function with custom handler, what options and such.
While teams at Microsoft like having narrow focus around assigned target, it does appear to unencumbered with

[2021-11-08 17:36] ayrton97 commented on #702
@SeanFeldman Can you please explain why the function has to be triggered?
In my case I just register a service and background service.
The service is going to consume some data which will be periodically retrieved by the background service which is added as a hosted service and doesn't require any invocation.

[2021-11-08 17:41] SeanFeldman commented on #702
@ayrton97, my question is based on understanding how Functions operate. Take a consumption plan where a Function is constrained in the [execution time](https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale#timeout). That means b/g service or not, the function will be shut down and the background service won't be able to run.

[2021-11-08 18:49] ayrton97 commented on #702
I'm not talking about the consumption plan, I'm talking about the way function is initialized.
For references: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/hosted-services?view=aspnetcore-5.0&tabs=visual-studio
AFAIU Azure Function brought a lot of stuff from ASP.Net Core, so my understanding that this should work the same way it works for ASP.Net.

services.AddSingleton<MonitorL

[2021-11-08 18:55] SeanFeldman commented on #702
@ayrton97 and your b/g service is consistently involved? @fabiocav is that a supported scenario? As it sure goes against the documentation and the invocation model for Functions.

[2021-11-08 19:16] ayrton97 commented on #702
@SeanFeldman,
Please elaborate on what you mean by "continuously involved"?
The BG service periodically updates another service with the data retrieved by the BG service. The update happens every minute. so I'd say it's consistently involved.

[2021-11-08 19:57] SeanFeldman commented on #702
It was a typo. I meant to write "continuously invoked", which is the case when your b/g service is invoked every minute.
That's why I'm so confused that it's even working, given that it's not how functions are supposed to work. Hence the ping for clarification from Fabio, who's assigned to this issue.

[2021-11-08 20:59] arashcomsense opened #704 "Unable to compile Azure Function v4 out-of-process in VS 2022 Enterprise Version 17.0.0"
The Azure Function's `.csproj` definition is per the following snippet:

[code]
The Program.cs file's initialization is like the following code snippet:

[code]

The compiler issues the following error message:

Would you please give a direction on fixing this problem?

[2021-11-08 22:04] kshyju commented on #704
@arashcomsense Why do you have the reference to the `Microsoft.NET.Sdk.Functions` package? If you remove that entry and try to build, what happens?

[2021-11-08 22:50] arashcomsense commented on #704
@kshyju Worked! thanks for the help!

[2021-11-08 22:50] #704 closed

[2021-11-09 00:30] aggieben opened #705 "Configuring custom routes"
I have a function defined like this (F♯, obviously):

[code]

When I test this locally, it matches to the url `http://localhost:{port}/api/Index`.  How can routing be customized to give more control over the url structure?  I see that there is the `HttpTriggerAttribute.Route` property, but it doesn't seem to be able to affect whether or not the `/api` part of the path appears.

[2021-11-09 02:18] jeffhollan commented on #618
< Removing some comments that violate our open source code of conduct > https://opensource.microsoft.com/codeofconduct/

[2021-11-09 13:42] josmithua commented on #561
Thanks @tranb3r! I can confirm this works, however when running in localhost, any method call on `req.Identities` will throw an error (ex: `req.Identities.Count()`). The `ClaimsPrincipal` constructor enumerates the identities list, so you have to wrap the constructor call in a `try catch`

[2021-11-09 13:59] dr-consit commented on #293
And now .net 6 is here, and still no support, and nothing in the documentation telling you that this is not achievable?

[2021-11-09 15:10] MattJeanes commented on #293
With .NET 6 you don't need to use the out of process worker for Azure Functions you can just use in-process as you did on .NET Core 3.1. I believe .NET 7 is when the out of process worker is expected to reach feature parity and in fact I believe will be the only way to use Azure Functions on .NET going forward, according to the Azure Functions roadmap: https://techcommunity.microsoft.com/t5/apps-o

[2021-11-09 15:20] dr-consit commented on #293
Which would have been fine, if I hadn't put in the work to migrate to out of process... But I guess it's my fault for jumping the gun...

[2021-11-09 15:31] timgabrhel commented on #293
Same. It's been so long so forgive me if I misremember, but I recall my reason for jumping the gun on the migration was the in-process runtime had a very long lag in supporting the new .NET version releases in production.

That said, does in-process support .NET 6 today, in production?

[2021-11-09 16:06] MattJeanes commented on #293
Azure Functions supports .NET 6 day one in production, so they've at least learnt that lesson from the fun times of .NET 5's launch 😆

https://azure.microsoft.com/en-gb/updates/generally-available-azure-functions-runtime-40/

[2021-11-09 16:19] Prinsn commented on #293
This graph suggests they work in 5, when 5 broke everything, so I'm
confused.

We literally had to rollback from 5 because of this

On Tue, Nov 9, 2021, 10:10 AM Matt Jeanes ***@***.***> wrote:

[2021-11-09 16:28] MattJeanes commented on #293
I think all we can be sure of is that come .NET 7, everything will be ready to go as that will be the only supported method of running Azure Functions then. Out of process still seems very much an afterthought even in .NET 6. Would love to hear some more details of what's new with OOP Azure Functions on .NET 6 and see if any of these concerns have been resolved.

[2021-11-09 16:51] lacour-a commented on #646
I just tried with beta 6 and it works now :)
Thank you

[2021-11-09 16:51] #646 closed

[2021-11-09 17:27] TheSpivack commented on #619
Is this still an open issue even with the release of Azure Functions 4.0?

[2021-11-09 17:52] arashcomsense commented on #347
@fabiocav is there a better and more out-of-the-box solution/example/pattern in .NET 6.0 to follow to be able to add/remove user groups and even negotiate?

[2021-11-09 20:28] aggieben opened #706 "Storage account connection string for 'AzureWebJobsStorage' is invalid"
I have a simple F♯ worker function:

[code]

However, when I run it in the debugger or with `func start`,  any request fails like this (essential error message is in the title):

[code]

I'm trying to connect to the local storage emulator, so my `local.settings.json` is as follows:
[code]

I also confirmed that this file is copied into the `output` folder.

Something similar happens in VS Code, th

[2021-11-09 20:49] Peter-Juhasz commented on #525
Do you guys have any update on this one with the new .NET 6/Functions Runtime 4 release? Thanks.

[2021-11-09 22:13] fabiocav opened #707 "Move Event Grid extension to track 2 GA version"

[2021-11-09 22:13] fabiocav opened #708 "Update build process to isolate extension builds"
Update build process to isolate extension builds

[2021-11-09 22:15] fabiocav commented on #685
@smokedlinq can you confirm you were using version 2.x of the extension? Version 3.x supports Cloud Events and will be available once this is completed: #707

[2021-11-09 22:17] fabiocav commented on #686
The recommendation is to use `host.json` for that configuration in OOP scenarios. Would that work for you? If not, can you share more details about your scenario?

Here's the documentation on that setting: https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#functiontimeout

[2021-11-09 22:26] fabiocav commented on #692
We may need to get more context to better understand what you're running into. Are you only seeing failures with those packages? Can you also share your main project?

Would a command that generates and persists the extensions csproj help you here?

[2021-11-09 22:31] fabiocav commented on #695
Need to discuss this as we should probably avoid anything with a level of warning or higher as it would create a lot of noise, but we still want to make this discoverable.

[2021-11-09 22:32] Francisco-Gamino opened #709 "Enable integration testing for the Dotnet language worker"

[2021-11-09 22:55] fabiocav commented on #434
@david-peden-q2 / @jwisener what version of Core Tools are you running? Are you still seeing this with the latest version of the tools?

For v3.0, this was fixed in Core Tools 3.0.3904

[2021-11-09 23:35] cgillum commented on #604
Closing as I'm no longer seeing this in the latest builds.

[2021-11-09 23:35] #604 closed

[2021-11-10 11:14] maciejo-nordcloud commented on #660
@ealsur sorry for delay, I can see `AcquireLease` events in traces but I cannot see ComsosDB as a node on Application Map and this is the main goal. For CosmosDB output binding and BlobTrigger it works out of the box but not for CosmosDBTrigger so the behavior seems somewhat inconsistent.

[2021-11-10 11:59] abrathehuman commented on #556
Might be a long shot but I spent a whole day trying to find solution and what worked on my end (C#, Windows Plan) is setting my `appsettings.prod.json` to be `<CopyToOutputDirectory>Always</CopyToOutputDirectory>`. It turns out it is required on my `StartupModule.cs` and my function was not able to start because it was missing on output folder.

Apparently, "Did not find any initialized language w

[2021-11-10 15:09] przemyslaw-serwicki opened #712 "Correct usage of ServiceBusOutput in isolated mode"
Hi guys!

I've tried to publish message back to service bus, where duplicate detection is supported.

As this is out-of-process function, I am using the appropriate return type.

[code]

Unfortunately when publishing, I've received an error:
`Message to a partitioned entity with duplicate detection enabled must have either PartitionKey or MessageId set`

I've also checked the case where I publish

[2021-11-10 15:59] dvdgutzmann opened #713 "http triggered dotnet-isolated .NET 5 function receives empty body stream behind Azure API Management when Transfer-Encoding is 'chunked'"
Hi,

we are experiencing a problem with an http triggered dotnet-isolated .NET 5 function behind Azure API Management. When Transfer-Encoding is set to 'chunked', the `HttpRequestData.Body` stream is always empty. Is this a scenario which is expected to work out of the box?

If what I describe is expected to work, what information do you need us to provide, to investigate the cause of the experien

[2021-11-10 16:37] smokedlinq commented on #685
@fabiocav I was using the 3.x version ...

<PackageReference Include="Microsoft.Azure.Functions.Worker.Extensions.EventGrid" Version="3.0.0-beta.3" />

[2021-11-10 17:07] ealsur commented on #660
@maciejo-nordcloud I honestly have no clue how that Application Map is built or what it detects. The Cosmos DB bindings and trigger code has no code at all that is explicitly calling or interacting with AppInsights libraries. The Trigger uses the [Change Feed Processor](https://docs.microsoft.com/en-us/azure/cosmos-db/change-feed-processor) which will consume the Change Feed through requests in th

[2021-11-10 18:10] cataggar commented on #692
I shared my main project with you via Teams. Is there a way to use a persisted csproj and avoid the dynamically generated one today?

[2021-11-10 21:06] jmblanco93 commented on #226
Is there any news regarding this issue? (Using ServiceBusReceiver class to send a message to the DLQ)

[2021-11-10 21:15] fabiocav commented on #664
@Francisco-Gamino I believe you have a PR for this change, correct? Could you please link the PR here and we'll close the issue once that is merged. Thanks!

[2021-11-10 21:28] fabiocav commented on #608
@kshyju is actively working on this and validating scenarios shared here.

Moving to 114 as some validation is still pending.

[2021-11-10 21:30] fabiocav commented on #530
Work on this is still in progress. Updating sprint assignment

[2021-11-10 22:00] #649 closed

[2021-11-10 22:31] jaliyaudagedara opened #714 ".NET 6 Isolated: An error occurred while loading required library hostpolicy.dll"
I am trying out Azure Functions 4.0 with .NET 6 **Isolated (Out-of-process)** and I am getting the following error.
[code]
![image](https://user-images.githubusercontent.com/5653381/141203841-9057ffa6-0367-4e24-af21-788ad65ecc3a.png)

I am using Visual Studio 2022 / Version 17.1.0 Preview 1.0.

I have tried with **.NET 5 Isolated (Out-of-process)**, it's a similar error.

However Azure Functions 4

[2021-11-11 01:01] Prinsn commented on #226
I'm also interested if this is "fixed fine" in .NET 6 with respect to that
the new version in 5 is delayed to 7.

On Wed, Nov 10, 2021 at 4:06 PM Jose Blanco ***@***.***>
wrote:

--
Jeff Miller

[2021-11-11 08:49] WestDiscGolf opened #715 "CreatedAtRoute result in .NET 6 Isolated process"
Hi,

I am currently looking at upgrading some .NETCore 3.1/V3 in process Azure Functions to the .NET 6 Isolated model and coming up against an issue which I am trying to solve.

We currently use the ASP.NET Core IActionResult types quite heavily to return responses from the HttpTrigger based functions eg. OKObjectResult and StatusCodeResult which I can map to a HttpResponseData response with speci

[2021-11-11 17:08] #709 closed

[2021-11-11 17:15] aggieben commented on #706
After digging around on this for a while, I think this issue should probably be moved to the Azure/azure-webjobs-sdk repository.  The error seems to be occurring here: https://github.com/Azure/azure-webjobs-sdk/blob/f3f78bab110503515a08c4440e06c900ca6e3cb4/src/Microsoft.Azure.WebJobs.Extensions.Storage/StorageAccountProvider.cs#L58

[2021-11-11 18:00] WestDiscGolf opened #716 "Activate Functions as Services instead of using DefaultFunctionActivator (.NET 6 Isolated Process)"
As part of the invocation of each Azure Function a new instance is created through the [DefaultFunctionActivator](https://github.com/Azure/azure-functions-dotnet-worker/blob/72b9d17a485eda1e6e3626a9472948be1152ab7d/src/DotNetWorker.Core/Invocation/DefaultFunctionActivator.cs) and this under the hood uses the `ActivatorUtilities.CreateInstance` method of instantiation. This works fine for most scen

[2021-11-11 18:46] NimbleKelly commented on #714
I was experiencing the same problem that you're describing, but managed to solve it by editing my system environment variables. My environment had a PATH set up with C:\Program Files (x86)\dotnet\ appearing before C:\Program Files\dotnet\.  When I moved the 64-bit dotnet folder up so it appeared before the 32-bit version, then debugging started working again.

I arrived at this solution after atte

[2021-11-11 19:10] kshyju commented on #561
@josmithua The null reference exception is fixed in version [1.6.0 of the Microsoft.Azure.Functions.Worker](https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker/1.6.0). Please give that version a try.

[2021-11-11 22:14] Francisco-Gamino commented on #72
This is a duplicate of https://github.com/Azure/azure-functions-dotnet-worker/issues/709. Closing issue.

[2021-11-11 22:14] #72 closed

[2021-11-11 22:15] Francisco-Gamino commented on #664
This issue has been fixed. For more info, please see https://github.com/Azure/azure-functions-dotnet-worker/pull/711.

[2021-11-11 22:15] #664 closed

[2021-11-11 23:04] WestDiscGolf commented on #716
Added an example of how to do it manually with registering a ServiceBasedFunctionActivator with the DI system and registering the Function, GetWelcome in this example, with the AutoFac container builder to allow for named dependencies inside the function directly.

It appears to work, with the limited testing, really well however still feels a bit of a work around at the moment.

https://github.co

[2021-11-12 00:45] Francisco-Gamino opened #717 "Investigate test failure E2ETests.HttpEndToEndTests.HttpProxy in Functions V4"
The test case `Microsoft.Azure.Functions.Tests.E2ETests.HttpEndToEndTests.HttpProxy` fails consistently when running the language worker end to end tests targeting Functions `V4` via the Core Tools. Please take a look.

See build for more details: https://azfunc.visualstudio.com/Azure%20Functions/_build/results?buildId=41374&view=ms.vss-test-web.build-test-results-tab

[2021-11-12 02:53] jaliyaudagedara commented on #714
@NimbleKelly, Thanks for the input. I just tried,
[code]
It doesn't even work.

Checked environment variables,
![image](https://user-images.githubusercontent.com/5653381/141400114-d110b0e3-b026-494b-8152-2fc709792878.png)

And yes, it's out of order. Moved the 64-bit dotnet before 32-bit version, and all is good now.

Thanks again.

[2021-11-12 12:27] cleferman commented on #556
Maybe it will help someone.

I was running a v4 linux function with .NET 6. I was referencing the package:
`Microsoft.Identity.Web.MicrosoftGraph` for GraphServiceClient instead of
`Microsoft.Graph`.

I'm not entirely sure how I ended up with that one, but changing it to the proper nuget package fixed it.

[2021-11-12 13:30] arashcomsense opened #718 "Docker fails to build .NET 6.0 Azure Functions v4"
The key areas of the docker file are per below which was scaffolded by VS 2022 Current:

[code]

This is how the loca.settings.json file looks like:

[code]

I have had a perfectly-working `docker-compose` file used for .net core 3.1 but it starts showing the following failure when using .NET 6.0:

Any idea how to address this issue?

[2021-11-12 14:24] mnemcik-visma commented on #556
We've spent quite a lot of time with this one recently as well ...
Whatever the case might be, just please provide a more meaningful message that will guide developers to the actual problem ... it's really a pain to find out the root cause of it ...

[2021-11-12 15:25] arashcomsense commented on #718
@brettsam just wondering, is there a workaround or solution for this issue?

[2021-11-12 15:41] dev-jla commented on #602
No change in version 4...

[2021-11-12 15:45] brettsam commented on #718
The v4 image tags do not have ".0" at the end -- as we'll be incrementing the minor version (i.e 4.1, 4.2, 4.3) so using ".0" no longer made sense. So if you're migrating something from `3.0`, change it to just `4`.

[2021-11-12 16:37] arashcomsense commented on #718
@brettsam Thanks, using just `4` addressed the issue but I started getting the following error despite docker's environment file has `FUNCTIONS_WORKER_RUNTIME=dotnet-isolated`:

The function's project definition is per the following snippet:

[code]

[2021-11-12 17:50] kshyju commented on #718
@arashcomsense Just to confirm, are you using the [dotnet-isolated image](https://hubgw.docker.com/_/microsoft-azure-functions-dotnet-isolated)?

 `mcr.microsoft.com/azure-functions/dotnet-isolated:4`

[2021-11-12 17:53] Romfos commented on #573
Hi,

@fabiocav, could you please pay attention on this isssue, because now is not possible to see logs in prod for loglevel below information. It makes impossible to investigate prod issues.

My scenario:
1) enable logsi via env variable AzureFunctionsJobHost__logging__LogLevel__Default = Trace

Expected result:
I should be able to see trace logs from application

Actual result:
I'm abel to see lo

[2021-11-12 18:15] arashcomsense commented on #718
@kshyju I started using the dotnet-isolated:4 image but got the following error message when running`docker-compose up` after the build:

[code]

[2021-11-12 20:37] arashcomsense commented on #718
Closing this issue as [this answer](https://github.com/Azure/azure-functions-dotnet-worker/issues/718#issuecomment-967302439) addressed it.

[2021-11-12 20:37] #718 closed

[2021-11-12 20:53] arashcomsense opened #719 ".NET 6.0 Azure Function v4 dotnet-isolated fails to run in docker due to Microsoft.Azure.WebJobs.Host.FunctionInvocationException: Exception while executing function"
The docker file's using the following images:

[code]
The `.env` file has the following entry:

[code]
And the mentioned environment variables is referenced in the `docker-compose` file per the following line:

[code]

I am able to build and run the docker image but when placing an HTTP request, I get the following failure message:

This is how the `.csproj` targets the framework and runs flawless

[2021-11-12 21:34] arashcomsense commented on #719
@brettsam @kshyju any ideas on why I'm getting this failure?

[2021-11-14 13:31] ThreeSevenths commented on #434
@msftbot - Like many, I started looking at Functions in the simplest way possible - let me run something 1 minute into the future. On .NET3.1, this worked great. I then went to add EF Core, which needed to update logging to 5, and created a nightmare. The solution, it seemed, was to update to .net5, and use the new isolated process. As this thread attests, that has never worked. Like the original

[2021-11-14 20:26] realSergiy opened #720 "NRE accessing FunctionContext.RetryContext"
Hi, I am currently experiencing NRE trying to access the RetryContext. Please apply the defaults originally proposed.

_Originally posted by @fabiocav in https://github.com/Azure/azure-functions-dotnet-worker/pull/357#r602522856_

Kind Regards,
Sergiy

[2021-11-15 10:33] Rimast opened #721 "Headers missing from KafkaTrigger"
As per the documentation:

`
      public static string Run([KafkaTrigger("LocalBroker", "stringTopicTenPartitions",
        ConsumerGroup = "$Default", AuthenticationMode = BrokerAuthenticationMode.Plain)] string input,
        FunctionContext context)
{
 ...
}
`

Neither input or context parameters contain the headers.

n.b. in the previous, in-process version (Microsoft.Azure.WebJobs.Extensions

[2021-11-15 12:46] toralux commented on #556
I had the same problem when deploying from Visual Studio using Zip Deploy (so the suggestions about editing Dockerfile doesn't apply to me).

Switching from "Framework-dependent" to "Self-contained" fixed the problem for me.

![image](https://user-images.githubusercontent.com/422309/141784128-b73beebd-810c-4610-9679-318e4c728759.png)

[2021-11-15 19:56] ayrton97 commented on #702
Do you have any ETA for triage?

[2021-11-15 20:04] kshyju commented on #719
@arashcomsense Please refer [this ](https://github.com/kshyju/DotNetIsolatedDockerApp/blob/main/DotNetIsolatedDockerApp/Dockerfile)sample docker file which works for .net 6 oop function app.

[2021-11-15 20:10] arashcomsense commented on #719
@kshyju Thanks, I am going to give it a try.

[2021-11-15 20:49] arashcomsense commented on #719
@kshyju I compared my docker file with yours and mine does pretty much the same things as yours with a bit of difference in naming, aliases, etc. So, I did not find a reason to make any changes in my docker file. I observed a kind of behavior earlier today explained below:

- My http-trigger function in the function app has two stages: the first stage verifies a key-value pair and once the verific

[2021-11-15 21:43] kshyju commented on #719
@arashcomsense Can you please share a minimal repro of this issue? Link to a GitHub repo would be great.

I wonder if it is an issue where your code(from the container) is not able to connect to the database. Can you try swapping the real database with a mocked version/in-memory data store to see the issue still happens?

[2021-11-15 22:02] #612 closed

[2021-11-16 07:57] antyrama opened #722 "NET 5.0 function v3 - unable to override authorization level when running tests on Docker"
Hi All,

We migrated our functions from core3.1 to 5.0 and we end up with an issue running tests on Docker.

Function declaration:
`
[Function("workingAt")]
        public async Task<HttpResponseData> Run(
            [HttpTrigger(AuthorizationLevel.Function, "post", Route = null)] HttpRequestData req,
            FunctionContext executionContext)
`

Authorization level is set to `Function` and ov

[2021-11-16 12:30] arashcomsense commented on #719
@kshyju Quite frankly I don't know how to come up with a minimal repo to have it duplicate the issue. The reason is that our software is using a good number of other NuGet packages including Microsoft's. A minimal dockerized function app without those libraries works well for me.

[2021-11-16 20:00] nzthiago commented on #180
To be surfaced to the .NET isolated worker this depends on a host update related to this feature https://github.com/Azure/azure-functions-host/issues/7785, and requires further design decisions and prioritization, so for now [the documentation here](https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-guide#differences-with-net-class-library-functions) is up to date. Note

[2021-11-16 22:15] nzthiago commented on #654
Please note that at the moment the .NET isolated (i.e., out of process worker) doesn't have Cancellation Token support. To be surfaced to the .NET isolated worker this depends on a host update related to this feature https://github.com/Azure/azure-functions-host/issues/7785, and requires further design decisions and prioritization, so for now [the documentation here](https://docs.microsoft.com/en-

[2021-11-16 22:42] fabiocav commented on #692
@cataggar thank you for sharing the details. We're adding this to the backlog as an enhancement item, but for now, the approach you have in place is a valid workaround.

[2021-11-16 22:45] fabiocav commented on #682
Thank you for the update. Closing this as the deployment is completed, but please feel free to open an issue and reference this if you continue to run into problems.

Thanks!

[2021-11-16 22:45] #682 closed

[2021-11-16 22:51] fabiocav commented on #681
@alrod need to clarify here; can you confirm that sessions are supported for OOP, meaning, there is a mechanism to express properties and other metadata, including sessions (e.g. there's a payload format supported by the extension).

This means it would also be supported by something like JavaScript, Java, etc.

If so, can you please share the sample here? The one you've linked to is in-proc.

[2021-11-16 22:53] fabiocav commented on #678
@dvdvorle closing this as resolved, but please reopen if you continue to run into issues.

[2021-11-16 22:53] #678 closed

[2021-11-16 22:55] cataggar commented on #692
With .NET 6, I've switched us back to in-process for now.

[2021-11-16 22:58] fabiocav commented on #675
@andrew-tevent for the OOP model, this wouldn't be recommended or work as expected. The recommended approach would be to define that in app settings (which could continue to follow the hierarchy you have defined above) and would be automatically picked up by the host.

That also keeps secrets out of configuration files.

Would that approach work for you?

[2021-11-17 00:37] kshyju commented on #681
@alrod I tried to write to a service bus queue from an out of process dotnet app using `ServiceBusMessage` type which allows you to specify meta properties like `MessageId` and `Subject`. When I check the message in azure portal service bus explorer, I do not see the meta properties under the "broker properties" section. Instead all of those goes inside the JSON string for message content. This be

[2021-11-17 01:00] #686 closed

[2021-11-17 13:35] brettsam commented on #712
This looks like the same issue we're seeing in #681, where the message returned isn't properly setting the message-level properties. We may require a change in the SB extension to get this working. In the meantime, you should be able to use the SB client directly to insert your messages, which should give you all the control you need.

I'm going to close this as a duplicate -- if you read that iss

[2021-11-17 13:35] #712 closed

[2021-11-17 13:37] brettsam commented on #714
We've seen this in a few other places as well -- I think something with the ordering of the .NET SDK installation put things into a bad state. I'm glad you have figured this out and hopefully it helps others!

[2021-11-17 13:37] #714 closed

[2021-11-17 13:41] brettsam commented on #706
Could the string be case-sensitive? Can you try `UseDevelopmentStorage=true`?

[2021-11-17 14:09] arashcomsense commented on #414
@ThomasArdal I tried [`GetHttpResponseData()`](https://github.com/elmahio/Elmah.Io.Functions.Isolated/blob/065090253ff62d9eda54d6a00204996bd5f94235/src/Elmah.Io.Functions.Isolated/FunctionContextExtensions.cs#L33-L51) but the issue is that it overwrites the already-generated response object in the middleware executed after the function. For e.g. in my case, I need to add a header to every single

[2021-11-17 15:00] RyanMarcotte commented on #434
I am using Core Tools 3.0.3904 and the issue has been resolved for my timer-triggered function that was encountering the timeout problem.  Thanks!

[2021-11-17 16:46] brettsam commented on #714
For anyone else coming here -- this is noted in the .NET 6 known issues page now: https://github.com/dotnet/core/blob/main/release-notes/6.0/known-issues.md#2-upgrade-of-visual-studio-or-net-sdk-from-earlier-builds-can-result-in-a-bad-path-configuration-on-windows

[2021-11-17 16:53] ayayalar commented on #681
I am experiencing the same problem here. This minimal OOP session enabled function (using .net v6, function v4) fails with the following error:

[code]

**Error:**
System.Private.CoreLib: Exception while executing function: Functions.Search. Microsoft.Azure.ServiceBus: **_The SessionId was not set on a message_**, and it cannot be sent to the entity. Entities that have session support enabled can

[2021-11-17 17:24] ThomasArdal commented on #414
@arashcomsense Don't know. I think you should use StackOverflow or create another issue since that is out of the scope of this issue.

[2021-11-17 18:20] arashcomsense opened #723 "Unable to update or manipulate the existing HttpResponseData object in out-of-process Azure Function V4's middleware"
I have an out-of-process .NET 6.0 HTTP-triggered Azure Function App v4 which needs to add a custom header to every single produced response. The best approach is to write a middleware to take care of it for us but I could not "update" the existing `HttpResponseData` object produced by the function. Apparently there is no way to access an existing `HttpResponseData` instance.

This is how to access

[2021-11-17 19:23] aggieben opened #729 "loglevel in host.json not fully respected; trace and debug are never output"
I have a minimal function app here: https://github.com/aggieben/azure-function-v4.  The commit history is organized to explain exactly how it was created and the purpose of each change along the way.

The app is a dotnet-isolated function.  I used the `FunctionContext` to get an `ILogger` instance, and wrote logging statements at the Debug (and Trace levels, though that isn't shown in my example).

[2021-11-17 20:03] aggieben commented on #706
Yep, discovered this and updated my ticket in the sdk repo: https://github.com/Azure/azure-webjobs-sdk/issues/2783#issuecomment-970622883

[2021-11-17 21:14] fabiocav commented on #702
This will be discussed in the next design sync (week of the 29th) as it may require host changes.

[2021-11-17 21:17] fabiocav commented on #691
This is currently blocked until https://github.com/Azure/azure-functions-rabbitmq-extension/issues/173 is completed.

[2021-11-17 21:26] fabiocav commented on #646
Thank you for the update!

[2021-11-18 12:27] ThreeSevenths commented on #434
@fabiocav - It is fixed for me finally! I am running 3.0.3904 and I can debug again! Thank you all.

[2021-11-18 20:49] aggieben opened #725 "Dependency injection doesn't work for static function implementations"
I used the `dotnet new` templates (for dotnet-isolated) to create a simple example to compare styles of functions - a plain class implementation vs a static class / static method implementation.  See the difference here:

![image](https://user-images.githubusercontent.com/1321/142494101-ee864c1a-9c79-4b22-9e4d-256199dcb187.png)

These should ostensibly be identical in behavior, but the injected pa

[2021-11-18 22:19] kshyju commented on #725
The behavior you are seeing is by design. If you want dependency injection in your dotnet isolated projects, use a non static class and use constructor injection. Is there a reason you prefer to not do that? 🤔

[2021-11-18 23:20] jwisener commented on #434
@fabiocav it's still not fixed. Did anyone run the sample project I attached to this issue? Did that work? This is still an issue event in latest visual studio 2022

[2021-11-19 12:59] ilmax opened #726 "Question about out of process functions and custom QueueProcessor"
Hi, I have an azure function that uses a queue trigger and was trying to change the TTL of the messages inserted in the poison queue, since apparently this feature is not implemented by the framework, I went with a custom implementation of a `QueueProcessor` and a custom `IQueueProcessorFactory`, registered the latter in the DI container but my custom implementation is not picked up. I think that'

[2021-11-19 13:18] cleferman commented on #382
Would also be interested in having a setting per queue basis to avoid creating multiple function apps. I would also settle for some docs on how to customize the processor ourselves.

[2021-11-19 15:55] aggieben commented on #725
Yep - I'm actually writing my function in F♯, and it seems a bit more idiomatic to me to just use a function rather than a non-static type.  I realize that's really just an aesthetic preference 🤷‍♂️

[2021-11-19 17:10] cleferman commented on #404
Following up on this the Table attributes are missing from `Microsoft.Azure.Functions.Worker.Extensions.Storage` version `5.0.0-beta.4`. Are there plans to add them back? And will they make use of managed identity auth?
Meanwhile I believe I can use `TableServiceClient` from  `Azure.Data.Tables`.

[2021-11-19 20:47] #608 closed

[2021-11-20 14:56] pihai commented on #525
I just changed the type of the input binding to `byte[][] inputs` and it seems to work just fine.

However, the migration story from EventData is terrible. Would have expected a smoother transition.

[2021-11-20 19:46] JeroenvdBurg commented on #564
might it not be better to remove the dependency on .NET core 3.1 SDK ?

[2021-11-20 22:25] anthonychu commented on #564
If you are building a v4 .NET 6 app, you don’t need .NET Core 3.1.

v3 (.NET 5 isolated) apps still require .NET Core 3.1.

[2021-11-21 10:01] JeroenvdBurg commented on #564
@anthonychu  thnx for the reply.  Great to hear that the required 3.1 dependency is not needed anymore for .NET 6 function apps. When building a v4 .NET 6 function app (isolated) my devops pipeline still gives the error it needs 3.1

 FunctionApp3 -> /home/vsts/work/1/s/publish_output/FunctionApp3.dll
  Determining projects to restore...
  Restored /tmp/z0qlojya.fid/WorkerExtensions.csproj (in 7.9

[2021-11-21 21:40] anthonychu commented on #564
Update this and other dependencies in your app to the latest: https://www.nuget.org/packages/Microsoft.NET.Sdk.Functions/4.0.1

[2021-11-21 23:38] sanjaydebnath commented on #383
Same problem here on AKS hosted function (linux) but with 'Microsoft.AspNetCore.App', version '6.0.0'. I dont have any reference to <FrameworkReference> but I do have dependencies on a few nugets related to asp.net.

[code]

[2021-11-22 04:54] sanjaydebnath opened #727 "Isolated Process Azure function v4 with .net 6 fails on AKS (linux)"
We have multiple function apps running fine with .net core 3.1 and currently hosted in AKS (linux). We are moving all of the apps to .net 6 and func v4. While this works locally pretty good, its not same once deployed to azure environment with below error. While we dont have any direct dependency on the framework '<FrameworkReference>' but we do have multiple asp.net related packages

error
[code]

[2021-11-22 12:16] andrew-tevent commented on #675
@fabiocav Can you expand on what you mean?  I am defining it in app settings.

I handle my secrets with ARM Templates / KeyVault at deploy-time.

[2021-11-22 16:49] hkusulja opened #728 "Stopped working Service Bus trigger Function when using Managed Identity authentication on .NET 6"
After upgrading Azure Function application code from .NET 5 isolated, to .NET 6 isolated, connection from app to Service Bus is not working when using Managed Identity as authentication method for triggering the Function.
When using shared access key, it is working.

Error visible in application insights is "404 The specified blob does not exists", which is strange and unclear.
Can somebody check

[2021-11-22 17:24] v-bbalaiagar commented on #729
Transferred this issue to core tools for further investigation.

[2021-11-23 00:57] kshyju commented on #727
The `Microsoft.AspNetCore.App` runtime was not included in the Linux images.  This was fixed last week in this PR: https://github.com/Azure/azure-functions-docker/pull/562.

Give it a few days for the newly built image with this fix to be available. I will post an update when it is available. Thanks!

[2021-11-23 01:10] sanjaydebnath commented on #727
Cool. Thanks for the update.

[2021-11-23 08:51] michielvoo commented on #186
As a workaround I have set `AzureWebJobsServiceBus` in `properties/launchSettings.json` and added that file to `.gitignore`. This file does not need to be published (e.g. `<CopyToPublishDirectory>never</CopyToPublishDirectory>`). When running locally this is shown in the console:

So I've set the value in local.settings.json to `"secretLaunchSetting"` as a reminder that the value can be found else

[2021-11-23 14:23] tovich37 commented on #423
Any news about workaround? (.NET 5 or .NET 6)

[2021-11-23 16:24] hkusulja commented on #728
Reference: #25480

[2021-11-23 17:29] hossmous commented on #619
Any idea if this is available now (function 4.0)?

[2021-11-23 22:12] fabiocav commented on #706
Closing as there was a follow up in the WebJobs repo

[2021-11-23 22:12] #706 closed

[2021-11-23 22:36] fabiocav commented on #685
Thank you. It does look like there's an issue with this and we'll take a closer look.

In the meantime, it would be good to validate the serializer you're using, and we can't tell what that is because the namespaces aren't visible. Can you please share your usings or confirm the `JsonSerializer` type you're using?

[2021-11-23 22:41] fabiocav commented on #675
@andrew-tevent can you clarify what `ConnectionStrings` section you're referring to? Is that what is in the portal?

[2021-11-23 22:44] fabiocav commented on #705
For the `/api` base route, you can use `host.json` to modify that.

Documentation for that is available [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook-output#hostjson-settings)

[2021-11-23 22:44] #705 closed

[2021-11-23 22:54] fabiocav commented on #715
@WestDiscGolf some of those convenience methods are indeed not present for `HttpRequestData`, so the guidance is to do something similar to what you're doing and craft the responses.

We have some work tracked by @anthonychu, to add some of those improvements.

[2021-11-23 22:54] #715 closed

[2021-11-23 23:03] fabiocav commented on #716
An easier/more appropriate approach is to implement your own `IFunctionActivator` and register that at startup. This is the intent of that API, giving you the ability to customize activation of those types.

Closing as answered, but let us know if you have any additional questions.

[2021-11-23 23:03] #716 closed

[2021-11-23 23:05] alrod commented on #681
Output bindings currently does not support setting message properties other poco or primitive types.
https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-java?tabs=bash%2Cconsumption#data-type-support

[2021-11-23 23:07] fabiocav commented on #717
That's expected in 4.0, as proxies no longer exist.

We should have [this test](https://github.com/Azure/azure-functions-dotnet-worker/blob/021fcb868981527587b74b7bfd2fe4062a144bef/test/E2ETests/E2ETests/HttpEndToEndTests.cs#L67) conditional and, if running against 4.0, skip it.

[2021-11-23 23:12] fabiocav commented on #720
I'm assuming the null reference you're getting is with a scenario where the context is null (as opposed to somewhere else when the feature is enabled), is that correct?

If so, what version of the host are you running against? This information should not be null coming from the host, so if this is happening in a recent version, we may need to take a look there as well.

If you can share your code,

[2021-11-23 23:17] kshyju commented on #719
@arashcomsense If a minimal dockerized app is not reproducing the error, it is hard for us to debug the issue you are running into. Probably some of your dependencies are causing the issue. I suggest removing some of those dependencies and narrowing it down to figure out which dependency is causing it.

Closing this issue as there is no action item needed from our side. Thanks!

[2021-11-23 23:17] #719 closed

[2021-11-23 23:38] JustinGrote commented on #370
Now six months without any mention of what discussion is needed @fabiocav.

@anthonychu @jeffhollan maybe you can weigh in?

[2021-11-24 01:10] kshyju commented on #720
@realSergiy Also, did you have a [retry policy](https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#retry) defined for your app?

[2021-11-24 07:57] newbazz commented on #281
do we have any framework to unit test out-of-process azure functions?

[2021-11-24 08:35] WestDiscGolf commented on #715
@fabiocav Thanks for taking the time to respond. Is there any roadmap options to be able to access the routing data for all registered azure functions similar to ASP.NET Core at runtime? Or more guidance on which constructs would be best to use for creating them through similar methods as my linked example? The hand crafting of string based routes or through clunky reflection doesn't feel ideal 😉

[2021-11-24 09:38] andrew-tevent commented on #675
@fabiocav I'm talking about these - configured in `appSettings.json`

![image](https://user-images.githubusercontent.com/78795042/143211852-a5aa1db1-deb4-44b0-a1b2-d44024fd187c.png)

Which are accessible using `IConfiguration`:

![image](https://user-images.githubusercontent.com/78795042/143212014-435b4fcd-ef06-43b7-ade4-aa59417ecaf1.png)

Which can then be overridden in ARM Templates:

![image](h

[2021-11-24 20:16] arashcomsense commented on #723
@fabiocav Just wondering, any updates or progress on this issue?

[2021-11-24 20:29] dev-jla commented on #602
is this being looked at?

[2021-11-24 20:41] kelps opened #730 "Question: Is it possible to change the loglevel for an Azure Function in isolated mode without new deploy?"
Is it possible to change the loglevel for an Azure Function in isolated mode (running in .NET5 now, but soon in .NET6), without being forced to deploy a full new version just to change the host.json file? Everything I found so far says I have to change host.json.

[2021-11-25 09:30] kelps commented on #423
As a workaround, I thought of adding a custom logger factory that would create an ILogger that doesn't flow through the host GRPC channel and would connect directly to Insights. In theory it should work, but we would loose all console and stream logs in Azure and local dev and would be forced to rely on Insights for ANY diagnostics. If we try to keep the connection to GRPC, to also show in the str

[2021-11-25 12:19] michielvoo opened #731 "Is there an ActivitySource or DiagnosticSource that can be listened to?"
We are setting up distributed tracing across multiple applications, some of which are Azure Functions worker applications (the `dotnet-isolated` runtime v3 and targeting .NET 5). We do not use Application Insights. What, if any, diagnostic source should we listen to in order for the runtime to start and stop an activity for each function invocation?

For context, here's how one could listen to the

[2021-11-25 17:43] Arash-Sabet commented on #281
@fabiocav Any updates or availability ETA on this feature?

[2021-11-26 01:00] #434 closed

[2021-11-27 17:54] michielvoo commented on #731
I have found that there are several OpenTelemetry contribution packages for .NET available in [the opentelemetry-dotnet-contrib repository here on GitHub](https://github.com/open-telemetry/opentelemetry-dotnet-contrib/tree/main/src), including one for AWS Lambda. Will Microsoft publish a similar contribution there, or will OpenTelemetry support be part of a future runtime release?

[2021-11-29 08:39] newbazz commented on #501
hello all,
I am stuck while testing, I need to set Query for a mock object, the code snippet is given below.
[code]

[2021-11-29 09:07] tovich37 commented on #423
Good idea, but what about the "End-to-end" functionality? Because I tested with Serilog (directly in Application Insight) and I lost this functionality.

I also agree with @kelps, this bug is very serious.

[2021-11-29 10:54] colgreen opened #732 "HttpTrigger route case sensitivity - support with a new config option?"
We are developing a new REST API using Azure functions (using the isolated process hosting). I thought it would be beneficial to enforce URL path case sensitivity, as per this entry in the [MS Azure API Guidelines](https://github.com/microsoft/api-guidelines/blob/vNext/azure/Guidelines.md):

Is there a simple way of achieving this? I think ideally it would be a built-in config setting.

I think it

[2021-11-29 15:31] stap123 opened #733 "Does anyone watch this anymore?"
Just wanted to try and draw attention to this issue which seems to have been ignored since it was raised and is quite concerning. Can someone on the team provide a response or ping whoever should be monitoring?

https://github.com/Azure/azure-functions-vs-build-sdk/issues/512

[2021-11-29 15:35] alsami opened #734 "EventSource FunctionsEventSource throws 'System.OutOfMemoryException'"
Hello,

after upgrading some functions that consume event-hubs to the isolated variant with .NET 6 and Azure Functions 4, there is a strange behavior.

I keep on seeing this log entry in application-insights:
`AI (Internal): [FunctionsEventSource] ERROR: Exception in Command Processing for EventSource FunctionsEventSource: Exception of type 'System.OutOfMemoryException' was thrown.`

Interstingly,

[2021-11-29 18:17] amikapoor commented on #312
@brettsam Similarly, the `[Singleton]` attribute does not seem to work either. Is there any work around or fix planned for this?

[2021-11-29 18:59] amikapoor opened #735 "`[Singleton]` and `[Disable]` attributes don't work"
After upgrading to the new azure functions worker runtime, I noticed that both the `[Singleton]` and `[Disable]` attributes don't work.

Looks like there is a workaround for the `[Disable]` attribute by having a setting.

Is there a workaround for having functions be singleton?

[2021-11-29 19:55] Francisco-Gamino commented on #717
Thank you @fabiocav for the update. Could you please find a owner for this work item in your team?

The worker is now onboarded for integration testing for V4 and the `$env:FUNCTIONSRUNTIMEVERSION` environment variable could be used to skip the test. E.g., https://github.com/Azure/azure-functions-dotnet-worker/blob/main/azure-pipelines.yml#L46.
For  V4 integration testing, the value is set to `'4'

[2021-11-30 08:41] nixa333 opened #736 "EventGridTrigger batching not working"
I'm currently unable to get EventGridTrigger to work with batches.
My function uses .NET 5.0 dotnet-isolated runtime with the following trigger:
[code]

I've tried using
[code]
but that just crashes the function.

`EventGridTriggerData` is
[code]

I've set up the Event subscription on my Azure BLOB storage account and enabled batching, however my code is triggered once per each BLOB that lands in

[2021-11-30 20:11] lopezbertoni commented on #382
Hi, got here and surprisingly I answered the SO question 😃 . Any updates on this for .NET 5/6 using the isolated worker hosting model? Currently running on .NET 3.1 but we want to upgrade and this would be needed for that matter.
Configuring via code or **host.json** would be nice.

[2021-11-30 21:32] fabiocav commented on #523
@AnatoliB is this something you'd be able to look at? Thanks!

[2021-11-30 21:33] fabiocav commented on #702
@kshyju assigning this to make sure someone is on point to drive the design discussion.

[2021-11-30 22:14] fabiocav commented on #733
Thank you for raising this. We're following up there.

[2021-11-30 22:14] #733 closed

[2021-11-30 22:19] fabiocav commented on #736
@nixa333 we'll need to investigate this before we can provide any guidance, but it does seem to be a defect if this is happening as described. We'll work on setting up a repro, but if you have one built, that would help ensure we're validating the same flow.

Can you also share the version of the Event Grid package you're using?

[2021-11-30 22:20] fabiocav commented on #734
Can you share more information about the plan you're using and whether you have 64-bit enabled? Thanks.

[2021-11-30 22:28] fabiocav commented on #731
@michielvoo there is work currently in progress for host instrumentation to do exactly what you're requesting. We'll also be tracking worker specific events you can listen to.

Doesn't look like we have a specific issue tracking what you're looking for on the repo at the moment, so I'm leaving this one open.

There will be a number of enhancements made in logging, and we're tracking them here http

[2021-11-30 22:29] fabiocav commented on #731
@brettsam @kshyju for awareness.

[2021-11-30 22:31] fabiocav commented on #730
Any configuration supported by host.json can also be specified using app settings, which would address your requirement.

In order to do that, you can follow the pattern documented [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#azurefunctionsjobhost__)

[2021-11-30 22:31] #730 closed

[2021-11-30 22:33] fabiocav commented on #727
Closing this as answered, but please let us know if you have any other issues.

[2021-11-30 22:33] #727 closed

[2021-11-30 22:36] fabiocav commented on #726
This is not an option with the OOP model and currently, we have no plans to expose this. The primary mechanism for this would be to expose additional configuration settings to control the behavior of the extensions as needed.

[2021-11-30 22:36] #726 closed

[2021-11-30 22:40] fabiocav commented on #725
@aggieben we do intend to provide a binding that would resolve from services, but that isn't in place at the moment. In the meantime, the information shared above by @kshyju is the current behavior, but I hope this helps.

[2021-11-30 22:40] #725 closed

[2021-11-30 22:42] fabiocav commented on #729
@aggieben this is captured here: https://github.com/Azure/azure-functions-dotnet-worker/issues/602

Let us know if you feel there's something missing in the issue above. Thanks!

[2021-11-30 22:44] fabiocav commented on #723
We're working through some of those details as part of https://github.com/Azure/azure-functions-dotnet-worker/issues/530, so I'll close this in favor of that issue.

Thanks!

[2021-11-30 22:44] #723 closed

[2021-11-30 22:58] fabiocav commented on #675
My previous comment applies, but only for input and output bindings. Setting that from a file configuration source for triggers has limitations.

Setting those using App Settings and Key Vault references is the recommended approach.

[2021-11-30 22:58] #675 closed

[2021-12-01 04:00] #720 closed

[2021-12-01 06:00] alsami commented on #734
Yes, certainly.

I am running the functions with a serverless windows consumption plan and I have enabled 64-bit for the function.

Yesterday, for testing purposes, I've switched to Linux by recreating the function and there the executions have been reported but also only very sporadic with sometimes gaps of more than 7 minutes.

Please let me know if you need more information.

[2021-12-01 10:49] sanjaydebnath commented on #727
@fabiocav @kshyju Do we know if the images are updated? Or how can I check if the PR is merged & released already?

[2021-12-01 14:15] nixa333 commented on #736
@fabiocav the code is actually as simple as what I've attached in the original post. Plain .NET 5.0 function with `EvebtGridTrigger` does not work.

[code]

Here's a screenshot of all nugets with versions
![image](https://user-images.githubusercontent.com/6515226/144246259-6e8c9d7c-de07-459e-bbaa-80542ae8a871.png)

And important part of the `.csproj`
[code]

host.json
[code]

As far as the Azure p

[2021-12-01 16:15] kshyju commented on #727
@sanjaydebnath Not yet. There was a deployment freeze last week due to holidays. I will post an update in this thread when the deployment is done, and images are available.

[2021-12-01 17:24] AsierVillanueva opened #737 "A 'To' address must be specified for the message using SendGridOutput"
When I try to send a email with SendGrid binding the Azure Function output with SendGridOutputAttribute then function fail with this error: A 'To' address must be specified for the message.

I use .NET 5.0 dotnet-isolated runtime.

Sample code:

[code]

When I call the function the response is:

![image](https://user-images.githubusercontent.com/13245640/144282809-5948cef0-10f5-4df6-950b-be3e39579

[2021-12-01 21:19] fabiocav commented on #736
Adding this to the backlog for sprint assignment.

[2021-12-01 21:49] fabiocav commented on #685
@smokedlinq if possible, it would be great to get a repro on this, as we're seeing different results when following what you've described above. Would you be able to share a link to a repo showing a minimal repro? Thanks!

[2021-12-01 21:50] fabiocav commented on #685
Some additional context; @kshyju setup a repro [here](https://github.com/kshyju/EventGrid-685)

[2021-12-01 22:00] fabiocav commented on #655
Flagging this for discussion/design.

For clarity, the difference here is not between v3 and v4, but instead, between in-proc and out-of-proc models. One of the potential solutions is to expose a configuration we could use for any of the supported languages, but we need to discuss.

[2021-12-02 03:49] kshyju commented on #737
Thanks @AsierVillanueva for reporting the issue.

From the initial investigation, it looks like this is caused by the conflicting JSON serializers being used (SendGrid `Personalization` type [uses JSON.NET](https://github.com/sendgrid/sendgrid-csharp/blob/e1a47e97bfe8f7d7cff3e44850c4e9e928007ef6/src/SendGrid/Helpers/Mail/Model/Personalization.cs#L21) while the isolated worker uses System.Text.JSON

[2021-12-02 05:49] AsierVillanueva commented on #737
Confirmed, with JSON.NET as serializer works fine.

[2021-12-02 08:15] AsierVillanueva commented on #737
As a workaround, it would be possible to set a serializer only for a specific function?

[2021-12-02 11:08] kelps commented on #730
It did work, almost as expected. If I use the ILogger provided by the FunctionContext I can see all levels of log configured in the host.json file or app dashboard settings, even trace and debug. But if I use injected ILogger<T> in my inner code, I can only use up to Information, no matter what I configure either at host.json or the dashboard.

By "see", I mean both in the stream and on Azure Insi

[2021-12-02 12:13] bricenocar commented on #423
Is there any plan to fix this bug soon? We recently upgraded to .NET 5 and this caused an issue now with our structured logs in app insights.

[2021-12-02 14:18] aggieben commented on #729
Thanks @fabiocav , I'll track it from there.

[2021-12-02 19:14] cgillum opened #739 "Improved middleware support to enable Durable Functions"
Orchestrator functions in Durable Functions have some very special requirements in terms of how they deal with inputs, outputs, and invocation. In WebJobs, we were able to take advantage of abstractions like invocation handlers to inject trigger-specific middleware into the orchestrator function execution pipeline. This was needed so that we could wrap the function execution in the body of a Durab

[2021-12-02 22:50] cgillum opened #740 "DefaultMethodInfoLocator can't locate internal function methods"
The build process allows me to define functions using internal classes and internal methods, like the following:

[code]

The Functions host correctly detects these functions, as can be seen by the console output after pressing F5.  However, shortly after startup, the .NET worker throws an `InvalidOperationException` because it can't find the function method.

The following is the code snippet whe

[2021-12-03 00:35] kelps commented on #423
@bricenocar the problem only happens when running in dotnet isolated mode. If you migrated to .net5, you probably can make your functions using "int process" mode, and there structured logs work. (Unless you changed to isolated in .net5 to take advantage of some of the new features. In that case, no luck yet, except if you try something similar to what I suggested above...)

[2021-12-03 08:44] bricenocar commented on #423
Thanks for the answer @kelps. I will try to fix it with your workaround :). Will let you know if it works.