[2022-10-18 16:56] gautamsamal commented on #1129
A custom logger will probably work and I will try that soon. Also open to implement workarounds to achieve the following part, if there is any?

[2022-10-18 17:04] jviau commented on #1128
Unfortunately, we do not have the equivalent APIs in v4. This is because your response payload needs to be proxied over gRPC back to the worker before ultimately returning to the caller. The closest is [HttpResponseData.Body](https://github.com/Azure/azure-functions-dotnet-worker/blob/main/src/DotNetWorker.Core/Http/HttpResponseData.cs#L36). However, be aware that due to the way gRPC library works

[2022-10-18 17:08] jviau commented on #1129
Can you share the code on how you construct the actual logging in your real-world example?

[2022-10-18 17:16] gautamsamal commented on #1129
@jviau I use the DI and create `ILogger` in the constructor of the Queue Trigger.
[code]
Then I after doing required operations, I send the message to the service bus which is wrapped in a static class. It does accepts the `ILogger` param that is going to be used for the receiver handler.
Something like -
[code]

[2022-10-18 17:43] jviau commented on #1129
I am not sure why the logger does not work for you that way. Have you verified that log statement is being invoked?

However, in v4 this approach is not recommended - the lifetime of a worker is not guaranteed outside of any active function invocation. Workers may be shutdown by the host at any point. https://learn.microsoft.com/en-us/azure/azure-functions/performance-reliability#make-sure-backgro

[2022-10-18 18:11] kshyju commented on #74
Completed with #799

[2022-10-18 18:11] #74 closed

[2022-10-18 18:41] gautamsamal commented on #1129
thanks. I am not sure either. The handler does execute and process an elaborate flow without logging. I'll checkout other logging options to see if that works.

To be able to run background process, we are using app service plan with "Always On" set. That seems to work perfectly.

[2022-10-18 18:52] jviau commented on #1129
The "Always On" may not be applicable to v4. As this is not app services managing the lifetime of your worker, but the functions host. The host will be scaling worker in/out as necessary. Scaling in may terminate whatever worker which has this receiver in the background.  @fabiocav / @kshyju / @brettsam to correct me if I am wrong.

[2022-10-18 20:47] wyatt-troia-msft commented on #989
Getting the same error with Version 17.4.0 Preview 4.0 and

[code]

[2022-10-18 21:19] kshyju commented on #989
If you are still running into issues even after installing [preview 3 or later](https://visualstudio.microsoft.com/vs/preview/), It is possible that VS failed to automatically update the azure functions tools to latest version. You can manually update this using the Options dialog.

**Tools** -> **Options** -> **Projects & Solutions** -> **Azure functions** and click on the "**Check for updates**"

[2022-10-18 22:24] kshyju commented on #618
Fixed by #841

We currently produce a build error when an isolated function app has a reference to `Microsoft.NET.Sdk.Functions` package.

![image](https://user-images.githubusercontent.com/144469/196556274-1db57050-f5d0-4e52-a711-4c5052daddb6.png)

[2022-10-18 22:24] #618 closed

[2022-10-18 22:32] kshyju commented on #743
You should be able to customize the port number to be used via launchsettings.json file. I was able to verify this in a .NET 6 isolated function app and VS 2022 17.3.6 (latest stable as of today)

![image](https://user-images.githubusercontent.com/144469/196557305-7bc64558-65dc-4eba-a22e-640367001c91.png)

![image](https://user-images.githubusercontent.com/144469/196557193-f6e821a4-1fb7-44e9-96be-

[2022-10-18 22:44] kshyju commented on #672
Cancellation tokens are supported now. See https://github.com/Azure/azure-functions-dotnet-worker/issues/180#issuecomment-1260090174

Let us know if you have trouble using it. Thanks!

[2022-10-18 22:49] satvu commented on #854
closing as PR has been merged

[2022-10-18 22:49] #854 closed

[2022-10-19 06:54] sergiosolorzano commented on #1127
found the culprit, had upgraded to func v4 and had to update csproj <AzureFunctionsVersion>v4</AzureFunctionsVersion> . However I also need to remove "AZURE_FUNCTIONS_ENVIRONMENT":  from local.settings.json file to debug locally

[2022-10-19 14:03] vdboots commented on #1106
hi,  I would like to use Signal R binding information

[code]

i would like to force the user id from my own function without using any parameters like this

`            var connectionInfo = await binder.BindAsync<SignalRConnectionInfo>(new SignalRConnectionInfoAttribute
            {
                HubName = _hubName,
                UserId  = GetMyUserName(CertificateByteArray,
            });

[2022-10-19 18:20] kshyju commented on #1120
Completed with https://github.com/Azure/azure-functions-ux/pull/6926

[2022-10-19 18:20] #1120 closed

[2022-10-19 18:28] #1128 closed

[2022-10-19 18:37] kshyju commented on #1129
@gautamsamal Would you be able to share a minimal repro so that we can take a close look? A GitHub repo will be great. Thanks!

[2022-10-19 19:38] Alan-Hinton commented on #936
This issue has be marked as closed, but I believe the original issue still exists.  I have updated my [minimal example](https://github.com/resgroup/azure-functions-middleware-status-code) to all the latest packages and copied the changes from the sample.  But I am still seeing the same behaviour: if an http triggered functions with `void`  or bare `Task` return type throws an exception the request

[2022-10-19 19:55] jviau commented on #1123
To get additional configuration sources, like `appsettings.json`, we can use this sample as starting point example: https://github.com/Azure/azure-functions-dotnet-worker/blob/main/samples/Configuration/Program.cs#L20. From there we can add additional configuration sources like any other console app:

[code]

Alternatively, you can use this style to get several other defaults added:

[code]

With

[2022-10-19 20:43] Assassinbeast opened #1133 "Scoped service bug"
I have Scoped lifetime problem with Isolated runtime.

It looks like there are two scoped lifetimes for one http request.
One for the "Middlewares" and one for the "Function".

Here is my code:

**Startup.cs**
[code]

**Function1.cs**
[code]

When i call "http://localhost:7071/api/Function1", then it will log this out:

Its expected that there should be 1 scoped lifetime in one http request, where

[2022-10-19 21:16] kshyju commented on #1133
Dupe of #811

[2022-10-20 09:55] wkoeter commented on #1126
Great, thanks for the explanation and the efforts. We will be looking forward to outcomes of the evaluation of this scenario.

[2022-10-20 12:41] emilssonn commented on #1123
@jviau
I cannot get logging to work below the default level of Warning. I do not understand what is wrong with the configuration.

With the following setup only Warning, Error and Critical levels are logged in application insights when deployed to Azure, windows app service.

[code]
Program.cs:

[code]

Appsettings:
[code]

Function:
[code]

[2022-10-20 16:39] jviau commented on #1123
For some reason application insights registers a [hard-coded warning filter](https://github.com/microsoft/ApplicationInsights-dotnet/blob/main/NETCORE/src/Shared/Extensions/ApplicationInsightsExtensions.cs#L421) to their provider. You can remove it with the following code:

[code]

[2022-10-20 17:07] #1087 closed

[2022-10-20 17:24] cloudmelon opened #1134 "Tooling feed update"
Feed changes are still required,  but to “description”, not to anything else. If you want to remove Isolated, simply remove Isolated from that string,
add Standard Terms Support ( STS ), this should be in place of LTS or Preview. For Isolated versions, Isolated should always be listed first. See below.

We use the displayInfo.targetFramework property to determine if we need to append the v1 or v4

[2022-10-20 18:00] BijanSafai opened #1141 "Using byte[] input binding type for azure function service bus trigger in batch de-queue mode"
My team and I have been developing an azure functions based service leveraging the service bus trigger extension.

The messages we are dequeuing from the service bus have been compressed so we deque them as byte[] (as specified in the docs here: https://learn.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus-trigger?tabs=isolated-process%2Cextensionv5&pivots=programming-lang

[2022-10-21 02:51] AltusBaard commented on #1123
Thanks @jviau, made use of this solution this morning to get our information logs to work, any idea if there is going to be a fix from MS for this?

[2022-10-21 03:08] kshyju commented on #1133
@Assassinbeast Please take a look at the dupe linked above. Let us know if you still have questions. Thanks!

[2022-10-21 09:04] pihai opened #1135 "ReceiverRuntimeMetric no longer available on EventHubTrigger"
As shown in [this post](https://dylanm-asos.medium.com/azure-functions-event-hub-processing-8a3f39d2cd0f) with the previous version it was possible to inject a `PartitionContext` with runtime metrics populated into an Event Hub triggered function.

The only thing needed was to add a `PartitionContext` parameter to the function and a little bit of configuration in the `hosts.json`:

[code]

[code]

[2022-10-21 16:10] kfallstrom opened #1137 "Guidance / modification for mocking / testing middleware GetInvocationResult<T>"
So far, we have been successful at building dotnet-isolated middleware, but are trying to write unit tests to cover our Middleware's output, and the protection level for IFunctionBindingsFeature seems to be the main issue.

Even with Mocks and TestDoubles copied from the current branch, the tests fail whenever I use the extension context.GetInvocationResult<>() this particular method is impossible

[2022-10-21 17:20] jviau commented on #1123
I wouldn't say there is anything to "fix". It is a choice the appinsights team made - wether we agree with it or not. In the end consumers of the appinsights SDK are not blocked from customizing it - the extensibility of the logging API is working as intended here (the end application is ultimately in full control and can undo/adjust what other packages have configured). You can also solve it via

[2022-10-21 18:19] sergesountsov commented on #1123
This 👆 definitely does not work. This 👇does not work either
[code]

[2022-10-21 22:11] fmichellonet commented on #968
Trying to reach the same goal and spawn a new host like in @jezzsantos example, but stuck at the grpc init too.

I've noticed grpc parameters (host, port, workerId, requestId, grpcMaxMessageLength) are read from commandline arguments [here](https://github.com/Azure/azure-functions-dotnet-worker/blob/db4703807436779061264adc0fdea1a017ff84cc/src/DotNetWorker/Hosting/WorkerHostBuilderExtensions.cs#L1

[2022-10-22 07:14] amitjaura commented on #989
Thanks @kshyju , this resolved the issue.

[2022-10-22 22:37] WestDiscGolf commented on #884
I've been trying to find a solution for BlobTrigger and to get a `Stream` of the input as per the in memory example. Is there an ETA on when this will be supported in isolated mode? Thanks

[2022-10-24 06:19] wkosten1982 commented on #884
As alternative solutions we decided to use system topics with a blob created event that sends the event to a storage queue. Having a queue trigger function picking up the event and process the data how we want.

[2022-10-24 07:35] WestDiscGolf commented on #884
@wkosten1982 Interesting. Thanks for the reply. I'm assuming this can all be done locally as well using Azurite as it also is the queue emulator as well as the blob storage?

[2022-10-24 10:31] gt-adam opened #1146 "Azure Function V4 Http Trigger - 503 Service Unavailable Intermittent Issue"
One of our Azure Functions (Http Trigger) is returning 503 service unavailable to us intermittently, after migrating from v3 to v4 when being called by our service bus trigger function. We are unable to diagnose the exact root cause of this issue, therefore  would it be possible for you to examine why this response is being returned to us?

The most recent 503 errors occurred at:

- Oct 23, 2022 @

[2022-10-24 12:24] EmilDamian commented on #1003
The same issue here, consumption finished on 7 ms with succes (auto), but lock expired after 12 seconds.

[2022-10-24 13:49] Sn00z3r opened #1138 "Question: Local development logging to console"
All,

I'm aware this might not be the best location to ask this as this is not an issue, however I'm hoping somebody can enlighten me.
I'm creating an isolated .net6 azure function and I'm having some issues with logging when running locally.

The issue is that I don't see any logging from my contructors or initalization services (which are added as hostedservice), this is probably because azure c

[2022-10-24 14:23] Sn00z3r commented on #1138
Feel free to close if this is the wrong repo to ask this, but if you could point me to where I need to be that would be great :)

[2022-10-24 15:05] EnemyArea commented on #796
I have added an new issue: https://github.com/Azure/azure-sdk-for-net/issues/31967

[2022-10-24 16:48] jviau commented on #1123
Ah I guess their comment is incorrect then. Looks like they have some issues regarding this already: https://github.com/microsoft/ApplicationInsights-dotnet/issues/2610. Feel free to leave a comment there asking them to change this behavior. But that is outside of our repo's scope.

Do you need any additional assistance with the original issue here?

[2022-10-24 18:17] sergesountsov commented on #1123
The only way to get isolated Azure Function to log Information/Trace etc. to AppInsights is the rather ugly hack mentioned in (https://github.com/Azure/azure-functions-dotnet-worker/issues/1123#issuecomment-1286389808). None of the suggested configuration changes seem to work. If you feel that this is the way to go and outside of scope for current repo, I guess I'll stick with it.

[2022-10-24 20:13] jviau commented on #1123
Unfortunately, it is out of scope for our repo. Even though I agree it is not an ideal scenario and the workaround isn't pretty, we do not own that code and is not our place to change it. However, we do have plans to improve our telemetry experience all up, which includes supported OpenTelemetry SDK. Their AzureMonitor exporter (which is what you would use to send to AppInsights in the OTel SDK wo

[2022-10-24 20:13] #1123 closed

[2022-10-24 20:18] jviau commented on #1138
Hi @Sn00z3r - we do not add the console logger by default. To add the console logger, please add this to your host building call:

[code]

If you want it for local development only, you will need to play around with the code above to only add console in that environment.

[2022-10-24 23:51] MacMcDell opened #1139 "How to unit test with HttpResponseDataExtensions? V4 .net 6 Isolated"
This can be deleted. I ended up forking this guys project and riffing off it for my needs. Unit testing V4 .net6 is painful.  The https://github.com/lohithgn/az-fx-isolated-unittest/blob/main/test/Microsoft.Azure.Functions.Isolated.TestDoubles/MockFunctionContext.cs

[2022-10-25 08:11] MO2k4 opened #1140 "Logging shows no output from functions"
Hey

i am using Microsoft.Azure.Functions.Worker.ApplicationInsights 1.0.0-pre3 and i can't see any output from my own logging inside the functions.

Currently my code looks like this:

[code]

The last line was needed to get the logging towards Application Insights working. There was an issue mentioned by @brettsam

My function uses the ILogger<T> from the DI, but i can't see anything on the cons

[2022-10-25 09:17] ijagberg opened #1187 "Can't see logs from `ILogger<T>.LogDebug` when running Functions locally"
I use a dependency injected `ILogger<T>`, as such:

[code]

Running my Functions locally (`func start --csharp`), I am unable to see any logs with log levels below `Information`. In the example above, I can see "information", but not "debug".

I have tried many different permutations of my `host.json` file, including:

[code]
but it has no effect. The only way I've been able to see these logs is b

[2022-10-25 11:40] emilssonn commented on #1123
@jviau @sergesountsov Am I missing something or, when I remove the hard-coded filter the default becomes information with no way to override by config?

The following still writes information logs from "Microsoft.EntityFrameworkCore.Database.Command".
[code]

[2022-10-25 16:45] jviau commented on #1123
It is possible there are other configuration sources overriding your values, or these values are not actually brought in (maybe it isnt set to copy to output or something like that). I recommend debugging and examining `LoggerFilterOptions` after it is fully built (can import it to some service via `IOptions<LoggerFilterOptions>`) and checking what the final filters are.

[2022-10-26 04:01] #672 closed

[2022-10-26 04:01] #743 closed

[2022-10-26 05:00] #1119 closed, assigned to fabiocav

[2022-10-26 05:10] demyte opened #1142 "Isolated function not working in Azure (NET7 RC2)"
Hi,

I have built a simple net7 isolated function and cannot get it to work in Azure.

This is a link to a repository that shows the issue: https://github.com/demyte/repro-azure-functions-net7-issue-02

Based on what the log is saying, it looks like NET7 RC2 is not available as a runtime in the isolated image yet?

It seems if I flag it as "Ready To Run" using the additional project file directive

[2022-10-26 07:24] elsand commented on #1140
Duplicate of #1090 ?

[2022-10-26 07:53] emilssonn commented on #1123
If anyone has the same problem. If you use `new HostBuilder()` and not `Host.CreateDefaultBuilder()` you also need to add the following:
[code]

[2022-10-26 08:17] MO2k4 commented on #1090
@elsand is the workaround with pre2? With pre3 it does not work at my end ;-(

[2022-10-26 13:26] Sn00z3r commented on #1138
Hi there,

That doesn't do anything. I can't see any log messages from anything earlier than the actual function run.

Also have no way to granular change the loglevel to specific namespaces so I don't see the information logs from azure functions sdk myself (e.g. omit all the function ran successful messages :))

Best regards!

[2022-10-26 18:12] liliankasem commented on #1080
- We found a [bug with DefaultTypes](https://github.com/Azure/azure-webjobs-sdk/issues/2930) that makes this specific scenario not work - this is a breaking change that may need to be addressed with 5.0
- We opted to make ParameterBindingData modal, meaning if an input binding uses an expression, the trigger binding will not use ParameterBindingData (the input binding will continue to use Paramete

[2022-10-26 18:12] #1080 closed

[2022-10-26 19:01] #1129 closed

[2022-10-26 19:24] jmrtnz94 commented on #1118
Before they do that it looks like a PackageReference needs to be updated.

![image](https://user-images.githubusercontent.com/8380813/198117968-8ef512e9-57d6-4941-8942-1e329684c2eb.png)

Update to `Microsoft.Azure.WebJobs.Extensions.Tables`.

[2022-10-27 07:23] elsand commented on #1090
@MO2k4 It works for me using the latest preview packages at the time of writing (Worker 1.11.0-preview2, Sdk 1.8.0-preview2, Insights 1.0.0-preview). The output is not very readable though, but I suppose one could add a custom formatter.

But I'm expecting this is considered a bug, these workarounds shouldn't really be necessary.

[2022-10-27 19:18] cloudmelon opened #1143 "Remove preview tag for stack api .NET 7"
Remove preview tag for stack api .NET 7

Change from .NET 7 (non-LTS) (Preview)
to : .NET 7 (non-LTS)

Can you send a PR for the same here and I can take care of the rest - https://github.com/Azure/azure-functions-ux/tree/dev/server/src/stacks

Thanks

[2022-10-27 19:38] surgupta-msft commented on #1036
Had discussion with @fabiocav and @kshyju about it. I have clarity on the flow and changes need to be done here.

[2022-10-27 20:19] fabiocav commented on #1036
Initial design completed. @surgupta-msft  to share details here. Will have an issue tracking the implementation linked here as well.

[2022-10-27 20:24] jviau commented on #1121
For completeness of the design discussion, have we considered this alternative: instead of introducing the new contract, let the binding attribute implement `IInputConverter` itself and we will test for that contract and use it if present.

[2022-10-27 20:41] satvu commented on #1060
Discussed in design meeting earlier this month - will start implementing it this sprint.

[2022-10-27 21:08] surgupta-msft opened #1144 "Implement analyzer to validate what types are supported by extensions"
Implement the analyzer which validates what types are supported by the extensions.

Related design issue - https://github.com/Azure/azure-functions-dotnet-worker/issues/1036

Design doc - [Link](https://dev.azure.com/msazure/One/_git/AAPT-Antares-Docs?version=GBmaster&path=/TeamDocs/FunctionTeamDocs/Design/OOPWorkers/SdkTypeBindings/ConverterTypesValidationAnalyzer.md)

[2022-10-27 21:10] surgupta-msft commented on #1036
Issue tracking implementation of this design - https://github.com/Azure/azure-functions-dotnet-worker/issues/1144

[2022-10-28 04:02] #1133 closed

[2022-10-28 14:13] kamyker commented on #1143
Still in preview, linux net7 app doesn't even work.

[2022-10-28 14:26] kamyker opened #1145 "Net 7 sample doesn't work on linux"
Created linux function app net 7 in US West Azure and uploaded (using func cli) sample project from this repo.

It simply doesn't work, returns 503. Works after changing target to net6.0.

Was it even tested on linux?

Response I get:
[code]

[2022-10-28 20:10] #1036 closed

[2022-10-30 15:21] victormarante commented on #1098
As I see we have two options:
1. Regex/string comparison for .NET from the property value, or use default value of .NET (if no match is found)
2. Hardcode to .NET if we always want to use that.

Substring can be dangerous if the framework description changes (which is unlikely); on the other side, if it is unlikely to change, we might as well hardcode (or put default value on property value, unsur

[2022-11-01 16:48] cloudmelon commented on #1143
Hi @kamyker , would you let me know what is your use case ? Which version of .NET 7 that you were using ? ( e.g. previews or RC1 ? ) to which region ? Would appreciate your further details. Thanks :)

cc @kshyju

[2022-11-01 17:45] #1102 closed

[2022-11-01 23:38] kamyker commented on #1143
Hi cloud, Net7 RC2, US West 1.

[2022-11-02 10:14] LockTar commented on #936
@kshyju I think @Alan-Hinton is correct. Why isn't it possible to use a `void` or `Task` as return type?

I've updated @Alan-Hinton sample project with extra test functions (see below) and all seem to work except `void` and `Task`.

So `HttpResponseData` is mandatory as return type if you don't have your own?

[code]

[2022-11-02 15:39] kshyju commented on #936
@LockTar Can you open a new issue so we can discuss the current design and future plans there?

[2022-11-02 15:46] kshyju commented on #989
![net-framework-isolated-dropdown](https://user-images.githubusercontent.com/144469/199535503-24cf50f3-0a07-4d8b-86c8-c97d4ab10384.png)

 **I MEANT THIS** ^ @MMThornberg

[2022-11-02 15:51] MMThornberg commented on #989
Oh now it's a lot better, thx @kshyju ! 🙌

[2022-11-02 17:54] #1060 closed

[2022-11-02 18:43] kshyju commented on #1134
We need an update [here](https://github.com/Azure/azure-functions-tooling-feed/blob/main/cli-feed-v4.json#L10119)

[2022-11-02 18:53] #1139 closed

[2022-11-02 19:38] kshyju commented on #1145
@kamyker I was able to deploy the sample app to a Linux consumption app in west us region successfully and validated my http trigger function works fine.

Keep in mind that the sample has an eventhub trigger which requires the eventhub connection string to be set in azure. For my testing. I commented out that function so my payload was only a net7 function app with http trigger.

If you are still

[2022-11-02 20:11] kamyker commented on #1145
I also removed the eventhub method. I moved to kubernetes in oracle instead of azure functions, I don't want to waste any more time but thanks for the help.

[2022-11-02 20:11] #1145 closed

[2022-11-02 20:17] kashimiz commented on #1116
This issue is dependent on the design resulting from https://github.com/Azure/azure-functions-host/issues/8273

[2022-11-03 09:05] yugyesh opened #1149 "WriteAsJsonAsync dosen't writes when instance is JObject"
- When writing any JObject as a HttpResponseData, **the response shows keys however the values are presented as empty array.**
[code]
- The response looks like this
[code]

- It responses okay when instance is of type JsonObject

[2022-11-03 11:25] source-studio commented on #1123
Just to add to the conversation - the method I used to solve this problem was to manually configure the default Application Insights log level [via code](https://learn.microsoft.com/en-us/azure/azure-monitor/app/ilogger#create-filter-rules-in-code), rather than using an external settings file, which ultimately provided quite a clean solution.

For example, to change the default log level to `Infor

[2022-11-03 19:49] LockTar opened #1151 "Exception handling middleware not behaving as expected for void or Task return types"
Hi @kshyju,

This is a following up issue for #936.

My last [comment](https://github.com/Azure/azure-functions-dotnet-worker/issues/936#issuecomment-1299986813) indicates that the issue is not fully resolved.
In my and @Alan-Hinton opinion the problem is still there for a `Task` and `void` return type.

See the [same application](https://github.com/resgroup/azure-functions-middleware-status-code)

[2022-11-04 18:23] jviau opened #1154 "Anonymous type generation in function metadata generator can conflict with reserved C# keywords"
Repro steps:

1. Go to samples/Extensions/Extensions.csproj
2. Upgrade `Microsoft.Azure.Functions.Worker.Sdk` to `1.8.0-preview2`
3. Restore and build

Expected results:
Compiles without errors, source file is generated.

Actual results:
Build error:

The reason is that we are generating anonymous types for the extension bindings, and one of them has a property name "event", which when generated a

[2022-11-04 18:27] satvu opened #1155 "Add MSBuild Property to disable/enable function metadata source generator"
Add additional feature to enable/disable source generator in the case an app is caught by edge case (or other) failure in the generated file. (see #1154)

[2022-11-07 00:10] knightfall commented on #366
bump :(

[2022-11-07 00:42] razfriman commented on #366
Sorry Microsoft, it's been 1.5 years....

**Easy solution: switch to AWS Lambda or Google Cloud Run Functions.**

Been working like a charm for me.. 🚀

[2022-11-07 17:56] StargazerNC commented on #685
I have this issue also, isolated mode, version 4, .NET 6. I have an issue of using a POCO or using EventGridEvent as suggested by @kshyju .
`   [Function(nameof(Processor))]
        [EventGridOutput(TopicEndpointUri = "EventGridTopic", TopicKeySetting = "EventGridKey")]
        public async Task<EventGridEvent> Run([ServiceBusTrigger("%QueueName%", Connection = "ServiceBus-ConnectionString")] Sign

[2022-11-07 20:53] liliankasem opened #1156 "Ensure collection support works for blob storage input bindings"
With the introduction of deferred binding via using ParameterBindingData/ModelBindingData to enable SDK-type bindings such as BlobClient in the worker, we need to make sure we also support the collection scenario. Meaning, we should be able to bind to `IEnumerable<BlobClient> blobs`.

Example:

[code]

Investigate if this works out of the box with the blob converter we have in place today. If this

[2022-11-08 11:25] gregbrant2 opened #1157 "SignalROutput not working locally"
I have a Function App using the `dotnet-isolated` model and I get an error when I try to return a `SignalRMessageAction` from a function with a `SignalROutput` binding.

I've taken an example from [this samples file](https://github.com/Azure/azure-functions-dotnet-worker/blob/b42a2a57eb1be1e7741219f0a091e3408d30bdf5/samples/Extensions/SignalR/SignalROutputBindingFunctions.cs) and simplified it sli

[2022-11-08 16:02] #1146 closed

[2022-11-08 20:30] mattchenderson commented on #1118
@brettsam let's please treat this with priority. I'll follow up with you.

[2022-11-08 21:45] kshyju commented on #1157
@Y-Sindo Could you take a look please?

[2022-11-08 22:10] kshyju commented on #1118
@jmrtnz94 Could you share the steps to reproduce the error you are seeing? I was able to successfully add a reference to Microsoft.Azure.Functions.Worker.Extensions.Storage.Tables package to my .net 6 V4 function app without any build errors. Used VS 2022 17.4.0.

[2022-11-08 22:13] kshyju commented on #1118
I also verified in Rider 2022.2.3. Works fine for me.

<img width="590" alt="image" src="https://user-images.githubusercontent.com/144469/200686736-0cf642b1-7ac1-4756-876a-e3d32785a70e.png">

@jmrtnz94  If you are still having issues, can you share a minimal repro app, so that we can take a look ? Link to a GitHub repo would be great.

[2022-11-08 23:13] jviau opened #1158 "FunctionMetadataProviderGenerator: Use project namespace for generated IFunctionMetadataProvider"
Today `FunctionMetadataProviderGenerator` will always emit the `IFunctionMetadataProvider` as a public class with the same namespace and name: `Microsoft.Azure.Functions.Worker.GeneratedFunctionMetadataProvider`. This can lead to ambiguous type references when multiple projects, or even NuGet packages, in the same solution use the generator.

To address this, we should use the assembly namespace o

[2022-11-08 23:50] jviau opened #1159 "Allow for multiple IFunctionMetadataProvider implementations"
# Overview

To enable functions being exposed from referenced assemblies - via the source generator or otherwise - we should expand the `IFunctionMetadataProvider` contract to allow for multiple implementations. Right now, it is assumed only one of them is registered to DI, limiting the ability to provide additional function metadata.

# Use Cases

## Functions from multiple projects

Customers ma

[2022-11-09 00:23] jviau opened #1160 "Generate function metadata for functions from dependent assemblies"
# Overview

There is currently a gap with function metadata generator and the existing `function.metadata` approach with functions from dependent assemblies. The `function.metadata` approach will include functions from referenced projects/assemblies, whereas the source generator will not. To achieve behavior parity between the two methods, we need to generate function metadata for referenced assem

[2022-11-09 00:31] jviau opened #1161 "Auto-register GeneratedFunctionMetadataProvider"
Today the generated provider needs to be manually added to the host builder. We should use `WorkerExtensionStartup` to automatically make this registration call for the user. Additionally, this behavior should be configurable by the user via MSBuild property. Something along the lines of `<GeneratedFunctionMetadataProvider_AutoRegister>true|false</GeneratedFunctionMetadataProvider_AutoRegister>` w

[2022-11-09 13:42] stevelknievel76 commented on #1123
I have the same issue.  After applying the hack provided by @jviau the default has become Information with no way to override.  Could you explain exactly how the above fixes this?  Maybe I didn't understand fully how to combine the 2.  I have the following:

[code]

[2022-11-09 14:47] jmrtnz94 commented on #1118
I'm still having the same issue.

REPO: https://github.com/jmrtnz94/function-table-storage-issue
Application: https://github.com/jmrtnz94/function-table-storage-issue/tree/main/TableStorageIssueIsolated

I believe its something with the TableOutput binding attribute, cause when I remove it from my Function it builds successfully.
https://github.com/jmrtnz94/function-table-storage-issue/blob/main/T

[2022-11-09 16:28] xaviergxf opened #1162 "How to obtain EventHubTrigger information?"
Is this information available somewhere, like FunctionContext? How can i obtain the eventHubName, consumer group ?

[2022-11-09 19:04] mattchenderson commented on #1118
@kshyju I can show you an active repro

[2022-11-09 19:16] fabiocav commented on #1110
@brettsam I believe the issue here is with the visibility of the logs from host services and difference in behavior difference between the two services mentioned above for the same level.

@jviau also pointed out a key difference between how those two services are logging is the category they're using, which is likely what is causing the issue.

`FunctionsSyncManager` uses the category deriving fr

[2022-11-09 19:42] fabiocav commented on #1151
Assigning @kshyju for follow up questions/investigation.

[2022-11-09 20:00] fabiocav commented on #1162
@xaviergxf can you expand on your ask here? What type are you trying to inspect? What is your scenario?

[2022-11-09 20:51] #1101 closed

[2022-11-09 21:13] fabiocav commented on #1013
Investigation here is done. Validation on different approaches is in progress and concrete work items will be opened as needed.

[2022-11-09 21:13] #1013 closed

[2022-11-09 21:23] fabiocav commented on #1143
Closing as completed.

[2022-11-09 21:23] #1143 closed

[2022-11-09 21:29] jmrtnz94 commented on #884
I ran into this issue recently. Same scenario, we were migrating our Function App from in-process to isolated (also hosted in AKS).

With Microsoft intending to move towards Isolated Function apps (https://techcommunity.microsoft.com/t5/apps-on-azure-blog/net-on-azure-functions-roadmap/ba-p/2197916). I'd say this should be pretty high in priority.

[2022-11-09 21:42] fabiocav opened #1164 "V1 Queue/service bus sample"

[2022-11-09 21:43] fabiocav opened #1165 "HTTP"

[2022-11-09 21:43] fabiocav opened #1166 "Timer"

[2022-11-09 21:43] fabiocav opened #1167 "Event Hub V1 sample"

[2022-11-09 21:44] fabiocav opened #1168 "V1 Cosmos DB migration samples"

[2022-11-09 21:44] fabiocav opened #1169 "V1 Table binding samples"

[2022-11-09 21:45] fabiocav commented on #1165
The HTTP sample has been completed. Closing as done.

[2022-11-09 21:45] #1165 closed

[2022-11-10 02:54] madelinegordon commented on #1118
Released [https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker.Extensions.Tables/1.0.0-preview1](https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker.Extensions.Tables/1.0.0-preview1) - looking to validate before releasing the GA tomorrow!

[2022-11-10 06:04] wkosten1982 commented on #884
The filename is part of the queue message and  can be tested with azurite yes!

[2022-11-10 06:29] dylanh724 opened #1170 "Azure permissions for guest accounts?"
In the [general Azure - not PlayFab] tutorial I was provided:

https://learn.microsoft.com/en-us/azure/role-based-access-control/quickstart-assign-role-user-portal

The Guest is assigned a `Virtual Machine Operator` role. However, this isn't enough to create a Function:

![image](https://user-images.githubusercontent.com/8840024/201016773-807a8f7c-c3f5-42e7-875d-4ea10f301f68.png)

The errors hint

[2022-11-10 07:18] xaviergxf commented on #1162
I have several functions inside the same project that uses the same logic. Each function listens to events on a particular Event Hub. This logic is based on the name of the Event Hub (naming convention).
I need to retrieve the name of the event hub to be able to do that.

I understand the team is trying to abstract different trigger/output complexities on Azure Function, but nevertheless, in some

[2022-11-10 07:23] xaviergxf commented on #525
How about the message key as binary?
Please Az Function team, don't forget about other types of serialization and high-performance scenarios (span, etc) that this approach does not allow.

[2022-11-10 08:06] #506 closed

[2022-11-10 08:12] Y-Sindo commented on #1157
Confirmed it as a bug, will fix it in the next release.

[2022-11-10 11:15] dylanh724 commented on #1170
I tried to raise an Azure ticket regarding this as well, but interestingly enough, I don't have permission to inquire about permissions.

[2022-11-10 13:56] HariKrishna598 opened #1171 "Debugging Not Working on .NET 4.8 Isolated Azure Functions Project both in VS 2022 and VS Code IDEs"
**Steps to Reproduce**:
1. Created the .NET 4.8 V4 Isolated Azure Functions Project - basic Http Trigger
2. without debugging working fine from VS IDE but not from VS 2022
![2022-11-10 18_51_37-](https://user-images.githubusercontent.com/88704316/201110108-94701f9b-020d-4750-a999-b33c46595f81.png)

4. Running the function with debugging is not working - debugger points are not hitting the code.

F

[2022-11-10 14:37] rtellez91 opened #1172 "Model binding in Http triggers"
Hi!

I wonder if there is any way to make the HttpTrigger to automatically bind a model. With in process it was possible, but with this new way I wasn't able to.

I also had a Custom Binding for binding a specific model class, but now it seems that I need to do a lot of stuff for making it work again.

So the work around for now is manually call the extension method `req.ReadFromJsonAsync` if I ne

[2022-11-10 16:24] kshyju commented on #1171
@HariKrishna598 Can you confirm you have the latest version of Visual studio? [17.4.0 is the latest as of today](https://devblogs.microsoft.com/visualstudio/visual-studio-2022-17-4/).

Also what is the [core-tools](https://learn.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=v4%2Cwindows%2Ccsharp%2Cportal%2Cbash) version you have in your machine?

[2022-11-11 00:02] HariKrishna598 commented on #1171
VS 2022 Version 17.4.0, 64-bit
AF Core Tools Version 4

[2022-11-11 00:35] kshyju commented on #1171
Just to confirm, do you have the latest worker packages? [In this issue](https://github.com/Azure/azure-functions-dotnet-worker/issues/1045#issuecomment-1252290057), that fixed a similar issue for you.

[2022-11-11 00:42] #1118 closed

[2022-11-11 01:03] madelinegordon opened #1174 "Create tests for extensions"
Creating this item to track creating tests for the extensions, to prevent mistakes like [incorrect package references](https://github.com/Azure/azure-functions-dotnet-worker/issues/1118#issuecomment-1292528050) from occurring.

[2022-11-11 06:43] AlexEngblom commented on #767
Where is this going at, any news on possible GA date?

[2022-11-11 06:44] HariKrishna598 commented on #1171
[code]

This is my `.csproj` in .NET 48 v4 Azure Functions Project

[2022-11-11 08:08] CasperWSchmidt commented on #1112
I've added the feature request [here](https://github.com/Azure/azure-functions-host/issues/8903)

[2022-11-11 15:58] im-yholota commented on #1067
@brettsam Does that mean that currently you cannot attach a processor or initializer for telemetry from an isolated process during startup?

[2022-11-11 16:37] kshyju commented on #1171
I suspect your visual studio instance failed to refresh the azure functions tools automatically. You can manually do this refresh by following the instructions [here](https://github.com/Azure/azure-functions-dotnet-worker/issues/989#issuecomment-1283018013). Let us know if that solves your problem.

[2022-11-11 17:18] cgillum commented on #767
Adding @jviau and @lilyjma.

The current plan is to release another preview before the end of the year, followed by GA early next year. It's taking a bit longer than originally planned because we decided to do some significant refactoring to align this SDK with the patterns used in the broader .NET ecosystem.

[2022-11-11 17:31] inmindtechnologies commented on #767
We were expecting this to be ready before the December 3 deadline. It means our Azure Functions (currently on .NET Core 3.1) won't have any security patches after that date. The only option we have would be to first migrate them on Azure Functions 4 using .NET 6 and the in-Process model, but it means that should plan a second migration when .NET 7 isolated is released.

We don't mind waiting until

[2022-11-11 18:59] madelinegordon commented on #1118
Have the GA version released now. https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker.Extensions.Tables/1.0.0

[2022-11-12 02:31] HariKrishna598 commented on #1171
After manually updating the Azure Functions by following the instructions in above link, it worked (both debugging and running).

1. Do we need to update it manually every time when it fails (What is the root cause of failing the automatic update in VS IDE)?
2. What about the debugging fix in VS Code for the same issue?

[2022-11-12 07:13] emiledawalibi commented on #293
Would be very interested in an update on this given .NET 7 has now gone GA with v4 isolated. Being able to bind 'ServiceBusReceivedMessage' and 'ServiceBusMessageActions' on the ServiceBusTrigger (along with the App Insights issues) are the only things stopping me from migrating to isolated.

[2022-11-14 06:33] ranjeetkpGit opened #1176 "Can we get Message and MessageReceiver objects in isolated functions"
Hi,
I understand, we don't have 'Message' and 'MessageReceiver' object in isolated functions.
Is there any way we can extract 'Message' and 'MessageReceiver' objects  from FunctionContext?

[Function("Function1")]
public async Task ProcessMessageAsync(
            [ServiceBusTrigger("test-topic", "test-subscription",
                Connection = "ServiceBusConnection")]
            string message,

[2022-11-14 15:16] BenjaBobs commented on #1119
When will the new image be released?

[2022-11-14 15:21] Greybird opened #1177 "[Feedback] Custom trigger and isolated worker mode"
Hi,

Following .NET 7 release, which included removal of support for in-process function execution model, I'd like to share how I tried to adhere to the isolated worker approach for my custom trigger, and issues I faced.

I'm doing it in Issues as Dicussions space is not open.

## Context

### MassTransit
In my company, we are heavy users of the [MassTransit](https://github.com/MassTransit/MassTra

[2022-11-14 16:42] ChrisIsidora commented on #1119
@CooperLink any idea when the new images will be released?

[2022-11-14 17:04] SeanFeldman commented on #1177
Unfortunately, [that post](https://techcommunity.microsoft.com/t5/apps-on-azure-blog/net-on-azure-functions-roadmap/ba-p/2197916) hasn't aged well. There was an [update](https://techcommunity.microsoft.com/t5/apps-on-azure-blog/net-on-azure-functions-roadmap-update/ba-p/3619066), which should have been more prominent and amplified, which stated:

With .NET 7 out, rephrased version would be "In-Pro

[2022-11-14 19:05] Greybird commented on #1177
Hi @SeanFeldman,

Thanks for your answer. It gives very interesting information, but I struggle to bring the pieces together.

When I use the Azure Functions project creation assistant in VS, I get no options for In-Process model for .NET 7:
![image](https://user-images.githubusercontent.com/8553578/201741362-c225fadc-5583-4888-8bc4-c75f27a60f70.png)

I also tried updating a .NET 6 functions proje

[2022-11-14 19:52] kshyju commented on #1098
Hi @fndejan 👋 Are you still interested in making this fix? If so, using regex might be a better approach as @victormarante suggested above.  Please take a look at the [RuntimeInformation.FrameworkDescription property documentation](https://learn.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.runtimeinformation.frameworkdescription?view=net-6.0) to get a sense of the output of that p

[2022-11-14 20:37] SeanFeldman commented on #1177
@Greybird, I suspect the tooling is lagging behind.
I'll let @satvu elaborate (she's from the team).

[2022-11-14 20:39] SeanFeldman commented on #1177
I take my words back. The tooling is updated and it's right there 🙂
<img width="431" alt="image" src="https://user-images.githubusercontent.com/1309622/201761018-d79b8db4-e8a0-4504-8e6e-aecf0600d45c.png">

Isolated Worker == Isolated

[2022-11-14 22:01] satvu commented on #1154
In #1131 the casing was standardized for the anonymous type that represents bindings and their properties. By using Pascal case for all of the anonymous type properties, we avoid conflicting with reserved C# keywords.

Other generated variable names also will not conflict since they are named using a name that is not a keyword + a number to keep count (ex. Function1, Function2, Function1Binding1).

[2022-11-14 22:01] #1154 closed

[2022-11-14 23:13] wkoeter opened #1179 "Cannot correlate operations/tracecontext over HTTP calls from Isolated Function"
## Context
For HTTP triggered functions, when providing a `traceparent` header, this is to be picked up.

Picking it up can be done using:
- Own implementation of an `IFunctionsWorkerMiddleware` that picks up `traceparent` from the `FunctionContext.TraceContext` property
- Use `Microsoft.Azure.Functions.Worker.ApplicationInsights`

The idea is that an `Activity` is started and tracked, and when `H

[2022-11-15 08:11] victormarante commented on #1176
Without knowing any details about _BindingData_ in general, I don't think this is a good approach. I think we should either:
1. Leave as is (i.e. you have to deserialize a primitive type (string in this case) to a service bus message or similar)
2. Work on allowing these types to be bound as part of the trigger definition.

Not sure what the team thinks on the topic, I know @kshyju has done some w

[2022-11-15 10:47] #1179 closed

[2022-11-15 13:08] BenjaBobs commented on #1119
For anyone finding this, here's the work around my team is using, for installing .NET 7 in our Dockerfile:
[code]

[2022-11-15 19:00] phenning commented on #1134
confirming: "Standard Support" as added will result in the proper substitution in the Visual Studio UI for other languages. "(Standard Support)" is what would be shown in the UI. Alternatively, we also support "Standard Term Support" or "STS" in the description, both of these values would also be changed to "(Standard Support)" in the UI.

[2022-11-15 19:04] phenning commented on #1134
Also, everything else you said there @cloudmelon is 100% the current implementation in 17.4 GA and beyond

[2022-11-15 21:12] lgmorand commented on #1177
From [the documentation](https://learn.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-guide#supported-versions), .Net 7 is **not** supported for in-process functions so it may not be just an issue of "tooling" behind because I would expect a "preview" or something. I didn't find anything telling that in-process would "disappear" with .Net 7.0 either, just announcements of the ne

[2022-11-15 22:55] SeanFeldman commented on #1177
With .NET 7 not being an LTS, I see how the decision could have been to skip the investment and focus on bringing parity as a priority work for .NET 8 (LTS). That's what I _think_ the diagram in the  [update post](https://techcommunity.microsoft.com/t5/apps-on-azure-blog/net-on-azure-functions-roadmap-update/ba-p/3619066) is depicting.

![image](https://user-images.githubusercontent.com/1309622/20

[2022-11-16 02:35] ProgrammerAl opened #1181 "Isolated Worker project won't run after upgrading to .NET 7"
I have a Linux consumption-based Azure Functions Isolated project that does not start in Azure after upgrading it from .NET 6 to 7. It works locally, but once it's deployed to Azure I only receive 502 Bad Gateway responses. And no matter how many requests I send, Application Insights says no requests have been received. It's hard to diagnose because I don't get anything out of the system, no log m

[2022-11-16 08:14] MarcoMedrano commented on #1181
I have the same issue, it is fixed temporally by:
windows: `az functionapp config set --net-framework-version v7.0 -g groupName -n functionName`
linux: `az functionapp config set --linux-fx-version 'DOTNET-ISOLATED"|"7' -g groupName -n functionName`

But after some minutes, same issue. Apparently, new Windows instances use .net 6 instead of 7 and Linux .net framework 4.

[2022-11-16 14:58] LockTar opened #1182 "How to get AppInsights working in .NET 7 Functions v4"
Hi,

Sorry for the new issue but I think this will bring a lot of open issues together to a final solution in a [sample repository](https://github.com/devops-circle/AzureFunctionIsolatedLoggingTest).
Hopefully we can make something default/officially/easier for new people because it took me a long time to figure everything out.

- This setup is ugly but solves AppInsights logging in Azure Function

[2022-11-16 15:02] SeanFeldman commented on #1182
@LockTar, is that repo public?

[2022-11-16 15:12] LockTar commented on #1182
Oeps! Forgot to change that. It's public now

[2022-11-16 15:48] LockTar commented on #1182
@SeanFeldman
Basically it results in the following:
1. Add the 2 new lines of the preview package
2. Remove the warning and above logger
3. Use `appsettings.json` as configuration file
4. Configure logging from `appsettings.json`
5. **Optional** setup DI for testing injected classes with `ILogger<T>`

**Program.cs**
[code]

Add `appsettings.json` file with settings `Build Action: Content` and `Cop

[2022-11-16 19:10] fabiocav commented on #1170
@dylanh724 since this is outside of the scope of Azure Functions, this team maintaining this repo wouldn't have the information needed to provide assistance with this issue. Can you clarify what subscription you're using? Do you have the ability to engage the subscription owner to create that support request on your behalf?

[2022-11-16 19:14] fabiocav commented on #1170
Based on what you're describing above, it does look like PlayFab would be the right group to engage. They should also be able to confirm whether Azure Functions resources are supported in those subscriptions.

[2022-11-16 19:26] jviau commented on #1170
@dylanh724 - to address the question of what permissions are needed for "guest accounts" - the answer is **a lot**. Far more than what would entail being a "guest" account. The first error from your screenshot is the ability to register `Microsoft.Web` to the subscription itself. This is a very broad permission that affects far more than just functions. The other errors you have in that screenshot

[2022-11-16 19:26] fabiocav commented on #1181
@ProgrammerAl could you please share the application details so we can take a closer look at the issue?

[2022-11-16 19:29] ProgrammerAl commented on #1181
@fabiocav What kind of details are you looking for? This is a proprietary application, so I don't have an open source version I can share with you. And it'll take some time to create a minimal version of this application that reproduces this issue.

[2022-11-16 19:29] jviau commented on #1182
@LockTar thank you for summarizing all of this for others to reference. Glad you were able to get it working. Was the `logging.AddConfiguration(hostingContext.Configuration.GetSection("Logging"));` call what we were ultimately missing in the previous discussions? If so, I wonder if the `Logging:ApplicationInsights:LogLevel:Default = Information` would actually work with that? This would replace th

[2022-11-16 19:31] fabiocav commented on #1176
@ranjeetkpGit some of those capabilities are coming in for a number of extensions, but Service Bus is not yet one of those as it requires some additional enhancements to the underlying extension and SDKs due to the nature of the trigger.

So the short answer to this, today, is that it isn't supported, but although I don't have an ETA I can share for Service Bus, it is something we're actively work

[2022-11-16 19:32] fabiocav commented on #1176
Closing as answered, but please let us know if you need any additional information.

You can follow the issue tracking the binding enhancements here: https://github.com/Azure/azure-functions-dotnet-worker/issues/1081

[2022-11-16 19:32] #1176 closed

[2022-11-16 19:36] fabiocav commented on #1172
Flagging this for assignment as we should support this scenario with HTTP.

[2022-11-16 19:38] fabiocav commented on #1181
@ProgrammerAl just the application name so we can look at the resource logs and configuration. No need to share any code.

[2022-11-16 19:44] ProgrammerAl commented on #1181
@fabiocav Ah sorry, that makes a lot more sense. I just re-created my entire Azure infrastructure a few minutes ago with my CI/CD pipeline and the Azure Function App is named `services-monitors-funcs97c05cae`

[2022-11-17 00:09] dylanh724 commented on #1170
This is exactly how I feel. However, I am sent on this wild goose chase where "Azure PF" staff says to contact Azure and Azure staff says to contact PF. No one wants to take responsibility.

I agree with everything you both said - it should be PFs responsibility. However, as it even has the word Azure in the name, it's Azure's responsibility to enforce them being responsible for this and train the

[2022-11-17 11:39] LockTar commented on #1182
Just tested it for you.
If I **don't** set the [delete logger filter rule from you](https://github.com/Azure/azure-functions-dotnet-worker/issues/1123#issuecomment-1285854015) and change appsettings.json to:
[code]
Then I would see `Debug` messages as well. So, this would change the [default warning rule](https://github.com/microsoft/ApplicationInsights-dotnet/blob/main/NETCORE/src/Shared/Extensio

[2022-11-17 11:39] LockTar commented on #1182
Yes.
1. My console logging (localhost debugging) is missing completely. How can this be fixed... Is this related with #1090?
2. I/We want an official sample application or new VS2022 default project template with clear documentation on how to set logging. Now we have 3 places to set logging and it's unclear how everything is working. We have host.json, appsettings:Logging:LogLevel and appsettings:

[2022-11-17 18:24] jviau commented on #1182
For the log filters: `Logging:ApplicationInsights:LogLevel:Default = Error` and `Logging:LogLevel:Func.Isolated.Net7.With.AI.UserDataService = Trace` only showing `Error` in App Insights is behaving as expected. The first one is a provider specific filter, which takes precedence over the second filter you have. This reminds me why I have that filter removal 'hack' in my code and not the config app

[2022-11-17 19:37] LockTar commented on #1182
I understand that you don't want to make conflicts with the AppInsights packages. Otherwise, you will get mixed results in MS Azure services. But removing the Warning filter could be added to the project template in VS20xx. Maybe not enabled but in comment. Maybe with a link to the docs (that I can't find anywhere for Azure Functions...).

Thank you for the explanation. I understand that there are

[2022-11-17 22:00] MarcoMedrano commented on #1181
@fabiocav I have these functions if it is of any help:

facs-stg-BootService
facs-stg-UsersService
facs-stg-ProductService
facs-stg-FilesService
facs-stg-BolSiatService

![image](https://user-images.githubusercontent.com/2736856/202568202-ef7f43b0-e038-462c-a24e-61ad894846e1.png)

I notice that the first function is working fine, the others not matter how many times I set them to dotnet 7,  after

[2022-11-17 22:37] cloudmelon opened #1184 "Boolean check instead of string check"
I have seen a few reports of this error : MSB4113Specified condition "$(SelfContained)" evaluates to "" instead of a boolean. .nuget\packages\

http://microsoft.azure](https://t.co/dtzB51fs7d).functions.worker.sdk\1.7.0\build\

http://Microsoft.Azure](https://t.co/T5HtGGDmoo).Functions.Worker.Sdk.targets113

https://learn.microsoft.com/en-us/dotnet/core/deploying/#publish-self-contained

**Referen

[2022-11-18 00:06] ProgrammerAl commented on #1181
@fabiocav I made a mistake earlier today and accidentally deleted the instance of Azure Functions I mentioned in my previous reply. The new instance name is `services-monitors-funcs65ac36a7`

[2022-11-18 19:39] #1099 closed

[2022-11-18 19:49] satvu opened #1185 "[Source Gen] Analyzer to enforce relationship between Binding constructor parameter names and property names"
Related to #1113 and #1087, discussed in a previous design meeting.

While all current bindings follow the convention where constructor parameter names match property names ([EventHubs example](https://github.com/Azure/azure-functions-dotnet-worker/blob/main/extensions/Worker.Extensions.EventHubs/src/EventHubOutputAttribute.cs)), since source-generation relies on this convention explicitly now, we

[2022-11-21 19:20] satvu opened #1188 "[Source Gen] Refactor to create json strings directly instead of using anonymous type"
Instead of emitting anonymous types then serializing them into JSON (see [here](https://github.com/Azure/azure-functions-dotnet-worker/blob/c936ce7ed411612dfb88a892579ec98b977f6a6a/sdk/Sdk.Generators/FunctionMetadataProviderGenerator.Emitter.cs#L135)), create JSON strings from the start to improve performance.

[2022-11-21 19:29] satvu opened #1189 "[Source Gen] Add E2E Tests"
We need to run E2E tests for source-gen similar to the E2E App and testing suite. This is currently being done manually. Options:

1. Create another app that uses source-gen and worker-indexing based off of [existing E2E app](https://github.com/Azure/azure-functions-dotnet-worker/tree/main/test/E2ETests/E2EApps/E2EApp) and run the same test suite against it.
2. Investigate leveraging environment v

[2022-11-22 09:00] hbrotan commented on #293
Currently on .NET 7.0, and I need a way to explicitly move a message to the deadletter queue, which `IMessageReceiver` supports for in-process, but there seems to be no support for this for isolated functions.

@fabiocav What are the plans to support this for isolated functions? This issue is > 1.5 years old and I would really appreciate some communication from Microsoft on this matter. Moving to

[2022-11-22 15:26] aliqaryan2 commented on #293
in V4 all the required jobs can be done using these two input params:
[code]

[2022-11-22 16:45] y2kbugger commented on #835
@fabiocav  Is the problem here that the dotnet worker is not compiling using `dotnet watch` / `dotnet build` and instead accesses MSBuild directly?

[code]

And it almost seems like it's going to work just by running the usually `dotnet watch`

[code]

[2022-11-22 17:21] drew-fc commented on #1182
hi @LockTar ,

Thank you so much for putting this together.
I have integrated your changes into my project, but the result I am getting is that nothing is printed at all to the terminal during debugging sessions.
Previously, I was only getting  Information and above to print.
I have downloaded your entire repo and tried to get your project to work, but it fails on host.Run() when it starts. The er

[2022-11-22 17:57] amilochau commented on #1004
Do we have any update on this issue? It would be a great improvement to enforce better security in my organization.

[2022-11-22 19:13] LockTar commented on #1182
@drew-fc

Your welcome.

I have exactly the same problem. See above [comment 1](https://github.com/Azure/azure-functions-dotnet-worker/issues/1182#issuecomment-1318508916) and [comment 2](https://github.com/Azure/azure-functions-dotnet-worker/issues/1182#issuecomment-1319111302) about this. I think this is related with #1090.

I never use Visual Studio Code with Azure Functions so I don't know if

[2022-11-22 20:08] SeanFeldman commented on #293
@aliqaryan2 those are *In-Process* SDK. This repo/issue is about *Isolated Worker* SDK.

If it was that trivial, there's be no that many comments 🙂

[2022-11-22 23:03] #1166 closed

[2022-11-23 02:17] marcelgrilo commented on #1118
Why this new version dont store multiple row items?

In the old version Microsoft.Azure.Functions.Worker.Extensions.Storage  4.0.4 i had a return type of MyObject[] or IEnumerable<MyObject> and the function created multiple rows in the output talbe,

now, it returns me an error
System.Private.CoreLib: Exception while executing function: Functions.TimeTriggerTest. Microsoft.Azure.WebJobs.Extensions

[2022-11-23 08:53] thopdev opened #1192 "'ApplicationPartAttribute' does not exists in the namespace 'Microsoft.AspNetCore.MvC.ApplicationParts'"
Upgrade from .NET 6 v4 in-process to .NET 7 v4 isolated breaks our build with the following errors:
The type or namespace name 'ApplicationPartAttribute' does not exist in the namespace 'Microsoft.AspNetCore.Mvc.ApplicationParts' (are you missing an assembly reference?)
The type or namespace name 'ApplicationPartAttributeAttribute' does not exist in the namespace 'Microsoft.AspNetCore.Mvc.Applicat

[2022-11-23 16:19] Ofer-Gal opened #1193 "There is no Functions runtime available that matches the version specified in the project."
I am testing the sample from https://github.com/Azure/azure-functions-dotnet-worker/tree/main/samples/Net7Worker in VS2022 Version 17.4.1
When I try to debug locally, I get the message
![image](https://user-images.githubusercontent.com/5054931/203596080-b3bcc8a8-e742-4f1e-a112-0b3541c7163d.png)

I already installed 3 packages:
winget install Microsoft.DotNet.SDK.7
winget install Microsoft.DotNet.R

[2022-11-23 17:36] jviau commented on #1192
This is a known breaking change from switching from in-proc to isolated: the transitive references our packages bring in have significantly changed. You will need to manually add the now-missing package reference back in.

Although, isolated no longer relies on AspNetCore for HTTP triggers, so be aware that some functionality you depended on may no longer be present in isolated.

[2022-11-23 18:34] kshyju commented on #1193
I suspect your visual studio instance failed to refresh the azure functions tools automatically. You can manually do this refresh by following the instructions [here](https://github.com/Azure/azure-functions-dotnet-worker/issues/989#issuecomment-1283018013). Let us know if that solves your problem.

[2022-11-23 19:42] #994 closed

[2022-11-23 20:33] surgupta-msft opened #1194 "Throughput calculation for sdk type bindings"
Setup scenarios and run tests to evaluate throughput changes with sdk type bindings.

Related broader issue - https://github.com/Azure/azure-functions-host/issues/8618

[2022-11-23 20:49] surgupta-msft commented on #1156
Update:

Changes done in feature branches -
1. Blob Extensions - [sdk-bindings/collection-support](https://github.com/surgupta-msft/azure-sdk-for-net/pull/1)
2. Host - [sdk-bindings/collection-support-host](https://github.com/Azure/azure-functions-host/tree/sdk-bindings/collection-support-host)
3. Dotnet Worker - [sdk-bindings/collection-support](https://github.com/Azure/azure-functions-dotnet-wor

[2022-11-23 21:09] fabiocav commented on #1164
Closing as done.

[2022-11-23 21:09] #1164 closed

[2022-11-23 21:09] fabiocav commented on #1156
Work here is close to completion. Moving to sprint 135 so we can iterate on PRs

[2022-11-23 21:26] fabiocav commented on #1093
Adding this to sprint 135 as a stretch goal.

[2022-11-23 23:15] madelinegordon opened #1195 "Create separate release pipeline in DevOps for Tables worker extension"
The Tables worker extension no longer lives under Storage.Tables, so we need a separate pipeline for release of the Tables extension to reflect this change.

current pipeline that releases Tables extension in addition to Blob and Queue: [Storage extension pipeline](https://azfunc.visualstudio.com/Azure%20Functions/_release?_a=releases&view=mine&definitionId=60)

Ask = separate out Tables into its

[2022-11-24 00:02] bhugot opened #1196 "[TestServer] Isolated and Integration Testing"
Hello,
In order to do integration testing with our Azure Function we use some code like this as we are in in-Process (not isolated) mode :
[code]
and from jobs we use CallAsync to execute a function.

It would be great to be able to do some thing close to this or even simpler for Isolated function.
I m not sure where the change could be done but from what I see it could be done with a custom IWork

[2022-11-24 00:22] SeanFeldman commented on #1196
I'm confused, @bhugot. Isn't Isolated and Out of Process the same SDK?

[2022-11-24 00:24] bhugot commented on #1196
Yes sorry forgot to change it. I fixed original message

[2022-11-24 08:01] lwyj123 commented on #304
any updates? currently the old azure function 3.x is being deprecated. We need a mock solution for FunctionContext

[2022-11-24 22:04] thomasgauvin commented on #989
Thanks @kshyju! This fixed it!

[2022-11-25 09:39] javissimo opened #1197 "Unable to start project after upgrade to .NET 7"
This issue was originally opened here https://github.com/Azure/azure-webjobs-sdk/issues/2934

#### Repro steps

1. Upgrade solution to .NET 7

2. Start the application

#### Expected behavior

Application starts successfully.

#### Actual behavior

`Could not load file or assembly 'Microsoft.Extensions.Configuration.Abstractions, Version=7.0.0.0`

![image](https://user-images.githubusercontent.com

[2022-11-25 09:46] Mech0z commented on #423
We are using the new preview package in https://github.com/Energinet-DataHub/geh-charges/ configured here https://github.com/Energinet-DataHub/geh-charges/blob/main/source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/ChargesFunctionApp.cs with these packages https://github.com/Energinet-DataHub/geh-charges/blob/main/source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.F

[2022-11-25 10:15] thopdev commented on #1192
Thank you for the response @jviau.
I believe that we have all required packages installed. We have the following packages installed
Azure functions project
[code]
Lib package
[code]

The error message calls for Microsoft.AspNetCore.Mvc.ApplicationParts that should be part of the Microsoft.AspNetCore.Mvc.Core.

Would you know what package we should add?

[2022-11-25 14:30] macfilion opened #1198 "Upgrading from 4.3.0 to version 5.1.0 cause checkpointing error"
Hi

When upgrading from version 4.3.0 to 5.1.0 we noticed that the storage structure for the checkpointing and the ownership filed changed.

Ownership files are now store in the ownership folder and checkpointing files are now in the checkpoint folder instead of having all the files in the same directory.

With the version 5.1.0 the files for the ownership are created but not the checkpointing fil

[2022-11-25 16:28] kshyju commented on #1197
Just to confirm, Is this an isolated(out-of-process) function app or in-proc? .NET 7 support is only for isolated model.

[2022-11-25 16:31] kshyju commented on #1198
What package did you upgrade from 4.30 to 5.1.0?

[2022-11-25 17:59] macfilion commented on #1198
Microsoft.Azure.Functions.Worker.Extensions.EventHubs

[2022-11-25 20:08] kshyju commented on #1151
I investigated this. Let me set the context here before I share my findings.

- **Working function:** Http trigger function's response type is `HttpResponseData` or `Task<HttpResponseData>`. End client gets 500 as status code for the http request which is what isolated function middleware code is setting as the status code.
- **Not working function:** Http trigger function's  response type is `Voi

[2022-11-25 20:09] kshyju commented on #1151
@LockTar The current behavior is by design. If we decide to change this behavior in the future, we will share an update.

[2022-11-25 21:18] SeanFeldman commented on #1182
Is there documentation by any chance to explain how the isolated worker functions work with logging, with some visualization? The sample @LockTar has put together is great, but I'd want to see this made into the official documentation. There are samples, and there are code snippets. There should be solid documentation to distill this down.

cc @fabiocav

[2022-11-26 05:28] SeanFeldman commented on #1182
I'm getting flooded with messages with the category `Azure.Core` at the `Information` log level despite configuring the default logging level to `Error` on both, `host.json` and `appsettings.json`. @LockTar, did you have to filter out that one?

[2022-11-28 07:35] Ofer-Gal commented on #1193
All good now

[2022-11-28 07:35] #1193 closed

[2022-11-28 15:54] gregbrant2 opened #1199 "Is it possible to load Functions from dependencies?"
[This blog post ](https://www.ericksegaar.com/2021/01/19/discover-precompiled-function-apps/)suggests it is possible to load functions from dependencies using `<FunctionsInDependencies>true</FunctionsInDependencies>` in the csproj fie, is this still true using Microsoft.Azure.Functions.Worker.Sdk v1.7.0 and isolated-process model?

[2022-11-28 19:39] jviau commented on #1192
I don't know exactly what package you need to add. Is it possible this type was not introduced until after `Microsoft.AspNetCore.Mvc.Core/2.2.5`? I know AspNetCore is not built to be referenced individually anymore, instead you are supposed to add a FrameworkReference for it:

[code]

However, I have no idea how this will interact with the functions runtime itself, so I won't be able to offer much

[2022-11-28 19:40] jviau commented on #1199
Yes, this is still possible. You can verify this by checking the `functions.metadata` file in your build output. You should see the functions from your referenced assemblies there.

[2022-11-28 22:12] drew-fc commented on #1182
hi all and @LockTar
I wanted to ask if anyone knows how to make use of the ILogger from any class in the entire Solution?
For Example, let's say I have some utility class used by my function that parses Json. I want that utility class to write to a log.
I can of course pass the ILogger into that class, but this becomes cumbersome.
I can also inject it with DI, but that also means every constructor

[2022-11-28 23:08] drew-fc commented on #1182
Basically my question is this: How do you get the ILogger that is created/setup in this example inside of Main?
I want to pass it to a static class for holding onto there so I can use a static Loger.Log() method..

[2022-11-28 23:36] Sebbs128 opened #1201 "Suggestion: Improve error message when a function lacks any input bindings"
Currently, if any function (method decorated with the `FunctionAttribute`) in the project is missing an input binding, running the project via `func host start` just displays

[code]

This gives the impression (to me at least) that _no_ bindings were found for any function, rather than an issue with any one specific function.

Could the error message be improved to list the function(s) the error i

[2022-11-29 11:19] LockTar commented on #1182
@SeanFeldman  Is there a simple overview to see all the messages of a category?
I see a lot of messages with category Host etc. (opened a few of them).

I think the `default` (is it with a capital or lower d?) level is doing something. I get mixed results. Can't really figure out what it is. We need Microsoft for this.

[2022-11-29 11:23] LockTar commented on #1182
@drew-fc please create new issues for this and remove your comments. This has nothing to do with Azure Functions and logging. This is C# DI. I think StackOverflow is a better place for this question.

[2022-11-29 13:31] SelviColba commented on #366
Same here

[2022-11-29 15:18] rellis-of-rhindleton commented on #1182
@drew-fc, if you try `host.Services.GetService<ILogger<SomeOtherType>>()` it might return an instance before host.Run(). It does for me.

Having said that, logging with the instance I get by doing that does not produce any visible log entries, at least not during local development. I'm wondering if that's because of how logging is handled under the hood in the functions runtime environment. The ho

[2022-11-29 15:47] drew-fc opened #1202 "how to remove the built in RenderOAuth2Redirect etc endpoints?"
when changing from in-proc to isolated, I noticed these new endpoints are auto generated.
How can I remove them?

RenderOAuth2Redirect
RenderOpenApiDocument, etc...

[2022-11-29 17:04] kshyju commented on #1202
Those route names looks like the one generated when you add [OpenAPI support](https://devkimchi.com/2021/08/13/azure-functions-openapi-on-net5/) to your function app.

Do you have a package reference to `Microsoft.Azure.Functions.Worker.Extensions.OpenApi` package in your .csproj file? If you remove that package reference entry, those routes will be removed. If that does not work, can you please s

[2022-11-29 19:08] mattchenderson commented on #1177
Just jumping in to confirm that Sean's interpretation is correct. .NET 7 is intentionally only supported in the isolated process model. There are notable differences between those models, and we are working on bringing them into alignment. This report may be highlighting some additional differences needing discussion - thanks very much for filing it! I need to discuss some of the details with the

[2022-11-30 08:35] Greybird commented on #1177
Thanks for this first feedbacks, I really appreciate the time and effort put into them, and am looking forward to receiving more information on the matter.

On a side note, I am under the impression that a new communication about the direction taken, and the current limitations and ongoing actions and their progress could be interesting for the community. Information seems to be available, but sub

[2022-11-30 09:58] LockTar commented on #1182
I think you are correct about everything. A lot is speculating so I'm not sure about everything. Hopefully Microsoft will bring some official documentation about this and a new project template. But there is not much response anymore about this...

[This](https://github.com/Azure/azure-functions-dotnet-worker/issues/1090#issuecomment-1279720996) should solve it (not tested it myself).

[2022-11-30 10:04] LockTar commented on #1151
Hi @kshyju Thank you for the explanation. Ok, it's by design but not really what you would expect. Hopefully it's documented that return type should not be `Task` or `void`.
Maybe this issue should be changed to a feature request?

[2022-11-30 10:15] girlpunk commented on #989
Trying the solution provided by kshyju, but the "Download & Update" button doesn't seem to work. Clicking "Check for updates" shows "There are toolset and template updates available" as expected, but trying to download changes that to "Azure Functions toolsets and templates are up to date". This is happening on both release (17.4.2) and preview (17.5.0 Preview 1.0) versions.

Is it possible to do

[2022-11-30 20:27] kshyju commented on #989
See [this](https://github.com/Azure/azure-functions-dotnet-worker/issues/1023#issuecomment-1240116591)

[2022-11-30 21:27] fabiocav commented on #1184
The ask here is to change the places where we're evaluating `SelfContained`, assuming it is a `bool` to perform a check against `true`/`false` instead.

[code]

[2022-11-30 21:32] brettsam commented on #1196
Some of this work was started about a year ago but was put on hold for various reasons -- we'll discuss bringing this back into active development.

https://github.com/Azure/azure-functions-dotnet-worker/issues/281

[2022-11-30 21:34] brettsam commented on #1196
We've just re-introduced the original issue into our planning for next Sprint. I'm going to close this one in favor of the older one. Thank you for bringing this back up.

[2022-11-30 21:34] #1196 closed

[2022-11-30 21:44] fabiocav commented on #1162
Thank you for sharing the context here.

Do you have a small sample of what you're trying to accomplish to make sure we clearly understand the use case?

Thanks!

[2022-11-30 21:49] fabiocav commented on #1174
The ask for this issue is to have a test that validates the the extension information attribute applied to an extension assembly points to a valid extension ID and version:

For example, the following should be validated:
https://github.com/Azure/azure-functions-dotnet-worker/blob/a8f64c27234b0e0c4048d5946ff6a8b7cc65d339/extensions/Worker.Extensions.Tables/src/Properties/AssemblyInfo.cs#L6

[2022-11-30 22:00] fabiocav commented on #1198
@JoshLove-msft can you please provide some feedback here?

[2022-11-30 22:10] drew-fc commented on #1182
thanks @rellis-of-rhindleton and @LockTar , I will delete my comments after this, but was hoping I could ask 2 quick questions?

1) using `host.Services.GetService<ILogger<SomeOtherType>>()` did work. I was trying it with just ILogger, which seemed available in the Services collection when I peaked into the hidden fields. Why did I need to specify a type when getting the service?

2) Why is it rec

[2022-11-30 22:21] rellis-of-rhindleton commented on #1182
@drew-fc

1. This is just how ILogger dependency injection is configured by default. There is no service registered as ILogger. You could register one yourself if you wanted.

2. Seems like everybdy squirms at having to inject a logger every time. I did too. Got used to it though. If you really hate it, you can look into something like Serilog, or just go ahead and assign a logger to a static inst

[2022-11-30 22:33] drew-fc commented on #1182
@rellis-of-rhindleton thanks for the fast reply.
So you're sayign that inside of ConfigureServices, I should do `serviceProvider.AddSingleton<ILogger,Logger<Genlog>>` so that later I can do 'host.Services.GetRequiredService<ILogger>()' to get that logger I registered?
I just tested it and it worked - but wanted to confirm understood what you were saying.
I can delete all my comments after this, ap

[2022-11-30 22:40] rellis-of-rhindleton commented on #1182
@drew-fc I *think* that should work. I don't see why it wouldn't but I haven't tried it.

I don't know what the default logging service registration is doing. But it knows "out of the box" how to provide an `ILogger<T>`. It just hasn't been set up to provide an `ILogger`.

This has digressed quite a bit from the issue at hand - we really need to get rid of all this when you're done :)

[2022-11-30 23:18] JoshLove-msft commented on #1198
This was fixed in 5.1.2 - https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md#512-2022-08-10

[2022-11-30 23:43] stevelknievel76 commented on #1182
@LockTar This thread has been very useful and enabled me to get my log levels working.  Thanks very much.  I have 1 outstanding issue though which I don't understand.  Apologies if I did something stupid, but would be grateful if you can shed some light on it.  Here is an example Invocation log:

![image](https://user-images.githubusercontent.com/117833649/204930041-939ac066-bd50-4533-b101-b633112